[2021-10-13 12:33] adrianreber commented on #1618
Podman supports one single pre-dump (only with runc, however). It is not possible to use multiple pre-dumps as CRIU can.

[2021-10-13 12:38] Avijit009 commented on #1618
That will work for me as of now.

Would you mind please refer me to the pre-dump phase documentation?

[2021-10-13 15:00] Avijit009 commented on #1618
Now occurs another problem.

server@server:~/Desktop$ sudo podman container restore -i /tmp/checkpoint.tar.gz
[sudo] password for server:
`Error: OCI runtime error: CRIU restoring failed -52.  Please check CRIU logfile /var/lib/containers/storage/overlay-containers/91d17481bb7005962974b76375c5ad1be424c4510dab6571187755c6517c109a/userdata/restore.log`

[2021-10-14 17:54] avagin commented on #1625
could you try to run criu restore with  -v0 ...?

[2021-10-15 01:40] huangyabin001 commented on #1625
ok,i'll try to restorre with -v0.and feedback later.thanks,avagin;

[2021-10-19 08:24] Snorch commented on #232
Imagine this process tree:

[code]

Then we enter dumpeeA pidns from other shell:

[code]

And then dumpeeB dies and dumpeeC reparents to dumpeeA (pidns init):

[code]
Now if we dump dumpeeA sub-tree we would have two processes dumpeeA and dumpeeC
both having sid == 0. But we also see that on host sessions of those processes
are different.

Our current restore algorithm with --shell-job option res

[2021-10-19 10:07] szymon-mulczynski-red opened #1629 "Compilation fails for ARM due to PTRACE_SETVFPREGS undefined"
**Description**
 compel/arch/arm/src/lib/infect.c compilation fails due to compel_set_task_ext_regs() using undefined PTRACE_SETVFPREGS.

**Steps to reproduce the issue:**
1. checkout latest CRIU on master branch
2. compile for ARM

**Describe the results you received:**
| compel/arch/arm/src/lib/infect.c: In function 'compel_set_task_ext_regs':
| compel/arch/arm/src/lib/infect.c:107:13: error: 'P

[2021-10-19 14:55] avagin commented on #1625
could you try to run "perf trace -Sfo perf.log criu restore ..." and share the perf.log file with us?

[2021-10-20 07:36] szymonMulczynskiSky commented on #1629
Hi,

I thought this error is rather related with the commit introducing the PTRACE_SETVFPREGS usage in this file with no direct include:

commit 21e3c530731f0f77119958a7bd26b7a954cf67d3
Author: Dmitry Safonov <dima@arista.com>
Date:   Fri Feb 26 02:25:57 2021 +0000

For some reason GET* is redefined here, while SET* was not. This looks to me like missing include or missing redefinition (to keep th

[2021-10-21 03:53] stgraber commented on #1295
Any update on this one? As seen above, it's breaking basic operation for us in LXC/LXD.

[2021-10-21 15:43] mihalicyn commented on #1619
At this point I can't understand how MIPS support worked before? If we take that `cflags` field wasn't initialized and `./compel/compel cflags` crashes in this case. It means that during parasite compilation we got something like:
[code]
instead of
[code]

I can't imagine the situation when parasite compiled without `-nostdlib` flag is working correctly.

[2021-10-25 06:41] YJ243 opened #1632 "cannot checkpoint container : runc did not terminate successfully:"
Hi,
I am using CRIU for my container checkpoint and restore for my C/R study.

Recently when I tried to checkpoint an application (espectially MySQL images), I am getting the following error.

**Steps to reproduce the issue:**
[code]

[code]

[code]
I did the following steps

1. docker run -d -p 3306:3306 \
  -e MYSQL_ALLOW_EMPTY_PASSWORD=true \
  --name mysql \
  mysql:5.7
2. docker checkpoint 80

[2021-10-25 06:54] adrianreber opened #1633 "criu-image-streamer CI error"
Hello @nviennot,

we are seeing criu-image-streamer errors in CI:

[code]

and ideas what might be going on?

See #1631

**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**CRIU logs and information:**

<details><summary>C

[2021-10-25 07:32] #1632 closed, assigned to nobody

[2021-10-26 14:25] adrianreber opened #1635 "CI failures on newer CPUs in CI"
[code]

More details can be found here: https://github.com/checkpoint-restore/criu/pull/1568#issuecomment-950762932

It seems on newer CPUs in AWS EC2 we see failures with error injection.

[2021-10-29 02:39] liusdu opened #1640 "Issue in soft dirty track"
Before linux kernel commit[mm: do_wp_page() simplification](https://github.com/torvalds/linux/commit/09854ba94c6aad7886996bfbee2530b3d8a7f4f4).
There is a bug which may infect  pre dump in the folowing way:

 Parasite code sends pages into pipe, then dumpee is running after clearing
 soft-dirty bits. If dumpee modifies pages in pipe before criu sending them
 out, dumpee modifies pages directly wit

[2021-11-01 14:16] liusdu opened #1647 "failed with zombie of sid = 0"
**Description**
A zombie process with 0 sid has a session leader in outer pidns and has ignored SIGHUP.  We can not restore it because
wo can not create a helper process with pid 0

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**
restore failed with the following error:
[code]

**Describe the results you expected:**

dump and restore succesfully.

**Additional inf

[2021-11-02 08:41] CrazycatNY opened #1649 "docker checkpoint create failed"
i create a cantainer with "docker run -d --name test --security-opt seccomp:unconfined **** /bin/sh -c 'i=0; while true; do echo $i; i=$(expr $i + 1); sleep 1; done' "

and i try to use docker checkpoint create command and get an error

Error response from daemon: Cannot checkpoint container ny: runc did not terminate sucessfully: criu failed: type NOTIFY errno 0 path= /var/run/docker/containerd/d

[2021-11-02 13:39] mihalicyn commented on #1635
we've talked with @cyrillos and Kirill advised to we need to add some extra debug print's into the CRIU. I will take a look closer and prepare a patch.

[2021-11-02 13:50] mihalicyn commented on #1649
Hi @CrazycatNY

state D means Uninterruptible sleep
https://github.com/torvalds/linux/blob/v5.14/fs/proc/array.c#L135
https://github.com/torvalds/linux/blob/v5.14/fs/proc/array.c#L186

you can see task state for any process using `/proc/<pid>/status | grep State`.

CRIU can't dump processes in D-state because such processes unkillable, untracable. In most cases kernel puts tasks in uninterruptible

[2021-11-03 13:26] Snorch commented on #1633
Remap is probably from other test, I see
[code]
but it's a guess...

[2021-11-03 14:40] Snorch commented on #1633
I managed to get reproduce with:
```while ./test/zdtm.py run -T "zdtm/static/(mntns_ghost01|unlink_fstat03)" --parallel 4; do sleep 1; done```

So I believe that we just need to make all `--link-remap` tests imply `excl` flag.

[2021-11-04 09:17] liusdu commented on #1640
Thanks for you reply @avagin.  Close this issue.

[2021-11-04 09:17] #1640 closed

[2021-11-12 05:58] Avijit009 opened #1652 "Page Server dumping failed"
Dest:
**sudo mount -t tmpfs none test

sudo criu page-server -D test --port 8080**

`Warn  (criu/kerndat.c:1205): CRIU was built without libnftables support`

Src:
**sudo mount -t tmpfs none test
sudo criu dump --tree 4495  --shell-job -D test --leave-stopped --page-server --address 192.168.122.1 --port 8080**
**_4495- is the container pid_**
[code]

how to solve this issue?

[2021-11-12 06:20] liusdu commented on #1647
OK~

[2021-11-12 06:20] #1647 closed

[2021-11-12 12:49] rst0git commented on #1652
Hi @Avijit009,

it looks like you are trying to checkpoint a container directly with CRIU. This is challenging as you need to figure out all the options you need to specify to make it work. You can use [runc](https://github.com/opencontainers/runc) instead.

This pull request describes the implementation https://github.com/opencontainers/runc/pull/1541, and an example is available in this article

[2021-11-12 16:48] Avijit009 commented on #1652
Yes I was trying to checkpoint a container directly with CRIU.

Ok I will try using runC.

Thank You.

[2021-11-13 14:55] Avijit009 commented on #1652
While I was trying to run `sudo docker export $(docker create busybox) | tar -C rootfs -xvf -` this command, I am getting bellow output.
[code]

I am getting what this actually means.

[2021-11-14 17:28] Avijit009 commented on #1652
@rst0git HI.

Is there any proper documentation for runC like CRIU and Podman?

Actually, I am not getting the runc thing how it will work.
If you can refer me to those commands that will really helpful for me because with disk I can work with but diskless I am not able to do that.
If possible please refer to me for exact commands.

one more thing `sudo docker export $(docker create busybox) | tar

[2021-11-14 18:34] rst0git commented on #1652
Hi @Avijit009,

You can find runc documentation for checkpoint/restore with `--help` and these man pages:
- `man runc-checkpoint`
- `man runc-restore`

The following commands create, checkpoint and restore a runc container:

[code]

[2021-11-14 19:28] Avijit009 commented on #1652
@rst0git Thank you.
The problem is man is not working. When I try to see `man runc,` it output like `No manual entry for runc` that is why I am confused and can't use runc properly.

The runC version I am using.
[code]
It's the development version. I installed it using https://github.com/opencontainers/runc this repository. Is It the wrong version I am using?
If it is wrong, then which one should

[2021-11-14 19:46] rst0git commented on #1652
@Avijit009 you should be able to install the man pages with `sudo make install-man`.

[2021-11-14 19:49] Avijit009 commented on #1652
@rst0git then` runc version 1.0.0+dev` is ok to use. Right?

[2021-11-14 21:34] carnil opened #1653 "Fails to build on ARMv7 with gcc-11: cc1: error: '-mfloat-abi=hard': selected architecture lacks an FPU"
Hi

Triggered in Debian after switch to building with gcc-11 `criu` fails to build on armhf:

[code]

There was a related issue in the kernel, cf. https://git.kernel.org/linus/418ace9992a7647c446ed3186df40cf165b67298

[2021-11-15 11:52] Avijit009 commented on #1652
@rst0git Hi
While I am trying to run the container in detach mode `sudo runc run -d busybox` It is showing the below error.

`ERRO[0000] cannot allocate tty if runc will detach without setting console socket `

how to solve this?

[2021-11-16 17:17] Avijit009 commented on #1652
@rst0git  Hi. Thank you. It is working now.

But in the case of diskless migration what do I need to do to migrate any container?

[2021-11-17 06:51] Avijit009 commented on #1652
@rst0git  Hi.

**Source:**
 `sudo runc checkpoint looper --lazy-pages --page-server 192.168.122.234:27 --status-fd /tmp/cp` I am running this command to migrate a container (diskless)

**Error:**
[code]

**Destination:**
`sudo criu lazy-pages --page-server --address 192.168.122.234 --port 27 -D checkpoint`

**Error:**
[code]
But the Directory is there on my desktop.
I am not able to solve these er

[2021-11-17 16:10] radumamy opened #1654 "i686 Build"
Question: Is it possible to build `criu` in an i686 environment? Could I please have some suggestions to what distro/version to use in order to get this working? Thank you.

[2021-11-17 16:19] adrianreber commented on #1654
CRIU does not support i686

There is a 32bit compatibility mode: https://criu.org/32bit_tasks_C/R Not sure if that would be helpful.

[2021-11-17 16:48] radumamy commented on #1654
Understood, thank you @adrianreber.

[2021-11-17 16:48] #1654 closed

[2021-11-17 18:51] Avijit009 commented on #1652
@rst0git Will you please let me know what did I do wrong here?

Create a container by following this:
[code]
Then I run this command on the source where the image is created
`sudo runc checkpoint --pre-dump --image-path /tmp/cp --work-path /tmp/cp --page-server 192.168.122.241:8888 --tcp-established`
Output:
[code]

I got stuck here. Please have a look at this one.

[2021-11-17 19:02] rst0git commented on #1652
The container ID is missing: `runc checkpoint [command options] <container-id>`

[2021-11-17 19:11] Avijit009 commented on #1652
Sorry I missed that point.

But after adding container id it is failing before enabling page server option on the destination.

**Whole command**

[code]
`
sudo runc checkpoint --pre-dump --image-path /home/client/Desktop/tmp --work-path /home/client/Desktop/tmp looper --page-server 192.168.122.241:8888 --tcp-established`

[code]
**dump.log**

[code]
It is showing **No such process** but the proce

[2021-11-17 19:33] Avijit009 commented on #1652
Pre Dump on Source:
`sudo runc checkpoint --pre-dump --image-path /home/client/Desktop/tmp --work-path /home/client/Desktop/tmp looper --page-server 192.168.122.241:8888 --tcp-established`

Destination:
`sudo criu page-server --images-dir /tmp/cp --port 8888 --auto-dedup`

After those part
I run Dump on Source:
`sudo runc checkpoint  --image-path /home/client/Desktop/tmp --work-path /home/client/D

[2021-11-18 00:46] geminijun opened #1655 "How to C/R an application with tty inside a new mnt ns?"
**Description**
Got error "Error (criu/tty.c:1435): tty: No task found with sid 20845" when restoring an application which was running inside a new mnt ns(also was checkpointed inside the mnt ns)

**Steps to reproduce the issue:**
1. Start an application in a new mnt ns
[code]

2. Checkpoint it inside the same mnt ns(I guess we have to do it this way?), and also need to use `-j --external tty` opt

[2021-11-18 12:57] Avijit009 commented on #1652
@rst0git Hey.

When I dumped a container I got one file named `status-dump` but while restoring why I am not getting anything like this?

How to determine downtime and how to get the image size that I am migrating?

Thank you for your help.

[2021-11-18 14:08] rst0git commented on #1652
`status-dump` is created during checkpoint and `stats-restore` during restore. These files should be created in the directory specified with `--work-path`. You can find more information in https://criu.org/Statistics

(FYI: Adrian recently implemented the [`--print-stats`](https://github.com/containers/podman/pull/12257) option in Podman)

First you need to define what is _downtime_, then you can

[2021-11-18 14:55] Avijit009 commented on #1652
@rst0git Thank you.
I think this will work.
I forgot to mention `status-restore` I was not getting. `status-dump` was in the work path.

Anyway, thank you and Adrian very much. You both help me a lot.

[2021-11-18 15:02] Avijit009 commented on #1652
@rst0git Yes you can close this.

If I stuck anywhere then I will ask on Gitter.

[2021-11-19 17:07] #1633 closed

[2021-11-21 05:34] Avijit009 commented on #1618
@adrianreber  hi
`sudo podman container checkpoint -P -e pre-checkpoint.tar.gz -l`

Error:
[code]
What did I do wrong?

[2021-11-21 11:23] rst0git commented on #1618
Hi @Avijit009, `crun` doesn't yet support pre-dump, but `runc` does.
You can specify the runtime with the `--runtime` option or in the config file:
[code]

[2021-11-21 14:08] Avijit009 commented on #1618
@rst0git
So after modifying `--runtime` I can use `sudo podman container checkpoint -P -e pre-checkpoint.tar.gz -l` this or I have to use `runc` for `pre-dump` and then `dump` using `podman`?

[2021-11-25 05:21] satbekmyrza opened #1663 "criu check fails in docker container"
**Description**

I am trying to build CRIU in a Docker container running Ubuntu 18.04. CRIU builds without errors, but `criu check` fails. I am signed in as `root`.

System info:
[code]

This is the Dockerfile I used to build the Docker image and then a container:
[code]

**Steps to reproduce the issue:**
1. Create a Docker image
2. Create a Docker container from the image
Inside the container:
3.

[2021-11-25 05:48] adrianreber commented on #1663
You don't say how you started the container. But you have to start your container engine with `--privileged` to be able to use CRIU in the container.

[2021-11-25 06:46] satbekmyrza commented on #1663
Yes, thanks for pointing that out. I 'reran' the image with `--privileged` and now I can see `Looks good.`
However, the full output of `./criu check` is:
[code]

Should I be concerned about it?

[2021-11-25 07:28] adrianreber commented on #1663
Not really. CRIU checks the system on the first run and stores the information on a `tmpfs` (`/run`). On every subsequent CRIU start this file is read to speedup CRIU initialization. If `/run` is not a `tmpfs` you get an error like the one you see. Starting the container with `--tmpfs /run` will silence the error. CRIU's functionality will not change. The second startup is just faster. So it depen

[2021-11-26 02:20] satbekmyrza commented on #1663
Thank you @adrianreber, the issue is solved.

[2021-11-26 02:20] #1663 closed

[2021-11-26 04:31] satbekmyrza opened #1665 "fail to restore after killing a restored process"
While playing around with CRIU, I noticed the following:

1. I ran a simple Java program with a loop that contains `Thread.sleep(1000);`.
2. I ran `criu dump -t <pid> -o dump.log -vvv -D <ckpt-dir1> --shell-job`
3. Then I restored the checkpoint by `criu restore -vvv -o restore.log --shell-job -D <ckpt-dir1>`
4. Then I dumped the restored checkpoint again to a different directory `criu dump -t <pi

[2021-11-26 04:34] #1467 closed

[2021-11-26 06:27] adrianreber commented on #1665
That is not expected. Please share the log files for all dumps and restores.

[2021-11-26 07:33] satbekmyrza commented on #1665
Logs: [https://gist.github.com/satbekmyrza/52d03a4b43adf6512e0fec01644787a0](url)

- ch1-dump.log - after [2]
- ch1-restore.log - after [3]
- ch2-dump.log - after [4]
- ch2-restore.log - after [5]
- ch1-restore.log.afterkill - after [6] and `criu restore -vvv -o restore.log --shell-job -D <ckpt-dir1>`
- ch2-restore.log.afterkill, ch1-restore.log.afterkill.2 - after [6] and `criu restore -vvv -o re

[2021-11-26 07:49] adrianreber commented on #1665
The log says you are using CRIU 3.6. Can you try 3.16.1?

[2021-11-26 08:29] satbekmyrza commented on #1665
Logs for `v3.16.1`: https://gist.github.com/satbekmyrza/70f13d8aa168189cdcbccc70d46a5754

Unfortunately, `v3.16.1` produces the same result. The only difference from `v3.6` is that `v3.16.1` does not produce any `Aborted (core dumped)` output.

Sample run with a longer chain of C/R. `# num` is to indicate the order of commands for reference.
Terminal 1:
[code]

Terminal 2:
[code]

[2021-11-26 08:52] rst0git commented on #1665
[code]
You might need to use `java -XX:-UsePerfData ...` to resolve this problem.

[2021-11-26 09:20] adrianreber commented on #1665
Exactly what @rst0git is saying. During restore all files need to be the same as during checkpointing. If files are changing the possibility for crashes is high and CRIU checks the file size to make sure that the file did not change. If the file has the same size CRIU will do the restore, but the application might be confused because the content of the file changed unexpected.

Either you need to

[2021-11-29 08:02] satbekmyrza commented on #1665
Thanks @rst0git, using `java -XX:-UsePerfData ...` worked.

[2021-11-29 08:02] #1665 closed

[2021-11-29 13:01] Ghostwritten opened #1666 "Error (compel/src/lib/ptrace.c:27): suspending seccomp failed: Invalid argument"
**Description**
centos: 7.X
kernel：3.10.0-1160
[code]
---
[code]
[code]
log:

[code]

**Steps to reproduce the issue:**
1.centos 7.X install podman=1.6.4;
2. pod running a container ;
3. podman checkpoint the container;

**CRIU logs and information:**
[code]

so, i update the latest kernel = 5.15.5-1.el7.elrepo.x86_64, detail:[update centos 7.X](https://ghostwritten.blog.csdn.net/article/details/1

[2021-11-30 11:53] fweimer-rh opened #1667 "vsyscall compatibility requirements"
I'm working on avoiding a userspace ABI break due to disabling vsyscall. Some of us want to remove vsyscall support as a form of security hardening. Unfortunately, that will break chroots with older distributions.

Instead, I want to [disable vsyscall](https://lore.kernel.org/linux-api/87h7bzjaer.fsf@oldenburg.str.redhat.com/T/#u) in newer glibc versions during the process startup.  This way, we c

[2021-11-30 11:56] adrianreber commented on #1667
@checkpoint-restore/maintainers any comments?

I can only say that CRIU clones and remaps everything and that we probably need a way to re-enable vsyscalls, but I have no deeper understanding of that part.

[2021-11-30 12:04] fweimer-rh commented on #1667
And presumably there is also a requirement for querying the state during checkpoint. Something using `ptrace`? Or would you be okay with parsing some file under `/proc`? Thanks.

[2021-11-30 16:35] avagin commented on #1667
We would be okay with any of these ways. Right now, we use ptrace and parse /proc/pid/smaps.

[2021-12-01 11:39] adrianreber commented on #1666
Closing. Please reopen if you have any further questions.

[2021-12-01 11:39] #1666 closed

[2021-12-01 11:45] adrianreber opened #1669 "Test Error: unix: Non-stream socket 23645 in established state"
We are seeing multiple socket related errors in CI. My assumption is that this is because Fedora switched to 5.15. I can reproduce the error locally after updating to 5.15:
[code]

[2021-12-02 15:49] minhbq-99 commented on #1669
I think we need to rework this check
https://github.com/checkpoint-restore/criu/blob/6754b16c2e95766493ac27e4122a3b63867133f5/criu/sk-unix.c#L1854-L1857

This Linux kernel commit added `TCP_ESTABLISHED` state for `SOCK_DGRAM` since v5.15 https://github.com/torvalds/linux/commit/83301b5367a98c17ec0d76c7bc0ccdc3c7e7ad6d

[2021-12-02 15:51] adrianreber commented on #1669
Interesting. Thanks for finding that commit. Can you provide a patch to fix it?

[2021-12-02 16:11] minhbq-99 commented on #1669
However, I think we have to look at this more carefully as I think there are other places in this file make the same assumption.

[2021-12-03 12:40] hafnerfe opened #1670 "Restore in new namespace"
Hi.

I want to restore a process with a new PID (one that is not already taken). This can be done in a new namespace. The criu_ns script does a lot more, e.g., dump in a custom namespace, which I don't need. The criu_ns script does not seem to support lazy pages out of the box.
The CRIU TODO (https://criu.org/Todo) lists this and already has an asignee (@efiop). Is this currently being worked on?

[2021-12-03 12:52] adrianreber commented on #1670
I don't think anyone is working in this.

[2021-12-03 13:12] hafnerfe commented on #1670
Thanks for the quick reply. Maybe you can help me with the issue I'm running into:

I use the restore wrapper from [criu_ns](https://github.com/checkpoint-restore/criu/blob/criu-dev/scripts/criu-ns), which works fine. However, I want to restore two separate processes so that both are running (I don't really care if they're in the same or different namespace, I just want to restore them without hav

[2021-12-03 14:25] adrianreber commented on #1670
@rst0git any ideas?

[2021-12-03 15:35] adrianreber commented on #1649
Closing. @CrazycatNY please re-open if you have further questions.

[2021-12-03 15:35] #1649 closed

[2021-12-03 15:36] #1652 closed

[2021-12-03 15:37] adrianreber commented on #1598
Closing as there have been a couple of follow-up discussions on gitter.

[2021-12-03 15:37] #1598 closed

[2021-12-03 15:38] #1499 closed

[2021-12-03 15:40] adrianreber commented on #1470
Closing. Please re-open if you have further questions.

[2021-12-03 15:40] #1470 closed

[2021-12-03 15:41] adrianreber commented on #1458
Closing. Please re-open if you have further questions.

[2021-12-03 15:41] #1458 closed

[2021-12-03 17:08] rst0git commented on #1670
Hi @hafnerfe,

You should be able to call `criu-ns restore` with `--lazy-pages`. Why do you think that lazy-pages is not supported?

`criu-ns` creates just creates a PID and mount namespace an it runs `criu restore` inside. You should be able to call `criu-ns restore` multiple times. However, you need to make sure that multiple instances of the process would not interfere with each other, e.g., mo

[2021-12-03 17:31] hafnerfe commented on #1670
Thanks for the quick reply!
I must have made some mistake---it does seem like it works with `--lazy-pages`. Thanks for the clarification!

I guess this makes the other question (regarding EINVAL) a little less relevant. I'm still not sure why I receive that error. This is the code. I have omitted all the definitions that were simply copied from the criu-ns script (e.g., `-unshare`

[code]
This sec

[2021-12-04 14:11] carnil commented on #1653
First of all I do agree you might say "handle that donwstream". In fact the issue arises from the following:

 Starting with gcc-11, Debian's armhf compiler no longer builds with
 a default `-mfpu=` option. Instead it enables the FPU via an extension
 to the `-march` flag (`--with-arch=armv7-a+fp`). criu's Makefile explicitly
 passes its own `-march=armv7-a` setting, which overrides the `+fp` defa

[2021-12-04 14:19] carnil commented on #1653
Downstream report:  https://bugs.debian.org/999680

[2021-12-04 17:13] rst0git commented on #1653
@carnil Thank you for the detailed information about this problem. I was able to replicate the error with the CI cross-compile tests and opened a pull request with your solution: https://github.com/checkpoint-restore/criu/pull/1676

[2021-12-04 20:07] carnil commented on #1653
@rst0git thank you!

[2021-12-06 08:34] efiop commented on #1670
Hey :) Yeah, I'm not working on ns anymore. Removed my assignees from that page. Sorry for the confusion.

[2021-12-06 08:44] surenraju opened #1679 "docker restore did not work as expected"
**docker restore did not work as expected**

I am following the example provided in the official documentation https://criu.org/Docker. But steps mentioned in the documentation and results did not match the results in my environment.

**Steps to reproduce the issue:**
Execute the following command and check the logs after
[code]
[code]

[code]

**Describe the results you received:**
There is no er

[2021-12-06 10:34] adrianreber commented on #1679
Unfortunately the docker support is always a bit problematic. There are some versions that do not work correctly and it seems you have found one of those versions. Try to update Docker or maybe try Podman which should work much better.

Please let us know which version of Docker you use.

[2021-12-06 10:36] surenraju commented on #1679
@adrianreber
[code]

[2021-12-06 10:38] adrianreber commented on #1679
I do not know which Docker versions are working but @rst0git usually does.

[2021-12-06 10:54] surenraju commented on #1679
@adrianreber

Tried with podman and it worked beautifully.

[code]
@rst0git Please let me know the docker versions supported.

[2021-12-06 10:55] adrianreber commented on #1679
Perfect!

[2021-12-06 23:41] rst0git commented on #1679
Hi @surenraju, you need to upgrade [containerd](https://github.com/containerd/containerd/releases) to version 1.5.0 or newer. For example, you can install the latest version from GitHub as follows:

[code]
Note that after upgrade you need to restart the systemd service: `sudo systemctl restart containerd.service`

[2021-12-07 05:11] surenraju commented on #1679
@rst0git thank you very much. After upgrading the containerd to version 1.5.0 or newer as you mentioned, it worked as expected.

[2021-12-07 05:11] #1679 closed

[2021-12-07 10:45] #1653 closed

[2021-12-07 13:28] adrianreber commented on #1354
Fixed in #1673

[2021-12-08 04:50] dineshputchala commented on #412
@avagin Is time namespaces feature is implemented completely in kernel ? If yes, which version of OracleLinux 7.x OS/OracleLinux 8  has this feature ?

[2021-12-08 07:01] adrianreber commented on #412
@dineshputchala I am pretty sure nobody here knows which OracleLinux kernel has which feature. CRIU's CI is enabling time namespace tests on anything >= 5.11. So you need to figure out if OracleLinux has all the time namespace patches from 5.11.

[2021-12-08 10:38] rst0git commented on #412
Oracle Linux 8.4 maybe?

https://docs.oracle.com/en/operating-systems/oracle-linux/8/relnotes8.4/ol8-features-changes.html

[2021-12-08 14:59] Ghostwritten commented on #1666
yes

thank you!!!

[2021-12-09 07:42] #1669 closed

[2021-12-10 06:16] dineshputchala opened #1683 "Error (criu/kerndat.c:1048): Unexpected error from clone3 on OL8.4"
Description: /sbin/criu  check is failing with "Error (criu/kerndat.c:1048): Unexpected error from clone3" on OracleLinux8.4

bash-4.4# /sbin/criu  check --version
Version: 3.15
GitID: f9533f0

bash-4.4# /sbin/criu  check --all
Error (criu/kerndat.c:1048): Unexpected error from clone3
: Invalid argument
Error (criu/kerndat.c:1181): kerndat_has_clone3_set_tid failed when initializing kerndat.
Error

[2021-12-10 06:21] adrianreber commented on #1683
This is known. An incomplete Backport of clone3 in the Oracle kernel. Nothing we can do.

[2021-12-10 07:23] adrianreber commented on #1683
See #1592

[2021-12-10 07:23] #1683 closed

[2021-12-13 05:06] dineshputchala commented on #412
There is CRIU bug on OracleLinux8.4 and looks like this needs to be fixed in OL8.

[2021-12-13 05:06] dineshputchala commented on #412
There is CRIU bug on OracleLinux8.4 and looks like this needs to be fixed in OL8.

https://github.com/checkpoint-restore/criu/issues/1683

[2021-12-15 10:23] Snorch commented on #1655
With a tiny change to you example everything works:
[code]

Not sure why you use `--external 'tty[8814:c]'`, this is not needed and this is probably the reason why everything breaks in your case.

And the original problem is that shell-jobs(-j) does not work nice with external ttys (--external 'tty[]'). There is no much sense in both inheriting tty via shell-job and making same tty resolve as exte

[2021-12-15 11:23] rst0git commented on #1655
Here is one example for external tty: https://criu.org/Inheriting_FDs_on_restore#External_TTYs

[2021-12-16 17:06] rst0git opened #1695 "restore fails with glibc-2.34.9000-30.fc36.x86_64"
The CI tests fail with the following error when running on Fedora Rawhide:

[code]

This reason for this error appears to be a change in [glibc-2.34.9000-30.fc36](https://src.fedoraproject.org/rpms/glibc/c/0c78549fbcc7bdf354fb87adf487839604444060). After downgrading to [glibc-2.34.9000-29.fc36](https://koji.fedoraproject.org/koji/buildinfo?buildID=1866396) the tests work as expected.

This problem

[2021-12-16 18:22] mihalicyn commented on #1695
Wow. Interesting...
this change looks very suspicious https://patches-gcc.linaro.org/patch/64865/

[2021-12-16 20:56] adrianreber commented on #1695
If you look at the mentioned bugzilla tickets, it seems like CRIU is missing support for the rseq syscall.

[2021-12-16 21:06] fweimer-rh opened #1696 "Implement rseq support, as required by glibc 2.35"
glibc 2.35 enables restartable sequences (rseq) during process startup. This designates a memory area, associated with each thread, to which the kernel can write as it sees fit.

This has two consequences for CRIU: A restored process can crash once the memory for the registered rseq area is unmapped (this is the rseq area for the *new* process). And the restored process, when running, will appear

[2021-12-17 02:49] rst0git commented on #1695
Duplicate of https://github.com/checkpoint-restore/criu/issues/1696

[2021-12-17 02:49] #1695 closed

[2021-12-17 07:12] mihalicyn commented on #1635
I think we can close that.

[2021-12-17 08:50] adrianreber commented on #1696
Seeing https://github.com/torvalds/linux/commit/90f093fa8ea48e5d991332cee160b761423d55c1 was developed by Google to support checkpoint/restore I am wondering if Google has already a patch for this for their internal CRIU version.

@mclapinski you seemed to have worked on CRIU for Google. Do you know if anything regarding rseq exists in Google's version of CRIU?

[2021-12-17 09:37] mihalicyn commented on #1696
@fweimer-rh thanks a lot for looking into this!

If nobody wants to implement that and our Google friends have no support of that feature yet I'm ready to take this issue on myself.

[2021-12-17 14:40] #1635 closed

[2021-12-18 03:18] Yangfisher1 opened #1699 "No rule to make target 'umount2' when make test"
Hi, I'm trying to make a pull request, so I followed the instruction [How_to_submit-patches](https://criu.org/How_to_submit_patches). Entering `make` seemed all right, but when I entered `make test`, it showed out that `make[3]: *** No rule to make target 'umount2'.  Stop.`. And I checked out the `Makefile` in `test` directory. It actually doesn't have the target `umount2`, and the branch is `criu

[2021-12-18 07:38] mihalicyn commented on #1699
@Yangfisher1 hi,

please tell us, do you have the same error when trying the `sudo ./test/zdtm.py run -a`?

The problem probably is that when you run `make test` all environment variables from "root" make passes through zdtm.py to nested make here:
[code]

I will send a fix for this problem. But I'm not sure that `make test` works perfectly in all cases.

[2021-12-18 08:14] mihalicyn commented on #1699
Please feel free to post your PR if `./test/zdtm.py run -a` passes.

Thanks,
Alex

[2021-12-18 11:30] Yangfisher1 commented on #1699
Thanks a lot! It really worked out, but the result showed that the kernel is tainted. I'll try to use another machine cause the machine is shared with many people. Anyway, I'll post a PR as long as I solve the problem.

[2021-12-18 11:33] adrianreber commented on #1699
There is the option --ignore-taint which should ignore it for your local test.

[2021-12-18 11:47] Yangfisher1 commented on #1699
Wow, I'll try this one too, thanks.

[2021-12-18 18:41] rushi47 opened #1702 "Support for RISC-V"
Hello Team,

I am fairly new to CRIU, and am quite interested in porting it to RISCV by my own but I feel kind of lost as there are lot of touch points. And am unable to wrap my head around the code.

So would love to know if are there are any plans to support for RISC-V, would love to pitch in.

Also would appreciate any help, if someone can point me to any documentation.
I use this link : https:

[2021-12-19 05:13] Yangfisher1 commented on #1699
May I ask a question more? I ran `sudo ./zdtm.py run -a`, when testing `zdtm/static/net_lock_socket_iptables`, it showed out that
[code]
So I checked the code, it created a UNIX socket with name `\0internal_server`, and used a child process as a client to connect with it. However, the child process connected to `127.0.0.1:8880` rather than `\0internal_server`. I guess that's why the error occurred

[2021-12-20 01:28] Yangfisher1 commented on #1699
Or maybe I can just simply replace the `test_sock = socket.create_connection((server_addr, PORT), TIMEOUT)` in `test/zdtm/static/net_lock_socket_iptables.hook` with
[code]
I wrote a simple python script to test it, it ran well and no error for `Connection refused`, here is my code.
[code]

[2021-12-20 02:13] Yangfisher1 commented on #1699
It did solve the problem, now there is no `Connection Refused` error, but it just stuck there. The test showed that it ran the hook with `--post-start`, so it just hung there waiting for message while `test_sock` did nothing. The output is below. I just use a unmodified criu-dev branch to test, so I don't know why this happened.

[2021-12-20 06:19] Yangfisher1 commented on #1699
I don't know why, but running `sudo make test` won't throw the error, but sometimes it can also be stuck at the test `zdtm/static/net_lock_socket_iptables`, maybe there're still some bugs, but anyway, it can at least pass the whole test sometimes.(I mean, if the last line of the output is
[code]
, does that mean I pass the whole test?)

[2021-12-20 06:19] #1699 closed

[2021-12-20 06:32] adrianreber commented on #1699
If you get a return code of 0, then all tests were running successfully.

[2021-12-20 07:13] adrianreber commented on #1696
Please revert #1697 again if this is fixed.

[2021-12-20 07:41] mihalicyn commented on #1696
I've played with `rseq` locally and written dump part implementation. But before diving into full and prod-ready implementation let's wait 1-2 days for some response from our friends.

[2021-12-20 07:45] mihalicyn commented on #1702
@rushi47 awesome idea to port CRIU in RISC-V.

Please, tell me do you have RISC-V hardware, or do you want to port and test CRIU on the virtualized RISC-V environment?

First of all, I think you need to play with `compel`. Just forget about CRIU itself. Try to play with the examples in `compel/test` folder, try to run and understand the code. Then you need to make the compel work on the RISC-V arc

[2021-12-20 07:54] mihalicyn commented on #1702
The 2nd step will be `criu/pie` folder. It contains two interesting pieces - `parasite` (used on the dump stage) and `restorer` (used on the `restore` stage). The both are just PIEs which compiled using `compel` and injected into victim processes to do some useful things. For instance, `parasite` is used on the dump to call `prctl()` syscalls to get some victim processes information. `restorer` is

[2021-12-20 11:59] figiel commented on #1696
Hi, this was used only in a prototype. I don't have a production ready patch for CRIU which would use this yet (and not planning to focus on that in upcoming weeks).

[2021-12-20 12:05] adrianreber commented on #1696
@figiel Thanks for your feedback.

[2021-12-20 12:53] adrianreber opened #1704 "Don't lose pull request information on release branch"
Our current development model (`criu-dev` and `master`) has, from my point of view, the problem that we lose the link between commit and pull request on the `master` branch. It becomes difficult to find the corresponding pull request and discussion once we move code to our release branch (`master`).

I see two possible approaches how solve this.

1. Only use a single branch. We used to have more u

[2021-12-20 14:15] Snorch commented on #1704
I don't have strong opinion on this too.

On one hand it's hard to search for PR by commit, main problem is that github merges search results for PRs and issues, e.g.: https://github.com/checkpoint-restore/criu/search?q=restore+current+work+directory+after+restoring+mnt+ns&type=issues It becomes better with `""` though https://github.com/checkpoint-restore/criu/search?q=%22restore+current+work+dir

[2021-12-20 16:16] avagin commented on #1704
In the ideal cases, all discussions in PR-s to be summarized in proper commit messages.

[2021-12-20 18:20] rushi47 commented on #1702
And would love to know if any other things I should be trying or reading organically with understanding to get this thing running on RISCV as soon as we can.

[2021-12-20 18:25] mihalicyn commented on #1702
you are welcome :)

offtopic: Ah, I'm also thought about the RISC-V motherboard but it's sooo expensive (and mostly just not in stock) right now... :(

[2021-12-21 00:27] avagin commented on #1380
@rst0git could you try out this patch:
[code]

[2021-12-21 11:01] Yangfisher1 opened #1705 "Change criu restore to an on-demand version"
Hey, about two months ago I started to use criu as a part of our own project. We noticed that when restore the process, loading process memory from `page.img` just loads all pages, whose code is in `criu/pie/restorer.c`, line 1535, `r = sys_preadv(args->vma_ios_fd, iovs, nr, rio->off);`
Considering that our work is related to serverless, we thought this was totally unnecessary to load all pages at

[2021-12-22 02:01] TheloTheGreat opened #1707 "ZDTM test netns_lock_iptables fails"
ZDTM test netns_lock_iptables fails with this error line during restore:
b'line 6: CHAIN_USER_DEL failed (Device or resource busy): chain CRIU'

This is on Ubuntu 21.10, kernel 5.13.0-22 generic, on a CRIU 3.16.1 source package. The full ZDTM log for that test is as follows, what does it mean? (I am not familiar with ZDTM and CRIU, this test is approximately the first thing I've tried to do here.)

[2021-12-22 07:06] adrianreber commented on #1707
I think I remember seeing this. I think this is the combination of having `nftables-devel` installed in combination with an iptables using the nf_tables backend. We have worked around this in RHEL 8 by not having `nftables-devel` installed during CRIU build time.

@TheloTheGreat Not sure what you are tying to do, but this is not a problem you need to worry about (except if you want to fix it). Uni

[2021-12-22 13:34] Yangfisher1 commented on #1705
Using a hybrid way, as keeping the anonymous memory area with `sys_pread` passed the test with `sudo ./zdtm.py run -a`.

[2021-12-23 00:41] avagin commented on #1705
Cc: @checkpoint-restore/maintainers

[2021-12-23 00:47] avagin commented on #1705
This should not be a default behaviour, but we can think on adding a separate mode for that.

We may need to introduce a new format for page.img, otherwise we can end up with thousands of thousands mappings. // Just thinking aloud .

[2021-12-23 01:13] Yangfisher1 commented on #1705
Yes, I believe that adding a parameter like `criu restore -D checkpoint/ --on-demand` and then using the `sys_mmap` to restore is properly in some case where you don't need to load all the memory at once.

[2021-12-23 18:47] #1380 closed

[2021-12-24 06:30] Yangfisher1 opened #1712 "A new macro `restorer_sym__export_restore_task.cold` in `criu/pie/restorer-blob.h`"
Hey, I posted a pull request [#1711](https://github.com/checkpoint-restore/criu/pull/1711) to add a new feature on criu, but it falied when compiling the code, I checked out and found that the autogenerated file `criu/pie/restorer-blob.h` had a new line
`#define restorer_sym__export_restore_task.cold 0x4711` because I changed some code in `criu/pie/restorer.c`, and by removing it can compile and r

[2021-12-24 06:58] Yangfisher1 commented on #1712
Also, the pull request failed when compiling at aarch64 and armhf, with error "error: implicit declaration of function 'sys_pread'". I don't understand because the original version uses `sys_preadv`, so it can pass the ci test while `sys_pread` can't?

[2021-12-24 10:38] #1712 closed

[2021-12-26 18:58] nirousseau commented on #1702
I would like to join the effort too, I have a sifive unmatched board for testing if it may help.
I will try to build compel with modifications from aarch64

[2021-12-27 02:03] rushi47 commented on #1702
@nirousseau Hey thanks for joining the effort.
I had branch in my fork and had done some changes already.
But i didnt open the PR, do u mind joining this one ?MR : https://github.com/checkpoint-restore/criu/pull/1714
As I already have all the changes, in your PR along with modifications ?

[2021-12-27 07:30] rushi47 commented on #1702
@mihalicyn  Hello Alex,

So i was trying to run compel as you suggested before and did some changes.

While compiling am facing the below issue (Have attached detailed logs below)

After reading the log with my knowledge, one strange thing am noticing is, when function : **fini_sigreturn** is called as per the logs :
https://github.com/rushi47/criu/blob/mod_criu/compel/plugins/std/infect.c#L84

It

[2022-01-02 07:48] #1547 closed

[2022-01-03 13:10] rst0git commented on #1702
@rushi47 you need to install `pkg-config`. All build dependencies are described in https://criu.org/Installation.

[2022-01-04 11:58] kkors opened #1716 "Restore fails after reboot"
I dumped a script that I wrote using criu and then issued a CronJob to restore its state at reboot. Cron calls a script which runs criu restore.
I then rebooted my VM and the CronJob does run but eventually fails at the restore command.
I get an error log like this (redirected into a file so I can read it afterwards):
[code]
I couldn't find any information on the last Error listed here.
Running th

[2022-01-04 21:56] TheloTheGreat commented on #1707
Thanks, I can confirm that I did have libnftables-dev installed (because it was listed in https://criu.org/Installation under "Other stuff"), and that removing that package then rebuilding criu does allow the netns_lock_iptables test to complete successfully. The rest of the ZDTM tests also complete fine that way (though I do need to run them with --ignore-taint).

That make process (without libnf

[2022-01-06 00:04] #1246 closed

[2022-01-06 00:04] #1242 closed

[2022-01-06 00:04] #1234 closed

[2022-01-06 00:04] #1224 closed

[2022-01-06 05:20] rushi47 commented on #1702
@rst0git  Thank you for writing it out :) , i thought its unrelated but i did install it as you suggested.
But still the same error :(
[code]

I am trying to figure out, why it's going on the same unrelated method.
[code]

[2022-01-06 12:24] rst0git commented on #1702
@rushi47 x86 and RISC-V use different assembly registers.
You can find more information about the registers in RISC-V in the [specifications](https://riscv.org/technical/specifications/).

[2022-01-06 16:25] rushi47 commented on #1702
@rst0git yes, that's correct. My doubt is when I have copied code of aarch64 for riscv - in compel/arch & I am try to compile it for RISCV, from my understanding ideally it should go to riscv and should break there, am wondering why it's going to  ARCH_RT_SIGRETURN_ COMPAT & NATIVE as this definition only exists in x86 arch like i pointed before, when am compiling for RISCV.
Please correct me if a

[2022-01-06 16:28] rushi47 commented on #1702
@rst0git here i have added all the details of my assumption -

[2022-01-07 00:07] #1202 closed

[2022-01-07 00:07] #1221 closed

[2022-01-07 00:08] #1182 closed

[2022-01-07 00:08] #1200 closed

[2022-01-07 00:08] #1177 closed

[2022-01-07 00:08] #1160 closed

[2022-01-07 00:08] #1164 closed

[2022-01-07 00:08] #1156 closed

[2022-01-08 00:04] #1150 closed

[2022-01-08 00:04] #1128 closed

[2022-01-08 00:04] #1136 closed

[2022-01-08 00:04] #1117 closed

[2022-01-08 00:04] #1124 closed

[2022-01-08 00:04] #1102 closed

[2022-01-08 00:04] #1104 closed

[2022-01-08 00:04] #1085 closed

[2022-01-08 00:04] #1092 closed

[2022-01-09 00:04] #1305 closed

[2022-01-09 00:04] #1072 closed

[2022-01-09 00:04] #1076 closed

[2022-01-09 00:04] #1061 closed

[2022-01-09 00:04] #1062 closed

[2022-01-09 00:04] #1043 closed

[2022-01-09 00:04] #1052 closed

[2022-01-09 07:11] rushi47 commented on #1702
I think am getting there, it hit the right spot now.

[code]

[2022-01-10 00:05] #1040 closed

[2022-01-10 00:05] #1006 closed

[2022-01-10 00:05] #1018 closed

[2022-01-10 00:05] #972 closed

[2022-01-10 07:43] adrianreber commented on #1716
I have not seen this error before. @checkpoint-restore/maintainers any ideas how solve this?

[2022-01-10 07:46] adrianreber commented on #1707
It depends if you have nftables rules that need to be restored. If you tell us what you are trying to do we can maybe help you make a decision if the nftables support is important for you or not.

[2022-01-11 00:06] #954 closed

[2022-01-11 00:06] #1283 closed

[2022-01-11 00:06] #947 closed

[2022-01-11 00:06] #951 closed

[2022-01-11 00:06] #934 closed

[2022-01-11 00:06] #900 closed

[2022-01-11 00:06] #915 closed

[2022-01-12 00:05] #897 closed

[2022-01-12 00:05] #815 closed

[2022-01-12 00:05] #838 closed

[2022-01-12 00:05] #797 closed

[2022-01-12 00:05] #813 closed

[2022-01-12 08:45] kuailelijuan opened #1719 "restore java process schedule task don't work"
Program description:
jdk version：jdk1.8.0_60
key code:
[code]
problem:
In this java process, two time tasks are started, using two methods: scheduleAtFixedRate and scheduleWithFixedDelay. I found two problems.
1. When using criu to execute restore, occasionally the scheduled task hangs and does not continue to work. For example: I used criu to restore 10 processes, on different machines, the proce

[2022-01-12 09:49] adrianreber commented on #1719
That is an interesting situation, indeed. I am not sure, however, that CRIU can do anything about. This could be seen as a Java feature or a bug. Java assumes if two hours passed since the last check it has to run all missing runs. It probably should not.

Working on CRIU I am biased but this sounds like a thing Java needs to solve itself. You would probably have the same problem on a virtual mach

[2022-01-12 12:53] kuailelijuan commented on #1719
@adrianreber It is an honor to receive your answer. I recently encountered these problems when experimenting with criu. Hope you can give me some guidance and advice. 1. During the process of live migration, it is likely to encounter the problems of the above java time schedule tasks. In addition, some changes in the physical state of the target process ip, as well as the cached data of the applic

[2022-01-12 13:21] adrianreber commented on #1719
I don't think this is the right place to discuss such broad open questions. If you have a specific problem we are happy to help if possible but your question seems to be about almost everything related to CRIU.

[2022-01-12 17:08] avagin commented on #1719
@kuailelijuan what kernel do you use? Does it support time namespaces? What clocks is used to implement newSingleThreadScheduledExecutor? You can find this if you run your app under "strace -fo strace.log -s 1024".

[2022-01-12 22:54] rst0git commented on #1716
This error message was introduced recently in https://github.com/checkpoint-restore/criu/commit/7e6a1a7011b404fbf0108b062bda118e9a696b60.

@Snorch suggested in https://github.com/checkpoint-restore/criu/issues/1332

[2022-01-13 00:04] #976 closed

[2022-01-13 00:04] #779 closed

[2022-01-13 00:04] #796 closed

[2022-01-13 00:04] #765 closed

[2022-01-13 00:04] #772 closed

[2022-01-13 00:04] #754 closed

[2022-01-13 00:04] #760 closed

[2022-01-13 03:25] Yangfisher1 opened #1720 "Restore multiple containers failed using runc+criu because of socket"
Hi, recently I tried to use runc+criu to restore containers. It worked well at first. However, when I restored multiple containers at once(same config.json, same rootfs exported from the same docker image while there were in different directory), criu would throw an error
[code]
I figured out that was because the pid of the process running in the container was 1(in container), so the sockets colli

[2022-01-13 04:54] kuailelijuan commented on #1719
Thanks a lot for your answer. There is a problem I don't understand, why the java schedule timed task will not take effect during the process of hot migration. This is an accidental phenomenon, and not every node will appear. I am experimenting in some docker container, docker version: 17.03.2
The same node, if his schedule does not take effect, after I kill it and try again many times, it will no

[2022-01-13 06:49] adrianreber commented on #1719
We are no experts how Java implements the scheduled task. It seems to look at the date and time and if you migrate to a system which has a clock in the past then it might skip a few scheduled tasks. You need to ensure that clocks are properly synced if your process depends on the wallclock. Again, this is a topic you need to talk to Java experts about it. We can only speculate.

For time sensitive

[2022-01-13 14:13] fweimer-rh commented on #1696
Is there anything I can to do to help with moving this forward? Thanks.

[2022-01-14 00:04] #721 closed

[2022-01-14 00:04] #741 closed

[2022-01-14 00:04] #700 closed

[2022-01-14 00:04] #720 closed

[2022-01-14 08:58] kuailelijuan commented on #1719
kernel : Linux version 4.18.0
i execute "strace -fo strace.log -s 1024 " get the following log :

10354 16:41:43 restart_syscall(<... resuming interrupted call ...> <unfinished ...>
10354 16:42:04 <... restart_syscall resumed> ) = -1 ETIMEDOUT (Connection timed out)
10354 16:42:04 futex(0x7f0e6c002eb8, FUTEX_WAKE_PRIVATE, 1) = 0
10354 16:42:04 futex(0x7f0e6c002c54, FUTEX_WAIT_BITSET_PRIVATE, 17241

[2022-01-14 08:59] kuailelijuan commented on #1719
thanks.

[2022-01-14 10:00] rst0git commented on #1719
[crun](https://github.com/containers/crun) does support time namespace (https://github.com/containers/crun/pull/257) and container checkpoint/restore, but Adrian is right. So far we have not seen many discussions about it.

[2022-01-14 17:23] PavloMykhailyshyn commented on #1716
I recently faced the same problem.
How can I overcome this problem in case of dumping several processes (e.g. ~500)?
My application needs to traverse some running processes and dump them. After the reboot application restores created dumps automatically.
What is the best practice in such a case? How can I achieve my goal?
dump
`/usr/sbin/criu dump --images-dir /var/images/image1143123 --shell-job

[2022-01-14 17:29] PavloMykhailyshyn commented on #1716
if I do not provide `--shell-job` the CRIU fails
The root process 1143123 is not a session leader. Consider using --shell-job option

[2022-01-14 17:32] PavloMykhailyshyn commented on #1716
dumping processes one by one would be a performance bottleneck

[2022-01-14 18:41] PavloMykhailyshyn commented on #1716
so as I understand correctly, the main reason why CRIU fails is due to doing a lot of dumps/restores simultaneously.
Am I right?

[2022-01-15 00:04] #581 closed

[2022-01-15 00:04] #570 closed

[2022-01-15 00:04] #574 closed

[2022-01-15 00:04] #561 closed

[2022-01-15 10:28] kkors commented on #1716
The error persists even without reboot and without trying to dump many processes. In fact I implemented an example where I tried to dump only one process:

example.sh:
[code]
 which basically only writes 'hello world' to example.txt, waits 120sec, then adds 'foobar'

c_example shall dump the process inside the cp_dir directory while it is waiting:
[code]

then r_example.sh restores the process so

[2022-01-15 10:33] adrianreber commented on #1716
Why are you using a cronjob to restore the processes after reboot?

[2022-01-15 10:36] kkors commented on #1716
For the real use case I want to use criu in I need to automate the process (it needs to happen right after every reboot) and I figured using a cronjob to do it would be the best option.

[2022-01-15 11:33] adrianreber commented on #1716
Try it with a systemd oneshot service. I am pretty sure that worked for me. cronjob seems strange.

https://www.redhat.com/en/blog/using-criu-upgrade-vpn-servers-kernel-without-dropping-connections

[2022-01-15 11:35] adrianreber commented on #1716
No, in that article I used rc.local which is probably run by a systemd oneshot service.

[2022-01-15 14:21] adrianreber opened #1722 "Rust bindings for CRIU"
I created rust bindings for CRIU and I pushed them temporarily to https://github.com/adrianreber/rust-criu

@nviennot as criu-image-streamer is in Rust, maybe you could have a look at my code. If it makes sense so far.

I tried to follow what we have done in go-criu and provide a similar interface in Rust. The main difference to the Go bindings is that I do not plan to expose the RPC interface dir

[2022-01-16 00:04] #583 closed

[2022-01-16 00:04] #557 closed

[2022-01-16 00:04] #552 closed

[2022-01-16 00:04] #544 closed

[2022-01-16 00:04] #531 closed

[2022-01-16 00:04] #524 closed

[2022-01-16 00:04] #520 closed

[2022-01-16 00:04] #513 closed

[2022-01-17 00:04] #500 closed

[2022-01-17 00:04] #504 closed

[2022-01-17 00:04] #497 closed

[2022-01-17 00:04] #499 closed

[2022-01-17 00:04] #489 closed

[2022-01-17 00:04] #494 closed

[2022-01-17 00:04] #475 closed

[2022-01-17 00:04] #480 closed

[2022-01-17 09:20] PavloMykhailyshyn commented on #1716
I will explain the problem in more detail
 I have a systemd service that runs on system startup.
 This service starts CRIU after receiving appropriate events from the network.
 After that, this service goes through all processes and finds corresponding ones for the dump.
 This service launches CRIU for each process simultaneously.
 When all dumps are complete, the service ends. The system gets reb

[2022-01-17 09:40] adrianreber commented on #1716
I at least don't know, sorry. Never heard of a use case like yours before.

[2022-01-17 14:42] adrianreber opened #1725 "GCC 12 breaks CRIU"
Fedora rawhide switched to GCC 12 and CRIU build fails at least on aarch64, ppc64le and x86_64:
[code]

If I understand the error correctly it seems the parasite code links to an external `strlen()`. I have not seen this myself but I only got a report from an automated system. Opening it here for easier tracking.

[2022-01-17 22:37] PavloMykhailyshyn commented on #1716
I tried to dump every process one by one and then performed a restore exactly in the same manner.
The same error occurred :(
I do not really understand how can this problem be resolved.
`Error (criu/pstree.c:401): Current gid 2443411 intersects with pid (255) in images`
What else can you suggest to solve this issue?

[2022-01-18 00:04] #474 closed

[2022-01-18 00:04] #470 closed

[2022-01-18 00:04] #472 closed

[2022-01-18 00:04] #465 closed

[2022-01-18 00:04] #469 closed

[2022-01-18 00:04] #459 closed

[2022-01-18 00:04] #456 closed

[2022-01-18 00:04] #458 closed

[2022-01-18 00:04] #451 closed

[2022-01-18 00:04] #452 closed

[2022-01-18 00:04] #441 closed

[2022-01-18 00:04] #444 closed

[2022-01-18 00:04] #437 closed

[2022-01-18 00:04] #439 closed

[2022-01-18 16:43] adrianreber commented on #1725
And a second GCC 12 error:
[code]

I have a fix for that.

I mentioned the `strlen()` problem on the Fedora development list https://lists.fedoraproject.org/archives/list/devel@lists.fedoraproject.org/message/DZ3O3VZRR2EYM372SFX4IRFYPKKZW7F5/

[2022-01-19 00:04] #432 closed

[2022-01-19 00:04] #433 closed

[2022-01-19 00:04] #429 closed

[2022-01-19 00:04] #430 closed

[2022-01-19 00:04] #427 closed

[2022-01-19 00:04] #423 closed

[2022-01-19 00:04] #425 closed

[2022-01-19 06:25] rushi47 commented on #1702
[Update] Reached till parasite code, trying to figure it out -

[code]

[2022-01-19 12:47] PavloMykhailyshyn commented on #1716
basically, I did not say one important thing
this service dumps and restores processes spawned by itself.
so setsid for newly forked processes fixed the problem

[2022-01-19 15:20] Snorch commented on #1655
I believe it can be closed, as just bad options were provided (inheriting and restoring as external same exact tty).

[2022-01-19 15:20] #1655 closed

[2022-01-19 21:29] adrianreber commented on #1696
This is the announcement of CentOS 9 also wanting to switch to rseq: https://lists.centos.org/pipermail/centos-devel/2022-January/120153.html

[2022-01-20 00:03] #394 closed

[2022-01-20 00:03] #401 closed

[2022-01-20 00:03] #374 closed

[2022-01-21 00:04] #364 closed

[2022-01-21 00:04] #368 closed

[2022-01-21 00:04] #357 closed

[2022-01-21 00:04] #361 closed

[2022-01-21 00:04] #355 closed

[2022-01-21 00:04] #354 closed

[2022-01-21 00:04] #352 closed

[2022-01-21 00:04] #353 closed

[2022-01-22 06:14] rst0git commented on #1725
@adrianreber I think we can close this issue

[2022-01-22 17:09] kkors commented on #1716
@adrianreber Thank you for the suggestion, I tried it that way but I get the exact same error as before:
`Error (criu/pstree.c:401): Current gid 815 intersects with pid (255) in images`

Same problem: When I run it manually everything works. When I try to automate it and the systemd service calls the script right after reboot I get this error.

[2022-01-22 17:27] kkors commented on #1716
The gid number always changes in this error but the pid (255) in images is always the same.

[2022-01-23 00:06] #316 closed

[2022-01-23 00:06] #326 closed

[2022-01-24 00:05] #264 closed

[2022-01-24 00:05] #268 closed

[2022-01-24 00:05] #245 closed

[2022-01-24 00:05] #256 closed

[2022-01-24 00:06] #234 closed

[2022-01-24 00:06] #239 closed

[2022-01-24 00:06] #226 closed

[2022-01-24 20:45] #1725 closed

[2022-01-25 00:04] #147 closed

[2022-01-25 00:04] #196 closed

[2022-01-25 00:04] #132 closed

[2022-01-25 00:04] #131 closed

[2022-01-25 00:04] #129 closed

[2022-01-25 00:04] #130 closed

[2022-01-25 00:04] #128 closed

[2022-01-25 07:08] mrc1119 commented on #1099
Thank you!  I used libvirttime to solve the problem of monotonic clock synchronization across hosts！

[2022-01-25 08:51] nviennot commented on #1099
Glad to hear ☺️

[2022-01-25 09:09] Snorch commented on #1716
Let's call this "external session" problem. There are other ways except --shell-job to handle these error, criu error just offers the simple one, but it does not mean that this simple one works in all the cases.

If you get `The root process <pid> is not a session leader. Consider using --shell-job option` choose one of:

1) add --shell-job so that external session dependency is autoresolved
2) in

[2022-01-26 00:04] #127 closed

[2022-01-26 00:04] #126 closed

[2022-01-26 00:04] #123 closed

[2022-01-26 00:04] #124 closed

[2022-01-26 00:04] #105 closed

[2022-01-26 12:53] kkors commented on #1716
@Snorch Can you maybe explain your second approach to solving the "external session" problem (getting rid of external dependencies) in reference to how I could implement it in my example.sh program?

[2022-01-26 15:29] rushi47 commented on #1702
@mihalicyn hey alex will you be able to help me, with assembly for parasite code injection. I am bit confused with, how it's done for riscv

[2022-01-27 00:05] #594 closed

[2022-01-27 07:19] OwlCoHome opened #1729 "How to use CRIU to track memory changes and produce incremental dumps on ARM"
hi，
I want to use CRIU to track memory changes and produce incremental dumps on ARM，When I run criu check --all，the results are as follows
![image](https://user-images.githubusercontent.com/31887603/151137535-895ac596-a846-4f47-8218-82fbe1f85cb0.png)
My kernel version is linux 5.10.87,and the kernel does not support CONFIG_MEM_SOFT_DIRTY setting to Y because  CONFIG_MEM_SOFT_DIRTY depends on HAVE_

[2022-01-27 07:22] adrianreber commented on #1729
You are out of luck. Nobody implemented MEM_SOFT_DIRTY for ARM. As far as I know it only works on x86_64, ppc64le and s390x.

Somebody needs to implement it in the Linux kernel for ARM.

[2022-01-27 11:18] adrianreber opened #1731 "Another GCC 12 related error (probably)"
It seems we are seeing a new GCC 12 related compile error in Rawhide:
[code]

[2022-01-27 13:31] rst0git commented on #1731
@adrianreber I have a patch for this issue in https://github.com/checkpoint-restore/criu/pull/1581

[2022-01-27 13:38] rst0git commented on #1729
and mips: https://github.com/torvalds/linux/commit/2971317ab04a38e34be5f4d62a65000b63857686

[2022-01-27 13:45] adrianreber commented on #1731
Probably. As this is breaking CI it would be good to have a quick fix.

[2022-01-27 17:18] adrianreber opened #1734 "CI test failure: Error (compel/arch/x86/src/lib/infect.c:315): Can't set xstate for 52: Invalid argument""
There are new error injection errors in CI:
[code]

On following CPU:
[code]

https://cirrus-ci.com/task/6101075387219968

[2022-01-27 21:58] new-sashok724 opened #1735 "Error when restoring same process in multiple containers simultaneously with host network namespace"
Hello! I am running multiple copies of application (from same dump) in different Podman containers. When i try to restore them simultaneously (not one after another, but concurrently), CRIU sometimes fails to bind abstract unix socket because it is bound by some other CRIU instance in different container, but same host network namespace. This bug happens only with `--network=host`.

**Steps to rep

[2022-01-28 07:46] Snorch commented on #1716
Let me illustrate it by taking your unchanged example.sh

[code]

Try 1:

[code]

Hm, external tty => let's just close standard io fds.

Try 2:

[code]

Hm, they ask us to use --shell-job, but we are smart and want instead to get rid from external session.

Try 3:

[code]

Dumped fine, let's try restore.

[code]

All restored fine. So at least on bash it can be done by setsid + /dev/null fd redire

[2022-01-28 11:04] #1731 closed

[2022-01-29 00:45] PavloMykhailyshyn commented on #1716
Should I be concerned about these errors?
`sh: 0: getcwd() failed: No such file or directory`
`Error (criu/image.c:475): Unable to open stats-restore: No such file or directory`
It happens during the restore (the process successfully restored)
I`m doing it with the help of criu-ns

[2022-01-29 13:36] PavloMykhailyshyn commented on #1716
I noticed one strange error
when i run the dump with criu and it succeeds, criu returns 0
but when i run criu-ns and it succeeded too but the return code is now 5
I checked the logs for both criu and criu-ns everything is the same (dump successful)
How can I tell if a process has completed successfully?

[2022-01-29 13:37] PavloMykhailyshyn commented on #1716
@Snorch Can you help please?

[2022-01-31 16:10] PavloMykhailyshyn opened #1739 "criu-ns returns non-0 exit code after successful dump"
I noticed one strange error
when I run the dump with criu and it succeeds, criu returns 0
but when I run criu-ns and it succeeds too - return code is now 5
I checked the logs for both criu and criu-ns everything is the same (dump successful)

[2022-02-01 00:04] #16 closed

[2022-02-01 13:24] PavloMykhailyshyn commented on #1739
@rst0git you did a mistake here
[code]
Instead of passing **criu_pid** to the function `_wait_for_process_status(PID)` you passed PID of the dumping process
that is why criu-ns always returns 5 (-251)

[2022-02-01 13:47] rst0git commented on #1739
@PavloMykhailyshyn Thank you for pointing this out. I've opened a pull request with a fix: https://github.com/checkpoint-restore/criu/pull/1740

[2022-02-01 13:55] Snorch commented on #1716
Just for history, was a separate issue, handled here https://github.com/checkpoint-restore/criu/issues/1739

[2022-02-01 16:54] rst0git commented on #1380
This error appeared again in the Arch linux CI test:
https://github.com/checkpoint-restore/criu/runs/5024046683?check_suite_focus=true

Full log from CI: [logs.txt](https://github.com/checkpoint-restore/criu/files/7980366/logs.txt)

[code]

[2022-02-03 12:54] PavloMykhailyshyn commented on #1716
@Snorch  and @rst0git I would kindly ask you to shed a light on this
What to do if a dump or restore takes too long
e.g. more than 10 minutes (if criu is waiting in an infinite loop or something weird happens)
That's why I'm interested in killing the criu process in order to be able to proceed with other tasks that my program is doing.
If I encountered such a situation, what kind of signal can I s

[2022-02-03 13:00] adrianreber commented on #1722
@avagin Can you create a rust-criu project under checkpoint-restore.

I have a working checkpoint support PR for youki open and would like to move the rust-criu bindings away from my personal account to checkpoint-restore: https://github.com/containers/youki/pull/641

[2022-02-03 13:01] adrianreber commented on #1716
@PavloMykhailyshyn did you try `kill -9`. That works for me if CRIU hangs during debugging.

[2022-02-03 13:07] PavloMykhailyshyn commented on #1716
The main question here is what is the safest way to interrupt criu in case something weird happens (as you said criu hangs)?
So the criu is possibly able to free some resources or etc.
SIGKILL sounds like a last chance :)

[2022-02-03 13:15] PavloMykhailyshyn commented on #1716
If there's only one way to end criu while it's hanging is SIGKILL, is it safe to do that? (during dump and restore)

[2022-02-03 13:24] adrianreber commented on #1716
Anything specific you are thinking about? The dump and restore would be unsuccessful, but not unsafe. Still not sure what it means :wink:

[2022-02-03 13:32] PavloMykhailyshyn commented on #1716
I do not know the internals of criu, but my concern is e.g. criu tries to restore and it hangs when the process is half restored.
I killed criu. How about this half restored process? What about their resources and so on. (OS will clean everything up?)

[2022-02-05 00:04] #1223 closed

[2022-02-05 01:17] #1739 closed

[2022-02-05 19:38] l29ah commented on #441
I'm observing the same problem with a /dev/input node on criu-3.16.1:
[code]

[2022-02-06 12:54] kkors commented on #1716
@Snorch Thank you this worked for me and not using the --shell-job option actually also resolved the 'pid-collision' error when trying to call criu restore at boot. Would consider my issue fixed.

[2022-02-06 13:38] Drmitakaushik opened #1743 "Unable to checkpoint openvpn connections in RAN(Radio acess network)"
**Description**

Unable to restore openvpn connection between Centralised unit ,Core network and Distributed unit.The checkpoint/dumping is working fine but while restoring it is unable to call the restore function as a result restoration is failing

**Steps to reproduce the issue:**
1.Create openvpn connection between CU ,DU and core network
2.Run the hss,mme and spgw.Launch CU in ubuntu 18.04 co

[2022-02-06 13:47] rst0git commented on #1743
@Drmitakaushik I believe a similar problem was reported in this issue: https://github.com/checkpoint-restore/criu/issues/838

[2022-02-07 09:23] #1716 closed

[2022-02-07 14:55] wladmis opened #1744 "criu: TEXTREL entry on 32bit armh"
After build criu 3.16.1 with enabled PIE on 32bit armh verify-elf found TEXTREL entry in the criu binary

https://git.altlinux.org/tasks/291551/logs/events.5.1.log

    [armh] either the file containing the function 'code_syscall' or the file containing the function '' is not compiled with -fpic/-fPIC
    [armh] verify-elf: ERROR: ./usr/sbin/criu: TEXTREL entry found: 0x00000000
    [armh] verify-

[2022-02-07 15:05] adrianreber commented on #1744
Which compiler flags and compiler are you using. For Fedora we have to remove certain flags from the build to make CRIU work.

Is this new with 3.16.1?

[2022-02-07 15:21] wladmis commented on #1744
ALT GCC 11, which enables -Wformat=2 -Wformat-security -Wtrampolines -D_FORTIFY_SOURCE=2 -fstack-protector-strong -fstack-clash-protection by default unless some explicitly disabled (I see, for example, -fno-stack-protector in the build logs in some places).

According the logs, these additional flags were added:

    export 'CFLAGS=-pipe -frecord-gcc-switches -Wall -g -O2  -fomit-frame-pointer -m

[2022-02-07 15:38] adrianreber commented on #1744
For Fedora we use:
[code]

`-fstack-protector-strong` breaks CRIU

[2022-02-07 15:50] adrianreber commented on #1744
runtime

[2022-02-08 00:26] 108anup commented on #860
Hey was facing a similar issue. I am guessing I need to update the kernel based on the thread, is that correct?

OS: Ubuntu 18.04.4
kernel: 5.3.0-1034-azure (this is on an azure machine)
CRIU version: 3.6 (installed from ppa)
docker version: 20.10.7

cmds:
[code]

tail of the log:
[code]

[2022-02-08 18:12] 108anup opened #1745 "Cannot checkpoint container (which writes to directory mounted using -v flag)"
**Description**
I am facing issues with check-pointing a container that writes to a mounted directory. If I run the checkpoint before the container dirties the mounted path, then the checkpoint succeeds. But if I make the checkpoint after dirtying, then the checkpoint fails.

I am not sure if criu even handles or is supposed to handle mounted directories. E.g., at restore time would it change the

[2022-02-08 18:23] adrianreber commented on #1745
It says to use `--tcp-established`. Try that. I guess that docker does not expose this option to the user. Either use a criu configuration file to enable `--tcp-established` or try Podman. Podman has better checkpoint/restore integration and exposes `--tcp-established`.

The error is completely unrelated to writing to directories. It is just about established TCP connections.

[2022-02-08 20:18] 108anup commented on #1745
Thanks. I will try criu config and/or podman.

I was still curious on how check-pointing is done for dirty files in mounted directories as the semantics might be application dependent.

[2022-02-08 20:20] adrianreber commented on #1745
Everything which is outside of the container has to be handled by the user. Everything inside the container, in the case of podman, is handled by podman. Docker does not handle changed files automatically.

[2022-02-08 23:20] 108anup commented on #1745
I am able to checkpoint the container but the the restore fails now.
The restore is not able to find a local file. I would imagine that criu would checkpoint all local files needed.

**Error message:**
[code]

**Error log tail:**
[code]

**What I do for mounted files:**
I mount a directory at `/gatk/mnt` for input/output files. (e.g., `-v ~/main/genomics/mnt:/gatk/mnt/`)
Then copy the mounted dir

[2022-02-08 23:33] 108anup commented on #1745
From this: https://github.com/checkpoint-restore/criu/issues/293, it would seem that I need to:
[code]

The issue mentioned is 3 years old, it says that criu does not support automatic checkpointing of paused containers (unable to automatically detect if container is paused). Is that still the case? If I always checkpoint paused containers, can I specify some config for criu to work?

[2022-02-09 00:16] 108anup commented on #1745
Also how would I restore the checkpoint. This https://github.com/checkpoint-restore/criu/issues/293 says to create a new container from the image and restore the checkpoint on that created container.

But docker start does not support a checkpoint-dir option anymore. I.e., it would maintain its own mapping between container and checkpoint. So how would I restore checkpoint (taken on container A) o

[2022-02-09 06:43] rst0git commented on #1743
As far as I know, CRIU does not yet have support for sctp connections (https://github.com/checkpoint-restore/criu/issues/321, https://github.com/checkpoint-restore/criu/issues/974)

[2022-02-09 07:18] adrianreber commented on #1745
You are asking a lot of questions at the same time which makes it a bit difficult to answer.

Anyway, please try Podman. That should solve most your problems.

[2022-02-11 16:51] avagin commented on #1722
https://github.com/checkpoint-restore/rust-criu

[2022-02-11 18:11] avagin commented on #1735
I think https://github.com/avagin/criu/commit/43e3e68e5609b2eed7016091ff7ba89cbfd9cfcd has to fix this issue. Could you try it out?

[2022-02-13 00:06] #1334 closed

[2022-02-14 04:17] kuailelijuan opened #1748 "Unable to open socket file"
**Description**

1. start any java process
2. jstack $PID
3. restore a java process by criu
4. jstack $PID again, an error occurred

535: Unable to open socket file: target process not responding or HotSpot VM not loaded
The -F option can be used when the target process is not responding

this is because criu does not handle unix domain sockets

[2022-02-14 06:53] avagin commented on #1748
CRIU restores unix domain sockets. Could you show lsof -p PID before dump and after restore?

[2022-02-14 07:00] kuailelijuan commented on #1748
lsof -p 535|grep .java
java    535 admin  txt    REG             253,47       7734    4197247 /home/export/servers/jdk1.8.0_60/bin/java
java    535 admin  mem    REG             253,47     225499   41950226 /home/export/servers/jdk1.8.0_60/jre/lib/amd64/libjava.so
java    535 admin  179u  unix 0xffff8b12eecf5e80        0t0 3233858441 /tmp/.java_pid204.tmp

/tmp/.java_pid204.tmp  ,this file is a un

[2022-02-14 07:00] avagin commented on #1719
It isn't required. CRIU can restore processes in a new time namespace by default if the kernel allows doing that.

[2022-02-14 14:39] kkors commented on #1716
I would like to reopen the issue.
I tried running my program on a different system and it gives me two other errors during Restore.

The first one is `Error (criu/util.c:636): exited, status=1`
This one can happen during Restore and sometimes during Checkpoint too although not as often.

The second one is
[code]
This obviously happens during Restore with the number 1742 being the PID of the checkp

[2022-02-14 15:38] adrianreber commented on #1716
We cannot say much about the first error without the full log using `-v4`.

The second error is because another process is already using the PID. This is the classical PID collision problem that can happen with CRIU. This error only happens during restore. Not much you can do about it besides starting process in PID namespaces or containers.

Not sure what you are tying to say? Why does it not mak

[2022-02-14 16:08] avagin commented on #1748
@kuailelijuan could you show lsof -p PID after restore?

[2022-02-14 16:58] adrianreber commented on #1722
Thanks.

[2022-02-14 16:58] #1722 closed

[2022-02-15 00:23] kkors commented on #1716
Ok, so for the `Error (criu/util.c:636): exited, status=1`Error I will provide a full log using -v4 for one restore in which it happened. The attached file contains the error log.
[ErrorMessage.txt](https://github.com/checkpoint-restore/criu/files/8064756/ErrorMessage.txt)
The error seems to happen pretty early in execution and oddly enough at the end it says that the Restore finished successfully

[2022-02-15 01:46] kuailelijuan commented on #1748
Here I show some lsof -p PID data after restore,  as follows:
lsof -p 535|grep .java
java 535 admin txt REG 253,47 7734 4197247 /home/export/servers/jdk1.8.0_60/bin/java
java 535 admin mem REG 253,47 225499 41950226 /home/export/servers/jdk1.8.0_60/jre/lib/amd64/libjava.so
java 535 admin 179u unix 0xffff8b12eecf5e80 0t0 3233858441 /tmp/.java_pid204.tmp

I can confirm that the problem must be relat

[2022-02-15 01:53] avagin commented on #1748
@kuailelijuan Could you run ls -l /tmp/.java_pid204.tmp and show its output?

The strace output for jstack after restore will be helpful too:
strace -f -s 1024 jstack $PID

[2022-02-15 06:28] kuailelijuan commented on #1748
ls -lrth /tmp/.java_pid204.tmp
ls: 无法访问/tmp/.java_pid204.tmp: 没有那个文件或目录

ls -lrth /tmp/.java_pid204
ls: 无法访问/tmp/.java_pid204: 没有那个文件或目录

strace -f -s 1024 jstack 535
[pid 619255] futex(0x7f7f3c132028, FUTEX_WAKE_PRIVATE, 1) = 0
[pid 619255] futex(0x7f7f3c132054, FUTEX_WAIT_BITSET_PRIVATE, 1, {24517558, 384192418}, ffffffff) = -1 ETIMEDOUT (Connection timed out)
[pid 619255] futex(0x7f7f3c132028,

[2022-02-15 09:17] adrianreber commented on #1716
Yes. That is no real error. Something failed during early feature detection. CRIU tries to load netfilter modules to test for certain functions. This only happens during the first run after a boot as long as `/run/criu.kdat` does not exist.

It should not. If there is a PID collision it will abort.

It cannot. I assume from your previous comments that "sometimes" means during some boot up cycles i

[2022-02-15 15:56] avagin commented on #1748
Pls, provide exact steps for how you dump/restore these processes and attach criu logs to this issue. Do you restore processes in a new pid namespace?

If you can provide steps for a minimal reproducer, it will significantly speed up the investigation.

[2022-02-15 18:28] adrianreber commented on #1745
@108anup Did you have a chance to try Podman? Please close this ticket if it works for you.

[2022-02-15 18:33] #1745 closed

[2022-02-15 18:34] adrianreber commented on #1745
Yes, I am pretty sure that it is a Docker problem.

If you have any more questions please ask. Probably best to open a new ticket.

[2022-02-15 18:37] #1735 closed

[2022-02-15 18:45] rst0git commented on #1745
@108anup there is an issue (https://github.com/moby/moby/issues/37344) and a pull request (https://github.com/moby/moby/pull/41031) for this feature

[2022-02-15 19:55] #1533 closed

[2022-02-16 00:38] Mohsen7s opened #1751 "Github Workflow Action [criu failed: type NOTIFY errno 0 ]"
Looks like we cant use criu on github actions. Is there any workaround to fix it ?

Logs:
[code]

Command :
```docker checkpoint create --leave-running=false $(docker ps -q) cp0```

[2022-02-16 05:20] adrianreber commented on #1751
We are using GitHub Actions a lot with CRIU. Still seems to work for us. We would need the log file to understand what is going on.

[2022-02-16 23:50] Mohsen7s commented on #1751
I am really sorry, I used the docker-compose to create and run container while I had to use docker. This fixed the problem

[2022-02-16 23:50] #1751 closed

[2022-02-17 00:03] #1338 closed

[2022-02-17 09:45] kkors commented on #1716
Ok, I resolved the error.

My problem was slightly different than from what you described but it was a misbehaviour of my program and not of CRIU.
(in fact I resolved the problem as I was writing a reply and I got a new idea to try something different so indirectly you helped me nonetheless, thank you)

[2022-02-17 10:06] adrianreber commented on #1716
Good that you found a solution.

[2022-02-18 14:00] Snorch commented on #1705
Sorry in advance if I'm asking something obvious.

Am I right that this approach with switching from preadv to mmap would make mappings, which were anonymous before c/r, become file mappings after c/r with backing file referring to criu image file?

[2022-02-18 14:31] Yangfisher1 commented on #1705
I chose to use a hybrid way to solve this problem, because the zdtm test would check these state. I have already made a pull request #1711 , but there're still few bugs need to fix.

[2022-02-20 00:05] #133 closed

[2022-02-20 22:15] eliams commented on #340
The links in the issue are no longer valid

[2022-02-21 00:01] rst0git commented on #340
The file [`lib/py/images/images.py`](https://github.com/checkpoint-restore/criu/blob/criu-dev/lib/py/images/images.py) contains code duplication.

[2022-02-21 13:31] zouyonghao opened #1753 "CRIU can't checkpoint a strace process?"
**Description**

**Steps to reproduce the issue:**
1. run a process with strace
2. try to checkpoint the process

**Describe the results you received:**

[code]

**CRIU logs and information:**

<details>
<summary>
</summary>
<p>

[code]

</p>
</details>

[2022-02-21 13:38] zouyonghao commented on #1753
Got it, thanks.

[2022-02-21 13:38] #1753 closed

[2022-02-22 12:36] zouyonghao commented on #1753
Sorry to bother, but I still want to know the reason, a very simple explanation would be enough. Thanks!

[2022-02-22 13:12] adrianreber commented on #1753
strace uses ptrace and CRIU also needs ptrace. As far as I know only one process can be attached to ptrace.

[2022-02-23 00:08] Wosch96 opened #1754 "Error when dumping singularity container"
Hello guys,

I'm trying to checkpoint and restore a singularity container with criu. I get an error when dumping the container and maybe you could help me out.  I'm running criu with the following command when trying to dump the container.

`
criu dump -o dump.log -v4 -t 7209   -D ./ --ext-mount-map /etc/resolv.conf:/etc/resolv.conf   --ext-mount-map /etc/hosts:/etc/hosts   --ext-mount-map /etc/ho

[2022-02-23 07:31] #1720 closed

[2022-02-24 17:41] Wosch96 commented on #1754
Just FYI: I'm running singularity-ce version 3.9.5 so the newest one.  Did the checkpointing work with older versions?

Cheers.

[2022-02-24 17:49] adrianreber commented on #1754
I am not aware that CRIU ever worked with singularity. No one spoke to us about singularity.

[2022-02-24 17:51] adrianreber commented on #1754
For crun and runc we have integration of CRIU directly in the container runtime. Checkpointing without the help of the container runtime is always challenging.

[2022-02-24 18:06] Wosch96 commented on #1754
Yeah, I heard about that. I'm doing this for my own project to get CRIU running with singularity. This issuer here tried the same, but he found a way to solve it. The problem in my case is a little different and could be related to the newer version of singularity.

[2022-02-25 07:49] Snorch commented on #1754
This looks like a file mapping on detached mount (known problem).

E.g. I can reproduce the same error with a simple bash script in Virtuozzo container:
[code]
So if mount on which process has an open file was lazy-umounted criu just can't c/r this process, unless the file is closed.

[2022-02-25 09:15] rst0git commented on #1753
@zouyonghao Here is a link to the wiki page with more information about this:
https://criu.org/What_cannot_be_checkpointed#Tasks_with_debugger_attached

[2022-02-26 00:05] #1345 closed

[2022-02-26 00:05] #1318 closed

[2022-02-26 21:25] Wosch96 commented on #1754
So I should be able to run the container with these two commands specified? In my case there's not really a problem with a file or am I wrong there? Can I use these two commands --external file[] + --inherit-fd to bypass the lookup mount problem?

Thank you for the help.

[2022-02-28 17:15] Snorch commented on #1754
@Wosch96 please see examples and explanations about how and when `--external file[] + --inherit-fd` can be used to handle external files in this article https://criu.org/Inheriting_FDs_on_restore

In simple words file is external if it was not opened/mmaped inside container. This way criu can't find it inside container, and can't automatically restore it. in this situations the container manager w

[2022-03-01 01:23] predators46 commented on #747
is there a way to fix this?

[2022-03-01 13:07] Snorch commented on #441
@l29ah, Hi.

In the original report, unsupported device was ttyS0(4:64), and criu/tty.c criu has their support implementation, so problem was likely some bug in tty support implementation.

In your case though you have virtual input device (13:69) https://www.kernel.org/doc/html/v4.12/input/uinput.html, which is a different problem. Criu AFAICS does not have any special code to support such device

[2022-03-02 15:14] yzs981130 commented on #537
I encounter a similar problem (`Can't dump ghost file xxx of 1572864 size, increase limit`) when using podman checkpoint. Any ideas about how to pass the `--ghost-limit` option to podman? I found [how to set it in runc](https://www.redhat.com/zh/blog/podman-checkpoint-restore-and-sql-server-2019) for reference but no docs for podman. Thanks!

[2022-03-02 15:48] rst0git commented on #537
@yzs981130 Podman is using either runc or crun as OCI runtime. In other words, podman calls crun or runc, which then calls criu. To find out which one is used on your system you can check the output of `podman info`.

You can set the `ghost-limit` option with a [configuration file](https://criu.org/Configuration_files) as mentioned in the article you linked.
This could be `/etc/criu/default.conf`

[2022-03-02 16:52] huyhoang8398 opened #1756 "Error (criu/files-reg.c:1971): File usr/lib/x86_64-linux-gnu/libpthread-2.31.so has bad build-ID"
**Description**
Failed to restore workload with following error

(00.029087) 110495: Error (criu/files-reg.c:1971): File usr/lib/x86_64-linux-gnu/libpthread-2.31.so has bad build-ID
(00.029099) 110495: Error (criu/mem.c:1349): `- Can't open vma
(00.029791) Error (criu/cr-restore.c:2447): Restoring FAILED.

**Steps to reproduce the issue:**
1. sudo criu dump -t 110495 --images-dir ~/demo/images --s

[2022-03-02 17:03] huyhoang8398 commented on #1756
i tried to run it with root and here the new log
[code]

[2022-03-02 18:42] avagin commented on #1756
@huyhoang8398 File systems are not sync between machines. You have different versions of libc on them. The easiest way to handle this is to run your workload inside a container and migrate it with its storage.

[2022-03-07 14:52] elchead commented on #860
Had the same issue and got it to work on Ubuntu 21.04 LTS after performing a kernel upgrade through `sudo apt-get dist-upgrade` to version `5.11.0-1027-azure x86_64` (Ubuntu 22 did not work with kernel 5.13)

[2022-03-07 15:26] adrianreber commented on #860
Unfortunately we have also seen it being reintroduced by Ubuntu. Not much we can do.

[2022-03-07 15:37] lijunqiang123 opened #1757 "About to the speed of `criu dump` and `criu restore`"
Hello, I am using the tool `criu` to `dump` and `restore` some tcp-based programs, such as  `ftp`. I tested the speed of `dump` and `restore`. The result shows that the speed of `dump` is about 10-20ms, and the speed of `restore` is about 50-70ms.  `dump` is faster than `restore`. I wonder if the speed of `criu restore` can be further accelerated? Looking forworad your reply. Thank you!

[2022-03-07 17:19] rst0git commented on #860
@elchead  What is the error message you see with Ubuntu 22?

I noticed that Ubuntu 22.04 has upgraded to glibc 2.35:  https://github.com/checkpoint-restore/criu/issues/1696

[code]

[2022-03-08 04:21] avagin commented on #1757
@lijunqiang123 The answer is yes, it can be accelerated. Another question is how to accelerate it.  Someone has to make research and find what operations are most expansive and figure out how they can be optimized.
I would start with collecting and analyzing an output of "perf trace -f".

[2022-03-09 01:16] rst0git commented on #1757
@lijunqiang123 In this pull request @Yangfisher1 proposed to optimize restore by loading memory pages on-demand: https://github.com/checkpoint-restore/criu/pull/1711

[2022-03-09 09:54] Snorch opened #1760 "coverity CID 389210"
[code]
Obviousely both strcat() calls above and path[my_offset] access can be out of bounds if we choose long enough apparmor namespace name. We should probably have proper pre-checks here.

[2022-03-09 09:55] Snorch commented on #1760
CC: @tych0

[2022-03-09 15:12] Wosch96 commented on #1754
In my environment, I don't have a container manager, as I build a singularity container from scratch with a definition file and then try to checkpoint the application that I'm running inside this container.  Therefore I'm not really sure how to use the external files and --inherit-fd in my case. Could you clarify that? I read the acrticle about "inheriting FD's on restore" but it's my first time u

[2022-03-09 15:50] #1734 closed

[2022-03-09 16:14] avagin commented on #1754
@Wosch96 If you need to dump only one application and don't need to dump the container itself, it can be easier to run criu from the container and avoid all these problems with mounts and external fds.

[2022-03-10 12:25] superbu1234 opened #1766 "--ext-unix-sk"
I used criu in Ubuntu desktop version and called the desktop application. The following error occurred. What should I do?what is unix[id]?
![image](https://user-images.githubusercontent.com/49075156/157661187-ab073e83-90ee-49ab-8a93-be58447db8ea.png)

[2022-03-10 12:26] adrianreber commented on #1766
Please share the complete log file when running CRIU with `-v4` and tell us which application you are trying to checkpoint.

[2022-03-10 12:30] superbu1234 commented on #1766
gnome-calculator&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "checkpoint-restore/criu"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年3月10日(星期四) 晚上8:27
***@***.***&gt;;
***@***.******@***.***

[2022-03-10 12:32] adrianreber commented on #1766
You cannot checkpoint graphical applications which are accessing the GPU.

[2022-03-10 12:34] superbu1234 commented on #1766
Does criu not support it? Or how to achieve it?

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "checkpoint-restore/criu"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年3月10日(星期四) 晚上8:32
***@***.***&gt

[2022-03-10 12:44] adrianreber commented on #1766
It is complicated, but the short answer is that it is not supported to checkpoint applications accessing the GPU.

[2022-03-10 13:23] rst0git commented on #1766
You can use VNC: https://criu.org/VNC

[2022-03-10 17:17] avagin opened #1767 "Add tests and CI for amdgpu"
More details are in https://github.com/checkpoint-restore/criu/pull/1709#issuecomment-1063215491

[2022-03-10 17:21] dayatsin-amd commented on #1767
Thanks. We started working on it, we will post an ETA as soon as possible.

[2022-03-11 16:43] Snorch opened #1771 "coverity CID 389183 bind_on_deleted error handling seem to be badly broken"
[code]

Looking on the code of bind_on_deleted(), I see that after commit 483215ae0 ("sk-unix: make criu respect existing files while restoring ghost unix socket fd") we do not fail on errors, that seem to be wrong. Many `if (ret < 0) { return ret; }` were replaced with `goto` or `ret = smth` and effectively converted to `return 0` which is likely not what we want.

@azhadchenko Please take a look

[2022-03-14 11:13] lijunqiang123 opened #1773 "Dump a FTP program failed."
I used the criu restore C API to dump a FTP program, but failed.
[code]
 Here is the log:
[code]

[2022-03-14 11:20] adrianreber commented on #1773
Are you running it as root?

[2022-03-14 11:30] lijunqiang123 commented on #1773
Yes, I run it as root. And I used `criu dump` to take snapshots for the same program.  After many successes, this failure occurs.

[2022-03-14 16:34] avagin commented on #1754
@Wosch96 I recommend to look at how C/R is implemented in runc:
https://github.com/opencontainers/runc/blob/main/libcontainer/container_linux.go#L767-L1894

The most complicated part is how to handle external resources (mounts, file descriptors and etc).

[2022-03-14 19:25] adrianreber opened #1774 "cgroup related tests seem to be failing more often in CI"
[code]

Recently I have seen more test failures concerning cgroup in CI. CI seems to have changed to a 5.13 although I am not sure that is related.

The error is easy to reproduce and I can see it locally about 10% of the time.

It seems to not happen if I disabled the new mount API support.

I see that `ret = sys_fsconfig(fsfd, FSCONFIG_CMD_CREATE, NULL, NULL, 0);` sometimes returns `EBUSY`. I tr

[2022-03-14 19:42] avagin commented on #1774
@mihalicyn could you take a look at this?

[2022-03-14 21:40] Kadle11 commented on #1318
Any resolution to this? I am also getting an -EBADE.

Here is my dump.log
[code]

[2022-03-14 21:45] PavloMykhailyshyn opened #1775 "Dump fails with the error `All tasks in criu's cgroups. Nothing to dump.`"
I ran into a problem during process dump.
I am starting a process in a separate session using setsid
I use criu-ns to perform dump and restore.
The dump did not work as expected after several times of successful dumping and restoring the same process.
The dump fails with such log `All tasks in criu's cgroups. Nothing to dump`.
Everything works well before this failed dump.
What could be the reason

[2022-03-14 21:50] PavloMykhailyshyn commented on #1775
@Snorch and @rst0git

[2022-03-15 00:05] #1077 closed

[2022-03-15 05:21] Kadle11 opened #1776 "The process crashes when criu_dump() is called with error -EBADE."
**Description**
I am new to criu and this may be a configuration issue. I have seen this issue in a containerized environment, but I am not not using containers. I am trying to dump a normal process.

**Describe the results you received:**
The process crashes when it calls criu_dump() with error -EBADE.

**CRIU logs and information:**

<details><summary>CRIU full dump/restore logs:</summary>
<p>

[2022-03-15 08:29] adrianreber commented on #1776
Please try it without that module. Not sure what it does, but if it is not upstream we cannot really know what it does.

[2022-03-15 09:29] PavloMykhailyshyn commented on #1775
here are the logs for this particular failed dump
[logs.txt](https://github.com/checkpoint-restore/criu/files/8251858/logs.txt)

[2022-03-15 11:24] PavloMykhailyshyn commented on #1775
and I do not understand this comment
	/*
	 * Check whether root task lives in its own set as compared
	 * to criu. If yes, we should not dump anything. Note that
	 * list_is_singular() is slightly wrong here: if the criu cgset has
	 * empty cgroups, those will not be restored on the target host, since
	 * we're not dumping anything here.
	 */
Is everything ok in regards to this?

[2022-03-15 15:40] lijunqiang123 commented on #1773
[code]

[2022-03-15 15:46] adrianreber commented on #1773
We need more information. How are you restoring your process? Let us know the command-line arguments you are using.

Also, are you restoring on the same system or on another? Does the system have the same IP addresses?

[2022-03-15 16:05] lijunqiang123 commented on #1773
If I use `criu dump` to kill the program. Will this program continue to occupy the TCP port？

[2022-03-15 16:12] adrianreber commented on #1773
You need to check with `ss` or `netstat`.

[2022-03-15 16:17] avagin commented on #1775
"All tasks in criu's cgroups. Nothing to dump." is not an error message... I don't see any errors in the log, so we need to find a code path where we forgot to print an error.

[2022-03-15 16:22] avagin commented on #1775
[code]

"Running post-dump scripts" means that we dumped processes successfully.

[2022-03-15 16:33] avagin commented on #1776
It makes the kernel more secure and it can be a reason here.

[2022-03-15 17:55] #1776 closed

[2022-03-15 18:24] PavloMykhailyshyn commented on #1775
@avagin it didn't crash, but exited with a status code of 1 (probably, but the point is that it's not 0)

[2022-03-15 19:49] avagin commented on #1775
@PavloMykhailyshyn could you add more debug in the criu code and find out why it exits with a non-zero code?

[2022-03-15 19:59] PavloMykhailyshyn commented on #1775
What do you mean?
Add more logs and try to debug?

[2022-03-15 20:47] avagin commented on #1775
I mean something like this:
https://github.com/avagin/criu/commit/749ce82f16cf2be9ec3e07e8030a5c978d5f00e0

[2022-03-15 21:01] PavloMykhailyshyn commented on #1775
Thanks
Will try

pr_err - does this write info to the file with the provided argument —log-file?

[2022-03-15 21:06] avagin commented on #1775
You will see this messages in the log file.

[2022-03-15 22:49] rst0git commented on #1775
`criu` or `criu-ns` exit with status code of 1?

[2022-03-15 22:59] PavloMykhailyshyn commented on #1775
criu-ns
maybe it is a problem there

[2022-03-15 23:03] PavloMykhailyshyn commented on #1775
def _wait_for_process_status(criu_pid):
    """
    Wait for CRIU to exit and report the status back.
    """
    while True:
        try:
            (pid, status) = os.wait()
            if pid == criu_pid:
                return os.waitstatus_to_exitcode(status) <—- here
        except OSError:
            return -251

[2022-03-15 23:23] avagin commented on #1775
Could you collect perf trace and attach the perf.log to this issue:
perf trace --event signal:* --syscall -fo perf.log ./criu-ns [arguments...]

[2022-03-16 07:21] mrc1119 opened #1777 "mnt: Can't remove the directory... Device or resource busy"
Hello, everyone

I have a problem with a restore failure related to mount namespace.

I dumped the init process of a container on the host, the dump command is as follows:
./criu dump --ghost-limit=500M -D /export/sine/dump -j -R -t 15643 --tcp-close --skip-in-flight --external mnt[/etc/hosts]:hostsmount --external mnt[/etc/hostname]:hostnamemount --external mnt[/etc/resolv.conf]:reslovemount --ex

[2022-03-16 07:33] #1777 closed

[2022-03-17 01:27] mrc1119 opened #1778 "mnt: Can't remove the directory ... Device or resource busy"
Hello, everyone

I have a problem with a restore failure related to mount namespace.

I dumped the init process of a container on the host, the dump command is as follows:
./criu dump --ghost-limit=500M -D /export/sine/dump -j -R -t 15643 --tcp-close --skip-in-flight --external mnt[/etc/hosts]:hostsmount --external mnt[/etc/hostname]:hostnamemount --external mnt[/etc/resolv.conf]:reslovemount --ex

[2022-03-17 13:00] PavloMykhailyshyn commented on #1775
I found a workaround for such case
I just used an action script to determine if the dump was successful, no matter what exit code it returns.
also, restore was successful for such a dump
I don't know why the correct exit code is not being returned
and I don't have enough time to troubleshoot criu :(
Thanks

[2022-03-17 13:04] PavloMykhailyshyn commented on #1775
also, it is not so easy to reproduce
I have a complex system that dumps and restores multiple processes an infinite number of times every 2 minutes until they terminate on their own.

[2022-03-17 15:02] PavloMykhailyshyn commented on #1775
I caught it again
criu-ns returns 1 or 247, but dump successful (post-dump script succeeds)
the logs are exactly the same as I provided in this issue

[2022-03-17 15:43] avagin commented on #1775
We don't see "Dumping finished successfully" in logs, so I am not sure that criu exits with the zero code:
https://github.com/checkpoint-restore/criu/blob/criu-dev/criu/cr-dump.c#L1789

[2022-03-17 15:54] avagin commented on #1778
Cc: @Snorch

[2022-03-17 15:54] PavloMykhailyshyn commented on #1775
I understood this
what could be the reason?
Is it correct to ignore and rely to the finished 'post-dump' action script?

[2022-03-17 15:58] avagin commented on #1778
Could you show content of /proc/self/mountinfo from the container?

[2022-03-17 16:08] PavloMykhailyshyn commented on #1775
`and then you will see all fatal signals in the kernel log.`
what should I look for?

[2022-03-17 21:02] PavloMykhailyshyn commented on #1775
just see nothing for criu
maybe I'm looking elsewhere
where should I check such logs?

[2022-03-17 21:09] rst0git commented on #1775
(00.281735)     Unseizing 352481 into 2

`Unfreezing tasks into 2` means that criu executes the following code in `compel_resume_task()` with `pid=352481`
[code]

Then it runs the following in `pstree_switch_state()`:
[code]

It looks like something fails either in `pstree_wait()` or in:
[code]

Is it possible that something kills the criu process before it exits?

[2022-03-17 21:18] PavloMykhailyshyn commented on #1775
I have such functionality but it only kills criu if the process runs for more than 10 minutes (I mean criu process)
so it is not possible that something from my program kills it (every dump take less than 13 sec)

[2022-03-17 22:44] avagin commented on #1775
$ dmesg

[2022-03-17 22:50] PavloMykhailyshyn commented on #1775
there is nothing

[2022-03-17 23:00] avagin commented on #1775
Another way is how you can get more info:

You need to do  these preparation steps:
$ echo 'comm == "criu"' > /sys/kernel/debug/tracing/events/signal/signal_generate/filter
$ echo 1 > /sys/kernel/debug/tracing/events/signal/signal_generate/enable
$ echo 1 > /sys/kernel/debug/tracing/tracing_on

and then when you trigger the issue, you need to run this command:
$ cat /sys/kernel/debug/tracing/trace

[2022-03-18 00:34] mrc1119 commented on #1778
# cat /proc/self/mountinfo
228 151 8:5 /Data/docker/vfs/dir/abf103e20085e180c13cf82e303872c8d2b8789fdd3ae965d99786b1aa2e7d8c / rw,relatime master:27 - xfs /dev/sda5 rw,attr2,inode64,logbsize=256k,sunit=512,swidth=1536,noquota
229 228 0:51 / /proc rw,nosuid,nodev,noexec,relatime - proc proc rw
230 228 0:52 / /dev rw,nosuid - tmpfs tmpfs rw,mode=755
231 230 0:53 / /dev/pts rw,nosuid,noexec,relatime

[2022-03-18 02:20] mrc1119 commented on #1778
Another problem is that I find  there are a lot of directories mounted that I can't umount or delete.

none on /export/sine/dump/.criu.cgyard.JERpQV type tmpfs (rw,relatime)
none on /export/sine/dump/.criu.cgyard.JERpQV/memory type cgroup (rw,relatime,memory)
none on /export/sine/dump/.criu.cgyard.JERpQV/devices type cgroup (rw,relatime,devices)
none on /export/sine/dump/.criu.cgyard.JERpQV/freeze

[2022-03-18 10:02] elchead commented on #860
not sure yet which change broke it but I can further confirm that

kernel 5.4.0.1010.11 did not work, but 5.4.0-1068-azure does as stated above.
5.13.0.1017.19 also does not work (latest kernel available through azure on 20.04 LTS)

[2022-03-18 11:30] PavloMykhailyshyn commented on #1775
I see messages like this
[code]

[2022-03-19 16:04] avagin commented on #1775
I know what is going on here.

1. "criu-ns restore" creates a new pid namespace and executes "criu restore" there. The criu process (A) is the init process in the new pid namespace. It restores target processes and then it collects zombies and waits for the root target process. When the target process exits, criu exits too. But as it is the init process, it kills the pid namespace on exit.
2. "cri

[2022-03-19 16:43] avagin commented on #1775
hmm. criu waits for all processes in its pid namespace:
https://github.com/checkpoint-restore/criu/blob/afbfacaadb15dd1f01d4590d04ac59d4db1b1b5b/criu/cr-restore.c#L2142

[2022-03-19 17:05] avagin commented on #1775
I was wrong in the previous comment. criu dump (the process B) isn't a child of the criu process (A), so reap_zombies doesn't wait for it.

[2022-03-20 00:35] PavloMykhailyshyn commented on #1775
Soo
Does the problem exist?
Is this something that needs to be fixed on my side, or is it criu's fault?

[2022-03-20 00:38] avagin commented on #1775
Yes, the problem exists. CRIU is on your side, so you you need to fix it ;).

[2022-03-20 07:44] avagin commented on #1775
@PavloMykhailyshyn could you try out https://github.com/avagin/criu/commit/7ef19412acd5c76de3662f6239432cca7d23c5da. I think it has to fix the issue.

[2022-03-20 15:49] minhbq-99 commented on #1774
I try to investigate this issue and find out that in the error case

https://github.com/checkpoint-restore/criu/blob/cc4df23fa53429d351a79ba0217a4a3f3944759f/test/zdtm_mount_cgroups#L7

We find `zdtmtst.defaultroot` in /proc/self/cgroup so we exit and don't create new controller. However, later this controller is somehow deleted. Later `fsconfig(FSCONFIG_CMD_CREATE)` with the context name `zdtmtst

[2022-03-20 15:54] PavloMykhailyshyn commented on #1775
Nice try :)

Started my testing

[2022-03-20 17:41] avagin commented on #1778
On restore, you use  --external mnt[xxx]:yyy incorrectly. yyy should point on a host directory that will be bind-mounted into a container. For example, mydbmount has to be annotated like this mnt[mydbmount]:[host path to  /Logs/mydb].

[2022-03-20 17:42] avagin commented on #1778
You need to find what process holds them.

umount -l /export/sine/dump/.criu.cgyard.JERpQV/ should work.

[2022-03-20 17:45] avagin commented on #1774
hmm. can it be that another zdtm.py is running on the same host? In this case, https://github.com/avagin/criu/commit/9aba5ae055ac6e1c16ce1d74f2cbd86a0212b239 has to fix the issue.

[2022-03-21 07:28] Snorch commented on #1778
I agree with @avagin. The error "Error (criu/mount.c:2324): mnt: Can't mount at /tmp/.criu.mntns.0YG63d/12-0000000000/var/log/mydb: No such file or directory" happens when bind-mounting the external mount source ("/var/log/mydb") provided to criu in options. And it is caused by the absence of this source path on host.

Please read how external mounts work and in which cases they are applicable her

[2022-03-21 08:14] mrc1119 commented on #1778
Oh yes! You are all right, thank you very much! I followed your clues to solve all the problems. @Snorch @avagin

[2022-03-21 08:14] #1778 closed

[2022-03-21 08:26] PavloMykhailyshyn commented on #1775
I have done almost ~10 thousand dumps and restores and I did not catch errors when dumping.
Basically, all dumps ended with the correct exit code.

Probably the fix is working correctly

[2022-03-21 08:56] PavloMykhailyshyn commented on #1775
During this testing, I also noticed some errors while restoring (not that many, less than 10)

(00.015843)   6399: Error (soccr/soccr.c:529): Can't connect inet socket back: Cannot assign requested address
(00.015856)   6399: Error (criu/files.c:1200): Unable to open fd=4 id=0x18

(00.062892) pie: 537569: Error (criu/pie/restorer.c:1518): Can't restore 0x7fcb5c033000 mapping with 0xfffffffffffffff

[2022-03-21 15:23] #1774 closed

[2022-03-21 15:25] PavloMykhailyshyn commented on #1775
Also, it is impossible to check by exit code criu restore completion with the --restore-detached argument using criu-ns
What would you suggest in this case? To be able to check if the restore was successful I use the `post-resume` script.

You said

what about restore?

[2022-03-21 16:14] avagin commented on #1775
On restore, It should work.

[2022-03-21 19:39] #1766 closed

[2022-03-21 19:39] #1756 closed

[2022-03-22 00:40] #379 closed

[2022-03-22 09:30] YJ243 opened #1782 "Does the CRIU have an API or CLI that guarantee user-requested QoS (Quality of Service)?"
hi,
I'm looking for if CRIU has an API or CLI that guarantees the required I/O throughput (ex. 100MBps) requested by the user when checkpointing the processes.

@adrianreber  Please let me know...Thank you.

[2022-03-22 09:41] adrianreber commented on #1782
How does a user request the required I/O throughput? Not sure what you exactly mean.

[2022-03-22 09:59] YJ243 commented on #1782
First, I considered the following situation.
For example, in a distributed environment if I send a request to 100Mbs and it doesn't respond as expected, then the user can experience inconvenience.
The checkpointing job is to write image files to the storage like SSD. Therefore, if a user wants to receive a response 100mbps or 300mbps, it seems that QoS can be guaranteed by further utilizing more c

[2022-03-22 10:24] adrianreber commented on #1782
As far as I know nothing like this exists.

[2022-03-22 14:53] lijunqiang123 opened #1783 "Use `libsoccr` to restore a tcp socket failed."
Hello, I used the `libsoccr` to restore a tcp socket, but  failed. I checked the corresponding logs and found that there was an error when calling the `setsockopt` function. The returned errno is `operation not allowed`.  But I  run the program as `root`. I don't know the reason for this error.

[2022-03-22 15:18] YJ243 commented on #1782
Okay.. then CRIU does not show the throughput such as bandwidth and IOPS when checkpointing container jobs, right?

[2022-03-22 17:14] adrianreber commented on #1782
No. We only provide timing related statistics. See `podman container checkpoint --print-stats`.

Please close if there are no further questions.

[2022-03-22 22:47] #1782 closed

[2022-03-23 07:17] EgodPrime commented on #1783
It happens that I met the similar question....
My code save a TCP socket once, and try restoring servaral times.
**Here is part of my code:**
[code]

When I was calling `libsoccr_restore(so_rst, &data, dsize)` , it often fails as bellow:
**case 1:**
[code]
**case 2:**
[code]

[2022-03-23 08:01] PavloMykhailyshyn commented on #1775
probably this issue can be resolved

[2022-03-23 08:35] PavloMykhailyshyn opened #1784 "Restore fails with the error `Can't connect inet socket back: Cannot assign requested address` or `Can't restore 0x7f1164021000 mapping with 0xfffffffffffffff4`"
I ran into a problem during process restore.
I am starting a process in a separate session using setsid.
I use criu-ns to perform dump and restore.
The restore did not work as expected after several times of successful dumping and restoring the same process.
These errors are really rare, but it would be better to know what is going on there.

[Cant restore 0x7f1164021000 mapping with 0xfffffffffff

[2022-03-23 08:41] PavloMykhailyshyn commented on #1784
@avagin , @Snorch and @rst0git

[2022-03-23 11:22] NKHULLAHALLI opened #1785 "CRIU failed to find message queue mount point :Error (criu/files-reg.c:1690): Can't lookup mount=663"
**Description**

We have 2 process , parent and the child .
These two process having 120+ threads , 120+message queues , 120+domain socksts and also shared memory of 6+GB
 podman container checkpoint 09f4e990b10b
ERRO[0000] container is not destroyed
ERRO[0000] criu failed: type NOTIFY errno 0
log file: /var/lib/containers/storage/overlay-containers/09f4e990b10bb0b9f56d239a31e03b05344fc1b688b52afc

[2022-03-23 11:31] adrianreber commented on #1785
As mentioned in chat please add the dump.log and config.json as well as the content of /proc/PID/fdinfo/5 from the PID that failed dumping and /proc/PID/mountinfo

[2022-03-23 11:54] NKHULLAHALLI commented on #1785
Attached all those information

[2022-03-23 12:13] Wosch96 commented on #1754
Little update by my side, I got the dump running. I solved it like in this [issue](https://github.com/checkpoint-restore/criu/issues/600). But I'm still having a problem when restoring.

After running this command:
`strace -o strace.log -s 256 -f criu restore -o restore.log -v4 -D ./ --shell-job --root /home/node2/container/criu_checkpoints/criu_container_namespace --ext-mount-map /etc/resolv.conf

[2022-03-23 13:00] adrianreber commented on #1754
From how I understand the dump.log the original container had `/home/node2` mounted at `/home/node2` in the container.

For the restore it seems you are mounting `/home/node2/container/criu_checkpoints` at `/home/node2` and now it seems your binary is not there.

To fix the error it would be enough to just copy /home/node2/container/matMult to /home/node2/container/criu_checkpoints/node2/container

[2022-03-23 13:06] adrianreber commented on #1785
Can you also do a `grep "^663\>" /proc/*/mountinfo` and it would help to see `config.json` of the container you are trying to checkpoint.

[2022-03-23 13:18] adrianreber commented on #1785
What is the process with the PID 122497 in your container?

[2022-03-23 13:22] Wosch96 commented on #1754
@adrianreber Just for specifying the dump command. I used this command:
`criu dump -o dump.log -v4 -t 1581 -D ./ --shell-job --ext-mount-map /etc/resolv.conf:/etc/resolv.conf --ext-mount-map /etc/hosts:/etc/hosts --ext-mount-map /etc/hostname:/etc/hostname --ext-mount-map /var/tmp:/var/tmp --ext-mount-map /tmp:/tmp --ext-mount-map /root:/root --ext-mount-map /etc/localtime:/etc/localtime --ext-mou

[2022-03-23 13:35] adrianreber commented on #1754
Does it work if you try it? :wink:

I am confused, but shouldn't you be using it during restore like this: `--ext-mount-map /etc/resolv.conf:/etc/resolv.conf`? I am only using it via `--external` so maybe the older `--ext-mount-map` has different semantics. Not sure.

I would say you should tell CRIU to mount exactly the same directories at the same location during restore. I would expect that `--

[2022-03-23 14:31] Wosch96 commented on #1754
@adrianreber I tried your approach to set the ext-mount -map as before in dumping. First i shortended the dump command as some of the external mounts were not needed.
`criu dump -o dump.log -v4 -t 1268 -D ./ --shell-job --ext-mount-map /etc/group:/etc/group --ext-mount-map /etc/passwd:/etc/passwd --ext-mount-map /etc/resolv.conf:/etc/resolv.conf --ext-mount-map /var/tmp:/var/tmp --ext-mount-map /t

[2022-03-23 15:10] Wosch96 commented on #1754
Here it is:
`205 152 0:44 / / rw,nodev,relatime unbindable - overlay overlay ro,seclabel,lowerdir=/usr/local/var/singularity/mnt/session/overlay-lowerdir:/usr/local/var/singularity/mnt/session/rootfs
209 205 0:5 / /dev rw,nosuid master:107 - devtmpfs devtmpfs rw,seclabel,size=495600k,nr_inodes=123900,mode=755
210 209 0:18 / /dev/shm rw,nosuid,nodev master:110 - tmpfs tmpfs rw,seclabel
211 209 0:12

[2022-03-23 15:20] adrianreber commented on #1754
Could be. Try to mount `/usr/share/zoneinfo/Europe/Berlin` on `/usr/share/zoneinfo/UTC` as it was done during checkpointing.

[2022-03-23 15:32] avagin commented on #1784
0xfffffffffffffff4 is ENOMEM here, isn't it?

[2022-03-23 16:08] adrianreber commented on #1754
This sounds like a problem I had to deal with a couple of times while integrating CRIU in container runtimes/engines.

Historically containter runtimes/engines always just create the destination mount point. In this case it sounds like `/usr/share/zoneinfo/UTC` does not exist and it probably created automatically by singularity during container create/run.

During restore you have to do the same t

[2022-03-23 17:27] Wosch96 commented on #1754
@adrianreber But in the container /usr/share/zoneinfo/UTC already exists, as the container works in the user space.

[2022-03-23 17:35] adrianreber commented on #1754
My current understanding is that CRIU tries to mount all external mounts as they were previously. It fails to mount `/usr/share/zoneinfo/UTC` because the destination file `usr/share/zoneinfo/UTC`, relative to the container root, does not exist. You need to provide a root directory which has the mountpoint `usr/share/zoneinfo/UTC`. Right now I do not remember if this need `--root` or the correct en

[2022-03-23 18:07] adrianreber commented on #1754
Giving your hosts root as `--root` does not sound correct. EBUSY happens if there is already a `/sys` mounted, which is true if you use your host's `--root`. This sounds potentially dangerous.

From the original messages it seems like Singularity uses overlayfs for the root file system of the container. You should use that.

Anyway, as we told you in the beginning of this issue, you should try to

[2022-03-23 19:04] Wosch96 commented on #1754
I tried another restore command with the overlay as the root directory and the external command:
`
strace -o strace.log -s 256 -f criu restore -o restore.log -v4 -D / --shell-job --root /usr/local/var/singularity/mnt/session/final --external mnt[/etc/group]:/usr/local/var/singularity/mnt/session/final/etc --external mnt[/etc/passwd]:/usr/local/var/singularity/mnt/session/final/etc --external mnt[/

[2022-03-23 19:14] adrianreber commented on #1754
`-D /` looks wrong. You need to specify the directory where the checkpoint files are.

[2022-03-23 19:33] Wosch96 commented on #1754
I tried another restore command with the overlay as the root directory and the external command:
strace -o strace.log -s 256 -f criu restore -o restore.log -v4 -D ./ --shell-job --root /usr/local/var/singularity/mnt/session/final --external mnt[/etc/group]:/usr/local/var/singularity/mnt/session/final/etc --external mnt[/etc/passwd]:/usr/local/var/singularity/mnt/session/final/etc --external mnt[/e

[2022-03-23 19:36] adrianreber commented on #1754
Does /usr/local/var/singularity/mnt/session/final have a sys directory?

[2022-03-23 19:46] Wosch96 commented on #1754
The creation of the sys folder fixed it. Now the hopefully last problem...

`
1278  fstat(3, {st_mode=S_IFREG|0755, st_size=8520, ...}) = 0
1278  read(3, "\177ELF\2", 5)           = 5
1278  mmap(NULL, 8520, PROT_READ, MAP_PRIVATE, 3, 0) = 0x7fde08e0c000
1278  munmap(0x7fde08e0c000, 8520)      = 0
1278  write(127, "(00.030746)   1278: Error (criu/files-reg.c:2104): File home/nn
ode2/container/matMu

[2022-03-23 19:47] adrianreber commented on #1754
A chmod should solve that.

[2022-03-23 20:01] Wosch96 commented on #1754
Solved but again an error.

`
(00.028160) Error (criu/cr-restore.c:1931): Can't attach to 1278: Operation not permitted
(00.028222) pie: 1278: seccomp: mode 0 on tid 1278
(00.028999) Error (criu/cr-restore.c:1986): Can't interrupt the 1278 task: No such process
(00.029019) Error (criu/cr-restore.c:2372): Can't catch all tasks
(00.029036) Error (criu/cr-restore.c:2420): Killing processes because of

[2022-03-24 05:59] #1775 closed

[2022-03-24 07:55] adrianreber commented on #1754
Try it without strace.

[2022-03-24 08:12] Wosch96 commented on #1754
There we go. It works 😄. I was a bit of a nobrainer there at the end.

@adrianreber Incredible thank you for your help. Also for the time you had to waste on me... 😅

[2022-03-24 08:19] adrianreber commented on #1754
Nice.

We were making progress with each step so it always felt like it might work in the end.

and you restored it, right? Would you be willing to document the commands used in our wiki (criu.org). How you started the container, how you checkpointed and how you restored it. Maybe easier to find than buried here in the ticket. If you have a chance to document it that would be great.

[2022-03-24 08:24] Wosch96 commented on #1754
After your time consuming help, of course I can document that. 👍

Should I obtain a user account to edit the wiki?

[2022-03-24 08:44] adrianreber commented on #1754
Yes, please create an account. I am not sure who was to approve it, but so far it usually happens fast.

@Snorch do you know who needs to approve wiki accounts?

[2022-03-24 10:06] NKHULLAHALLI commented on #1785
[dump.log](https://github.com/checkpoint-restore/criu/files/8340403/dump.log)
[fd.info.log](https://github.com/checkpoint-restore/criu/files/8340430/fd.info.log)
[mount_info.log](https://github.com/checkpoint-restore/criu/files/8340431/mount_info.log)
[pid_continaer.log](https://github.com/checkpoint-restore/criu/files/8340432/pid_continaer.log)
[grep_663.log](https://github.com/checkpoint-restore

[2022-03-24 10:16] adrianreber commented on #1785
Thanks. This time it failed with ` Can't lookup mount=661 for fd=5 path=/ICCAppToDBus (deleted)`. You would need to grep for 661 and not 663.

Can you maybe also share a `podman inspect` of the container you are trying to dump?

[2022-03-24 11:06] adrianreber commented on #1785
Not sure what is happening here. I am confused where the mount is coming from.

@Snorch do you have any ideas how to further figures this out. It seems FD 5 from the process is pointing to a no longer existing mount.

@NKHULLAHALLI can you give some more details how `/ICCAppToDBus` is created? Do you have a small reproducer?

[2022-03-24 11:44] NKHULLAHALLI commented on #1785
created **ipc=private** so it may not be known by host

[2022-03-24 17:16] lijunqiang123 opened #1788 "Error (criu/sk-unix.c:815): unix: Can't dump half of stream unix connection."
Hello, I used `criu dump C API` to dump an TCP-based network program, but failed.  This is the error log. Looking forward your reply. Thank you!
[code]

[2022-03-24 17:17] lijunqiang123 commented on #1788
[code]

[2022-03-24 20:08] adrianreber commented on #1788
Maybe this can be helpful: https://criu.org/External_UNIX_socket

[2022-03-25 07:39] Snorch commented on #1754
@kolyshkin Was doing that a the time I registered. But I'm a bit unsure.

[2022-03-25 08:04] lijunqiang123 commented on #1788
If the program uses multiple unix sockets, such as `unix_id1,unix_id2`. I failed with the following command.
`criu dump  --tree pid --images-dir snapshot_dir/ -v4 -o dump.log --shell-job  --external unix[unix_id1,unix_id2] --tcp-established`
In this case, how can I use the dump command?

[2022-03-25 08:06] adrianreber commented on #1788
Use `--external` multiple times. Once for each socket.

[2022-03-26 14:52] lijunqiang123 commented on #1783
Yes

Yes, the problem we have is the same. And I don't know the reason.

[2022-03-26 18:59] avagin commented on #1783
@EgodPrime @lijunqiang123 Could you provide strace logs? If you are able to create a reproducer that I can use in my environment, it would be ideal.

[2022-03-26 19:42] EgodPrime commented on #1783
Thanks for your reply :), I had run my program with strace. As the log is really large, I put it on Google Cloud [strace.log](https://drive.google.com/file/d/1EPguRgkgVnM1w2IQByrnFQLTgCy_YINw/view?usp=sharing).

[2022-03-26 20:22] avagin commented on #1783
[code]

[2022-03-26 20:24] avagin commented on #1783
https://elixir.bootlin.com/linux/latest/source/net/ipv4/tcp.c#L3550
[code]

[2022-03-27 11:32] EgodPrime commented on #1783
Thanks a lot! it helps! I found that the root cause of this problem is `getsockname()` does not work correctly sometimes(return wrong address such as 0.0.0.0), and I fixed it by repeatinng calling until it works well.

But after fixing this problems , another problem occurs as mentioned in [above](https://github.com/checkpoint-restore/criu/issues/1783#issuecomment-1076003209)'s case 2, and here is

[2022-03-28 06:56] avagin commented on #1783
@EgodPrime do you block packets to a restore sockets? We expect that a socket doesn't received any packets while it is being repaired.

[2022-03-28 07:01] EgodPrime commented on #1783
yes, I do block packets by `iptables -t filter -A OUTPUT -p tcp --sport <the port of remote> -j DROP` before I call `libsoccr_pause()` and I delete that rule after I call `libscoor_resume()`

[2022-03-28 07:02] EgodPrime commented on #1783
and I'm testing on loopback, so I blocked the `OUTPUT`

[2022-03-28 17:04] avagin commented on #1783
INPUT has to be blocked too.

[2022-03-28 18:30] adrianreber opened #1793 "runc/crun, cgroups and CRIU"
I am currently looking at a problem concerning CRIU and OCI containers. My understanding so far is the following:

I am creating a checkpoint with `manage_cgroups` not set. This means we should have `opts.manage_cgroups = CG_MODE_DEFAULT` which is set to `#define CG_MODE_DEFAULT (CG_MODE_SOFT)`.

Creating a checkpoint CRIU still tracks the information about the cgroup of the process in the contain

[2022-03-28 21:41] PavloMykhailyshyn commented on #1784
ok, got it
but what about another problem?

[2022-03-29 01:12] dora-zhang opened #1794 "--inherit-fd option change the /proc/pid/fd link permission from lrwx------ to l-wx------"
**Description**

I used `--inherit-fd` to redirect both input and output file of my testing program, and notice the link permission changed from **lrwx------** to **l-wx------** after redirect, this makes

**Steps to reproduce the issue:**
1. I have a testing script in c, open two files.
[code]
The program starts an infinite loop to read from `/tmp/cp_auto.in` and write the input to  `/tmp/cp_auto

[2022-03-29 03:11] EgodPrime commented on #1783
@avagin still not work. Here is my code:
[code]

[2022-03-29 22:56] rushi47 commented on #1702
I think am able to compile compel part it looks to be successful [i think at least syntactically].
@mihalicyn @rst0git  Will you be able to help me test ?
https://criu.org/Compel
I am trying to follow the instructions from here but couldnt follow much

[2022-03-30 09:35] YJ243 commented on #1632
.

[2022-03-30 09:47] YJ243 opened #1795 "runc did not terminate successfully: criu failed"
Hi,

Again, when I tried to checkpoint an application (especially MySQL images), I am getting the following error.

**Steps to reproduce the issue:**
[code]

[code]

[code]
I did the following steps

1. docker run -d -p 3306:3306 \
  -e MYSQL_ALLOW_EMPTY_PASSWORD=true \
  --name mysql \
  mysql:5.7
2. docker checkpoint f13a checkpoint1

then I got this error response.
[code]
And the log is as foll

[2022-03-30 09:49] YJ243 commented on #1795
<details><summary>complete CRIU dump log:</summary>
<p>

[code]

</p>
</details>

[2022-03-30 11:22] YJ243 commented on #1795
Oh.. after I added the option, the checkpointing is working!!!!! Thank you :)

[2022-03-30 11:22] #1795 closed

[2022-03-30 16:14] avagin commented on #1794
@Snorch could you take a look at this issue?

[2022-03-30 16:20] avagin commented on #1794
I think you provide wrong fds on restore:
[code]

[2022-03-30 23:20] dora-zhang commented on #1794
@avagin Thanks! This is helpful. When restore with --inherit-fd 'fd[4]:tmp/cp_auto.in' 4<> /tmp/cp_auto.in.clone01 the link is restored to `lrwx------`. In this example, do you know if it is possible to restore to read and **append** mode?

[2022-03-31 03:42] new-sashok724 opened #1798 "Error when dumping process with same PID in different containers simultaneously with host network namespace"
Hello! When i try to dump processes with same PID in different containers simultaneously, CRIU sometimes fails to bind abstract unix socket because it is bound by some other CRIU instance in different container, but same host network namespace. This bug happens only with `--network=host`.

I already reported this bug with CRIU restore (#1735), and it is fixed now (Thanks!), but same problem still

[2022-03-31 15:15] baelter commented on #860
Also seeing this:

[code]

[2022-04-01 00:46] #252 closed

[2022-04-01 00:46] #39 closed

[2022-04-01 00:46] #34 closed

[2022-04-01 02:41] rushi47 commented on #1702
@adrianreber  @avagin will you be able to guys take a look ?
I am trying to test it, ld is giving me some issue :
[code]

[2022-04-01 07:42] avagin commented on #1794
I am not sure that it is possible from bash, but you can write a python wrapper.

[2022-04-02 00:39] #1293 closed

[2022-04-02 00:39] #1053 closed

[2022-04-02 00:39] #912 closed

[2022-04-02 00:39] #920 closed

[2022-04-02 00:39] #690 closed

[2022-04-02 00:39] #582 closed

[2022-04-02 00:39] #642 closed

[2022-04-02 03:17] ytrezq commented on #1073
@avagin hey, this is still a compatibility problem for programs which needs to track for how long they were running. Please reopen!

[2022-04-02 06:39] Rahul7171 commented on #360
can I solve this issue?

[2022-04-02 07:28] adrianreber commented on #1073
The bot should not have closed it. I reopened it.

[2022-04-02 16:44] avagin commented on #1793
@adrianreber have you look at runsc code? I think we have the --cgroup-root option and it has to be set to the container cgroup root.

[2022-04-03 00:35] #1794 closed

[2022-04-03 00:44] #744 closed

[2022-04-03 00:44] #1011 closed

[2022-04-03 00:44] #719 closed

[2022-04-03 00:44] #532 closed

[2022-04-03 00:44] #405 closed

[2022-04-03 00:44] #351 closed

[2022-04-03 00:45] #348 closed

[2022-04-03 00:45] #347 closed

[2022-04-03 00:45] #342 closed

[2022-04-03 00:45] #345 closed

[2022-04-03 14:01] minhbq-99 commented on #1774
Hi, I submit a patch to Linux kernel

https://lore.kernel.org/lkml/20220403135717.8294-1-minhquangbui99@gmail.com/T/#u

It looks like a controller leak but I'm not sure whether it is an actual bug or the expected behavior

[2022-04-04 00:41] #512 closed

[2022-04-04 00:41] #426 closed

[2022-04-04 00:41] #488 closed

[2022-04-04 00:41] #337 closed

[2022-04-04 00:41] #333 closed

[2022-04-04 00:41] #319 closed

[2022-04-04 00:41] #307 closed

[2022-04-04 00:41] #313 closed

[2022-04-04 15:06] adrianreber commented on #1793
I have a possible fix in #1800 (works for me and Podman)

[2022-04-04 15:07] #1704 closed

[2022-04-04 16:33] avagin commented on #1073
@adrianreber we need to disable the bot and investigate why it doesn't work properly.

[2022-04-05 00:41] #341 closed

[2022-04-05 00:41] #295 closed

[2022-04-05 00:41] #296 closed

[2022-04-05 00:41] #229 closed

[2022-04-05 00:41] #294 closed

[2022-04-05 00:41] #218 closed

[2022-04-05 00:41] #167 closed

[2022-04-05 00:41] #175 closed

[2022-04-05 00:41] #70 closed

[2022-04-05 00:41] #68 closed

[2022-04-05 05:44] #1798 closed

[2022-04-05 17:14] avagin commented on #860
5.13.0-1017-azure has this issue. I filed a new ubuntu issue:
https://bugs.launchpad.net/ubuntu/+source/linux-azure/+bug/1967924

[2022-04-06 00:44] #60 closed

[2022-04-06 00:44] #58 closed

[2022-04-06 00:44] #59 closed

[2022-04-06 00:44] #56 closed

[2022-04-06 00:44] #57 closed

[2022-04-06 00:44] #53 closed

[2022-04-06 00:44] #49 closed

[2022-04-06 00:44] #50 closed

[2022-04-06 00:44] #47 closed

[2022-04-06 00:44] #48 closed

[2022-04-06 00:44] #45 closed

[2022-04-06 00:44] #41 closed

[2022-04-06 00:44] #44 closed

[2022-04-06 15:39] ShunmugaPriyaR opened #1803 "CRIU support with DPDK"
Hello,

I am planning to use DPDK for one of my applications. And, migrate the application at a later point using the CRIU software. I would like to know whether the CRIU software works with the DPDK with the mTCP or other user stack? Is there any existing support for the DPDK and anyone have tested it prior? Thank you for your support.

Regards,
Priya.

[2022-04-07 08:08] Snorch commented on #1785
In initial report You have error (from docx file):
[code]

You show mountinfo (likely from container as root mount is overlay):
[code]

This means that fd 5 of process 121980 was opened from root container root mount. And that is super strange that criu can't find it in mountinfo...

So let's see what criu sees (grep " / @ ./ "):
[code]

So it looks like you show mountinfo from one mntns and dump

[2022-04-07 09:06] kloczek opened #1806 "Any plans to make new the release?"
In git repo already is accumulated +250 commits and maintaining criu package with some selected list of those commits is harder and harder.
IMO it would be good to make new release.

Thank you for your work 😄

[2022-04-07 15:31] rst0git commented on #1806
https://github.com/checkpoint-restore/criu/pull/1727

[2022-04-12 03:26] anatasluo opened #1807 "Is it possible to allow restoring a different pid from dumping stage to slove the pid mismatch problem?"
In most cases, mismatch problems can be solved by isolated pid namespace.

But sometimes, we don't want to manage these pid namespaces. And also, for most applications like nginx, we don't care about its pid.

So I wonder if it is a good idea to add a config option for criu to choose a different option when the pid mismatch problem happens.

[2022-04-14 12:14] mihalicyn commented on #53
see also https://bugs.openvz.org/browse/OVZ-7283

[2022-04-15 05:53] rushi47 commented on #1702
@mihalicyn I am running it on RISC-V machine like native code.
I was able to fix the linker issue by this commit :
https://github.com/rushi47/criu/commit/95ba9153977fbe07a4f76936346fd9b4143702aa

---
Breaking here now, when am trying to run test:
https://github.com/rushi47/criu/blob/mod_criu/compel/src/lib/handle-elf.c#L640

[2022-04-15 09:16] mihalicyn commented on #1702
@rushi47

yep, this change to the linker script looks correct.

Yep, you need to support relocations for RISC-V. First of all, I suggest listing all relocation types that you've met here.
You can change `goto err` to `break` and collect all relocation types that the compiler uses in the final PIE. Then we will think about how to handle it properly.

[2022-04-15 09:36] mihalicyn commented on #747
I will resend this fix.

[2022-04-16 02:56] LuYilei commented on #534
Does

Do you have any updates?

[2022-04-16 02:56] LuYilei commented on #534
Do you have any updates?

[2022-04-16 06:08] time-river commented on #1803
We also try to use criu in SPDK. The result shows that non-preprocessing SKDP isn't supported by criu, e.g. block device.

[2022-04-17 10:10] time-river opened #1811 "help: the breakpoint problem in arm64 platform"
I try to implement the breakpoint in arm64 platform. [Here](https://github.com/time-river/criu/commit/be7a2438675d4ee209a029db56c841b91b959d35) is my code. But I met one problem which makes the feature abnormal:

In x86_64 platform, it seems that the Debug Exception event happens after the `rt_sigreturn` syscall has been executed, the change event that the content stored in the breakpoint address

[2022-04-17 14:13] time-river commented on #1783
I met the problem in the history, the `EPERM` errno could raise because the iptables filter DROP rule.

[2022-04-18 03:26] mrc1119 opened #1812 "change the port of the local service when restoring"
The dumpee use port:6000, and I want to change the local service port to 10000 when restoring.
I don't know if the parameters already support this feature, or how should I change the code.

[2022-04-18 04:30] avagin commented on #1812
You can modify the port in image files. You can use crit to decode/encode images:
http://manpages.ubuntu.com/manpages/bionic/man1/crit.1.html

[2022-04-18 04:34] avagin commented on #1811
I am not sure that I understand the question. You can look at the gdb code how it sets breakpoints.

[2022-04-18 10:59] lijunqiang123 commented on #1783
Hello, thank you for your reply. Do you meet the following problem? I don't know how to solve it.
[code]

[2022-04-18 15:48] #1696 closed

[2022-04-19 01:25] #1771 closed

[2022-04-19 01:29] avagin commented on #1807
nginx cares about PID-s of its workers, cgi scripts and etc.

[2022-04-19 02:25] anatasluo commented on #1807
I think about it twice, pid may be used as the value of a variable in the program. So it is hard to find these places and make corrections. Thanks avagin, I will close this question.

[2022-04-19 02:26] #1807 closed

[2022-04-19 15:33] mihalicyn opened #1814 "next steps with rseq"
Thread to cover the next steps with rseq support improvements:

- [ ] tests for all architectures (right now we have ZDTM tests only for x86_64)
- [ ] move all rseq related code into a separate file (?)
- [ ] improvement support of built-in rseq for non-Glibc libraries
- [ ] detect built-in rseq support dynamically as Mathieu proposed
- [ ] pre-dump tests (?)
- [ ] leave-running tests (?)
- [ ] cr

[2022-04-19 18:22] fweimer-rh commented on #1814
Regarding rseq registration detection, could you fork and obtain the details from the new process using ptrace? That would be library-agnostic. (I don't think self-ptrace works, but it might.) My concern here is not just other libraries, but quite selfishly glibc with a backport of internal rseq functionality (for `sched_getcpu`) without the public symbols.

[2022-04-19 21:09] mihalicyn commented on #1814
Hi Florian,

yes, we can. But I've concerns about performance, because we will need to add extra `O(process_tree_size)` complexity to the restore.

Ugh. I had some idea. We can try to detect that `*libc` is used rseq by default by forking stub process and check if rseq is registered using ptrace. If yes then go to the expensive option of doing ptrace syscall for each process that we clone in CRIU.

[2022-04-20 05:00] time-river commented on #1811
I find the problem. The breakpoint event triggers when the instruction is fetch, and the instruction don't execute yet. Here is the phenomenon:

[code]

I fetch the registers before munmap parasite blob,  find the sp and pc don't restore to the specific status before munmap event.

I try to use single step debug tip to solve the problem, it looks like good. :-)

[2022-04-20 16:16] time-river commented on #1783
Not yet. You can follow the kernel call trace to find the reason. I met the similar problem, but it's our customized environment, it is caused by our code.

[2022-04-20 16:19] #1811 closed

[2022-04-20 16:28] time-river commented on #1757
Our sense is more complex than you: the checkpoint time has nearly 10s for one huge application. Our solution is customizing kernel.

[2022-04-20 16:47] time-river opened #1816 "Optimize the checkpoint/restoer TCP connection performance by using netlink API"
The PR #1539 ([GSoC] Add nftables based network locking/unlocking) isn't good, although it has the better performance compared with iptables cmd. The tcp connection can be locked/unlocked by nftables netlink API. Compared with iptables cmd, it has 90%+ performance improvement.

The core idea is:
- use netlink API to create nftables rules
  * only for rules (two for IPv4, two for IPv6) are created

[2022-04-21 03:27] rst0git commented on #1816
@time-river Thank you for your feedback. The main goal of the pull request you pointed out was not performance optimization but to avoid dependency on the `iptables-restore` external binary. We have encountered several problems related to this (https://github.com/checkpoint-restore/criu/issues/561,  https://github.com/checkpoint-restore/criu/issues/551, https://github.com/checkpoint-restore/criu/i

[2022-04-21 15:32] elchead opened #1854 "Restore fails: no file"
**Description**
I'm trying to restore a container with tcp connection and created a config /etc/criu/runc.conf containing the following lines:
[code]

**Steps to reproduce the issue:**
1. checkpoint container with tcp connection
2. restore container

**Describe the results you received:**
When restoring the container, I get an error complaining about missing files (see log):
[code]

**CRIU logs an

[2022-04-21 16:53] rst0git commented on #1854
@elchead What commands are you using to checkpoint/restore the container?

This error indicates that CRIU fails when restoring a file descriptor for `dev_rfc.log` because the file does not exist. This may happen, for example, if `/var/tmp/data` is not a tmpfs mountpoint, and the root-filesystem changes of the container have not been restored.

AFAIK, containerd and Docker do not currently support

[2022-04-22 08:43] elchead commented on #1854
@rst0git thanks! I'm using containerd and just mounted it as tmpfs:
[code]
Unfortunately, the error still persists. Is there any other way or possible issue to fix with containerd? I cannot easily switch the container runtime, because I made custom changes.

[2022-04-22 11:48] YJ243 opened #1855 "How do I display my modified log message visible when docker container checkpointing?"
Hi, I'm currently researching criu for my study.
And I'm checking my log (modified criu code) to confirm the image file writing path to the ssd from the main function after issuing the cmd ***criu dump***.
And I checked the posix write(fd, buf, size) in **write_all** function (criu/util.c)

My question is this.
If I issue a command with **_criu dump_**, I can see the logs clearly on the shell. But

[2022-04-22 14:32] elchead commented on #1854
It's fixed. In addition to a `tmpfs` it also must not be a bind mount. Kubernetes mounts `emptyDir` volumes through binding.
The solution was to mount a storage volume instead (e.g. PV in Kubernetes).

[2022-04-22 14:32] #1854 closed

[2022-04-22 21:23] mihalicyn commented on #1814
Our friends from https://github.com/containers/podman met the problem https://github.com/containers/podman/pull/13958

[2022-04-23 04:45] rst0git commented on #1855
In addition to the [command-line interface](https://criu.org/CLI), CRIU provides an RPC API. `docker checkpoint create` would invoke [containerd](https://github.com/containerd/containerd), which then invokes [runc](https://github.com/opencontainers/runc). runc interacts with CRIU via the RPC API and one of the parameters it provides is a [log file](https://criu.org/Logging). Therefore, all CRIU lo

[2022-04-25 17:22] mihalicyn commented on #1702
We've private text discussion with @rushi47 about relocation types and how to handle them.

I think at first we can go with a "naive way":
[code]

This code is not tested because I've no RISC-V machine yet. So @rushi47, please try to play with that. It's a "naive" translation of the kernel implementation for these relocation types.

[2022-04-26 12:57] OwlCoHome opened #1857 "Criu check :Error (criu/kerndat.c:549): Unable to bind a socket: Cannot assign requested address"
hi
When I run the criu check command on a virtual machine, the following error occurs
![image](https://user-images.githubusercontent.com/31887603/165304894-51262168-60e8-44b5-9585-7403c99bcb72.png)
How to fix this error？

[2022-04-26 13:18] TheJJ opened #1858 "Support CephFS mount points"
My LXD containers with a CephFS mountpoint can't be migrated, yet:

[code]

Support for Ceph in criu would be awesome! :cat:

[2022-04-26 13:18] adrianreber commented on #1857
Are you running it as root?

Which kernel and distribution are you using?

[2022-04-26 13:36] TheJJ commented on #1858
yea - I fear I don't have time for this at the moment, but maybe this issue serves as motivations for somebody who is up to the task? :)

[2022-04-26 14:10] OwlCoHome commented on #1857
The system  does not have a loopback device .
I want to try to checkpoint a process.

[2022-04-26 14:11] OwlCoHome commented on #1857
The system does not have a loopback device .
I want to try to checkpoint a process.

[2022-04-27 10:57] carlhoerberg opened #1859 "Is pre-dump supported on arm64?"
Quick question, is pre-dump supported on arm64?

[code]

[2022-04-27 11:06] adrianreber commented on #1859
No. Arm is missing `CONFIG_MEM_SOFT_DIRTY=y`. Nobody implemented the kernel support for it.

[2022-04-27 11:12] carlhoerberg commented on #1859
ok! thank you for the quick answer!

[2022-04-27 11:12] #1859 closed

[2022-04-28 02:48] OwlCoHome commented on #1857
I activated the network port with ifconfig, and now the error is as follows
![image](https://user-images.githubusercontent.com/31887603/165666431-983fd3a2-f6f6-486d-a65a-1974776e77e6.png)
This virtual machine can't connect to the network, so can I use criu？

[2022-04-28 04:28] adrianreber commented on #1857
This is an unusual system. What kind of virtual machine is this? You still have not told which Linux distribution you are using.

[2022-04-28 11:24] Snorch commented on #1784
@PavloMykhailyshyn

That looks like some other process is using same port you want to restore with, to fix this use container environment with criu support (e.g. podman) to isolate your app from all others.

[2022-04-29 06:00] rushi47 commented on #1702
@mihalicyn thanks ton for this. As per private conversation I tested this, so compel is compiling again fine but its still throwing error when am trying to test it, like below:

---
On other hand, this is docker image can be used as emulator to test RISCV:
https://github.com/DavidBurela/riscv-emulator-docker-image

[2022-05-03 13:04] ImreSzebelledi opened #1864 "Criu check fails on NI Linux RT"
**Description**

Hello!
I am trying to get criu work on a linux distribution released by National instrument on an industrial controller (NI-3172) but I am experiencing difficulties. I have built the Kernel with the needed flags, but there seems to be some problem when running criu check when running criu even with root privileges.
Thank you for the help in advance!

**Steps to reproduce the issue

[2022-05-03 14:23] adrianreber commented on #1864
This is indeed an unusual error. Can you try CRIU 3.16? Not sure that helps, but maybe.

Not sure if CRIU works on the RT kernel. Can you run `criu check --all -v4`? Can you also try without RT?

[2022-05-03 20:44] mihalicyn commented on #1864
He-he. Very interesting... failure similar to `static/bridge` fail from https://github.com/checkpoint-restore/criu/pull/1862

[2022-05-04 21:12] mihalicyn opened #1866 "Race between zdtm/static/sit and zdtm/static/bridge"
**Description**

Our CI started to fail https://github.com/checkpoint-restore/criu/pull/1862 on `zdtm/static/bridge` test with error:
[code]

It was discovered that the problem happens because of race condition between the `sit` kernel module and the bridge test.

**Steps to reproduce the issue:**
1. `rmmod sit`
2. `./test/zdtm.py run -t zdtm/static/bridge --sbs --ignore-taint`
press Enter one tim

[2022-05-04 21:33] mihalicyn commented on #1864
@ImreSzebelledi can you post your kernel build config and `lsmod` output?

[2022-05-05 07:37] ImreSzebelledi commented on #1864
Thank you very much for the suggestions!

Unfortunately I am having trouble installing version 3.16 because of various reasons (don't have proper package manager on this distro (only opkg), so I got 3.12 working by copying the proper prebuilt files from Centos7. I have tried to do the same from Ubuntu22 for 3.16 but I got various errors bacause it got dependecies for Glibc which are not available

[2022-05-05 08:14] mihalicyn opened #1868 "hugetlb: Freeze of maps09/maps10 tests on pre-dump"
**Description**

pre-dump is broken with new maps09 and maps10 tests (hugetlb related).

**Steps to reproduce the issue:**
1. `python ./test/zdtm.py run -t zdtm/static/maps09 --pre 1 --ignore-taint -f h`

**Describe the results you received:**
Infinite loop on restore stage:
[code]

Kernels checked:
`5.4.0-1038-kvm #39-Ubuntu SMP`, `5.16.18-200.fc35.x86_64 #1 SMP PREEMPT`.

cc @minhbq-99

[2022-05-05 09:01] mihalicyn opened #1870 "Periodic "CRIU Image Streamer Test" freezes"
**Description**

We experiencing periodic "CRIU Image Streamer Test" freezes for hours.
Example:
https://github.com/checkpoint-restore/criu/runs/6301471489?check_suite_focus=true

I've checked that freeze happens at the moment when all started test cases were finished. Take full logs from an example and check by `cat full_log | grep -P "(===== Run|====== Test)" | wc -l`. It shows an even number of

[2022-05-05 19:30] avagin opened #1872 "Test zdtm/transition/fork2 FAIL at criu lazy-pages exited with -11"
[code]

[code]

The full crash log is here: https://gist.github.com/avagin/6f0df536884087ec87389cd9f0bc6aae

[2022-05-05 19:45] mihalicyn commented on #1864
This is direct reason for:
[code]

VETH support is not required but I recommend to compile it as a module. It's a small, well tested and fully safe module.

this is really strange:
[code]

Looks like a real kernel issue (likely related to `CONFIG_PREEMPT_RT=y`).
Speaking honestly, this particular error don't prevents CRIU from work.
It's better to try to create minimal reproducer for that and repo

[2022-05-05 20:02] mizzunet opened #1873 "Dumping FAILED: Can't dump file 17 of that type [20660]"
It cannot dump any processes.

**Steps to reproduce the issue:**
1. ` doas criu dump -t 778 -vvv -o dump.log && echo OK`

**Describe the results you received:**

Fails to dump. The process is still running

But have images at current folder,
[code]
Tried killing the process manually and `doas criu restore -d -vvv  && echo OK`
[code]

Doesn't restore it.

**Describe the results you expected:**

Dum

[2022-05-06 14:13] ImreSzebelledi commented on #1864
I had the time today to build the kernel with CONFIG_VETH=y and also managed to build criu 3.16.1-on it.
As you have predicted all the VETH related error vent away, but the SIGSTOP error persisted. Unfortunately I won't have acces to the hardware during the weekend to try the reproducer but will do so on Monday. Thank you so much for all the help!

[2022-05-08 12:10] carnil opened #1877 "amdgpu plugin: Make possible to install in other location (during build)"
Hi

I'm currently trying to package 3.17 for Debian and noticed some problems with the newly introduced amdgpu plugin: The PLUGINDIR is almost fixed to `/var/lib/criu` which is not a problem, but during build the makefile makes it hard to have the plugins first installed below DESTDIR:

Something like

[code]

I did not submit a full patch for it, as I'm not yet sure this is how you would like to

[2022-05-08 15:38] dilyanpalauzov opened #1878 "Python is confused by package`crit`"
I have installed libcriu-3.17 from source.  Apparently it does install the `crit` python command and sets as version 0.0.1.  After the
installation I run
[code]
and crit 0.1 means https://pypi.org/project/crit/ .  This is a collision.

Please do something, so that two different projects do not use the same name from the perspective of `pip` and [PyPi](https://pypi.org/project/crit).

[2022-05-08 20:04] avagin commented on #1878
https://github.com/jessielaf/crit

This project looks abandoned.

[2022-05-09 06:16] adrianreber commented on #1806
3.17 has been released

[2022-05-09 06:16] #1806 closed

[2022-05-09 09:13] kloczek commented on #1806
I just started "grinding" that new release and foundseveral issues on packaging.
- new version is not `make install DESTDIR=<install/prexix>` ready and it needs small patch
[code]
- Hardcodinf `ld`
[code]
-  test suite checks installed packages and it fails when some deb OR rpm packages are not installed
[code]
- `all`, `install` and `test` targets are filing in random places ehen they are execute

[2022-05-09 09:15] kloczek commented on #1806
BTW it would be really goot to move way from custop make files to something more regulat like meson, cmake ior even GNU autotools.
I would suggest meson.

[2022-05-10 10:51] carnil commented on #1877
Related: https://github.com/checkpoint-restore/criu/pull/1876

[2022-05-10 14:47] camilo1729 opened #1881 "Restore a checkpoint using RPC"
Hello,

How can I restore a checkpoint using RPC? I was able to dump the process using RPC but when I tried to restore it I got the following message:

[code]

Am I missing some additional option?  I used the `restore-loop.py` example code and a modifed version of `test-c.c` where I've just changed:

[code]

I got the same result with both client programs. My version of criu is: 3.15.

Thank you i

[2022-05-10 14:50] adrianreber commented on #1881
We have multiple users of the RPC interface. We have the go-bindings and the rust-bindings. The container runtime `runc` is using the go-bindings to interact with the RPC interface. Maybe have a look there and see how these projects are using it.

Let us know if you need more help.

[2022-05-10 20:43] rst0git commented on #1881
@camilo1729 you can use the tests for RPC as an example:

https://github.com/checkpoint-restore/criu/tree/criu-dev/test/others/rpc

[2022-05-10 20:46] rst0git commented on #1881
This error also appears in CI: https://github.com/checkpoint-restore/criu/blob/4f62ec02ea4de62eef23638e178e6b6f425e3897/scripts/ci/run-ci-tests.sh#L260

[2022-05-10 21:05] rst0git commented on #1877
@carnil In the [this comment](https://github.com/checkpoint-restore/criu/pull/1519#issuecomment-877942035) Rajneesh mentioned that the `<drm/drm.h>` headers should be provided by the `linux-headers` package: https://packages.debian.org/bullseye/amd64/linux-headers-5.10.0-13-amd64/filelist

[2022-05-10 21:32] rst0git commented on #1878
https://peps.python.org/pep-0541/#removal-of-an-abandoned-project

An abandoned project can be transferred to a new owner for purposes of reusing the name when ALL of the following are met:
- the project has been determined abandoned by the rules described above;
- the candidate is able to demonstrate their own failed attempts to contact the existing owner;
- the candidate is able to demonstrate t

[2022-05-10 22:29] avagin commented on #1878
@rst0git can we fix crit to report the criu version? I think this will fix the issue.

[2022-05-11 10:12] camilo1729 commented on #1881
I had a deeper look and the errors seems to be related to the fact that the criu daemon does not run from a terminal (which seems normal), I see this in the logs:
[code]
I have a look at rust-bindings and it seems to use the swrk mode. So, I wrote a python script to perform a test using that mode and I was able to restore my process. I will continue with my tests to evaluate if this mode is a good

[2022-05-11 10:13] adrianreber commented on #1881
service mode is kind of deprecated and swrk is the preferred way to work with criu.

[2022-05-11 10:13] adrianreber commented on #1881
Please close this ticket if your question has been answered.

[2022-05-11 10:18] camilo1729 commented on #1881
Thank you for your answers.

[2022-05-11 10:18] #1881 closed

[2022-05-11 12:43] #1812 closed

[2022-05-11 12:45] mrc1119 commented on #1812
I have modified the file (criu/sk-inet.c) to parameterize it. Thanks!

[2022-05-11 12:49] mrc1119 opened #1883 "rename process name"
I want to rename process name like this:
when checkout:
process name is [nginx]
and when restore:
rename the process to [nginx2]

[2022-05-11 13:09] adrianreber commented on #1883
Using `crit decode` and `crit encode` you should be able to change the core-*.img file and change the process name. Never tried it, but it sounds possible,

[2022-05-11 14:56] #1868 closed

[2022-05-11 21:24] spullara opened #1885 "Restoring inside a container causes a segmentation fault"
**Description**

Inside a running Docker container on an M1 Mac I am able to checkpoint a process. If I attempt to restore that process the criu command segfaults.

**Steps to reproduce the issue:**
Start a docker container with some additional flags:
docker run -it --tmpfs /run --privileged ...
Run the example from the video
dump it
Try to restore it

**Describe the results you received:**
# criu

[2022-05-11 21:34] adrianreber commented on #1885
Which distribution and kernel are you using?

[2022-05-12 00:13] spullara commented on #1885
I was using ubuntu:latest. I am on M1 though so it was the ARM version.

[2022-05-12 04:15] adrianreber commented on #1885
Is ubuntu:latest 22.04 or 20.04?

[2022-05-12 06:48] siris commented on #1877
Hi there,
I am working on packaging criu as part of the Funtoo Linux Distribution and when trying to run the tests for the amdgpu plugin the we are seeing a similar `No such file or directory` errors as @carnil in regards to the `common/list.h` header included in the amdgpu test:
[code]
This error resulted after running this command in our Funtoo ebuild:
[code]
Reference to our package management

[2022-05-12 07:55] mrc1119 commented on #1883
I want to change the process name by passing the parameter. Which file is the key code in?

[2022-05-12 12:25] adrianreber commented on #1877
`common/list.h` is a criu include file. The `common/list.h` is a bug in the amdgpu plugin Makefile. If you rename your criu directory from `criu-3.17` to `criu` it should work. One of the include paths while compiling `amdgpu_plugin_topology.c` is wrong.

@fxkamd Can you, or one of your team, provide a fix to make sure the include paths in `plugins/amgpu` are not relying on the name of the checkou

[2022-05-12 12:30] adrianreber opened #1886 "3.17.1 tracker"
There are a couple of problems in 3.17 which probably means we need a 3.17.1 release:

 * #1876
 * #1884
 * https://github.com/opencontainers/runc/pull/3442 mount-v2 errors

[2022-05-12 13:10] adrianreber commented on #1877
@carnil @siris CRIU does a `pkg-config libdrm` to check if the amdgpu plugin should be built. On Fedora we do not include `libdrm-devel` during package build in the build environment and so we have not seen the error. A workaround for your build problems would be to remove the equivalent of `libdrm-devel` from your buildroot if possible.

[2022-05-12 15:15] avagin commented on #1883
@mrc1119 first, you need to explain why the crit way doesn't work for you.

[2022-05-12 19:36] spullara commented on #1885
22.04

[2022-05-12 19:39] adrianreber commented on #1885
22.04 uses glibc with restartable sequences and that requires at least Linux 5.13 and criu 3.17.

[2022-05-12 19:42] adrianreber commented on #1885
You can temporarily disable restartable sequences with

`export GLIBC_TUNABLES=glibc.pthread.rseq=0`

[2022-05-12 22:00] spullara commented on #1885
Using that I don't get a segfault but it seems to hang and I can't interrupt it.

[code]

[2022-05-12 23:11] avagin commented on #1885
What process do you try to C/R? Could you increase the verbosity level and attach criu logs?
$ criu dump -t PID -D checkpoint/ -vvv -o dump.log -j
$ criu restore  -D checkpoint/ -vvv -o restore.log -j

[2022-05-13 00:49] #1878 closed

[2022-05-13 15:50] minhbq-99 commented on #1873
The dump step is failed with this error
`(00.014047) Error (criu/sk-inet.c:189): inet: Connected TCP socket, consider using --tcp-established option.`

Can you try dumping with this command `criu dump  --tcp-established -t 778 -vvv -o dump.log`?

[2022-05-13 17:01] minhbq-99 commented on #1873
It fails with the same error. `swaypg` also opens DRI device which is used for GUI rendering I guess.

[2022-05-13 17:12] minhbq-99 commented on #1873
I'm not sure about that. Also, PR is always welcomed.

[2022-05-13 18:10] spullara commented on #1885
Here is the code:

[code]

So when I restore and it "hangs" it is actually running you just can't interrupt anymore so it is working for me. Thanks for the help.

[2022-05-13 18:12] adrianreber commented on #1885
You could also use `-d|--restore-detached`.

Good that it works now. Please close the ticket if you have no further questions.

[2022-05-13 18:13] #1885 closed

[2022-05-13 20:38] shinypb opened #1889 "Restoring on EC2 Ubuntu instance causes segmentation fault"
**Description**

Attempting to restore an example program is leading to a segmentation fault. I'm using a freshly created Ubuntu instance on EC2:
[code]

I'm using the version of CRIU that is installed via `apt-get install criu`:
[code]

I'm using the example simple_loop.c program from the CRIU documentation:

[code]

I'm compiling this with `gcc simple_loop.c`, running `./a.out`, and then dumping

[2022-05-14 04:06] adrianreber commented on #1889
Please try CRIU 3.17 which has the necessary fixes.

https://criu.org/Packages

[2022-05-14 21:11] carnil commented on #1877
@adrianreber: For now I have uploaded criu 3.17 to Debian without the amdgpu plugin: https://tracker.debian.org/news/1324914/accepted-criu-317-1-source-into-experimental/

[2022-05-15 04:48] siris commented on #1877
@adrianreber we also mitigate the `common/list.h` bug by disabling the ability to compile the `amdgpu` plugin for CRIU version 3.17 on Funtoo Linux.

In regards to leveraging `pkg-config libdrm` as a compilation switch for the amdgpu plugin, this doesn't work too well in source based Linux distributions because many of them, like Gentoo and Funtoo Linux, do not have the concept of `*-devel` packag

[2022-05-15 16:10] eli-schwartz commented on #1877
Meson or cmake won't really help here if the problem is https://wiki.gentoo.org/wiki/Project:Quality_Assurance/Automagic_dependencies as that's fully possible to do in both.

It will make it easier, if the project chooses to be careful, to avoid such pitfalls. What is really needed is a build option to control whether the amdgpu plugin is built, which is e.g. passed to Meson's `dependency('libdrm'

[2022-05-15 16:14] rst0git commented on #1877
I've opened a pull request with a fix: https://github.com/checkpoint-restore/criu/pull/1890

[2022-05-16 01:59] mrc1119 commented on #1883
Crit is not efficient when using CRIU for automated restore.
Maybe I'm not familiar with the usage of crit...

[2022-05-16 06:45] siris commented on #1877
Note that Funtoo has forked quite a lot from Gentoo, but in both Gentoo and Funtoo there is direct support for Meson build options quite cleanly through something called a Portage [eclass](https://wiki.gentoo.org/wiki/Eclass). For an example meson ebuild that is used to toggle certain compile time options see: [repos/kit-fixups/browse/desktop-kit/curated/x11-wm/enlightenment/templates/enlightenmen

[2022-05-16 08:28] Snorch commented on #1886
I believe that it's not an issue of mount-v2 but sort of bad external mounts configuration. If criu dumps two mounts having exact the same shared group on dump, and on restore these mounts appear to have different superblocks due to bad external mount options, criu can't do anything but fail.

[2022-05-16 14:11] fxkamd commented on #1877
Thank you, @rst0git. I had asked @rajbhar to look into this on our end. You beat him to it. Your pull request looks good to me. I'll comment there as well.

[2022-05-16 15:00] ymanton opened #1891 "Filesystem root dir permissions consistency check is problematic"
**Description**

We're using CRIU to take checkpoints from within containers and we've run into the following issue.

CRIU saves the filesystem's root directory (found via the `/proc/<pid>/root` link) permissions in checkpoint images[^1]. At restore time it checks that the permissions previously saved in the image match the current root directory's permissions and aborts the restore otherwise.[^2]

[2022-05-16 16:24] #1877 closed

[2022-05-16 19:57] shinypb commented on #1889
Hello! Apologies for using an outdated version; I didn't realize I was behind. I installed 3.17 this morning and confirmed that I can no longer reproduce the bug; thank you for the quick response and sorry for wasting your time.

[2022-05-16 19:57] #1889 closed

[2022-05-17 03:01] mrc1119 opened #1892 "Segmentation fault when restore"
**Description**
criu version: 3.15
              OS:  CentOS Linux release 7.1.1503 (Core)
         kernel:  Linux  5.12.4-1.el7.elrepo.x86_64 #1 SMP Fri May 14 06:36:46 EDT 2021 x86_64 x86_64 x86_64 GNU/Linux

**Steps to reproduce the issue:**
1.dump:    ./criu dump --ghost-limit=500M -D /export/sine/dumpdata -j -R -t $pid --tcp-close --skip-in-flight --external mnt[/etc/hosts]:hostsmount --exter

[2022-05-17 04:48] Niteesh26 opened #1893 "Criu-ns restore fails with error: Failed to set group 1 on 0: Inappropriate ioctl for device"
**Description**

criu-ns dump works properly as .img files are created in the CRIU folder.
criu-ns restore fails to restore the process with the error:
**Failed to set group 1 on 0: Inappropriate ioctl for device**

**Steps to reproduce the issue:**
1. Run a simple counter program.
2. Dump the said program using criu-ns script:

3. Try to restore the program using criu-ns script:

**Describe the r

[2022-05-17 09:56] mrc1119 commented on #1892
I drew inspiration from other issue, and the problem was fixed when I updated to version 3.17.  Thanks

[2022-05-17 10:50] mrc1119 opened #1894 "cgroup.procs (-1/6): No spa ce left on device"
When I restored, I had a problem.
The restore log:
(00.014271) PID: real 600 virt 1
(00.014346) Wait until namespaces are created
(00.014549)      1: timens: monotonic -30290788 115887618
(00.014589)      1: timens: boottime -30290788 115847701
(00.014636) Running setup-namespaces scripts
(00.014651)      1: cg: Move into 2
(00.014667)      1: cg:   `-> blkio//system.slice/docker-2e58003642c79dd82

[2022-05-17 11:24] mrc1119 commented on #1892
[https://github.com/checkpoint-restore/criu/issues/1894](url)

[2022-05-17 11:26] #1892 closed

[2022-05-17 11:27] mrc1119 commented on #1894
dump on kernel 3.10
restore on kernel 5.12
criu version:3.17
Is the problem due to inconsistent kernel versions? How to solve it?

[2022-05-17 18:19] rst0git opened #1895 "amdgpu_plugin: restore late ioctl failed"
**Description**

The following error appears when running CRIU's zdtm tests on a laptop with AMD Ryzen 7 4700u and Fedora 35:

[code]

**CRIU logs and information:**

<details><summary>CRIU full restore logs:</summary>
<p>

[code]

</p>
</details>

<details><summary>Output of `glxinfo -B` :</summary>
<p>

[code]

</p>
</details>

[2022-05-17 18:19] rst0git commented on #1895
cc: @rajbhar

[2022-05-17 23:54] PavloMykhailyshyn opened #1896 "criu restore fails "Can't create ghost regfile: File exists" | "Can't reset user/group on ghost /usr/sbin/binary.cr.1.ghost: No such file or directory""
**Description**
I did dump
`/usr/sbin/criu-ns dump --images-dir /var/dumps/dump1 --shell-job --tcp-established --ext-unix-sk -v4 --log-file ../../logs/dump/img1.log --action-script /usr/local/sbin/criu_action_script.sh --tree 220689 --ghost-limit 1G`

and restore
`/usr/sbin/criu-ns restore --images-dir /var/dumps/dump1 --shell-job --tcp-established --ext-unix-sk -v4 --log-file ../../logs/restore/i

[2022-05-17 23:54] PavloMykhailyshyn commented on #1896
@Snorch and @rst0git

[2022-05-18 00:17] PavloMykhailyshyn commented on #1896
I tried to dump every process one by one and then performed a restore exactly in the same manner.
I didn't get these errors.
rather a strange situation
could you shed some light on this?

[2022-05-18 06:37] rst0git commented on #1896
@PavloMykhailyshyn A ghost file is a file that has been removed from the file system but it has open file descriptor(s). CRIU tries to copy the content of such files into the checkpoint, recreate and delete them again on restore. You can learn more about ghost files on this wiki page: https://criu.org/Invisible_files

From the following error message it looks like a file with the same name as one

[2022-05-18 07:44] #1894 closed

[2022-05-18 08:10] mrc1119 opened #1897 "Can't mount controller net_cls: Device or resource busy"
**Description**
criu version: 3.17

**1) The information about the dump **_host_**:**
kernel:3.10.0-327.28.3.el7.x86_64
<details><summary>Output of `/proc/self/cgroup `:</summary>
<p>

[code]

</p>
</details>
dump cmd:
./criu dump --ghost-limit=500M -D /export/sine/dumpdata -j -R -t $pid --tcp-close --skip-in-flight --external mnt[/etc/hosts]:hostsmount --external mnt[/etc/hostname]:hostnamemount

[2022-05-18 08:19] adrianreber commented on #1897
I would not recommend going from 3.10 to 5.12 using CRIU. In this case you could ignore the cgroup settings during migration using `--manage-cgroup=ignore`.

The differences between those kernels are just too big.

[2022-05-18 08:33] adrianreber commented on #1886
Concerning https://github.com/opencontainers/runc/pull/3442: I am a bit afraid that we might break many existing runc/CRIU installation if CRIU is upgraded to 3.17. Maybe we need to think about to default to `--mntns-compat-mode` at least for RPC mode for the runc/crun use case. I have seen the mount-v2 errors as described in https://github.com/opencontainers/runc/pull/3442 also in Kubernetes test

[2022-05-18 08:48] mrc1119 commented on #1897
I got it, and I restore on kernel(3.10.0-957.21.3.el7.x86_64) have the same error.

[2022-05-18 08:49] mrc1119 commented on #1897
I tried using the new parameters(--manage-cgroup=ignore) to see if the problem was solved

[2022-05-18 09:34] mrc1119 commented on #1897
@adrianreber
I used this parameter to resolve the error, thanks.  Is there any other unknown problem?

[2022-05-18 15:40] Snorch commented on #1886
@adrianreber If we have no other choice yes we can switch to compat by defaul. Though leaving mount-v2 by default will help us track all these tricky cases about which I forgot (didn't though).

Please try this w/a https://github.com/checkpoint-restore/criu/pull/1898 maybe it would help to runc.

[2022-05-18 15:43] adrianreber commented on #1886
Having a fix sounds much better than disabling. I will test your fix tomorrow. Thanks.

[2022-05-19 03:49] #1897 closed

[2022-05-19 04:02] mrc1119 opened #1899 "IP tool failed on route restore"
**Description**
criu version:3.17

I dump the init process of a container on a host, the cmd is:
<details><summary>dump cmd:</summary>
<p>

[code]

</p>
</details>

And I restore the process in a container on another host, the restore cmd:
<details><summary>restore cmd:</summary>
<p>

[code]

</p>
</details>

**Describe the results you received:**
And I received a error, like this:

(00.032155)

[2022-05-19 12:34] mrc1119 commented on #1899
Uh,yes. The process I want to dump is a container internal process with a PID of 1, and I restore it into the destination
 container.

What command should I execute to view the network configuration? In fact, the network configuration of the two containers is almost identical.
<details><summary> destination  network config:</summary>
<p>

[code]

</p>
</details>

<details><summary> source  network

[2022-05-19 12:51] mrc1119 commented on #1899
Outside. I understand that I can't dump a process with a pid of 1 in the container.

[2022-05-19 12:55] mrc1119 commented on #1899
And the source container  also does not disable seccomp , so when I checkpoint, I got an error:suspending seccomp failed: Operation not permitted.

[2022-05-19 12:59] adrianreber commented on #1899
If you checkpoint the process outside of the container CRIU will track all the namespace information. For the network namespace, for example you need to tell CRIU to join the network namespace of the existing container. Please have a look at the man page how to tell CRIU to join existing namespaces.

[2022-05-19 13:03] mrc1119 commented on #1899
Thanks for your tip. I'm not familiar with man page. Could you tell me the specific URL of  how to tell CRIU to join existing namespaces?

[2022-05-19 13:04] adrianreber commented on #1899
Just do `man criu`.

[2022-05-19 13:26] mrc1119 commented on #1899
I add --join-ns to restore,like this:  --join-ns net:1
And it occurred another error: Unknown peer net namespace
<details><summary> error:</summary>
<p>

[code]

</p>
</details>

[2022-05-19 13:39] adrianreber commented on #1899
Try to mark the network namespace as an external resource during dump with `--external` and restore it with `--inheritfd`.

[2022-05-19 13:59] mrc1119 commented on #1899
I kind of understand what you mean and try to do it, but I don't know exactly how to do it.
So I wanted to refer to this URL( https://criu.org/External_net_namespaces ), but there was no example.
Could you help me with an example?

[2022-05-19 22:15] thesamesam opened #1900 "Build failure if libdrm installed without amdgpu support"
**Description**

criu-3.17 fails to build (with the needed backports: cd0ed7e5491c7c827b887b2d80cf35e87819278b and 2b3763fe6a39033d4e3d3d80e28911d1737ac23b) if libdrm is installed without amdgpu support.

Originally reported downstream in [Gentoo](https://bugs.gentoo.org/846446).

**Steps to reproduce the issue:**
1. Install libdrm without amdgpu support.
2. Try to build criu-3.17 (with above patc

[2022-05-22 03:19] mrc1119 commented on #1899
HELP~

[2022-05-22 04:07] jumbohei opened #1901 "permission question"
Hi, I have a question regarding to the permission and much appreciated for inputs. Let’s say if a user A who writes a program and runs as a user and then he/she wants to take a snapshot and I don’t want to give this person the root access. Is that doable? If yes, can user A goes into the image and modify the UID to 0, which is as root, to restore and run that application as root? Thanks!

[2022-05-22 15:07] rst0git commented on #1901
@jumbohei It might be worth looking at [user namespaces](https://www.man7.org/linux/man-pages/man7/user_namespaces.7.html). You can set `UID=0` as follows:

[code]

[2022-05-22 15:17] rst0git commented on #1901
Yes, checkpoint/restore can be used with non-root users as well: https://github.com/checkpoint-restore/criu/pull/1155

[2022-05-23 01:24] time-river commented on #1784
I met this problem recently. The reason is that the ip adress hasn't been configured.

[2022-05-23 08:31] tomjohntaylor opened #1902 "docker checkpoint creation not working on AWS EBS but when EFS is mounted it works"
When I'm trying to do docker checkpoints on AWS EC2 Ubuntu 20.04 LTS with standard gp2 EBS storage I'm getting the error as below, but after mounting default Docker dir to AWS EFS (NFS) it's suddenly starting to work.

[code]

I tried to use different EBS storage (io1) and it did not fix the problem.

[2022-05-23 09:20] adrianreber commented on #1902
There is a bug in Ubuntu concerning overlayfs which you seem to be hitting. If you try to upgrade to the latest kernel the bug may be fixed. Not sure. If you try another distribution you should not hit this bug. It is Ubuntu only.

[2022-05-23 14:37] avagin commented on #1902
What kernel do you user? Could you show /proc/pid/mountinfor from a container?

[2022-05-24 11:53] tomjohntaylor commented on #1902
5.13.0-1025-aws
5.13.0-1023-aws
cat: /proc/pid: No such file or directory

[2022-05-24 11:55] mrc1119 opened #1903 "mnt: Can't remove the directory /tmp/.criu.mntns.Dxd7XG : Device or resource busy"
I'm looking forward to getting help from the best.

**Description**
dump:
[code]

dump log: https://github.com/mrc1119/criu-log/blob/main/dump-succ.log

restore:
[code]

restore log: https://github.com/mrc1119/criu-log/blob/main/restore-failed.log

**Steps to reproduce the issue:**
1. Dump the container's init process  on the host (outside the container)
2. Restore the process in a container  whic

[2022-05-25 01:18] mrc1119 opened #1904 "Could not initialize kernel features detection"
This error is a first for me, is it a kernel problem?
Looking forward to your help!

**Description**
(00.000039) Version: 3.17 (gitid 496bcdb)
(00.000057) Running on A01-R11-219G7-I108-129.JD.LOCAL Linux 3.10.0-229.20.1.el7.x86_64 #1 SMP Tue Nov 3 19:10:07 UTC 2015 x86_64
(00.000065) File /run/criu.kdat does not exist
(00.000077) sockets: Probing sock diag modules
(00.001246) sockets: Done probing

[2022-05-25 01:51] mrc1119 commented on #1904
cat /boot/config-3.10.0-229.el7.x86_64 |grep CONFIG_CHECKPOINT_RESTORE
# CONFIG_CHECKPOINT_RESTORE is not set

So I guess the reason is that the kernel was compiled without CONFIG_CHECKPOINT_RESTORE.

[2022-05-25 02:18] mrc1119 commented on #1904
Can this configuration be added dynamically without rebooting the system?

[2022-05-25 02:45] mrc1119 commented on #1904
@avagin @adrianreber @Snorch help~

[2022-05-25 05:29] adrianreber commented on #1904
No

[2022-05-25 07:40] mrc1119 commented on #1883
@avagin @adrianreber
I used crit to process each core file, but it didn't work.

1.crit-python2 decode --pretty -i core-1.img > 1.json
2.sed -i "s/nginx/nginx2/g" 1.json
3.crit-python2 encode -i 1.json -o core-1.img

[2022-05-25 12:54] mrc1119 commented on #1883
@Snorch
Oh,yeah. I find the cmdline in pages image.  Since the cmdline has port information and I changed the listening port when I restored, I want the restored cmdline to be the same as the actual port.
Would you tell me how you changed the ps output?

[2022-05-25 15:55] Snorch commented on #1903
It's really strange to see errors:
[code]
In both cases we try to remove directories which are service directories created by this criu run and having tmpfs mounted over them. We succeed to lazy umount but fail to rmdir, there should be nothing more there in this directory, no other mounts no files in it.

I don't see how it may happen, so can we please debug it a bit to understand what happens.

[2022-05-26 07:31] Snorch commented on #1883
I just changed "00" to "22" in vim in the image and it happened to be that the length of binary representation of "00" and "22" is the same, so I didn't broke the memory layout and after restore it just worked with updated name in /proc/{pid}/cmdline. If you are accurate enough it should probably be possible to print a new name just above the old one adding proper escape in the end.

[2022-05-26 08:02] mrc1119 commented on #1883
@Snorch Oh I see. If pages-x.img has a lot of data, it is time-consuming to find cmdline. Do you know the location of source code which about restoring cmdline  ?

[2022-05-26 11:33] Snorch commented on #1883
It's just general memory restore code (likely around prepare_mappings()), there is no special piece of code for cmdline AFAICS.

[2022-05-27 06:48] mrc1119 commented on #1883
I find the piece of code for cmdline, location: criu/pie/restorer.c :
**sys_prctl(PR_SET_MM, PR_SET_MM_MAP, (long)&prctl_map, sizeof(prctl_map), 0);**
change cmdline from "args->mm.mm_arg_start" to "args->mm.mm_arg_end",
I kept the length of the string the same, so it doesn't have any problems
Thank you for your help! @avagin @adrianreber @Snorch

[2022-05-27 06:48] #1883 closed

[2022-05-27 07:21] #1904 closed

[2022-05-27 21:02] avagin commented on #1902
docker exec NAME cat /proc/1/mountinfo

I think @adrianreber is right, it is the known issue of the ubuntu kernel: https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1857257

[2022-05-29 07:09] hw-claudio commented on #229
Also landed here, as VM code for save restore in QEMU/libvirt is currently very slow. Have there been attempts to use CRIU with QEMU before? Is this known not to work because of something fundamental?

Thanks

[2022-05-29 10:24] rppt commented on #229
For VMs that do not use SRIO-V this should be possible. For that CRIU should be able to save/restore the state of all special devices QEMU uses. In the simplest case this would be only `/dev/kvm`, but generally, there should be support for virtio, VFIO, and so on. I don't think there is a fundamental issue with those, but this is a lot of work to implement support for KVM etc and even more work to

[2022-05-29 10:34] hw-claudio commented on #229
Thanks for your answer, there would be a lot of work to implement explicit support for KVM I understand, so probably better to try to put the work into QEMU instead to improve the save and restore performance.

[2022-05-30 20:12] ashu-mehra commented on #1893
I have also facing same issue. Restore with criu-ns fails with this message:

[code]

[2022-06-02 09:41] Snorch opened #1909 "We need test(s) for criu-ns script"
We have quiet some reports about criu-ns problems, but we don't have tests to show that when we fix something we don't break everything else.

Links:
criu-ns script - https://github.com/checkpoint-restore/criu/blob/criu-dev/scripts/criu-ns
criu-ns documentation - https://github.com/checkpoint-restore/criu/blob/criu-dev/Documentation/criu-ns.txt

Examples of what the test should check:
https://gith

[2022-06-06 06:57] mrc1119 opened #1910 "Send-Q isn't 0 after restore"
**Description**
When I recovered a Redis master shard, it got stuck while synchronizing data with the slave shard.
There is no problem in the restore process, but when comparing with the normally started Redis cluster, it is found to be stuck, so I suspect that the problem is caused by CRIU, please help to check whether the problem is related to CRIU.

**Steps to reproduce the issue:**
1.checkpoin

[2022-06-07 20:53] PavloMykhailyshyn opened #1911 "process hangs on system startup after CRIU restore"
**Description**

My service launches CRIU for each process (it could be the same binary with different arguments) simultaneously.
When all dumps are complete, the service ends. The system gets rebooted.
The system boots, the service starts again and goes through each dump folder. It runs CRIU on every image simultaneously.

Service did dump
`/usr/sbin/criu-ns dump --images-dir /var/lib/dumps/image

[2022-06-07 20:55] PavloMykhailyshyn commented on #1911
@Snorch and @rst0git
Could you be so kind to suggest something about this?

[2022-06-08 06:45] rst0git commented on #1911
@PavloMykhailyshyn could you try adding `--tcp-close` to the dump command as well?
(We recently [enabled](https://github.com/checkpoint-restore/criu/pull/1579) this option for dump as well.)

[2022-06-08 14:30] PavloMykhailyshyn commented on #1911
still the same

[2022-06-09 05:30] PavloMykhailyshyn commented on #1911
I will try to run several tests and get back to you with criu logs and callstacks

[2022-06-09 16:10] Snorch commented on #1899
Using `-j` when dumping a container, do you really need it? Normally container init has own session. It is worth mentioning which container runtime you use to create containers, if it's something popular why don't you use it's builtin c/r support?

Probably the easiest way here if we have an instruction on how to reproduce (better minimal reproduce) the issue.

[2022-06-13 16:57] ZeyadYasser opened #1913 "Lazy pages fails when used with podman"
**Description**
I am trying to do post-copy memory restore using podman to optimize response time of my container. Restore fails specifically the lazy-pages process when receiving the first `pid` and `userfaultfd` pair [here](https://github.com/checkpoint-restore/criu/blob/7e376186512b7b83bb5a73d6e9ce75e5dc28c835/criu/uffd.c#L762) `uffd: recv_fd error`, then subsequent pairs fail to be sent [here]

[2022-06-13 17:48] adrianreber commented on #1913
Asking it here is a better idea. I never thought about if this can work. I can look at it next week. My first thought is that this cannot work, but maybe... Usually at some point you need to specify an IP and port...

If nobody is able to help you, ping me again next week.

[2022-06-13 17:59] avagin commented on #1913
What value is in /proc/sys/vm/unprivileged_userfaultfd? CRIU requires to set it to 1.

[2022-06-13 18:01] avagin commented on #1913
could you collect a core dump and show a stack trace?

[2022-06-13 18:03] rppt commented on #1913
judging by the restore.log `userfaultfd()` syscall succeeded
@ZeyadYasser, is there lazy-pages.log?

[2022-06-13 18:08] avagin commented on #1913
and you can execute criu lazy-pages under strace and attach its output here (sudo strace -fo /tmp/criu-lazy-strace.log -s 1024 criu lazy-pages -D . -o lazy-pages.log -vvvv).

[2022-06-13 18:26] ZeyadYasser commented on #1913
`sudo strace -fo /tmp/criu-lazy-strace.log -s 1024 criu lazy-pages -D . -o lazy-pages.log -vvvv`
[criu-lazy-strace.log](https://github.com/checkpoint-restore/criu/files/8893522/criu-lazy-strace.log)
@rppt  [lazy-pages.log](https://github.com/checkpoint-restore/criu/files/8893523/lazy-pages.log)

@avagin /proc/sys/vm/unprivileged_userfaultfd was set to 0, I changed it to 1 but still getting the sam

[2022-06-13 18:45] rppt commented on #1913
The change to /proc/sys/vm/unprivileged_userfaultfd is immediate, no need to restart

[2022-06-13 19:03] rppt commented on #1913
@ZeyadYasser can you change  pr_err("recv_fd error\n") after recv_fd() to pr_perror("recv_fd error")?
Maybe errno will help...

[2022-06-13 19:06] avagin commented on #1913
[code]

It looks like we give a small buffer for a control message. I tried to reproduce the issue in my environment, but everything works as expected... Here is the strace output from my host:

[code]

[2022-06-13 19:18] ZeyadYasser commented on #1913
[criu-lazy-strace-2.log](https://github.com/checkpoint-restore/criu/files/8893826/criu-lazy-strace-2.log)
[lazy-pages-2.log](https://github.com/checkpoint-restore/criu/files/8893827/lazy-pages-2.log)

[2022-06-13 20:44] ZeyadYasser commented on #1913
It doesn't seem to have anything related to the container itself. Tested the flow on a generic container gave the same results.
```sudo podman run --runtime=runc -dt -p 8080:80/tcp docker.io/library/httpd```

[2022-06-14 00:04] avagin commented on #1913
@ZeyadYasser I think it can be a kernel problem. You can try to reproduce this issue with our tests:
$ python test/zdtm.py run -t zdtm/static/env00 --pre 2 --lazy-pages

What kernel do you use?

I have found one minor issue in our code. Could you try the next patch?
[code]

If it doesn't fix the issue, could you apply the next patch and reproduce the issue with strace. criu restore can be executed

[2022-06-14 01:25] shashank-sharma opened #1914 "Socket file missing after successful checkpoint and restore step in postgres image"
**Description**

After checkpoint and restore of postgres image (14.3), criu is not able to restore one socket file. I observed that after checkpoint, socket file is still there (I checked by mounting the directory and seeing if it is still there), after restoration is when the socket file is missing

**Steps to reproduce the issue:**
1. Pull postgres:14.3 image through docker and export OCI bundl

[2022-06-14 17:31] avagin commented on #1914
[code]

@Snorch could you take a look at why criu decided that it is a ghost socket?

[2022-06-15 15:00] Snorch commented on #1914
I checked it in Virtuozzo container and it `.s.PGSQL.5432` do not dissapear, It can indicate that we need to port something related to unixsk from vzcriu.

I guess it can be due to overmounted files support which we haven't ported yet on top of mount-v2.

Will continue investigating.

[2022-06-15 16:58] avagin commented on #1914
@Snorch could you write instructions how to dump/restore with the mount-v1 engine. Maybe it will work with it.

[2022-06-15 19:33] rst0git commented on #1914
[code]

[2022-06-15 20:17] goosesima opened #1916 "Error: Compatible vdso's size is bigger than reserved buf"
**CRIU logs and information:**

<details><summary>Output of `sudo criu check --all`:</summary>
<p>

[code]

</p>
</details>

<details><summary>Output of `criu --version`:</summary>
<p>

[code]

</p>
</details>

<details><summary>Output of `criu check --all`:</summary>
<p>

[code]

</p>
</details>

<details><summary>Output of `zcat /proc/config.gz | grep CHECKPOINT`:</summary>
<p>

[code]

</p>
</d

[2022-06-15 21:48] ZeyadYasser commented on #1913
`zdtm/static/env00` test passes. I applied the first patch, the problem unfortunately still persists.
Linux: `Linux pc 5.17.13-200.fc35.x86_64 #1 SMP PREEMPT Mon Jun 6 14:38:57 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux`
[criu-restore-strace.log](https://github.com/checkpoint-restore/criu/files/8913370/criu-restore.log)
[criu-lazy-strace.log](https://github.com/checkpoint-restore/criu/files/8913372/c

[2022-06-15 21:53] ZeyadYasser commented on #1913
I noticed that if changed `sendfd` to an fd other than the thread's `uffd`, the fd is sent successfully. I just tried sending fd 1.
https://github.com/checkpoint-restore/criu/blob/criu-dev/criu/uffd.c#L224

[2022-06-15 23:32] avagin commented on #1913
Could you check that you attached the right logs?

[2022-06-16 04:33] avagin commented on #1913
I was able to reproduce this issue on my host. Something wrong with selinux rules. In ftrace output, I see this call trace:
scm_detach_fds -> __receive_fd -> security_file_receive -> selinux_file_receive->...
[code]

@adrianreber we need your help here.

[2022-06-16 05:47] ZeyadYasser commented on #1913
You are absolutely right, I tried temporarily disabling selinux and it worked on my host.
@avagin Thank you so much!

[2022-06-16 07:59] mrc1119 opened #1917 "Can we dump without freezing the process?"
Is there any way to do dump without freezing the process?
Because my service is Redis, I have to provide services externally all the time.
Or is there a way to reduce the effects of freezing？

Ask each superior to give help!

[2022-06-16 11:06] PavloMykhailyshyn commented on #1911
`/usr/sbin/criu-ns dump --images-dir /var/lib/myservice/agent-dumps/images/image-id --shell-job --ext-unix-sk -v4 --log-file ../../logs/dump/2022-06-16T09:37:55Z_image-id.log --action-script /usr/local/sbin/criu_action_script.sh --tree 3469854 --ghost-limit 1G --tcp-close`
[dump.txt](https://github.com/checkpoint-restore/criu/files/8918223/dump.txt)
`/usr/sbin/criu-ns restore --images-dir /var/lib

[2022-06-16 11:07] PavloMykhailyshyn commented on #1911
@rst0git please take a look

[2022-06-16 12:53] PavloMykhailyshyn commented on #1911
but I noticed that after some period of time (perhaps 10-50 min could be more, it depends) everything becomes normal and the process continues to work

[2022-06-16 15:02] PavloMykhailyshyn commented on #1911
I attempted to dump and restore the restored process. Now it is truly stuck.
I did it for two processes:
- first one
[code]
- second
[code]

[2022-06-16 15:04] PavloMykhailyshyn commented on #1911
processes call such fucntion
`recv(m_sock, buf, block_read, 0);`

[2022-06-16 15:13] avagin commented on #1917
criu pre-dump was implemented exactly for this. It allows to dump memory while a process is continue running.

[2022-06-16 15:15] avagin commented on #1916
@0x7f454c46 could you take a look at this issue if you have time?

[2022-06-16 15:42] PavloMykhailyshyn commented on #1911
after attaching and detaching gdb from the process everything magically started to work

[2022-06-16 16:25] PavloMykhailyshyn commented on #1911
but the process takes much more time to finish its work than before dump and restore
(e.g. in a normal situation it lasts 40 min, after dump and restore almost 5 hours)

[2022-06-17 06:44] mrc1119 commented on #1917
Maybe I didn't give a clear description. I want redis to still handle service requests during dump.
Even pre-dump have a freeze operation on Dumpee.

[2022-06-17 06:46] mrc1119 commented on #1917
And I found a mistake when pre-dump:

pie: 55433: __fetched msg: 66 0 0
pie: 55433: __sent ack msg: 66 66 0
pie: 55433: Daemon waits for command
(00.193417) Fetched ack: 66 66 0
(00.193419) Error (criu/mem.c:45): BUG at criu/mem.c:45
pie: 55433: Trimmed message received (12/0)
pie: 55433: 55433: new_sp=0x7f8bfe2b1688 ip 0x7f8d023eebe1

# criu --version
Version: 3.17

[2022-06-17 11:47] Snorch commented on #1914
JFYI: Found this problem in mount-v2 when trying to reproduce with newer criu:
https://github.com/checkpoint-restore/criu/pull/1918

[2022-06-17 12:38] Snorch commented on #1914
@shashank-sharma I've updated your reproduce to use latest criu/docker and it works smoothly now:

https://github.com/Snorch/psql-testing/tree/updated-reproduce

[code]

So I believe problem is already solved.

As you can see there are quiet a lot of unix-socket changes in criu between v3.14 which you use and latest criu-dev branch:

[code]

[2022-06-17 14:30] WOnder93 commented on #1913
At the moment we have a blanket rule in selinux-policy to allow all processes to use userfaultfd (and other anon_inodes), but we didn't account for the case where such file descriptor is sent from one domain to another... Short term, I think we should change `allow domain self:anon_inode common_anon_inode_perms;` in policy/modules/kernel/domain.te to `allow domain domain:anon_inode common_anon_ino

[2022-06-18 20:21] shashank-sharma commented on #1914
@Snorch Thanks for the quick update, I just tested it out (3.17) and you are right, it works fine with the latest version.

Closing this issue, Resolved

[2022-06-18 20:21] #1914 closed

[2022-06-18 20:34] PavloMykhailyshyn commented on #1911
any thoughts?
@rst0git @Snorch @avagin @adrianreber
The problem is crucial, I need a suggestion here

[2022-06-20 14:48] avagin commented on #1911
What kernel do you use? Does it support time namespaces? Could you strace (strace -fo strace.log -s 1024 -p PID) the target process after restore? If it starts to work after gdb, it has to start work after strace too. I want to see first a few hundred lines in the log.

[2022-06-20 15:38] adrianreber commented on #1886
We also would want to have #1918 in 3.17.1 once it has been merged.

[2022-06-21 08:24] rst0git commented on #1917
@mrc1119 you can scale in-memory databases like Redis to run with master and replica instances in a cluster.
https://redis.io/docs/manual/scaling/

[2022-06-21 09:39] Snorch commented on #1917
You should not use --track-mem option if your kernel does not have CONFIG_MEM_SOFT_DIRTY
https://github.com/checkpoint-restore/criu/pull/1921

If you dump process state _completely_ without freezing process you end up with inconsistent dump. So the short answer is NO.

[2022-06-21 15:44] rst0git commented on #1911
@PavloMykhailyshyn you can check timens supported with:
[code]

[2022-06-21 20:53] PavloMykhailyshyn commented on #1911
everything works fine when I updated the kernel to the 5.10 version
is there a way to fix the problem on the 5.4 version? (or is this the only way to solve the hanging problem?)

[2022-06-21 21:10] avagin commented on #1911
@PavloMykhailyshyn I don't know any simple way to solve this issue on old kernels.

[2022-06-22 10:41] Snorch commented on #1893
@Niteesh26 @ashu-mehra Please try the fix from https://github.com/checkpoint-restore/criu/pull/1922, at least it helps for me to c/r simple `sleep inf` via criu-ns successfully:

[code]

[2022-06-22 10:56] PavloMykhailyshyn commented on #1911
@avagin could you elaborate more on these time-namespaces?
Can you explain why this solves my problem?

[2022-06-22 11:03] PavloMykhailyshyn commented on #1911
does it affect my processes in any way?

[2022-06-22 11:32] PavloMykhailyshyn commented on #1911
For example, it will make our processes run with completely different timestamps

[2022-06-22 11:55] Snorch commented on #1858
Unsupported fs-es distributed over network may be handled via external mounts:

1) Mount cephfs on both nodes (on host) between which you do a migration
2) Bind sephfs mount from host into your LXC container
3) Checkpoint LXC container with CRIU providing external option which marks your mount as external
4) Resume LXC container on other node providing external option which shows where on host to

[2022-06-22 15:31] rst0git commented on #1911
@PavloMykhailyshyn Security protocols are often designed with the assumption that the system clock doesn't jump backwards or forwards unexpectedly (e.g., [RFC 3161](https://datatracker.ietf.org/doc/html/rfc3161)). However, from the perspective of an application that is transparently checkpointed and then restored at later time or on a system with different system clock this assumption doesn't hold

[2022-06-22 19:50] zpytela commented on #1913
@WOnder93 you mean like this? https://github.com/fedora-selinux/selinux-policy/pull/1252
I am sure the commit message would use some improvement.

[2022-06-23 07:34] mrc1119 commented on #1910
help~ @Snorch @avagin @rst0git @adrianreber

[2022-06-23 14:41] PavloMykhailyshyn commented on #1911
so to be clear enough there is no way around fixing something on my end (probably fix code in restored processes)
the only way is to upgrade the kernel
am I right? or we can workaround somehow this?

[2022-06-23 19:49] Kharelg24 opened #1924 "[Makefile:217: images/built-in.o] Error 2"
**Steps to reproduce the issue:**
1. Clone the repository
2. Use make command

Any recommendations on how to solve this error?

[2022-06-23 19:53] rppt commented on #1924
can you run

make V=1 and post the build log?

On Thu, Jun 23, 2022 at 2:49 PM Kharelg24 ***@***.***> wrote:

--
Sincerely yours,
Mike.

[2022-06-23 20:01] Kharelg24 commented on #1924
Yep, here it is:

[make.txt](https://github.com/checkpoint-restore/criu/files/8970480/make.txt)

[2022-06-23 20:19] rppt commented on #1924
On Thu, Jun 23, 2022 at 3:01 PM Kharelg24 ***@***.***> wrote:

Thanks, but it does not show the error message...

--
Sincerely yours,
Mike.

[2022-06-23 20:40] Kharelg24 opened #1925 "[Makefile:217: images/built-in.o] Error 2 #1924"
Here is the build log for it:
[make.txt](https://github.com/checkpoint-restore/criu/files/8970792/make.txt)

Please let me know if you have any recommendations on how to solve this error,
Thank you!

[2022-06-24 06:03] adrianreber commented on #1925
Closing this in favour of #1924

[2022-06-24 06:04] #1925 closed

[2022-06-24 06:04] adrianreber commented on #1924
Please install protobuf-c-compiler

[2022-06-24 08:02] mrc1119 opened #1926 "predump failed, kernel not support?"
I failed to predump the container on a host. And I would like to know how to confirm if the host supports this feature.

criu cmd:
./criu pre-dump -t $pid -j -D /export/sine/predump/ --tcp-close --skip-in-flight v4 -o /export/sine/predump.log

some error:
pie: 1: Error (criu/pie/parasite.c:92): Can't splice pages to pipe (-11/1/472)
(01.412641) Error (compel/src/lib/infect-rpc.c:68): Command 66 fo

[2022-06-24 08:15] mrc1119 commented on #1926
The operating system that has a lot of stock containers is really old, but I can't migrate those containers.
Oddly enough, the dump operation is ok in the current environment.
What do I need to do to confirm that predump is not supported?

[2022-06-24 08:18] adrianreber commented on #1926
CRIU was never fully supported on CentOS 7. Only as tech preview. predump support was backported later to CentOS.

[code]
You already did it. It is not supported.

[2022-06-24 08:35] #1926 closed

[2022-06-24 14:55] avagin commented on #1910
Have you rebooted the host between dump and restore?

[2022-06-24 15:02] avagin commented on #1910
Form the tcp dump, we can see that a connection is alive and there are some data that are being transferred. You need to check that other side reads from the tcp socket.

[2022-06-26 23:44] Skydermoby opened #1927 "Checkpointing Tensorflow-rocm with CRIU"
So I'm trying to checkpoint a tensorflow-rocm (2.9.1) application running on my GPU (Raedeon RX 6950 XT), however, have been so far unsuccessful and have been unable to see why.

Steps
1. Install rocm-5.1.3
2. Install Tensorflow-rocm
3. Install CRIU 3.17
4.  Run a sample TensorFlow program (I used mnist.py)
5.  Use criu dump

Supposedly I should received an echoed "OK" and see multiple new img fil

[2022-06-27 09:08] Snorch commented on #1927
CC: @rajbhar @dayatsin-amd @fxkamd Please take a look.

[2022-06-27 10:30] mrc1119 opened #1928 "How do I run unit tests and get line coverage?"
Such as title

criu version: 3.15 3.17

[2022-06-27 10:34] adrianreber commented on #1928
Can you be a bit more specific would you want?

[2022-06-27 12:01] oleotiger opened #1929 "C/R of program with output to both terminal and file"
**Description**

I have a program which output log to both terminal and a log file. When I restore the first time and kill with `ctrl+C`, I get errors the second time to restore:
[code]

This is due to changed log after restoring. I have to make a backup of the log file and when I want to restore, resume the log file first.

**Q1**
Any other good idea to resolve it ?

**Q2**
After I restore the pr

[2022-06-27 12:02] rst0git commented on #1924
This wiki page contains all dependencies: https://criu.org/Installation#Installing_build_dependencies

[2022-06-27 14:54] Skydermoby commented on #1927
I also forgot to mention that my OS is Ubuntu 20.0.4

[2022-06-27 16:03] dayatsin-amd commented on #1927
@Skydermoby
Could you post your smaps:
cat /proc/<PID>/smaps

[2022-06-27 17:07] Skydermoby commented on #1927
I saved my smaps to a txt file
[smaps.txt](https://github.com/checkpoint-restore/criu/files/8994247/smaps.txt)

[2022-06-27 17:46] dayatsin-amd commented on #1927
Actually, it looks like the CRIU cannot find amdgpu_plugin.

Can you please check if there are errrors when trying to install the plugin:

criu-3.17.1$ sudo make install
Note: Building criu **with amdgpu_plugin**.
:
:

With CRIU 3.17.1, the default path for the plugin is:
/usr/local/lib/criu/amdgpu_plugin.so

With older versions, it is:
/var/lib/criu/amdgpu_plugin.so

[2022-06-27 22:56] Skydermoby commented on #1927
I also want to quickly mention that my default directory name is "criu" and not "criu-3.17.1", not sure if that makes a difference but I just wanted to double check

[2022-06-27 23:39] Kharelg24 commented on #1924
I have tried installing all the dependencies but now I seem to be getting a different error. I am not really sure on how to go about solving this error.
file:///home/gaurav/code/criu/make.txt

[2022-06-27 23:40] Kharelg24 commented on #1924
[make.txt](https://github.com/checkpoint-restore/criu/files/8996275/make.txt)