[2021-01-27 08:58] avagin commented on #1346
I think the problem is that a test vma is merged with another vma. The kernel can do this if both vma-s have been mapped with the same flags.

[2021-01-29 17:08] #1346 closed

[2021-01-30 23:11] adrianreber opened #1354 "bpf test are failing on 5.10 Fedora 33"
The vagrant based tests using Fedora 33 on 5.10.10-200.fc33.x86_64 are failing in:
[code]
with
[code]

This could be related to SELinux. Who can look into that? Either disable tests when running in enforcing mode or work towards getting the corresponding policies into SELinux? Or figure out if it is something else.

[2021-01-31 00:29] 0x7f454c46 commented on #1317
I have a branch with some draft patches, will try to finish them soon.

[2021-02-04 00:20] rst0git commented on #1223
The problem has been resolved with containerd [v1.5.0-beta.0](https://github.com/containerd/containerd/releases/tag/v1.5.0-beta.0).
[code]

[2021-02-04 09:17] Snorch commented on #118
Just for history, if I run this test on criu-dev (v3.15+) and on Fedora32, I still have an error:
[code]
The workaround here is to disable exclusive, which probably is what we do in our test environments:
[code]

[2021-02-06 23:04] #1244 closed

[2021-02-08 08:36] Snorch commented on #1301
Close as fixed.

[2021-02-08 08:36] #1301 closed

[2021-02-10 22:02] ShunmugaPriyaR opened #1365 "docker restore not initiated"
Hello,

I am using the custom kernel for one of my applications. I could checkpoint the application successfully. But when I try to restore from the checkpointed data, I am seeing that the docker container is starting freshly. The criu log file is successfully created during checkpoint. But when I try to restore with the command "docker start --checkpoint=checkpoint1 app1", the app1 is starting fr

[2021-02-10 22:11] adrianreber commented on #1365
Docker was broken in regards to checkpoint/restore. Please try Podman. Please also tell us the version of Docker.

@rst0git can you help out about which version of Docker works and which does not?

[2021-02-10 23:31] ShunmugaPriyaR commented on #1365
The docker version I am using now is given below:

Version:           20.10.2
 API version:       1.41
 Go version:        go1.13.15

Thanks and Regards,
Priya

On Wed, Feb 10, 2021 at 4:11 PM Adrian Reber <notifications@github.com>
wrote:

--
winners do not do different things.They do things differently

[2021-02-11 01:17] ShunmugaPriyaR commented on #1365
Hi Adrian,

I reverted back the docker version to 19.03.05 (this version worked
successfully earlier). But the same problem is getting repeated.

I am successful at the checkpoint but the directory size is only 9.5M,
which is quite small.
And the restore is not using the checkpoint directory, which I am pointing
at.

I am not sure where should I debug further.

Regards,
Priya.

On Wed, Feb 10, 202

[2021-02-11 06:44] adrianreber commented on #1365
As  mentioned in my first comment. Please try with Podman to see if it works at all.

[2021-02-11 08:07] adrianreber commented on #1257
Closing as we will not move to travis-ci.com

[2021-02-11 08:07] #1257 closed

[2021-02-11 15:40] rst0git commented on #1365
@ShunmugaPriyaR could you try to install containerd version v1.2.14?
[code]

[2021-02-12 19:27] ShunmugaPriyaR commented on #1365
Hi Radostin,

I changed the containerd version from 1.4.3 to v1.2.14. But there is no
effect. For all the tried versions, the checkpoint is always successful but
while starting the container with the specified metadata, it is not
utilizing the metadata. The application is starting from the beginning (
instead of from the frozen point).

I changed the docker version till 18.09. No effect.
There is

[2021-02-15 06:18] rst0git commented on #1365
Hello Priya, tested on my local machine, the following setup works as expected.
[code]

I hope this help.

[code]

[2021-02-15 13:46] ShunmugaPriyaR commented on #1365
Thank you Radostin. I will work on the specified versions. Thank you for
your kind help.

On Mon, Feb 15, 2021, 12:18 AM Radostin Stoyanov <notifications@github.com>
wrote:

[2021-02-15 15:24] Snorch commented on #1332
From dump log we see:

[code]

From restore log we see (I hope restore.log corresponds to dump log):

[code]

With high probability I can guess that the session id (sid) of your task which
called criu accidentally conincided with thread id (tid) of one of dumped
processes, and criu lookup_create_item instead of creating new item for a new
sid found some existing item (thread) and it was luckily ca

[2021-02-16 15:40] ShunmugaPriyaR commented on #1365
Hi Radostin,

I finally succeeded in restoring the docker from the frozen point.
As you said, changing the containerd.io version fixed the problem.
In the earlier testing, the containerd.io was not updated properly.
Modifying the containerd executable to v1.2.14 has still had some
dependency with shim-runc-v2 not present. I didn't dig the root cause of
the failure. But with the proper update from

[2021-02-17 09:03] apinter commented on #133
I do realize that this issue is almost 5 years old, but it would be great to have `btrfs` testing if there isn't yet as it is getting more and more relevant with Fedora switching to it as default fs on F33 Workstation.
Had a run in with criu recently when I tried to checkpoint a podman container on openSUSE. Going to link the issue in case anyone is interested: https://github.com/containers/podman

[2021-02-17 09:09] geminijun opened #1366 "criu restore: epoll: Can't add event on 0x00017f: Bad file descriptor"
I actually did research on the source code and think I got the root cause.

The reason is that process A created `event_poll` and added a socket to it, and then forked process B which inherit the `event_poll` fd but closed the socket. (You can argue that the program was not well programmed since it should have closed event_poll as well if it doesn't need it anymore)

It looks like CRIU will sort f

[2021-02-17 09:28] adrianreber commented on #133
Good idea. We can use our existing vagrant setup to boot up Fedora 33. Vagrant uses the cloud image so we need to create a btrfs  and manually mount it. But sounds doable.

[2021-02-17 18:01] adrianreber commented on #1365
Sounds like this is solved.

[2021-02-17 18:01] #1365 closed

[2021-02-17 18:03] adrianreber opened #1368 "aarch64 rawhide test runs are failing"
[code]

I opened https://bugzilla.redhat.com/show_bug.cgi?id=1929819. Should be solved soon.

[2021-02-18 16:09] adrianreber opened #1370 "openj9 tests are failing"
@nidhi1605 all your openj9 CRIU tests are failing (https://github.com/checkpoint-restore/criu/runs/1869412177)

Can you please check what is going on? Let us know if we should disable it?

[2021-02-19 04:12] rst0git commented on #1370
(00.427887) Unlock network
(00.427894) Unfreezing tasks into 1
(00.427898)     Unseizing 22060 into 1
(00.427995) Error (criu/cr-dump.c:1780): Dumping FAILED.

[2021-02-19 05:08] avagin commented on #1366
@cyrillos @Snorch could you help with this?

[2021-02-19 06:14] #1370 closed

[2021-02-19 12:53] adrianreber opened #1372 "ci: arm build failure"
On Debian Testing and Unstable and Ubuntu 20.10 arm7vl builds are failing (see https://build.opensuse.org/project/show/devel:tools:criu)
[code]

[2021-02-19 12:57] adrianreber opened #1373 "ci: s390x builds are failing on Ubuntu 20.10 (also Fedora 32)"
s390x builds are only failing on Ubuntu 20.10 (see https://build.opensuse.org/project/show/devel:tools:criu)
[code]

All other distributions are building s390x without any problems.

[2021-02-19 13:21] adrianreber commented on #1373
I also see it on Fedora 32

[2021-02-21 02:26] ashish-billore commented on #1307
For now, I was able to get past this issue with privileged containers, so closing this issue.

[2021-02-21 02:26] #1307 closed

[2021-02-24 04:24] rajbhar opened #1374 "Checkpointing containers is failing with docker and podman"
I am trying to checkpoint a simple looper but not able to checkpoint successfully. I tried both docker checkpoint create and podman checkpoint container commands. Earlier i was getting errors related to iptables-restore -w which I could fix by building  latest iptables on my test machine.

# podman run -d --name looper busybox /bin/sh -c \
         'i=0; while true; do echo $i; i=$(expr $i + 1); s

[2021-02-24 07:27] adrianreber commented on #1374
It sounds like you are using a self compiled kernel and it seems to be missing for CRIU necessary DIAG options:
[code]

Looking at one of my test systems I see following modules loaded:
[code]
You probably need to turn on a couple of these options:
[code]
Not all of them are necessary for CRIU but some are.

[2021-02-24 15:14] #1373 closed

[2021-02-24 20:03] rajbhar commented on #1374
Thanks Adrian! I had most of them built-in my kernel but not as a module. Remaining ones from this list I added to my config. Now on checkpointing with docker, I see this error which I am trying to debug.

(00.160697) Error (criu/libnetlink.c:55): -22 reported by netlink: Invalid argument
(00.161918) Error (criu/namespaces.c:1145): Namespaces dumping finished with error 59904
(00.162266) kfd_plugi

[2021-02-24 21:23] adrianreber commented on #1374
I would still blame your custom kernel. Your are probably missing some NETLINK related kernel configuration options.

[2021-02-24 22:48] rst0git commented on #1374
@rajbhar you can find on this page the kernel features required by CRIU: https://criu.org/Linux_kernel

[2021-02-24 23:48] rajbhar commented on #1374
Thanks Radostin and Adrian. Though criu check was telling me "Looks good" but I was still missing some of these. After I build kernel, I am able to checkpoint with docker but still seeing some issues which I believe are not related to criu.
"Error response from daemon: custom checkpointdir is not supported" I am doing more debug and testing and will close this issue soon if i don't run into any ot

[2021-02-25 06:46] adrianreber commented on #1374
As long as you do not use the Ubuntu Kernel you should be on the save side. I am the author of the Podman CRIU integration so I am biased, but to easily migrate containers, Podman provides a much friendlier interface if you are using the `--export` feature. With Podman it is one command to export a container and one command to import a container.

If your problems are solved please close this tick

[2021-02-25 07:55] Snorch commented on #659
Note: support of openvswitch is implemented in Virtuozzo criu https://src.openvz.org/projects/OVZ/repos/criu/commits/bd5b3d908 + vzkenel https://src.openvz.org/projects/OVZ/repos/vzkernel/commits/38719b34f83

One can try porting it.

[2021-02-25 12:31] Snorch commented on #1366
It's not that simple, due to process re-parenting (daemonization) we can lose the information about which process was the "highest". More over if we imagine the different situation in which we chose the process A to restore epoll but it was not B but process A to close the fd. So this kind of heuristics does not work in general.

There are already patches which handle targets of epolls from anothe

[2021-02-25 17:38] rst0git commented on #1374
was reported some time ago in https://github.com/moby/moby/issues/37344

CRIU - the latest version
OS/Kernel - I would recommend the latest Fedora or RHEL
Docker/containerd: You might need to use containerd v1.2.14 or 1.5.0-beta.1 (See https://github.com/checkpoint-restore/criu/issues/1365 and https://github.com/checkpoint-restore/criu/issues/1223)

I agree with Adrian about Podman. If there are a

[2021-02-25 19:44] lzqlzqwhr opened #1378 "Containers Starts From Initial States After Checkpoint & Restoring"
I tried the Docker 20.10.2 to checkpoint a container, however, once restoring it does not restart from the checkpointed states. Instead, it starts from the beginning.

Docker version: 20.10.2
CRIU version: 3.15
RUNC version 1.0.0-rc92

1. Start the container:
`docker run --security-opt=seccomp:unconfined --name cr -d busybox /bin/sh -c 'i=0; while true; do echo $i; i=$(expr $i + 1); sleep 1; done'

[2021-02-26 00:46] #1374 closed

[2021-02-26 00:47] rajbhar commented on #1374
Thank you for the feedback and help!

[2021-02-26 07:34] Snorch commented on #1378
See #1365 and #1223 and #1374. You probably need to search for your problem in issues first before filling a new one =)

[2021-02-26 08:02] adrianreber commented on #1378
@Snorch is right. This has been discussed multiple times already and it is a Docker problem.

You can try Podman. That should give you a working container checkpoint and restore implementation.

I am closing this ticket as it is a duplicate and not a CRIU bug.

[2021-02-26 08:02] #1378 closed

[2021-02-26 10:55] rst0git opened #1380 "lazy-thp: fail at criu page-server"
#### Description

The `lazy-thp` test fails when running in an Alpine container. (https://github.com/checkpoint-restore/criu/pull/1277)

#### Steps to reproduce the issue:

[code]

[code]

#### Describe the results you received:
[code]

[page-server.log](https://github.com/checkpoint-restore/criu/files/7727299/page-server.log.txt)
[lazy-pages.log](https://github.com/checkpoint-restore/criu/files/7

[2021-03-01 07:30] #1372 closed

[2021-03-02 15:08] #1253 closed

[2021-03-03 12:23] MTBorg opened #1387 "Differentiate when parent symlink does not exists and when it is invalid"
When trying to open a parent image there is no distinction between 1) when a symlink does not exist and 2) when it does not point to a valid target. See below for reference

https://github.com/checkpoint-restore/criu/blob/a76d186d9dc984213cc1d2022de8ecf7232657c2/criu/pagemap.c#L655-L691

This causes problems when passing an invalid path, i.e. non-existing directory (case 2), using runc's `--parent

[2021-03-05 11:00] adrianreber opened #1390 "CI tests (CentOS 8) are failing because of a tainted kernel"
The CentOS 8 test case in a container started to fail with:
[code]
This seems to be a new error and only on the newest GitHub Actions kernel (5.4.0-1040-azure). The following warning can be seen in `dmesg`:
[code]
This used to work with the older GitHub Actions kernel 5.4.0-1039-azure

This does not seem to be a CRIU problem.

[2021-03-05 11:12] adrianreber commented on #1390
https://github.com/actions/virtual-environments/issues/2848

[2021-03-05 13:02] adrianreber commented on #1380
I just read about TLS problems in a Alpine based VM which was fixed with `ip link set dev eth0 mtu 1420`.

Are you running your tests in a VM? Can you try to decrease the MTU to check if this changes anything?

[2021-03-05 16:44] rst0git commented on #1390
zdtm has `--ignore-taint` option

[2021-03-08 14:30] 0x7f454c46 commented on #1171
I've looked at this last week. It's reproducible with the mentioned benchmark:
[code]
Though, I have Kaby Lake CPU and it doesn't have those counters (from the report):
[code]

Looking at `__ieee754_log_fma()` disasm it has some amount of FMA instructions, i.e:
[code]
While `MAIN__._omp_fn.1` disasm has SSE2 instructions, i.e:
[code]
Intel's [optimisation reference](https://software.intel.com/site

[2021-03-08 15:59] 0x7f454c46 commented on #1171
FWIW, clean up of upper state in all threads (see dirty hacking in https://github.com/0x7f454c46/criu/commit/4a67588dcb29642004ce22d841e7f87d2c74b352), removed any difference:
[code]
(kernel.kallsyms is probably from criu-restore itself)

[2021-03-08 18:24] adrianreber commented on #1368
This has been fixed in Fedora.

[2021-03-08 18:24] #1368 closed

[2021-03-09 08:50] #1317 closed

[2021-03-09 11:46] adrianreber opened #1393 "The test crit-recode.py fails for certain image files"
There is a Jenkins error that shows crit-recode failures:
[code]

We are running crit-recode.py also during pull requests but the image files are missing certain sections which trigger this error, because we currently do this:
[code]
It this is changed to:
[code]
It will fail with:
[code]
I think this is still a left-over from the Python 2 to Python 3 switch. From what I have seen it seems that th

[2021-03-09 12:18] zyqCSL opened #1394 "Docker checkpoint on Azure VM"
Hi guys,

I ran into an issue when trying to create checkpoint for docker container on Azure Ubuntu VM. Here are my environement setting:

- os: Ubuntu 18.04.5 LTS (GNU/Linux 5.4.0-1039-azure x86_64)
- docker version: 18.06.3-ce, build d7080c1
- runc version: 1.0.0-rc93
- criu version:  3.15

I also tried criu-3.12 and got the same error.

I tried to follow the demo in https://github.com/docker/cl

[2021-03-09 12:46] adrianreber commented on #1394
That is easy. Do not use Ubuntu. They have non upstream patches which break checkpoint/restore on overlayfs:

https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1857257

The bug is open for a long time and I do not think they will every fix it.

Unrelated. If you want to checkpoint/restore OCI containers, try Podman. It has much better checkpoint/restore support.

Closing this as it is not a CRI

[2021-03-09 12:46] #1394 closed

[2021-03-09 13:32] 0x7f454c46 commented on #1171
Ok, so https://github.com/0x7f454c46/criu/commit/d6fa479e4cdc94cd84182a2daf9deff7b22de288 seems to bring back the performance on the nasa benchmark. @planetA, could you try to apply it and see if that fixes your original issue?
(time to write some zdtm test for this annoyance)

[2021-03-10 06:20] #1332 closed

[2021-03-10 08:56] Snorch opened #1396 "New way how we handle external mounts"
Currently we have two types of external mounts:

1) simple external mount:
we dump it with ```--external mnt[/path/to/mountpoint/in/ct]:key```
we restore it with ```--external mnt[key]:/path/to/mountpoint/on/host```
2) device external mount:
we dump it with ```--external dev[major/minor]:key```
we restore it with ```--external dev[key]:/path/to/device/on/host```

The downside of (1) in case we mig

[2021-03-11 07:26] subhayu99 commented on #360
Hello @xemul,
I am really interested in working on this issue. Can you brief me a little bit about the whole workflow of the proposed project? Also, I am facing some difficulties while installing the software on my Ubuntu machine. It will be very helpful if you could instruct me through the installation process.

[2021-03-11 10:23] rst0git opened #1400 "Current sid 18028 intersects with pid (255) in images"
Commit https://github.com/checkpoint-restore/criu/commit/77968d43c3641baa189212ee3547e932fff7f634 causes all Java tests to fail with the following error

[code]

[2021-03-11 10:23] rst0git commented on #1400
cc: @Snorch

[2021-03-11 19:29] xemul commented on #360
@subhayu99 , I've already briefed you in the issue description. Also there's a description of the issue on the wiki, have you read it?

Regarding difficulties of the installation process -- there's mailing list for such questions, you're welcome to join.

[2021-03-12 09:20] Snorch opened #1402 "criu/lsm.c:90: Invalid selinux context kernel"
I can see all tests failing on my system (f33) like this:

[code]

I have selinux "enabled" on my system in some strange way:

[code]
But there is empty dir in /sys/fs/selinux:

[code]

And kerndat_lsm() states that it means that selinux is though enabled.

That's why in selinux_get_label() we try to get selinux process context but get "kernel" in responce.

E.g.:
[code]

"kernel" selinux init con

[2021-03-12 12:19] adrianreber commented on #1402
Interesting. Never seen selinux in this state. Probably easy to fix if we know that `current` can also contain the string `kernel` for being uninitialized.

[2021-03-12 15:41] Snorch commented on #1402
@adrianreber Note that there are some other "initial" states https://github.com/torvalds/linux/blob/master/security/selinux/include/initial_sid_to_string.h, but probably handling "kernel" is enough for now...

Note: adding "selinux=0" kernel boot parameter workarounded the problem for me.

[2021-03-12 16:23] adrianreber commented on #1034
This is fixed

[2021-03-12 16:23] #1034 closed

[2021-03-12 16:24] adrianreber commented on #1038
Closing. We are no longer excluding any cgroup tests on v2.

[2021-03-12 16:24] #1038 closed

[2021-03-12 17:19] planetA commented on #1171
@0x7f454c46 Hi! Thanks a lot for your effort. This AVX stuff is outside my area of expertise :)

 I can't check it right now. Is it OK to close bug, and if reappears, I will reopen it?

[2021-03-12 19:40] 0x7f454c46 commented on #1171
@planetA, don't worry, I'll use this issue and close it with PR with a fix I've made.
Anyway, thanks for your report!

[2021-03-14 00:29] lvella opened #1404 "Failed to checkpoint restored sessions."
I am trying to make periodic checkpoints for a long running ffmpeg encode. I wrote a python script that spawns the ffmpeg process as a child, and periodically writes a checkpoint. I record the size of the output file after the checkpoint with `--leave-stopped` and then `SIGCONT` the process, so I can truncate the output to the same size when restoring.

So far I managed to checkpoint repeatedly an

[2021-03-14 21:44] #807 closed

[2021-03-15 07:08] adrianreber commented on #1404
@lvella Can you tell us which version of CRIU and Kernel you use?

@avagin any ideas what is happening here? Is this related to #1323 ?

[2021-03-15 07:13] adrianreber opened #1405 "Drop Python 2 support?"
Hello @checkpoint-restore/maintainers

In a recent pull request @avagin brought up if we should drop Python 2 support? We discussed it already a couple of times and the only reason to not drop it was that CentOS/RHEL 7 still exists until 2024.

@avagin correctly mentioned that CentOS/RHEL 7 also comes with Python 3. So we could drop Python 2 support without breaking any of our tested platforms.

R

[2021-03-15 10:20] lvella commented on #1404
@adrianreber I got the same issue with criu 3.15, but I first got with Ubuntu's criu 3.14. Kernel is Ubuntu's 5.8.0-44-lowlatency.

I could not build previous criu release, got some struct redefinition error.

[2021-03-15 10:23] adrianreber commented on #1404
@lvella There has been a fix concerning time namespaces in 5.11 (see #1323) but I am not sure this related to your failure. But @avagin should now.

[2021-03-15 17:25] 0x7f454c46 commented on #1405
I don't have anything against it. Moreover, for some time I already have to call `make PYTHON=python3` because the default python version in nmk is:
[code]
and maintainers of Arch Linux stopped supporting python2 protobuf bindings, I only have these days:
[code]
So, sounds good to me.

[2021-03-15 21:33] lvella commented on #1404
I tested, and I get the same issue with master.

[2021-03-16 07:41] avagin commented on #1405
I think we can stop supporting python 2.

[2021-03-16 08:05] mind-mind opened #1407 "Pod man error"
Hi everyone,

I tried to use the Podman checkpoint, as a source:

 https://darumatic.com/blog/podman_introduction?fbclid=IwAR0pTeYuK7119f5c8k72uNQDIGfZA01sqO3CKz1HKKE1SgyuNSyooT27qng

Anyway, I got the error, I already use "sudo criu check" it looks good.

<img width="750" alt="Screen Shot 2021-03-16 at 3 00 43 PM" src="https://user-images.githubusercontent.com/68138683/111275734-0a741580-8669-11e

[2021-03-16 08:13] adrianreber commented on #1407
Are you running this on BTRFS?

[2021-03-16 08:19] mind-mind commented on #1407
Well, I'm not sure about that. How can I check?

[2021-03-16 08:21] mind-mind commented on #1407
I used "sudo btrfs filesystem show", but the command not found.

[2021-03-16 08:21] adrianreber commented on #1407
Just run `mount` and see if your container directory is on BTRFS. The error looks like it is BTRFS related.

There is documentation that CRIU might not work on BTRFS and how workaround it: https://criu.org/Filesystems_pecularities

[2021-03-16 08:27] mind-mind commented on #1407
Thank you @adrianreber

I run mount and here that I got.

sysfs on /sys type sysfs (rw,nosuid,nodev,noexec,relatime)
proc on /proc type proc (rw,nosuid,nodev,noexec,relatime)
udev on /dev type devtmpfs (rw,nosuid,relatime,size=16377348k,nr_inodes=4094337,mode=755)
devpts on /dev/pts type devpts (rw,nosuid,noexec,relatime,gid=5,mode=620,ptmxmode=000)
tmpfs on /run type tmpfs (rw,nosuid,noexec,relat

[2021-03-16 08:34] adrianreber commented on #1407
You could grep for `btrfs`. But your system is not running on BTRFS. It is something else. We would need a complete dump.log from CRIU, but I guess it is somehow related to to one of the many mounts you have.

You should try it on a non desktop machine. Try a VM somewhere where no snaps are running and where there is no fuse or debugfs mounted.

[2021-03-16 08:41] mind-mind commented on #1407
Thank you so much.
Actually, I run it on a server, but I will try another server.

[2021-03-16 08:41] adrianreber commented on #1407
Wait. I am wrong. This is not BTRFS related.

Is this Ubuntu?

[2021-03-16 08:42] mind-mind commented on #1407
Yeah, it is ubuntu 18.04

[2021-03-16 08:43] adrianreber commented on #1407
Do not use Ubuntu. The kernel is broken. They have non official patches which breaks CRIU on overlayfs. Use another operating system and it should work.

See https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1857257

[2021-03-16 08:44] mind-mind commented on #1407
Okay, thank you.

[2021-03-16 08:45] adrianreber commented on #1407
I am closing this. Please re-open if you have further questions.

[2021-03-16 10:34] adrianreber commented on #1405
I had a closer look and unfortunately there are no Python 3 protobuf bindings in CentOS/RHEL 7.

So we cannot really drop Python 2 support without dropping CentOS/RHEL 7 support.

We could at least help @0x7f454c46 by defaulting to Python 3. But not being able to drop Python 2 support means that either we have more effort making sure everything still works with Python 2 or we reduce the number of

[2021-03-16 18:40] ZeyadYasser opened #1408 "CRIU_REQ_TYPE__FEATURE_CHECK RPC request always failing"
I was trying to call the feature check over RPC and was getting errors. I started looking into [cr-service.c](https://github.com/checkpoint-restore/criu/blob/criu-dev/criu/cr-service.c).

It turns out that the request handler [```handle_feature_check()```](https://github.com/checkpoint-restore/criu/blob/c8beca65580da87b89964da3ffb454ca99aa6bc6/criu/cr-service.c#L1052) was failing, I think this was

[2021-03-17 08:13] rst0git commented on #1405
Would it work to install the protobuf bindings with pip?
https://pypi.org/project/protobuf/

[2021-03-17 08:35] adrianreber commented on #1405
That would work for CI. It would not help for packaging on the distribution side. The packaging would need to drop the crit sub-package and criu python bindings, but that is doable. If someone really wants to run the latest version of CRIU on CentOS/RHEL 7 with Python bindings they would need to use pip to install it. Sounds acceptable to me.

Use pip in CI, drop python related packages in our pac

[2021-03-17 12:13] yinshuisiquan opened #1411 "When name is null, it will coredump"
https://github.com/checkpoint-restore/criu/blob/c8beca65580da87b89964da3ffb454ca99aa6bc6/criu/sk-unix.c#L1277

<http://www.gnu.org/software/gdb/documentation/>.
For help, type "help" .
Type "apropos word" to search for commands related to "word" ...
Reading symbols from /usr/sboin/criu..Reading sywbols fron /usr/lib/debug/.build-id/b4/8507ab6614613facdcc8b7edeb1a948a54e550.debug...done.
done.
[New

[2021-03-17 12:29] yinshuisiquan opened #1412 "When name is null, it will coredump"
https://github.com/checkpoint-restore/criu/blob/c8beca65580da87b89964da3ffb454ca99aa6bc6/criu/sk-unix.c#L1277
<http://www.gnu.org/software/gdb/documentation/>.
For help, type "help" .
Type "apropos word" to search for commands related to "word" ...
Reading symbols from /usr/sboin/criu..Reading sywbols fron /usr/lib/debug/.build-id/b4/8507ab6614613facdcc8b7edeb1a948a54e550.debug...done.
done.
[New

[2021-03-17 12:51] Snorch commented on #1400
Sorry for breaking tests, I missed this case where old_sid==new_sid, please see a pr #1413. It should help.

[2021-03-17 12:56] Snorch commented on #1405
In Virtuozzo 7 we also have only python2 option, it would be sad If we would not be able to run zdtm =)

[2021-03-17 14:29] adrianreber commented on #1405
For me that is a good enough argument to not drop Python 2 support.

[2021-03-18 06:47] #1411 closed

[2021-03-19 08:31] #1400 closed

[2021-03-22 21:25] adrianreber commented on #1405
Closing as we cannot really drop Python 2 support.

[2021-03-22 21:25] #1405 closed

[2021-03-23 07:18] adrianreber commented on #1390
Closing as we moved the CentOS 8 based test to Cirrus CI with #1414 using a CentOS 8 VM.

[2021-03-23 07:18] #1390 closed

[2021-03-23 15:40] minhbq-99 commented on #1393
This line makes the error

https://github.com/checkpoint-restore/criu/blob/49b9cff74563b556059b804199da136bab855c3c/lib/py/images/pb2dict.py#L367

As I see, this is from a commit https://github.com/checkpoint-restore/criu/commit/49b9cff74563b556059b804199da136bab855c3c to handle json encoding. I think this can fix the error
[code]

[2021-03-23 15:49] adrianreber commented on #1393
@minhbq-99 Thanks for your help. Please have a look at #1414 which should have fixed this. Jenkins is no longer complaining and this can actually be closed.

Please let us know if my fix could be improved.

[2021-03-23 15:49] #1393 closed

[2021-03-24 07:21] adrianreber opened #1416 "netns-nft test fails if nft tables exist"
On Cirrus CI and Jenkins where tests are running on native CentOS 8 systems the `netns-nft` fails with:
[code]

The CentOS 8 systems I have seen actually have nft tables configured, maybe that is something which the test does not expect.

For the Cirrus CI CentOS 8 test I have been doing `mv /usr/sbin/nft /usr/sbin/nft.away` to skip the test, but a real fix would be nice.

@mihalicyn any ideas how

[2021-03-24 07:27] #1408 closed

[2021-03-24 09:36] adrianreber opened #1417 "VDSO errors on ppc64le on 5.11.x"
While trying to debug #1415 I updated to a newer kernel (5.11.7-100.fc32.ppc64le) and now CRIU completely fails on ppc64le:
[code]

The error looks the same if booting with `vdso=0` or without.

I added some debug code to see why it fails and read `ehdr->e_ident` is different from the expected.

CRIU expects `7F 45 4C 46 2 1 1 0 0 0 0 0 0 0 0 0` but CRIU actually reads `53 59 53 54 45 4D 43 46 47

[2021-03-24 13:41] rppt commented on #1417
+ @ldu4

[2021-03-24 17:50] mind-mind opened #1418 "CRIU restore failed -52"
HI,

I got an error when I transfer the checkpoint zip file to another host. I use Debian 10 OS.
By the way, I tried to see the log but it no such file.

<img width="1127" alt="Screen Shot 2021-03-25 at 12 48 46 AM" src="https://user-images.githubusercontent.com/68138683/112359539-f2a12f00-8d03-11eb-8e87-84d631d43e46.png">

[2021-03-24 18:03] mind-mind commented on #1418
It works now. I don't know why either. Thank you.

[2021-03-24 18:03] #1418 closed

[2021-03-25 04:00] lijunqiang123 opened #1419 "Dumping failed when dump a program."
Here are parts of error infomation:
(00.012677) Dumping mm (pid: 37668)
(00.012678) ----------------------------------------
(00.012680) 0x400000-0x421000 (132K) prot 0x5 flags 0x2 fdflags 0 st 0x41 off 0 reg fp  shmid: 0x1
(00.012683) 0x620000-0x621000 (4K) prot 0x1 flags 0x2 fdflags 0 st 0x41 off 0x20000 reg fp  shmid: 0x1
(00.012684) 0x621000-0x622000 (4K) prot 0x3 flags 0x2 fdflags 0 st 0x41 o

[2021-03-25 04:37] mind-mind commented on #1407
Hi, I have more questions. I use Debian 10 it works.

First, doesn't Debian and Ubuntu is the same kernel? Why Ubuntu doesn't work, but Debian works?

Second, the docker checkpoint just calls criu doesn't it? I'm not sure why the docker checkpoint cannot use.

Thank you.

[2021-03-25 05:42] mind-mind commented on #1407
Well. Actually, I tried to checkpoint container via k8s or Kubernetes. After I install docker and Kubernetes. Seems like they are some problem with podman when I migrate the zip file to another host. Here is an error:

(00.000023) Version: 3.15 (gitid 0)
(00.000046) Running on master Linux 4.19.0-14-cloud-amd64 #1 SMP Debian 4.19.171-2 (2021-01-30) x86_64
(00.000061) Loaded kdat cache from /run/cr

[2021-03-25 06:01] mind-mind opened #1420 "Pod man error2"
Since, I cannot re-open the issue. I'm not sure it notice whether or not? So, I'll transfer my questions to here.

[2021-03-25 06:01] mind-mind commented on #1420
Hi, I have more questions. I use Debian 10 it works.

First, doesn't Debian and Ubuntu is the same kernel? Why Ubuntu doesn't work, but Debian works?

Second, the docker checkpoint just calls criu doesn't it? I'm not sure why the docker checkpoint cannot use.

Thank you.

[2021-03-25 06:02] mind-mind commented on #1420
Well. Actually, I tried to checkpoint container via k8s or Kubernetes. After I install docker and Kubernetes. Seems like they are some problem with podman when I migrate the zip file to another host. Here is an error:

(00.000023) Version: 3.15 (gitid 0)
(00.000046) Running on master Linux 4.19.0-14-cloud-amd64 #1 SMP Debian 4.19.171-2 (2021-01-30) x86_64
(00.000061) Loaded kdat cache from /run/cr

[2021-03-25 06:03] mind-mind commented on #1420
I tried again to create a new zip file and migrate again and it works, so I'm not quite sure what is this problem.

[2021-03-25 06:17] adrianreber commented on #1420
You are asking a lot of questions in one ticket. Hard to keep track of all your questions.

Good.

No. They are different distributions. Why should they use the same kernel?

https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1857257

Not sure what you are asking here?

There is no native checkpoint/restore support in Kubernetes, yet. I am working on it. See:

https://github.com/kubernetes/enhan

[2021-03-25 06:19] adrianreber commented on #1419
If you want to checkpoint a process that uses System V IPC all involved processes have to be in the same IPC namespace.

You could start the processes you want to dump using `unshare -i`. Or a container.

[2021-03-25 06:27] mind-mind commented on #1420
Thank you very much. Sorry, I just working on something and the question come out.

Regrading about docker checkpoint. I found that CRIU cannot use with docker checkpoint anymore.

And I curious that the docker checkpoint just an API to call CRIU doesn't it?
Why the docker checkpoint cannot use with CRIU?

[2021-03-25 06:34] adrianreber commented on #1420
I never used Docker's checkpoint implementation. I cannot say much about it. Maybe there is not much interest in upstream to make sure it always works. If it is important to you, you could try to fix it.

[2021-03-25 06:36] mind-mind commented on #1420
Okay. Thanks so much

[2021-03-25 11:33] ldu4 commented on #1417
That may be tied to the switch of the powerpc VDSO to generic C implementation:
https://lore.kernel.org/linuxppc-dev/cover.1604426550.git.christophe.leroy@csgroup.eu/

[2021-03-25 11:36] ldu4 commented on #1417
BTW,
53 59 53 54 45 4D 43 46 47 3A 50 50 43 36 34 0 = "SYSTEMCFG:PPC64"
and
7F 45 4C 46 2 1 1 0 0 0 0 0 0 0 0 0  = "ELF!"

[2021-03-25 13:34] brauner opened #1421 "criu: veth network restoration woes"
Assume a container with a standard veth tunnel for an unprivileged container:
`<veth-host> <-> <bridge-host> <-> <veth-container>`

When LXD starts a container it will create the veth pair in the host namespaces with random names, let's assume:
[code]

The LXD generates a config for the container and tells the container to use `vethCONT` as network device and usually also tells it to rename that d

[2021-03-25 13:36] brauner commented on #1421
### DUMP
[code]

[2021-03-25 13:36] brauner commented on #1421
### RESTORE
[code]

[2021-03-25 15:11] mihalicyn commented on #1421
Hi!

I'm almost sure that problem is that we should also preserve ifindex here. I've taken a look at iproute2 code briefly and it looks like they save ifindexes in the resulting binary image (which contains netlink messages with small changes).
I can't find the option in `ip link set ..` to set ifindex on the existing interface, so, looks like we need to implement a special helper utility to do th

[2021-03-25 16:50] chleroy commented on #1417
Probably linked to commit https://github.com/linuxppc/linux/commit/511157ab641eb6bedd00d62673388e78a4f871cf which has put the data page up front like most other architectures.

[2021-03-25 19:31] ldu4 commented on #1417
This can be managed by reading the aux vector AT_SYSINFO_EHDR.
I wrote a patch ldu4/criu@e870e1434648 which makes `criu check` happy.

@adrianreber could you give it a try?

[2021-03-25 20:27] 0x7f454c46 commented on #1417
Hi guys, @chleroy @ldu4, what do you think about this kernel patch?
https://github.com/0x7f454c46/linux/commit/783c7a2532d2219edbcf555cc540eab05f698d2a

[2021-03-25 20:46] 0x7f454c46 commented on #1417
Hi @ldu4, one thing I find a bit strange about your patch is that you fixed `vdso_fill_self_symtable()`, but probably restorer has to be fixed too: it will read vdso vma from images, but than it will try to parse it in `vdso_proxify()`. Where it will try to parse ELF at the start of the VMA.

[2021-03-27 11:09] mihalicyn commented on #1416
Please, assign me. The problem is that in recent distributions of CentOS there is no nftables statically linked library.
They lives us with no choice - we have to use dynamically linked libraries.

[2021-03-29 02:31] Zwwww-c opened #1422 "Fail to pre-dump a process"
(00.130213) page-xfer: 	Found 5574d7780000/8192
(00.130218) page-xfer: 		continue on 5574d7782000
(00.130223) page-xfer: 	Found 5574d7782000/4096
(00.130228) page-xfer: 		continue on 5574d7783000
(00.130233) page-xfer: 	Found 5574d7783000/69632
(00.130239) page-xfer: 	p 0x5574d778b000 [3]
(00.130268) page-xfer: 	h 0x5574d778e000 [5]
(00.130274) page-xfer: Checking 0x5574d778e000/20480 hole
(00.130

[2021-03-29 03:06] xy815661276 opened #1423 "12207 killed by signal 127: Unknown signal"
I once ported docker and criu to the Android operating system,by using criu-het,I can successfully migrate the x86 architecture binary executable application to Android.But when migrating through docker, I encountered some errors.
this is the restore.log
[code]

It is worth mentioning that my Android version is 10, the kernel version is 4.14, the ubuntu system version is 18.04, and the kernel vers

[2021-03-29 09:06] mind-mind opened #1424 "Cannot export container checkpoint inside Podman pod"
Hi,

I tried to use "podman container checkpoint" the container running on podman's pod

This container create by "sudo podman play kube pod.yml" for more detail: https://developers.redhat.com/blog/2019/01/29/podman-kubernetes-yaml/

It running inside a pod of podman.

I used "podman container checkpoint <container name>"
           "podman container restore <container name>"
It works.

But, the p

[2021-03-29 09:16] adrianreber commented on #1424
This is a Podman problem, not a CRIU problem. Please report it to Podman.

This is not implemented in Podman. You could provide patches to implement it.

This should not be too difficult. I did the necessary changes in CRI-O (https://github.com/cri-o/cri-o/pull/4199).

Closing as this is not a CRIU problem.

[2021-03-29 09:16] #1424 closed

[2021-03-29 09:41] ldu4 commented on #1417
Hi @0x7f454c46, I probably missed other part, I did that in hurry and didn't get more time to do C/R test. I'll investigate on that.
That being said, I think your kernel patch introducing the vvar mapping for PowerPC makes sense.

[2021-03-29 12:58] 0x7f454c46 commented on #1423
Hi, you could probably try to apply https://github.com/checkpoint-restore/criu/pull/1271 to your criu source.

[2021-03-29 15:28] zl-wang opened #1425 "Fail to dump systemcfg file on ppc"
on both RHEL8.3 and Ubuntu18.04 I tested, the same error is encountered on ppc64le.  At the end of dump log, something looks like the below:

...
(00.336930) vma 7fffa8030000 borrows vfi from previous 7fffa8020000
(00.337077) Dumping path for -3 fd via self 12 [/proc/powerpc/systemcfg]
(00.337085) Only file size could be stored for validation for file /proc/powerpc/systemcfg
(00.337090) Error (cri

[2021-03-29 15:31] #1387 closed

[2021-03-29 23:05] avagin commented on #1425
@zl-wang what app are you dumping? How does it use  /proc/powerpc/systemcfg?

[2021-03-29 23:10] avagin commented on #1422
Pls attach full logs for all pre-dump and dump operations. It will be much easier if you will be able to describe steps to reproduce.

Cc: @rppt

[2021-03-30 06:59] adrianreber opened #1426 "Alpine tests failing with `Error (criu/image.c:605): Can't open parent path: No such file or directory"`"
Since #1403 is merged a  lot of Alpine based tests are failing with:
[code]

@minhbq-99 Can you have a look at what is wrong: https://github.com/checkpoint-restore/criu/runs/2219865399

[2021-03-30 09:28] brauner commented on #1421
Ah yeah, that looks like a reasonable explanation. If you create the veth device directly in the target netns you'll end up with the same ifindex assuming you restore in order whereas if you create it in another netns you'll end up with <last-ifindex-in-that-netns>++ in our case.

Yeah, seems like it.

[2021-03-30 10:53] minhbq-99 commented on #1426
Hmm, this is because this check in musl
https://git.musl-libc.org/cgit/musl/tree/src/unistd/faccessat.c#n33
which make `faccessat` return -EINVAL, use `fstatat` which is redundant but can avoid this check.

[2021-03-30 12:22] zl-wang commented on #1425
@avagin I am dumping JVM.  systemcfg is used to calculate time from epoch, which is a few times faster than using vdso gettimeofday etc.

[2021-03-30 12:46] adrianreber opened #1427 "Interface to let applications know that they are about to be checkpointed"
Recently I started to think about that it might be helpful to have an interface with which CRIU could tell an application that it will be checkpointed very soon. One use case that would benefit from such an interface would definitely be the JVM.

I have been told that if a JVM would know that it will be checkpointed it can do some cleanups of data which does not make sense to be checkpointed. Unus

[2021-03-30 15:02] #1426 closed

[2021-03-30 15:03] mihalicyn commented on #1421
Hi Christian,

I've unnoticed this place https://github.com/shemminger/iproute2/blob/main/ip/iplink.c#L1025
`ip link add index 137 type veth` works fine

Regards, Alex

[2021-03-30 15:04] brauner commented on #1421
Oh really? Interesting. But I think I'd need to plumb this into CRIU itself, i.e. let criu move the device because the caller doesn't know what ifindex is required.

[2021-03-30 15:08] brauner commented on #1421
Scratch that, that won't help and I actually knew that because we use the ability to choose an ifindex at creation time in our codebases. What we need is the ability to change the ifindex for an _existing_ device, e.g. when we move it into a new netns.

Because in the netns we're creating the device in we can't assign the number we want to. It'll be created with a ifindex out of our control.

[2021-03-30 15:35] mihalicyn commented on #1421
Ugh, yes.

We have only option to create veth pair with arbitrary ifindexes. But criu restores net namespace for us.
At the moment of veth creation we can't specify netns.
[code]

Aren't there option to change LXD design in part of `lxc restore`? I understand the case with `lxc start` -> daemon create network devices, do some host networking setup (add to bridge, nat, something else). But when we

[2021-03-30 15:37] avagin commented on #1425
Cc: @ldu4  @0x7f454c46

[2021-03-30 15:39] ldu4 commented on #1425
This is a procfs file, how the others files from this fs are managed?

[2021-03-30 15:47] avagin commented on #1419
This isn't right. CRIU can dump processes which have SysVIPC mappings, but it requires that they run in a separate IPC namespaces.

[code]

You can run your process in a new IPC namespace or you can run it in a docker containers.

[2021-03-30 15:55] avagin commented on #1407
I think some cgroup properties were not set properly. You need to look at cpuset.cpus and cpuset.mems.

[2021-03-30 15:56] adrianreber commented on #1407
See #1420 for follow up discussions.

[2021-03-30 15:57] #1407 closed

[2021-03-30 16:02] mihalicyn commented on #1421
Looks like good way to overcome the problem!

[2021-03-30 17:02] stgraber commented on #1421
LXD indeed has a model where all network interfaces are created by it directly, this allows for easy integration with traffic restrictions, firewalling, ... on the host as well as allowing for setting some flags on the guest side device prior to it being moved into place.

It also allows for LXD to only use a single codepath regardless of the device type. As we support full physical devices, SR-IO

[2021-03-30 17:47] mihalicyn commented on #1421
So, in this case, seems like we need to have ability to restore `ifindex` as we discussed before.
We can't just skip some net devices during criu dump because we have utilities calls like `nft`, `iptables`, `ip` which may contain ifindexes in their images.

But as I said before, we have limitation of this approach. If user in container move external device somewhere else then after C/R with our ap

[2021-03-30 18:45] zl-wang opened #1429 "Restored JVM process died silently"
This particular exercise was carried out on RHEL8.3 ppc64le:

I rebuilt JDK which is not using systemcfg file anymore, in order to avoid the non-checkpointable situation described here: #1425 .  Now, I can both checkpoint it and restore it successfully (according to the criu log files). However, I either cannot see the restored java process running (ps -ef|grep java  ... no show, that is), or some

[2021-03-30 21:50] adrianreber commented on #1429
Do you see any messages in the journal or dmesg?

Please attach the complete log files.

[2021-03-31 08:18] lijunqiang123 commented on #1419
Thank you for your reply. I will try to test it later.

[2021-03-31 08:35] avagin commented on #1421
maybe we need to allow specifying ifindex when an interface is moved to another netns: https://github.com/avagin/linux-task-diag/commit/5fef3805bfe985e3ddb28065a42700fe4ad1d26d

[2021-03-31 08:39] adrianreber commented on #1429
I also see `/var/lib/sss/pipes/nss` mentioned in above log files. For our CI runs we always disable the sssd service to not have that socket be problematic during checkpointing. Although this looks like it is not related to sssd.

[2021-03-31 08:53] brauner commented on #1421
That's literally what I wrote above. :)

[2021-03-31 08:54] brauner commented on #1421
See ^^ :)

[2021-03-31 08:55] brauner commented on #1421
I've been meaning to change that for a while now.

[2021-03-31 12:13] zl-wang commented on #1429
[
[restore.log](https://github.com/checkpoint-restore/criu/files/6236433/restore.log)
](url)

@adrianreber  here it is.

[2021-03-31 12:28] zl-wang commented on #1429
i did see a few messages in dmesg:
`[Tue Mar 30 13:36:56 2021] Default Executo[1815308]: unhandled signal 5 at 00007fff6a90b13c nip 00007fff6a90b13c lr 00007fff6a9a6848 code 1
[Tue Mar 30 13:42:40 2021] Default Executo[1816094]: unhandled signal 5 at 00007fff6a90b13c nip 00007fff6a90b13c lr 00007fff6a9a6848 code 1
[Tue Mar 30 14:10:06 2021] Default Executo[1825825]: unhandled signal 5 at 00007fff8

[2021-03-31 12:33] adrianreber commented on #1429
Hmm, could this be an altivec problem?

Did you try a simple process (without altivec)?

[2021-03-31 12:45] zl-wang commented on #1429
the JVM build was indeed enabling altivec, but i expected only a very few limited places are using vector instructions.  could you say more about this?  did current criu on ppc not support client processes using vector instructions?

I will try a simpler app later ...

[2021-03-31 12:51] adrianreber commented on #1429
CRIU should support altivec. But maybe there is a bug somehwere. Our testing has a process which is supposed to use altivec, but maybe something is missing in the test which the JVM does. It was just a guess. We also run tests on ppc64le but there are lesser tests on ppc64le than on x86_64. So maybe something is not working as expected. Or maybe never was. Or maybe our ppc64le test system is too o

[2021-03-31 15:33] avagin commented on #1421
I understand what you mean:). Maybe the idea to fix this in the kernel is too obvious or I read your comment and after a few hours I decided that this is my "brilliant" idea ;).

[2021-03-31 15:54] brauner commented on #1421
Do you want to finish your patch, send it and Cc me? :) I'm happy to lend
my support! :)

On Wed, Mar 31, 2021, 17:34 Andrei Vagin ***@***.***> wrote:

[2021-03-31 17:27] zl-wang commented on #1429
The bug appeared to be that the signal handler(s) are not correctly restored.  At least, when I disabled trap-instruction generation by the JIT compiler, now i can do checkpoint/restore JVM successfully. Not sure it is particular to SIGTRAP or all signals though.

[2021-04-01 05:44] lijunqiang123 commented on #1419
I successfully dump the program with System V IPC. I don't know if shared memory IPC can be restored when I use criu restore?

[2021-04-01 08:21] avagin commented on #1421
@brauner I will send it tomorrow. thanks.

[2021-04-01 08:49] xy815661276 commented on #1423
After this patch is applied to criu version 3.13, it works!!!!!, thank you very much.

[2021-04-01 08:49] #1423 closed

[2021-04-01 11:31] brauner commented on #1421
On Thu, Apr 01, 2021 at 01:21:16AM -0700, Andrei Vagin wrote:

Sweet. :)

[2021-04-01 16:35] luke-jr commented on #1011
Any solution? Seems Proxmox VE fails to suspend containers out-of-the-box due to this issue :/

(Both ubuntu and gentoo/no-systemd)

[2021-04-02 03:12] yinshuisiquan commented on #1422
I also had the same problem when I used incremental dumps. I tried to usr crit to show pagemap, but I can't found the address in the parent pagemap.I have no idea why it would happens

[2021-04-02 09:31] adrianreber commented on #1011
@luke-jr If you have any specific error it would probably make more sense to open a new ticket. This ticket discusses multiple things so it is hard to know what you exactly mean.

[2021-04-02 17:48] luke-jr opened #1430 "Cannot suspend containers on stock Proxmox VE"
With a stock/fresh ubuntu container, suspend fails:

[code]

I'm not sure where these are being written to, but strace also shows:
[code]

[2021-04-02 18:54] adrianreber commented on #1430
Thanks for the report.

@brauner can you say anything to the nested uts namespace and lcx? Is that default?

[2021-04-03 07:16] mihalicyn commented on #1430
@luke-jr which distribution of Linux you are using inside the container?
At the moment, CRIU not supports several UTS namespaces.

[2021-04-04 01:49] luke-jr commented on #1430
I've tried Gentoo and Ubuntu so far.

[2021-04-05 04:08] avagin commented on #1422
@yinshuisiquan could you attach logs and explain how we can reproduce the issue?

[2021-04-05 05:59] avagin commented on #1425
Could you try ouy this patch:
[code]

Do you understand why it is faster?

[2021-04-05 12:02] mihalicyn commented on #1430
@luke-jr We already meet the problem with the latest Ubuntu. Newer versions of default systemd (or some other default services) use separate UTS namespace. I will provide patches to support that, we already have such functionality on OpenVZ CRIU.

[2021-04-05 18:10] Drakon5999 commented on #514
I got the same error... :(

[2021-04-05 18:27] zl-wang opened #1431 "Restore is not reliable"
The same dump is used to restore for a few times continuously. I have observed: succeed twice and fail once, fail always, or with a different pattern.  The failing reason is usually like below:

[code]

[2021-04-05 18:41] zl-wang commented on #1425
@avagin  great.  it seemed working.

yes, we rolled our own assembly code to calculate the time from TB register directly.

[2021-04-05 18:44] adrianreber commented on #1431
Assuming this is an older kernel (without clone3() set_tid) this is something which cannot be avoided easily.

To create a process with a certain PID (without clone3) CRIU writes to `/proc/sys/kernel/ns_last_pid` and the next process CRIU creates hopefully has the desired PID. From this point on new processes, unrelated to CRIU, will be created close in the range of the restored process and maybe

[2021-04-05 18:44] #1431 closed

[2021-04-06 01:36] yinshuisiquan commented on #1422
part of logs are as follows：

(00.121078) Dumping pages (type: 58 pid: 93)
(00.121083) ----------------------------------------
(00.121088)    Private vmas 807/11460 pages
(00.121107) pagemap-cache: created for pid 93 (takes 6456 bytes)
(00.121114) page-pipe: Create page pipe for 11460 segs
(00.121121) page-pipe: Will grow page pipe (iov off is 0)
(00.121408) Opened local page read 5 (parent 0)
(0

[2021-04-06 01:46] yinshuisiquan commented on #1422
and the comman is:
criu dump --tree 21 --images-dir /host/nsr/checkpoints/pt-20210406_093832 -v1 --shell-job --tcp-established --track-mem --prev-images-dir /host/nsr/checkpoints/pt-20210406_093808 --ext-unix-sk --external unix[46236] --external unix[45440] --leave-running -o dump-20210406_093832.log

[2021-04-06 07:13] lijunqiang123 commented on #1419
I try to test the program with System V IPC. I start the program using `unshare -i`. And I can successfully dump the program with System V IPC. But it didn't work when I used CRIU RESTORE.  Here are parts of error infomation:
(00.000283) kernel pid_max=131072
(00.000286) Reading image tree
(00.000310) Add mnt ns 5 pid 44000
(00.000315) Add net ns 2 pid 44000
(00.000321) pstree pid_max=44000
(00.00

[2021-04-06 07:18] lijunqiang123 commented on #1419
I try to test the program with System V IPC. I start the program using `unshare -i`. And I can successfully dump the program with System V IPC. But it didn't work when I used CRIU RESTORE.  Here are parts of error infomation:
(00.000283) kernel pid_max=131072
(00.000286) Reading image tree
(00.000310) Add mnt ns 5 pid 44000
(00.000315) Add net ns 2 pid 44000
(00.000321) pstree pid_max=44000
(00.00

[2021-04-06 07:36] adrianreber commented on #1419
It seems you now have a PID collision. Do you already have a process running with PID 44000 on your system?

[2021-04-06 07:47] lijunqiang123 commented on #1419
There is a process whose PID is 44000. But when I use criu dump, the log file shows that dumping finished successfully. I checked the process again after dump, and the pid 44000 still existed. And I can't kill this process using `kill - 9 44000` command.

[2021-04-06 07:52] adrianreber commented on #1419
As long as the PID 44000 is in use CRIU cannot restore the process. Is PID 44000 the process you checkpointed with CRIU or another process? What message do you get when you try to `kill` the process? Which process is it?

[2021-04-06 09:46] adrianreber commented on #52
Yes, this is done. Closing.

[2021-04-06 09:46] #52 closed

[2021-04-06 18:17] mind-mind commented on #1420
Hi @adrianreber

I just curious that did you consider using CRIU with ubuntu in the near future?

[2021-04-06 18:30] adrianreber commented on #1420
This has nothing do with CRIU (or me). As long as the Ubuntu kernel carries non-upstream patches which break CRIU you cannot use CRIU on overlayfs with Ubuntu. It was the decision of Ubuntu and it is unfortunately not in CRIU's control.

I opened the bug at https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1857257 but it was never fixed (in fact it was fixed but unfortunately reverted). You can

[2021-04-07 04:53] mind-mind commented on #1420
Thank you so much.

[2021-04-07 16:34] brauner commented on #1421
Ok, I tried a kernel with our co-created `IFLA_NEW_IFINDEX` patch and it works!

[2021-04-07 17:06] avagin commented on #1429
You can run your app under strace and see how it sets up signal handlers.  Than you can run criu restore under strace and see how it restores signal handlers.

[2021-04-07 19:37] zl-wang commented on #1429
@avagin   i enabled trap instr generation by the JIT compiler, and ran the test as you suggested.  using:
strace -e trace=signal -o output-file  <command>

app under strace, i only saw:
[code]

strace the restore, i saw:
[code]

JVM is restored, but pinging it killed it:  curl -s -o /dev/null -w '%{http_code}' localhost:9080/pingperf/ping/greeting
silently, didn't see the killing SIGTRAP in strace

[2021-04-07 20:11] zl-wang commented on #1429
it looked like:   `rt_sigprocmask(SIG_SETMASK, ~[CHLD RTMIN RT_1], NULL, 8) = 0`
is the problem? not sure though.

[2021-04-08 05:41] avagin commented on #1429
I am able to reproduce this issue on powerpc. I tried the same steps on x86_64 and everything works fine.

[2021-04-08 06:10] avagin commented on #1429
Here are /proc/pid/status before and after C/R:
https://gist.github.com/avagin/4d6f6314ecf213afacacfd8dd0274836

before: 2000000181005cdf
after:    2000000181005ccf

[2021-04-08 07:53] avagin commented on #1429
I have one idea what can be a reason for this issue. Could you try out this patch:
[code]

[2021-04-08 09:11] lijunqiang123 commented on #1419
I tried again.  There are two program, one is read message from shared memory (shmread.c) , the other is write message to the same shared memory(shmwrite.c).  I started the shmread program using `unshare -i ./shmread` 、dumped the program using `criu dump --tree `pidof shmwrite` --images-dir img-server/  -v4 -o dump.log --shell-job` and restore the program using `criu restore --images-dir img-serve

[2021-04-08 09:18] adrianreber commented on #1419
Are both processes running in the same IPC namespace. That is necessary. You should start processes in the same IPC namespace and checkpoint them with one dump command. Make one process the child process of the other or something like this.

[2021-04-08 09:24] lijunqiang123 commented on #1419
Yes, I used fork() to execute shmwrite. That is,  the `shmwrite` program is  a child process of the `shmread` program.

[2021-04-08 09:29] adrianreber commented on #1419
Not sure what you are trying to achieve, but if you checkpoint the parent process (`shmread`) it should work.

If you are checkpointing the child process `shmwrite` and restoring it, it will run in another IPC namespace. If you want `shmwrite` to be restored in the original IPC namespace of `shmread` you have to use the `--join-ns` option of CRIU.

[2021-04-08 09:34] adrianreber commented on #1419
Not sure, but you can try to use `--join-ns` to tell CRIU which namespace to use as destination.

[2021-04-08 09:41] lijunqiang123 commented on #1419
Yes, it sounds strange. In my usage scenario, I need to checkpoint the child process shmwrite and restore it instead of the parent process. I try to use `--join-ns` to test it later. Thank you.

[2021-04-08 12:57] zl-wang commented on #1429
@avagin  it doesn't work.  it still silently died.  dmesg -T showed same:
[code]

After restoring, i am seeing a different status though:  (hopefully  this gave some hints)
`SigCgt:	20000001810044ed`

[2021-04-08 13:04] zl-wang commented on #1429
i started the app independently (not restoring).  i am seeing this status:  (equivalent to before checking)
`SigCgt:	20000001810044fd`

still 1-bit difference.  Could it be that the fix is not applied to the right mask?

[2021-04-08 13:10] lijunqiang123 commented on #1419
I used the command ```criu restore --images-dir img-server/ -v4 -o rst.log --shell-job -J ipc:`pidof shmread` ``` to restore `shmwrite` program. But It didn't work. Here are some information:
![image](https://user-images.githubusercontent.com/22146584/114032394-d9c17d80-98ae-11eb-91e5-5fffbe3548aa.png)

[2021-04-08 15:05] adrianreber commented on #1419
At this point I am not sure it is actually possible what you want to do. Not sure if CRIU can correctly restore a shared memory process if not all involved process in the shared memory are part of the checkpoint.

@avagin do you know if it is possible to checkpoint and restore only one process of a ipc namespace?

[2021-04-08 15:47] MathisMorin opened #1433 "How to block data flow from a socket before calling libsoccr_pause ?"
I'm trying to use libsoccr and facing a problem. Server side, I have an initialized and binded socket. Client side (where I'm actually testing to save the connection), I have an initialized and connected socket.  Here is a piece of my code, client side :
[code]
With that piece of code, I always get `dsize = -6`, meaning I have a problem while getting the send queue.
I looked into `soccr.c`, and it

[2021-04-08 16:08] avagin commented on #1429
@zl-wang are you sure that you applied the patch, recompiled CRIU, and used a new binary? I am asking because I reproduced this issue locally and I see that the sigtrap action is restored correctly with this patch.

0x10 is SIGTRAP.

[2021-04-08 16:18] avagin commented on #1429
@zl-wang could you try to run this test:

* git fetch origin b15d8e8687d87de371d59987e07b17e7f6ad511f
* git checkout b15d8e8687d87de371d59987e07b17e7f6ad511f
* make
* make -C test/zdtm/static/env00
* make -C
* python test/zdtm.py run -t zdtm/static/env00  -f h

[2021-04-08 18:29] zl-wang commented on #1429
i did make the changes, and i saw a different size of executable criu (than before).  as a matter of fact, i ran into:

[code]

[2021-04-08 18:31] avagin commented on #1429
could you clone criu sources in a new directory and try to run the test there?

[2021-04-08 18:40] zl-wang commented on #1429
clone in a new directory, and do exactly the above.  choke on:
[code]

[2021-04-08 18:45] avagin commented on #1429
$ make -C test/zdtm/static/ env00

[2021-04-08 18:52] zl-wang commented on #1429
make -C running into error (needing a directory argument).  then, (hopefully is what you are looking for)
[code]

[2021-04-08 18:53] avagin commented on #1429
you need to install python-protobuf

[2021-04-08 19:02] avagin commented on #1429
It looks like you have protobuf for python3:
$ python3 test/zdtm.py run -t zdtm/static/env00  -f h

[2021-04-08 19:10] zl-wang commented on #1429
that package looks like independent of 3 or not.  python3 runs with same result:
[code]

[2021-04-08 19:30] avagin commented on #1429
you can try to apply this patch:
[code]

[2021-04-08 19:55] touisteur commented on #1433
Hi @MathisMorin, I'm not from the CRIU project but you might have some luck with the special plug/unplug qdisc https://www.infradead.org/~tgr/libnl/doc/api/group__qdisc__plug.html

[2021-04-08 20:30] zl-wang commented on #1429
with that ...
[code]

[2021-04-08 20:51] zl-wang commented on #1429
@avagin  thanks for the help.
i did:  make clean, then make, and make install
now it looked like it is working.  this morning, i changed the code, and didn't do a make clean.

[code]

[2021-04-09 06:18] lijunqiang123 commented on #1419
Here are my usage scenarios. I want to add CRIU to the fuzzing Loop. In the second step, M1, M2 and M3 should be sent in turn. And it will waste a lot of time. When the parent process(Fuzzer) sends the data M1, I want to use `CRIU dump` to snapshot the child process(targetAPP). And the next round of the fuzzing loop，I can use `CRIU restore` to restore the child process. In this way, I don't need t

[2021-04-09 06:19] lijunqiang123 commented on #1419
Here are my usage scenarios. I want to add CRIU to the fuzzing Loop. In the second step, M1, M2 and M3 should be sent in turn. And it will waste a lot of time. When the parent process(Fuzzer) sends the data M1, I want to use `CRIU dump` to snapshot the child process(targetAPP). And the next round of the fuzzing loop，I can use `CRIU restore` to restore the child process. In this way, I don't need t

[2021-04-09 16:21] avagin commented on #1427
This interface has to be synchronous. I mean CRIU sends a signal and needs to get a replay when the application is ready.

This means that we need to have an opposite signal that will tell that C/R has been done and the app can continue running.

This can be useful for another use-case, when a host is going to be hibernated.

[2021-04-10 17:32] adrianreber opened #1435 "nft support conflicts with network locking"
I was looking at an interesting problem on the latest Fedora version.

It seems Fedora also switched to the nft backend of iptables and network unlocking no longer works:
[code]

The reason for this error is that the locking rules exist twice:
[code]

From what I understand the following happens:

1. CRIU locks the network using iptables-restore (nft backend)
2. CRIU collects nft rules (which incl

[2021-04-11 09:08] mihalicyn commented on #1416
I've submitted an issue about CentOS 8 nftables package.

https://bugs.centos.org/view.php?id=18151

On my Fedora 33 CRIU builds fine with dynamic nftables library and `netns-nft` test passes.

[2021-04-11 09:40] adrianreber commented on #1416
So test would need to check if CRIU is built with nft support or not. If nft support is not included in CRIU the test should be skipped.

Maybe a feature check that returns false if not linked against nftables?

[2021-04-11 12:17] mihalicyn commented on #1416
@adrianreber yeah.

We can use something like `ldd ../criu/criu | grep nftables` in checkskip file for `netns-nft` test, but this will only work for the dynamically linked way. If the nftables library linked statically then we have no fully reliable way to detect that.
I think it will be okay just to check `pkg-config --libs libnftables`. Because in our `Makefile` we detecting the nftables library

[2021-04-11 12:23] adrianreber commented on #1416
I do not think CRIU's build system supports static linking. So yes, your idea would probably work.

Also correct. It assumes, however, that we build CRIU on the same system as we run the tests. That is not true for how I use zdtm for gating in Fedora/RHEL. I would prefer using `--feature` to have an easy way to query CRIU if it supports it or not, but in the end it is up to @avagin what he wants t

[2021-04-11 12:32] mihalicyn commented on #1416
It's not a problem - if we want, then I'm ready to prepare PR with the feature for nftables.

[2021-04-11 12:38] mihalicyn commented on #1416
Yes, we have no support to build fully-static CRIU binary. But the nftables can be compiled statically or dynamically depends on which library is present on the user system (it depends on flags which `pkg-config --libs libnftables` returns on a particular system).

[2021-04-11 12:59] mihalicyn commented on #1416
@adrianreber The only thing that confuses me in the idea to add `criu check` feature is that our mechanism with features serves not so much to test the features of the CRIU itself but to test the features of the kernel.

[2021-04-11 15:05] touisteur commented on #1433
@MathisMorin if you look at CRIU doc for tcp Checkpoint&Restore https://criu.org/TCP_connection , you can read:

I think the classical solution is to look up the --tcp-established option which installs temporary nft or iptables rules.

I really think the plug/unplug qdisc strategy is the least likely to lose packets during the checkpoint process, but YMMV.

[2021-04-11 16:00] mihalicyn commented on #1435
yes. That's related not only to network locking but for entire iptables/nftables C/R.

I think we should detect iptables backend and skip iptables rules dump if iptables uses nfables and nftables support compiled in.

[2021-04-11 16:19] adrianreber commented on #1416
We have at least two checks which do not check kernel features: compat and restore into network namespace

We already use `--feature` to check enable runtime checking of CRIU features. It is not completely new.

[2021-04-11 22:31] glassxer1 opened #1439 "`make test ` from source raises error: Exception: The kernel is tainted: '512\n'"
OS: Ubuntu 20.04
When following the instruction on "https://criu.org/How_to_submit_patches", I ran `make test` to test my changes. But then I have this error
`
make zdtm
./zdtm.py run -a --parallel 2
The kernel is tainted: '512\n'
Traceback (most recent call last):
  File "./zdtm.py", line 2685, in <module>
    opts['action'](opts)
  File "./zdtm.py", line 2283, in run_tests
    launcher = Launche

[2021-04-12 01:57] avagin commented on #1439
@glassxer1 you need to look at the kernel log why the kernel is tainted. It isn't normal.

[2021-04-12 05:57] mouri11 opened #1440 "Restore failed using runc criu"
I am trying to restore a migrated container from a checkpoint. I used the following commands:
* Running the container:
```$ sudo runc run ycsbcont```
* Checkpointing the container:
```$ sudo runc checkpoint --tcp-established ycsbcont```
* Copying the checkpoint folder to the destination (running at destination)
```$ rsync -aqhzu ubuntu@<source_ip>:~/ycsbcont .```
* Restoring the container
[code]
T

[2021-04-12 06:02] adrianreber commented on #1440
Using `runc restore --work-path /tmp` should write the log file to `/tmp`. Can you try something like this and show us the restore.log file?

[2021-04-12 06:15] mouri11 commented on #1440
I am pasting the last 150 lines from the log.
[code]

Seems like I understand what the issue is. I had tried using port forwarding for the container, as suggested [here](https://github.com/opencontainers/runc/issues/356). It might be causing it to bind to the host IP, and maybe creating a separate network namespace for the container might help. Please give your suggestions regardless.

[2021-04-12 06:28] adrianreber commented on #1440
To use `--tcp-established` you have to use use the same IP as during checkpointing.

The question is, do you need `--tcp-established`?

If you are not using a network namespace you could add a second IP to the host and move that IP to the destination host. Or you use a network namespace. You could also try to use Podman, which would do it all for you. If you use `runc`  you have to do it yourself.

[2021-04-12 06:36] mouri11 commented on #1440
I was using ```--tcp-established``` because the checkpoint was failing in the source. Pasting the last 150 lines from dump.log:

[code]

[2021-04-12 06:41] adrianreber commented on #1440
Okay, makes sense. Now you have to make sure that the IP stays the same. Either with the help of a network namespace or a higher level container engine like Podman.

[2021-04-12 06:44] mouri11 commented on #1440
Ok. Does podman support live migration? This is one reason why I was using runc, as the checkpoint and restore seemed very clear to me. I could then copy the dump using rsync to the destination. Is it like a wrapper for runc, or a separate container manager altogether?

[2021-04-12 06:53] adrianreber commented on #1440
Yes it does. It would look like:
[code]

checkpoint and restore with `--tcp-established` should work.

[2021-04-12 07:03] mouri11 commented on #1440
Ok. Will look into podman. Thanks a lot for your time. Closing this issue.

[2021-04-12 16:05] acatangiu opened #1441 "RFC: #snapsafe: mechanism to ensure snapshot-safe software"
Hi all,

This RFC is related to a longer kernel patch thread https://lkml.org/lkml/2021/3/8/677 where we tried to address snapshot safety through kernel mechanisms. Ultimately, consensus there was that such mechanisms would be better suited in userspace, so discussions and development have moved to https://github.com/systemd/systemd/issues/19269.

I know CRIU maintainers were directly interested i

[2021-04-12 17:07] zl-wang commented on #1429
@avagin  i assumed you will check these improvements in.

[2021-04-13 13:37] Snorch commented on #1412
You should provide full criu logs and coredump + binary or reproduce.

Looking on the code a bit, I can't get how peer of standalone socket can have zero ->name pointer. To be able to create "standalone" socket with peer, one need to connect to a listening unix socket AFAICS. To be able to connect the listening socket should be bind to some address which would be it's name. And after accept new pe

[2021-04-13 14:37] Snorch commented on #1416
Please note that --feature's are normally cached with kerndat cache and if someone would install proper libraries kdat cache can still report libs missing.

[2021-04-13 15:08] Snorch commented on #1419
`Failed to create shm set` error means that there is already shared memory with same key and shmget(key, , IPC_CREAT | IPC_EXCL) can't create another one. That is obvious consequence of that you dumped only one process from the pair of processes using the same shared memory, and then try to restore it near non-dumped process.

CRIU should only support dumping all tasks of IPC namespace as a whole,

[2021-04-14 09:16] lijunqiang123 commented on #1419
Thank you for your reply. If I use memory-mapped files (`mmap()`) instead of shared memory to achieve inter process communication. In this case, can I use CRIU?

[2021-04-14 09:17] lijunqiang123 commented on #1419
Thank you for your reply. If I use memory-mapped files (`mmap()`) instead of shared memory to achieve inter process communication. In this case, can I use CRIU?

[2021-04-15 06:06] Lukey3332 opened #1444 "Restoring a process always attaches it to /dev/tty1 instead of the current terminal"
Hello Everyone,
I try to checkpoint a process on tty1 and restore it within a ssh gnu screen session. But instead of the current terminal (gnu screen), the restored process is attached to `/dev/tty1`, so input/output still goes to the actual computer display.

Dump command: `criu dump -t 1205 --shell-job`
Restore command: `criu restore --shell-job`

`Version: 3.15`

[2021-04-15 06:50] #1421 closed

[2021-04-16 07:55] rst0git commented on #1444
Hi @Lukey3332, when CRIU checkpoints a processes tree attached to a terminal with `--shell-job` it identifies the type of terminal and stores this information, see https://criu.org/TTYs to learn more about this.

It sounds like you are trying to checkpoint a process on unix98 terminal and restore it in virtual terminal. AFAIK this is not currently supported.

[2021-04-18 15:01] mouri11 commented on #1440
Hi. I am facing an error with file size during restore. I checked the md5sum of both the files at source and destination, but the log keeps reporting that they are of different file size. Attaching part of the log here:
[code]

Please help. Thanks.

[2021-04-18 16:02] adrianreber commented on #1440
If the log keep saying that the file size differs then it probably does differ. File size needs to be identical.

[2021-04-18 16:05] mouri11 commented on #1440
The checksum was identical though. I even copied the rootfs from the source to make sure everything is the same. Thanks anyway.

[2021-04-18 16:05] #1440 closed

[2021-04-18 16:06] adrianreber commented on #1440
Yes, but CRIU does not check the checksum but the size. Are you using runc or Podman?

[2021-04-18 16:08] mouri11 commented on #1440
Runc. The file sizes were the same as well on both nodes.

[2021-04-18 16:18] adrianreber commented on #1440
Does the container keep on running on the source side? Maybe the file changed between checkpointing and migrating?

[2021-04-18 16:23] mouri11 commented on #1440
I used the following command over ssh:
[code]
This basically dumps and stops the container. Then I copied the checkpoint folder, and the rootfs/tmp folder to the destination, and then:
[code]

[2021-04-18 16:26] adrianreber commented on #1440
Can you do a `ls -la` on the file on the source and destination side=

[2021-04-18 16:33] mouri11 commented on #1440
From source:
[code]
From destination:
[code]

[2021-04-18 16:39] adrianreber commented on #1440
Is that file changed very often. Because CRIU checkpointed the container when the file was still 397.

If you do `crit show files.img` in your checkpoint directory, you should see what CRIU has saved about your file.

Any chance you somehow are using the wrong checkpoint or rootfs directory for the restore.

[2021-04-18 16:47] mouri11 commented on #1440
Ok. Is it good practise to remove the previous checkpoint folder? Maybe that's what causing the issue.
This is the entry from the files.img:
[code]

I'll try deleting this checkpoint, checkpointing again and see if it works. Thanks.

[2021-04-18 16:57] mouri11 commented on #1440
Yeah. It was a really stupid mistake on my part. I was copying the wrong checkpoint to the destination. Need to change the script. Thanks a lot for your help.

[2021-04-18 17:36] adrianreber commented on #1440
Cool.

[2021-04-19 11:34] mcopik opened #1445 "Failed container checkpointing: invalid mount argument"
Hi! I'm using CRIU 3.15 and it seems to work fine when checkpointing a standard application. However, I can't make it work with Docker - the checkpointing process always ends with an error related to empty cgroups. I checked other issues but they all seem to be unrelated, i.e., the error messages are different.

I'm running the example from [the manual](https://criu.org/Docker)
[code]

Relevant pa

[2021-04-19 11:53] adrianreber commented on #1445
I have not seen this one yet. The version of Docker looks rather old. That is the only idea I have right now. Can you try a newer version of Docker or maybe Podman?

What is the content of `/proc/cgroups`?

[2021-04-19 11:57] mcopik commented on #1445
@adrianreber I'll see if I can update Docker (server shared with other users).

`/proc/cgroups`

[code]

[2021-04-19 11:58] adrianreber commented on #1445
What kind of system are you using? Is it bare metal, a VM? What kind of VM?

[2021-04-19 11:58] rst0git commented on #1445
This looks like a bug, `-1` is not valid file descriptor.

[2021-04-19 12:01] mcopik commented on #1445
@adrianreber Bare-metal Debian server.

[2021-04-19 12:10] hiyangyue opened #1446 "sem_next_id is inaccessible: No such file or directory"
I use criu on the Android Platform, the error looks like that. I rebuild the kernel config following the documents: https://criu.org/Linux_kernel
[code]
My Kernel Info :

Kernel config:
https://github.com/hiyangyue/Criu-Android/blob/master/androidArm64Config

[2021-04-19 12:23] adrianreber commented on #1446
Interesting. I would have said do you have CONFIG_CHECKPOINT_RESTORE set to yes because https://github.com/torvalds/linux/blob/v4.4/ipc/ipc_sysctl.c#L177 says that `sem_next_id` only exists if CONFIG_CHECKPOINT_RESTORE=y.

Are you sure your kernel has CONFIG_CHECKPOINT_RESTORE=y?

Can you see the file `/proc/sys/kernel/ns_last_pid` ? That file also only exists if CONFIG_CHECKPOINT_RESTORE=y

[2021-04-19 12:45] adrianreber commented on #1445
Yes, the result from `open_cgroupfs()` is indeed not checked. The question is why did the mount fail.

@mcopik Could you try a CRIU version that you compile locally with an additional patch on top?

[2021-04-19 12:54] mcopik commented on #1445
@adrianreber Of course - I built CRIU from the source. Please send the patch and I'll be happy to give it a shot!

[2021-04-19 13:07] adrianreber commented on #1445
Please try this:
[code]

Not sure it helps. Looking at `mount()` and EINVAL there are not many cases which match this case. Still unclear why it fails.

[2021-04-19 14:45] mcopik commented on #1445
@adrianreber

[code]

[2021-04-19 14:49] adrianreber commented on #1445
Interesting. Are you running cgroupv1 (I doubt that), cgroupv2 or hybrid/unified mode?

[2021-04-19 14:58] mcopik commented on #1445
@adrianreber Can you suggest a reliable way how I could verify that? I don't manage this machine on a daily basis, so I don't know the original configuration. It looks like `cgroupv2` but I'm not sure how to verify that.

[2021-04-19 15:08] adrianreber commented on #1445
I don't know if CRIU can handle hybrid mode. I am not aware if it is supported or not. Never used it on a hybrid system.

If the mount type of `/sys/fs/cgroup` is a tmpfs it is cgroupv1 it it is cgroupv2. If it is tmpfs and you have a unified directory it is hybrid mode. I think.

[2021-04-19 15:14] mcopik commented on #1445
@adrianreber Yes, I think it's a hybrid mode:

[code]

Do you think it might make sense to try rebooting with the kernel command line option that enforces the unified mode?

[2021-04-19 15:16] adrianreber commented on #1445
If you can switch to either pure cgroupv1 or cgroupv2 mode it would be helpful. You need to be aware that Docker just recently can handle cgroupv2. For your installation cgroupv1 might make more sense.

[2021-04-19 15:35] mcopik commented on #1445
Interesting, I don't see a straightforward way of disabling `cgroupv2` - setting the kernel parameter can default to the hybrid hierarchy.

Does it make sense to enforce unified hierarchy and update Docker?

[2021-04-19 15:46] adrianreber commented on #1445
No idea. I am using Fedora which switched to cgroupv2 a couple of releases ago and I do not use Docker. So I cannot tell you.

[2021-04-19 16:30] mihalicyn commented on #1446
@hiyangyue hi!

Can you publish your kernel source code somewhere (on GitHub/GitLab/etc)?

[2021-04-20 02:02] hiyangyue commented on #1446
![image](https://user-images.githubusercontent.com/9319738/115326226-89f08980-a1bf-11eb-8f4f-84cf43d1563e.png)
Is it right ?

[2021-04-20 02:08] hiyangyue commented on #1446
I use Google Goldfish as Kernel.
[code]
Do I need to provide other extra compile info?

[2021-04-20 02:24] hiyangyue commented on #1446
I use this repo as Kernel.
[code]
Do I need to provide other extra info?

[2021-04-20 06:30] rajbhar commented on #1402
I ran into the same issue today. Do we have a kernel/criu fix for this? With SELINUX disabled, this issue is not seen. I am using Ubuntu with 5.11 kernel and my test environment was checkpoint inside a docker container. I didn't see this issue earlier but recently migrated to 5.11 kernel and latest criu as on commit e49ce513c8df43e8d3b30b7acfbe7bd496d89862
Author: Christian Brauner <christian.brau

[2021-04-20 06:36] adrianreber commented on #1402
No, there is no fix yet. What is your kernel config to get this error?

[2021-04-20 06:41] adrianreber commented on #1402
A quick fix would probably be to uninstall selinux development libraries. This way CRIU would be built without selinux support and not fail here.

[2021-04-20 07:06] rajbhar commented on #1402
Hi Adrian, PFA .

[dbg_defconfig.log](https://github.com/checkpoint-restore/criu/files/6341317/dbg_defconfig.log)

[2021-04-20 08:19] mihalicyn commented on #1446
@hiyangyue

no, I'll take a look on your kernel code and config

[2021-04-20 08:46] mihalicyn commented on #1446
1. "Unable to get socket network namespace" it's about ioctl(SIOCGSKNS). This ioctl absent on your kernel commit. It's not critical issue.
2. "tun: Unable to create tun: No such file or directory" please, try `mknod -m 666 /dev/net/tun c 10 200`
3. "unix: Unable to open a socket file: Bad address" - ioctl(SIOCUNIXFILE). Also absent in your kernel code.
4. "/proc/sys/kernel/sem_next_id is inaccessi

[2021-04-20 08:56] mihalicyn commented on #1446
I've added `CONFIG_SYSVIPC_SYSCTL` to the https://criu.org/Linux_kernel page

[2021-04-20 10:38] mcopik commented on #1445
@adrianreber It took longer than expected because the machine didn't get up automatically after a reboot :-)

I updated Docker to `20.10.6`, kernel is now `4.19.0-6`, and I enforced the unified hierarchy of cgroups:

[code]

Now I get a completely different error:

[code]

[2021-04-20 10:51] adrianreber commented on #1445
Sorry, but this is a Docker problem. No idea. I can help you with Podman but I do not know what Docker does. Maybe the docker cgroupv2 support does not include the checkpoint code.

[2021-04-20 11:38] mcopik commented on #1445
Thanks for the help! I booted the system with flag `systemd.unified_cgroup_hierarchy=0`, the filesystem of `/sys/fs/cgroup` and mount types didn't change a bit, but now it seems to work - I can checkpoint and restore the container.

[2021-04-20 11:47] adrianreber commented on #1445
Perfect. Any more questions? If not then please close this ticket.

[2021-04-20 11:48] mcopik commented on #1445
@adrianreber No, thanks for your all help and swift responses!

[2021-04-20 11:48] #1445 closed

[2021-04-20 12:08] hiyangyue commented on #1446
I use `./criu check`, the output shows "looks good".
[code]

When I try to dump the process. It shows other error:
[code]

The test code:
[code]

Would criu work perfectly if these errors have not fixed? (eg. `Unable to get socket network namespace`)

[2021-04-20 12:26] adrianreber commented on #1446
You should run CRIU with `-v4` for full debug output. The problem that you have is that your process has a device open which CRIU does not know how to handle:
[code]

On my local Android device that is
[code]

You need to close that device in your process before running CRIU or tell CRIU, using a plugin, how to handle such a device.

[2021-04-20 15:47] mihalicyn commented on #1446
1. tun error is not important if you are not  planning to C/R tun devices
2. ioctl(SIOCUNIXFILE) has the middle level of importance :) If the system does not support it, then the socket mount id will be grabbed from root task mntns. C/R may break in some cases.
3. ioctl(get_socket_ns) used in `get_socket_ns` to get socket network namespace for unconnected/unbounded sockets (which is ignored by soc

[2021-04-21 02:22] hiyangyue commented on #1446
Thanks for the reply, it was very useful

[2021-04-21 05:36] adrianreber commented on #1446
@hiyangyue It sounds like your question was answered. Can you close this ticket?

[2021-04-21 06:04] karthik-intel opened #1448 "XSAVE_SIZE hardcoding could cause potential issues with AMX"
Intel Advanced Matrix Extensions (Intel AMX) can cause the user state  XSAVE components to exceed the hardcoded size of 4096 (https://software.intel.com/content/dam/develop/public/us/en/documents/architecture-instruction-set-extensions-programming-reference.pdf). Specifically, user state component 18, called XTILEDATA, has an architectural maximum size of 65535 bytes and an actual size of 8192 byt

[2021-04-21 06:05] adrianreber commented on #1402
@Snorch In your kernel config you had SELINUX enabled right? But you probably do not install any policies, right? Do you know what mounts `/sys/fs/selinux`? Probably systemd?

I think CRIU's detection if SELinux is available is wrong. Currently we test for the existence of `/sys/fs/selinux` and that seems to exist if the kernel has SELinux support but even if no policies are loaded.

All systems I

[2021-04-21 06:19] adrianreber commented on #1402
Could someone tries this patch to see if that is a better check:
[code]

That is using the official library call to check for SELinux, which does check if the mount exists (like CRIU already does) and it checks if `/etc/selinux/config` exists.

[2021-04-21 06:23] #1446 closed

[2021-04-21 06:23] hiyangyue commented on #1446
done.

[2021-04-21 12:40] mihalicyn commented on #1448
@karthik-intel hi!

Thanks for your report. I've checked my CPU (8750H) looks like it hasn't these extensions. Do I understand correctly that these features available only on the 11th generation of Intel processors?

[2021-04-21 17:22] karthik-intel commented on #1448
@mihalicyn, thank you for the quick note! These extensions will be part of future processors (https://en.wikipedia.org/wiki/Alder_Lake_(microprocessor))

[2021-04-21 17:23] avagin commented on #1448
Cc: @0x7f454c46 @cyrillos

[2021-04-21 17:30] 0x7f454c46 commented on #1448
https://github.com/checkpoint-restore/criu/commit/2fdc09499d9df9c9e61d53cf0c121e3338538a8f#diff-53c8fb3b0e70ae163cfa6b9e86a4ac4ce339d505b99bfbb764a93cb425e4b8e6R235
(patches are welcome)

[2021-04-21 17:32] cyrillos commented on #1448
Yes, new CPUs will require a way bigger frame up to 2M iirc so someone has to implement the support of new models.

[2021-04-25 18:43] mihalicyn commented on #860
new fix https://lists.openvz.org/pipermail/criu/2021-April/045238.html

[2021-04-26 07:05] yinshuisiquan commented on #1412
When the server in the container, and the client outside the container, and I use criu in the container, it will be happened

[2021-04-26 14:56] rajbhar commented on #1402
I once booted my machine(remote) with selinux=0 so now when I try to enable it back again, Ubuntu gets stuck at boot as some libs (libnftables) can't load so I could not test this patch. I'll let you know when I see this issue next time or when I get a chance to fix my remote machine.

[2021-04-27 08:04] hiyangyue opened #1458 "Android has unreachable sharing. Try --enable-external-masters."
In Android Plantform, I can dump shell process success, but it will fail when I dump Android App Process. The error looks like:

(00.047100) Error (criu/mount.c:947): mnt: Mount 307 ./storage/self (master_id: 12 shared_id: 0) has unreachable sharing. Try --enable-external-masters.
(00.047110) Unlock network
(00.047114) Unfreezing tasks into 1
(00.047117) 	Unseizing 5244 into 1
(00.048427) Error (c

[2021-04-28 08:21] Snorch commented on #440
@sergejbut, Hi.

Short answer: OpenVZ7/Virtuozzo7 supports live-migration, but not (yet) lazy-migration.

We plan to support lazy migration, but not sure if it would happen in near future. Currently we already have all the needed functionality for it and we even run zdtm tests to test basic lazy migration works. https://ci.openvz.org/job/CRIU/job/CRIU-virtuozzo-stable-lazy/job/vz7-u16/

But as you

[2021-04-28 12:59] lijunqiang123 opened #1461 "Can't open self and Can't open 0/fd on procfs"
When I use CRIU API to restore a process from a img-folder, there was an error. The information is as follows:
![image](https://user-images.githubusercontent.com/22146584/116407497-6800a200-a864-11eb-9295-0ba54794b22b.png)

[code]
I don't know why the error happened. And how can I solve it? Looking forward your reply!

[2021-04-28 13:10] adrianreber commented on #1461
Can you share the complete log file?

[2021-04-28 13:12] lijunqiang123 commented on #1461
[code]

[2021-04-28 14:17] lijunqiang123 commented on #1461
The complete log file is as shown above. Thank you~

[2021-04-28 14:31] adrianreber commented on #1461
Currently I have no idea. Maybe someone else has an idea. You could always try to update to CRIU 3.15 instead of 3.12.

[2021-04-28 14:40] lijunqiang123 commented on #1461
I use CRIU dump to get a snapshot folder. then do :
1) Use CRIU restore to restore it;
2)  ctrl+c to close it,
3) Do a count(`count++`). If success, repeat 1) and 2).
I tested the process 5 times. I find that every time the `count` equals to 105. And then the error occurred.
Feels a little magical.

[2021-04-30 08:13] brauner opened #1462 "per pidns pid_max"
Hey folks,

I picked up pid_max namespacing again because we have use-cases for it. Is this something you're interested in too and have use-cases for?
https://gitlab.com/brauner/linux/-/tree/pid_max_namespacing

The test-cases give a pretty good indication how this is supposed to work. Assume nested pid namespaces:

[code]

 If there are 399 processes in pidns_1 then pidns_2 can't create anymore p

[2021-04-30 13:37] mihalicyn commented on #1462
Hi, Christian,

looks interesting!
The changes that you've suggested will be very useful also when we port nested PID namespaces support from Virtuozzo to upstream CRIU. (In the VZ kernel, we even have pid_max virtualization at now.)

[off]
We getting stuck with that porting because we need to have some support from the upstream kernel to handle complex mounts configurations (https://lore.kernel.o

[2021-05-03 18:13] niansa opened #1466 "Test code using c library won't let me restore"
The code:

    #include <stdio.h>
    #include <stdlib.h>
    #include <fcntl.h>
    #include <string.h>
    #include <errno.h>
    #include <sys/stat.h>
    #include <sys/types.h>
    #include <criu/criu.h>

    void print_usage(const char *prgn) {
        fprintf(stderr, "Usage: %s <dump/restore> <pid>\n", prgn);
    }

    int main(int argc, char **argv) {
        // Get args
        if (argc <

[2021-05-03 18:16] adrianreber commented on #1466
Can you restore the process using the CRIU binary directly? Without the library?

[2021-05-03 18:28] niansa commented on #1466
Yep, without a problem.

[2021-05-03 18:30] adrianreber commented on #1466
Please share the log of failed restore and the command-line options for CRIU when it works using the CLI.

[2021-05-03 18:39] niansa commented on #1466
I am not able to get any more logging information except to that for some reason
    criu_set_log_file("./criu.log");

Results in
    Invalid request code

[2021-05-03 18:40] niansa commented on #1466
The working CLI command is:
    sudo criu restore --shell-job -D /tmp/proc_baks -t 13973

[2021-05-03 18:43] adrianreber commented on #1466
Try to set the log file with a full path. Not sure it works the way you do it.

[2021-05-03 18:45] adrianreber commented on #1466
Maybe also try `criu_restore_child()`.

[2021-05-03 18:47] adrianreber commented on #1466
Ah, you cannot use any path in the log file function. Just remove `./`.

[2021-05-03 18:50] niansa commented on #1466
Does not create any file then

[2021-05-03 18:54] niansa commented on #1466
Error (criu/log.c:224): Can't create log file criu.log: Permission denied
    Error (criu/cr-service.c:403): Can't initiate log: Permission denied
    Failed to perform operation: Invalid request code

Doing the same thing as root raises no error but breaks terminal

[2021-05-03 19:04] niansa commented on #1466
With
    criu_set_service_binary("criu");
and normal
    criu_restore();

instead of using service and criu_restore_child() it breaks terminal too, again without doing anything at all.

[2021-05-03 19:05] niansa commented on #1466
Update: simply deadlocking at the the end of main() did the trick! But why??

[2021-05-03 19:37] #1466 closed

[2021-05-03 19:38] niansa opened #1467 "c library log to stdout"
How would I log to stdout using the c library?

[2021-05-03 20:31] rst0git commented on #1467
This is not very simple because libcriu implements an RPC client that communicates with a `criu service` daemon over a UNIX socket. For the daemon to be able to log to the stdout file descriptor of the client, you need to send it over the UNIX socket.

[2021-05-04 08:41] niansa commented on #1467
And how would I do that?

[2021-05-04 09:50] mind-mind opened #1468 "Can I fix problem with Kernel of Raspbian?"
Hi,

It's been for a while. I try to use CRIU with Raspbian I use

"Podman container checkpoint" and got this error:

2021-05-04T09:31:08.000888431Z: CRIU checkpointing failed -52
Please check CRIU logfile /var/lib/containers/storage/overlay-containers/76e77a999932a5c179d5483b4947626078602c63df651deaa3b8375637afebb5/userdata/dump.log

Error: `/usr/bin/crun checkpoint --image-path /var/lib/containe

[2021-05-04 09:59] adrianreber commented on #1468
Please share dump.log

[2021-05-04 10:06] mind-mind commented on #1468
Sorry. Here is log:

(00.000131) Version: 3.15 (gitid 0)
(00.000248) Running on pi1 Linux 5.10.17-v7+ #1403 SMP Mon Feb 22 11:29:51 GMT 2021 armv7l
(00.000314) Loaded kdat cache from /run/criu.kdat
(00.000474) ========================================
(00.000492) Dumping processes (pid: 1788)
(00.000506) ========================================
(00.000535) rlimit: RLIMIT_NOFILE unlimited for self
(

[2021-05-04 10:36] adrianreber commented on #1468
If you want to work on it I would look at this failure:

This is unexpected and I do not think I have seen this error before.

[2021-05-07 00:38] rajbhar commented on #1402
I was able to try this today and it works. Also tested the better version from your PR, works too.

[2021-05-07 11:29] lijunqiang123 commented on #1461
Hey, I have a new problem now. The logs are as follows:
[code]

[2021-05-07 11:29] #1461 closed

[2021-05-07 11:35] lijunqiang123 opened #1469 "Pid 17550 do not match expected 16817"
When I use `CRIU RESTORE`， there is an error. Here are the logs:
[code]

[2021-05-07 11:35] lijunqiang123 opened #1470 "Pid 17550 do not match expected 16817"
When I use `CRIU RESTORE`， there is an error. Here are the logs:
[code]

[2021-05-07 12:06] adrianreber commented on #1469
This is the same as #1470. Closing.

[2021-05-07 12:06] #1469 closed

[2021-05-08 06:39] #1402 closed

[2021-05-08 15:41] #1435 closed

[2021-05-10 12:58] #1425 closed

[2021-05-11 06:22] adrianreber commented on #267
@LianJieZhang no. In the future please a open a new ticket for new problems/questions?

[2021-05-12 02:14] LiuChangFreeman opened #1474 "fail to checkpoint docker container"
I'm using criu v3.15 on Ubunut 18.04(WSL2) as docker checkpoint backend.
[code]
 I got errors and the `criu-dump.log` is here:
[code]
Seems it is caused by file-locks. So is there anything I can do to fix it?

[2021-05-12 05:24] adrianreber commented on #1474
As far as I know no one has used CRIU with Docker yet on WSL2. Does the error also happen on a real Linux system?

[2021-05-12 10:58] LiuChangFreeman commented on #1474
I will try it later and find whether it would happen again.

[2021-05-12 15:21] avagin commented on #1474
You need to create a criu config file and specify the --file-locks option there:
https://criu.org/Configuration_files

[2021-05-12 16:13] adrianreber commented on #1417
Looks the kernel changes made it to 5.13, 5.11.20 and 5.12.3

[2021-05-12 18:46] avagin commented on #1458
The Android App Process is running in another mount namespace. You need to find out how it was created and then decide how to restore it.

[2021-05-13 09:47] DivyanshuSaxena opened #1475 "Feature to only checkpoint and restore memory pages"
**Is it possible to dump only the memory pages (and the mmap-ed files), while keeping all the other state as it is?**

***Context:***
I am working on a project where I need memory checkpoints for containers. I believe memory footprints are critical in several scenarios and hence, being able to checkpoint memory pages efficiently shall be a very useful feature. From what I understand after having s

[2021-05-13 10:17] adrianreber commented on #1475
The overhead of anything besides memory pages is minimal. I would just do a dump and specify `keep-running`. That would be the easiest solution.

As mentioned above. Just dump everything and ignore what you do not need.

[2021-05-13 10:46] DivyanshuSaxena commented on #1475
Hi @adrianreber, thanks for the quick response. This is very encouraging.
I am utilizing CRIU to speed up slow starts in containers. However, due to the additional state being checkpointed, this is not as efficient as I want it to be. Specifically, I want to make the restores fast.

I did a perf events analysis for restore using [FlameGraphs](https://github.com/brendangregg/FlameGraph) and trimmin

[2021-05-13 11:02] adrianreber commented on #1475
Are you running CRIU in the container? If you are it might be possible to remove the problematic functions. But I think you would be on your own. Not sure anyone has done that before. I am pretty sure the network locking can be removed without any problems (if you are not using `--tcp-established`). Especially as it calls an external tool it probably requires a lot of time.

One of our proposed GS

[2021-05-13 11:19] DivyanshuSaxena commented on #1475
I'm not sure I understand what is meant by running CRIU in the container. I've installed CRIU on the host machine and I am using the docker checkpoint commands. I believe Docker uses the CRIU SWRK mode - is that started from within the container?

I will try to remove the network locking and check if that gives performance improvements.

[2021-05-13 11:38] adrianreber commented on #1475
No. CRIU is running outside. I was just curious if you are running CRIU manually in the container. Running it in the container would mean that CRIU does not have to deal with namespaces, because you are running it in the namespaces. In your case you are running it outside of the container which means you probably cannot remove most CRIU functionality because it is needed for checkpoint and restori

[2021-05-13 23:05] glassxer1 commented on #1439
I think this could be caused by the broken kernel of Ubuntu and some third-party libraries. I will post here if I have any confirmation.

[2021-05-14 04:50] LiuChangFreeman commented on #1474
Thanks! It works for me.

[2021-05-14 04:50] #1474 closed

[2021-05-14 12:21] LiuChangFreeman opened #1476 "How to handle files opened by the process to be checkpointed?"
I'm trying to checkpoint a `mongodb` docker container using criu.
I want to checkpoint and restore the `mongod` process with disk caches in memory which has been running for some time and served for some queries.
So the steps are as followed:
1. Run a `mongodb` container.
[code]
Then insert a lot of rows of data to init the database and make some queries to let it load caches into memory.
After th

[2021-05-14 15:05] adrianreber commented on #1476
Does it work if you copy with `-a`: `cp -a /mongo /volumes/v1`

That way the file owner should stay the same.

[2021-05-15 02:25] LiuChangFreeman commented on #1476
Nice! It works! Thank you very much!

[2021-05-15 02:25] #1476 closed

[2021-05-15 03:23] throwbear opened #1477 "[Python Supervisord] criu restore is successful, But the supervisord program coredump"
I checkpointed and restored a python supervisord program.
It seems that restore is successful, but a coredump happens after running for a while：

At the (gdb) prompt, just run the following command:

root@XXXXXXXX:/# gdb -c supervisord.17.core --args python2.7
GNU gdb (Debian 7.12-6) 7.12.0.20161007-git
Copyright (C) 2016 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later ht

[2021-05-15 08:00] adrianreber commented on #1477
Hmm, that is a tough one. If an application crashes sometimes after restore it is always hard to tell.

The only idea I currently have is that it might be related to jumps in the clock. There is a ticket at supervisord (https://github.com/Supervisor/supervisor/issues/1043) where jumps in the clock lead to problems. Maybe you are seeing something similar.

Are you moving the checkpoint to another m

[2021-05-15 10:58] rst0git commented on #1477
@throwbear Does the problem occur with Python 3 as well?

[2021-05-17 08:47] throwbear commented on #1477
thanks a lot.
Actually, I was trying to restore the process in another machine.
Do you mean that a time difference between two machines leads to the supervisord aborted after execute criu-restore

[2021-05-17 09:58] adrianreber commented on #1477
Good to know.

Could be. At this point I would say this is not a CRIU problem. You should at least first try the newest version of supervisord with Python 3 to see if the error goes away. If that does not help try it with a time namespace.

Anyway, I am just guessing because I saw that there used to be problems with supervisord and clocks. It still might be something completely different.

[2021-05-17 11:35] throwbear commented on #1477
As this issue describe, subprocess started by supervisord would hang for a long time if there is a out-of-sync between machines, BUT it would not cause supervisord coredump badly.

there is a similar issue [https://github.com/Supervisor/supervisor/issues/1430](url)

[2021-05-17 13:01] rst0git commented on #1477
@throwbear It's not supervisord coredump, its Python, but Python 2.7 has been deprecated. If you could replicate the issue with Python 3 it would be easier to debug.

[2021-05-17 14:33] LiuChangFreeman opened #1478 "restore docker container failure: can't open file, no such file or directory"
The whole log is here: [restore.log](https://github.com/checkpoint-restore/criu/files/6494373/restore.log)
The critical error is:
[code]
I'm trying to checkpoint and restore a live `mongodb` container before in which you have helped me a lot https://github.com/checkpoint-restore/criu/issues/1476
https://github.com/checkpoint-restore/criu/issues/1474  And it's really so kind of all of you to give m

[2021-05-17 14:44] adrianreber commented on #1478
The interesting question is 'why does `docker commit` not save the missing file `data/db/mongod.lock`'. It could be that `/data` is a Volume and Volumes are not part of the checkpoint.

Just recently @rst0git added Volume support to Podman's checkpoint restore implementation. Maybe you could try to use Podman to run your checkpoint/restore tests and have more luck.

[2021-05-17 16:07] lijunqiang123 commented on #1470
I meet that problem again. The logs are as follows: But when I used `CRIU RESTORE` , I used `ps -aux | grep 5895` to check if process 5895 exists. And the results are as follows too.
[code]
![image](https://user-images.githubusercontent.com/22146584/118520754-e7e7a100-b76c-11eb-884e-efbf31dd0b70.png)

[2021-05-17 16:12] adrianreber commented on #1470
Maybe some operating system or other process was created during that time. If you use a newer kernel with clone3() this race condition can be avoided (reduced). Or just use a PID namespace to avoid this problem.

[2021-05-17 23:40] new-sashok724 opened #1479 "Can't make CRIU work INSIDE podman container"
Hello! I'm trying to checkpoint my app in the podman container with CRIU API.
To do so, i installed CRIU (latest git build) inside container, and modified my app to call CRIU API when it launched.
API calls works fine, but CRIU doesn't want to dump my app, complaining about permissions in the log.
I tried to google solution, nothing found. Container is already privileged, and as i know it should h

[2021-05-18 01:53] throwbear commented on #1477
Thanks a lot. I have install two machine by the same linux images. AND the supervisord-coredump case DOES NOT happen every time when i execute criu-restore from one machine to another. It happened occasionally

[2021-05-18 01:57] throwbear commented on #1477
Thanks a lot. I have install two machine by the same linux images. AND the supervisord-coredump case DOES NOT happen every time when i execute criu-restore from one machine to another. It happened occasionally

[2021-05-18 03:07] LiuChangFreeman commented on #1478
Thank you. I also tried to add files to the `/data` Volume manaully by using `docker cp` after step 4. But it still didn't work. I'll try to use podman later.

[2021-05-18 05:40] adrianreber commented on #1479
That is your problem:
[code]
You cannot dump a process with CRIU itself in the process tree. Which will always happen when you try to dump yourself.
You can try to set `LeaveRunning(true)` and end your process after the dump manually. Also see https://github.com/checkpoint-restore/criu/blob/criu-dev/test/others/libcriu/test_self.c

Does it work if you run it outside of a container?

[2021-05-18 08:41] lolo-pop opened #1480 "Dump docker container failture : Error (criu/tty.c:2430): tty: Unable to find a master for /0"
I want to use CRIU's memory change tracking to reduce the migration time of live migration. However, I am getting the following error when using `criu dump`.

(06.909156) 0xffffffffff600000-0xffffffffff601000 (4K) prot 0x5 flags 0x22 fdflags 0 st 0x204 off 0 vsys ap  shmid: 0
(06.909161) Obtaining task auvx ...
(06.909948) Dumping task cwd id 0x10 root id 0x11
(06.910187) mnt: Dumping mountpoints

[2021-05-18 08:47] adrianreber commented on #1480
Using CRIU to dump a container standalone is always difficult and I am not sure anyone is using it like this. The recommendation is to always use the built-in checkpoint/restore support in the container runtime/engine.

Podman has support to use pre-dump. Maybe you could try that. Or, instead of using CRIU directly to dump your container. Look at what runc does to checkpoint/restore a container wi

[2021-05-18 08:58] lolo-pop commented on #1480
I chose to use CRIU because I wanted to use the iterative migration feature. Does Podman also support this feature? If Podman also supports this feature, I will try it.

[2021-05-18 09:01] adrianreber commented on #1480
Yes, Podman supports that. A single pre-dump: http://docs.podman.io/en/latest/markdown/podman-container-checkpoint.1.html#pre-checkpoint-p

[2021-05-18 09:04] lolo-pop commented on #1480
Thank you for your help.

[2021-05-18 12:54] Snorch commented on #1419
This is quite a hard question... Imagine two of your processes have mmaped file and they both write to it, and one process is dumped by criu in the middle of write, some data is already there and some would be written only after process restores. What would second process do with this half written data? Sharing memory in this way looks bad to me.

I would suggest using network sockets for communic

[2021-05-18 13:03] new-sashok724 commented on #1479
It does work outside of container with `LeaveRunning(false)`:
[criu.log](https://github.com/checkpoint-restore/criu/files/6501447/criu.log)

[2021-05-18 13:45] adrianreber commented on #1479
Can you run `criu check -v4` in the container and share the log?

[2021-05-18 13:52] adrianreber commented on #1479
Hmm, do you run with selinux or apparmor on the host?

[2021-05-18 13:52] new-sashok724 commented on #1479
No, i don't run any of them

[2021-05-18 13:55] adrianreber commented on #1479
I am out of ideas right now. Maybe there are some capabilities missing or some seccomp related problems.

But we are running all of our tests using --privileged for CRIU. So it should work.

[2021-05-18 13:57] new-sashok724 commented on #1479
Maybe it has something to do with Arch Linux version of podman? I had to recompile it (and also crun) just to have CRIU support. Arch doesn't have CRIU in repos, and other packages don't use it.

[2021-05-18 14:10] adrianreber commented on #1479
Hmm. Not sure. Do you have Docker on the machine to see if it would work in a Docker container?

Are you running Podman as root or as non-root?

[2021-05-18 14:12] new-sashok724 commented on #1479
I am running podman as root, from shell. Will test in docker container in VM soon.

[2021-05-18 14:34] lijunqiang123 commented on #1470
I want to use a PID namespace to avoid this problem now. Can I use CRIU C API to do that? I didn't find the relevant examples. Could you please give an example to me?

[2021-05-18 14:37] adrianreber commented on #1470
There is a helper script which might be helpful https://github.com/checkpoint-restore/criu/blob/criu-dev/scripts/criu-ns and newer versions of CRIU support restoring into PID namespaces https://github.com/checkpoint-restore/criu/blob/criu-dev/Documentation/criu.txt#L246 https://github.com/checkpoint-restore/criu/blob/criu-dev/test/others/ns_ext/run.sh

[2021-05-18 19:18] new-sashok724 commented on #1479
The problem was that app started with PID=1. I changed entrypoint to .sh script (so app is PID=2), now everything works perfectly!

[2021-05-18 19:18] #1479 closed

[2021-05-19 03:04] LiuChangFreeman commented on #1478
These steps run well on `podman` so the failure was caused by docker.

[2021-05-19 03:04] #1478 closed

[2021-05-19 04:23] lijunqiang123 commented on #1470
When I use `CRIU DUMP`, there is an error. The logs are as follows. It looks like the process 61559 doesn't exist. But before using `CRIU DUMP`, I use `ps -aux`  and  `access("/proc/61559",F_OK)` to check if the  process 61559 exists. And the results are as follows too.
[code]
![image](https://user-images.githubusercontent.com/22146584/118756212-0482f680-b89d-11eb-87c1-eeeb4edbf13c.png)

[2021-05-19 06:45] adrianreber commented on #1470
What is the content of `/proc/sys/kernel/yama/ptrace_scope` ?

[2021-05-19 06:49] lijunqiang123 commented on #1470
![Uploading image.png…]()

[2021-05-19 06:49] lijunqiang123 commented on #1470
![image](https://user-images.githubusercontent.com/22146584/118768336-76653b00-b8b1-11eb-8e77-ea78cb567fd7.png)

[2021-05-19 06:52] adrianreber commented on #1470
Try it with `echo 0 > /proc/sys/kernel/yama/ptrace_scope`. Maybe that helps.

[2021-05-19 07:13] lijunqiang123 commented on #1470
Thank you. I try it again.

[2021-05-19 09:54] Snorch commented on #1422
@yinshuisiquan Again, you only provide part of one log, that's not enough! (Even full logs with full images would probably be not enough for this problem. Stable reproduce would be much better.)

Please reproduce (and estimate the reproduce rate) the issue and provide full criu command-line arguments and logs for each step consistently. E.g.:
[code]
If you do more than one predump we need to see l

[2021-05-19 11:56] Snorch commented on #1427
Sadly looks like there is no such thing in Virtuozzo criu...

If we have a synchronous interface it should also be _only_ available to criu, else any "virus"-app would be able to put Jave in this suspended state.

[2021-05-19 14:27] lijunqiang123 commented on #1470
I try it with `echo 0 > /proc/sys/kernel/yama/ptrace_scope`. But the error still appears.
![image](https://user-images.githubusercontent.com/22146584/118830339-72f1a400-b8f1-11eb-9b03-1830e89987a4.png)

[2021-05-20 07:44] brauner commented on #1427
On Wed, May 19, 2021 at 05:03:21AM -0700, Pavel Tikhomirov wrote:

Hm, you mean sending a signal via pidfd because that already works via
pidfd_send_signal() or are you talking about something more elaborate?

Christian

[2021-05-20 09:16] adrianreber commented on #1480
Yes.

Someone needs to implement it for Podman. So far no one has stepped up. If it is important for you, maybe it something you could do.

Closing this again as this is not a CRIU issue.

[2021-05-20 09:16] #1480 closed

[2021-05-20 12:00] Snorch commented on #1444
One can try switching tty with this script https://github.com/Snorch/switch_terminal/blob/master/switch_terminal.sh Please note that this is only a POC and probably I'm missing something important.

[2021-05-20 12:50] Snorch commented on #1427
pidfd_send_signal() or are you talking about something more elaborate?

I mean some kind of bidirectional interface which allows the task with pidfd for some process send command to this process and get reply when command was executed.. The thing that Andrew was talking about but through pidfd, because pidfd owner should be allowed to ask the process to "cleanup caches".

[2021-05-20 16:04] Snorch commented on #1458
Adding to what @avagin said.

This mount should either be marked as external(or e.g. root) mount with criu options or you should remove sharing from it.

Your problem is that you have separate mount namespace for you dumped application which has mounts "connected" to mounts on host (have same shared/master id), criu can't resolve this external dependency itself. So either you remove the dependency

[2021-05-20 16:51] Snorch commented on #1462
@brauner Hi!

Yes. Usecase for criu is migration between nodes where source node has higher pid_max then source. If pid_max is not virtualized and we want to restore process with pid > destination node pid_max criu would fail without changing global value. If pid_max is virtualized we are free to restore any pids we want.

[2021-05-20 18:47] forkjoseph commented on #1316
For anyone in the future, configuring `vfs` in docker worked (https://docs.docker.com/storage/storagedriver/vfs-driver/):
add
`  "storage-driver": "vfs"` in `/etc/docker/daemon.json`, restart docker engine.

[2021-05-20 18:51] adrianreber commented on #1316
Thanks for the information. You have to be aware, however, that `vfs` can be really slow.

[2021-05-20 19:02] rst0git commented on #1439
https://www.kernel.org/doc/html/v5.9/admin-guide/tainted-kernels.html

[2021-05-20 19:16] rst0git commented on #1316
A fix for the problem with overlayfs has been merged in the `master-next` branch for Ubuntu Focal (20.04)
https://git.launchpad.net/~ubuntu-kernel/ubuntu/+source/linux/+git/focal/commit/?h=master-next&id=28eab192cf0e37156fc41b36f06790d5ca984834

[2021-05-20 19:41] rst0git commented on #1480
It depends on your use case, but you can use `runc checkpoint` with `--pre-dump` and `--parent-path`.

[2021-05-23 16:08] kpm4 opened #1484 "crit unable to decode a byte"
hello.

I am trying to read the dump files with crit, so I dump a small process with:
$ criu dump -t 15719 --shell-job
Warn  (compel/arch/x86/src/lib/infect.c:358): Will restore 15719 with interrupted system call

so, now I am trying to read the dumped info with:

$ crit/crit x ./output/ fds
Traceback (most recent call last):
  File "/home/x/tools/criu/crit/crit", line 6, in <module>
    cli.main(

[2021-05-23 16:18] adrianreber commented on #1484
Which version of CRIU? In the development branch there are many fixes for errors like this. So it could be fixed by now.

Also, does crit show output/fdinfo* work? Does that contain the data you are looking for? I guess your combination of parameters has not been verified to work since we switched to Python 3. But there are many other ways in which crit has been verified to work with Python 3.

[2021-05-23 16:52] kpm4 commented on #1484
I am using the last commit from main branch.

crit show and decode work. also on pstree.img (that seems to be the file with the issue)

$ crit/crit decode -i output/pstree.img
{"magic": "PSTREE", "entries": [{"pid": 15719, "ppid": 0, "pgid": 15719, "sid": 15630, "threads": [15719]}]}

$ crit/crit show output/fdinfo*
{
    "magic": "FDINFO",
    "entries": [
        {
            "id": 5,

[2021-05-23 17:11] adrianreber commented on #1484
Just tried it and I can confirm that is also needs fixing.

[2021-05-24 05:41] rst0git commented on #1484
@kpm4 I opened a pull request to fix it.

[2021-05-25 06:39] mind-mind commented on #1420
Hi

[2021-05-25 06:42] mind-mind commented on #1420
Hi @abhishekvijeev,

I just curious about something. Recently, I tried to make pod migrating work, https://github.com/schrej/podmigration-operator

I think they integrating CRIU as well and it works on Ubuntu.
Since I ask you about podman checkpoint cannot use on Ubuntu since kernel problem, so it just podman right?

I mean CRIU still works on Ubuntu except for podman checkpoint?

[2021-05-25 08:37] adrianreber commented on #1420
You are confusing a lot of things. On Ubuntu there used to be a kernel bug for about two years that broke checkpoint restore on overlayfs. This is independent of Docker/Podman. The filesystem is broken. There was recently a fix for the Ubuntu kernel. Not sure if the fixed kernel has already appeared in the repositories.

[2021-05-25 08:37] #1420 closed

[2021-05-27 16:04] avagin commented on #1477
What kernel do you use? Does it support time namespaces?

[2021-05-27 16:08] avagin commented on #1429
The workaround has been merged. Now we need to figure out how to fix the problem properly.

[2021-05-27 16:27] avagin commented on #1404
Sorry for the delay. I will take a look at it.

[2021-05-27 16:40] #1484 closed

[2021-05-27 17:15] lvella commented on #1404
I no longer have interest in this issue. Maybe I have stumbled upon a bug and it would be nice if could fix it, but I no longer have the original files, the script and don't remember what I have learned at the time about criu, so I'm afraid I'll be of little help.

[2021-05-28 07:34] Snorch commented on #1404
Note: I don't see --restore-detached at restore, so criu restore waiter process was still there at the time of second dump. Can't it be criu waiter process the one which was dumped at second dump instead of real process? That can explain nested time namespace detected...

![800px-Criu-restore-dflt](https://user-images.githubusercontent.com/6671311/119947305-4815e880-bfa0-11eb-9320-3c5acbcd9a05.png

[2021-05-28 20:25] avagin commented on #1404
@Snorch The scenario that you described looks real.

[2021-05-28 20:52] avagin commented on #1404
[code]

[2021-05-28 20:52] #1404 closed

[2021-05-29 07:46] mouri11 opened #1488 "Run runc container over SSH"
I am working on a cluster of runc containers running in AWS EC2 Ubuntu 18.04 x86_64 instances. I intend to have one master node run the containers in all the other nodes via SSH. I am using the following bash script in the master node:
[code]
The "active" file contains list of remote IPs for the EC2 instances. Running this results in an error similar to the one below
```level=error msg="open /dev/

[2021-05-29 07:51] adrianreber commented on #1488
Why are you asking `runc run` questions here?

So far this seems unrelated to CRIU.

I would recommend, however, redirecting stdin, stdout and stderr to /dev/null for checkpointing and restoring.

[2021-05-29 07:52] mouri11 commented on #1488
Ok. My bad. Thanks for the pointers.

[2021-05-29 07:52] #1488 closed

[2021-05-31 16:52] #717 closed

[2021-06-01 15:16] zl-wang commented on #1429
@avagin   I am at the tip of criu-dev:  commit d34c7cee8614f5eeb9a58546f7867a1dafb67200 (HEAD -> criu-dev, upstream/criu-dev)
                 build it:  make clean/make/make install
                 SIGTRAP is still not caught, as shown in the dmesg:
[code]

is that expected?  I am sure it contains your work-around commit:
[code]

[2021-06-02 15:33] avagin commented on #1429
This is my mistake:
[code]

I will create a pr with this fix.

[2021-06-02 15:41] 0x7f454c46 commented on #1429
Ah, I should've noticed it in review.
An exercise on attentiveness :)
I thought you've copy'n'pasted this from an existing function (not `ksigaddset()`) and missed it.

[2021-06-02 20:53] xjtuwxg opened #1497 "Is it possible to specify the code location for criu dump?"
I want to dump the process at particular locations (e.g., at the beginning of a function). Is it possible to do that? If not, could you point out a potential direction to implement that? Thanks

[2021-06-03 06:03] avagin commented on #1497
You can use ptrace to set a breakpoint, wait when a process is stopped at a particular location, then send SIGSTOP to the process, detach from it and run "criu dump".

[2021-06-03 06:09] avagin commented on #1470
It can be a case when a thread leader has exited but there are other threads. I think criu doesn't support this case right now.

[2021-06-03 09:00] facelessq opened #1498 "How to make criu dump all rss of a docker container?"
I have tried to change the code of
https://github.com/checkpoint-restore/criu/blob/dee4472ccf9aa7b3f6cf4689d2e74e4aeb381a2f/criu/mem.c#L400
from `return false;` to `return true;`
But still some pages (don't know what kind of pages) are not dumped.

I don't need to restore, I just want to check the content of all present physical pages. Is there any way to dump them?

[2021-06-03 19:21] #1497 closed

[2021-06-04 13:51] seanrmurphy opened #1499 "Problem restoring container containing tun device"
Hi,

I'm having an issue which seems similar to this unresolved issue - https://github.com/checkpoint-restore/criu/issues/838 - namely when I perform a restore via `podman` it fails, giving this error

[code]

The setup is as follows:
- a tun/tap device is created manually within the container
- we are using qemu in a container which picks up the above tun/tap and connects to it
- the checkpointin

[2021-06-04 13:58] adrianreber commented on #1499
Unfortunately this is not easy to solve. In contrast to Docker/LXC CRIU does not touch the network namespace when using Podman. In combination with Podman we restore into an existing network namespace that has been set up by Podman/CNI.

In the Podman case CRIU completely ignores the network namespace and so all changes you do to the network namespace, in your case the tun/tap device, will not be

[2021-06-04 14:11] seanrmurphy commented on #1499
Thanks so much for the speedy response!

By 'existing', I guess you mean created by `podman` as part of the restore operation - is this correct?

Clear and helpful - thanks!

Thanks - will look into it.

Ok - not a good sign...

Thanks again for the pointers - if I find some workable approach, I'll update.

[2021-06-04 14:25] adrianreber commented on #1499
Yes. Created by `podman` using CNI.

[2021-06-06 06:54] avagin commented on #1498
CRIU doesn't dump zero pages:
https://github.com/checkpoint-restore/criu/blob/dee4472ccf9aa7b3f6cf4689d2e74e4aeb381a2f/criu/mem.c#L409

Shared mappings are dumped as tmpfs files if I remember this correctly.

[2021-06-08 07:01] seanrmurphy commented on #1499
I don't have a complete solution to my problem as yet, but I'll put this here as it might help someone in future... @bboreham pointed me in this direction on CNI slack...

AWS has developed a CNI plugin called `tc-redirect-tap` (https://github.com/awslabs/tc-redirect-tap) which can create a `tap`  in a netns; an example use case is that a `tap` interface gets created along with a `veth` pair (usin

[2021-06-08 18:41] ZacBlanco commented on #1316
https://git.launchpad.net/~ubuntu-kernel/ubuntu/+source/linux/+git/focal/commit/?h=master-next&id=28eab192cf0e37156fc41b36f06790d5ca984834

The Ubuntu kernel with this patch was released as of writing this. I am able to checkpoint with `5.8.0-55-generic` (hwe) and `5.4.0-74-generic` without using the `vfs` driver any more.

[2021-06-10 08:05] seanrmurphy commented on #1499
As noted above, there is a solution for bringing up the container by which CNI creates the `tap` and `qemu` can connect to it.

I am still unclear around whether all of this needs to be run in privileged mode - there seems to be a bug in `podman` handling restore of privileged containers which some redhat folks are currently looking into.

Trying the unprivileged approach, it's possible to `run` t

[2021-06-10 08:23] adrianreber commented on #1499
Not sure. I guess the network namespace is not set up in a way that CRIU expects. So right now I think this might be a CNI problem. I guess no one has ever used CRIU to do what you are trying to do, so it could be that it is just unexpected. Not sure.

@avagin Do you know if restoring into an existing network namespace should work with tun devices?

[2021-06-10 09:38] seanrmurphy commented on #1499
Just to be clear - it's not specifically my intention to have the restore process restore to an **existing** netns - if that is the best solution, I'm fine with it, but if CNI automatically creates a new netns in the appropriate manner, that's fine. Also, if CNI needs to recreate a netns with a specific ID (eg the ID defined in the `network.status` file), that's fine too.

[2021-06-10 09:47] adrianreber commented on #1499
If you want to use Podman CRIU is required to restore into an existing network namespace, because that is how Podman works. It tells CNI to create a network namespace and then tells CRIU to restore the process into it. Right now either CNI does not create the network namespace correctly or CRIU cannot handle restoring processes into an existing network namespace with existing tun devices.

[2021-06-10 09:52] seanrmurphy commented on #1499
Thanks (again) for the v helpful clarification...

[2021-06-10 10:00] bboreham commented on #1499
I'm not aware of any cases where CNI creates a network namespace; IME it is told to use an existing one.

[2021-06-10 10:08] adrianreber commented on #1499
Sorry, that was then wrong. From my standpoint, checkpoint restore, Podman or CNI creates the network namespace and Podman tells runc tells CRIU to restore into the network namespace. I assumed that CNI also creates the network namespace but it seems, from your comment, it only configures it after it has been setup by someone else.

Whoever does creates the network namespace, CRIU is told to resto

[2021-06-10 12:11] LiuChangFreeman opened #1502 "Can the --lazy-page feature be adapted for restoring process over and over again?"
I'm trying to eliminate process restoring time using the `--lazy-page` feature but later I find that it seems to be designed  only
 for one-time C/R.
So I'm wondering is it possible to change the strategy to checkpoint once and restore many times?
![Criu-memory-wflow](https://user-images.githubusercontent.com/20047907/121519400-42021c00-ca24-11eb-9e5f-3ab4c1959972.png)
The procedure I want to make

[2021-06-10 12:18] adrianreber commented on #1502
If I remember it correctly this will not work because for lazy-pages we are not reading the pages from the disk but directly from CRIU which is running as a server on port 7000 (step 2). You would need to changes `criu lazy-pages` to not read from another CRIU process like in step 2, but it would need to read the pages directly from pages-*.img.

Restoring processes lazily via userfaultfd is reall

[2021-06-10 12:52] LiuChangFreeman commented on #1502
Thanks. In my situation, the process need only be restored as quickly as possible and the performance is not very important.
So I think it may be a good idea to let the pages restore later to achieve the lowest restore time which means the restored process will not need to access all the memory pages the time when it is booted.
Though the total time may be much slower than restoring from disk, it

[2021-06-10 13:32] adrianreber commented on #1502
I would say it is at least a factor 10 slower. For every single page, in the beginning, there is one page fault a TCP request to the server and back to the client. It has a lot of room for optimization, but as far I as remember we never optimized it. If you are interested you are more than welcome.

lazy-migration usually only makes sense with pre-copy migration

[2021-06-11 02:35] LiuChangFreeman commented on #1502
May I ask you more about the `page server`?
I'm preparing to rewrite the page server which can read pages from disk files such as `pages-n.img` from previous checkpoint and store them in its own memory. Then I will try to use the new page server to handle the `one page fault a TCP request` just like what the server create in this step do:
[code]
Do you think it easy to do this job? Or is there any

[2021-06-11 05:58] adrianreber commented on #1502
It think it should be doable.

@rppt did I remember it correctly? Do you think creating a page server from dumped filed would be difficult?

[2021-06-12 12:55] adrianreber opened #1503 "CI failures with new github actions kernel"
It seems with the updated kernel (5.8.0-1033-azure) we are seeing new CI failures:

CRIU Image Streamer test fails with:
[code]
@nviennot do you have any idea how to fix this?

And CentOS 7 container on 5.8.0-1033-azure fails with every test with the following:
[code]
This one is really strange because this is not how clone3() should fail. clone3() should return an error if it fails to allocate th

[2021-06-12 13:50] rst0git opened #1504 "image streamer test fail"
The following test sometimes fails with `Error (criu/image.c:694): Img trimmed 1048551/1048576` ([restore.log](https://github.com/checkpoint-restore/criu/files/6642277/restore.log)).

[code]
https://github.com/checkpoint-restore/criu/runs/2809666897

[2021-06-12 14:01] rst0git commented on #1504
cc @nviennot

[2021-06-13 06:37] EaZyq opened #1505 "write() argument must be str, not bytes"
pls help me i got this issue

crit encode -i cgroup.json -o crgoup.img
Traceback (most recent call last):
  File "/usr/bin/crit", line 6, in <module>
    cli.main()
  File "/usr/lib/python3/dist-packages/pycriu/cli.py", line 410, in main
    opts["func"](opts)
  File "/usr/lib/python3/dist-packages/pycriu/cli.py", line 50, in encode
    pycriu.images.dump(img, outf(opts))
  File "/usr/lib/python3/

[2021-06-13 06:40] adrianreber commented on #1505
Which version do you use? This should be already fixed in the development branch `criu-dev`.

[2021-06-13 06:48] EaZyq commented on #1505
I'm using 3.15 on ubuntu

[2021-06-13 07:30] rst0git commented on #1505
This issue appears to have been fixed with https://github.com/checkpoint-restore/criu/pull/1388

[2021-06-13 08:40] adrianreber commented on #1503
The CentOS7 problem can be fixed with using `syscall(__NR_getpid)` instead of `getpid()` to avoid PID caching. But once that is fixed there is now a time namespace problem:
[code]

[2021-06-13 11:03] EaZyq commented on #1505
yes it does work thank you!!!

[2021-06-13 11:07] rafaelgieschke opened #1507 "Failing to restore static PIE"
CRIU fails to restore any static PIE (ET_DYN binary without PT_INTERP segment; `gcc -static-pie`).

The attached [static-pie-test](https://github.com/checkpoint-restore/criu/files/6643746/static-pie-test.txt) script fails at https://github.com/checkpoint-restore/criu/blob/73d76d45c16f95d3f00d0331265ea04d6e54c7be/criu/pie/restorer.c#L1705 and produces [restore.log](https://github.com/checkpoint-res

[2021-06-13 11:36] EaZyq commented on #1505
now i got this issue:

criu restore -D checkpoint
     1: Error (criu/net.c:2468): Unable to find an external netns: extRootNetNS
     1: Error (criu/cr-restore.c:1827): Can't unshare net-namespace: No such file or directory
Error (criu/cr-restore.c:2483): Restoring FAILED.

any quick solve pls?

[2021-06-13 12:03] adrianreber commented on #1505
How did you do the checkpoint?

[2021-06-13 12:23] EaZyq commented on #1505
i got it from a ctf challenge

[2021-06-13 12:25] EaZyq commented on #1505
there is "net" in error name so i think this may help:
network.status
[
  {
    "cniVersion": "0.4.0",
    "interfaces": [
      {
        "name": "cni-podman0",
        "mac": "ce:c3:6c:a9:64:fc"
      },
      {
        "name": "veth7b23ba41",
        "mac": "a6:e1:b7:a8:55:08"
      },
      {
        "name": "eth0",
        "mac": "46:13:28:62:42:dc",
        "sandbox": "/run/netns/cni-a8181ca

[2021-06-13 12:30] adrianreber commented on #1505
Are you trying to restore a container?

Use podman container restore. It is difficult to restore a container checkpoint without the container engine. Why are you using criu directly?

[2021-06-13 12:32] EaZyq commented on #1505
bruh i searched google for a way to restore a checkpoint and criu came up so i think i should use that
im a noob btw
sry

[2021-06-13 12:36] adrianreber commented on #1505
Sorry, it is unclear what you are trying to do. Please list all steps you are doing and tell us what you want to achieve.

[2021-06-13 13:30] rst0git commented on #1504
Duplicate of  https://github.com/checkpoint-restore/criu/issues/1503

[2021-06-13 13:30] #1504 closed

[2021-06-13 13:36] rst0git commented on #1503
Actually, only the restore of `zdtm/transition/fifo_loop` test fails when running with `--stream`, but I am able to replicate the error in Fedora 34 as well ([restore.log](https://github.com/checkpoint-restore/criu/files/6643946/restore.log)).
[code]

[2021-06-13 15:05] john-lark opened #1508 "Why does criu try to generate tty-info.img even when the process is in daemon mode?"
1. Create a flask app using this code:
[code]

Also use the `newns` tool to run this python app:
[code]
2. Launch the python app using `newns` and redirect the output to `/dev/null`
[code]
3. Dump the process using `criu`:
[code]
4. Then I got the error(sometimes the error won't happend, but I don't know why):
[code]
And the generated imgs:
[code]
So why is criu trying to generate `tty-info.img`?

[2021-06-13 18:54] adrianreber commented on #1508
Thanks for the detailed example. I just tried it and I see no `tty-info.img` in my dump:
[code]

Is your `tty-info.img` from an older checkpoint?

[2021-06-13 20:33] adrianreber opened #1510 "Error (criu/page-xfer.c:400): page-xfer: No parent image found, though parent directory is set: No such file or directory"
CI tests with multiple pre-dumps always produce the following message in the final dump:
[code]

The pre-dump seems to work correctly, but there is still this error message from CRIU. Not sure if it is false error message or if something does not work as expected. I see @rppt as the author. Any ideas if this message is correct? Is it really an error in the pre-dumping?

[2021-06-14 02:40] john-lark commented on #1508
No, I'm sure the `tty-info.img` is generated with the error.
This problem sometimes won't occur just like your test and I couldn't find out the exact conditions.
Maybe you can use the remote development function of `vscode` and make the same test on its terminal.

![20210614103745](https://user-images.githubusercontent.com/85836759/121832423-9515f080-ccfc-11eb-93a8-98786b32bc81.png)

[2021-06-14 03:04] avagin commented on #1507
@0x7f454c46 could you take a look at this?

[2021-06-14 06:13] adrianreber commented on #1508
Can you reproduce it without vscode? We had reports about the debug terminal doing strange things. But I am not a vscode user, so I cannot help you.

I can dump the process hundreds of times in loop without any problems, so this might be related to your terminal.

Can you reproduce it on Linux?

Can you run criu with -R and maybe show the result of `lsof` on the binary once it fails to dump.

[2021-06-14 06:51] john-lark commented on #1508
1. Show the pid as 46 using `ps -ef`
[code]
2. Use `lsof` to list open files of the processes
[code]
3. Using criu to dump the process then it fails and gets the error
[code]
4. Using crit to decode the `tty-info.img`
[code]
On step 2 I can see the pid 46 opened a tty `/dev/pts/0` and I guess it may result in the failure.
Though the process is created in daemon mode, it still opened a tty which co

[2021-06-14 07:01] adrianreber commented on #1508
On my system the process does not have any terminal open. Is this still running under the control of vscode?
[code]

[2021-06-14 07:03] adrianreber commented on #1508
Please try it without vscode.

[2021-06-14 07:05] AditiThirdEye opened #1511 "Error (criu/mount.c:660): mnt: 554:./etc/hosts doesn't have a proper root mount"
I m very new to CRIU; I have tried simple loop in c++ with criu it works fine but
With the pid is of a simple loop program in c++ running in a docker container
It gives the below error

$ sudo criu dump -t 17427 -D checkpoint/ -j -v4

(00.000008) Version: 3.14 (gitid 0)
(00.000037) Running on kali Linux 5.10.0-kali8-amd64 #1 SMP Debian 5.10.40-1kali1 (2021-05-31) x86_64
(00.000057) Loaded kdat cac

[2021-06-14 07:07] adrianreber commented on #1511
Are you doing the checkpoint on the inside or on the outside of the container?

[2021-06-14 07:13] john-lark commented on #1508
I can figure out that if I do a "clean" boot, this bug won't happen on one machine. But another(WSL2) still fails in the bad case.
1. reboot
2. using a ssh client not vscode to open a terminal
3. redo the steps 1-4 and I can get the same expected result as yours
[code]
Though this can help avoid the failure, it still confuses me.
I want to find a tool which can create processed without any tty jus

[2021-06-14 07:14] AditiThirdEye commented on #1511
From Outside the container

[2021-06-14 07:17] AditiThirdEye commented on #1511
I tried from inside the with normal docker checkpoint commands it didn't work either
For that older versions of docker is required and I tried to install them but because my kali linux kernal is new so it didn't work.

[2021-06-14 07:17] adrianreber commented on #1511
That is doable but really difficult, because you need to know a lot of details of how the container was set up. Either use Docker or Podman to checkpoint the complete container or run CRIU in the container (requires `--privileged`).

You can also take a look at the source code of `runc` or `crun` to see all the options they use to checkpoint a container.

[2021-06-14 07:17] adrianreber commented on #1511
Is that because of cgroup2? Try Podman with crun they handle cgroup2 without a problem.

[2021-06-14 07:18] AditiThirdEye commented on #1511
Yes I have tried podman in my kali linux but with that it says, runtime not configured.

[2021-06-14 07:18] adrianreber commented on #1508
At this point this no longer sounds like a CRIU problem. Please close the ticket if you have no further CRIU questions.

[2021-06-14 07:19] #1508 closed

[2021-06-14 07:19] adrianreber commented on #1511
This no longer sounds like a CRIU problem. Please close the ticket if you have no further CRIU questions.

[2021-06-14 07:21] AditiThirdEye commented on #1511
Can you suggest something with respect to root mount?

[2021-06-14 07:23] AditiThirdEye commented on #1511
Thankyou for your time.

[2021-06-14 07:23] #1511 closed

[2021-06-15 17:17] #1054 closed

[2021-06-16 00:14] geminijun opened #1513 "A problem for using "/proc/pid/map_files/" when dump file map"
**Description**
If we restored a process in a new pid&mnt namespace, and this process got an "fd" transferred from another process(in a different mnt namespace). CRIU dump(in the same namespace with the target process) will be failed due to can't lookup the mnt_id.

**Steps to reproduce the issue:**
1. Write a program that uses an "fd" transferred from another process, and mmap it.
2. Use CRIU to

[2021-06-16 07:11] avagin commented on #1513
@Snorch could you take a look at this?

[2021-06-16 09:28] Snorch commented on #1513
@geminijun Hi!

Short answer: That's the exact result I would expect in this case, it's a RIGHT behaviour for CRIU.

Your patch is wrong in general (though surely it works for your case as file opened from other mount does not bother your app).

Mmap here is actually not important, you would have the same with simple opened file fd.

Some more details:

In linux files on different mounts are not s

[2021-06-16 19:26] geminijun commented on #1513
Thank you so much for the detailed explanation. I know what's the best way to do now.

Two more questions:
1) Actually, the reason why I restore it in a new namespace, is because of the infamous PID conflict, my application really doesn't care about the mnt namespace, but it looks like I have to new a new mnt namespace when creating a new PID namespace?

2) For the example you gave me if the proce

[2021-06-17 00:00] geminijun commented on #1513
@Snorch One more question, in which case `root_ns_mask` will set `CLONE_NEWNS` ?
I found in my case, it didn't set this flag, and so the `mnt_id` won't be saved anyway.
When checkpoint, it only needs the file path, and when restore, just open the file and mmap it.
In my case, we close the file before the checkpoint so the fd table doesn't matter.
So as long as the file is accessable in the new nam

[2021-06-17 07:10] adrianreber commented on #1505
Closing. Please open a new ticket if you have further questions.

[2021-06-17 07:10] #1505 closed

[2021-06-17 07:15] adrianreber commented on #1503
#1516 solved the CentOS 8 errors.

[2021-06-17 07:20] lolo-pop commented on #1480
Thanks

[2021-06-17 08:52] Snorch commented on #1513
@geminijun Hope I answer all your questions =)

In general one can dump an application from host pid and mntns and then restore it into new pidns and host mntns. But this may lead to problems when this application would later try to access proc (e.g. /proc/<pid_of_another_task>) because it sees proc of host pidns but sees pids of new pidns, which would likely lead to confusion...

So in practice y

[2021-06-18 22:31] nviennot commented on #1503
The streaming errors are fixed with https://github.com/checkpoint-restore/criu/pull/1520

[2021-06-20 16:47] adrianreber commented on #1503
#1506 solved the CentOS 7 errors

[2021-06-20 21:48] geminijun commented on #1513
@Snorch Thanks a lot for your explanations, I'm closing this issue since it's not a problem. Thanks!

[2021-06-20 21:48] #1513 closed

[2021-06-21 09:52] adrianreber commented on #1503
All CI runs are working again (most of the time).

[2021-06-21 09:52] #1503 closed

[2021-06-21 09:57] yimin-zhao opened #1523 "Restoring TCP connection: No tcp-stream-XXXX.img image"
Hi there,

I met a restoring error when I try to restore a container pod.
[code]
I already use `tcp-close` option for both dump and restore, but I checked the this [doc](https://criu.org/CLI/opt/--tcp-close), it says  `--tcp-close option affects all the process tree TCP sockets that have any TCP state except CLOSED and LISTEN`. In this way, the `tcp-close` flag doesn't affect the closed inet socke

[2021-06-21 12:17] adrianreber commented on #1523
It works if I try it locally in Podman just as it should. Not sure. Could you also share the log file of the checkpoint? Maybe that has a clue why it fails.

[2021-06-22 02:04] yimin-zhao commented on #1523
[cr-dump.log](https://github.com/checkpoint-restore/criu/files/6690465/cr-dump.log)
[cr-restore.log](https://github.com/checkpoint-restore/criu/files/6690466/cr-restore.log)

Sometimes if there is no TCP_CLOSE inet socket dumped, then the pod can be restored successfully.

[2021-06-22 02:39] kolyshkin opened #1524 "Unable to restore into a different cgroup"
**Description**

I am working on runc, and we're experiencing occasional failures during the lazy migration test (https://github.com/opencontainers/runc/issues/2924, https://github.com/opencontainers/runc/issues/2760).

The nature of the lazy migration test requires the original container to stay until we finish restoring
the new one, meaning we have two cgroups (and systemd units, in case systemd

[2021-06-22 15:45] adrianreber commented on #1523
This is strange. I think this could be a bug. Unfortunately I am not able to reproduce it locally to provide a fix.

@avagin I had a look at the code and only if opts.tcp_close it set and if the socket is not already in the TCP_CLOSE state are we skipping restoring of the connection state. During dumping it seems, however, we do not write the state of the socket and so it fails during restore with

[2021-06-22 19:23] jallirs commented on #1420
Hello :) random criu user stumbling in here :) .
I can confirm what @adrianreber  is saying. There was also another issue on older Ubuntu LTS's (18.04.x etc, not sure if it's fixed in 20.04 either) where Ubuntu had was shipping an older iptables that I think came from debian upstream, that did not support -w flag. Difficult to get around. The stock Docker that was shipped with 18.04 didn't appear

[2021-06-24 07:27] mind-mind commented on #1420
@jallirs  Thank you. I think it interesting, Can you write a how-to?

[2021-06-24 09:57] john-lark opened #1527 "Is feature custom checkpoint-dir for docker restore available on 20.10?"
**Description**
I have make some tests on docker 17.03 which is the latest release that can support custom checkpoint-dir  when using `docker start`. But since the next version, this feature was forbidden for some reasons.
https://github.com/moby/moby/pull/41031 The pr says that according to his test, fixes have been enough and the forbid can be removed safely as expected.
So I want to know is thi

[2021-06-24 10:00] adrianreber commented on #1527
I am a bit confused why you are asking this question here. We are not directly involved with Docker. Not sure we can help you.

[2021-06-24 10:08] john-lark commented on #1527
Yes it may be a little unsuitable.
I open the issue here because I see the fixes made by the developers who are criu contributors https://github.com/moby/moby/issues/37344#issuecomment-402239185
I think the guys may tell me something about this not the moby team.

[2021-06-25 13:03] Snorch commented on #747
@mihalicyn  Prepared a fix for it to iproute, see: https://lore.kernel.org/netdev/20210622144434.27129-1-alexander.mikhalitsyn@virtuozzo.com/T/#u

[2021-06-26 06:20] avagin commented on #1510
Looks like a process exited between pre-dump-s.

[2021-06-27 19:24] ZeyadYasser opened #1530 "zdtm: netns_lock test unexpected CI behavior"
I created a test for network internal locking which was recently merged: https://github.com/checkpoint-restore/criu/pull/1465

For some reason this test doesn't always pass on CentOS7:
- This is running and failing https://api.cirrus-ci.com/v1/task/6633582350303232/logs/build.log
- Here I just reran the test and it passed https://api.cirrus-ci.com/v1/task/6302001949573120/logs/build.log

Also here

[2021-06-28 05:33] adrianreber commented on #1530
Thanks for opening the ticket to track this. I also saw this and was confused why it fails sometimes. Good that you are aware of it.

[2021-06-28 12:41] ZeyadYasser commented on #1530
@adrianreber  I think I figured out the cause of random failure in CentOS7.

I believe this is caused by a race condition where the following execution flow takes place:
1. ```--post-start``` hook starts just after the test (both are run in parallel) https://github.com/checkpoint-restore/criu/blob/98186981d9eb430e39da3ee692e41ccdcfa67bff/test/zdtm.py#L426
2. ```--post-start``` hook calls ```ip net

[2021-06-28 12:53] adrianreber commented on #1530
Probably mentioning the obvious here, but a VM is probably your easiest solution.

[2021-06-28 17:51] rst0git commented on #1530
@ZeyadYasser I think we could use `test_wait_pre_dump()` to fix this issue:

[code]

[2021-06-28 18:22] rst0git commented on #1530
@ZeyadYasser I think we could use something like the following to fix this issue:
[code]

[2021-06-29 06:15] adrianreber commented on #1530
Just saw a failure on non CentOS 7

https://app.circleci.com/pipelines/github/checkpoint-restore/criu/362/workflows/d3ed193f-617e-44ed-8a91-b3a48a66e9b4/jobs/726

[2021-06-30 12:03] Snorch commented on #1510
Reproduces on my machine:

[code]

Will investigate it.

[2021-07-01 06:24] geminijun opened #1533 "Cannot checkpoint anonymous hugepages"
**Description**
Tried to checkpoint a program using anonymous hugepages, got error "Can't lookup mount=16 for fd=-3 path=/anon_hugepage (deleted)"

**Steps to reproduce the issue:**
1. Wrote a program using anonymous hugepage, `mmap(NULL, 134217728, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_ANONYMOUS|MAP_HUGETLB, -1, 0)` and run it on a system enabled huge page.
2. CRIU checkpoint will be failed.

**D

[2021-07-01 06:25] geminijun commented on #1533
Hi @Snorch , do you have any idea about this?

[2021-07-01 16:07] Snorch commented on #1510
There is no such pagemap-shmem in previous images at the moment of failure:
[code]
Though /proc/pid/maps content does not change.

Stack where we fail:

[code]

[2021-07-02 07:29] Snorch commented on #1510
Here is a helpful improvement to easier debug predumps in zdtm: https://github.com/checkpoint-restore/criu/pull/1536

[2021-07-02 11:17] Snorch commented on #1533
Looks like MAP_HUGETLB mappings are not supported:

We don't even have a zdtm test for it, but adding this hunk to maps01:

[code]

I can reproduce your problem.

Note: On fedora34 I also needed to enable hugetlbfs via `echo 20 > /proc/sys/vm/nr_hugepages` first.

[2021-07-04 15:16] ryuujo1573 opened #1538 "[Request] Is there any way to realize the C/R function on Windows?"
Thanks!  <3

[2021-07-04 20:44] rst0git commented on #1538
Yes, but not with CRIU. There two ancient papers describing how process checkpoint/restore could work on Windows:
- [Winckp: a transparent checkpointing and rollback recovery tool for Windows NT applications](https://ieeexplore.ieee.org/document/781053)
- [NT-SwiFT: software implemented fault tolerance on windows NT](https://dl.acm.org/doi/abs/10.1016/S0164-1212%2802%2900154-1)

[2021-07-05 08:29] zzyyrr opened #1544 "[Request] Is there any way to support socketCAN?"
**Description**
I want to use CRIU to checkpoint a program which uses VCAN or CAN to receive CAN messages. But the CRIU says the socket is unknown.  I wonder if the CRIU supports CAN or what command should I use? Thank you!

**Steps to reproduce the issue:**
1. I installed can-utils on Ubuntu 20.04.
[code]
2. I wrote a program:
can_receive.c:

[code]

3. Run the program and get the pid;
4.
[code]

[2021-07-05 08:33] adrianreber commented on #1544
There is no support for CAN sockets in CRIU currently. Someone would need to implement it.

[2021-07-05 09:26] adrianreber commented on #1544
@zzyyrr Can we close this issue?

[2021-07-05 09:47] #1530 closed

[2021-07-05 10:00] zzyyrr commented on #1544
OK, sure.

[2021-07-05 10:00] #1544 closed

[2021-07-06 09:31] Snorch commented on #1510
In pre_dump_one_task() we call collect_mappings() with argument dump_file == NULL. This means that the lack of this (pagemap-shmem for memfd) image in parent pre-dump directories is expected.

We have three options:

1) We can rework the code so that iterative memory migration for such file-shmem-mappings works and error would go away.
2) We can suppress this error, but I don't think that it worth

[2021-07-07 09:29] zouyonghao commented on #392
I also got this error with a program compiled with ASan and it is successfully checkpointed without ASan.

[2021-07-07 12:32] adrianreber commented on #1538
@ryuujo1573 can we close this ticket?

[2021-07-08 02:27] LiuChangFreeman commented on #1502
This feature has just been supported by:
[code]

[2021-07-08 02:27] #1502 closed

[2021-07-08 02:46] LiuChangFreeman opened #1547 "Got different performance when restoring a group of tasks from the same checkpoint"
**Description**
I'm trying to restore 8 different task at the same time which use the same checkpoint.
However, the 8th costs almost 8-times time to boot up than the first one(**the worst case**).
This machine has 8 physical cores and I think every task should behavior almost the same.
I guess there is something about the lock.
So could anyone tell me more about why it comes to this result?
[code]

[2021-07-08 08:59] adrianreber commented on #1527
Closing as it is CRIU unrelated.

[2021-07-08 08:59] #1527 closed

[2021-07-08 14:04] lzmihoubi opened #1548 "Checkpoint/restore a docker container in a new container fails"
**Description**

I am trying to checkpoint and restore a container in another new container. I followed the tutorial in https://criu.org/Docker, at first I had a few errors (like custom checkpointdir not supported), after some research, I fixed them and finally got to execute all the steps (from container creation to restoration in a new container) without errors. But when I check the logs, the pr

[2021-07-08 14:07] adrianreber commented on #1548
Can you try it with Podman. Podman's checkpoint restore support works much better: https://criu.org/Podman

[2021-07-08 14:12] lzmihoubi commented on #1548
I am obligated to use docker. I'm working on container migration. The container that I need to migrate is a third-party piece of software that I need in my system. I am currently just playing around with the existing tutorials to get comfortable with criu in order to use it later on in the migration. So I believe I can't use podman.

[2021-07-08 14:15] adrianreber commented on #1548
You should really try Podman. It can be a drop in replacement for Docker. If that is not possible you have to take your bug report
to Docker. We know that it does not always work reliably but that is not something we cannot fix here.

Especially if you are working on container migration. Try Podman.

[2021-07-08 14:24] lzmihoubi commented on #1548
@adrianreber Thank you so much!!
 What about runc? is it a good alternative?

[2021-07-08 14:25] adrianreber commented on #1548
Docker and Podman both use runc, so runc should just work, yes.

[2021-07-12 02:40] wangtianxia-sjtu opened #1551 "A question on criu implementation detail"
**Description**

I find that during the criu restoration phase, CRIU will eagerly read the page contents into the memory, using **sys_preadv**. Here is the [code](https://github.com/checkpoint-restore/criu/blob/73d76d45c16f95d3f00d0331265ea04d6e54c7be/criu/pie/restorer.c#L1569). This is a major overhead in the restoration phase (in my test, 2.2ms in 4.7ms, the restoration of a simple python proces

[2021-07-12 06:05] adrianreber commented on #1551
What do you exactly mean with 'using linux's page fault handler'. It is not clear to me. Can you go a bit more into details how you think this could be done differently?

[2021-07-12 06:54] wangtianxia-sjtu commented on #1551
Thank you for your reply!

I think that we can use the mmap syscall to map the specific image file range into the memory instead of eagerly reading the image contents into memory using sys_preadv.

mmap syscall will not do the file read operation immediately, thus decreasing the restore latency. The actual read operation happens in the linux page fault handler.

[2021-07-12 07:32] adrianreber commented on #1551
I cannot answer that, sorry. It was introduced with this commit: https://github.com/checkpoint-restore/criu/commit/91388fce03f8dde9eca6a3cb7c9afb6bc0fbdfcb . Maybe the commit message helps you.

Maybe also @xemul and @avagin can give you answers.

[2021-07-12 10:38] rppt commented on #1551
We cannot use `mmap` with actual file parameter to map an image file to a memory region of the restored process because this region is an anonymous  memory from the restored process point of view.

It is possible to restore anonymous memory on demand with `--lazy-pages` option, but this option has it own cost because the only way to hook up into the Linux page fault processing is userfaultfd that

[2021-07-12 11:20] wangtianxia-sjtu commented on #1551
Thank you for your generous replies! Now I have a deeper understanding on criu memory restoration.

[2021-07-12 11:20] #1551 closed

[2021-07-12 22:16] kolyshkin opened #1552 "v3.15 tag is not "annotated""
I have noticed this:

[code]

The GitID should have v3.15 but it still shows v3.14.

This happens because `git describe` (used to generate GitID) only uses annotated tags by default, and v3.15 tag is not an annotated one:

[code]

Here's an excerpt from `git tag` man page:

<blockquote>

       Tag objects (created with -a, -s, or -u) are called "annotated" tags; they contain a
       creation dat

[2021-07-12 22:19] kolyshkin commented on #1552
Yet another alternative is to release `v3.15.1` with the correct tag at this point.

[2021-07-12 22:26] kolyshkin commented on #1552
Apparently (https://github.com/PHPMailer/PHPMailer/issues/752#issuecomment-226418384) tags created via github are not annotated.

The workaround is to tag via the command line, push, and "draft a release" on github. 🤭

[2021-07-13 03:08] zouyonghao opened #1553 "restore failed with file /proc/[pid]/task/[tid]"
**Description**

It seems criu can not restore a program opening `/proc/[pid]/task/[tid]`

[code]

**Steps to reproduce the issue:**
1. dump a process
2. restore it

[2021-07-13 07:05] adrianreber commented on #1553
I think threads are created very late in the restore. Restoring a process like this will probably not work.

[2021-07-17 12:07] ryuujo1573 commented on #1538
Thanks for your reply!

[2021-07-17 12:07] #1538 closed

[2021-07-19 06:21] avagin commented on #1507
@rafaelgieschke I agree that this looks like a kernel bug. Would you like to send a kernel fix?

[2021-07-19 06:24] #1524 closed

[2021-07-19 06:31] cyrillos commented on #1507
Could you please give the patch a shot?
https://lore.kernel.org/lkml/20210121221207.GB2174@grain/

[2021-07-19 06:37] avagin commented on #1527
@john-lark It was my comment, but it was three years about and I totally lost the context.

[2021-07-19 06:43] #1548 closed

[2021-07-22 02:56] zzyyrr commented on #952
Hi, I got the same issue, do you have any solutions? Thanks!

[2021-07-22 03:52] liusdu opened #1558 "Failure due to -EAGAIN of syscall vmsplice"
**Description**
I encounter dump failure due to EAGAIN of syscall vmsplice, message is as following.

[code]

**Steps to reproduce the issue:**
I  encountered this failure only once. So I have no idea to reproduce it.
After digging it for a while.   I found  vmspace with flag(SPLICE_F_NONBLOCK) may return -EAGAIN when pipe is full(https://elixir.bootlin.com/linux/latest/source/fs/splice.c#L996)

*

[2021-07-22 09:37] ZeyadYasser opened #1559 "protobuf-c v1.4.0 breaks CRIU"
**Description**

Latest protobuf c compiler breaks CRIU because they removed leading underscores from structs in 1.4.0.
https://github.com/protobuf-c/protobuf-c/pull/430
https://github.com/protobuf-c/protobuf-c/blob/master/ChangeLog#L14

**Steps to reproduce the issue:**
1. Build latest protoc-c release: https://github.com/protobuf-c/protobuf-c/releases/tag/v1.4.0.
2. Replace existing ```protoc-ge

[2021-07-22 09:38] ZeyadYasser opened #1560 "protobuf-c v1.4.0 breaks CRIU's build"
**Description**

Latest protobuf c compiler breaks CRIU because they removed leading underscores from structs in 1.4.0.
https://github.com/protobuf-c/protobuf-c/pull/430
https://github.com/protobuf-c/protobuf-c/blob/master/ChangeLog#L14

**Steps to reproduce the issue:**
1. Build latest protoc-c release: https://github.com/protobuf-c/protobuf-c/releases/tag/v1.4.0.
2. Replace existing ```protoc-ge

[2021-07-22 09:45] #1559 closed

[2021-07-25 09:09] ZeyadYasser commented on #1560
The issue started to appear in the Fedora Rawhide tests as well.

[2021-07-25 09:51] rst0git commented on #1560
Adrian has updated the Fedora 35 package to [protobuf-c 1.4.0](https://src.fedoraproject.org/rpms/protobuf-c).

[2021-07-25 11:46] adrianreber commented on #1560
Yes after @ZeyadYasser  mentioned the new release I updated the Fedora package. Now I might to need to Backport the fix to fedora's CRIU.

[2021-07-25 13:29] #1560 closed

[2021-07-26 11:12] Snorch commented on #1187
Hi, all!

[code]

First thing I'd like to mention is that this error does not say anything about overlayfs. This error can be about any other virtual FS which does not support resolving file handles. You should check on your node which device is 0x48(72) to be sure... (note those virtual device numbers change each time, so I advice you to check not long after the criu error, you would need to `gre

[2021-08-02 05:05] Srinidhi2301 opened #1569 "CRIU installation fails on ubuntu 18.04"
i used sudo apt-get install -y criu
and did  sudo criu check

i repeatedly keep getting this error

'''
Warn  (criu/autofs.c:79): Failed to find pipe_ino option (old kernel?)
Warn  (criu/libnetlink.c:54): ERROR -2 reported by netlink
Error (criu/libnetlink.c:26): ERROR -2 reported by netlink (No such file or directory)
Error (criu/libnetlink.c:26): ERROR -2 reported by netlink (No such file or dir

[2021-08-02 05:07] Srinidhi2301 commented on #1569
Could you please help with this @adrianreber

[2021-08-02 05:36] adrianreber commented on #1569
Why are you mentioning Docker?

Are you running CRIU as root?

[2021-08-02 06:16] Srinidhi2301 commented on #1569
Thanks for your response.
Yes . I am running it as a root

[2021-08-02 06:31] adrianreber commented on #1569
And why are you mentioning Docker?

[2021-08-02 06:45] Srinidhi2301 commented on #1569
Sorry it was my mistake. i should have just mentioned about the kernel version..

The current stste of the error shows:

~/sri/criu/criu-3.11$ **criu check**

Warn  (criu/kerndat.c:659): Can't load /run/criu.kdat
Error (criu/sockets.c:132): Diag module missing (-2)
Error (criu/sockets.c:132): Diag module missing (-2)
Error (criu/sockets.c:132): Diag module missing (-2)
Error (criu/util.c:714): exi

[2021-08-02 06:48] adrianreber commented on #1569
It seems you are running in some kind of restricted environment. What kind of system are you using?

[2021-08-03 07:15] Srinidhi2301 commented on #1569
**ARM 64 Arch**

$ uname -r
4.9.140-tegra

$ lsb_release -a
Distributor ID : Ubuntu
Description:   : Ubuntu 18.04.3 LTS
Release:          : 18.04
Codename:     :  bionic

Also could you please tell me if CRIU will be supported for my environment?

thanks

[2021-08-03 07:54] adrianreber commented on #1569
You really should have included this information from the beginning. The kernel sounds like a vendor kernel and not an official Ubuntu kernel. Not sure what the vendor configured but it seems to be missing many options required for CRIU.

Anyway, in theory your hardware should work with CRIU. Maybe you can recompile the kernel and enable the necessary options for CRIU: https://criu.org/Linux_kerne

[2021-08-03 12:55] zouyonghao commented on #1533
Any updates for this?

[2021-08-03 13:23] Srinidhi2301 commented on #1569
Thanks for your reply.
I recompiled the kernel by enabling the necessary configs. But it shows the same error. And my hardware is NVIDIA Jetson Xavier where is try to perform check point of docker containers and migrate it.

[2021-08-03 13:25] adrianreber commented on #1569
Strange. If the options are enabled and if you are sure you booted the new kernel, it should work. What does uname -a say?

[2021-08-03 22:11] buck2202 commented on #860
update for checkpoint creation on google cloud images:

I ran
[code]
and confirmed a zero exit code

base image | kernel | working?
-|-|-
18.04 server LTS (hwe)|5.4.0-1049-gcp #53~18.04.1-Ubuntu SMP|**yes**
20.04 server LTS|5.8.0-1038-gcp #40~20.04.1-Ubuntu SMP|**yes**

[2021-08-04 07:47] adrianreber commented on #860
Thanks everyone for working on fixes and checking the state of the kernel. Closing this now as it seems to be fixed in Ubuntu.

[2021-08-04 08:11] Snorch commented on #1533
I believe it's a new feature.

One would need to implement support of MAP_HUGETLB, most likely including:
1) skip mount lookup for MAP_HUGETLB mappings
2) TODO in is_memfd should be done
3) and probably something more, it's hard to say until you actually do it =)

[2021-08-12 08:40] Srinidhi2301 commented on #1569
Hello,  I tried and rebuilt the new kernel successfully now. I could use the checkpointing functionality now. Thank you for your guidance.

Just one think i want to clarify now. does CRIU support checkpointing of GPU enabled docker containers which uses CUDA.

When i referred to the previous discussions

 --> https://github.com/checkpoint-restore/criu/issues/534
 --> https://github.com/NVIDIA/nvid

[2021-08-12 10:38] rst0git commented on #1569
@Srinidhi2301 There is a CRIU plug-in for AMD GPUs currently in development (https://github.com/checkpoint-restore/criu/pull/1556 and https://github.com/checkpoint-restore/criu/pull/1557), but CRIU doesn't have out-of-the box support for Nvidia GPUs.

This could be implemented as a proxy process described in [this paper](https://dl.acm.org/doi/abs/10.1145/3342195.3387555).

[2021-08-15 17:38] Srinidhi2301 commented on #1569
Thank you so much for your valuable information

[2021-08-17 05:38] Srinidhi2301 commented on #1569
@rst0git
Hello,
After recompiling the kernel with enabling all these options,

CONFIG_CHECKPOINT_RESTORE=y
CONFIG_NAMESPACES=y
CONFIG_UTS_NS=y
CONFIG_IPC_NS=y
CONFIG_SYSVIPC_SYSCTL=y
CONFIG_PID_NS=y
CONFIG_NET_NS=y
CONFIG_FHANDLE=y
CONFIG_EVENTFD=y
CONFIG_EPOLL=y
Networking support
CONFIG_UNIX_DIAG=y
CONFIG_INET_DIAG=y
CONFIG_INET_UDP_DIAG=y
CONFIG_PACKET_DIAG=y
CONFIG_NETLINK_DIAG=y
CONFIG_NETFIL

[2021-08-19 03:30] Srinidhi2301 opened #1584 "docker start from the checkpoint image fails"
I simply try to checkpoint a simple busybox container as given in the example criu page. But starting a container from checkpointed image fails. It again starts counting from first.

$ docker run -d --name looper --security-opt seccomp:unconfined busybox /bin/sh -c 'i=0; while true; do echo $i; i=$(expr $i + 1); sleep 15; done'
236544fc063dfa3f188f604c4276333e828a98c4d72a01bd8a6db661ea2bb9fa

$ do

[2021-08-19 04:33] muxi opened #1585 "CRIU service issue with systemd and SELinux"
We met some problem when starting the CRIU rpc service with systemd in an SELinux environment. Hope to get some help here regarding how to make it work.

We start CRIU rpc service as a systemd service. When it dumps a process, the SELinux label is dumped as the lsm_profile in the image, which is usually `unconfined_u:unconfined_r:unconfined_t:s0-s0:c0.c1023` for processes started by our shell. Whe

[2021-08-19 06:35] adrianreber commented on #1585
First of all the RPC service is not something that is recommended. There have been security concerns making it available.

The SELinux problem you are seeing is also something we see in certain CI systems. If the CI system is running as a service we see exactly the same errors and do `setenforce 0`.

When we discussed this some years ago there was the idea that the boolean `unconfined_dyntrans_all

[2021-08-19 06:36] adrianreber commented on #1585
Also see https://github.com/fedora-selinux/selinux-policy/commit/2d537cabbb2df614ea598ac20873c653cbf271a8

[2021-08-19 06:38] adrianreber commented on #1584
This is a docker bug. As far as I know checkpoint/restore is not maintained actively in docker. It breaks sometimes until someone reports it upstream.

This is not a CRIU problem. I guess updating to a newer version of docker should help. Or try Podman.

[2021-08-19 06:38] #1584 closed

[2021-08-19 10:00] rst0git commented on #1584
@SaiedKazemi This problem has been discussed previously in https://github.com/checkpoint-restore/criu/issues/1365, https://github.com/checkpoint-restore/criu/issues/1223, and https://github.com/checkpoint-restore/criu/issues/1378. You can try to update your [containerd](https://github.com/containerd/containerd/releases) version.

In CI we currently use the latest release from GitHub.
https://githu

[2021-08-19 13:03] Srinidhi2301 commented on #1584
Thank you so much for your response. @rst0git

currently, I am using,
A custom kernel on ubuntu 18.04
Architecture: aarch64
kubernetes version - 1.18.3-00

$ docker --version
Docker version 19.03.6

$ containerd --version
containerd github.com/containerd/containerd 1.3.3-0ubuntu1~18.04.2

Default Runtime: nvidia.

I will try to update my containerd version.

[2021-08-19 16:50] muxi commented on #1585
Thank you for the information, Adrian. Yes we tried `unconfined_dyntrans_all` and sadly it did not work. We also tried writing our own policy to allow the dyntransition. That works, but these policy rules are something we need to add on our users' machines. We were not quite sure if it'll break any of our users' security assumption by allowing transition from `unconfined_service_t` to `unconfined_

[2021-08-19 16:58] adrianreber commented on #1585
What distribution are you using? Maybe it would make sense to get the necessary policies from your distribution. Maybe with a boolean also? Maybe it would make sense to figure out why the existing Dyn transition boolean does not work.

[2021-08-19 17:01] adrianreber commented on #1585
But you definitely need a policy to allow dyn transitions.

[2021-08-19 17:11] muxi commented on #1585
We use CentOS 8. I have been checking its documentation to find what's available options.

The doc of unconfined_dyntrans_all says it "allow a unconfined user to dynamically transition to a new context using setcon", so I have two suspicion on why the reason the boolean is not working: 1) we are trying to dyntransit from `system_u`, while the boolean only allows the unconfined user to do transitio

[2021-08-19 17:40] adrianreber commented on #1585
When we introduced this the idea was to enable exactly what you are looking for. I think it might have worked at some point. Especially as it is part of our CI:

https://github.com/checkpoint-restore/criu/blob/criu-dev/test/zdtm/static/selinux00.hook

You should open a CentOS bug report. Or better verify if you see the same problem on latest Fedora.

[2021-08-19 22:43] leomem opened #1586 "CRIU dump with process running on nfs share mounted with root_squash option."
When I use criu to dump a process running on a nfs share mounted with root-squash option as non-root user, dumping fails no matter whether criu runs as root or that user. The same process can be dumped if it runs from local disk with the same user.

When using criu to dump the process as root:
[code]
When a nfs share is mounted with root-squash option, user root is mapped to nfsnobody and does not

[2021-08-23 13:12] Snorch commented on #1547
This task looks like mission-impossible for now =)

1. We need to know _exactly_ how do you do the restore, full criu command line with arguments, criu version, container runtime related info, what is the application you dump, how it was setup.

2. Please provide full criu logs for all 8 restores, this might help if criu hangs on anything.

3. If you have a reproduce, probably you can script it an

[2021-08-23 19:05] Avijit009 opened #1589 "CRIU Pre-Dump failing. It's showing a Waring."
CRIU Pre-Dump failing. It's showing some Waring. I am not able to understand why this one is showing like this. Please help me out to get out of this problem.
after running  **"criu pre-dump --tree <pid> --images-dir <path-to-existing-directory-A>"** this command its showing
exact code I have executed **"criu pre-dump --tree 46292 --images-dir /home/mypc/Desktop/criu/checkpoint"**
**Warn  (compel/

[2021-08-24 10:00] Snorch commented on #1586
Didn't check this, but probably this would help:
[code]

We try to open with O_RDONLY and you probably don't have read access to the file. But we actually needed this O_RDONLY for special files (sockets and aio rings) only which is probably not your case and everything else would just work.

[2021-08-24 13:38] Snorch commented on #1589
Some times when criu dumps a process it can stop the process in the middle of syscall, e.g. in the middle of sys_nanosleep and criu just makes this process to receive -EINTR return value from this syscall after restore.

Normally all well-coded applications check return values of syscalls and for blocking syscalls check for -EINTR and restart the syscall when needed. But badly written code can bre

[2021-08-24 20:47] tatref opened #1592 "Unexpected error from clone3 on UEK kernel on Oracle Linux 8"
**Description**
Hi,

First of, I'm not sure if this is a bug with criu, or an issue with the default OS parameters.

The issue is: I can't run criu with the UEK kernel on Oracle Linux 8.

Oracle Linux provides 2 kernels:
1. RHCK: a Redhat compatible kernel (version 4.18.0), this one works flawlessly
2. UEK: an Oracle custom kernel that is more up to date (5.4.17): this one won't run criu. It is al

[2021-08-26 11:05] Srinidhi2301 opened #1594 "missing files inside checkpointed image"
hello,

i am trying to implement the basic checkpoint/restore of looper container using busybox image mentioned in many examples.

i could checkpoint the container successfully but restoring the container starts again from the first leaving the checkpointed image.

on entering into the checkpointed image, i found that there are many missing files such as

1) config.json
2) criu.work
3) eventfd.img

[2021-08-27 08:49] Snorch opened #1595 "ci: detected problem with pthread_timer test"
https://app.circleci.com/pipelines/github/checkpoint-restore/criu/540/workflows/a3bd0651-860e-4f0d-b1b3-aeb55464c2c7/jobs/1090

[code]

[2021-08-30 18:51] alidhamieh opened #1598 "Redirection for already established TCP connection after Podman container live migration"
**Description**

I did Podman container live migration to another machine using Podman checkpoint/restore with "--tcp-established" argument. My question: is there a way to redirect an opened TCP connection to the new destination machine? I tested iptables forwarding and ssh tunneling but established tcp client hanged when i installed the forwarding rules. I want to have seamless live migration so

[2021-08-30 19:59] Avijit009 commented on #1589
@Snorch Thank You

[2021-08-30 21:46] adrianreber commented on #1598
Can you add examples of IP addresses of the client, the container, the gateway before and after the migration.

[2021-08-30 23:48] alidhamieh commented on #1598
The client was on ip1. The source container was on the same machine as the gateway and has internal IP of 10.88.0.67. The destination of the container was on a different machine than the client and the gateway and it has an internal IP of 10.88.0.67 (same as the source container). Does this answer the question?

[2021-08-31 07:39] adrianreber commented on #1598
What IP does the gateway have? So the client with *ip1* talks to the gateway with which IP?

[2021-08-31 13:14] anson-lo opened #1600 "Improper locking bugs in clone_fs.c"
Hi, I found two improper locking bugs in the below codes due to the unreleased locks `pthread_mutex_lock(&init_lock);` and `pthread_mutex_lock(&exit_lock);`. Thank you for your checking.

[code]

https://github.com/checkpoint-restore/criu/blob/a315774e11b4da1eb36446ae996eac1695a129a6/test/zdtm/static/clone_fs.c#L77-L95

Best,

[2021-08-31 13:15] alidhamieh commented on #1598
The source container and the gateway are on the same physical machine (different than the client's physical machine). The gateway has public IP 35.x.x.x different than the client ip1 and the source container internal IP 10.88.0.67. The source container, gateway and the destination container are on Google Cloud. The client is on my local machine.

[2021-08-31 13:16] alidhamieh commented on #1598
The source container and the gateway are on the same physical machine (different than the client's physical machine). The gateway has public IP 35.x.x.x different than the client ip1 and the source container internal IP 10.88.0.67. The source container, gateway and the destination container are on Google Cloud. The client is on my local machine.

[2021-08-31 13:17] anson-lo opened #1601 "Improper locking bugs in clone_fs.c sigpending.c"
Hi, I found two improper locking bugs in the below codes due to the unreleased locks pthread_mutex_lock(&init_lock); and pthread_mutex_lock(&exit_lock);. Thank you for your checking.

[code]

https://github.com/checkpoint-restore/criu/blob/a315774e11b4da1eb36446ae996eac1695a129a6/test/zdtm/static/sigpending.c#L209-L290

[2021-08-31 13:20] adrianreber commented on #1598
Okay. Does the gateway IP change during the migration? I understand it in such a way that you migrate a container from host1 to to host2. And the gateway is on host1 and host2.

I am sorry, but I still do not understand your setup. Can you give example IP addresses of all involved parts. Gateway and client. What does change?

[2021-08-31 13:21] adrianreber commented on #1600
Do you see any problems running those tests?

[2021-08-31 13:23] anson-lo opened #1602 "Improper locking bugs in seccomp_filter_tsync.c"
Hi, I found two improper locking bugs in the below codes due to the unreleased lock `pthread_mutex_lock(&getpid_wait)`.  First, the lock is not released in the function `main`? Also, the lock should be released before the program exit. Thank you for your checking.

https://github.com/checkpoint-restore/criu/blob/a315774e11b4da1eb36446ae996eac1695a129a6/test/zdtm/static/seccomp_filter_tsync.c#L141-

[2021-08-31 13:25] anson-lo commented on #1600
@adrianreber  Hi, the bugs are reported by our static code analyzer. They are small programming errors since they are located in the tests.

[2021-08-31 13:52] alidhamieh commented on #1598
No the gateway ip does not change during migration. No the gateway is on host1 only (not on host2).

[
![setup](https://user-images.githubusercontent.com/66278376/131514933-b7763121-3a58-45f3-9b71-f29120107d5d.png)
](url)

[2021-08-31 14:02] adrianreber commented on #1598
You migrate the container to `Destination of migration` and client still talks to the gateway, right?

Can you share a tcpdump just before the migration and after the migration, so that we can see how your network traffic is going to the `Destination of migration`.

[2021-08-31 15:55] alidhamieh commented on #1598
Yes, I migrate the container to Destination of migration and client still talks to the gateway. I did tcpdump for that before but did not save it. There are two cases: (1) client connects after migration but to the gateway (not to the destination of migration) and it was able to receive the data from the gateway while the gateway was getting the data from the destination of migration. The packet s

[2021-08-31 18:38] alidhamieh commented on #1598
Do you think if we add FORWARD rule with --cstate ESTBALISHED, it may work?

[2021-09-01 12:15] minhbq-99 commented on #1600
I don't think it is a bug as the whole process (including thread `thread_func`) will exit in case of error so there is no deadlock here.

[2021-09-01 12:24] anson-lo commented on #1600
@minhbq-99 Hi, thank you very much for your reply. They are indeed not harmful bugs since the program exits and all of the program resources will be cleaned up by some common OS( other OS systems (e.g., embedded systems) do not automatically free some resources at the exit).

On the other hand, there is no harm to write unlock statement before the program exit for better resource management and fo

[2021-09-10 06:32] Srinidhi2301 commented on #1584
@rst0git

Hello, I am currently working on ARM64 based machine(NVIDIA Jetson). Bionic version.
Could you please confirm if docker checkpoint restore works properly for ARM64 based machines?

I could not find any previous issues related to arm64.

Initially i tried with the below mentioned docker version
https://launchpad.net/ubuntu/+source/docker.io/19.03.6-0ubuntu1~18.04.3/+build/20703365

19.03.

[2021-09-10 06:43] Srinidhi2301 commented on #1584
Also , adding you the versions

xavier2@xavier2:~$ dpkg -l | grep containerd
rc  containerd                                    1.3.3-0ubuntu1~18.04.2                 arm64        daemon to control runC
ii  containerd.io                                 1.2.0~rc.2-1                                     arm64        An open and reliable container runtime

xavier2@xavier2:~$ dpkg -l | grep docker
ii  d

[2021-09-10 11:39] Guru-arnav opened #1610 "Error response from daemon: OCI runtime restore failed: criu failed: type NOTIFY errno 0 log file: restore.log: unknown"
Hello community,

I try to checkpoint and restore the docker containers with simple looper example and i face the following error.
Not sure about this and can anybody help me find solution for this problem.

=> docker run --name looper --security-opt seccomp:unconfined busybox /bin/sh -c 'i=0; while true; do echo $i; i=$(expr $i + 1); sleep 5; done'

=> docker checkpoint create looper checkpoint1

[2021-09-10 11:44] adrianreber commented on #1610
We get many reports that checkpoint/restore in Docker is not working but there is not much we can do about it. You need to talk to Docker.

We are using Docker in CI and it works 50% of the time https://github.com/checkpoint-restore/criu/blob/criu-dev/scripts/ci/docker-test.sh

My recommendation is to try out Podman. Podman should run your container just as Docker and we know that checkpoint/resto

[2021-09-10 12:26] rst0git commented on #1610
Hi @Guru-arnav,

Could you please try to upgrade your containerd version to the latest release? This issue has been discussed in https://github.com/checkpoint-restore/criu/issues/1365

Also, note that the Ubuntu 18.04 kernel doesn't have a fix for a problem overlayfs that was discussed in https://github.com/checkpoint-restore/criu/issues/1316.
You can add ` "storage-driver": "vfs"` in `/etc/docker

[2021-09-14 02:07] Guru-arnav commented on #1610
hello community people,

Thanks @adrianreber @rst0git for your suggestions.

=> I updated my containerd version to the latest which is 1.4.9 version as in docker documentation for arm64.
=> I changed "storage-driver": "vfs",

But there is no change, i could notice.

The checkpoint files are getting created. When i give docker start using the checkpointed files, the container does not start and it

[2021-09-17 15:21] adrianreber commented on #1569
@Srinidhi2301 I am closing this. Please re-open if you still have problems.

[2021-09-17 15:21] #1569 closed

[2021-09-18 19:14] dilyanpalauzov opened #1614 "3.15 - Compiling criu/aio.o fails with ` initialization of ‘MmEntry *’ from incompatible pointer type ‘struct _MmEntry *’`"
I try to compile criu-3.15 by myself.  Whenever `make` wanted something, I have installed it.

Now `make V=1` fails with

[code]
I use gcc 11.2.1 20210808.

[2021-09-18 19:17] adrianreber commented on #1614
This should be fixed by https://github.com/checkpoint-restore/criu/pull/1561

[2021-09-18 19:25] dilyanpalauzov commented on #1614
Would you mind releasing a new version?

[2021-09-20 08:10] rst0git commented on #1614
@dilyanpalauzov 3.16 will be released soon.

[2021-09-20 08:14] #1614 closed

[2021-09-21 15:26] #1600 closed

[2021-09-26 09:17] Avijit009 opened #1618 "Micro/Macro benchmark workloads for testing using CRIU migration."
I don't know if it is good to ask about this problem or not.

I am having a problem finding Micro/Macro benchmarking workloads. I wanted to use this workload for testing purposes.

I also need some effective sources or tutorials for container migration using CRIU (Mostly with that  Micro/Macro benchmarking workloads). I am new in this area, so I still do not know much about CRIU and containers. Ho

[2021-09-26 13:14] adrianreber commented on #1618
I would say it is good to ask :wink:

This is very vague and I am not really aware of anything specific.

I wrote a small benchmark for LXD migration three or four years ago which I used in this talk: https://archive.fosdem.org/2018/schedule/event/containers_optimized_migration/

I tried to measure the downtime of the process. But I do not have the sources anymore.

I also used different applicati

[2021-09-26 14:10] Avijit009 commented on #1618
@adrianreber Thank you very much.
I will try following what you have said.
If I need anything after that, I will post again.

[2021-09-27 07:07] Aatrox00 opened #1619 "issues in mips version"
i was able to build criu but i could not dump process. When I run criu check --all, there were no first catagory errors.
My enviroments are listed below:
cpu : loongson 3A4000
kernel 4.19.0-12-loongson-3
criu version:3.15

[2021-09-27 07:25] mihalicyn commented on #1619
Hi,

please provide dump.log and show how you issuing criu command (all arguments).

[2021-09-27 07:44] Aatrox00 commented on #1619
I issued criu like this "sudo criu/criu/criu dump --shell-job -v4 -o dump.log -t 24987 -D imgs"
[dump.log](https://github.com/checkpoint-restore/criu/files/7234305/dump.log)

[2021-09-27 10:09] adrianreber commented on #1619
According to your `dump.log` this seems to be the problem:
[code]
The mips support was done by @sunny868 (if I remember it correctly), maybe @sunny868 knows why it does not work.

[2021-09-27 10:40] mihalicyn commented on #1619
Looks like your process (pid=24987) have recieved SIGBUS signal:
[code]
It may mean that the CRIU issued unaligned access to the memory.

What's the kind of process you've been trying to dump? Do you have the same problem with any another processes that you been trying to dump? It's important for us to understand if CRIU doesn't work at all for you or you just have the problem with particular prog

[2021-09-27 10:42] rst0git commented on #1619
@Aatrox00 do you see this error CRIU 3.16 as well?

[2021-09-27 10:52] mihalicyn commented on #1619
It looks like victim process crashes here:
[code]

[2021-09-27 10:58] mihalicyn commented on #1619
@Aatrox00,
couldn't you try to revert commit ("compel: don't mmap parasite as RWX"), rebuild CRIU (please use `make clean && make` to perform full rebuild including parasite blob) and run `criu dump ...`?

[2021-09-27 11:44] Aatrox00 commented on #1619
yeah the same

[2021-09-27 11:51] Aatrox00 commented on #1619
The process i tried to dump is just a simple single threaded program. The same program works on my x86 machine. Acturally,i've
tried several different programs to dump, but none of them worked. As for providing access to the machine, since it doesn't own a public ip address, it cant be accessed through ssh.

[2021-09-27 12:11] mihalicyn commented on #1619
@Aatrox00

That's not a problem for us ;) We can setup reverse ssh tunnel from your machine to some machine controlled by CRIU devs as an option. But let's try to make some initial guess and surround the problem before taking extraordinary measures :)

I repeat my question:

[2021-09-27 12:25] Aatrox00 commented on #1619
I tried this just now. It didnt work. The dump.log is just the same as before.

[2021-09-27 12:49] mihalicyn commented on #1619
Ok then I will try to reproduce this on Qemu VM.

[2021-09-27 12:55] Aatrox00 commented on #1619
I am using Loongnix-20.mips64el.rc2(http://ftp.loongnix.cn/os/loongnix/20/mips64el/isos/)
I've also tried debian with kernel version 5.10.64

[2021-09-27 12:57] Aatrox00 commented on #1619
Thx for your help.
I am using Loongnix-20.mips64el.rc2(http://ftp.loongnix.cn/os/loongnix/20/mips64el/isos/)
I've also tried debian with kernel version 5.10.64

[2021-09-27 20:34] Avijit009 commented on #1618
@adrianreber Will, you, please suggest to me which command (not the exact command, but if you suggest me something effective, then that will be a great help for me) I should use to migrate a Process or a Group of processes or an entire container or a container with workload (for benchmarking ) from one container to another container using CRIU?

NB: I used two VM (installed in KVM/QEMU) and instal

[2021-09-27 20:39] rst0git commented on #1618
@Avijit009 Have you tried with [`podman container checkpoint <container_id>`](https://podman.io/getting-started/checkpoint.html)?

[2021-09-28 07:05] adrianreber commented on #1610
@Guru-arnav I am closing this. This is a docker problem. Please report it there. If you have any CRIU specific problems/questions please re-open or open a new issue. If you want to use checkpoint/restore with containers please try out Podman.

[2021-09-28 07:06] adrianreber commented on #1594
Closing this as it does not seem to be CRIU problem.

[2021-09-28 07:06] #1594 closed

[2021-09-28 10:35] mihalicyn commented on #1619
Hi @Aatrox00,

I've experimented with MIPS in VM on amd64. Sigh. :)

First of all, `qemu-system-mips64el -cpu Loongson-3A4000` doesn't work for me at all (it doesn't start kernel boot).

Ok,
[code]
worked for me, but CRIU compilation took about 20 minutes. I also caught:
[code]
Seems like something is totally wrong with the compel.

Perhaps it's better to move to our second plan with using hardwar

[2021-09-28 11:16] sunny868 commented on #1619
@mihalicyn @Aatrox00 Sorry, I have something else to do recently, I will check this problem as soon as possible.

[2021-09-28 11:24] Aatrox00 commented on #1619
Thanks again for your help.
I got same error messages on the Loonson 3A4000 machine.

[2021-09-28 12:41] #1592 closed

[2021-09-28 12:42] adrianreber commented on #1589
Closing as it seems solved.

[2021-09-28 12:42] #1589 closed

[2021-09-28 12:45] adrianreber commented on #1552
@kolyshkin Can this be closed? I think it works correctly for 3.16?

[2021-09-29 12:48] Avijit009 commented on #1618
@rst0git @adrianreber
I am facing a bellow error while dumping a process. It said to use shell job.

**root@vm1:/home/vm1/Desktop# criu dump --tree 6548 --images-dir /home/vm1/Desktop/chkpt --leave-stopped
Warn  (compel/arch/x86/src/lib/infect.c:340): Will restore 6548 with interrupted system call
Error (criu/tty.c:1812): tty: Found dangling tty with sid 6482 pgid 6548 (pts) on peer fd 0.
Task att

[2021-09-29 13:01] adrianreber commented on #1618
This has nothing to do with CRIU. The error message is pretty clear: failure in name resolution. You need to fix your VM setup.

[2021-09-29 13:18] Avijit009 commented on #1618
@adrianreber By mistakenly, I missed that point.
Thank you.

[2021-09-29 21:51] Avijit009 commented on #1618
@adrianreber @rst0git
After dumping a process in the source node (vm1), I copied that file into the destination node (vm2). After copying successfully while I was trying to restore, it was not working, not even showing any error.

PS: I tried to dump using --shell-jobs.
Dump files were read-only mood on source node but on destination node it has read and write both permissions. (I used scp -r <pat

[2021-09-30 05:24] adrianreber commented on #1618
Without the complete log it is hard to help. Please include the complete log.

[2021-09-30 05:30] Avijit009 commented on #1618
@adrianreber
it's worth to mention that I copied dump file from source to destination using **scp -r <path-to-images-dir> <dst>:/<path-to-images>** and the restoring failing on the destination node
(00.000150) Version: 3.16 (gitid 0)
(00.000250) Running on vm2 Linux 5.11.0-37-generic #41~20.04.2-Ubuntu SMP Fri Sep 24 09:06:38 UTC 2021 x86_64
(00.000378) Loaded kdat cache from /run/criu.kdat
(00.00

[2021-09-30 05:35] adrianreber commented on #1618
`(00.042202) 8925: Error (criu/files-reg.c:2143): Can't open file home/vm1/Desktop/test on restore: No such file or directory
`
That is your error. That file is missing.

[2021-09-30 05:40] Avijit009 commented on #1618
@adrianreber
on the destination node that test file is needed to restore?
I mean, I have written a c program (test. c) on the vm1, then dumped it and copy it to the vm2, so the c program (test. c) is not in the destination node. Now, do I need that program on the vm2 as well?

[2021-09-30 05:41] adrianreber commented on #1618
Yes, of course. All files on the filesystem need to exist in the exact same version.

[2021-09-30 05:51] Avijit009 commented on #1618
@adrianreber one more question The error showing `(00.042202) 8925: Error (criu/files-reg.c:2143): Can't open file home/vm1/Desktop/test on restore: No such file or directory` but how can I even locate vm1 on the destination side (vm2) to restore?

Using two identical VM that is installed on KVM/QEMU

[2021-09-30 07:08] adrianreber commented on #1618
You are confusing path names with hostnames.

Just because the path contains `vm1` this does not mean that the same path cannot exist on the VM named `vm2`.

You seem to be confused about very basic things which are not really CRIU related.

[2021-09-30 07:10] Avijit009 commented on #1618
@adrianreber got it. Thank you. I was really confused.

[2021-09-30 16:27] MihaelBercic commented on #1249
@ashish-billore could you perhaps help me understand how exactly did you update / replace it?

Thank you.

[2021-09-30 18:16] MihaelBercic commented on #1249
@adrianreber may i ask for some tips in regards how to obtain and replace it?

Thank you

[2021-09-30 18:19] adrianreber commented on #1249
No idea. That depends on your distribution. Just install tar so that not the one from busybox is used.

[2021-09-30 18:29] MihaelBercic commented on #1249
Okay thank you.
And we're talking about criu tar right?

I'm a little bit confused so clarification is very much appreciated.

Thank you

[2021-09-30 18:32] adrianreber commented on #1249
No. You need a version of tar. CRIU uses it to  archive mounted tmpfs. Just the default tar.

[2021-09-30 21:41] MihaelBercic commented on #1249
Thank you very very much, you helped me understand and fix a very important issue.

[2021-10-01 05:12] adrianreber commented on #1249
If you have any more questions please open a new issue and we can help you there.

[2021-10-01 06:29] Avijit009 commented on #1171
@planetA Can I have a talk with you? I already mailed you.

Sorry for this comment here.

[2021-10-01 06:32] #1602 closed

[2021-10-01 06:33] #1601 closed

[2021-10-02 12:46] kloczek opened #1623 "3.16: build fails (No rule to make target 'images/stats.pb-c.c')"
Looks like something is missing.
[code]
BTW: It would be good to add for criu some proper build framework (even using GBNU autotools).

[2021-10-02 13:02] adrianreber commented on #1623
You need to install protobuf-c-compiler

[2021-10-02 15:01] kloczek commented on #1623
OK that solved that step .. Thx.
Packagin criu found that it builds few static linbraries and there is no option to not waste time to build that
[code]
Is that linker script necessary for someting? (and why it is installed in libexec??)

[2021-10-02 15:59] adrianreber commented on #1623
I do not see those errors with https://src.fedoraproject.org/rpms/criu/blob/rawhide/f/criu.spec

Are you using a different spec file?

[2021-10-02 16:49] kloczek commented on #1623
Yes I'm not building criu for fedora.
If you are interested: here is my %build and %install sections + %files from my spec file:
[code]
Everything builds correctly despite that Fadora packager claims that LTO does not work.
Only issu is that build and install procedure buils and isntalls spattic libraries.

[2021-10-02 17:20] adrianreber commented on #1623
The static libraries and linker scripts are definitely not needed. You can remove it.

As your initially reported problem is solved. Can this be closed now?

[2021-10-02 20:47] kloczek commented on #1623
In my build infrastructure I'm building many times some packages.
Most f the cases are only just control builds to check that package still builds correctly when things around are changing. Keeping in mind I'm trying to work out my build procedure to not waste a time to build something which will be inly discarded.
Really .. best would be add to you project something GNU autotools, meson or cmake

[2021-10-03 08:01] adrianreber commented on #1623
I cannot speak for other community members, but so far we are able to build packages for CentOS, Debian, Fedora, Ubuntu without any problems. I do not see any necessity to change the build system.

[2021-10-04 18:43] #1523 closed

[2021-10-07 13:40] adiantek commented on #211
a: 10.0.0.1
b: 10.0.0.2
c: 10.0.0.3
I'm sending from A to C information "change 10.0.0.1 to 10.0.0.3". C should allow the change only if the source of this packet is A (10.0.0.1). The ability to change IP is only when the user has access to root on all three servers. TCP doesn't have a built-in packet type `redirect`/`location` like HTTP, so we must implement it by self.

Another option could be t

[2021-10-08 02:14] Aatrox00 commented on #1619
Hi @mihalicyn, how's your vacation?
It's been ten days since we  exchanged messages last time.
 I'm wondering when it's a suitable time for you to help me to debug on the hardware node?
Thanks.

[2021-10-11 08:43] #1558 closed

[2021-10-12 10:57] Avijit009 commented on #1618
Hey @adrianreber @rst0git

While I was trying podman I am getting this error.
`Error: did not receive systemd slice as cgroup parent when using systemd to manage cgroups: invalid argument`

How to solve this error?
Thank you

[2021-10-12 14:58] adrianreber commented on #1618
Where did you get the version of Podman you currently have? I am not familiar enough with Ubuntu to help here.

[2021-10-12 15:09] Avijit009 commented on #1618
Ok, I am trying.

But the problem is I am not able to uninstall the 4.0.0-dev version.
how to uninstall that completely?

[2021-10-12 15:14] mihalicyn commented on #1619
Hi @Aatrox00,
I've returned from vacation :) All fine.

Sure, I'm ready to take a look. We can contact in our Gitter https://gitter.im/save-restore/CRIU or Google Hangouts, email and so on. My e-mail is `alexander@mihalicyn.com` (google hangouts has the same address).

[2021-10-13 02:42] huangyabin001 opened #1625 "It takes too long on Restoring images"
**Description**
when restoring the images,it takes around 4s;

**Steps to reproduce the issue:**
1.dump the process by command "criu dump -v4 -t pid_xxx --leave-running -D /criu --ext-unix-sk"
2.restore the process by command "criu restore -v2 -D /criu --ext-unix-sk --restore-detached --restore-sibling"
3.then the issue could absolutely occur;

**Describe the results you received:**
the duration o

[2021-10-13 06:06] adrianreber commented on #1618
Can you start a container on the destination system? Does that work? Just `sudo podman run -dt -p 8080:80/tcp docker.io/library/httpd`

[2021-10-13 08:26] Avijit009 commented on #1618
On the client:
[code]

On the destination
[code]

Here is it. It works on both sides.

[2021-10-13 09:07] adrianreber commented on #1618
That should not matter.

[2021-10-13 09:08] adrianreber commented on #1618
That should not matter.

[2021-10-13 09:53] adrianreber commented on #1618
Docker is not involved at all. So it cannot be a docker problem.

[2021-10-13 09:55] Avijit009 commented on #1618
Ok, give me a minute I am uploading checkpoint.tar.gz file

[2021-10-13 10:16] Avijit009 commented on #1618
server@server:~/Desktop$ sudo podman --log-level debug container restore -i /tmp/checkpoint.tar.gz

[code]

With root mode

[2021-10-13 10:20] Avijit009 commented on #1618
**Source**
client@client:~/Desktop$ sudo podman images

[code]

**Destination**
server@server:~/Desktop$ sudo podman images
[code]

Output from both sides.

[2021-10-13 10:34] adrianreber commented on #1618
Probably. You found a bug in Podman. Podman remembers in its checkpoint only the name of the container image but not the ID. In your case the ID changed in the registry and thus you were using different container images. Same name, but different ID.

You basically have to ensure that the container image which Podman pulls from the registry has the same ID. This is something Podman should do for yo

[2021-10-13 10:41] Avijit009 commented on #1618
Got it.

If it was there then may be it will good for us who are noob.

One thing.
If I create a container and want to checkpoint it on the source and restore it to the destination; then do I need to upload it to the docker hub? or I can use it to checkpoint and restore that container directly?