[2020-07-30 10:22] adrianreber commented on #1154
can you also remove the user namespace:
[code]
and the sections about uidMappings and gidMappings

[2020-07-30 14:17] gitsvm commented on #1154
worked.
Thank u very much.
i didn't understand what was the problem with above configuration? knowing it, might help me resolving further issues.
and also how can i generate restore and dump log in a separate log file via runc, as i'm using --log option but it doesn't print anything.

[2020-07-30 15:32] adrianreber commented on #1154
You were bind mounting `/sys` from the host into the container. `/sys` on the host often has many more things mounted for additional features the host needs, but which are irrelevant for the container. Like `config` or `fuse`. This things are available in the host but in the container CRIU does not know where they belong (something like that), so it cannot handle it. If you mount a new `/sys` in t

[2020-07-30 21:04] gitsvm commented on #1154
i mean to say, i'm using the command
`sudo runc restore --log restore.log  restore ctr` to see restore logs and debug statements which i've inserted in criu source code.
but it doesn't print anything in the restore.log file.
Similarly what will be the command to see debug statements during checkpoint/dump in a dump.log file? I'm trying to understand the flow of the source code.

[2020-07-31 05:12] adrianreber commented on #1154
CRIU log files cannot be controlled with `runc`'s `--log` option. `--log` can only control the `runc` log file. CRIU logfile is hardcoded to workdir + dump.log or workdir + restore.log: `--work-path value            path for saving work files and logs`

[2020-07-31 07:36] gitsvm commented on #1154
i don't get it, i was asking how can i see log outputs and debugging statements( which i've inserted in the criu code as run internally uses criu) in a log file using `runc`. what would be the command exactly?

[2020-07-31 07:59] adrianreber commented on #1154
You cannot control the name of log files. Only the location with --work-path. The CRIU log files will be in the location pointed to by --work-path

[2020-07-31 08:06] gitsvm commented on #1154
and runc log files? where are they located?

[2020-07-31 08:12] #1154 closed

[2020-07-31 09:28] adrianreber commented on #1154
That is a runc question, but running `runc --log /tmp/1.log --debug checkpoint ctr` creates the log file `/tmp/1.log`.

Sounds like you got it working. Nice.

[2020-07-31 21:57] jchaosun opened #1160 "Problem of restore by RPC"
I'm trying to restore a checkpoint by RPC, and got the error message as follows,
+++++++++++++++++++++++++++++++++++++++++++++++++++++
(00.018045)  33670: Opening fdinfo-s
(00.018048)  33670: tty: open driver pts id 0xc8 index 3 (master 0 sid
11261 pgrp 33670 inherit 1)
(00.018051)  33670: Error: tty: Don't have tty to inherit session from,
aborting
(00.018060)  33670: Error: Unable to open fd=0 i

[2020-08-02 04:59] ashwani29 opened #1161 "ERRO[0000] read unixpacket @->@: EOF"
I've put a debug statement in __get_service_fd(), see below:
[code]
on running restore, it is giving the following error :
`ERRO[0000] read unixpacket @->@: EOF`

**Restore log**:

[code]

[2020-08-02 05:03] #1153 closed

[2020-08-02 12:36] botlabsDev opened #1162 "ubuntu/ppa"

[2020-08-02 12:38] #1162 closed

[2020-08-02 12:38] #1132 closed

[2020-08-02 12:44] xy815661276 opened #1163 "tun: Unable to create tun: No such file or directory"
At present, I still cannot compile CRIU into a static binary file, but I copied all the dynamic libraries linked by CRIU to the same folder. Then I copied it to my android-x86 device. Fortunately, CRIU can run successfully. But when I run `criu check`, the following error will appear.
[code]
I don’t know if it’s because of tun or what reason, the location of tun in Android devices is /dev/tun, not

[2020-08-03 04:34] avagin commented on #1161
Could you add more details? What do you run? What version of criu is used? What problem do you try to solve?

[2020-08-03 04:49] #1149 closed

[2020-08-03 10:31] DreamTexX opened #1164 "Can't open 0/pagemap on procfs: Operation not permitted"
If i try running `criu check` i get this error
```Error (criu/kerndat.c:377): Can't open 0/pagemap on procfs: Operation not permitted```
Server is running Debian 10 buster and Kernel is Linux 4.9.0

[2020-08-03 11:15] adrianreber commented on #1164
Are you running criu as root or non-root? Currently criu only works as root.

[2020-08-03 11:16] DreamTexX commented on #1164
Yeah, sorry forget telling that, i run it as root

[2020-08-03 11:17] DreamTexX commented on #1164
Also i run this on an virutal server but i dont think that this is important

[2020-08-03 12:30] adrianreber commented on #1164
I would say this is solved. Run CRIU as root and it will work. Re-open if you still have problems as root.

[2020-08-03 12:50] Liikt opened #1165 "pb2dict.py crashes in string conversion."
The file `pb2dict.py` crashes when part of the value in an image file is a byte string.
To fix this change line 360 from
[code]
to
[code]

[2020-08-03 12:56] DreamTexX commented on #1164
Tf? I told you that i run it as root, but the error is still there

[2020-08-03 12:59] adrianreber commented on #1164
Ah, misunderstood that. What kind of virtual server is that. I see something like this on one that I am using:
[code]

[2020-08-03 13:00] DreamTexX commented on #1164
`hostnamectl` is telling me that the virtualization is `openvz`

[2020-08-03 13:04] adrianreber commented on #1164
@checkpoint-restore/maintainers : Is it possible to use CRIU inside of OpenVZ?

[2020-08-03 13:09] DreamTexX commented on #1164
On kvm it is working?

[2020-08-03 13:13] adrianreber commented on #1164
Yes, on KVM it is working. I know that it does not work on LXD like provided by Travis for aarch64, ppc64le, s390x, because those are unprivileged containers. It could be that OpenVZ does not export all necessary interfaces for CRIU into your container.

The interesting thing about your question is, that CRIU was developed by OpenVZ to migrate OpenVZ containers. Never having used OpenVZ myself, I

[2020-08-03 14:26] rppt commented on #1164
@Snorch @mihalicyn
comments?

[2020-08-03 15:15] buck2202 commented on #860
The status of the launchpad bug is a bit confusing to me--the janitor reported back in May that it was fixed in 5.3/5.4, comments suggest the fix caused other issues and it was either rolled back or mistakenly not rolled back, and now the janitor reports it fixed again in 5.4 in the focal repo, but no mention of other releases with currently-active kernel support. Can anyone give any insight to th

[2020-08-03 19:25] adrianreber commented on #1165
Thanks. Would you be interested in opening a PR to fix this?

[2020-08-04 04:32] ashwani29 commented on #1161
i was having a  state of already checkpointed container. and then after putting some debugging statements in the restore process tree hierarchy to see which functions are actually called while restoring, i got this error.

[code]

command used to restore : `sudo runc restore --work-path tmp5/ ctr`

ctr itself is  container id.

[2020-08-04 07:45] adrianreber commented on #860
I am also confused by the state of that bug. Someone would need to test it. I am not using Ubuntu, so I cannot test it. For CRIU we rely on Travis and Travis is based on Ubuntu, so it would be nice to have a fixed kernel in Travis. But Travis also takes some time to update their images. Even if it fixed I cannot verify it via Travis. Additionally Travis uses the GCE variant of the Ubuntu kernel an

[2020-08-04 11:08] Snorch commented on #1164
Hi, all!

Pagemap is obviously not readable in our Virtuozzo(OpenVZ) containers:

[code]
https://src.openvz.org/projects/OVZ/repos/vzkernel/browse/fs/proc/task_mmu.c#1384

Virtuozzo did not checked or tested if CRIU can be run in Container. But If you still want to run CRIU there, you need to revert this kernel patch https://src.openvz.org/projects/OVZ/repos/vzkernel/commits/55186bf6ecfe7335821844

[2020-08-04 13:18] 0x7f454c46 commented on #1161
What was the original issue you've tried to debug with those statements?
Please, attach logs of the original problem, not something introduced with the patch.

[2020-08-04 13:54] ashwani29 commented on #1161
I've to understand the criu code. So i was putting debug statements in the functions.

[2020-08-04 14:13] ashwani29 commented on #1161
I've to understand the criu code. So i was putting debug statements in the functions.

[2020-08-04 14:26] buck2202 commented on #860
Alright. A big part of my CRIU usage is on google cloud, so I went ahead and created some clean ubuntu images with latest stable docker from the download.docker repo, and CRIU from the PPA. I tried to checkpoint a container created from giovannivenancio's MWE above just to see where things stand.
[code]

16.04/xenial installs with `4.15.0-1080-gcp #90~16.04.1-Ubuntu`. Checkpointing still works fin

[2020-08-04 15:00] avagin commented on #1161
Does criu restore work without your changes? Could you attach a patch with all your changes?

[2020-08-04 15:08] adrianreber commented on #860
Thanks a lot for trying it out! Good to know that it is still not fixed. I will re-open the launchpad bug.

As far I understood it this is related to Ubuntu's out of tree shiftfs implementation which is not part of the upstream linux kernel. That is the reason it only happens on Ubuntu.

[2020-08-04 16:05] buck2202 commented on #860
No problem at all, thanks for following up on launchpad. I'm keeping my work on xenial to avoid manually blocking kernel updates, but I'll keep these instances around to retry if I see any movement on a fix

[2020-08-05 13:10] ashwani29 commented on #1161
Yes it was working before the changes. and for now i've commented all the changes i made and step by step uncommented again and restoring the container state to see at which point it was giving the error. hence leaving some of the debugging statements commented and all works fine now.

what do you mean by this? there is no patch I made, its just `pr_debug` statements.

[2020-08-06 07:07] #1165 closed

[2020-08-06 10:10] SiyerBOBO opened #1170 "Project On Windows"
Can this project be ported to windows? I have consulted a lot of materials, but I haven't got the answer. Is there any hope of saving and restoring the running state of applications on windows?

[2020-08-06 11:17] adrianreber commented on #1170
Short answer: no

I would say it is pretty obvious that CRIU is Linux only. The first sentence on https://criu.org is "Welcome to CRIU, a project to implement checkpoint/restore functionality for Linux. "

Depends how much work you put into it :wink:. I guess it is technically doable if you have a lot of resources to put into such an project and if you have the possibility to extend Windows in cas

[2020-08-06 12:41] Snorch commented on #1161
You should probably learn git and github to at least be able to publish a patch with your changes first.

[2020-08-06 15:57] SiyerBOBO commented on #1170
Thank you for your serious reply, and I look forward to such a product in the future~❤

[2020-08-06 16:05] #1170 closed

[2020-08-06 16:49] ashwani29 commented on #1161
@Snorch  yes sure, but when did I say i want to submit a patch. I think the discussion got diverted from the topic :-).

[2020-08-06 23:10] planetA opened #1171 "Live migration of an application result in lower performance"
Hello,

I have quite a weird performance issue.

I have an MPI multiprocess application running on two nodes. The application consists of 4 processes (ranks). Each node starts with 2 processes. Soon, I live-migrate one of the processes to another node. This results in significant performance degradation that cannot be explained by the migration time. For example, if a normal run takes around 35 se

[2020-08-07 02:48] #1163 closed

[2020-08-07 02:48] xy815661276 opened #1172 "tun: Unable to create tun: No such file or directory"
At present, I still cannot compile CRIU into a static binary file, but I copied all the dynamic libraries linked by CRIU to the same folder. Then I copied it to my android-x86 device. Fortunately, CRIU can run successfully. But when I run `criu check`, the following error will appear.
[code]
I don’t know if it’s because of tun or what reason, the location of tun in Android devices is /dev/tun, not

[2020-08-07 07:50] adrianreber commented on #1171
I highly doubt that I can answer your question, but I have a couple of questions about your setup.

Which MPI implementation do you use?

So on both nodes you have the controlling MPI process and two ranks? How do the ranks communicate with each other?
Looking at Open MPI I always see the controlling process (orted) which spawns the ranks, which are doing the actual calculations.

A third node wit

[2020-08-07 07:52] adrianreber commented on #1172
Have you tried to actually do a checkpoint and restore? If you are not using tun devices and if you are not planing to use lazy migration, the errors should not be fatal.

[2020-08-07 08:59] planetA commented on #1171
I'm grateful for any help :)

I use OpenMPI 4.0.2 running on top of UCX 1.6.1, but I suspect this is actually irrelevant. The benchmark I'm using is EP (embarrassingly parallel). This benchmark has less than 5 MPI collectives at the beginning and less than 5 in the end (together with MPI_Finalise). I migrate, when there is no communication whatsoever.

Each rank runs in a container of my own runc'

[2020-08-07 09:10] Muks14x commented on #534
Hi, just wanted to ask if there have been any updates on this?

[2020-08-07 10:24] adrianreber commented on #1171
Interesting project.

How many non-hyperthreading cores are on each node?

Is only the migrated process on the destination node slower? The original processes keep on running with the same performance?

What happens if you migrate the bad performing process back to each original node?

Is Open MPI doing any pinning of the processes to a certain core to avoid that the process is scheduled on differ

[2020-08-07 10:51] planetA commented on #1171
4 cores each with two hyperthreads. I tried to disable HT by shutting down HT over sysfs, with the same result.

Yes.

Yes. And if I don't migrate at all, all processes have normal performance.

No, but CFS takes care of that quite nice. I manually tried to pin the cores, nothing really changed.

I don't think so. If I start 3 processes on single node from the beginning, I get normal performance.

[2020-08-07 11:32] planetA commented on #1171
I guess, I found a temporary fix. I add `noxsave` to linux boot command line. Now the situation after migration looks as follows:

[code]

Process `28918` is the one that has migrated, but as you can see it is basically indistinguishable from the rest. And the overall performance is within some reasonable limits now.

I'm afraid I will have to postpone this issue (unless it hits me again) for coup

[2020-08-07 13:02] adrianreber commented on #1171
Good that you found a workaround and this points even more at this being a bug which should be fixable.

[2020-08-07 14:33] #1161 closed

[2020-08-07 17:34] cyrillos commented on #1171
To be honest avx/avx2/avx512 never been tested deep enough, so there could be some bugs in criu. `noxsave` added to the command line of a kernel forces it to not use `xsave` frame (and in result some of instructions won't be available). This requires pretty deep investigation. Maybe @0x7f454c46 find some spare time to look into.

[2020-08-08 14:47] ashwani29 opened #1173 "How criu parses .img file such as pstree.img in c"
I've to collect `pid` and `ppids` from `pstree.img` file. It's information is present in `JSON` format so how `criu` parses it in c language and get the values of it's variables.

[2020-08-08 15:12] adrianreber commented on #1173
Almost all image files are using protobuf. The *proto files are compiled for the target language using the protobuf compiler. These language bindings are then used to access the image files.

[2020-08-08 15:45] ashwani29 commented on #1173
I migrated the checkpointed files from source to destination, then on the destination, I'm making a program to collect these attribute's values.
`pstree-pb-c.c`, `pstree-pb-c.h`, have comments on top that they are generated from pstree.proto, Does `pstree-pb-c.c`  will give this values?
can you give a simple pseudo like program/steps on how can I read those values from pstree.img?

[2020-08-08 16:18] adrianreber commented on #1173
These are default protobuf operations. Just have a look at the protobuf documentation.

[2020-08-08 20:58] ashwani29 commented on #1173
I did go through this link: [https://developers.google.com/protocol-buffers/docs/cpptutorial](https://developers.google.com/protocol-buffers/docs/cpptutorial)
 as in this documentation under section writing a message and reading a message, the example shown there is using a file, so this file can be in any format?  I can use the same method to read and write from/into files of .img format too?

[2020-08-09 07:29] adrianreber commented on #1173
CRIU's image files are described here: https://criu.org/Images

[2020-08-09 09:17] ashwani29 commented on #1173
Ok will look at this, just one another question- How does CRIU trace process tree of the container?

[2020-08-10 07:54] xy815661276 commented on #1172
I use a simple program to test criu checkpoint on android.The source code of test.c as follows:
[code]
And I use android ndk to cross compile test.c to a static binary file.
Then I run test on my andorid-x86 platform,and I `criu dump -D /data/criu_test -t 3057 --shell-job`.
But I Encountered errors:
[code]
My andorid-x86 platform's kernel is ready according to [https://criu.org/Linux_kernel](url).

[2020-08-10 08:46] adrianreber commented on #1172
I think this is your problem:
[code]

Can you run `lsof` on your process. Your process has an open socket, which you need to tell CRIU how to handle it. Have a look at: https://criu.org/External_UNIX_socket

That should help.

[2020-08-10 10:01] xy815661276 commented on #1172
Thank you very much!!!This error is caused by connecting to my Anroid-x86 using  `adb shell`,it creates a unix socket connection.
When I use the shell on Android, I can checkpoint&restore successfully.
The process is as follows:
[code]
Perfect, which means CRIU can run on Android platforms.
Using Android-NDK to compile CRIU is the solution introduced in  `Documentation`, I have passed the compilat

[2020-08-10 10:10] adrianreber commented on #1172
Nice to see that it works. It sounds like it would be useful to have `static` target in the Makefile. If you are willing to work on that and provide a patch we would certainly include it in CRIU.

[2020-08-10 10:58] xy815661276 commented on #1172
I will work on that.If successful, I will provide a patch.

[2020-08-10 10:59] #1172 closed

[2020-08-11 15:39] Snorch commented on #1173
https://criu.org/Checkpoint/Restore#Collect_process_tree_and_freeze_it

[2020-08-12 02:57] rajbhar opened #1177 "criu doesn't create /var/lib/criu after installation"
I built criu from sources and did make && sudo make install. I dont see /var/lib/criu directory created by default which is supposed to be the default directory for plugins. How does the env variable "CRIU_LIBS_DIR" gets set? i see it empty upon default installation. I am not sure if i missed any step for properly installing criu.

[2020-08-12 06:12] adrianreber commented on #1177
Do you actually need /var/lib/criu?

According to https://criu.org/Environment_variables it is the location for Plugins. Are you actually using plugins? If you are using plugins just create this directory. As far as we know plugins are not really used and we have been discussing multiple times if the whole plugins infrastructure should be removed.

[2020-08-12 15:52] rajbhar commented on #1177
i am trying to checkpoint my application that opens up a fd to a gpu device so i think i do need plugin to support that. Please let me know if there is a way to do that alternatively.  The reason i opened up this issue is that at least one warning at https://github.com/checkpoint-restore/criu/blob/be2ded15ee1cff6c0bd5733dda57bb17ea85bcd9/criu/plugin.c#L215 should be added if criu make install does

[2020-08-12 16:17] 0x7f454c46 commented on #1177
@rajbhar, please send the patch (open a Pull Request) - it's quite hard to tell if a particular change makes sense without looking what's being changed and the reasons in a commit description

[2020-08-14 19:44] ashwani29 commented on #1173
Thanks

[2020-08-14 19:44] #1173 closed

[2020-08-15 19:18] ashwani29 opened #1182 "changes in CRIU"
1) I don't want to run the container after restoring it, as soon as it restores the state, the container should immediately be paused, what and where should i make the changes in source code?

2) i've to keep track what PID of the processes in the checkpointed state got which PID on restoration on the destination? have to save this information. How do i do it?

[2020-08-15 19:45] adrianreber commented on #1182
CRIU supports that:  `--leave-stopped`. It depends which container runtime you are using. The container runtime must just use the existing CRIU functionality.

PID will always be the same during restore. CRIU does never changed the PID of a restored process.

[2020-08-15 20:09] ashwani29 commented on #1182
Sorry, I've asked the question in wrong way. what i meant to say was when i migrated the checkpointed state of a container to a destination, and when restoring it using `runc restore` command, what changes should i make such that as soon as container state is restored, container on the destination side itself stops/paused? It should not run even for a ms.

But when i do `runc list` the pid shown o

[2020-08-15 20:45] adrianreber commented on #1182
I think I understood your question. CRIU supports that with `--leave-stopped`. You have to extend `runc` so that it tells CRIU to leave the processes stopped after restoring. This requires a code change in `runc`.

The PID stays the same in the PID namespace of the container. Outside of the PID namespace the PIDs will be whatever is available next. For the process only the PID in the PID namespace

[2020-08-15 20:52] ashwani29 commented on #1182
Thanks, now i'll look into runc code first and try to do it. If some problem occurs will ask here only.
and for the answer to my second part of the question, how can I look into that PID namespace when the container is stopped/paused? actually, what my goal is whenever a new process is created on the source, I've to add that process to the same parent in the container on destination side too?

[2020-08-17 03:18] xy815661276 commented on #934
I use the arm64v8/alpine to comile criu with your patch.

But,I still  encounter compilation issues:
[code]
I passed the compliation by deleting the -Werror in Makefile.I don't know if this will affect using criu.

[2020-08-17 13:00] ashwani29 commented on #1182
If only memory image like pages and register information of the new process is added to the container on the destination, does it will imply that the new process is created in the container?

[2020-08-17 15:50] gitsvm opened #1184 "How to run cpp or python code in runc container?"
I don't know what to add in `args` parameter in `config.json` file to be able to run my code in `cpp` or `python`?  file is present in root inside `rootfs` folder.

currently my args parameter is this:
[code]
it is giving following error on running the container using `sudo runc run <cid>`:
 `ERRO[0000] invalid character '/' looking for beginning of value`

This is my cpp file:
[code]

[2020-08-17 19:15] adrianreber commented on #1184
I will close this as this has nothing to do with CRIU. Please ask your runc questions somewhere else.

[2020-08-17 19:15] #1184 closed

[2020-08-17 19:17] adrianreber commented on #1182
I do not understand your question. Can you rephrase?

[2020-08-17 20:00] ashwani29 commented on #1182
Ok so, a container is running on the source and a replica of the container is there on destination(in paused state). As a new process joins/created in the container on the source side, my aim is to create the same process in the container on the destination side too to the same parent as it was on the source. So, if a process clones/ forks a child on the source, how can I create/ clone a child to

[2020-08-18 07:00] gitsvm opened #1185 "config.json settings to run cpp or python file in the conatiner"
How should `args` parameter will look like if i want to run a cpp file my container?
currently my args section of the `config.json` file is this:

[code]

[2020-08-18 08:02] adrianreber commented on #1185
Please do not open the same issue I just closed with the same, non-criu related, question. Your question has again nothing to do with CRIU. Closing just as #1184

[2020-08-18 08:02] #1185 closed

[2020-08-18 08:31] adrianreber commented on #1182
If you could describe the goal of your project it would probably be easier to understand what you want to achieve. It sounds like you want to create something like a hot-standby-container which mirrors a running container. Is it something like that you want to achieve?

Not sure I understand that, but you can do nsenter and then run CRIU to restore a process with the same PID in that PID namespace

[2020-08-18 08:54] ashwani29 commented on #1182
Yes , this is what i' want to achieve, my aim is to maintain a hot-standby-container which mirrors a running container on other host and the replica is passive in nature.

[2020-08-18 09:11] adrianreber commented on #1182
Okay. Sounds like an interesting idea.

Your current approach seems to focus on using the existing CRIU code and I think this will not work without changes directly to CRIU. `pre-dump` seems to be pretty close to what you need, but `pre-dump` does not do a full dump. You would need a version of CRIU which uses the kernel's soft-dirty-tracking to do a full checkpoint without dumping all the memory

[2020-08-18 12:33] gitsvm commented on #1185
Those guys aren't replying, that's why i asked here. no issue anyway.

[2020-08-18 19:05] gitisz opened #1186 "Examples using seccomp=unconfined"
Looking at the documentation provided, I see the examples depend on `--security-opt seccomp:unconfined`

docker run -d --name looper --security-opt seccomp:unconfined busybox  \
         /bin/sh -c 'i=0; while true; do echo $i; i=$(expr $i + 1); sleep 1; done'

When running on a cloud platform, this may not be a secure solution.  When performing checkpoint w/o the above I receive the error:

_Note

[2020-08-19 13:04] davidcohenm opened #1187 "Can't reproduce your demos"
Hi guys,

I wasn't able to reproduce demos based on VNC. The checkpoint part fails for me. I've tried several linux distributions and several kernels and no luck :-(

Perhaps someone can point me to his versions and ack that they still works?

Tried:
1. https://criu.org/VNC
1. https://www.youtube.com/watch?v=kjhuzSl6JYc

Plain looper (even between VM's) works for me.
https://criu.org/Docker

My la

[2020-08-19 14:03] davidcohenm commented on #1187
running the same inside docker have different error but doesn't work as well :-(

[2020-08-19 15:34] adrianreber commented on #1187
Don't worry about those messages. Your kernel is just old and does not support those interfaces which are not relevant for what you are trying to do.

If you run check without --all you should not see these warnings/errors.

[2020-08-19 15:36] adrianreber commented on #1187
I see an error about nested namespaces. On which plattform are you running your tests?

[2020-08-19 18:23] davidcohenm commented on #1187
I see. I just tried latest kernel I could install on Ubuntu 16.04 LTS (that is v4.x) and also Ubuntu 20 (that is v5.x) and it has different errors but none of them works :-) I've also tried CentOs, Fedora, installed a lot of different distro's and no luck

[2020-08-19 18:26] davidcohenm commented on #1187
that's for **REALLY** quick replay, really appreciate this!
The nested error happens on Ubuntu without docker. Running the same inside docker gets an error with `/no-such-path` something and each time I run it I see different result of `find / -inum X` (and most of the time it's none).

[code]
[code]

That's why I am wondering which versions you guys used when you filmed those / wrote wiki because

[2020-08-19 18:27] davidcohenm commented on #1187
btw, how do I know what is relevant and what is not for what I am doing ?

[2020-08-19 18:29] davidcohenm commented on #1187
btw, I can't run recent firefox with sudo from my user so i did `su -` before, maybe this relevant:
[code]

[code]

[2020-08-19 19:15] gitisz commented on #1186
Looking further I see this may not be due to a un-whitelisted seccomp option, but more likely due to kernel version.

[code]

The documentation further suggests an upgrade to Kernel version is required, but doesn't state which:

Looking for a path forward as `seccomp=unconfined` is not a viable option.

[2020-08-19 19:24] davidcohenm commented on #1187
Tried the same scenario on AWS EC2 with Ubuntu 16:
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2020-08-19 19:29] adrianreber commented on #1186
I thought I commented here already yesterday, but somehow my comment is gone. Sorry.

On all systems I am using (Fedora and RHEL/CentOS 8) I am using Podman without the default seccomp profile. So newer kernels work with the default seccomp profile. If you look at our Podman based Travis test (https://github.com/checkpoint-restore/criu/blob/criu-dev/scripts/travis/podman-test.sh) it just works.

I

[2020-08-19 19:32] adrianreber commented on #1186
After a quick look at the kernel sources it seems that you should at least hast kernel version 4.3. Which kernel do you use?

[2020-08-19 19:33] davidcohenm commented on #1187
upgraded kernel to:
[code]
same error:
[code]
[code]

[2020-08-19 19:35] adrianreber commented on #1187
Just recently I was helping someone to get that setup working in this ticket: #1082

Please have a look at that ticket, that should give you a few hints how to do it.

[2020-08-19 19:43] adrianreber commented on #1187
Do you always have Firefox running inside your VNC session? Maybe try it with a simpler process. xterm or something like that. Something less complex than a browser.

[2020-08-19 19:44] davidcohenm commented on #1187
Hey,

Thanks again for a quick response!

I've quickly read whole thread, couldn't find anything that helps me.
Do you suggest to try to use CentOS instead? Inside docker it doesn't work as well (have different error in later stage however).

[code]
this didn't work for me on Ubuntu 16:
[code]

with `sudo` firefox is not running correctly. with `su -` it runs but doesn't dump :-(

have you tried r

[2020-08-19 19:46] davidcohenm commented on #1187
less complex stuff work

[2020-08-19 19:47] davidcohenm commented on #1187
as I understand `newns.c` mentioned in wiki is an old way to do stuff, nowadays, you recommend instead to use `sudo newsid unshare -i ./vnc.sh firefox`, right ? it should do the same?

[2020-08-19 19:49] adrianreber commented on #1187
Perfect. So maybe it is Firefox. Maybe Firefox uses nested IPC namespaces. Looking at the output of `lsns` I see that Firefox uses lot of namespaces. CRIU cannot handle nested namespaces (someone needs to implement it). I never dump Firefox because it makes no sense for me (at least).

[2020-08-19 19:50] adrianreber commented on #1187
Not sure. As usual with documentation; at some point it is outdated. If `unshare` works, that sounds easier than some extra process to handle that.

[2020-08-19 19:51] davidcohenm commented on #1187
both of them doesn't work. just I have too many permutations to check so I am trying to narrow them down.

[2020-08-19 19:53] adrianreber commented on #1187
Didn't you say it works?

[2020-08-19 19:56] davidcohenm commented on #1187
same happens for chrome (doesn't work). in youtube video someone from your team dumps firefox as demo (there is also other video of red hat) so for someone it does work. perhaps you can check that ? in `docker` it has different error:
[code]
There are tickets where someone mentioned that you an take a decimal number of handle (in my example: `0xdf69`) and do `docker exec -it container bash` and th

[2020-08-19 19:59] davidcohenm commented on #1187
Unfortunately no. I am struggling with this for a while. Tried almost every permutation I could imagine (different os, different kernels, newns vs newsid, inside docker and outside, different app and so on) and have no luck. If I edit a source code of criu and skip the `/no-such-path` error (and maybe by mistake others) then I got errors while I restore this...

So far, can't find any use case tha

[2020-08-19 20:01] ashwani29 commented on #1182
I was thinking of applying changes of the checkpoint image between two consecutive checkpoints to the restored container on backup. This way it'll be highly synchronous to the container on source side and the backup container will be ready to go as soon as source one fails.

I tried to use nsenter to enter the restored container namespace to trace the PID of all the processes in the container and

[2020-08-19 20:01] davidcohenm commented on #1187
What I meant is that it behaves differently (it will crash in other step) so I was wondering which of them recommended to use today (so I will check mostly one of them). I think inside docker container we get rid of this nested namespace thing but we still have `/no-such-path` issue. Perhaps you are familiar with this?

[2020-08-19 20:01] adrianreber commented on #1187
I thought this comment meant, that less complex stuff works. Less complex stuff being something else than a browser.

[2020-08-19 20:04] adrianreber commented on #1187
No. With a container you will increase the nesting level. I do not see any value in using containers for your test.

Are you not able to reproduce the steps described in #1082 ? That was just a couple weeks ago that we had success checkpointing and restoring a VNC session.

[2020-08-19 20:04] davidcohenm commented on #1187
Correct. Other visual stuff worked (`icewm`, `xterm` and so on). Once I add a heavy multi-process app into ptree it stops to work. I think browser that didn't initialize right (like have some error and exiting, like popup for a user that something wrong) worked too. When it opens any page - it's game over. You can't checkpoint it.

[2020-08-19 20:08] adrianreber commented on #1187
Thanks for making it clear that it works with a simple process but not with a browser. Maybe today's browsers are too complex for CRIU. You either need to fix CRIU to work with today's browsers or use a browser from 5 years ago if that is important for you setup. Unfortunately there is nothing we can do for you right now. I would say the graphical applications are not the most important use case f

[2020-08-19 20:10] davidcohenm commented on #1187
really sad :-( perhaps you can spend a few minutes checking that on your machine (if it will work)?

[2020-08-19 20:17] gitisz commented on #1186
Looks like I am having 3.10 on el7.  I'll see what course I can follow getting to 4.3+... thank you, that is a great help!

[2020-08-19 20:17] #1186 closed

[2020-08-19 20:17] adrianreber commented on #1182
From my point of view this will not work without CRIU code changes. CRIU already has the ability to restore a process into an existing network and PID namespace.

I do not think this will work. Just re-creating the process tree does not sound like something that will work. This requires development effort in CRIU.

It is also not clear how you will make sure that the backup container is updated wi

[2020-08-19 20:19] adrianreber commented on #1187
Sorry, but not possible right now. Too far away from a useful system to try something like this.

[2020-08-19 20:20] davidcohenm commented on #1187
ok, can we talk somewhere private? :-)

[2020-08-19 20:23] adrianreber commented on #1186
Ah, CentOS/RHEL 7. Yes, that unfortunately needs `seccomp=unconfined`. If you use RHEL/CentOS 8 it will just work.

[2020-08-19 21:58] ashwani29 commented on #1182
agreed, recreating process tree doesn't achieve the goal , I'll have to do all the things as criu restore does, step by step like resolving shared memory between the new processes and restored one and also among the new processes, forking the tree and rest others for each differential checkpoint.

In this link https://criu.org/Tree_after_restore, under section **Doing execv() in CRIU**, what can b

[2020-08-20 07:51] gitsvm opened #1188 "mapping of pids from host to container & vice-versa"
How can I get the mapping of pids from host view to the container restored i.e what pid from host is what pid in that container?

[2020-08-20 08:43] adrianreber commented on #1188
I don't think that is possible. Maybe using pidfd?

[2020-08-20 08:57] brauner commented on #1188
That depends on what you already know:
1. You already know the pid on the host and you want to know the pid in a container using pid namespaces
If that's what you're talking about then you can simply look at:
[code]

This field contains the value of the pid in each descendant pid namespace starting from the initial pid namespace in the procfs instance you're look at it.

2. You know the pid in the

[2020-08-20 08:58] brauner commented on #1188
I have patches to use the ioctl_ns() to translate pids.

[2020-08-20 09:07] gitsvm commented on #1188
@brauner Please share it, and tell me how to use this `ioctl_ns()`.

[2020-08-20 09:09] brauner commented on #1188
It's not in the upstream kernel yet so you can't use it anywhere.

[2020-08-20 09:15] gitsvm commented on #1188
Ok so by translation you mean pid in host to pid in namespace ryt?

[2020-08-20 09:39] IgorCrusoe commented on #1187
Got older version as you've suggested and now I get this:
[code]
Perhaps you can point on which version the video has been made https://www.youtube.com/watch?v=kjhuzSl6JYc ?

[2020-08-21 10:21] gitsvm opened #1189 "unable to open /proc/$pid/ns/{namespace_files}"
I'm trying to open /proc/$pid/ns/{namespaces} but all fds are returned -1.
I've to call `setns` from a process to join restored container namespace.
[code]
`pid`, `mnt`, `net` are declared paths. How can i resolve this?

[2020-08-24 15:46] gitsvm commented on #1189
yes it is, see below.

[code]
cpp and .py files are the one which i want to run.

[2020-08-24 18:59] adrianreber commented on #1189
And what error do you get when you try to run it?

[2020-08-24 20:01] gitsvm commented on #1189
[code]

[2020-08-24 20:08] adrianreber commented on #1189
What happens if you use `/hello` instead of `hello`?

[2020-08-24 20:11] gitsvm commented on #1189
[code]

[2020-08-26 03:37] gitsvm commented on #1189
Do you know why is this happening?

[2020-08-26 14:51] Snorch commented on #1189
So it's unrelated to CRIU. You should likely ask on stackoverflow or something =)

But probably brave @adrianreber would still help you.

If nsenter works for you you should probably look on how it works in it's code. git://git.kernel.org/pub/scm/utils/util-linux/util-linux.git

[2020-08-26 15:11] Snorch commented on #1182
For better understanding of fastfreeze you can take a look on this video from LPC:

Fast checkpointing with criu-image-streamer: https://youtu.be/fSyr_IXM21Y?t=7762

[2020-08-26 16:13] Snorch commented on #1187
Probably your brouser has an inotify on the filesystem wich does not have fhandle support. You can try to lookup what is a device 0x2a (42) to check if it's the case.

[2020-08-26 17:19] avagin commented on #1136
Feel free to introduce a plugin hook to handle this case.

[2020-08-26 17:22] avagin commented on #1130
@sequoiar currently the kernel doesn't support restoring receive queue data for UDP sockets. If we want to restore  buffered data, we need to extend the kernel API.

[2020-08-26 17:24] avagin commented on #534
No updates. We are still looking for volunteers who will implement this.

[2020-08-26 17:58] #1130 closed

[2020-08-28 11:26] mwerensteijn opened #1195 "Building CRIU for ARM Android"
Hi all,

For a student project I am trying to build CRIU for ARM Android.
I am using the latest Android NDK and I can succesfully build protobuf, protobuf-c, libnet and libnl.

I am trying to build the latest CRIU release 3.14 with commands:
`ARCH=arm \
    CROSS_COMPILE=arm-linux-androideabi- \
    CFLAGS="-Wno-macro-redefined `pkg-config --cflags libprotobuf-c` -D CONFIG_HAS_TCP_REPAIR_WINDOW -D

[2020-08-28 20:55] alakyadav commented on #1113
Making the config file `/etc/criu/default.conf` and adding the line `link-remap` to it worked. I missed this configuration in the previous VM.

[2020-08-28 20:55] #1113 closed

[2020-08-31 09:01] davidcohenm commented on #1187
Thanks @Snorch!

I've just made a new run and I get this:
[code]

`0x3b = 59` so I did on hostmachine (running app in docker):
[code]
How should I proceed?

[2020-08-31 09:24] Snorch commented on #1187
@davidcohenm So likely you have an inotify on overlayfs.

By default inotifies are not supported on overlayfs because overlayfs does not give proper fhandles in fdinfo. But there is a workaround, you need to enable several options:

Preserve hardlinks (index=on) (v4.13)
NFS export (nfs_export=on) (v4.16)

Note these options can degrate overlayfs performance.

[2020-08-31 10:16] adrianreber commented on #1189
Yes, this is unrelated to CRIU. Closing. stackoverflow sounds indeed like a good idea.

[2020-08-31 10:16] #1189 closed

[2020-08-31 10:51] adrianreber commented on #1195
The strange thing is that I do not actually see the build error any where. If you do `make V=1` it should be possible to see all the commands. Also do not use `-j` to make sure the last message is the actual error. With multiple parallel make runs it is sometimes a bit harder to find the correct error.

There is also this ticket were somebody tried to build CRIU recently for android: https://githu

[2020-08-31 10:52] #1188 closed

[2020-08-31 11:17] davidcohenm commented on #1187
I will try, thanks!

P.S. Maybe it's easier to switch to another underlaying file system that docker support?

[2020-08-31 11:30] mwerensteijn commented on #1195
Hi Adrian,

Thank you for your response.
The difference to that ticket is that I am trying to build for ARM and not x86.

I tried to see how far the compilation process would go by commenting out the:
`$(error Compilation aborted)` in Makefile.packages:check-packages-failed

I solved some other unresolved defines and I can now compile a lot further.
The full build log:
[build_log.txt](https://gith

[2020-08-31 11:32] davidcohenm commented on #1187
@Snorch thank you for such fast replay! really appreciate it.

I've tried to change files with `nano` manually, after the change:
[code]
1. If I restart whole OS - it doesn't preserve a change.
2. If I don't restart a OS but restart docker service + my container I still get the same error:
[code]
where `3026` is a pid of my app inside docker (it's a pid of hostmachine).

Any idea?
[code]

[2020-08-31 11:45] davidcohenm commented on #1187
btw, @Snorch can I get the path/filename that fails?

[2020-08-31 11:52] Snorch commented on #1187
My only advise is that you play a bit more with these module options, probably setting them on boot. In Virtuozzo we can migrate basic inotifies on overlayfs in our tests.

That's the tricky part, you can find inotify fd it should be several lines above the error in criu log. But you can't find the name of the file this inotify is monitoring without fhandle->fd->path resolution with open_by_handle

[2020-08-31 11:59] touisteur opened #1198 "License of libsoccr"
Hi,

I'm a big fan of the CRIU work.

I'm finding libsoccr very useful, but I'd like to make sure I understand its license status.

The readme page says : The project is licensed under GPLv2 (though files sitting in the lib/ directory are LGPLv2.1).

I just wanted to make sure that it means that libsoccr is GPLv2.

In this case, IIUC I can't use (either through .o aggregation & direct call, or thr

[2020-08-31 12:16] davidcohenm commented on #1187
Perhaps you can point me for an example of how to change those boot options? I've found some patch for kernel build like this https://src.openvz.org/projects/OVZ/repos/vzkernel/browse/configs/kernel-3.10.0-x86_64-minimal.config but can't  find a way to do that without rebuilding a kernel.

I am also trying to force docker to use for this specific container different storage params, no luck till no

[2020-08-31 12:17] davidcohenm commented on #1187
Can you elaborate a bit more about that? Where and how I can test it on my app ?

[2020-08-31 12:19] adrianreber commented on #1195
No, but googling for it, I saw it also on other projects trying to compile for Android. So it seems to be a 'normal' Android problem which should be possible to solve. As far as I know, there is no Android expert in the CRIU community. Not sure we can help you with this.

[2020-08-31 12:28] adrianreber commented on #1198
CRIU is GPLv2, correct. Only the content in lib/ is LGPLv2.1 as described in the README.

I am not a layer, but this is also how I understand it.

[2020-08-31 15:41] 0x7f454c46 commented on #1195
Yes, introduce `compel/arch/arm/plugins/std/memcpy.S` (see x86 as an example).
You can probably reuse code from kernel, see `arch/arm/lib/memcpy.S` or glibc `sysdeps/arm/armv7/multiarch/memcpy_impl.S` see aliases for `__memcpy_arm`.

Yes, that won't help: the issue is in compiler-generated references to memcpy() in [parasite](https://criu.org/Parasite_code), which can't dynamically link to libc.

[2020-08-31 19:16] planetA commented on #1171
I found a simpler reproducer. The (NAS parallel benchmarks)[https://www.nas.nasa.gov/assets/npb/NPB3.4.1.tar.gz] have an OpenMP-based version. If I use just it, I observe the same bug. See the following [asciicinema](https://asciinema.org/a/osDNAis7QkvOojbmrsDVhAqH0).

I compiled ep benchmark inside NPB3.4/NPB3.4-OMP directory using `make ep CLASS=C` command. I just had to copy the template config

[2020-09-01 10:26] mwerensteijn commented on #1195
Thank you both for your comments.
For now I have created empty functions so the compiler errors are gone so I can see how many other compilation issues there are.
Your solution sounds great, thanks for the pointers.

[2020-09-03 07:28] Ghw2066 commented on #796
Thanks for your solution! This solved my problem when I tried to dump sshd service and its children process. But when I try to restore it, criu restore failed and what I expect to see is ssh connection can be resumed.
restore failed message:
[code]
The command I used is ：
[code]
Could u pls give a hint that how to correctly restore process with unix socket?

[2020-09-03 16:10] mwerensteijn commented on #1195
I implemented the functions and Criu is now compiling succesfully. I am not able to checkpoint and restore a simple loop binary as there are some errors:

[code]

Adding more verbosity shows:
[code]

I have made sure that I have compiled the kernel with the correct CONFIG parameters listed at: https://criu.org/Linux_kernel

Do you have any idea where to start?

[2020-09-03 16:13] adrianreber commented on #1195
Are you running this as root?

[2020-09-03 16:20] mwerensteijn commented on #1195
Yes I am running this as root.

[2020-09-03 16:21] adrianreber commented on #1195
Can you share the log of a failed checkpoint?

[2020-09-03 16:25] mwerensteijn commented on #1195
Sure, this is the output of checkpointing a simple loop printing binary:

[code]

Adding `--shell-job` gives the same output.

[2020-09-03 16:27] mwerensteijn commented on #1195
It looks like the returned -95's are not from libnet but from the kernel?:
`#define	EOPNOTSUPP	95	/* Operation not supported on transport endpoint */`

https://www-numi.fnal.gov/offline_software/srt_public_context/WebDocs/Errors/unix_system_errors.html

[2020-09-03 16:34] adrianreber commented on #1195
This is relevant error message

[code]

[2020-09-03 16:40] adrianreber commented on #1198
I am closing this. Please reopen if you have further questions.

[2020-09-03 16:40] #1198 closed

[2020-09-03 16:49] mwerensteijn commented on #1195
Can it be because I compiled CRIU as 32 bit but running it on a 64 bit arm host?
I found this thread online with the same issue: https://lists.openvz.org/pipermail/criu/2017-December/040081.html

The loop binary I am running is also compiled as 32 bit.

[2020-09-03 16:52] adrianreber commented on #1195
Ah, please try everything first as 64bit to make sure. Not sure how good CRIU works in mixed environments.

[2020-09-03 19:33] mwerensteijn commented on #1195
Until now it doesn't seem to be easy to build it with the Android aarch64 compiler. I get quite a lot of compiler errors. I remember that was the reason I compiled it with the 32 bit compiler. I'll have another look tomorrow, if it is doable in the time I have for my assignment.

[2020-09-04 01:09] up0617 commented on #796
can you run
[code]
than may the sshd service come up with new pid.
I don't know how sshd works but it may be automatically restart when suddenly closed.

[2020-09-04 08:58] ashwani29 opened #1199 "cannot open /proc/sys/kernel/ns_last_pid"
I'm experimenting with a restored container which includes reading and changing the `ns_last_pid` value. the container is paused and I'm changing/writing a new value to `ns_last_pid`, but it gives me an error of `Read-only file system`. How criu is able to achieve this to do PID dance?

I did exactly as explained in this tutorial: [https://criu.org/Pid_restore](url) , i.e same way of opening and w

[2020-09-04 13:10] ashwani29 commented on #1199
I just tested this for a different program running on the host, that program changes the value of ns_last_pid on the host kernel.
 but when a  program joins the restored container namespace and tries to set the ns_last_pid field, it is giving the above error.
How can I do this for a different namespace then?

[2020-09-04 14:22] ashwani29 commented on #1199
@adrianreber ? help pls.

[2020-09-04 16:14] Snorch commented on #1187
@davidcohenm https://src.openvz.org/projects/OVZ/repos/criu/commits/3dae0f51f26de25f3c4a7c29f1f00a63f5695272#test/zdtm/static/overlayfs_fanotify.c

You can take a look on this test, if one changes internal overlay mount to external overlay mount in it  it would probably also pass on mainstream criu.

[2020-09-04 18:12] mwerensteijn commented on #1195
Hey Adrian,

Good news!
Yesterday evening I got a lot of compiler errors, many of them in assembly code so I thought it was because aarch64 wasn't completely supported yet.
I checked build log more closer and found out that there where still a lot of softlinks to arch/arm source files, so it was compiling the wrong files.
I did perform clean, but perhaps I should have simply completely removed the

[2020-09-05 10:43] ashwani29 commented on #1199
So is this a warning for asking duplicate questions or answer to my question is there(which I don't see over there)?

[2020-09-05 12:45] adrianreber commented on #1195
Warn  (criu/net.c:3137): Unable to get tun network namespace
[code]
This errors/warnings are relevant for restoring processes in a network namespace if you are using certain network namespace features of CRIU.
[code]
This is relevant if you want to do post-copy (also called lazy) migration. That relies on usefaultfd which does not seem enabled in your kernel.

Not knowing what you want to do, but

[2020-09-05 13:22] ashwani29 commented on #1199
can you please tell how criu is doing it?

[2020-09-05 13:42] mwerensteijn commented on #1195
I am researching migrating apps from the normal world to the secure world with ARM trustzone.
Seeing if it is possible to checkpoint apps (simple binaries for now) in the normal world and continue execution in the secure world so that it can run protected from memory dumping attacks.

Thank you for all your help.
This issue is solved!

[2020-09-05 15:12] #1195 closed

[2020-09-05 15:22] adrianreber commented on #1199
This is unrelated to CRIU if the file is read-only. Your container is probably mounting it as read-only. See `readonlyPaths` of config.json.

[2020-09-05 15:22] #1199 closed

[2020-09-05 15:47] ashwani29 commented on #1199
Wait don't close it, I did gone through read only path section in config. json  and removed /proc/sys line from there but still it was giving the error of read only file system.

[2020-09-05 16:16] ashwani29 commented on #1199
And if my file was read only then how come criu is able to edit it to restore same pids?

[2020-09-05 16:57] cyphar commented on #1199
(Sorry, I forgot to press "send".)

The reason this isn't working is that `/proc/sys` is mounted read-only inside containers as a general security hardening measure (almost no containers need to be able to write to it, and in the past some sysctls were writeable from inside a container when they shouldn't have been). In addition, the default AppArmor profile for containers also blocks this.

If yo

[2020-09-05 17:52] ashwani29 commented on #1199
I'm using `runc` as I've to work with `criu` so `runc` seems to be of better use. So what can I do in `runc` to solve this, as I said already, I removed `/proc/sys` line from `read only path` section of `config.json` but it doesn't work.

[2020-09-06 02:15] cyphar commented on #1199
Add `CAP_SYS_ADMIN` to the set of capabilities (add to all of the arrays), remove `readonly: true` from the `root` section.

[2020-09-06 03:49] ashwani29 commented on #1199
still the same error, is it because when the process joins the container namespace, it joins every other namespace except user one, for that it shows `joining usr Invalid argument`?

[2020-09-07 07:39] davidcohenm commented on #1187
You can take a look on this test, if one changes internal overlay mount to external overlay mount in it it would probably also pass on mainstream criu.

[2020-09-07 08:40] davidcohenm commented on #1187
@Snorch sorry, maybe I misuderstood you. What you are saying is that if I will install criu's fork of Virtuozzo it will probably work as is with my app (even without changing the kernel) ? Any suggestion for install procedure of that?

[2020-09-07 08:47] ashwani29 commented on #1199
@cyphar ??

[2020-09-07 08:51] ashwani29 commented on #1199
I tested with docker too with same above commands :
[code]
gives below error:
[code]

[code]

[2020-09-07 09:26] planetA commented on #1171
@cyrillos @adrianreber Sorry to bug you. But is this example helpful?

[2020-09-07 09:30] cyrillos commented on #1171
@planetA Sorry, I've had no time to investigate, and I fear I won't in near future :-( Maybe Dima will manage to? @0x7f454c46

[2020-09-07 16:14] 0x7f454c46 commented on #1171
I'll try to find time to look at it this week, it's on my todo.

[2020-09-07 20:36] geminijun opened #1200 "Checkpoint and restore a process has established unix domain socket connection."
I'm using CRIU to checkpoint and restore "redis-server", which has a "redis-cli" connected to it via a unix domain socket. I cannot just use `--ext-unix-sk`, as it sets the socket type to STREAM. Here is the command I used for dump:

[code]

And here is the command I used for restore:
[code]

Then I found I got segv in the restore log:
[code]

Checking the code, I found that CRIU will still try to

[2020-09-08 07:21] adrianreber commented on #1200
As far as I know there is no option for UDP which does the same as `--tcp-close`. We would be happy to take your patch for that.

[2020-09-09 01:37] avagin commented on #1199
@ashwani29 docker run --cap-add=NET_ADMIN --rm -it ubuntu bash -c 'echo 999 > /proc/sys/kernel/ns_last_pid'

[2020-09-09 12:04] buck2202 commented on #860
Just wanted to drop by again since launchpad is again confusing. There's another fix-released comment, but still "confirmed" status for focal and "won't fix" for eoan. The two most recent LTS releases are on 5.4 kernels, so I guess it's not surprising that it's still broken in both of them.

Summary:
Release | kernel | working?
--|--|--
18.04 server LTS|5.4.0-1024-gcp #24~18.04.1-Ubuntu|**no**
20.

[2020-09-09 12:24] adrianreber commented on #860
My guess right now is, that this will not be fixed any time soon. As far as I understand it, this is related to non-upstream kernel patches concerning 'shiftfs'. From what I heard this will not be upstreamed in the version Ubuntu carries it. Other implementations of similar features are also not upstream (yet). So if we are lucky it will be fixed with the next LTS release, but that is about 1.5 ye

[2020-09-09 13:03] buck2202 commented on #860
Understood, just wanted to follow up since there was a new janitor post and you had said previously that you didn't have an easy way of testing it. I'll still re-test and check back in if it looks like their fix makes it back to focal. Hopefully that would cover bionic as well, since they're currently on the same LTS kernel for gcloud at least.

I've kept my google cloud instances on xenial and my

[2020-09-09 18:10] alakyadav opened #1202 "[question] Multiple page_pipe_buf-s in a page_pipe"
Hello, I am having some trouble understanding the implementation of pipe structures used to keep track of memory that the parasite fills in.
I understand that each linux pipe (the one created with using pipe() syscall) is represented using a `struct page_pipe` and that each `page_pipe_buf` stores the fds to those pipes, the offset (where the buffer begins in pipe) and the length of the buffer. Eac

[2020-09-12 16:50] rst0git commented on #1202
A `page_pipe` is used to accumulate memory pages. It consists of a list of `page_pipe_buf` objects each associated with a pipe (buffer). An array of iovec-s is used to describe the pages' locations. There is a limit for the maximum pipe buffer size (`PIPE_MAX_SIZE`) and new pipes are created on demand. I hope this answers your question.

(See commit https://github.com/checkpoint-restore/criu/commi

[2020-09-14 07:33] avagin commented on #1202
If you look at try_add_page_to, you will find that it create a new page_pipe_buf if flags are not match. Otherwise we will have one page_pipe_buf per pipe.  The only flag that we have is PPB_LAZY, so Mike (@rppt) should know more about this.

[2020-09-14 09:06] Snorch commented on #1187
@davidcohenm No you missunderstand me. Virtuozzo version of criu is closely integrated into Virtuozzo kernel, and switching to it without installing full Virtuozzo/OpenVZ may be a hard thing to do and I don't advise you to do it.

What I say is: 1) We run tests on inotify on overlayfs, and they pass. 2) I hope only difference between Virtuozzo criu and mainstream criu in this area is that we suppo

[2020-09-16 22:37] ashwani29 commented on #1199
usr@usr:~/Desktop$ docker run --cap-add=SYS_ADMIN --rm -it ubuntu bash -c 'echo 999 > /proc/sys/kernel/ns_last_pid'
bash: /proc/sys/kernel/ns_last_pid: Read-only file system
usr@usr:~/Desktop$

@avagin  still same error

[2020-09-16 22:39] ashwani29 commented on #1199
[code]
@avagin  still same error

[2020-09-16 22:46] rst0git commented on #1199
@ashu-mehra you may need to add `--privileged ` as well:
[code]

[2020-09-16 22:56] gitsvm opened #1206 "cannot join user namespace of restored container"
Below is the `config.json` of the restored container. I made multiple changes to resolve the error but still couldn't do it.
[code]
an external process takes `<pid>` of the restored container and does `setns` on the namespaces file descriptors. It is able to join all other namespaces except the `user` namespace, for that it shows `Invalid Argument`.  I'm stuck here for long and unable to figure ou

[2020-09-16 23:06] ashwani29 commented on #1199
@rst0git  It worked, thanks.
Can you tell how to do it for `runc` container, there it throws the error of `Read-only Filesystem`.
above suggested solution not working for `runc` and I can't rely on `docker` for long as i've no idea how can i checkpoint and restore docker with` criu` and play with it.

[2020-09-17 05:19] adrianreber commented on #1199
@ashwani29 Does your container have the necessary capabilities to write to `ns_last_pid`? You need CAP_SYS_ADMIN for that.

Please show the capabilities you defined in `config.json`.

What do you mean with this:

[2020-09-17 05:20] adrianreber commented on #1206
I have never seen the combination of `runc` with user namespaces and CRIU working. I have never really tried it but this might not been implemented yet.

[2020-09-17 05:53] ashwani29 commented on #1199
Yes @adrianreber
Here is the `config.json` file:
[code]

I removed options like `ro` and added `rw` there, removed most `/proc`  paths from `readonlyPaths`. even then it's not working.

I mean to say I don't know docker that much and never `C/Red` it with `criu`.  `runc` is more understandable to me as it's been months using it.

[2020-09-17 05:55] ashwani29 commented on #1199
this is what I'm trying to do.

[2020-09-17 06:00] adrianreber commented on #1199
Works for me:
[code]
Not sure why it does not work for you.

[2020-09-17 06:19] ashwani29 commented on #1199
This is what I'm getting now:
[code]

can you share the filesystem you are using for the container? I want to know more about these environments `runc` make for running a container.

[2020-09-17 06:23] adrianreber commented on #1199
Why is it mentioning user namespace there? There is no user namespace mentioned in `config.json`. My container root file system is running on NFS.

[2020-09-17 06:27] ashwani29 commented on #1199
Oh sorry, in between I made some changes again to the config.json. let me revert back and try again.

[2020-09-17 06:39] ashwani29 commented on #1199
[code]
and that is what a busy box or a ubuntu image?

[2020-09-17 06:42] adrianreber commented on #1199
Then you probably have another shell in your container. You need to know what is in your container. It is not like there are thousand types of different shells. The content of the container is not really relevant for this exercise, but my container is running RHEL 7.

[2020-09-17 07:02] ashwani29 commented on #1199
I've found that there is `sh` file under bin directory. so command I used is  :
`sudo runc exec ctr2 sh`
but then it looks like it got hanged, just blinking the cursor but not proceeding further

[2020-09-17 07:05] adrianreber commented on #1199
It does not hang. Just type something.

[2020-09-17 07:05] rst0git commented on #1206
@gitsvm What is your runc version?

There was a [fix](https://github.com/checkpoint-restore/criu/commit/d99ee9753e90df1040dc49341a38357e58d838ee) for checkpoint/restore of runc containers with user namespace in CRIU v3.14, but I think the `Invalid Argument` error is may be related to https://github.com/opencontainers/runc/issues/1343.

[2020-09-17 07:11] ashwani29 commented on #1199
did but still shows this error.
[code]

[2020-09-17 07:29] gitsvm commented on #1206
@adrianreber
Then how does criu ensures restoring all the `namespaces` of checkpointed `runc` container? and If it's not possible is there any other way of joining the container namespace from outside and still be able to do priviledge operations inside the container (i.e. joining process has priviledge access similar to `criu`).

@rst0git
runc version:
[code]
Kernel version : `5.3.0-64-generic`

[2020-09-17 07:38] adrianreber commented on #1206
I do not know the state of user namespaces, runc and CRIU. @rst0git seems to be more familiar with it, but if you are running a container as root (with Podman for example), then user namespace is just not used. I see the same running a container with cri-o. So if I am right and user namespaces, runc and CRIU does not work, then it is just not a problem because, until now, they are not used for con

[2020-09-17 10:10] ashwani29 commented on #1199
@adrianreber ?? what should I do now?

[2020-09-17 20:03] ashwani29 commented on #1199
@adrianreber  what `runc` and `criu` version are you using? please mention the kernel version too.

[2020-09-20 01:09] geminijun commented on #531
Are there any updates on this issue? I believe I'm hitting this one when tried to restore KDB, it happens occasionally, I still don't know in which condition it will happen, will update it later.

[2020-09-20 11:12] ashwani29 commented on #1199
@adrianreber  a process joining `ipc`, `net`, `pid`, `mnt`, `cgroup` namespaces of the container is unable to write the `ns_last_pid` file, It doesn't throw any error but the value written(a high value 5000) is not reflected on reading whereas `runc exec` command is able to do that and the value is reflected on reading.
didn't understand why is this happening?

[2020-09-20 17:55] #1134 closed

[2020-09-22 15:55] avagin commented on #531
What is KDB?

[2020-09-22 15:56] avagin commented on #531
I am not sure that this is the same issue. I think you need to create a new issue and describe in detail what is going on there.

[2020-10-01 06:40] adrianreber opened #1217 "Assembler warning message"
I see following warnings when compiling CRIU on Fedora 33:
[code]

[2020-10-03 01:56] ShunmugaPriyaR opened #1221 "CRIU lazy migration"
Hello,

Greetings.

CRIU version:  3.12
Docker Engine version:  19.03.13

I usually use docker checkpoint and restore method instead of criu dump and restore calls. But I would like to know whether pre-copy and post-copy method of criu migration is possible using the docker checkpoint command.

I also tried criu dump of a docker container (busybox) for my trial experimentation. But --manage-cgroup

[2020-10-03 09:41] adrianreber commented on #1221
No. If you are willing to use runc it can be done. But not in combination with Docker. For runc examples using pre-copy and post-copy please see:

 * https://www.redhat.com/en/blog/container-migration-around-world
 * https://people.redhat.com/areber/criu/migrate
 * https://people.redhat.com/areber/criu/migrate-server.py

Try it on the runc level and it should be possible to use.

[2020-10-03 12:07] ShunmugaPriyaR commented on #1221
Thank you Adrian for your input and suggestions. I will look into the links
and get back to you if needed.

Regards,
Priya.

On Sat, Oct 3, 2020, 4:41 AM Adrian Reber <notifications@github.com> wrote:

[2020-10-06 06:55] upc-distribution commented on #530
Hello adrianreber,
May I ask you
I am using criu 3.14 and docker 19.03.13 for checkpoint and restore my programs. Its working well but unfortunately, when I try to checkpoint and restore my program, it is not check pointing the program state and it always start from the beginning step when resume my container. But, it didn't show any errors. Is it relate as I am checking my kernel version? Previou

[2020-10-06 07:03] adrianreber commented on #530
@upc-distribution Please do not use tickets unrelated to your problem. Just open a new ticket. It sounds like you might be using one of the tools in a wrong way.

I am closing this as the original topic is over two years old.

[2020-10-06 07:03] #530 closed

[2020-10-06 07:04] #974 closed

[2020-10-06 07:05] #872 closed

[2020-10-06 07:05] #769 closed

[2020-10-06 07:06] #812 closed

[2020-10-06 07:07] #764 closed

[2020-10-06 07:07] #731 closed

[2020-10-06 07:09] #536 closed

[2020-10-06 07:10] #521 closed

[2020-10-06 07:11] #507 closed

[2020-10-06 07:12] #442 closed

[2020-10-06 07:12] #428 closed

[2020-10-06 07:13] ghost opened #1223 "criu couldn't checkpoint program state"
Hello adrianreber,
May I ask you
I am using criu 3.14 and docker 19.03.13 for checkpoint and restore my programs. Its working well but unfortunately, when I try to checkpoint and restore my program, it is not check pointing the program state and it always start from the beginning step when resume my container. But, it didn't show any errors. Is it relate as I am checking my kernel version? Previou

[2020-10-06 07:13] #365 closed

[2020-10-06 07:15] adrianreber commented on #1223
As mentioned in the other ticket, you might be doing it wrong. You should really tell us what exactly you are trying to do. Please include all the commands you are running.

[2020-10-06 07:22] upc-distribution commented on #1223
I do apologize for my misunderstanding. I am trying to checkpoint my program running inside the container and resume at another container. The followings are that I tried previous and that time, all are working well. However, when I try to test today, I cannot checkpoint the state and it normally start from the begging state at another container.

docker run -it --name test pollen5005/dcgan:latest

[2020-10-06 07:29] upc-distribution commented on #1223
Therefore, I checked with the common example.
(Checkpoint)
docker run -d --name looper --security-opt seccomp:unconfined busybox  \
         /bin/sh -c 'i=0; while true; do echo $i; i=$(expr $i + 1); sleep 1; done'

docker logs looper
(For instance, it generated
1 2 3 4 5 6 7 8 9)

docker checkpoint create looper checkpoint1

(Restore)
docker checkpoint create looper checkpoint1

docker logs loope

[2020-10-06 07:40] adrianreber commented on #1223
Looking at out latest CI run it seems I see a similar error: https://travis-ci.org/github/checkpoint-restore/criu/jobs/732998447

Maybe, I am not sure. In the CI test I see that a docker container is checkpointed and restored. After that we run 'ps axf' but the result is almost always the same, so it seems like the container is not started from the checkpoint, but from the beginning.

Looking at o

[2020-10-06 07:55] upc-distribution commented on #1223
Thank you for your suggestions.
Using Podman, it is working well and I did this on also Ubuntu16.04.

[2020-10-06 08:01] adrianreber commented on #1223
Good to hear.

[2020-10-06 09:41] upc-distribution commented on #1223
Thanks a lot @adrianreber
If there is some option without using Podman(only CRIU on Docker), I would like to request suggestions from @avagin and @rst0git.
I really appreciate all of your helps, Sirs.

[2020-10-06 12:19] adrianreber opened #1224 "coverity: CID 73362 (#1 of 1): Untrusted value as argument (TAINTED_SCALAR)"
While trying to fix coverity warnings I was unsure if this is a false positive or not. Posting it here for further comments.

It seems most of the code has been written in 2012 by @cyrillos. Do you think this report is correct or can I mark it as invalid?

[code]

[2020-10-06 12:24] cyrillos commented on #1224
I'll take a look today evening and will reply, ok?

[2020-10-06 13:18] rst0git commented on #1223
@upc-distribution What is the output of the following commands?
[code]

[2020-10-06 20:05] cyrillos commented on #1224
This is false positive. I think we might use an explicit cast if it placate coverity.
[code]

[2020-10-06 20:05] cyrillos commented on #1224
Feel free to push up this diff.

[2020-10-07 07:39] adrianreber commented on #1224
Thanks. Well, if it is false positive it could be just marked in coverity as a false positive. But looking it the patch, it looks really simple so maybe it would help to make sure it does not appear in future coverity runs. I will probably submit a patch with a few additional scanning fixes in a few days.

[2020-10-07 07:44] cyrillos commented on #1224
Sure, thanks a lot!

[2020-10-07 08:26] xy815661276 opened #1226 "Trying to restore page for non-private VMA"
I successfully ported CRIU to the Android operating system to run before, and can successfully checkpoint & restore a loop process, and I want to migrate the process under X86_64 to the Android of the aarch64 architecture to run, here I use [criu-het](https://github.com/systems-nuts/criu-het), when I `criu-het restore -j` the following error was prompted when restoring in the Android operating sys

[2020-10-07 09:26] adrianreber commented on #1226
Not sure anybody here can help you. If you have a problem with criu-het, you should probably talk to the criu-het authors.

[2020-10-07 12:01] rst0git commented on #1226
Hi @xy815661276, it looks like [HetCRIU](https://www.research.ed.ac.uk/portal/files/141999220/Edge_Computing_BARBALACE_DOA25012020_AFV.pdf) is modifying the image files between architectures. You might want to check if the [pages and pagemap images](https://criu.org/Memory_dumps) have been converted correctly.

[2020-10-07 12:11] xy815661276 commented on #1226
@rst0git  Thank you very much, I will try.

[2020-10-07 12:21] rst0git commented on #1226
IIRC @rppt (who presented similar work at [LPC 2018](https://www.linuxplumbersconf.org/event/2/contributions/205/)) may be able to help with this.

[2020-10-07 12:41] adrianreber commented on #1217
I see @cyrillos and @tkhai as authors. Any ideas how this could be fixed?

[2020-10-07 12:43] cyrillos commented on #1217
They have been taken from linux kernel code mostly. Take a look please into kernel x86 code, should be fixed there.

[2020-10-07 13:30] tkhai commented on #1217
Yes, commit 919df37c2

"bits: Add test_and_set_bit()

Borrowed from Linux Kernel".

I have no a better idea than borrow a new version of this functions from kernel, if this helps.

[2020-10-07 13:34] adrianreber commented on #1217
Thanks. I had a look but the linux kernel code has become much more complicated than the versions we have.

I tried to add `q` (64bit values) at the end of both assembler statements and that fails. Adding a `l` (32bit values) seems to work. Which probably makes sense as we are not dealing with 64bit values in both functions. Both are using `int`.

I will open a PR to see what CI things about it.

[2020-10-08 08:05] upc-distribution commented on #1223
@rst0git Hello Sir. I do apologize for my late reply.
The output of the following commands is 0,1,2,3,4,5,6,7,0,1,2,3,4,5,6,.........
Please suggest me something, Sir.

[2020-10-11 09:24] rppt commented on #1217
On Wed, Oct 7, 2020 at 4:34 PM Adrian Reber <notifications@github.com> wrote:

We are dealing with 64-bit values for the first argument of `bt` and `bts`, so I'd expect q suffix to work :/

I've tried to adopt the latest version from Linux and it compiles fine
on f31. Can you please check if f33 would be happy with this?

diff --git a/include/common/arch/x86/asm/bitops.h b/include/common/arch/x86/

[2020-10-11 09:32] cyrillos commented on #1217
I don't have fc33, but on fc32 it builds just fine, thanks!

[2020-10-11 16:27] adrianreber commented on #1217
@rppt That compiles without errors. Thanks. Will you submit the PR?

[2020-10-11 18:37] rst0git commented on #1223
Hi @upc-distribution, this issue was caused by commit https://github.com/moby/moby/commit/d4c63720e9e477224ef4e66ed843310abf06412b, which was included in v19.03.13. However, there is another issue with upstream checkpoint/restore in moby (https://github.com/moby/moby/issues/41531) and I hope both issues might be fixed in the next release.

As a workaround, you can downgrade to v19.03.12 or earlier

[2020-10-11 20:15] ashwani29 commented on #1182
@adrianreber  https://criu.org/Memory_changes_tracking this link discusses that incremental dump is possible with `--track-mem` and `prev/images/dir` even with `dump` command.

[2020-10-12 16:33] #1217 closed

[2020-10-13 03:10] amoonmm commented on #1127
----------------------------------------------------------------------
From: zhoufann9188 < notifications@github.com >
Sent: Wednesday, July 1, 2020 5:58:13 AM
To: checkpoint-restore/criu < criu@noreply.github.com >
Cc: Subscribed < subscribed@noreply.github.com >
Subject: Re: [checkpoint-restore/criu] criu failed: type NOTIFY errno 0 (#1127)
 
Closed  #1127 .
—
You are receiving this because you

[2020-10-13 03:42] mikosa opened #1230 "Cant make Criu dump work on a GCP node"
Hi I tried different linux flavors on GCP, and cant make CRIU work

For example if i try an ubuntu machine:
![image](https://user-images.githubusercontent.com/14884080/95812754-13407400-0ce4-11eb-8b56-d72594b363ad.png)

bootstrap code:
[code]
then I get the mount error

![image](https://user-images.githubusercontent.com/14884080/95812123-ae384e80-0ce2-11eb-9750-c9abfc596080.png)

I also tried to i

[2020-10-13 06:16] adrianreber commented on #1230
Which process are you trying to dump? I have never seen this error before myself or a report of it. We would need a full log file of the dump. Can you run it with `-v4` and add the output here. Please do not use a screenshot, just copy the text.

[2020-10-13 07:53] adrianreber commented on #1223
@rst0git Can you confirm that our docker tests are broken because of those bugs? Do we need to change our docker tests to catch errors like this? Maybe include the output of `docker logs`?

[2020-10-13 11:25] z760284582 opened #1231 "when trying to dump a program in a docker,i get some errors"
command: ./criu/criu/criu dump -t `pidof hello` -D ch/ --shell-job
Error (criu/util.c:624): exited, status=3
Error (criu/util.c:624): exited, status=3
Warn  (criu/net.c:3166): Unable to get tun network namespace
Warn  (criu/sk-unix.c:229): unix: Unable to open a socket file: Bad address
Error (criu/libnetlink.c:55): -45 reported by netlink: Operation not supported
Error (criu/net.c:3482): Unable t

[2020-10-13 11:54] adrianreber commented on #1231
How do you start your container and does the checkpointing actually work?

[2020-10-13 12:00] mikosa commented on #1230
[code]

[2020-10-13 12:05] adrianreber commented on #1230
It seems you are trying to checkpoint a process out of a container. This will not work easily. If you resolve the mount problem, you will hit many other problems.

What is your goal? Understanding you goal might help to find another solution for your problem.

Why aren't you checkpointing the whole container?

[2020-10-13 12:31] mikosa commented on #1230
what do u mean? I am getting the pid of the container itself and trying to dump it

[code]

[2020-10-13 12:36] adrianreber commented on #1230
You cannot (easily) checkpoint a process out of a container without telling CRIU all the details about the resources which are only available in the container. Your first problem is a mount point which is just visible in the container and which CRIU cannot find outside of the container. No one has tried to checkpoint a process out of a running container for a long time as far as I know.

[2020-10-13 12:43] mikosa commented on #1230
I am trying to checkpoint the whole container actually

I tried to use docker with similar errors
[code]

[2020-10-13 12:48] adrianreber commented on #1230
Yes, Ubuntu is broken: https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1857257

Use another distribution or another Docker graphdriver.

Also see: https://github.com/checkpoint-restore/criu/issues/860

[2020-10-13 12:48] #1230 closed

[2020-10-13 15:26] HansvdLaan opened #1232 "Futex timeout is not virtualized for time namespaces (Java JAR poor performance after restore)"
Hey,

I'm trying out CRIU in combination with Java. I'm trying to dump and restore a simple java counter which saves a number to a file. When I dump a simple dummy java program and subsequently restart it, the restored java program uses almost a full core and has become extremely slow.

Since it's just a simple program, it seems as I forgot some parameter. Does anyone see what went wrong?

[code]

[2020-10-13 15:32] adrianreber commented on #1232
Very interesting report. I am using Podman to checkpoint and restore a Wildfly container and sometimes I see the JVM also running at 100% on multiple cores and I assumed that it was related to wrongly restoring the container. I never tried it outside of a container, but I will try to reproduce the problem without containers using your code.

It feels like this is a new behaviour, but I am not sure

[2020-10-13 15:47] adrianreber commented on #1232
You mention `-jar`. Is that important? I do not see any problems using following JDKs:
[code]

I just took your example, added the necessary imports and ran it. Can you tell me how to run that example using `-jar` if that is important to reproduce this? It uses about 1% before and after the restore. I am testing on RHEL 8.

[2020-10-13 16:00] HansvdLaan commented on #1232
Hey,

I'm just running it as a jar since it's a use-case I probably need for our real application later.

It does not matter if we run the main class directly or if we unpack .jar and then run it directly. We still have the performance issue . e.g., like:
[code]
or
[code]

I'm not sure what you mean exactly what you mean. I just run the jar with ```java -jar ./counter.jar 3000```.
If it helps, thi

[2020-10-13 16:05] adrianreber commented on #1232
Yes, I was asking how to create a jar as I am not familiar enough with Java to create one. I will not install maven, I was hoping for a one-line example, not sure if that is possible. But as having it in a jar does not seem to be important, let's just skip it.

Which kernel version do you have?

[2020-10-13 16:27] adrianreber commented on #1232
This seems to be related to the kernel.If I do a checkpoint/restore on a RHEL 8 kernel it works as expected, if I do a checkpoint and restore on a Fedora based 5.9 rc1 kernel I see that it uses all four cores and each with 100%.

It would be good to have some insights from the JVM side why a restored JVM uses so much CPU on newer kernels. Any ideas who to ask?

[2020-10-13 16:34] hberntsen commented on #1232
I've tested it on Arch Linux using 5.8.14-zen1-1-zen. @HansvdLaan and I will try an older kernel tomorrow (we're in CET so our working day ended).

I find it interesting to see that both the openjdk and Oracle JVM face the same issue. I guess we could report the Oracle issue here: https://bugreport.java.com/bugreport/ . For OpenJDK, we could post it to the mailing list ( https://stackoverflow.com/

[2020-10-14 01:30] z760284582 commented on #1231
docker run --runtime kata-runtime -it --device=/dev/net --cap-add=all --cap-add=NET_ADMIN zou:v2 /bin/bash

[2020-10-14 01:39] z760284582 commented on #1231
the program is killed and Files (.img)are generated under the folder,but i'm not sure whether the files are generated completely, maybe i can compare with the normal files which are generated under the physical machine.

[2020-10-14 03:59] gitsvm opened #1233 "incremental checkpoint in runc"
In criu, we can do incremental checkpoints by doing
[code]
from the help option of runc, it says we can use
 `--parent-path value          path for previous criu image files in pre-dump option` in case of pre-dumps only, Is there similar thing in `runc` which can do incremental checkpointing for full dumps also?

[2020-10-14 05:34] adrianreber commented on #1231
So it seems to work if you have image files. Just try to restore it.

The warnings and errors you see do not look fatal, but are more from the start of CRIU where it tries to test what your environment enables it to do.

If it would be a 'normal' container (not kata) I would say, run it with `--tmpfs  /run` to mount a tmpfs at /run which would enable CRIU to save its temporary file and most of the

[2020-10-14 05:41] rppt commented on #1231
We cannot checkpoint a kata container because it uses KVM and saving/restoring KVM state is not implemented in CRIU

[2020-10-14 06:22] adrianreber commented on #1232
I went back to a 5.6 kernel and still see the problem but with a 5.3 kernel the problem is gone. So between 5.3 and 5.6 something changed in the kernel which makes restored Java processes use 100% CPU.

[2020-10-14 07:14] hberntsen commented on #1232
I've just tested it on an LTS kernel (5.4.70-1-lts) and it works fine.

[2020-10-14 07:48] z760284582 commented on #1231
Running restore directly will report the following error, regardless of the same error as the previous dump report, does this seem to have no permissions? How can I give it permission to write...

command: ./criu/criu/criu restore  -D ch/ --shell-job
Error (criu/util.c:624): exited, status=3
Error (criu/util.c:624): exited, status=3
Warn  (criu/net.c:3166): Unable to get tun network namespace
Warn

[2020-10-14 07:48] avagin commented on #1232
This is due to time namespaces. I will look at this tomorrow. Thank you for the report.

[2020-10-14 07:53] z760284582 commented on #1231
not checkpoint a kata container but  use criu to save/restore program in the kata container, does it work?

[2020-10-14 08:10] adrianreber commented on #1231
Using docker with `runc` instead of `kata-runtime` requires the flag `--privileged` to be able to run CRIU in the container. Does that also work with `kata-runtime`?

[2020-10-14 08:17] avagin commented on #1232
I figured out where the problem is. We forgot to apply timens offsets in the futex syscall. We didn't know that it can use absolute timeouts. We will need to patch the kernel to fix this issue.

As a workaround, you can temporary disable the time namespace in criu:
diff --git a/criu/kerndat.c b/criu/kerndat.c
index b2c47c532..b96ec0a00 100644
--- a/criu/kerndat.c
+++ b/criu/kerndat.c
@@ -791,6 +79

[2020-10-14 08:34] z760284582 commented on #1231
like:docker run --runtime runc -it --privileged zou:v2 /bin/bash
it can save/restore normally, with a warn Warn (criu/kerndat.c:877): Can't keep kdat cache on non-tempfs.
so It's still the problem of kata....
Is there any way to add that permission to write...? maybe then it can restore ...

[2020-10-14 08:39] adrianreber commented on #1231
But that sounds like a problem you need to solve in kata. You need to figure what is necessary to let kata write to /proc/sys/kernel/ns_last_pid.

As this is not a CRIU problem I am closing this issue. There is nothing wrong with CRIU at this point.

[2020-10-14 08:39] #1231 closed

[2020-10-14 12:43] adrianreber opened #1234 "docker's checkpoint support broken in 20.10 (Travis)"
In my latest Travis runs I see that docker no longer works. The CI script installs docker 20.10.0-beta1 and this gives following error:
[code]

[2020-10-14 14:22] rst0git commented on #1234
https://github.com/moby/moby/pull/41546

[2020-10-14 14:27] rst0git commented on #1223
Yes

I think it would be better to fix the integration test in moby: https://github.com/moby/moby/issues/38963

[2020-10-15 10:53] #1233 closed

[2020-10-15 11:42] ashish-billore opened #1236 "Can't use --manage-cgroups option while dump"
I am trying to use: --manage-cgroups full option during dump, like this:

`$ criu dump --manage-cgroups full -t 30985`

 However, I keep getting error:
`Error (criu/crtools.c:146): excessive parameter for command dump`

Setup Details:
$criu --version
Version: 3.14

$ runc --version
runc version spec: 1.0.1-dev

$ lsb_release -a
No LSB modules are available.
Distributor ID:    Ubuntu
Description:

[2020-10-15 12:02] adrianreber commented on #1236
Are you trying to checkpoint a process out of a container. It looks like it from your log-file. That is not easily possible,

[2020-10-15 13:26] gitsvm commented on #1233
I'm not able to even verify it , i'm doing incremental checkpoints using runc command
`sudo runc checkpoint --leave-running --parent-path images --image-path images2/ <ctr_id>`
 and everytime the checkpoint size is same.  so unable to verify whether it is doing checkpoints incrementally and that too with full dumps.

[2020-10-15 14:11] gitsvm commented on #401
This full dump incremental checkpointing is there in criu  only? for runc incremental checkpointing is done with multiple steps of  pre-dump and then a single dump? not for multiple full-dumps(i.e. each dump will not be incremental)?

[2020-10-15 16:17] ashwani29 opened #1237 "criu dump fails without giving error/warning"
I'm  using the command to dump a container :

`sudo criu dump -t 4617 -v4 --track-mem --leave-running --images-dir images/1/`

Neither it shows any error nor it produces any checkpoint directory `images/1/`.
Cannot figure out what is happening here.

[2020-10-15 17:58] avagin commented on #1232
This is the kernel fix: https://lkml.org/lkml/2020/10/15/582

[2020-10-15 19:32] rst0git commented on #1237
@ashwani29 What container is that (Podman, Docker, LXC/LXD)? Container engines that support checkpoint/restore usually provide a command-line interface.

https://podman.io/getting-started/checkpoint.html
https://docs.docker.com/engine/reference/commandline/checkpoint/
https://linuxcontainers.org/lxc/manpages/man1/lxc-checkpoint.1.html

[2020-10-15 21:12] avagin commented on #1237
you can try to run it with strace:

sudo strace -fo strace.log -v -s 256 criu dump -t 4617 -v4 --track-mem --leave-running --images-dir images/1/

then you can try to read strace.log or share it with us and we will help

[2020-10-16 02:29] ashish-billore commented on #1236
@adrianreber Thanks for reverting back.
So, here's what I did:
1. Created a runc bundle, config.json is:
[config.json.zip](https://github.com/checkpoint-restore/criu/files/5388714/config.json.zip)

2. rootfs and config.json were generated using a previous docker container, as suggested [here](http://crunchtools.com/getting-ninja-runc/)

3. Then checkpointing is attempted, by following commands (wi

[2020-10-16 05:39] adrianreber commented on #1236
I would say, from looking at your log-file, the problem is how you start your container with runc. stdout, stdin and stderr need to be disconnected from your processes and the checkpoint fails because of this:
```(00.109167) Error (criu/files-reg.c:1372): Can't lookup mount=25 for fd=0 path=/dev/pts/5```

If trying to checkpoint on the runc level I am starting containers like this:
```runc run rhe

[2020-10-16 08:28] ashwani29 commented on #1237
@rst0git  I'm using a `runc` container.

[2020-10-16 08:29] ashwani29 commented on #1237
@avagin :
below is the strace log file:
[code]

[2020-10-16 08:43] ashwani29 commented on #1237
@avagin below is  the strace log file:
https://drive.google.com/file/d/1Id46z9aurCfKU72_EvKxtqDln_R83bvc/view?usp=sharing

[2020-10-16 08:52] adrianreber commented on #1237
```1589  write(4, "(02.250060) Error (criu/mount.c:945): mnt: Mount 1133 ./sys/fs/cgroup/freezer (master_id: 26 shared_id: 0) has unreachable sharing. Try --enable-external-masters.\n", 163) = 163```

You are trying to checkpoint a process out of a container. That requires many additional parameters to handle resources which are only reachable from within the container. It also requires special ha

[2020-10-16 09:02] ashwani29 commented on #1237
process out of the container means?  do you mean i'm trying to checkpoint a container from outside the container and criu dump cannot resolve some resources always?

[2020-10-16 09:37] ashish-billore commented on #1236
@adrianreber thanks for looking into it.

I used your recommendation: launching runc with `-d &> /dev/null < /dev/null`
I also simplified the config.json to remove stuff which docker puts in and not needed.

With these changes, finally it worked :)

I am wondering if there any way to tell runc not to associate a terminal with the container or pass ` /dev/null ` in it's config.json, to avoid such i

[2020-10-16 09:46] xy815661276 commented on #1195
Nice to see that works,I'm trying to use criu on android.Unlike you using android-ndk, I use patchelf to patch the compiled dynamic criu.Can you provide your compilation script? I have used android-ndk to compile successfully before, but it cannot run successfully.
My implementation is here：
[https://github.com/xy815661276/Android-criu](url)

[2020-10-16 09:48] adrianreber commented on #1236
I am not aware of how to do it differently. It probably it is possible, but I do not know how. Good that it works. Can we close this ticket?

[2020-10-16 09:49] adrianreber commented on #1237
Yes

[2020-10-16 09:57] ashwani29 commented on #1237
Thanks @adrianreber , One last question, with `criu` in command `criu dump --tree <pid> --images-dir <path-to-existing-directory-B>  --prev-images-dir <path-to-directory-A-relative-to-B> --leave-running --track-mem`  we can either pass pre-dump state or full dump state to the value field of the flag `--prev-images-dir` and the next full dump will be an incremental one but in `runc` incremental che

[2020-10-16 09:59] ashish-billore commented on #1236
Sure, not associate `stdout, stdin and stderr` with runc container is a separate issue, so I am closing this ticket.
Thanks!

[2020-10-16 09:59] #1236 closed

[2020-10-16 12:30] adrianreber commented on #1237
Yes, nobody implemented what you need in `runc`. You would need to implement this.

Please close this if there are no more questions.

[2020-10-16 12:33] rst0git commented on #1237
@ashwani29 you can use `runc checkpoint` with `--parent-path` and `--pre-dump`.

[code]

[2020-10-16 12:42] adrianreber commented on #1237
@rst0git I understood @ashwani29's question if it is possible to do a full dump with memory tracking in `runc` and not just a pre-dump.

[2020-10-16 13:26] ashwani29 commented on #1237
@adrianreber  yes exactly that's what I wanted to know.  It was strange to see that `criu` supports incremental checkpointing with full dump but not `runc` and we always say do checkpoint with `runc` not `criu` because of multiple options that `runc` will prepare for you safely. but still there's some lacking in `runc` which is not in `criu`.

[2020-10-16 13:29] adrianreber commented on #1237
From my point of view the situation is pretty simple. Nobody needed the feature until now, so nobody implemented it.

If you need you need to implement it.

[2020-10-16 13:30] ashwani29 commented on #1237
yes I've to implement it.  thanks for all the help.

[2020-10-16 13:30] #1237 closed

[2020-10-16 14:20] rst0git commented on #1237
@adrianreber thank you for clarifying that.

@ashwani29 I think you can add `track-mem` in `/etc/criu/runc.conf` and then you can use
`runc checkpoint --leave-running ...`

[2020-10-16 14:21] adrianreber commented on #1237
Good idea.

[2020-10-16 14:22] rst0git commented on #1237
https://criu.org/Docker#Passing_additional_options

[2020-10-16 17:54] ashwani29 commented on #1237
Thanks @rst0git  this is very helpful.

[2020-10-17 07:46] AHEADer commented on #534
In the Eurosys 20, a paper named "Balancing Efficiency and Fairness in Heterogeneous GPU Clusters for Deep Learning" said they implemented this by using CRIU.

[2020-10-17 08:27] rst0git commented on #534
@AHEADer thank you for sharing this.
[(2020) Balancing efficiency and fairness in heterogeneous GPU clusters for deep learning](https://github.com/checkpoint-restore/criu/files/5395205/2020.Balancing.efficiency.and.fairness.in.heterogeneous.GPU.clusters.for.deep.learning.pdf)

[2020-10-17 08:44] adrianreber commented on #534
Indeed, thanks for pointing out that paper.

I just had a look and they write that they do not checkpoint the GPU part only the CPU part.

Seems to be an unmodified CRIU without any GPU support.

[2020-10-17 09:52] AHEADer commented on #534
So does it mean if we somehow copy the GPU memory & status back then we can resume it by recomputing based on some checkpointed status?

[2020-10-17 10:50] adrianreber commented on #534
You should read the paper. They write that they use some kind of proxy to decouple the CPU process from the GPU process.

As long as you are able to close the connection to the GPU before checkpointing it should be doable, but the application needs to be checkpoint aware.

[2020-10-17 13:52] AHEADer commented on #534
Many thanks for your reply. Now I understand what they do now. It's better to have a try following their ways.

[2020-10-20 08:07] Snorch commented on #1079
JFYI: I also see it, both on criu and vzcriu running on VZ7 (but in host flavour(both)):

[code]

https://ci.openvz.org/job/CRIU/job/CRIU-virtuozzo/job/criu-dev/6892/consoleFull

[code]

https://ci.openvz.org/job/CRIU/job/CRIU-virtuozzo-stable-lazy/job/vz7-u15/562/consoleFull

My current assumption is that someone else had connected to server before client can, and thus we can't read required resp

[2020-10-21 06:07] z760284582 opened #1239 "criu docker checkpoint error"
Hi, when i'm using criu to run the  looper container example, i get some error
host:ubuntu 18.04 , docker version 17.06.2-ce,criu version 3.12

docker run -d --name looper --security-opt seccomp:unconfined busybox  \

docker checkpoint create looper checkpoint1

Error response from daemon: Cannot checkpoint container looper: rpc error: code = 2 desc = exit status 1: "criu failed: type NOTIFY errno

[2020-10-21 06:14] adrianreber commented on #1239
This sounds a lot like https://github.com/checkpoint-restore/criu/issues/860. This is a Ubuntu kernel bug which is a result of carrying non-upstream kernel changes. Please complain at: https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1857257

Possible solutions are to not use Ubuntu, use some other Linux distribution or switch to another graphdriver (devicemapper) like we do for our CI tests:

[2020-10-21 06:14] #1239 closed

[2020-10-21 06:45] ashish-billore opened #1240 "Can't restore checkpoint across hosts: ERRO[0000] criu failed: type NOTIFY errno 0"
I am able to checkpoint and restore a runc bundle on same VM.
However, when I copy the checkpoint to another similar VM, restore fails and does not even generate any logs.

What I did is:

1. Start a container:
[code]

Config is: [config_json.txt](https://github.com/checkpoint-restore/criu/files/5413761/config_json.txt)

2. Checkpoint it:
[code]

3. Now I scp the whole runc bundle dir contents (in

[2020-10-21 06:49] adrianreber commented on #1240
To get the CRIU log files you have to tell runc to put them in another location. Use the option `--work-path` in `runc restore` to put the log files somewhere else. With this it should be possible to get the `restore.log` and understand why restore fails.

[2020-10-21 07:03] ashish-billore commented on #1240
@adrianreber Thanks for the info, I am able to get the logs now.

Seems criu had some problem with mounting tmp files:
[code]
Here is the complete restore failure log
[restore.log](https://github.com/checkpoint-restore/criu/files/5413881/restore.log)

[2020-10-21 07:10] adrianreber commented on #1240
Not entirely sure, but `/proc/asound` seems to be alsa related. Can you make sure you have the same modules loaded on the destination side. From a quick look at the kernel the module `soundcore` seems to be responsible to create `/proc/asound`. Probably because it is listed as a masked path in `config.json`.

[2020-10-21 08:38] ashish-billore commented on #1240
@adrianreber thanks for checking this, indeed it was the soundcore module.
At first I enabled the soundcore module ($modprobe soundcore) on the other node, but somehow, restore still did not work.
Once I updated the config.json to remove it, restore worked on other node.

Actually, I used the runc spec tool to generate the config, so just had the default config entries.
I'll try to clean-up the co

[2020-10-21 08:44] Heming-Zhong commented on #1223
Hello sir,it seems that docker v19.03.12 has the the same problem.

[2020-10-21 09:03] adrianreber commented on #1240
So is everything working for you now? Can we close this?

[2020-10-21 09:42] ashish-billore commented on #1240
sure, thanks @adrianreber
I'll close this issue.

[2020-10-21 09:42] #1240 closed

[2020-10-21 15:30] 0x7f454c46 opened #1241 "arm/arm64: mprotect() parasite: RX for .text; RW for .data"
Align arm32/arm64 code to other platforms. See #1229.

[2020-10-21 17:40] rst0git commented on #1223
Hi @Heming-Zhong, could you please try the following?
[code]

[2020-10-22 00:41] Heming-Zhong commented on #1223
Hello,sir. I have tried your edition of docker and it runs well. It seems that the original version of docker's server I installed is 19.03.12-ce from the manjaro community repos. Is that means the "ce" version can't handle checkpoint/restore well?

[2020-10-23 06:33] ashish-billore opened #1242 "criu with k8s, how to?"
First, this is not an issue, just a query, so please feel free to action it accordingly.

**Context:**
So far I am able to make criu checkpoint and restore work well for my application ([user_sctp](https://github.com/sctplab/usrsctp) based sctp application) with runc directly (no management/orchestration layer above), all thanks to support from criu community and @adrianreber  :+1:

Now my goal is

[2020-10-23 10:13] adrianreber commented on #1242
I am not aware of any other public discussions around Kubernetes and container migration.

[2020-10-23 21:18] buck2202 commented on #1223
@Heming-Zhong
If you want a working downgrade through OS repositories, I think you also need to drop containerd to 1.2.x as implied by moby/moby#41531. The static build you downloaded above included a binary for containerd 1.2.13.

For what it's worth, a quick check of the combination of docker-ce 19.03.13 and containerd 1.2.13 from the download.docker repository seems able to restore. I checked d

[2020-10-24 09:15] ashish-billore commented on #1242
@adrianreber thanks for the response.

Sure, as I understand the above community activities will take a while to have checkpoint and restore available for pods with k8s, so I was looking for a working PoC possibly with workarounds, just to try it out with k8s pods.

Thanks!

[2020-10-26 04:56] mind-mind opened #1243 "Hi everyone,"
I’m trying to checkpoint the container docker. I cannot use the docker checkpoint. I’m quite sure that it was because of CRIU.

Any suggestion?

Here is an error.
![120062726_806064590226176_5184653886753557053_n](https://user-images.githubusercontent.com/68138683/97135210-440fb700-1782-11eb-9ab3-ccf164290f2f.png)

![120037751_3297638410284981_2994700580323920014_n](https://user-images.githubuserc

[2020-10-26 04:57] mind-mind commented on #1243
![120221459_261960031630305_683271880059858685_n](https://user-images.githubusercontent.com/68138683/97135262-6275b280-1782-11eb-8b40-f3442d3921a3.png)

[2020-10-26 07:01] avagin opened #1244 "FAIL: cow00.c:105: A page is not shared"
========================== Run zdtm/static/cow00 in h ==========================
Start test
Test is SUID
./cow00 --pidfile=cow00.pid --outfile=cow00.out
Run criu dump
Send the 15 signal to  54
################# Test zdtm/static/cow00 FAIL at result check ##################
Test output: ================================
02:07:18.845:    54: OK
02:07:18.867:    54: FAIL: cow00.c:105: A page is not sh

[2020-10-26 07:02] avagin commented on #1244
This was broken in https://github.com/torvalds/linux/commit/17839856fd588f4ab6b789f482ed3ffd7c403e1f and fixed in https://github.com/torvalds/linux/commit/a308c71bf1e6e19cc2e4ced31853ee0fc7cb439a.

[2020-10-26 07:09] adrianreber commented on #1243
It would be easier if you provide log files instead of screenshots, but there are currently a few problem with docker and Ubuntu concerning CRIU. First of all docker is broken concerning checkpoint/restore (see https://github.com/checkpoint-restore/criu/issues/1223) and then there is always the chance of hitting a Ubuntu only kernel bug (see https://github.com/checkpoint-restore/criu/issues/860).

[2020-10-26 07:09] #1243 closed

[2020-10-27 11:03] ashwani29 opened #1245 "cannot checkpoint a container running in different network namespace"
I'm trying to checkpoint a container running in a different network namespace, by creating a veth-pair in the host.

But criu fails to checkpoint the container.

[config.json](https://drive.google.com/file/d/1VdjTsLgEPOPX24MsgDrS6t1eXHYLzA9x/view?usp=sharing)
[dump.txt](https://drive.google.com/file/d/1r31fA9obZ9p9DYGjSTcHx2jSjjUVW-BE/view?usp=sharing)

[2020-10-27 11:13] adrianreber commented on #1245
This failure has nothing to do with networking:
[code]
Try to unmount that directory before starting the container and/or unload the `fuse` module.

[2020-10-27 11:41] ashwani29 commented on #1245
and how to unmount this? If I remove the below section, it will unmount whole `/sys/` directory
[code]

[2020-10-27 13:21] adrianreber commented on #1245
You have to remove `"rbind"` to not bind mount `/sys` from the host but use a `/sys` which is independent of the host.

[2020-10-27 14:24] ashwani29 commented on #1245
It throws below error, but there is `sys` directory present inside `rootfs`
`ERRO[0000] container_linux.go:353: starting container process caused: process_linux.go:437: container init caused: rootfs_linux.go:58: mounting "/sys" to rootfs at "/home/user/FRC/rootfs/sys" caused: no such device`

[2020-10-27 15:08] #1206 closed

[2020-10-27 15:47] ashwani29 commented on #1245
changed `type` and `source` to `sysfs` then it thrown an error and suggested to use `--tcp-established`, did that too and now the error is this:
[code]

[2020-10-28 03:02] Jerrymarck opened #1246 "how to criu a socket connection to another container?"
I use a phone use socket build a connection with a container, but I want to criu the docker server froms host A to host B.
How can i  realize this migration?
I will be appreciated if I could get a little help.

[2020-10-28 08:12] adrianreber commented on #1246
Can you please rephrase. I am not sure I understand what you are trying to do? Did you already try something which failed. Can you share the commands you were using?

[2020-10-28 08:16] Qinghe12 opened #1247 "CRIU restore App with openmpi error"
#  ./criu restore  -j -D ./graph500-ckpt/  --tcp-established
 21713: Error (criu/files-reg.c:1831): Can't open file tmp/ompi.localhost.0/pid.21713/hwloc.sm on restore: No such file or directory
 21713: Error (criu/files-reg.c:1767): Can't open file tmp/ompi.localhost.0/pid.21713/hwloc.sm: No such file or directory
 21713: Error (criu/files.c:1210): Unable to open fd=20 id=0x58

Restore failed with

[2020-10-28 08:16] adrianreber commented on #1245
Looking at your `config.json` it seems you are running an interactive shell in your container. That does not sound like a good idea to be used in combination with checkpoint and restore. Please run something else in your container. sleep for example. You also have to redirect stdin, stderr and stdout to /dev/null when using runc if you want to checkpoint and restore the container.

[2020-10-28 08:20] adrianreber commented on #1247
To restore a process all files the process opened need to exist on the destination system or else the restore, like in your case, will fail. CRIU does not handle files during checkpoint/restore/migration. It is your responsibility to make sure the destination file-system has all files the process needs to run. In the simplest case you need to copy all open files from the checkpointed process to th

[2020-10-28 08:21] Qinghe12 commented on #375
@johnmoore4    I met the same issue, did you got any solution ？

[2020-10-28 08:25] #375 closed

[2020-10-28 09:00] Qinghe12 commented on #1247
@adrianreber  thanks for your replay

Yes ,I can  backup omp/ompi.localhost.0/pid.21713 to destination file-system，while  new issue  happened with log following
./criu restore  -j -D ./graph500-ckpt/  --tcp-established -d
 21823: Error (criu/files-reg.c:1831): Can't open file dev/shm/vader_segment.localhost.85ba0001.0 on restore: No such file or directory
 21823: Error (criu/files-reg.c:1767): Can

[2020-10-28 12:35] adrianreber commented on #1247
You must understand how Open MPI works if you want to checkpoint Open MPI processes. What Open MPI does, it starts one main process and this process forks the actual copies (ranks) of the program you are trying to run. To be able to do MPI communication between the processes Open MPI sets up communication channels depending on your environment. Shared memory for processes on the same host or TCP o

[2020-10-29 01:40] Jerrymarck commented on #1246
@adrianreber thanks for your apply
I build a video container based on nginx image, the user can connect the container and play the video.and I want to migrate the video container from PC A to PC B, but A and B hold different IP address, and the user should not be aware of migration. But the PC A and PC B hold different IP address ,so the migration is failed, I wonder how to fix this problem.
The e

[2020-10-29 02:29] Qinghe12 commented on #1247
Thanks again,  i have tried it.
Copying /dev/shm files can solve the last problem.

New problem happend as following:

./criu restore  -j -D ./graph500-ckpt/  --tcp-established -d
 22595: Error (criu/cr-restore.c:1724): Pid 22677 do not match expected 22674
 22595: Error (criu/cr-restore.c:1477): 22677 exited, status=1
Error (criu/cr-restore.c:1479): 22595 killed by signal 9: Killed
Error (criu/cr

[2020-10-29 07:20] Qinghe12 commented on #514
@vasilyrud  I  met the same problem with restore ...
 Could you  show the way to workaroud or just to fix it ?

['./criu-ns', 'restore', '-j', '-D', './graph500-ckpt/', '--tcp-established']
iptables: Bad rule (does a matching rule exist in that chain?).
Error (criu/util.c:618): exited, status=1
Error (criu/netfilter.c:103): Iptables configuration failed
iptables: Bad rule (does a matching rule exi

[2020-10-29 07:20] vutuong commented on #1242
@ashish-billore You should check @Schrej works here: https://github.com/kubernetes/kubernetes/issues/3949. He has done a very wonderful job. He also published the document for testing pod migration in K8s ( in the thread) https://docs.google.com/document/u/1/d/1E5p_FOHDGAp5YEQ23dCi9I8wPnMzd4aOazxI4uO_AMo/edit
I also tested his work and it can work well.

[2020-10-29 07:37] adrianreber commented on #1246
IP addresses have to be the same for a working migration with established TCP connections.

This really depends on your container setup. The IP in the container can easily stay the same, but this still does not mean it will work if you do not have the correct IP setup before the container (bridges, NAT, whatever you do).

[2020-10-29 07:41] adrianreber commented on #1247
I got an email with a new comment from you, but I do not see it here. Did you delete your comment? If the problem is solved, please close the ticket.

[2020-10-29 09:52] ashish-billore opened #1249 "Checkpoint fails in dind: Can't dump tmpfs content"
Background:

I have prepared a [dind](https://hub.docker.com/_/docker) container ([version 20.10-rc](https://github.com/docker-library/docker/blob/b1d2628005e12e79079c025c3653cba248d6f264/20.10-rc/dind/Dockerfile)) with criu and verified the[ loop script example ](https://criu.org/Simple_loop)works fine:

[code]

-------------------------------------------------------------------------------
Versi

[2020-10-29 10:00] adrianreber commented on #1249
The tar executable in your setup from busybox cannot handle CRIU options. You need a real tar and not the one from busybox.

[2020-10-29 10:09] ashish-billore commented on #1249
@adrianreber Thanks for the info, I'll update that.
I am also curious about these errors and warnings from `criu check`:

[code]

I wonder if these may result in issues with restore or more complex container checkpoint/restore like dealing with sockets etc.
Any thought how I could resolve these check errors and warnings in dind?

[2020-10-29 10:16] adrianreber commented on #1249
The criu check messages do not sound problematic. Probably. I am not familiar with dind, so it might be a problem at some point. Not sure.

[2020-10-29 11:56] Qinghe12 commented on #1247
yes, I have tried to copy all file it need ,and it works for me. It can restored  many time successfully in a same Physical Machine

While when migrating to Virtual Machine—qemu in the same Physical Machine ，another problem happened as following..

Could  you tell me what happened ? module missing in qemu？

-bash-4.3# ./criu-ns  restore  -j -D ./graph500-ckpt/ --tcp-established
['./criu-ns', 'rest

[2020-10-29 13:58] adrianreber commented on #1247
Running `podman container checkpoint` on a VM I see following diag modules being loaded:
[code]

[2020-10-29 15:16] rst0git commented on #1249
@ashish-billore [moby](https://github.com/moby/moby) has a [Dockerfile](https://github.com/moby/moby/blob/bb23f1bf61cb49c5aa3f7df934d79c305afb7c8c/Dockerfile#L21) with pre-installed CRIU that is used as a [development environment](https://github.com/moby/moby/blob/87e7930892e5d0b3b5d3c17ad1fad793ed6e1c0e/docs/contributing/set-up-dev-env.md#task-2-start-a-development-container).
Docker-in-Docker wi

[2020-10-30 08:32] #1247 closed

[2020-10-30 09:08] Qinghe12 opened #1251 "Error (criu/files.c:1210): Unable to open fd=9 id=0x4d"
Restore failed  issue

Can I know which file I need to restore normally migrating to another machine?

[localhost criu]# ./criu-ns  restore  -j -D ./graph500-ckpt/ --tcp-establish
['./criu-ns', 'restore', '-j', '-D', './graph500-ckpt/', '--tcp-established']
[ 1174.512830] new mount options do not match the existing superblock, will be ignored
 45859: Error (criu/files.c:1210): Unable to open fd=9

[2020-10-30 09:43] adrianreber commented on #1251
Please run it with `-v4` and share the log file.

[2020-10-31 02:39] Qinghe12 commented on #1251
[root@localhost criu]# ./criu-ns  restore  -j -D ./graph500-ckpt/ --tcp-establis
hed  -v4
['./criu-ns', 'restore', '-j', '-D', './graph500-ckpt/', '--tcp-established', '-v4']
(00.000000) Will dump/restore TCP connections
(00.001281) Version: 3.14 (gitid 0)
(00.002616) Running on localhost Linux 4.19.114+ #3 SMP Thu Oct 29 07:29:50 EDT 2020 aarch64
(00.005307) Loaded kdat cache from /run/criu.kdat

[2020-10-31 05:48] dineshputchala commented on #412
@rst0git Is time namespace support available in OracleLinux 7.x OS ? which Kernel versions has this support ?
@avagin Which version of CRIU has time namespace support ? Is it there in Version: 3.12 ?

[2020-10-31 07:03] avagin commented on #412
@dineshputchala Time namespaces have been merged in v5.6, but the current implementation doesn't fix this issue. We need to save/restore start_time for processes to fix this issue.

[2020-10-31 10:09] adrianreber commented on #1251
[code]
The directory `.` you are running this seems to have the wrong mode. Do `chmod` before running the restore.

[2020-10-31 11:15] Qinghe12 commented on #1251
I have tried it , but  nothing changed with the same error ..

Can CRIU create the file if found missing or  in bad mode?

[2020-10-31 12:47] adrianreber commented on #1251
No, because it is not only about the existence of a file it should have the correct content or your restored process can fail in strange ways. Randomly creating files does not make sense. The CRIU checks exists to avoid undefined behavior.

[2020-11-02 02:45] ashish-billore commented on #1242
@vutuong Thanks for the useful info.
I was aware of  @schrej work and the related discussion in the KEP (in my [original query](https://github.com/checkpoint-restore/criu/issues/1242#issue-727955513) above), however, didn't try the patches yet.
I'll try these patches and wish this feature lands in k8s soon.
Thanks!

[2020-11-02 06:40] ashish-billore commented on #1249
@adrianreber
Indeed the issue was with the default tar package in dind's Alpine base image. After updating it, things worked fine :+1:
I'll close this issue. thank!

@rst0git Thanks for the useful info, I'll create my custom image with the moby's Dockerfile as reference.

[2020-11-02 06:40] #1249 closed

[2020-11-02 10:05] nishant-08 commented on #341
Hello.
Is this enhancement still desirable? I found this interesting and would like to work on this. My idea is pretty similar to what xemul mentioned, i.e. subtracting previous time from current time.

[2020-11-02 10:45] xemul commented on #341
Yes. Patches are welcome

[2020-11-02 15:03] gitsvm commented on #1237
@adrianreber , @rst0git  this file `runc.conf` is not present in my system. Does it appear with some other name?

[2020-11-02 16:14] adrianreber commented on #1237
Just create the file.

[2020-11-02 16:38] gitsvm commented on #1237
and then what things i should add? can you share it from your system so that i could know the format and it will help in adding the above said '--track-mem'` option. If you do not feel comfortable with this then please mention any sample form of `runc.criu` from other source.

[2020-11-02 18:28] technicianted opened #1252 "Possible corruption of AIO ring pages"
I'm trying to checkpoint/restore a complex application that uses AIO kernel rings. After adding some debugging code, it seems that during restore, ring page(s) contain invalid information.

I've added extra output that would also show the magic in the `struct aio_ring` during restore:
[code]

I've run checkpoint/restore on a simple application that creates an AIO context and performs async writes

[2020-11-02 18:51] adrianreber commented on #1252
I am not familiar with AIO code, but I have seen errors on the CentOS 7 kernel related to AIO. Which kernel and CRIU version are you using?

[2020-11-02 19:02] technicianted commented on #1252
Kernel 5.4.0-1031 and CRIU from criu-dev branch.

I'm not sure if it is kernel related though:

[code]
`ring` is set from `raio` which I believe is loaded from the pages we checkpointed and verified that they contain the correct information. This happens even before attempting to recreate the new ring io context in the kernel.

[2020-11-02 19:24] efluder opened #1253 "Inconsistent warnings/errors when checkpointing (Centos7)"
When checkpointing a Perl process in Centos7, sometimes I get errors and sometimes not and this can be during the same Job execution (LSF job). CRIU version 3.12.  Here is an example of one job that gave errors:

First checkpoint:

2020-11-02 13:55:21,179 lsf-criu[375123] DEBUG : job process id: 374915
2020-11-02 13:55:21,179 lsf-criu[375123] DEBUG : chkDir: /sc/arion/work/fludee01/margaret/TEST/c

[2020-11-02 19:30] adrianreber commented on #1253
@0x7f454c46 I see your name a lot in the compat file. Any ideas what is happening here?

[2020-11-02 22:21] 0x7f454c46 commented on #1253
[code]
Yes, this code can be reworked to be better: `arch_get_tls()` and `restore_tls()` can instead use `PTRACE_GET_THREAD_AREA` and `PTRACE_SET_THREAD_AREA` from compel. Totaly something to improve. Currently it may fail because of limit of vma in a process (vm.max_map_count) or because the process has already consumed all virtual memory below 4 Gb.

The failure shouldn't be very critical for 64

[2020-11-03 03:53] gitsvm commented on #1237
I added the `track-mem` option by creating a new file but it doesn't work, the next checkpoint is of the same size as the previous one.

[2020-11-03 05:40] technicianted commented on #1252
I found the problem. An issue in page copying not in CRIU. Thanks for your help.

[2020-11-03 05:40] #1252 closed

[2020-11-04 01:13] rst0git commented on #1237
1. Start a container with name `fedora`
[code]
2. Add options in the configuration file
[code]
3. Initial container checkpoint
[code]
4. Subsequent container checkpoint
[code]

[2020-11-04 07:36] adrianreber opened #1256 "Please rebase criu-dev"
I just tried to rebase criu-dev on master and it works without any conflicts. Let me know if I should open a PR for this.

[2020-11-04 08:07] adrianreber opened #1257 "Switch to travis-ci.com"
travis-ci.org will be disabled at the end of 2020 according to: https://docs.travis-ci.com/user/migrate/open-source-repository-migration#frequently-asked-questions

I switched my fork of criu to travis-ci.com and it still seems to work. Happy to help with the switch of the main repository.

It also includes access to AWS based aarch64 graviton2 bare metal systems which means we can run zdtm on aar

[2020-11-04 14:22] efluder opened #1258 "Restore fails because output file is bigger than when checkpoint taken"
Ran into this problem on restore of a test LSF job:
455439: Error (criu/files-reg.c:1702): File hpc/users/fludee01/TEST_PGMS/checkpoint/serial/myout.txt has bad size 25195 (expect 16965)
455439: Error (criu/files.c:1196): Unable to open fd=3 id=0x7

myout.txt is an output file and was added to by the program after the checkpoint was taken. I expected it to just be rolled back to the point of the c

[2020-11-04 14:43] adrianreber commented on #1258
CRIU does not touch any of the files involved. It is your responsibility to make sure the files during restore are **exactly** the same as during checkpointing. If any file does not have the same size and mode CRIU will not do the restore. In the case of log-files, like you have here, it would probably not hurt to just continue writing to the file even if the size has changed. But usually, if a fi

[2020-11-04 16:10] adrianreber commented on #1257
On my personal travis-ci.com account I hit the limit after about 10 CI runs. So it looks like Travis is not really an option for us.

There is the possibility to ask Travis for additional credits for OSS projects. So maybe we have to do that.

[2020-11-04 16:33] adrianreber commented on #1257
My proposal would be to first move as many CI runs away from Travis and then switch to travis-ci.com before end of 2020. See #1254

[2020-11-04 19:59] bindatype opened #1259 "Failed Dependency Installing from Source"
I'm attempting to install CRIU-3.14 from source and built the latest branch of protobuf but protoc-c and protoc-gen-c are not in the resulting bin directory. I'm sure I'm missing something simple but not sure what that is. Any guidance would be greatly appreciated.

[2020-11-04 20:26] adrianreber commented on #1259
This sounds more like a protobuf-c problem. Not really sure how to help you.

[2020-11-04 21:55] 0x7f454c46 commented on #1259
protoc is a separate from protobuf project: https://github.com/protobuf-c/protobuf-c

[2020-11-05 06:09] #1245 closed

[2020-11-05 07:54] ashwani29 opened #1260 "restoring client's connection on backup side."
I have a server running in a `runc` container, and the client is connected to that server.  I can successfully checkpoint the running container and migrate it to the backup destination, but when I'm restoring it, it doesn't successfully restore. It throws the below error (shown some part from last):

[code]
command i used for restoring container: `sudo runc restore --tcp-established --work-path lo

[2020-11-05 18:22] ashwani29 commented on #1260
UPD: The server is running in a different network namespace.
and @adrianreber  did you got prompted for password input when trying to `rsync` the checkpoint to the destination I this script: https://people.redhat.com/areber/criu/migrate
because the checkpoint folder contains `descriptor.json` file which is permission protected so when I use `rsync` without `sudo` it throws error of permission deni

[2020-11-05 18:30] adrianreber commented on #1260
I was running everything as root and never used sudo.

[2020-11-05 18:31] ashwani29 commented on #1260
So you have never had to enter the destination password too while rsyncing?

[2020-11-05 18:37] adrianreber commented on #1260
No, you just need to exchange ssh keys also for the root user and it will work.

[2020-11-05 18:45] ashwani29 commented on #1260
I've a custom client of request and a simple text-based response, the basic idea to keep the client connected is just to move the IP address of the server to the destination and of course, the client should not close once the server at source fails, it will retry until the destination server starts right? that's what the basic idea is behind keeping alive xonotic's client connection?

[2020-11-05 18:51] adrianreber commented on #1260
Not sure I understand your setup, but if your client tries to connect to the server IP while the process is being moved and if it is TCP, you might get a reset from the server if the process has not been restored. You can use iptables to drop any incoming packets during the migration to make sure your connection is not reset during the migration downtime.

[2020-11-05 19:37] ashwani29 commented on #1260
Ok, thanks, now I've corrected it (now I'm able to `rsync` `descriptors.josn` file without prompting for password input, I used a passwordless `sudo` script). can you please look into why the above restore is not working?

[2020-11-06 00:28] rst0git commented on #1260
@ashwani29 could you please share the full restore log file?

[2020-11-06 02:44] rst0git commented on #1259
https://criu.org/Installation#Installing_build_dependencies

[2020-11-06 04:57] ShunmugaPriyaR commented on #1221
Hi Adrian,

Thank you for the good reference for the pre-dump and lazy migrations.
Initially, I had a little hard time using oci-runtime-tool generate but the
suggestions in your link and the scripts helped to make it work easier.
Usually, in my experiments, I use OpenVPN configurations to maintain the IP
address dependability. I am curious about setting up the floating IP, which
I have not tried

[2020-11-06 05:01] ashwani29 commented on #1260
yes sure @rst0git, [restore.txt](https://drive.google.com/file/d/1KdJCnM-EnZtT3Qs6d6ArcoFWJJCOVAko/view?usp=sharing)

[2020-11-06 06:39] adrianreber commented on #1221
I also used OpenVPN but I set up a layer 2 tunnel, so that I had one subnet all around the world in my VPN tunnel and I could easily move the same IP address from one host to another all around the world without leaving the subnet and thus easily migrating the IP address from one host to another.

[2020-11-07 00:50] rst0git commented on #1260
Hi @ashwani29, the logs correspond to CRIU version 3.8.1 or earlier. It might be worth trying with a more recent version of CRIU.

[2020-11-07 04:05] ashwani29 commented on #1260
On my system it is showing 3.14

[2020-11-07 10:41] rst0git commented on #1260
Hmm, inferred (guessed) the version based on the line numbers showed in logs:

[`Error (criu/files.c:1191): Unable to open fd=4 id=0xa`](https://github.com/checkpoint-restore/criu/blob/086df7e5709f5c09c79647abced914388c80de2b/criu/files.c#L1191)

[`Error (criu/cr-restore.c:2171): Restoring FAILED.`](https://github.com/checkpoint-restore/criu/blob/086df7e5709f5c09c79647abced914388c80de2b/criu/cr-re

[2020-11-07 11:25] ashwani29 commented on #1260
Deeply sorry for this, I'm restoring the container on a VM and I didn't check the version on VM, 3.14 is on the host from which I'm sending the files to VM. let me check and run a  recent version on that VM.

[2020-11-08 10:01] avagin commented on #1256
Done

[2020-11-08 10:01] #1256 closed

[2020-11-08 20:35] avagin opened #1266 "pid_reuse.c:107: Task 11235 died with exit status 100 (errno = 9 (Bad file descriptor))"
[code]

[2020-11-08 21:18] ashwani29 commented on #1260
whenever i' running make for criu version 3.14 it throws the error of :
[code]

I've checked multiple times this file is present in `criu/include/linux/` directory, still, it is giving the same error again and again.
Some help here pls.

[2020-11-09 00:04] avagin commented on #1266
This is due to time namespaces. /proc/uptime is taking into account a time namespace offset, but start_time in /proc/pid/stat isn't.

[2020-11-09 03:25] ashwani29 commented on #1260
Hi @rst0git I updated the criu version to 3.14 on my VM. the problem was actually the mount.h file was not present in the Linux directory in the kernel so I copied the host's one to the VM.
the new restore logs are here,

[restore.log](https://github.com/checkpoint-restore/criu/files/5507931/restore.log)

[2020-11-09 04:33] avagin commented on #1266
I think it will be fixed by https://lkml.org/lkml/2020/10/27/3740

[2020-11-09 09:35] Qinghe12 commented on #1251
Restore error for lsm profile....

Is it necessary to check this？ Or how to work around?  thanks

(14.067330)  47750: Opening 0x00fffface42000-0x00ffffad243000 0000000000000000 (81) vma
(14.067469)  47737: sockets:    restore priority 0 for socket
(14.067795)  47745: Opening 0x00ffff8807d000-0x00ffff8807e000 0x00000000016000 (41) vma
(14.068220)  47751: Opening 0x00ffff9aeb7000-0x00ffff9aeb8000 0x

[2020-11-09 09:59] adrianreber commented on #1251
@Qinghe12 That sounds like another problem. I am closing this. Please open a new ticket with exact information about the commands you are running.

[2020-11-09 09:59] #1251 closed

[2020-11-09 11:19] Qinghe12 opened #1267 "Restore error for lsm profile"
Restore error for lsm profile....

Is it necessary to check this？ Or how to work around? thanks

(14.067330) 47750: Opening 0x00fffface42000-0x00ffffad243000 0000000000000000 (81) vma
(14.067469) 47737: sockets: restore priority 0 for socket
(14.067795) 47745: Opening 0x00ffff8807d000-0x00ffff8807e000 0x00000000016000 (41) vma
(14.068220) 47751: Opening 0x00ffff9aeb7000-0x00ffff9aeb8000 0x00000000

[2020-11-09 11:27] adrianreber commented on #1267
And now we need to know what you are exactly trying to do. CRIU claims `mismatched lsm types and lsm profile specified`. Did you specify a LSM profile. It this a SELinux or AppArmor system. If you open a ticket you need to give us some more information than just a few lines of output.

[2020-11-09 12:20] Qinghe12 commented on #1267
I'm trying to restore a mpi application (graph500) in qemu with a  exist checkpoint dump as following：

./criu dump -D ./graph500-ckpt/ -j --tcp-established -t  ${PID}
./criu restore -D ./graph500-ckpt/ -j --tcp-established

I  did not specify LSM profile .
SELINUX has been disabled in kernel  with "CONFIG_SECURITY_SELINUX is not set"

Could you tell  how to debug or any other information  you nee

[2020-11-09 12:44] adrianreber commented on #1267
So, this is strange and requires more information. Which kernel? Which distribution? We also need to see full log files.

If you do `crit show core-PID.img` you should see if some LSM information is included in the checkpoint. On a SELinux system I see: `"lsm_profile": "unconfined_u:unconfined_r:unconfined_t:s0-s0:c0.c1023"`

[2020-11-09 13:49] ZeyadYasser commented on #717
I was looking into this issue and starting to understand how pre-dumps work, but now I am blocked by a problem and need pointers on where to look or suggestions.
How to keep the same pidfd opened through iterative pre-dumps until the process is dumped?
If I get the pidfd of a process during pre-dump, this file descriptor will be closed when the pre-dump stage finishes, re-opening the pidfd on the

[2020-11-09 13:54] ashwani29 commented on #1260
found anything?

[2020-11-09 14:07] adrianreber commented on #1260
That seems to be another error:
[code]
Looking at the code this message should be seen when running without `--tcp-established`.

[2020-11-09 14:11] adrianreber commented on #717
I think you are right, @ZeyadYasser. Looking at the code of `detect_pid_reuse()` it does not seem possible to use pidfd. If I understand `detect_pid_reuse()` correctly it takes the start time out of the parent image and compares it with the start time of the the current pre-dump run.

pidfd would only be helpful if we can transfer the pidfd FD from one pre-dump run to another. Maybe using a socket

[2020-11-09 14:23] ashwani29 commented on #1260
Sorry again, i'm making so many mistakes right now :) . let me try it with correct command.

[2020-11-09 14:58] Snorch commented on #717
@adrianreber , No =) It takes current start time of the process and compares it with the previous pre-dump time. If process lives long enough to be in previous pre-dump we understand that there were no pid-reuse.

@ZeyadYasser , When you do iterative migration there is always some process which lives all the time (p.haul likely) and controlls the migration. You should just transfer pidfd to this p

[2020-11-09 16:55] mwerensteijn opened #1268 "Pid do not match expected, but clone3 support"
Hi all,

I have cross compiled CRIU for arm64 Linux and it survives all checks and dumps a process succesfully.
When I try to restore a checkpoint it fails to get the proper pid:
[code]

I have compiled the linux kernel with the correct CONFIG parameters so clone3 is available.
I cannot seem to find out why it cannot get the correct pid.
I have tried to manually set the pid - 1 in /proc/sys/kernel

[2020-11-09 17:10] adrianreber commented on #1268
Interesting. Especially the first case. The second log, looks like the process with the PID 302 already exists and CRIU just stops. That seems correct. The first log is the interesting one, because the expectation is that clone3() just fails if the PID is already in use and create a process with a wrong PID (329).

I do not understand:

This does not change anything because CRIU still uses clone3(

[2020-11-09 17:28] mwerensteijn commented on #1268
In the first case PID 302 is available.

In the second case the PID is also available but I manually set ns_last_pid to 301 so that the next PID when I call ../criu restore will be 302. I think that is expected then as Criu itself will have PID 302 and its child should get that PID.

[2020-11-09 17:49] mwerensteijn commented on #1268
Will do! Thanks for all the help sofar

[2020-11-09 18:35] mwerensteijn commented on #1268
Thanks so much @adrianreber , version 3.15 is working like a charm!
Been bumping my head on this all day, but I can succesfully restore now.

Thanks for your help and time!

[2020-11-09 18:42] #1268 closed

[2020-11-09 20:05] ashwani29 commented on #1260
Restore log after running command `sudo runc restore --tcp-established --work-path log/ <container_name>`

[restore.txt](https://github.com/checkpoint-restore/criu/files/5513006/restore.txt)

[2020-11-09 23:40] rst0git commented on #1260
[code]
You should be able to fix this by updating iptables to 1.6.2+

[2020-11-10 05:49] ashwani29 commented on #1260
Still same error, i updated the `iptables` to version `1.6.2`, now it is not showing such statement in the logs. but it throws error for
 the same line. :
`(01.012320) Error (criu/cr-restore.c:1480): 11953 killed by signal 127: Unknown signal 127`

[restore.txt](https://github.com/checkpoint-restore/criu/files/5515099/restore.txt)

[2020-11-10 08:53] ashwani29 commented on #1260
I still couldn't figure out. @adrianreber help here.

[2020-11-10 18:26] mikosa opened #1269 "CRIU not checkpointing docker container"
[code]

[2020-11-10 18:49] adrianreber commented on #1269
Yes, we know. Docker is broken. Also see #1223 and #1243.

You can always use Podman as a drop in replacement if you need checkpoint/restore support.

Closing this as this is a docker problem and not CRIU.

[2020-11-10 18:49] #1269 closed

[2020-11-10 19:04] rst0git commented on #1260
[code]

@0x7f454c46 any ideas what could be the reason for this error?

[2020-11-10 19:26] ashwani29 commented on #1260
@rst0git Some information about the scenario, might help @0x7f454c46 . I'm running the container in a network namespace on source host, this container is hosting a simple CPP server application, taken a checkpoint and migrated to another host, on destination host the network namespace is available and so is defined in the `config.json` of the container to be restored.
But on restore it fails.

[2020-11-10 19:34] ashwani29 commented on #1260
One more update, **restoring on the same host is working**, I mean on restore server is successfully running and if I start the client again, it is able to send requests and receive responses but from the initial state again. so how to make sure that the client's connection is restored from the state where it was disrupted.

[2020-11-10 19:37] adrianreber commented on #1260
Just a guess as the last message is about vdso, what Kernel versions are running on both hosts? Please share the checkpoint log file as well.

[2020-11-10 19:49] ashwani29 commented on #1260
Sure here it is,
[dump.txt](https://github.com/checkpoint-restore/criu/files/5519832/dump.txt)

[2020-11-10 19:55] adrianreber commented on #1260
If it is a VDSO problem @0x7f454c46 should probably now. One thing you can try, is to run the same version of the kernel on both systems.

[2020-11-10 20:02] ashwani29 commented on #1260
Ok trying now, and any idea about how to preserve the client's connection after migrating to the destination, i.e. its state should also be restored from where it was disrupted.  right now the client connection closes once I kill the container on the source host.

[2020-11-10 20:19] rst0git commented on #1260
@ashwani29 the error may occur because you're migrating a container from an older kernel (`5.3.0-64-generic`) to a newer one (`5.4.0-52-generic`).

[2020-11-11 01:52] 0x7f454c46 commented on #1260
Yeah, I'm not sure yet the problem here is in vdso. It can be, but let's see.
`Error (criu/cr-restore.c:1480): 11953 killed by signal 127: Unknown signal 127`
from
[code]
where `#define	__WTERMSIG(status)	((status) & 0x7f)`
`127` is `0x7f`, so the actual thing that happened was:
`#define	__WIFSTOPPED(status)	(((status) & 0xff) == 0x7f)`
The root task was stopped by received signal `WSTOPSIG()`.
Un

[2020-11-11 16:58] ZeyadYasser commented on #717
@Snorch Could we add pidfd based pid reuse detection to P.Haul directly [here](https://github.com/checkpoint-restore/go-criu/blob/master/phaul/client.go#L55) instead of passing the the pidfds back and forth between CRIU and P.Haul to do the same thing? since it already controls the migration flow from start to finish. please correct me if I am wrong.

[2020-11-11 17:16] ashwani29 commented on #1260
Hi, sorry for late reply, was busy in something. I tried building the same kernel on the destination side too, restore still failing, this is the log file :
[restore_changed_kernel.txt](https://github.com/checkpoint-restore/criu/files/5525625/restore_changed_kernel.txt)

I tried the patch too as suggested by @0x7f454c46 this is the log file : [restore_patched.txt](https://github.com/checkpoint-res

[2020-11-11 17:37] adrianreber commented on #1260
[code]
Now you have problems because on one machine the also modules are loaded and not on the other. See #1240 for the same error. Possible solutions are unloading the corresponding modules or removing the masked path from `config.json`.

[2020-11-11 19:29] ashwani29 commented on #1260
Now giving segmentation fault:
[restore.log](https://github.com/checkpoint-restore/criu/files/5526274/restore.log)

[2020-11-11 19:51] 0x7f454c46 commented on #1260
@ashwani29 yes, that's better.
Could you run with this debugging patch on the top to have some more logs?
https://github.com/0x7f454c46/criu/commit/60dd13351fe945ec09b0430644367d11050ba611
Thanks!

[2020-11-11 20:03] ashwani29 commented on #1260
Hi, your last patch contained a header `image-streamer.h`, so when I replaced the `criu_restore.c` file with the file which contained the patch, it was giving make errors, for the above header file. So when you say, apply the patch do you mean that just change code statements where there are changes?. Only then it worked last time.

[2020-11-11 20:10] 0x7f454c46 commented on #1260
I've rebased those two commits on the criu v3.14 that you use:
https://github.com/0x7f454c46/criu/commits/issue/1260

[2020-11-11 20:26] 0x7f454c46 commented on #1260
You can do:
[code]
To take those changes into your current git branch.

[2020-11-11 20:30] ashwani29 commented on #1260
[restore.log](https://github.com/checkpoint-restore/criu/files/5526592/restore.log) after applying the vdso patch

[2020-11-11 20:49] 0x7f454c46 commented on #1260
Yes, that what I've suspected.
I think, you can cherry-pick the last patch, it should help:
https://github.com/0x7f454c46/criu/commits/issue/1260

[2020-11-11 21:30] ashwani29 commented on #1260
still same error:
[Uploading restore.log…]()

[2020-11-11 21:43] 0x7f454c46 commented on #1260
Hmm, are you sure that you have rebuilt criu after applying the patch?
If so, you can run with this: https://github.com/0x7f454c46/criu/commit/645015d54e28037ddb472f01fc58a8148f5a4b16
But I'm pretty sure the last one should have solved it for you..

[2020-11-11 21:59] ashwani29 commented on #1260
yes i did, `make clean`, `make` and `sudo make install`.
New [restore.log](https://github.com/checkpoint-restore/criu/files/5526951/restore.log)

[2020-11-11 22:14] 0x7f454c46 commented on #1260
Thanks!
I reproduced it by moving printing. It seems there is an issue in compel logger..
Please, run with this patch instead, it should help:
https://github.com/0x7f454c46/criu/commit/aece1286f808ca0552ffaa08bbc5ef742dbd6c08
while I'll fix it properly in logger.

[2020-11-12 00:33] 0x7f454c46 commented on #1260
A proper fix for this in https://github.com/checkpoint-restore/criu/pull/1271

[2020-11-12 14:26] Qinghe12 commented on #1267
I have unified the filesystem in physical machine and qemu，

[2020-11-12 14:26] #1267 closed

[2020-11-17 11:50] adrianreber commented on #1259
I am closing this as it does not seem like a CRIU problem. Please re-open if necessary.

[2020-11-17 11:50] #1259 closed

[2020-11-17 11:51] adrianreber commented on #1258
Closing this as it is expected behaviour. Please re-open if you have additional questions.

[2020-11-17 11:51] #1258 closed

[2020-11-17 12:10] adrianreber commented on #1232
I can confirm it is fixed. Just updated the kernel on my Fedora system and a restored Java container does not use more CPU than before.

@HansvdLaan can we close this?

[2020-11-18 03:11] Qinghe12 opened #1278 "target process failed to start after criu-ns restore with “-d”"
I used criu-ns to restore with "-d", while target process didnot restart  after criu detach  as  follwing log.

#./criu-ns  restore  -j -D ./graph500-ckpt/ --tcp-established -d -v4

Whether criu-ns  cannot work with "-d"?

(01.380027) 73655 (native) is going to execute the syscall 215, required is 215
(01.380061) 73655 was stopped
(01.380087) 73647 was trapped
(01.380092) 73647 (native) is going t

[2020-11-18 07:48] Snorch commented on #1266
Thanks for assigning! I will take a look!

ps: sorry for a late responce but for 3 last weeks I was too deep in rebasing vzcriu to v3.15.

[2020-11-18 08:53] Snorch commented on #1266
Why do we run criu in time-namespace in the first place? Probably some tricky tests to simulate big time intervals between checkpoint and restore? Can you please remind me.

Pid-reuse detection technic relies on the fact that starttime and uptime we read from criu context are consistent between each other. So if they are not consistent all is bad...

[2020-11-18 11:34] Snorch commented on #1266
The commit which introduced running criu in time namespace:
0d8c0562f ("zdtm_ct: run each test in a new time namespace")
Note that fixup is needed to actually reproduce:
c83a0aae2 ("proc: parse clock symbolic names in /proc/pid/timens_offsets")

Before this commit we have (note: pstree needs additional patch to show timens difference with "-S" https://gitlab.com/psmisc/psmisc/-/merge_requests/25/c

[2020-11-18 15:57] hberntsen commented on #1232
Looks like the fix indeed landed in v5.10-rc1: https://github.com/torvalds/linux/commit/c2f7d08cccf4af2ce6992feaabb9e68e4ae0bff3#diff-a0e09fac216f72474730fca968820dba5f2b4c2155797f5008cc5a0df70cbcf2

[2020-11-18 16:00] HansvdLaan commented on #1232
Yes. To be sure, me and @hberntsen also verified. We build the latest release candidate v5.10-rc4 for debian. It works!  🎉

[2020-11-18 16:00] #1232 closed

[2020-11-18 21:40] mbien commented on #1232
5.9.8 has the fix too; (early 5.9 kernels had the same problem)

[2020-11-19 03:42] yimin-zhao opened #1279 "About the RPC option orphan-pts-master"
Hi there,

I am playing with podman's checkpoint/restore functionality, and I found there is one RPC option `orphan-pts-master` that only handled in `cr-service.c`, I have a few guesses, but I would like to ask the contributors/maintainers to know why? Are there more reasons about this?

Thanks.

[2020-11-19 06:21] adrianreber commented on #1279
Not sure, but probably no one needed it yet via CLI. Why are you asking? Podman uses runc/crun and the communication to CRIU is always going through RPC.

[2020-11-19 07:24] yimin-zhao commented on #1279
I am doing some investigating on "checkpoint/restore inside container", and curious about if the way of RPC communication is equivalent to calling CRIU in the command line. I found some options seems only appears in RPC mode (or swrk mode, specifically). I digged the git history, `orphan-pts-master` was once introduced (runc#814) by the reason of pts salve needs to be handled specially inside the

[2020-11-19 07:41] adrianreber commented on #1279
We try to expose every feature through CLI and RPC. But sometimes we forget. So maybe we just forgot and no one needed it until now.

Probably.

If that is all, please close the ticket.

[2020-11-19 07:43] yimin-zhao commented on #1279
Thank you for the clarification.

[2020-11-19 07:43] #1279 closed

[2020-11-19 07:46] avagin commented on #1278
@rst0git could you help with this?

[2020-11-19 07:51] avagin commented on #1266
@Snorch I reassigned it to you before I've investigated it. It should be okay to run CRIU in a time namespace and we need to do that to catch this sort of bugs.

[2020-11-19 08:54] rst0git commented on #1278
@avagin yes, I can look into this later today.

[2020-11-19 13:38] Snorch commented on #1236
Side note about cgroups:

Using "--manage-cgroups" solely without also setting "--cgroup-root"-s and probably "--cgroup-dump-controller"-s to dump a container can sometimes bring unexpected results of processes moving to other cgroups. So please be careful with those.

[2020-11-19 15:45] Snorch opened #1280 ""FAIL at criu lazy-pages/page-server exited with" with no proper error message visible"
Reported by Travis https://travis-ci.org/github/checkpoint-restore/criu/jobs/744605516

[code]

or

https://travis-ci.org/github/checkpoint-restore/criu/jobs/742657831
[code]

Manually I fail to reproduce it with `./test/zdtm.py run -p 2 -t zdtm/transition/fork --remote-lazy-pages`.

I have probably stupid idea - to make grep_errors() in test/zdtm.py also print at least last 10 lines of the log if

[2020-11-19 15:50] adrianreber commented on #1280
See #1277 for a 'lazy' workaround.

[2020-11-19 17:27] rppt commented on #1280
I have no clue where `-6 (ENXIO)` can come from in `criu lazy-pages exited with -6` except page-xfer. Could be a TLS again?

Usually to reproduce corner cases with `lazy-pages` I had to run some stress in the background and `zdtm` in loop ;-)

[2020-11-19 22:20] davidguichard opened #1282 "Restore fails because output file is bigger than when checkpoint taken redux"
Issue #1258 was closed because this "is expected behaviour", but that is not helpful--it doesn't really address the question. I have a similar issue.

I have a program expected to run for some time. I would like to occasionally checkpoint the process so that if the machine goes down I can restart it without losing the entire run. It is producing one output file (with real content, not just a log f

[2020-11-19 23:16] davidguichard commented on #1282
Hah!

https://src.openvz.org/projects/OVZ/repos/criu/browse/scripts/tmp-files.sh

[2020-11-20 04:20] ShunmugaPriyaR opened #1283 "CRIU Checkpoint fails - Command 69 for daemon failed with 1"
Hello,

I am using CRIU for my container checkpoint and restore for quite some time.

Recently when I tried to checkpoint an application ( where the CRIU migration worked earlier), I am getting the following two errors.

 Error (compel/src/lib/infect-rpc.c:72): Command 69 for daemon failed with 1
(00.413109) Error (criu/cr-dump.c:1378): Can't dump posix timers (pid: 25140)

I am using the runC com

[2020-11-20 06:44] adrianreber commented on #1282
Just adding the github link of the action script here: https://github.com/checkpoint-restore/criu/blob/master/scripts/tmp-files.sh

It seems you found a solution yourself. I am closing this. Please re-open if you have further questions.

Another way to avoid this is to use containers. Podman, for example, includes all file system changes in its checkpoint archive.

[2020-11-20 06:44] #1282 closed

[2020-11-20 06:48] adrianreber commented on #1283
The only idea I have, is that for some reason, your application is using code paths it has not used before and it is setting up a posix timer. Do you know what your application is doing? Do you know if it sets up a posix timer?

[2020-11-20 08:46] rst0git commented on #1278
@Qinghe12 as a workaround, until the issue is resolved, you can use the version of `criu-ns` before commit 265569a40f04326dc2b310eb5ddbac9c1cb989e3:

https://raw.githubusercontent.com/checkpoint-restore/criu/e18017285b69bf465f27a6ad46c17c70913e51d7/scripts/criu-ns

[2020-11-20 14:29] YangdaXing commented on #1127
@zhoufann9188 hello, I have met the same error when I used the `checkpoint` option to migration my container based on Podman. Have you ever solve the problem? Thanks

[2020-11-21 14:55] ashwani29 commented on #1260
Sorry for the late reply. very very thanks @0x7f454c46  finally it worked.

[2020-11-21 14:57] ashwani29 commented on #1260
closing this issue and thanks to everyone.

[2020-11-21 14:57] #1260 closed

[2020-11-21 22:04] gitsvm opened #1290 "redis server not running properly"
Did Anybody ever tried to run a redis server in a runc container, I have to run some checkpoints/restore tests for a redis server but whenevr I'm doing any get/set operation It always throws this error:
[code]
and on the server side in the terminal it show below error repeatedly:
[code]
This is my container config file : [config.txt](https://github.com/checkpoint-restore/criu/files/5578480/config.

[2020-11-22 10:05] adrianreber commented on #1290
I am closing this as this is not CRIU related.

[2020-11-22 10:05] #1290 closed

[2020-11-22 13:01] gitsvm commented on #1290
@adrianreber  where to ask this?

[2020-11-23 02:52] ShunmugaPriyaR commented on #1283
Hi Adrian,

Thank you for your input and prompt response always.

I dug deeper into this problem and please find below my observations:
1. If I use one CPU, then the checkpoint is working fine always.
2. If I increase the number of CPUs for the container environment, then the
posix timer problem is happening with the runC CLI based Checkpoint. - Is
this because of shared memory or something relate

[2020-11-23 15:48] eskuai opened #1291 "crun criu checkpoint failed"
Hello,

I am following the instructions from  [https://technology.amis.nl/2018/04/08/first-steps-with-docker-checkpoint-to-create-and-restore-snapshots-of-running-containers/](url)
I got
[code]
it logs:

` cr: /usr/local/bin/crun did not terminate sucessfully`

I dont know it is a crun problem ...

my config:

[code]

docker daemon.json:

[code]

docker info shows:
[code]
criu version

[code]

If

[2020-11-23 16:02] adrianreber commented on #1291
It sounds like a crun problem. But as I wrote the crun CRIU integration I would also answer there.

But, I never tested crun with docker only with Podman and crun needs at least CRIU 3.15 to work correctly and the version of crun you are using (0.15.1) does not have full crun support: https://github.com/containers/crun/blob/0.15.1/src/crun.c#L121

So your CRIU version is too old to work with crun.

[2020-11-23 16:02] #1291 closed

[2020-11-24 10:50] ashish-billore opened #1292 "Usage: criu with iterative checkpoint and restoring"
Please Note: this issue is more of a query, so please feel free to close it accordingly.

I am referring to [criu's iterative checkpoint and then finally restore.](https://criu.org/Iterative_migration)
My queries are:
1. What is the max limit to create iterative checkpoints?
2. I assume restore time will be proportional to number of checkpoints, for example restoring from 50 checkpoints will take

[2020-11-24 11:51] adrianreber commented on #1292
Not sure, but each pre-dump references one pre-dump. So it is a list of pre-dumps which could be really long. Have you seen any limits so far?

Yes, because CRIU needs to open all checkpoints and figure out which memory page it should use from which checkpoint. The actual time to restore the process (minus analyzing the checkpoint files) should be almost the same, but the whole restore will take l

[2020-11-24 23:43] kolyshkin opened #1293 "releases: provide a static binary"
Currently, releases come with .zip and .tar.gz of criu sources. Since many projects (docker and runc at the very least) use criu in their CI cycle, currently they have to compile criu binary before running tests.

It would be nice to have a static criu binary in release artefacts.

I just checked it on Fedora. Theoretically you can make a static binary by running `make LDFLAGS+=-static criu` (or s

[2020-11-24 23:44] avagin commented on #1293
Cc: @0x7f454c46

[2020-11-25 06:41] ashish-billore commented on #1292
Thanks @adrianreber for the clarifications and links, this is really helpful.

So, about this query:

my usecase is:
- I have a sctp socket based server application running with a lot of state data in memory, such as connected clients, their connection status etc, and this data is changing frequently. Let's call it primary node.
- To provide high availability, it is run behind a keepalived with VI

[2020-11-25 07:52] adrianreber commented on #1293
@kolyshkin Podman and crun use either the package from the Ubuntu PPA or the package from Fedora to run their CI against the latest released version of CRIU.

https://github.com/containers/crun/blob/master/.travis.yml#L86

Running a CI against the latest released version of CRIU should be easily doable right now. As long as you are not looking for the latest development release this should be a go

[2020-11-25 07:54] adrianreber commented on #1292
I had a quick look at the source code and the pre-dump restore handling seems to be a linked list without any limits.

But you should just try it out to see if it works for the number of pre-dumps you want to make.

[2020-11-25 08:13] Snorch commented on #1280
JFYI: https://api.travis-ci.org/v3/job/744854232/log.txt
[code]

[2020-11-25 09:48] rppt commented on #1280
[code]

Yeah, I think so. I'll rebase that patch and will send a PR.

[2020-11-25 12:34] ashwani29 opened #1294 "unable to dump tomcat container"
I'm running a tomcat container, explained in this link: https://medium.com/@Mark.io/https-medium-com-mark-io-lets-runc-9790d7ee30ee

when i tried doing checkpoints sometimes it is working and sometimes it doesn't.

[code]
But none of the times it is generating any log file from which i can trace the error.
See the 3rd command prompt it doesn't throw any error and i can see the dump files successfu

[2020-11-25 12:39] adrianreber commented on #1294
What is in the `log/` directory? Does that directory exist?

[2020-11-25 13:24] ashwani29 commented on #1294
Yes that exist

[2020-11-25 13:25] ashwani29 commented on #1294
Even stats. Dump file is there in run/run/tomcat/crou.work/ when I don't use work path,  but dump. Log is not there

[2020-11-25 13:51] adrianreber commented on #1294
Without dump.log we cannot help you. You need to figure out how to get that file.

[2020-11-25 13:52] ashwani29 commented on #1294
what could be the reasons that file is not getting shown?

[2020-11-25 14:01] brauner opened #1295 "criu dump: /dev/tty<N> devices created by bind-mounting /dev/pts/<M> devices"
I'm trying to fix a bunch of long-standing CRIU issues in LXC and I'm starting with dumping tty devices.

When launching LXC containers user can specify how many ttys they want via `lxc.tty.max`. For example `lxc.tty.max = 4` would mean that LXC allocates 4 tty devices:

[code]
These tty devices are created from the container's devpts instance. Specifically, when the container is started it will m

[2020-11-25 14:08] adrianreber commented on #1295
@avagin The error message is from code you wrote (a long time ago). Do you have any ideas how to make this work?

[2020-11-25 19:43] gitsvm commented on #1260
@adrianreber  do you mean you were running rootless container?

[2020-11-26 04:41] ashish-billore commented on #1292
Thanks @adrianreber for the info. I'll close this query-issue.

[2020-11-26 04:41] #1292 closed

[2020-11-27 02:40] vutuong commented on #1242
@ashish-billore I'm trying to gather information about why it needs to support podmigration in K8s as my research requirements. So could you please tell me your use-case or the reasons for that? Especially, the comparisons between podmigration and StatefulSets. Because we can also use StatefulSets to support for stateful applications without podmigration?

[2020-11-27 06:47] adrianreber commented on #1242
@vutuong It seems you have another definition of a stateful application than I do. How do you define a stateful application?

[2020-11-27 07:51] vutuong commented on #1242
To answer your question, I think it will be more clear if we consider what the state is? To my best knowledge, the state that relates to the StatefulSet, for example in :[https://www.youtube.com/watch?v=zj6r_EEhv6s&ab_channel=ThatDevOpsGuy](url), is something like a login session. For that, the states can be decoupled from the webserver process and store in other data storage (eg. Memcache, Redis,

[2020-11-27 11:00] adrianreber commented on #1242
When talking about stateful, from CRIU's point of view, it is about the actual state of all involved processes. Meaning everything the container processes have loaded in memory will still be loaded into memory after migration. Any kind of memory backed database for example. Or processes which need a long time to start and to initialize.

Not sure what a StatefulSet exactly is in Kubernetes, but it

[2020-11-27 21:59] kolyshkin commented on #1293
@adrianreber thanks, adopted it for runc (https://github.com/opencontainers/runc/pull/2691), let's see how it works.

Yet I think having a static binary still makes sense. One will be able to download a single file and use it on any distro. Not that it should be the preferred way of using criu, but it would be nice to have the option.

[2020-11-29 03:26] avagin commented on #1283
Could you attach a full criu log?

[2020-11-29 03:39] avagin commented on #1294
What is a criu version?

[2020-11-29 04:52] ashwani29 commented on #1294
version 3.14

[2020-11-30 10:46] Qinghe12 commented on #1278
@rst0git  yes,  the previous version works for me !!

[2020-11-30 10:46] #1278 closed

[2020-11-30 21:24] rst0git commented on #1295
Hi @brauner, a similar problem was resolved in runc by using the `orphan-pts-master` option (https://github.com/opencontainers/runc/commit/1c43d091a18a2f2dd73b46d49c678c265cf1ace3). However, this option is available only via RPC, but it can be used with libcriu (https://github.com/checkpoint-restore/criu/commit/83be11f1f4a24d05814a66061e04b9b4d0825763, https://github.com/containers/crun/commit/a15

[2020-12-01 10:11] brauner commented on #1295
On Mon, Nov 30, 2020 at 01:24:45PM -0800, Radostin Stoyanov wrote:

Ok, if that fixes it it would be great if we could also export this as a
command line option.

Thanks!
Christian

[2020-12-01 11:32] rppt commented on #1295
On Tue, Dec 01, 2020 at 02:11:34AM -0800, Christian Brauner wrote:

You know how this works in open source, right? ;-)
Patches are welcome :-)

--
Sincerely yours,
Mike.

[2020-12-01 13:00] brauner commented on #1295
On Tue, Dec 01, 2020 at 03:32:23AM -0800, rppt wrote:

You should read the last sentences in my original issue message above. ;)

[2020-12-01 14:02] rppt commented on #1295
On Tue, Dec 01, 2020 at 05:00:38AM -0800, Christian Brauner wrote:

tl'dr, sorry :)

Highly appreciated!

[2020-12-01 21:00] ZeyadYasser commented on #717
@Snorch Do you think this approach https://github.com/checkpoint-restore/go-criu/pull/35 increases the reliability of pid reuse detection? I mentioned a short coming of my approach in the PR which could make it not suitable in rare cases.

Your feedback would be highly appreciated.

[2020-12-01 21:22] adrianreber commented on #1293
I was able to publish Debian packages at https://build.opensuse.org/repositories/devel:tools:criu

If anyone wants to be added as admin to that project, just let me know.

[2020-12-02 01:47] xy815661276 commented on #1226
The reason is that Android uses 39-bit addressing, while ubuntu uses 48-bit addressing. In order to solve this problem, I am trying to convert a 48-bit address to a 39-bit address.

[2020-12-02 15:31] Snorch opened #1301 "compilling with rpmbuild default flags can fail"
If I run (options are taken from default rpmbuild `%{optflags}` on VZ7 which should be the same to Centos7):
[code]

I get (fedora 32):
[code]

Short reproduce:
[code]

And a criu/pie/parasite.built-in.o file actually has addres 0x80 after linking:
[code]

Probably introduced by 749eb33a9 ("compel: Calculate sh_addr if not provided by linker"), cc @devdri.

W/a: If I remove "annobin" cflag the pro

[2020-12-02 15:41] adrianreber commented on #1301
For the RHEL and Fedora package I am disabling annobin because when it was introduced it breaks the parasite.

https://src.fedoraproject.org/rpms/criu/blob/master/f/criu.spec#_9

I introduced it for CRIU 3.10: https://src.fedoraproject.org/rpms/criu/c/f643faef2e6d96a94d64f1ea7ffea0c193e42951

[2020-12-02 16:26] Snorch commented on #1301
Yes I understand that disabling this flag helps, but probably there is still a problem worth fixing if we can't handle parasite object file compiled with this flag.

[2020-12-02 16:36] adrianreber commented on #1301
Yes, a fix would be good. I thought it might be related to annobin adding additional sections to the parasite which makes it too big. But I never looked closer why it fails.

[2020-12-03 07:58] Snorch commented on #747
Still not fixed:
[code]
Looks like we need to fix it ourselves....

[2020-12-04 07:37] xy815661276 commented on #1226
The problem has been solved by using the same 48-bit addressing.
Extremely grateful.

[2020-12-04 07:37] #1226 closed

[2020-12-06 15:55] mwerensteijn opened #1304 "Checkpointing a binary at the start of execution"
Hi contributors,

For my masters assignment I need to checkpoint a binary at a known time during execution.
To do this I have added a command to criu which will fork and execute the binary.
I then connect to the binary via ptrace:
[code]

Via ptrace I am now able to continue the execution to a specific time at which I want to start to dump the process.

As criu also wants to connect via ptrace I a

[2020-12-06 21:47] 0x7f454c46 commented on #1304
You need `PTRACE_SEIZE` to be able to use `PTRACE_INTERRUPT` (see man ptrace).
Probably, you had `PTRACE_ATTACH`, but haven't seized the tracee.

[2020-12-06 22:26] mwerensteijn commented on #1304
Thank you so much Dmitry @0x7f454c46!
You are correct, it is now working!

[2020-12-06 22:26] #1304 closed

[2020-12-06 23:06] Yifei-Liu opened #1305 "Failed to dump FUSE (Filesystem in Userspace) based file system process"
I want to dump/checkpoint a fuse file system, called `fuse-cpp-ramfs`, which runs as a user process once it's mounted. I used the ordinary way to dump this process by `criu dump -t $(pgrep fuse-cpp-ramfs) -v4 -o dump_fuse_cpp_ramfs.log && echo OK` and it turned out the dumping process failed with error messages below in the dump log (`dump_fuse_cpp_ramfs.log`).
[code]
It said **Error (criu/files-e

[2020-12-07 12:18] Snorch commented on #412
@avagin @dineshputchala Just in case it would help someone to `save/restore start_time for processes`

Here is how we do it in Virtuozzo criu+kernel (sadly without time namespaces yet).

criu patch:
https://src.openvz.org/projects/OVZ/repos/criu/commits/0890b5bb810411b43cb4fbc4abf615ce4852a17f
kernel patch (prctl to restore start time):
https://src.openvz.org/projects/OVZ/repos/vzkernel/commits/55

[2020-12-07 12:52] Snorch commented on #1258
Note probably docker (overlay) should provide kind of fs-checkpoints, and you should use them along side with criu. Note: to have criu dump consistent with fs snapshots you should create them on paused container, it should be posible via freezer cgroup.

[2020-12-07 15:31] Snorch commented on #1283
"Command 69 for daemon failed with 1" if there is no other errors before this, should say that:

In parasite_daemon->parasite_daemon_cmd->dump_posix_timers we had returned 1.

The sys_timer_gettime can't return 1, so it should be sys_timer_getoverrun.

So the problem is that you basically have posix timer with overrun counter > 0, which is not supported...

AFAICR criu is unable to restore overrun

[2020-12-07 16:26] ShunmugaPriyaR commented on #1283
Hi,

Thank you for the information. I was away from the testbed last week due to
which I couldn't get the full criu log.
But I can assure you that the posix timer related error was the only error
that caused this problem and I was investigating the CRIU code on why this
problem is happening when I increase the number of CPU cores in the testbed.

I will work on getting the full log for you soon an

[2020-12-07 19:35] mikosa opened #1306 "Cant checkpoint mysql: sockets not supported"
This is running on centos 8

[code]
I followed an example that worked here (but it is not working on a fresh installation):
https://github.com/checkpoint-restore/criu/issues/826
[code]

[2020-12-07 19:59] mikosa commented on #1306
I tried the same on ubuntu-2010-groovy
Also had error
[code]

the log shows
[code]

[2020-12-07 20:03] adrianreber commented on #1306
Do not use Ubuntu if you want to checkpoint/restore containers. The Ubuntu kernel carries out-of-tree patches which break overlayfs for CRIU.

If you move `/run` to a tmpfs the checkpoint will work:
[code]

[2020-12-07 20:03] #1306 closed

[2020-12-07 20:22] mikosa commented on #1306
Thanks it worked on centos 8

[2020-12-08 03:31] avagin commented on #1305
@Yifei-Liu you can create a plugin to dump or just ignore /dev/fuse. You can look at the rtc test:
https://github.com/checkpoint-restore/criu/blob/criu-dev/test/zdtm/static/criu-rtc.c
https://github.com/checkpoint-restore/criu/blob/criu-dev/test/zdtm/static/Makefile#L604

[2020-12-08 08:08] Snorch commented on #1127
@YangdaXing Please paste your actual criu errors. Because from the first glance on you message it is not clear which exact (same) error you talk about. As far as I know Podman c/r should be working quiet fine though i'm not experienced in this field =)

[2020-12-08 08:15] adrianreber commented on #1127
The CentOS/RHEL 7 kernel used here does not support suspending seccomp and thus it fails. You need something like `--security-opt=seccomp=unconfined`.

[2020-12-08 08:53] Yifei-Liu commented on #1305
@avagin Thanks for your reply! I have checked `criu-rtc.c` and `Makefile` and it seems that these functions implement dump and restore for `/dev/rtc` device file. The hooks (https://github.com/checkpoint-restore/criu/blob/criu-dev/criu/plugin.c#L51:L52) attach `cr_plugin_dump_file` and `cr_plugin_restore_file` functions so that CRIU will be able to dump and restore `/dev/rtc` (which is a character

[2020-12-08 09:59] Snorch commented on #1280
Let's close this after  #1286

[2020-12-08 09:59] #1280 closed

[2020-12-08 10:40] mihalicyn commented on #1305
Problem here is that if you have some processes inside your container which has some files opened from fuse filesystem then ignoring will not work. Easiest solution with ignoring `/dev/fuse` possible only if you can organize your processes to close all fuse file descriptors just before C/R.

Another way: if your fuse filesystem is really just ramfs-like (not use network to retrieve data) then you

[2020-12-09 06:56] ashish-billore opened #1307 "criu check: Does not look good."
I am trying to run criu inside a container (k8s pod). Earlier, I was able to run it and perform checkpoint and restore inside [dind](https://hub.docker.com/_/docker) so I assume this should also work.

When I run criu check inside the pod, I see following errors/warnings:

[code]

I see the host kernel satisfies the prereqs:

[code]

So, my query is: what is causing the above errors for criu and h

[2020-12-09 07:11] adrianreber commented on #1307
This is really hard to answer because there are so many software layers involved running Kubernetes, but in the end it boils done to you not having the necessary privileges. This depends on how it is set up and even you were able to tell us how it is exactly set up I highly doubt we can help you.

In the end, at least for a simple restore, you need to be able to write to `/proc/sys/kernel/ns_last_

[2020-12-09 08:23] Snorch commented on #717
@ZeyadYasser I've commented to the PR. I don't think it will work like this. The pid-reuse-detection is a security feature which should be closely integrated into criu (criu should see which pids are reused and which are not), p.haul can be a fd storage for criu's pidfds but probably nothing more, I'd rather put main logic to criu.

[2020-12-10 01:06] ShunmugaPriyaR commented on #1283
Hello Pavel,

I gained access to the testbed and with the patch provided, the CRIU dump
was successful for the system having 8 cores.
This posix timer problem is encountered only when I increase the number of
CPU cores.
Does it mean the core switching time increased the latency to access the
overrun counter value? Are there any constraints on the kernel such as a
low latency kernel to be used if t

[2020-12-10 09:00] Snorch commented on #1283
was successful for the system having 8 cores.

Good to hear that, hope w/a will prove itself strong in long term, as the problem is racy.

overrun counter value?

I don't know the actual reason, basicly posix timer tries to send a signal to the task and if signal was for some reason non-delivered overrun grows. Not sure why number of cpus influences signal delivery =). Maybe your app is just ignor

[2020-12-18 02:17] mikosa opened #1314 "Criu checkpoint a container with SELinux and --tmpfs"
I am using centos 8
Installed all using modules container-tools and yum package for podman
Running root
[code]

Running mysql with --tmpfs /run allows me to checkpoint and restore without getting the error
[code]

Now we need to enable SELinux
so I ran the following
[code]
When i try to checkpoint now i get the error again
[code]
This is the generated SELinux policy
[code]

[2020-12-18 10:58] adrianreber commented on #1314
I am sorry but I have to close this. This is a Podman problem.

It is not clear what you are doing with SELinux here. This seems unnecessary.

Mysql uses a named volume and Podman cannot checkpoint containers with named volumes because it is not implemented.

If you mount an external directory into your container:
[code]
You can checkpoint it because it no longer uses a named volume.

You can eith

[2020-12-18 10:58] #1314 closed

[2020-12-18 15:01] mikosa commented on #1314
if you mount a volume in place of the named volume, I get the error
[code]
is this coming from Podman or Criu? there seems to be an error in the address url

[2020-12-18 17:06] adrianreber commented on #1314
I think this was already discussed in another ticket. You need to use tmpfs for /run

[2020-12-18 22:53] Pigrenok opened #1316 "docker checkpoint create fails"
Hello!

I am trying to experiment with criu and experimental docker feature `docker checkpoint`. Unfortunately, experiments are not really successful by now.

I have Ubuntu 20.04 with 5.8.0-29-generic kernel (available from Ubuntu repo)
[code]
I originally tried it on kernel 5.6.0-1034-oem with the same result. After reading issue #860, I updated to 5.8.0-29-generic as it was stated at the end tha

[2020-12-19 07:21] adrianreber commented on #1316
This is still the same bug. The state in the launchpad bug report is wrong. Please also report it there that it is still broken, but I have doubts that it will ever get resolved.

My recommendation right now it to not use Ubuntu if you want to do checkpoints on overlayfs and last time I checked Docker was also broken. Our CI runs with Docker do not work any more. So, do not use Ubuntu and Docker t

[2020-12-19 07:21] #1316 closed

[2020-12-19 08:48] Pigrenok commented on #1316
Thanks, Adrian! I will report in launchpad.

Is there a way to avoid use of overlayfs?

[2020-12-19 10:28] adrianreber commented on #1316
Yes, for CRIU CI we use devicemapper as graphdriver. Not sure if that still exists with latest docker. Podman has a dir graphdriver which also avoids overlayfs.

[2020-12-21 16:41] adrianreber opened #1317 "thread-bomb: allocatestack.c:389: advise_stack_range: Assertion `freesize < size' failed"
Trying to port CRIU's CI setup partly to Circle CI (#1312) I have encountered following error:
[code]
This happens during the thread-bomb test, but only with clang. If I understand this special case correctly, the following happens:
[code]
1. thread-bomb is started
2. we dump it using the freezer cgroup
3. thread-bomb continues to run and then fails

This means the parasite was injected into threa

[2020-12-22 19:28] adrianreber commented on #1317
Unfortunately this is not fixed with `-Wl,-z,now`. @avagin just activated circle ci and the clang based build failed:

https://app.circleci.com/pipelines/github/checkpoint-restore/criu/1/workflows/eff311a8-f34a-41b9-8ea5-d6e79bd25d38

[2020-12-22 21:33] gomathi-ganesan opened #1318 "criu_dump() returns -ECOMM"
I am trying to checkpoint and restore the current running process using CRIU C APIs.

To dump this is the set of API calls I'm using:

    fd = open("<path to img dir>", O_DIRECTORY);
    criu_init_opts();
    criu_set_service_binary("<path to binaries>");
    criu_set_images_dir_fd(fd);
    criu_set_log_level(4);
    criu_set_log_file("dump.log");
    int ret = criu_dump();

The return value here

[2020-12-23 08:05] niernzc opened #1319 "failed to complie with DEBUG=1"
I wanted to build CRIU with DEBUG info with `make DEBUG=1`. An ERROR occured:

[code]

[2020-12-23 08:11] #1319 closed

[2020-12-23 08:55] adrianreber commented on #1318
-ECOMM means that there was an error communicating with the CRIU binary:

https://github.com/checkpoint-restore/criu/blob/master/lib/c/criu.c#L1411

Can you do a `strace`. Maybe that will make it clear if the CRIU binary has been found.

[2020-12-23 13:30] fweimer-rh commented on #1317
I would really like to help fixing this, but we'd first have to replicate the issue in a controlled environment.

[2020-12-23 14:12] adrianreber commented on #1317
@fweimer-rh thanks.

Using `-Wl,-z,now` I was able to run it three times in a row without an error and thought that this might already be a fix, because it usually failed almost every time. Now the error is back and I tried it multiple time and it keeps on failing.

We have never seen this on another CI system. Only with the move to Circle CI.

Circle CI provides VMs based on Ubuntu 20.04 with fol

[2020-12-24 22:19] avagin commented on #1317
I figured out what is going on here:

[code]

We don't expect that dump_creds uses extended instructions.

[2020-12-26 17:02] adrianreber commented on #1317
@avagin great that you figured it out. Thanks a lot!

[2020-12-28 10:34] adrianreber opened #1322 "jenkins: pid_reuse failures"
Looking at Jenkins results I see a lot of failures related to pid_reuse:
[code]

For example in https://ci.openvz.org/job/CRIU/job/CRIU-lazy-remote/job/criu-dev/4059/consoleFull but it seems a couple of Jenkins tests are failing because of this.

@Snorch, as you are the author of that test, any ideas what is going on? Is that the expected result? Should the test fail, because in the commit message

[2020-12-28 16:37] Rajiv2605 commented on #335
This issue seems unresolved/ open. Can I work on this issue?

[2020-12-28 17:53] avagin commented on #1322
dup of #1266

[2020-12-28 17:53] #1322 closed

[2020-12-29 01:01] #1266 closed

[2020-12-29 03:11] LiuChangFreeman commented on #522
`home/alan/tt.sh`
Is the file available on the desc?

[2020-12-29 04:51] avagin commented on #1317
A similar problem was fixed in https://github.com/checkpoint-restore/criu/pull/908.

[2020-12-29 09:02] gtrani opened #1324 "criu dump error for in-flight connections"
The dump.log suggests to use `--skip-in-flight` option so that `criu` will ignore those connections and can proceed.

I want to know, once the dump is initiated, if its possible for `criu` to wait for the connection to successfully establish and then dump.?

Dump.log: [dump.txt](https://github.com/checkpoint-restore/criu/files/5750116/dump.txt)

[2020-12-29 09:05] ashwani29 commented on #1294
Closing this issue as the log file path location was defined in the `runc.conf` and particular log doesn't exist anymore. will open new issue if encounter this situation again.

[2020-12-29 09:05] #1294 closed

[2020-12-29 09:08] adrianreber commented on #1324
Nothing like that exists currently. I am closing this ticket, but please re-open if you have further questions.

[2020-12-29 09:08] #1324 closed

[2020-12-29 09:13] gtrani commented on #1324
yes, Can you please look at the log file uploaded, and tell if I'm correct to understand that the dump is failing only due to in flight connection and can be resolved by adding the suggested option?

[2020-12-29 09:19] adrianreber commented on #1324
I would say adding `--skip-in-flight` should work. The connection is listed as being in `LISTEN` which should be easy for CRIU to handle. Without looking at the code right now I would trust CRIU here that `--skip-in-flight` should work. If CRIU suggest that it means that the is currently a SYN, SYN-ACK or ACK package in flight.

[2020-12-29 09:20] gtrani commented on #1324
thanks.

[2020-12-29 18:13] avagin opened #1325 "pps64le: ERR: poll.c:93: Poll-2 returned -1 (events?!) (errno = 14 (Bad address))"
[code]

[code]

[2020-12-29 18:18] avagin commented on #1325
[code]

[2020-12-29 18:34] avagin commented on #1325
I can't reproduce the bug, if I replace the glibc poll with the raw syscall:

static inline long __syscall3(long n, long a, long b, long c)
{
        register long r0 __asm__("r0") = n;
        register long r3 __asm__("r3") = a;
        register long r4 __asm__("r4") = b;
        register long r5 __asm__("r5") = c;
        __asm__ __volatile__("sc ; bns+ 1f ; neg %1, %1 ; 1:"
        : "+r"(r0),

[2020-12-29 19:45] gtrani commented on #1324
Hi again, I made a script which repeatedly checkpoints a running container periodically, added the above `--skip-in-flight` option and it was working correctly, but after interrupting the script, which obviously means interrupting the dump procedure in worst case, the client cannot connect to the server now. always getting timeout error which is shocking as server is up in the container.

Is it a

[2021-01-01 06:13] nelson-liu commented on #1316
@adrianreber thanks for all the helpful info on this error. I noticed that the Podman CI tests for CRIU ( e.g., https://github.com/checkpoint-restore/criu/runs/1619725048 ) are running on Ubuntu (See https://github.com/checkpoint-restore/criu/runs/1619725048#step:3:165 ) :

[code]

Maybe I missed something, but how do the test get CRIU + Podman + Ubuntu working?

[2021-01-01 09:28] adrianreber commented on #1316
You are correct. Podman uses the `vfs` backend to be able to run on the Ubuntu Kernel.

You can either not use Ubuntu or not use overlayfs. The Ubuntu Kernel has a non upstreamed patch which breaks CRIU on overlayfs.

For docker we are trying to use the `devicemapper` backend to work around the broken Ubuntu Kernel.

[2021-01-03 07:30] devikrishnar opened #1330 "runc --criu command not picking up new binary while trying to do pre-dump"
Hi,

I made some changes in the CRIU code base for testing purposes and I built the new CRIU binary. But when I try to pass it to runc using the command -
`runc --criu "/criu/criu/criu" checkpoint --pre-dump --image-path parent containername`
it still uses the existing previous binary.

But when I tried the pre-dump command of CRIU -
`criu pre-dump -t PID --images-dir parent`
the updated binary wa

[2021-01-03 09:13] adrianreber commented on #1330
That does not sound like a CRIU error, but rather a runc problem. There was, however, a short time in runc where the error you described could happen. This was fixed with https://github.com/opencontainers/runc/commit/6f4616dd73bdd9efd35465e857111a36bbea7db8

If you run runc in `--debug` mode you should be able to see which binary it uses:
[code]

Most importantly check if your version of runc has

[2021-01-03 09:13] #1330 closed

[2021-01-04 17:00] gtrani opened #1331 "Collecting and Dumping sockets"
Which part  in the  `criu` code does the task of collecting and dumping network-connections/sockets?
Please link the file here.

[2021-01-05 08:30] avagin commented on #1331
https://github.com/checkpoint-restore/criu/blob/criu-dev/criu/sockets.c#L839
https://github.com/checkpoint-restore/criu/blob/318fea8f737616e005bbf59bdf56ee6b8384a946/criu/sk-inet.c#L447

[2021-01-05 08:34] #1325 closed

[2021-01-05 10:40] zcdb opened #1332 "Restore failed with Error (criu/pstree.c:452): BUG at criu/pstree.c:452"
Hello, i want to dump/restore a process in different container but I ran into some problems.
Below is my test environment：
docker version:
19.03
kernel version:
3.10.0-327.28.3.el7.x86_64
criu version:
3.15

Below is what i did：
First, i dump in one container:
criu dump -o dump.log -v4 -j -t pid --tcp-close
and result:
[dump.log](https://github.com/checkpoint-restore/criu/files/5769622/dump.log)

[2021-01-05 16:14] 0x7f454c46 commented on #1253
The issue is not critical (about inconsistent warnings).
I have a branch that was nearly ready, but I haven't completely finished it at that moment.
I'll add PR once it's ready.

[2021-01-05 16:17] 0x7f454c46 commented on #1241
We know the root-cause here, don't close this.

[2021-01-08 07:00] #1049 closed

[2021-01-09 03:15] LiuChangFreeman opened #1333 "Fail to compile libcompel examples"
The tutorial says:

Running `make` succeed under criu/ as I installed the dependcies on my Ubuntu 18.04. But I got errors bellow when I tried to run `make` under compel/test/fdspy:

gcc -O2 -g -Wall -Werror -c -Wstrict-prototypes -fno-stack-protector -nostdlib -fomit-frame-pointer -ffreestanding -fpie -I ../../../compel/include/uapi -o parasite.o parasite.c
In file included from parasite.c:3:0:
..

[2021-01-09 07:09] LiuChangFreeman commented on #1333
I think these examples can't be compiled successfully, duing to the missing headers. There are no `compel` headers in the `compel/test/rsys/spy.c`.
![20210109150411](https://user-images.githubusercontent.com/20047907/104085716-85e1d100-528c-11eb-85b6-3912a3edb92b.png)
Waiting for an official answer.

[2021-01-09 23:07] #985 closed

[2021-01-09 23:08] #983 closed

[2021-01-10 06:53] #958 closed

[2021-01-10 07:02] avagin commented on #1042
The patch has been merged.

[2021-01-10 07:02] #1042 closed

[2021-01-10 20:10] gtrani commented on #1331
Got it after digging into code further.

[2021-01-10 20:10] #1331 closed

[2021-01-10 20:15] gtrani opened #1334 "Dump failing: Seize error"
What does this mean and how to prevent it?
[code]

[2021-01-10 21:19] adrianreber commented on #1334
Some context would help a lot. You are not telling us what you are trying to do and how. It seems like you trying to use runc to checkpoint a container and using the cgroup v1 freezer fails. runc tells CRIU to use the cgroup freezer, but without the cgroup freezer it is not possible.

Please provide much more details about what you are trying to do and how you are trying to do it.

[2021-01-11 00:32] rst0git commented on #1333
Hi @LiuChangFreeman, thank you for reporting this issue. I've opened a pull request (https://github.com/checkpoint-restore/criu/pull/1335) with a fix.

[2021-01-11 00:51] #821 closed

[2021-01-11 01:18] #822 closed

[2021-01-11 01:19] #777 closed

[2021-01-11 01:20] #590 closed

[2021-01-11 01:20] #562 closed

[2021-01-11 01:21] #596 closed

[2021-01-11 04:26] gtrani commented on #1334
I made a script which is trying to repeatedly checkpoint that container after 30ms of execution. the script call `runc checkpoint` command, so the execution is like this, _execute_for_30ms, checkpoint, execute_for_30ms, checkpoint...............................so on._

I didn't made any changes in the code of `criu` or `runc`.

[2021-01-11 04:47] avagin commented on #1334
Could you show /proc/PID/mountinfo, /proc/PID/cgroup for the init process of a target container and /proc/1/mountinfo and /proc/cgroups?

[2021-01-11 05:42] gtrani commented on #1334
Yes, Please look at these uploaded files, 15654 is the pid of the running container obtained from `runc list'
/proc/15654/mountinfo:
[mountinfo_15654.txt](https://github.com/checkpoint-restore/criu/files/5794129/mountinfo_15654.txt)

/proc/15654/cgroup :
[cgroup_15654.txt](https://github.com/checkpoint-restore/criu/files/5794131/cgroup_15654.txt)

/proc/1/mountinfo :
[mountinfo.txt](https://github

[2021-01-11 06:23] adrianreber commented on #887
Fixed (better: worked around) with commit 79559bef92

[2021-01-11 06:23] #887 closed

[2021-01-11 06:26] adrianreber commented on #860
I removed the `stale-issue` label and added the `no-auto-close` label as long as this is not fixed in Ubuntu.

#887 is another example where we were impacted by this kernel bug.

[2021-01-11 06:27] adrianreber commented on #855
Closing this as there has not been any real activity, as far as I know, to integrate CRIU into singularity.

[2021-01-11 06:27] #855 closed

[2021-01-11 06:28] #844 closed

[2021-01-11 06:29] adrianreber commented on #852
Checkpointing and restoring mysql containers usually works without any problems. Closing this.

[2021-01-11 06:29] #852 closed

[2021-01-11 09:50] zcdb commented on #1332
I found that this problem occurs in the code of the dev branch, and 3.15 is no problem.

[2021-01-12 00:52] #782 closed

[2021-01-12 07:32] #768 closed

[2021-01-12 07:33] #756 closed

[2021-01-12 07:36] #735 closed

[2021-01-12 08:13] gtrani opened #1337 "confusion with mulitple files of pagemap and pages."
There are two files of pagemap and page images are created on dump:
[code]
Please explain below queries with a little detail.
are pagemap-1 and pagemap-45 are related and how?
are pagemap-1 and pages-1.img are related and how?
are pages-1.img and pages-2.img are related and how?

Quoted exactly from criu webpage:
**Pages**
`    This is the plain set of 4k entries -- each one is a full page with da

[2021-01-12 08:33] adrianreber commented on #1337
If you do a `crit show pagemap-1.img` it should point to pages-1.img if you do a `crit show pagemap-45.img` it should point to pages-2.img.

[2021-01-12 08:51] adrianreber commented on #1337
No, it contains a multiple of complete pages. But each page is 4K (or page size of that architecture).

[2021-01-12 09:06] gtrani commented on #1337
Yes, seen it but then what's the difference between pagemap-1 and pagemap-2? there's huge size difference between them.

[2021-01-12 09:11] adrianreber commented on #1337
You mean pages-1.img and pages-2.img. `pagemap-PID.img` is created for each checkpointed process and points to a different `pages-ID.img`. The size of the `pages-ID.img` depends on the used memory of the dumped PID.

[2021-01-12 10:20] gtrani commented on #1337
Thanks, Now it's clear. so no. of `pagemaps` depends on the no. of checkpointed process.

[2021-01-12 10:20] #1337 closed

[2021-01-12 12:17] daviel commented on #976
Anybody with an idea on how to fix this? I would appreciate every help.

[2021-01-12 20:31] avagin commented on #1334
I see nothing suspicions...

Could you show output of "ls -l /sys/fs/cgroup/freezer/parsec_bundle/"?

[2021-01-12 20:47] #1333 closed

[2021-01-12 23:31] avagin commented on #1332
@Snorch could you take a look at this?

[2021-01-13 08:03] #727 closed

[2021-01-13 08:04] #726 closed

[2021-01-13 08:05] #711 closed

[2021-01-13 08:06] #670 closed

[2021-01-13 08:07] #662 closed

[2021-01-13 08:09] #659 closed

[2021-01-13 08:09] #656 closed

[2021-01-14 05:25] #560 closed

[2021-01-14 07:35] #651 closed

[2021-01-14 07:36] #598 closed

[2021-01-14 07:37] #603 closed

[2021-01-14 07:38] #597 closed

[2021-01-14 07:41] #563 closed

[2021-01-15 07:45] #547 closed

[2021-01-15 07:46] #546 closed

[2021-01-15 07:48] #535 closed

[2021-01-15 08:05] #509 closed

[2021-01-15 19:21] 0x7f454c46 commented on #582
Let's keep it open: the root-cause in known, it's about Android's ashmem support.

[2021-01-16 03:18] kolyshkin opened #1338 "runc "checkpoint --lazy-pages and restore" test failed"
I have only seen it once ([here](https://github.com/opencontainers/runc/runs/1711639728?check_suite_focus=true)) but guess it's worth filing just to keep track of things.

Here's the relevant part of a test log:

[code]

In particular, this line looks shady:

This was criu-3.15 running on Fedora 33 (amd64) running in a vagrant virtualbox VM on Mac OS X. Sorry I could not provide more details at th

[2021-01-16 11:14] #501 closed

[2021-01-16 11:16] #495 closed

[2021-01-16 11:17] #491 closed

[2021-01-16 11:18] #485 closed

[2021-01-16 11:19] #482 closed

[2021-01-17 20:30] stgraber commented on #444
I believe @brauner is looking into this, at least we have some work on the LXD side to better handle CRIU apparmor namespaces.

[2021-01-18 07:32] #421 closed

[2021-01-18 07:33] #414 closed

[2021-01-18 07:35] adrianreber commented on #431
The latest CRIU versions are supporting MIPS. Closing.

[2021-01-18 07:35] #431 closed

[2021-01-18 12:47] #436 closed

[2021-01-18 19:32] gomathi-ganesan commented on #1318
Hi,
 Thanks for the reply. In the original question I tried to dump the current running process. But now I am trying to dump another process from the current running process. I am getting -52(-EBADE) [RPC has returned fail.] error message for criu_dump(). The strace dump of the run : https://pastebin.com/CHFm1ctR . Could you please help in identifying the reason for this?

[2021-01-19 06:26] adrianreber commented on #1318
The output of strace you are providing is not helpful. I do not see the actual run of CRIU. Just lots of shell scripts. Can you just provide a strace output of the binary getting the actual error.

[2021-01-19 06:27] #406 closed

[2021-01-19 06:27] #408 closed

[2021-01-19 06:28] #402 closed

[2021-01-19 06:31] #400 closed

[2021-01-19 06:33] #391 closed

[2021-01-19 06:34] #386 closed

[2021-01-19 06:34] #380 closed

[2021-01-19 06:35] #378 closed

[2021-01-19 14:00] ZeyadYasser opened #1339 "ZDTM rpc unexpected behavior"
I was working on this issue https://github.com/checkpoint-restore/criu/issues/717.

I followed the approach suggested by @Snorch of opening a socket pair to transfer pidfds between pre-dump/dump iterations for pidfd based pid reuse detection.
I got the idea that I could open the socket pair implicitly in service mode right before the pre-dump loop https://github.com/checkpoint-restore/criu/blob/0e

[2021-01-19 14:26] SpereShelde opened #1340 "Failed to restore a process by calling CRIU in shell scripts"
I'm doing a lab trying to checkpoint/restore a process using CRIU.

I compiled a C++ program having four groups of jobs in four threads. The program has one additional thread determining the whole system's events: setting checkpoints, and restoring at some certain timepoints.

Since a C++ program cannot restore itself, I made the fifth thread to send the system's status to a pipe and used a shell

[2021-01-19 14:46] adrianreber commented on #1340
Can you be a bit more specific what your problem is. You give us the output of your shell script which says `18443 Killed`. Is that your problem? And which is line 22? Counting your script 22 seems to be `done`. Can you paste the complete shell script with shebang and if you are using any `set`?

[2021-01-19 14:52] adrianreber commented on #1339
I am not sure I understood your question, but it is not required for a CRIU client to stay connected to CRIU during a pre-dump loop. Or using the CRIU internal pre-dump loop logic. Using `runc` for example, each pre-dump is a new connection from runc to CRIU using go-criu. The user is free to let as much time pass between pre-dumps as the user wants.

It sounds like to right thing to do to implici

[2021-01-19 15:46] SpereShelde commented on #1340
Sure, thank you for replying. I've uploaded all my code to the repo: [https://github.com/SpereShelde/CRIU_Lab](https://github.com/SpereShelde/CRIU_Lab)

The line 22 is the last line, the `done`, yep. Don't know why, maybe because the `criu` made the shell script stuck?

My problem is how can I checkpoint/restore a process back and forth multiple times using pipe or UDP? As you can see the checkpoi

[2021-01-19 16:31] ZeyadYasser commented on #1339
Thank you so much, That explains a lot.

[2021-01-19 16:31] #1339 closed

[2021-01-19 20:01] avagin commented on #1340
you run restore without the --detach option, so criu waits when a restored process will exit. If it isn't a case, you need to look at the process tree. Maybe there is a criu process... You can try to play with the strace and gdb. You can try to add "set -x" in your script to see what commands have been executed.

[2021-01-19 21:54] SpereShelde commented on #1340
Great!

`-d` solved my problem.

Thank you!

[2021-01-19 21:54] #1340 closed

[2021-01-20 07:36] #370 closed

[2021-01-20 07:38] #359 closed

[2021-01-20 20:27] 0x7f454c46 commented on #392
Needs to be checked if it is still an issue.

[2021-01-20 20:28] 0x7f454c46 commented on #392
(and probably a good idea for a zdtm test if it's not an issue anymore)

[2021-01-20 20:30] 0x7f454c46 commented on #405
As it's a new feature request, marked no-auto-close.

[2021-01-22 07:45] #303 closed

[2021-01-22 07:46] #302 closed

[2021-01-22 07:48] #300 closed

[2021-01-25 07:35] #289 closed

[2021-01-25 07:36] #286 closed

[2021-01-25 07:37] #267 closed

[2021-01-25 09:20] Snorch commented on #1318
@gomathi-ganesan Don't you have dump.log somewhere in the images directory or is it left empty?

[2021-01-25 10:10] gitsvm opened #1345 "criu : applying images"
Need some information about the current status of this idea : https://www.criu.org/Applying_images

As mentioned in the link, it's possible to do this but that's a lot of patching? Any design idea how can i proceed to build this? Some lower level details are required.

[2021-01-25 11:07] rst0git commented on #1345
The paper following paper seems relevant to what you are trying to do.

Duan, Ruian, et al. "Automating Patching of Vulnerable Open-Source Software Versions in Application Binaries." NDSS. 2019.
https://www.ndss-symposium.org/wp-content/uploads/2019/02/ndss2019_05A-3_Duan_paper.pdf

[2021-01-25 22:07] rst0git opened #1346 "(zdtm/thp_disable) get_smaps_bits.c: VmFlags not found"
The `zdtm/thp_disable` test fails with the following error:
[code]
By adding a debug print statement, I noticed that the mmap address gets rounded to 4K.
[code]
[code]
It looks like this problem has been addressed with a workaround in commit https://github.com/checkpoint-restore/criu/commit/f487c965d441809da1f28b0337ec350d7bfb119e.

[2021-01-25 22:07] rst0git commented on #1346
@rppt Do you have any ideas how to fix this error?

[2021-01-26 03:30] avagin commented on #1346
Where does this test fail?

BTW: I think you need to use %lx to print addresses:
printf("%lx %lx | %s", start, where, buf);

[2021-01-26 07:04] rst0git commented on #1346
https://github.com/checkpoint-restore/criu/pull/1347/checks?check_run_id=1766734652
https://github.com/checkpoint-restore/criu/pull/1344/checks?check_run_id=1760944936
https://github.com/checkpoint-restore/criu/pull/1343/checks?check_run_id=1756881359

[2021-01-26 08:31] #344 closed

[2021-01-26 08:32] avagin commented on #252
commit 98e9165f0cbe821995c8903ee24ceb7f1515c2c7
Date:   Fri Jun 19 10:33:49 2020 +0300

    cgroup: Add the initial support for cgroup2

[2021-01-26 08:59] rppt commented on #1346
TBH, no :)
I'll try to take a look at this next week

[2021-01-26 12:52] MTBorg opened #1348 "[Container checkpoint/restore] Error: Can't umount at ./sys: Device or resource busy"
Hi, i'm trying to create a simple container using [runc](https://github.com/opencontainers/runc) and dumping/restoring it using criu. The container process is just a non-interactive `sleep 1d` command.

I generate my `config.json` for the oci-bundle using [oci-runtime-tools](https://github.com/opencontainers/runtime-tools) (version 0.9.0) with the command `oci-runtime-tool generate --args "sleep"

[2021-01-26 13:02] adrianreber commented on #1348
I see `(00.044520)      1: 	skipping fs mounted at /sys/kernel/tracing`.

Not sure about this at all, but can you try to unmount that directory before starting the container. This sounds like a file system CRIU cannot handle.

[2021-01-26 13:09] MTBorg commented on #1348
I did and get a new error:

[code]

[2021-01-26 13:20] adrianreber commented on #1348
Again, not sure, but wanting to checkpoint containers on a desktop machine will often result in errors like you see, because there are so many different filesystems mounted in `/sys`.

If I try to mount an empty `/sys` on my desktop system I see that the mountpoints for `./sys/firmware/efi/efivars` are missing, so maybe that is the next problem you are hitting. Try to unmount also that. We also ha

[2021-01-26 13:45] MTBorg commented on #1348
Im probably missing something, but how are `/sys`and `/tmp` related? The error mentions `/tmp`.

I tried unmounting `/sys/firmware/efi/efivars` and `/sys/s/fuse/connections` but no luck.
I did try and remove the mount namespace from `config.json` and was able to get what seemed to be a somewhat succesfull dump/restore, resulting in a zombie process. But i can't seem to reproduce it.

Will definite

[2021-01-26 14:18] adrianreber commented on #1348
That is complicated :grin: Bascially CRIU tries to remount all mounts at a temporary location during restore.

A non desktop system would definitely make things easier.

[2021-01-26 16:51] MTBorg commented on #1348
Hmm, i tried running it on a CentOS 8 VM (minimal installation) and i got a new error. I had some trouble sharing files with the host so i couldn't retrieve the logs, but the error said
[code]

I'll try retrieving the entire logs tomorrow.

[2021-01-26 17:00] adrianreber commented on #1348
You are hitting very interesting problems. On a RHEL 8 VM I am able to checkpoint and restore a container (RHEL 7) without any problems:
[code]

It should definitely work out of the box. Let us know any further errors. This should really just work.

[2021-01-26 17:29] MTBorg commented on #1348
I tried checkpoint/restore with runc, rather than criu directly, and it worked, which is interesting :P
Do you know if runc uses criu in a different way than me?

[2021-01-26 17:41] adrianreber commented on #1348
Ah, I missed that all the time. You were not using runc to do the checkpoint. It is possible to checkpoint a container without using runc, but you really need to have a very good understanding of what you are trying to do. There is really no reason to do it manually. It is possible, but you should not do it unless you have a really good reason.

Do you have a reason to manually checkpoint a contai

[2021-01-26 17:43] avagin commented on #1348
runsc enumerates all external resources like mounts, network devices, etc. You can find all details here:
https://github.com/opencontainers/runc/blob/master/libcontainer/container_linux.go#L933

[2021-01-26 17:50] MTBorg commented on #1348
I'm going to do some research using criu and was planning on using criu's C library. I will need to use the pre-copy/pre-dump feature and possibly some other features of criu.

[2021-01-26 17:53] adrianreber commented on #1348
You should also have a look at crun which uses libcriu to checkpoint and restore containers.

crun is still missing pre-copy and post-copy support. So if you want to implement it you are more than welcome 😉

[2021-01-26 17:58] MTBorg commented on #1348
Would love to :smiley:  , but i'm new to checkpoint/restore and i'm doing this as part of my master's thesis so time is expensive.

Crun is not an alternative, as the research will be built upon iterative dumping. I'll probably use some [runc binding](https://github.com/containerd/go-runc) instead.

[2021-01-26 18:00] adrianreber commented on #1348
Can we close this?

Happy to help and answer any questions you have. Just reach out to us.

[2021-01-26 18:01] MTBorg commented on #1348
Absolutely :)

[2021-01-26 18:01] #1348 closed

[2021-01-26 18:07] avagin commented on #1324
No, it isn't a known issue. We need criu logs to investigate this. And you need to look at a server process with strace and gdb. We need to know whether it is stuck in the parasite code or there is something else.