[2019-01-04 08:55] adrianreber commented on #589
Processes storing the hostname is one of the not really solvable problems with process migration. CRIU does not know where the process stores what information (which includes the hostname) and cannot change it. So the process you migrate has to be smart enough to re-read the hostname once it has been migrated. If you have control over the process you can tell the process to re-read the hostname af

[2019-01-04 08:57] harishanand95 commented on #589
Yeah, that makes sense.

[2019-01-04 10:13] rst0git commented on #590
cc: @avagin

[2019-01-05 08:31] rst0git commented on #398
The output of strace is:
[code]

[2019-01-06 05:42] #589 closed

[2019-01-06 09:56] #587 closed

[2019-01-06 09:56] wangzhao123456 opened #591 "Cannot checkpoint container: rpc error: code = 2 desc = exit status 1: "criu failed: type NOTIFY errno 0" Error in dump.log is : Can't turn TCP repair mode ON: Operation not permitted."

[2019-01-06 09:57] #591 closed

[2019-01-06 10:09] wangzhao123456 opened #592 "Cannot checkpoint container: rpc error: code = 2 desc = exit status 1: "criu failed: type NOTIFY errno 0". Error in dump.log is : Can't turn TCP repair mode ON: Operation not permitted."
Hi, everyone
I run firefox browser in container using VNC server, and the display of firefox browser is visited through VNC client. I can successfully checkpoint/restore the contianer using "docker checkpoint create" command and "docker start --checkpoint" command.
But I found some strange phenomena.
When I open VNC client to visit firefox browser, I can't checkpoint the container. The error is :C

[2019-01-07 01:03] wangzhao123456 commented on #592
Thanks, I will try   ^_^

[2019-01-07 14:32] 0x7f454c46 commented on #398
Yeah, it seems from the log that `rt_sigreturn()` has resulted in segmentation fault.
What I would speculate - is that the sigframe is different by some reason on ia32 AMD.

[2019-01-07 14:33] 0x7f454c46 commented on #398
I have it in TODO list, but there are more urgent items now..
I wouldn't mind if someone is eager to fix it before I'll have my hands on it ;-)

[2019-01-07 18:22] rst0git commented on #398
Looking closer with `gdb --args criu dump -t $(pgrep test) -D checkpoint/ -v0` I can see that:

on `AMD A10 Micro-6700T APU+AMD Radeon R6 Graphics`
[code]
here `status = 2943` is `WSTOPSIG(status) = SIGSEGV`.

and on `Intel(R) Core(TM) i5-4200U CPU @ 1.60GHz`:

[code]
here `status = 1407` is `WSTOPSIG(status) = SIGTRAP`.

[2019-01-07 19:05] avagin commented on #592
The success dump doesn't contain tcp connections.
[code]

[2019-01-08 02:11] wangzhao123456 commented on #592
Thanks for your help. I upgraded my kernel to V4.12, and the above problem has gone. I can successfully checkpoint and restore my firefox browser container when I open the VNC client. I also tried to upgrade my kernel to V4.9, but the problem still exists.

[2019-01-08 02:12] wangzhao123456 commented on #592
Thanks. I upgraded my kernel to V4.12, and the above problem has gone. I can successfully checkpoint and restore my firefox browser container when I open the VNC client.

[2019-01-08 04:55] rst0git opened #593 "Restore of bash exits with unexpected I/O error"
I noticed an interesting bug. When restoring `bash` with `--shell-job` it exits unexpectedly.

For example:
1. Open bash:
[code]
2. Then in another terminal, we create a checkpoint with `--shell-job`
[code]
3. Run `criu restore` and hit `Enter` twice:
[code]
**Result:** Suddenly `bash` exits
**Expected result:** `bash` should continue to work.

Using `strace`, I noticed that the reason for the exi

[2019-01-08 07:20] avagin commented on #593
Cc: @cyrillos

[2019-01-09 00:14] coderkaka opened #594 "add a new process to the container during restore a container?"
Hello, I want to do someting interesting , but I'm in trouble now. My question is how I can add a new process to the container during restore a container? may be with cr_system? But where should I modify the CRIU source code?

[2019-01-09 07:18] cyrillos commented on #593
Thanks, will try to find a time slot today to read more precisely.

[2019-01-09 16:47] rst0git commented on #594
Hi @coderkaka

Would [`--exec-cmd`](https://criu.org/Tree_after_restore#Doing_execv.28.29_in_CRIU) or [`--action-script`](https://criu.org/Action_scripts) work for you?

[2019-01-09 17:58] cyrillos commented on #593
Strictly speaking the restore procedure didn't went well
[code]
Note we don't have proper tty group inheritance. It simply impossible to do at the moment so I expect that some of `-j` option won't work as expected.

Do you checkpoint some test or own custom program?

[2019-01-09 18:36] avagin commented on #594
@coderkaka could you describe with more details what you need to do?

[2019-01-09 18:37] avagin commented on #592
@wangzhao123456 can we close this issue?

[2019-01-09 18:38] rst0git commented on #593
I checkpoint/restore-ed `/usr/bin/bash` with `-j`.
@cyrillos Can you reproduce the error?

[2019-01-09 19:38] cyrillos commented on #593
[code]
The restore passed but then bash itself started to complain. You know, `-j` is very fragile option I would rather dropped it at all.

[2019-01-09 19:41] cyrillos commented on #593
To be precise -- I think the option `-j` had a meaning early time where we've been supporting only a very few resources. Currently we should rather poke users to run processes inside namespaces (via vzctl,docker,lxc or anything else) instead of manipulating resources on host namespace (and -j option was exactly for that).

[2019-01-10 01:07] wangzhao123456 commented on #592
yes, I will.

[2019-01-10 01:08] #592 closed

[2019-01-10 03:04] coderkaka commented on #594
@rst0git Thank you for the reply, but it doesn't.

[2019-01-10 03:07] coderkaka commented on #594
@avagin I'm doing some research with CRIU. Now I don't need to add a new process, but load some code into the address space of the process to be restored while restoring the process.
Howere,  I find the code I load will be unmaped . I guess this work is done in the function  `unmap_old_vmas` . Is there a convenient way to protect the code I load? Maybe I can add the vmas to `premmapped_addr`,I hav

[2019-01-10 12:03] rst0git commented on #594
A private vma is mapped in a temporary place and the address is saved in vma->shmid. The vma-s are mapped before forking children and then they are remapped to corrected places in `restorer.c`.

[2019-01-10 15:42] coderkaka commented on #594
@rst0git Well, I got it.  Besides, I want to dump a device which has  states in kernel. The usage of the device is as follows：
`	struct mei_connect_client_data data;
	fd = open(MEI_DEVICE);

	data.d.in_client_uuid = AMTHI_UUID;

	ioctl(fd, IOCTL_MEI_CONNECT_CLIENT, &data);

	printf("Ver=%d, MaxLen=%ld\n",
			data.d.in_client_uuid.protocol_version,
			data.d.in_client_uuid.max_msg_length);

	[...]

[2019-01-10 17:22] avagin commented on #594
How do you SGX code?

[2019-01-11 05:59] dineshputchala commented on #412
Any update on this time-namespace feature implementation in kernel ?

Any update on CRIU changes for supporting this ?

[2019-01-11 07:38] avagin commented on #412
We sent the rfc version:
https://lkml.org/lkml/2018/9/19/950

then we discussed it on LCP:
https://www.youtube.com/watch?v=sjRUiqJVzOA&t=93s

And now we are working on the second version of these patches. We are going to post them this month.

[2019-01-13 05:55] #467 closed

[2019-01-14 15:45] adrianreber commented on #278
Available in CRIU since 3.11

[2019-01-14 15:45] #278 closed

[2019-01-14 15:47] adrianreber commented on #506
Available since CRIU 3.11. Needs https://github.com/opencontainers/runc/pull/1933 to be merged. CRIU parts are finished though.

[2019-01-14 15:47] #506 closed

[2019-01-14 15:57] #419 closed

[2019-01-17 22:18] rst0git commented on #593
I noticed that when we start a shell it becomes a group leader (pid=pgid) but not a session leader.
However, CRIU does not restore the original `pgid` but inherits the group ID of the parent process. Thus, before restore `pid`=`pgid` but after restore `pid`!=`pgid`.

[2019-01-18 03:54] gukjoon opened #595 "Having issues dumping on Google Kubernetes Engine pod (cannot dump /dev/pts/<N> and /<N> tty files)"
Dockerfile:
https://gist.github.com/gukjoon/4879f3ccae00c64e1513034fbf5c0578

[code]

This works fine locally. Running on Google Kubernetes engine, fails with error:

[code]

Only difference I find is `lsof` on GKE returns
[code]
(note device id 136,1)
whereas locally:
[code]
(device id 136, 0)

Let me know if further info would be helpful

[2019-01-18 03:59] gukjoon commented on #595
Full logs here:
https://gist.github.com/gukjoon/6c876bf4de5ca0e4105e404e0b26cde1

[2019-01-18 06:34] adrianreber commented on #595
CRIU 2.8 is rather old. Could you try CRIU 3.11 instead?

[2019-01-18 08:34] gukjoon commented on #595
Yes great point. Just tried. Here's the new log (verbosity2 at the bottom):
https://gist.github.com/gukjoon/2138a6b566ea03480b4ad3651a6b8f66

[2019-01-19 04:11] #593 closed

[2019-01-20 18:59] adrianreber commented on #595
That looks like the same error. Cannot say much more here. I am sure somebody else will have an idea.

[2019-01-21 08:34] gukjoon commented on #595
I've had success dumping using
`criu dump -t 90 --external 'tty[8801:14]' --shell-job`
with the following warnings:
[code]

But when I restore
`criu restore --inherit-fd 'fd[1]:tty[8801:14]' --shell-job --deprecated -v4`

I get error:
[code]

Will continue to investigate.

[2019-01-21 09:15] rst0git commented on #595
@gukjoon Would it be possible to start your application with `setsid` and avoid the use of `--shell-job`?

[2019-01-22 04:33] gukjoon commented on #595
👍 well that totally worked out seamlessly. Thanks @rst0git ! Closing...

[2019-01-22 04:33] #595 closed

[2019-01-22 17:20] rst0git opened #596 "ctty inheritance detected sid/pgrp, no PTY peer with sid/pgrp needed"
When trying to checkpoint `/bin/sh` on Ubuntu (that is the [*dash*](http://gondor.apana.org.au/~herbert/dash/) shell) using:
[code]
it fails with:
[code]
The same error occurs on Arch when checkpointing `dash`.
[dump.log](https://github.com/checkpoint-restore/criu/files/2783877/dump.log)

[2019-01-23 02:22] zhouxinyu opened #597 "Can't dump unix socket in container env"
It seems that criu can't fetch the right ino of unix socket in container env.

![image](https://user-images.githubusercontent.com/3961183/51578240-cdcc8980-1ef7-11e9-8968-2a6543192ccd.png)

The first ino 0x72c04f7 matches the resulut of `ls -i /tmp/.java_pid108`, while the second ino 0x653c1335 doesn't match.

Collecting info of this listen unix socket:

![image](https://user-images.githubusercont

[2019-01-23 06:40] adrianreber commented on #597
Can you post more information about what you are doing? How are you starting the container, what is in the container, how are you checkpointing the container. CRIU version, docker version, kernel version. Complete CRIU logs.

[2019-01-23 08:03] zhouxinyu commented on #597
Of course:

## Version info
1. Docer version: 17.06.2-ce
2. Kernel version: 4.9.79
3. CRIU version: 3.9(3.11 also has this issue)

## steps

1. docker run -d  xxx-application, this container contains a java application.
2. Execute jstack command in container, and then jvm will bind a socket at /tmp/.java_pid..
2. docker checkpoint create --checkpoint-dir=......, create a checkpoint.

Complete criu

[2019-01-23 09:44] zhouxinyu commented on #597
@adrianreber

[code]
1. Enter the container: docker exec -it xxx bash
2. Execute jstack: $JAVA_HOME/bin/jstack -l java_pid

[code]

pstree is simple:

![image](https://user-images.githubusercontent.com/3961183/51597563-7c8fba80-1f36-11e9-9f71-0b51e1f659ee.png)

[2019-01-23 09:50] adrianreber commented on #597
What I am interested is if the jstack command is running under the same parent process as the other processes from the container.  I think this is the problem, that CRIU will not checkpoint the jstack process as it is started by `docker exec`. I guess `start.sh` is the container entrypoint. Can you start jstack as part of the `start.sh` process. Then jstack should also be a child process from the

[2019-01-23 11:37] zhouxinyu commented on #597
Hi @adrianreber , the jstack command will exit, it's a tool command, rpc call based on unix socket. Java process will bind the unix socket triggered by the first jstack command.

And the socket /tmp/.java_pid108 belongs to the java process, not the exited jstack tool.

[2019-01-23 11:40] zhouxinyu commented on #597
And I think the possible reason is that ino mismatch in container env, see the [related code](https://github.com/checkpoint-restore/criu/blob/93043916cdf4d42bb9cc81a3404e803945a5e1e8/criu/sk-unix.c#L627).

![image](https://user-images.githubusercontent.com/3961183/51604106-b799ea00-1f46-11e9-9789-1f856f9299da.png)

[2019-01-23 15:55] seanfulton opened #598 "Unable to live migrate on LXD 3.9: Moving stopped container works"
Both hosts running Ubuntu 18.04 fresh installs. The container I am moving is Ubuntu 18.04 with nothing added.

LXD on both systems is 3.9 from SNAP.

Here is what I see in the logs:
On the Sending System:
t=2019-01-23T10:44:50-0500 lvl=info msg="Migrating container" actionscript=false created=2019-01-20T14:14:32-0500 ephemeral=false features=1 name=mail-eng01 predumpdir= project=default statedir=

[2019-01-23 16:01] adrianreber commented on #598
Which CRIU version are you using?

Which processes are running in the container?

The error says `Error (criu/sk-inet.c:122): inet: Unsupported proto 58 for socket 7bf009`, I think that is IPv6 ICMP, that is something CRIU cannot dump. Only solution is to avoid processes in the container which are using that protocol.

[2019-01-23 16:25] seanfulton commented on #598
It's a blank, fresh install of Ubuntu 18.04 on both the host and container.

We haven't loaded any software on it yet, we are only sing ipv4. So if
there is anything running ipv6, it came out of the box and wasn't
installed by us.

Which should work, right?

Version is whatever is bundled with LXD 3.9, so I am not sure how to get
the version.

sean

On 1/23/19 11:01, Adrian Reber wrote:

--
Sean F

[2019-01-23 16:34] adrianreber commented on #598
No. If there is a process using on IPv6 ICMP CRIU cannot dump it. You have to stop the process which is using IPv6 ICMP or use another container which is not using IPv6 ICMP.

[2019-01-23 17:12] rst0git commented on #598
@seanfulton you can check the version of CRIU with `$ criu --version`.
If it is not 3.11, could you try to upgrade CRIU?

@adrianreber I think that this commit https://github.com/checkpoint-restore/criu/commit/d278229880f7b8160f527c03357f1ae76432218c enables the support for ICMP.
[code]

[2019-01-23 17:44] rst0git commented on #597
@zhouxinyu Could upload the log file from version 3.11? I think this might be related to this recent change https://github.com/checkpoint-restore/criu/commit/787409df9da2292c16d106d0e319b42313a3d147.

What happens when you try to restore the container?

[2019-01-23 21:11] seanfulton commented on #598
This is all that is running on the container; which one of them would be
blocking the migration?

Active Internet connections (servers and established)
Proto Recv-Q Send-Q Local Address           Foreign Address        
State       PID/Program name
tcp        0      0 127.0.0.53:53 0.0.0.0:*               LISTEN     
77/systemd-resolved
tcp        0      0 10.10.5.11:58566 91.189.88.149:80       

[2019-01-24 00:50] pietschy opened #599 "tcp-established in /etc/criu/default.conf not working with docker checkpoint create?"
Hi there,

I've created the file `/etc/criu/default.conf` and put a single line with `tcp-established` in it but am still getting the following error when I try and checkpoint my container.

[code]
And the log file contains the line
[code]

I tested `/etc/criu/default.conf` by adding an invalid option and and running `criu check`. It barfed with an appropriate message as did `docker checkpoint`.

[2019-01-24 03:12] zhouxinyu commented on #597
@rst0git I found this commit will affect 3.9~3.11, so I tried 3.8.1, this issue happens again...

[code]
In the `files.img`, this LISTEN socket is marked with `deleted`, so the path `/tmp/.java_pid108` is unlinked(or deleted?) when restoring the container, although the socket will be bind to the kernel.

Any rpc request to this unix socket will be failed.

[2019-01-24 06:39] adrianreber commented on #599
The version of runc you have it probably too old. You need at least a version which includes https://github.com/opencontainers/runc/pull/1933.

You could try to open a bug against Fedora's runc in bugzilla.redhat.com. runc usually gets updated pretty quickly in Fedora.

You could also try Podman as it has support to specify `--tcp-established` on the command-line: https://github.com/containers/lib

[2019-01-24 06:43] adrianreber commented on #598
I would say `systemd-network` which is listening on `raw6`. As your container gets an addressed assigned by the container engine/runtime, you probably do not need that process in the container.

But did you try with a newer CRIU version as @rst0git suggested as it might include support to checkpoint and restore these kind of sockets.

[2019-01-24 08:58] rst0git commented on #599
@pietschy  When adding options in `/etc/criu/default.conf` they will be overwritten by the RPC options provided by runc (docker), and `--tcp-established` is set to false by default. You need to add your options in `/etc/criu/runc.conf`. The options defined in this file will overwrite the ones specified by runc (docker).

@adrianreber This looks like a very common question. Maybe we should explain

[2019-01-24 18:05] avagin commented on #597
What storage driver do you use in Docker?

CRIU checks that a socket inode number matches a file inode number. If it doesn't, it may mean that another socket was bound to the same name.

In this issue, we need understand why a file inode isn't equal to the inode which is reported by the kernel for this socket:
https://github.com/torvalds/linux/blob/master/net/unix/diag.c#L28

[2019-01-24 22:23] Skizal opened #600 "Trying to checkpoint/restore from a Singularity container"
Hello,

I'm trying to get CRIU working on Singularity containers. I was testing if i could checkpoint an script running in a shell inside a container and restore it, from outside the container. I get this error at restore:

[code]

The commands i've used to dump and restore are:
[code]

[code]

It may be an error with the external mounting or the root path selection. I'm new to both CRIU and Singu

[2019-01-24 23:19] pietschy commented on #599
Thanks guys,

Looks like I'm running the latest runc 1.0.0-rc6+dev release so at this stage I'll wait for the next one and try again then (I'm guessing Fedora won't consider releasing a new package until that happens anyway).

As for the docs, Google took me to https://criu.org/Docker first so having it referenced there would have helped a lot.

[2019-01-25 01:41] zhouxinyu commented on #597
@avagin OverlayFS.

The same test without Docker doesn't have this issue, so it means that there is only one socket bound to the path.

Is it possible that OverlayFS or mnt namespace led to this issue?

[2019-01-25 05:44] adrianreber commented on #599
Looking at https://src.fedoraproject.org/rpms/runc/commits/master I see that the changes are already in Fedora's development branch and my experience with the runc package is that it updated pretty fast if you ask. So I really recommend to open a ticket and ask. Or try rawhide runc from here: https://koji.fedoraproject.org/koji/buildinfo?buildID=1180067

Then, @rst0git was right, you need to use t

[2019-01-25 05:45] adrianreber commented on #599
@rst0git sure, it's a wiki 😀, please just change it

[2019-01-25 17:56] avagin commented on #600
Could you run "criu restore" under strace and attach a strace log:
sudo strace -o strace.log -s 256 -f criu restore ....

[2019-01-25 20:14] Skizal commented on #600
Here it is.
[strace.log](https://github.com/checkpoint-restore/criu/files/2797726/strace.log)

[2019-01-25 20:51] rst0git commented on #600
[code]
[code]
Does the path `/usr/local/var/singularity/mnt/session/final` exist on the host before `criu restore` is being called?

[2019-01-25 21:03] rst0git commented on #600
Also see [this comment](https://github.com/lxc/lxc/blob/007ef61a740f5134dde364e9a7d8a65d48a5480f/src/lxc/criu.c#L1018-L1039) in LXC

[2019-01-25 22:08] Skizal commented on #600
It exists only inside another mount namespace which is master of the mount namespace of the container. I created the directory to check if i got different results. I got the same final error but it tried some things before.

[dump.log](https://github.com/checkpoint-restore/criu/files/2798047/dump.log)
[restore.log](https://github.com/checkpoint-restore/criu/files/2798048/restore.log)
[strace.log](

[2019-01-28 23:58] pietschy commented on #599
Thanks all for your help, I've created a bug with fedora.

https://bugzilla.redhat.com/show_bug.cgi?id=1670223

[2019-01-29 04:45] zhouxinyu commented on #597
ping @avagin , do you have any thought of this issue?

[2019-01-29 21:20] Skizal commented on #600
Thank you for the answers, i was able to solve this and similar errors i got. I've recreated the directory hierarchy existing inside the container to do it. I reached a point where i get these errors.
[code]
The first one regarding the bin/bash size i suppose it's because i need the right file copied there but for the one about vma i don't know what it is.

[dump.log](https://github.com/checkpoint

[2019-01-30 07:10] adrianreber commented on #600
The error `Can't open vma` is follow-up error from the file size error. Make sure the binaries have the same size (and are actually the same binary).

[2019-01-31 07:12] rst0git opened #601 "Can't make pipe for page-pipe: Too many open files"
When trying to pre-dump an application which has allocated 1GiB of memory CRIU fails with
[code]
(Note that `criu dump` is successful in this case)

The reason for this issue is because CRIU creates too many pipe()s that are used to store the memory of the process, and every pipe creates two fds, thus we soon reach the limit of `RLIMIT_NOFILE`. I noticed that during pre-dump the buffer size of eac

[2019-01-31 08:43] rst0git commented on #601
Thanks Mike, I was just experimenting. For a solution I am thinking about using a child process that reads from the pipe-s, and if `pipe()` fails with `EMFILE` we just have to wait.

[2019-01-31 08:56] rppt commented on #601
For pre-dump @xemul  suggested to use sys_process_vm_read():
https://criu.org/Google_Summer_of_Code_Ideas#Optimize_the_pre-dump_algorithm

[2019-01-31 14:59] rst0git commented on #601
@rpp I was wondering what needs to be done for the patch series in https://lkml.org/lkml/2018/1/9/32 to be merged upstream?

[2019-01-31 16:12] rppt commented on #601
more users that would like to see this feature in the kernel.

[2019-02-01 22:20] avagin commented on #601
We can't wait there, because processes are stopped at this moment. criu pre-dump should not stop processes for a long time, otherwise it would not be a live-migration.

[2019-02-01 22:23] avagin commented on #601
Another way to fix this is to support splicing pages from pipe to a process address space without copping them.

[2019-02-03 16:51] adityacloud1 opened #603 "Error transferring container data: with Ubuntu 18.04 ZFS Storage"
Respected all,
Greeting of the Day !!!. I am trying to live migrate container ‘c3 launch with (Ubuntu 16.04)’ between two LXD servers, with apparmor security feature disabled and experimental setup is:

Physical machine OS: Ubuntu 18.04
lxc --version 3.9 (installed from source using: https://github.com/lxc/lxd)
lxd --version 3.9 (installed from source)
criu --version: 3.11 (installed from source)

[2019-02-03 20:47] Skizal commented on #600
I've been able to restore the script and get it running from the state it was dumped. Although, the mounts of the process are different. I was wondering if there were any options, at dump or restore, which could help at getting it right.
Info from proc/$pid/mounts, before and after:
[code]
[code]
Also, the process was placed in a different mount namespace. I thought that it would use the namespace

[2019-02-04 09:20] adrianreber commented on #600
No, CRIU does not remember which namespaces you used. Especially if you think about migration it makes not really sense. But there are a few ways to tell CRIU to use existing namespaces.

We have support to join an existing network namespace (see https://github.com/checkpoint-restore/criu/blob/criu-dev/test/others/netns_ext/run.sh). There is also `--join-ns`, which you try.

Another option is to u

[2019-02-10 18:21] rst0git commented on #601
Currently, both syscalls `process_vm_readv()` and `process_vm_writev()` have unused **flags** argument, which must be set to 0.

From the [commit message](https://lwn.net/Articles/415600/), it seems like this argument was intended to be used as follows:

Maybe, instead of introducing a new syscall, we could try to extend `process_vm_readv()` with support for a flag that allows to read memory from

[2019-02-12 03:05] avagin opened #612 "fc/rawhide: error: taking address of packed member of 'struct user_i387_ia32_struct' may result in an unaligned pointer value"
[code]

https://travis-ci.org/checkpoint-restore/criu/jobs/491756052

[2019-02-17 17:18] ashu-mehra opened #619 "checkpointing a runc container fails"
I am not able to checkpoint a runc container. I am not sure if I missed something.
I have built runc and criu from latest sources.

Steps performed:
[code]
At this point I can see container running and try to checkpoint it.
[code]

`dump.log` indicates following error:
[code]

Attaching the relevant log files:
[dump.log](https://github.com/checkpoint-restore/criu/files/2873194/dump.log)
[runc1.log

[2019-02-17 17:38] adrianreber commented on #619
I usually solve this by starting the container like this:

`runc run container-name -d -b /path/to/bundle-directory &> /dev/null  < /dev/null`

[2019-02-18 02:36] zhouxinyu commented on #597
Consider this socket is bind to /tmp dir, I ran the docker container with -v(/tmp:/tmp), the issue disappeared, so I think the root cause may be the overlay fs.

[2019-02-18 05:47] dineshputchala commented on #412
@avagin ..after kernel changes , CRIU also needs to do changes right to use this feature right ?

[2019-02-18 06:40] ashu-mehra commented on #619
That worked. I am able to restore it as well. Thanks for the command!

[2019-02-18 06:44] adrianreber commented on #619
Perfect, I am closing this. Please re-open if there are any other problems.

[2019-02-18 06:44] #619 closed

[2019-02-18 06:55] ashu-mehra commented on #619
Just for the record, I am jotting down another issue I faced earlier, but is not happening now.
When checkpointing a runc container I got the following error message:
[code]
Log file is:
[dump.log](https://github.com/checkpoint-restore/criu/files/2874309/dump.log)

I got this issue resolved by adding `AutoExtMnt` to `true` in the protobuf message sent by runc.
[code]
However, after I rebooted my V

[2019-02-18 07:21] adrianreber commented on #619
We had a discussion in runc about `AutoExtMnt` in this ticket: https://github.com/opencontainers/runc/pull/1968

It would be interesting how you got the mount `/sys/fs/fuse/connections` in your container. Did you use fuse from inside the container or was the external `/sys`fs` mounted inside the container. This would require knowledge about how you configured your container and what you did inside

[2019-02-18 22:53] avagin opened #622 "Error (soccr/soccr.c:368): recv failed (1973159, want 1959959): Success"
================== Run zdtm/static/socket-tcpbuf-local in uns ==================
Start test
./socket-tcpbuf-local --pidfile=socket-tcpbuf-local.pid --outfile=socket-tcpbuf-local.out
Run criu dump
Run criu restore
Run criu dump
Run criu restore
Run criu dump
=[log]=> dump/zdtm/static/socket-tcpbuf-local/237/3/dump.log
------------------------ grep Error ------------------------
(00.105515) inet:

[2019-02-19 04:49] avagin commented on #622
It looks like something wrong in the kernel

[code]

[code]

[2019-02-19 06:45] avagin commented on #622
[  162.274593] tcp_peek_sndq:1508 seq 3956651968 una 3956313276 nxt 3956329660
[  162.443296] tcp_peek_sndq:1508 seq 3956651968 una 3956329660 nxt 3956329660

[2019-02-19 11:00] hamann opened #623 "How to catch exit code of restored process"
Is there a way to get access to the exit code of the restored process?
What we basically like to do is to run a script, within the script restore the process and wait for it to exit and react on its exit code. I tried different variants as outlined in https://criu.org/Tree_after_restore but couldn't manage it with `wait` or `trap f SIGCHLD`

[2019-02-19 11:24] adrianreber commented on #623
Could you provide an example of what you are trying to do?

[2019-02-19 11:59] hamann commented on #623
Sure.

Let's say we have a task which exits after 60 seconds with exit code 7

[code]

and dump it
[code]

then restore it in another script and wait for it to exit

[code]

restore.sh then fails with

[code]

I thought that with `--restore-sibling` the caller script `restore.sh` would then be the parent of the restored process, but apparently not in this context. Is there maybe another way to ach

[2019-02-19 12:47] rst0git commented on #623
@hamann can try with `--exec-cmd`?
Example:
[code]
[code]

[code]

[2019-02-19 13:38] 0x7f454c46 commented on #623
@hamann Probably, you would like to run criu restore with `--shell-job`.

[2019-02-20 14:42] hamann commented on #623
@0x7f454c46 yes, I tried that already, but `wait` then just exits with `137`

[code]

[code]

[2019-02-20 15:17] MeatBoy106 opened #625 "name conflict in files generated from rpc.proto"
The field minor and major of the criu_version message conflict with macros defined in system header giving the following error :

Undefining these macros before including the file is not good enough to me ;)

[2019-02-20 15:45] adrianreber commented on #625
Could you provide some more details about what you are trying to do? Maybe also the steps you took to get this error.

[2019-02-20 15:50] 0x7f454c46 commented on #623
@hamann As far as I remember, bash's builtin `wait` in case of a process was killed by a signal returns status as `128 + signr`[1]. So, signr == (137-128) == 9 is SIGKILL. I guess, it's from CRIU that terminates your script on the dump.
Basically, what I think happens, at this moment in your script:
[code]
you get a zombie child process, which status you read from `wait` after you restore original

[2019-02-20 15:50] 0x7f454c46 commented on #623
[1]: https://www.gnu.org/software/bash/manual/html_node/Signals.html

[2019-02-20 16:56] MeatBoy106 commented on #625
To reproduce the issue:

1. Use ubuntu 18.04
2. Use gcc 7.3 (the default one on ubuntu 18.04)
3. Generate the C++ sources from rpc.proto using protoc (version >= 3.0.0)
4. Compile rpc.pb.cc

This will give you a bunch of the error message cited above.
This is caused by the fields major and minor of the criu_version message which share their names with macros defined by sys/sysmacros.h.

[2019-02-20 17:04] adrianreber commented on #625
Thanks, this has been reported in other projects already:

https://github.com/protocolbuffers/protobuf/issues/4654
https://github.com/google/gapid/pull/1995

It seems others have just renamed those fields. Not sure we can do that easily as it would break RPC clients.

[2019-02-21 15:41] Skizal commented on #600
The original issue is solved now so i close the case. Thanks for the information.

[2019-02-21 15:41] #600 closed

[2019-02-21 16:42] adrianreber commented on #625
Thinking more about it, this should actually be easy to solve as the names are not really important in protobuf, as long as the ID of those properties does not change it should be easy to change it.

For external RPC users we change the protobuf definitions and the corresponding code using it whenever it is necessary, but the communication between CRIU and its RPC clients should always keep workin

[2019-02-21 16:48] MeatBoy106 commented on #625
I'm not a protobuf expert but this sounds reasonable to me.
I've personally opted for the "#undef {minor,major}" workaround as it suits
my needs.

Le jeu. 21 févr. 2019 à 17:42, Adrian Reber <notifications@github.com> a
écrit :

--
Gabriel Busnot

[2019-02-21 16:57] adrianreber commented on #625
This changes will require code changes to everyone using our protobuf RPC definition. It will not break running programs, even if CRIU is updated, but compilation will fail. So kind of an API break without breaking ABI... (I hope I understand protobuf correctly).

[2019-02-21 17:18] MeatBoy106 commented on #625
It my actually be even better than that.
If I undestand protobuff, the field names exist only in the .proto file and
the .cc and .h files generated from it.
Everything after that point should be field names agnostic and relie on
field ids only.
As a result, as long as the API user doesn't regenerate the .cc and .h
files from the updated .proto file, his code will compile just as before
and run as

[2019-02-21 17:21] adrianreber commented on #625
Yes, that is also how I understand it. I will prepare a patch and hopefully this will be part of the next release if no one sees any other problems with this approach.

[2019-02-21 19:48] avagin commented on #412
@dineshputchala yes, we will need to add some code in CRIU to support time namespaces. But this should not be hard.

[2019-02-21 20:29] avagin commented on #597
@zhouxinyu it looks like  https://github.com/avagin/linux-task-diag/commit/d5440676990f5f8711af8cddeae1bfbb62d70f7e. It is good that you found a workaround for this issue.

[2019-02-21 22:48] avagin commented on #600
@Skizal CRIU can dump and restore a mount namespace and you can look in the runc code how it works. It doesn't work in you case, because you probably run "criu dump" in a target mount namespace. CRIU dumps a mount namespace, only if a target process has a mount namespace which is different than the current one.

[2019-02-22 04:54] zhouxinyu commented on #597
@avagin But it's not a good workaround solution, it's difficult to enumerate all the potential directories which will be used to bind Unix socket.

And as the above issue you mentioned, it seems that there are other fd related issues on overlayfs except unix socket ?

[2019-02-25 08:07] xuchenCN commented on #510
@thomashusa Could you tell me which version are you built ? thanks :)

[2019-02-26 21:22] avagin commented on #622
This issue was fixed in the kernel by this patch:
https://www.spinics.net/lists/netdev/msg554059.html

[2019-02-26 21:22] #622 closed

[2019-03-01 22:17] gepatto1 opened #639 "Error dumping in a LXC container (cgroup.c:592): cg: Couldn't mount blkio: Permission denied"
Hi ,
I am running a Ubuntu 16.04 container with the LXC v2.0.8.  In the container, I have criu 2.6 installed from apt.  When I try to dump the tcp-howto client, an error occurs when trying to dump the core. Here is are the log entries near the error:
pie: 212: Daemon waits for command
(00.026441) Fetched ack: 17 17 0
(00.026465) cg: Dumping cgroups for 212
(00.026577) cg:  `- New css ID 2
(00.0265

[2019-03-01 22:20] rst0git commented on #639
This is a very old version of CRIU. Would it be possible to update it?
https://criu.org/Installation

[2019-03-01 22:24] gepatto1 commented on #639
Yes, I will update to v3.11 and try again

Thanks,
Dan

[2019-03-01 23:01] gepatto1 commented on #639
I compiled criu 3.11 and have the same error. Here is the error from the dump log:

(00.029701) Error (criu/cgroup.c:600): cg: couldn't mount blkio: Permission denied
(00.029773) ----------------------------------------
(00.029783) Error (criu/cr-dump.c:1386): Dump core (pid: 9716) failed with -1

[2019-03-01 23:24] rst0git commented on #639
Does the error persist if enable nesting of cgroups for that container?
https://help.ubuntu.com/lts/serverguide/lxc.html.fr#lxc-nesting

[2019-03-01 23:51] gepatto1 commented on #639
The dump works now, I have in the container config
lxc.mount.auto = proc:rw cgroup
lxc.aa_profile = lxc-container-default-with-nesting

However, the restore does not. This is the error when restoring the tcp client:
cg: Preparing cgroups yard (cgroups restore mode 0x4)
Error (criu/util.c:1132): Unable to mark yard as private: Permission denied

Thank you,
Dan

[2019-03-02 01:11] rst0git commented on #639
The error message:
[code]
occurs because `mount("none", path, NULL, MS_PRIVATE, NULL)` fails with `EACCES`.

Could you try with `lxc.aa_profile=unconfined`?

[2019-03-02 02:16] gepatto1 commented on #639
Restore works with  lxc.aa_profile=unconfined in the container config.  I can run the tcp client demo in a container and the dump and restore work! Thank you very much for your help!
Dan

[2019-03-02 02:16] #639 closed

[2019-03-04 17:17] hamann commented on #623
@0x7f454c46 We could solve it by adjusting the code from @rst0git to exit with the same exit code as the child, that has the benefit that also `criu restore` exits with that exit code. Thank's a lot!

[2019-03-04 17:18] #623 closed

[2019-03-05 08:05] GitHubDiom opened #641 "dose you guys can run CRIU in ubuntu18"
recently i have clone CRIU's code for my test, but when a run the cmd , it happened ,and the test code(counting from 1 to 0x3f3f3f by sleep(1) per print ) is in /criu/test/

but i get the wrong code:

Warn  (criu/image.c:135): Failed to open parent directory
Warn  (compel/arch/x86/src/lib/infect.c:273): Will restore 16872 with interrupted system call
Error (criu/files-reg.c:869): Can't dump ghost

[2019-03-05 08:28] GitHubDiom commented on #641
um ... yeah

[2019-03-05 08:33] GitHubDiom commented on #641
it happens when i run the code in VSCode,  but in terminal that looks good. so what makes CRIU cant kill the process when i using VScode as a compiler .
clearly, when i run the code in VsCode, then i dump the process doesn't make the process stop but running as normal. but when i run the code just in terminal(using gcc file and ./a.out command), it looks good that the process was dump and restore

[2019-03-05 09:23] rst0git commented on #641
Hi @GitHubDiom

I am not quite sure what went wrong in your case, but if you wish to build CRIU from within the Microsoft Visual Studio Code editor, please use the [integrated terminal](https://code.visualstudio.com/docs/editor/integrated-terminal) and enter `make`.

I hope this answers your question.

[2019-03-05 10:21] GitHubDiom commented on #641
Hi @rst0git
thanks for your answer
yeah i am using this integrated terminal
i run the code(counting from 1 to 0x3f3f3f3f) through by type `./a.out` in terminal(VSCode one), and open another terminal(Ubuntu one), then i run the command `criu -D mycheckpoint_file -j -t pid` .
Normally the counting code should be terminated, but it still running and i check that the process continues(by `ps -ef | gre

[2019-03-05 16:05] shubham95 opened #642 "gprof"
to use gprof where to change in Makefile

[2019-03-05 17:20] avagin commented on #641
Could you show output for `cat /prod/pid/maps` and `ls -l /proc/pid/fd`?

[2019-03-05 20:17] rst0git commented on #641
I understand the issue now (@avagin thank you for the hint).

When we start an instance of an integrated terminal (in vscode), the shell (`bash`) inherits all file descriptors that were opened by the vscode process. Then, when we start a new process within that terminal/shell it will also inherits all those file descriptors.

As a result, if we call `criu dump` (in another terminal, outside vscode

[2019-03-07 14:55] harshanavkis commented on #349
I would like to work on this if it has not been taken up by anybody.

[2019-03-07 18:43] avagin commented on #625
Should we close this issue?

[2019-03-07 18:44] avagin commented on #612
Cc: @adrianreber

[2019-03-07 18:46] avagin commented on #603
Could you try to disable apparmor?

[2019-03-07 18:48] avagin commented on #603
Cc: @brauner

[2019-03-07 18:49] avagin commented on #599
The fedora bug was closed. Should we close this one?

[2019-03-08 01:48] avagin commented on #349
@harshanavkis github doesn't allow to assign it to you, but it is yours

[2019-03-08 07:20] #625 closed

[2019-03-08 07:22] MeatBoy106 commented on #625
Done, thanks for your work !

[2019-03-08 17:28] ayoungdahl opened #645 "Is it safe to not dump child processes?"
This is a CRIU design decision question rather than an issue.  I'm asking here because i'm not sure where else to pose this sort of question.

Question:  When CRIU checkpoints a process it checkpoints not only the specified pid, but also all child pids.  Typically this is what would be wanted.  However, suppose we knew that the child pids were not of interest in a restore is there are reason we wo

[2019-03-08 18:18] rst0git commented on #645
Actually, you can use the CRIT tool to achieve this. It allows you to modify the image files generated by CRIU. In particular, you should modify the `pstree.img` file by removing the processes you do want to be restored.

Example:
[code]
In addition, you can use `--leave-running` or `--leave-stopped` to control the state in which the processes are being left after checkpoint (i.e. if you wish CRIU

[2019-03-08 21:01] ayoungdahl commented on #645
Fantastic!  This is helpful information.  We've made use of the --leave-running flag. CRIT is something I was vaguely aware of but hadn't looked into yet.  I will look into CRIT.  Mostly I wanted to be sure that restoring only part of a process tree wasn't a problematic idea.  Thanks for your response.

[2019-03-08 21:01] #645 closed

[2019-03-09 23:51] pietschy commented on #599
I can confirm checkpointing is working for my containers in the latest fedora release so I'm happy to close this.  Thanks for all your help guys.

[2019-03-10 20:29] avagin opened #647 "zdtm/static/pty02 hangs up"
[code]

[code]
https://ci.openvz.org/job/CRIU/job/CRIU-restore-sibling/job/criu-dev/

[2019-03-10 20:32] avagin commented on #647
[code]

[2019-03-10 20:37] avagin commented on #647
[code]

[2019-03-10 20:37] avagin commented on #647
[code]

[2019-03-10 20:55] cyrillos commented on #647
What kernel is it?

[2019-03-10 20:56] cyrillos commented on #647
Will try to take a precise look tomorrow. Thanks!

[2019-03-13 10:02] adrianreber commented on #612
Will look into it. There is currently another error on criu-dev travis with rawhide, but still an error:
[code]

[2019-03-13 10:04] #599 closed

[2019-03-13 10:29] brauner commented on #603
Would the zombie process leave criu unable to inject the parasite code? Looks like it at least.

[2019-03-14 17:27] #612 closed

[2019-03-14 21:43] gepatto1 opened #650 "Restoration failed Error Bad mode"
I am using criu ver 3.11 inside Ubuntu 16.06 container hosted by LXC ver 2.0.8. I would like to run the example tcp-howto, dump the process, and then scp the files in the img-dir to another LXC and restore the tcp-howto process. The dump and restore work when run on each LXC.  I tar the img-dir folder and files and scp the tar.gz to the other LXC and uncompress it. When I run the restore as root t

[2019-03-15 08:13] adrianreber commented on #650
That is the important line:
[code]

Make sure the binary is the same on both involved systems. `chmod 775 /home/user1/tcp-howto` could be a solution.

[2019-03-15 13:01] haha150 opened #651 "Live migration using LXC and CRIU with openvswitch"
I am trying to use openvswitch instead of the lxdbr0 that LXC provides and i am able to do so but i cannot live migrate a container attached to the openvswitch on the source to another remote LXD host. The two machines are exactly the same and both run openvswitch with the same name of the switch etc. So when i do "lxc move c1 remote2:", i get the error that the restore fails because it cannot att

[2019-03-15 13:44] adrianreber commented on #651
I added a question to the original error report to understand it better. CRIU has no lxdbr0 hard coded anywhere, so there must be some reason in the combination of LXD, LXC and CRIU that lxdbr0 appears.

[2019-03-15 14:30] gepatto1 commented on #650
Thank you - the permissions for tcp-howto were different on the 2 hosts. Once they were identical, the error did not occur.

[2019-03-15 14:30] #650 closed

[2019-03-16 14:22] mitulkarnik commented on #340
Is this issue resolved?
Because when I visited the link mentioned in the description the page says "This file no longer exists"

[2019-03-16 18:06] mitulkarnik commented on #341
I am interested to implement this enhancement. As per the suggestions given by Radostin on mailing list I am looking for possible solutions.
Candidates:
clock_gettime() with CLOCK_MONOTONIC  parameter
exploring more on similar lines

[2019-03-17 05:10] #334 closed

[2019-03-20 11:51] GitHubDiom commented on #641
hi @rst0git  @avagin   i am sorry to borther you
I meet another question when i deploying CRIU....
## how can  i MAKE CRIU when i tpye `sudo make && sudo make install ` in share filesystem on windows.

- i have a shared file on windows
- i mount the share file on ubuntu
- connect ubuntu by ssh (from windows)
- then i want to modify CRIU's resource in my windows computer

### thats the code i type

[2019-03-20 18:23] rst0git commented on #641
@GitHubDiom
[code]

[2019-03-20 19:32] rst0git commented on #340
I don't think this one has been fixed. Try the following:
[code]

[2019-03-21 02:24] GitHubDiom commented on #641
that is the issue ..

      To enable these features, please install libbsd-devel (RPM) / libbsd-dev (DEB).
  GEN      include/common/asm
ln: failed to create symbolic link 'include/common/asm': Operation not supported
Makefile:177: recipe for target 'include/common/asm' failed
make: *** [include/common/asm] Error 1

feeling sad...

[2019-03-21 14:05] adrianreber commented on #641
It sounds like your file-system does not support creating symbolic links. The CRIU build process needs it, so you have to use another file-system to build CRIU. Maybe a ramdisk?

[2019-03-21 14:12] GitHubDiom commented on #641
@adrianreber  thank you
this happened when i put all CRIU file in shared file (on windows and mount it on linux by cifs), but once i `make && make install ` CRIU on Ubuntu file system(means NOT in shared file), all is fine.

Is it because of the difference in the file system? （windows and linux）

[2019-03-21 14:17] adrianreber commented on #641
Not really sure, but it seems the windows file system does not support symbolic links.

[2019-03-22 13:44] adrianreber opened #652 "s390x travis test broken"
The travis test run for s390x fails with:
[code]

@alicefr is this something you can look into?

[2019-03-22 13:46] adrianreber opened #653 "docker-test travis tesst cases fails"
It seems the docker-test travis run uses some docker commands which do not exist anymore (maybe?). Do we want to remove this test or can it be easily fixed?

[2019-03-22 15:02] avagin commented on #653
It has to be fixed.

On Fri, Mar 22, 2019, 6:46 AM Adrian Reber <notifications@github.com> wrote:

[2019-03-22 20:10] avagin commented on #653
@adrianreber could you be more detailed what you mean? I looked at last runs and didn't find there any problems. For example:
https://github.com/checkpoint-restore/criu/issues/653

[2019-03-22 20:55] rst0git commented on #653
One thing I noticed is that we use a deprecated `--security-opt` format but I'm not sure if this would cause the test to fail. We should change `seccomp:unconfined` to `seccomp=unconfined`  in `scripts/travis/docker-test.sh`.

[2019-03-23 07:27] adrianreber commented on #653
Hmm, just saw a failure and lots of error messages, but looking at your link there are also lot of error messages. It seems that is how the test should work. Should have looked closer at the script.

[2019-03-23 07:27] #653 closed

[2019-03-23 08:40] avagin commented on #653
These errors are intentional. This how we check that a container is not running after the checkpoint operation:
https://github.com/checkpoint-restore/criu/blob/criu-dev/scripts/travis/docker-test.sh#L54

[2019-03-23 08:43] #647 closed

[2019-03-25 08:15] alicefr commented on #652
@adrianreber I'm travelling this week and I don't have much time. I'll have a look next week, if I don't find any time this one.

[2019-03-25 13:08] emanuelebevegni opened #656 "Tips for my university project"
Hi everyone!
Im making a university project with criu but im kinda new to the linux and criu world. Times ago i already asked here on github some advice on criu but now i need your help for improve my work. The university asked me to improve my work and try to stop FireFox with google map open in specific coordinate e re-open it on another pc in the status when i stopped it. I already read somethi

[2019-03-25 14:59] xemul commented on #656
Hi,

We have a long-long-pending request to have this feature implemented :) However, implementing it seems to be quite a huuge task. I've tried to summarize the problems we see in this article: https://criu.org/X_applications .

[2019-03-25 16:20] rst0git commented on #656
@emanuelebevegni Migrating a container that is running x11vnc server could be an alternative approach
https://github.com/x11vnc/docker-desktop
https://github.com/fcwu/docker-ubuntu-vnc-desktop

[2019-03-26 11:46] adrianreber commented on #652
@alicefr No, problem. This seems to be related that the Jessie release has been moved to archive.debian.org  for non-LTS architectures.

[2019-03-27 13:15] emanuelebevegni commented on #656
@rst0git right now im working on fedora, i will read or the papar i give it to me and i have to discuss with my professor about that because its all new for me and if it is not a big task to do. I will update u as soon as i can. Thx a lot

[2019-03-27 19:59] avagin commented on #510
https://github.com/moby/moby/pull/37710

[2019-03-27 19:59] #510 closed

[2019-03-28 17:08] adrianreber commented on #652
@avagin fixed it. Thanks!

[2019-03-28 17:08] #652 closed

[2019-03-28 19:27] mitulkarnik commented on #341
I am exploring the possibility of using clock_gettime with Clock_Id as CLOCK_MONOTONIC_RAW which eliminates the skews caused by ntp or adjtime. I want to know if this approach works on all platforms
something like

`clock_gettime(CLOCK_MONOTONIC_RAW, &timespec);`
I have created the patch for the same and am able to generate the relative timestamps as well.
Have doubt if this approach works.  Will

[2019-03-28 21:29] xemul commented on #341
Actually, the idea behind this issue was quite simple -- when printing a new line in logs get the time of the previous line, subtract it from the current time and print the result. We all wanted to see in logs the amt of time each line takes to roughly estimate the "weight" of each operation.

[2019-03-29 10:09] phenix317 opened #659 "migrating container running openvswitch fails"
Hello,

It seems that we have found another problem during the dump part of the live migration, dump failed and the error showed in the log is:

Error (criu/net.c:461): Unsupported link 2 (type 1 kind openvswitch)

Basically, we are trying to run an OVS inside an LXC and migrate it, but this seems to fail.

The Hosting Machine information:
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.2 LTS
Rel

[2019-03-29 18:33] avagin commented on #603
We read a process list from a container freezer cgroup. We expect to find a zombie process there, but it should disappear in a short period of time. It is why we try to do this a few times.

https://github.com/checkpoint-restore/criu/blob/criu-dev/criu/seize.c#L152

[2019-03-29 18:39] avagin commented on #603
@adityacloud1 could you reproduce this issue again and then get more information about a process which can't be interrupted. I would like to see /proc/pid/status for this process. And can you try to run strace -p PID -s 256 -f for this process?

[2019-03-30 17:39] haha150 opened #662 "Live migrate LXC with ipv6 server running inside"
Hi,

So my issue is regarding a issue that i posted in LXD github "https://github.com/lxc/lxd/issues/5612" and i was directed here. My issue is that i am running a iperf server inside the container and it is running ipv6 so i dont have any ipv4 address for the container only ipv6. The iperf command "iperf -s -V -i 1" to clarify that its a ipv6 iperf server. Now when i connect a client to this iper

[2019-03-31 11:24] haha150 commented on #662
I tested some more and i can successfully migrate a container that runs iperf ipv6 server with 1 client connected to it. However, when the migration runs and is near the finish, the TCP connection from the server sends a FIN to the client and terminates the server and then successfully migrates. This does not happen with ipv4, do you have any idea?

[2019-04-01 10:45] xemul commented on #659
That's because of unknown to CRIU network device of kind "openvswitch". Each netdev should be handled carefully, so when meeting an unknown one CRIU fails. We currently support lo, bridges, tun/tap-s and some tunnels (e.g. sit).

Adding a new netdev is not an extremely complex task, but we don't have anyone who's involved in ovs _that_ much :) If you could contribute the code, that'd be awesome. F

[2019-04-01 10:51] xemul commented on #532
Sorry for just noticing this :)

This is not a "limitation", this is an attempt to distinguish /proc/<pid> path from anything else (e.g. ip tool's bindmounts). And looking at the code I'd say it's quite buggy :(

[2019-04-01 11:23] phenix317 commented on #659
Hi xemul,

I was navigating through the source code while waiting answers, yes what you are saying is true. I guess, it should not be quite different from bridges ?

If I can get commits for adding bridges support it will help for the addition of the OvS support.

BR,

[2019-04-01 14:08] adrianreber commented on #662
Can you post the complete CRIU logs. Any transmissions from the network stack should be blocked by iptables rules which CRIU tries to inject. Maybe that fails.

[2019-04-01 14:55] haha150 commented on #662
Hi, can you give me the command to get those logs?

On Mon, 1 Apr 2019, 16:08 Adrian Reber, <notifications@github.com> wrote:

[2019-04-01 15:43] adrianreber commented on #662
Not sure where LXD stores those logs. But Ubuntu 18.04 definitely has a too old version of iptables:

https://bugs.launchpad.net/ubuntu/+source/iptables/+bug/1791958

[2019-04-01 16:31] rst0git commented on #662
@haha150 What is your CRIU version?

[2019-04-01 16:42] haha150 commented on #662
Hi,

I am using LXD 3.11 from snap which if i am not wrong, uses the latest CRIU...?

[2019-04-01 18:54] haha150 commented on #662
@adrianreber Hi, i installed iptables v1.8.2 (legacy) compares to the version 1.6.1 that you mentioned was old, but i still have issues. After i migrate, the iperf ipv6 TCP server in the container it still breaks, it sends termination to the client. Message on client side "write failed: Connection reset by peer". But it seems that the migration went through for some reason.

[2019-04-04 08:01] haha150 commented on #662
Hi, did anyone look in to this? Its kind of a big issue since Ipv6 is going to be used primarily.

[2019-04-04 08:06] rst0git commented on #662
@haha150 Can you reproduce the same issue outside a container?

[2019-04-04 10:46] haha150 commented on #662
Hi,

So i ran the above test and got the same issue that the connections breaks:

CLIENT:
ubuntu@client:~$ iperf -V -c 2001:db9:3::5 -i 1 -t 1000 -b 10m
------------------------------------------------------------
Client connecting to 2001:db9:3::5, TCP port 5001
TCP window size: 85.0 KByte (default)
------------------------------------------------------------
[  3] local 2001:db9:3::b port 47392

[2019-04-04 11:05] rst0git commented on #662
Thank you for running the test. Could you please upload/share `dump.log` and `restore.log`?

[2019-04-04 11:27] haha150 commented on #662
DUMP
`ubuntu@test:/tmp/test$ cat dump.log
(00.000059) Version: 3.6 (gitid 0)
(00.000083) ========================================
(00.000093) Dumping processes (pid: 1920)
(00.000097) ========================================
(00.000102) Running pre-dump scripts
(00.000114) irmap: Searching irmap cache in work dir
(00.000124) No irmap-cache image
(00.000129) irmap: Searching irmap cache in parent
(

[2019-04-04 11:54] rst0git commented on #662
@haha150  Thank you for sharing the logs. From there I can see that your CRIU version is 3.6. However, there are a few patches for IPv6 checkpoint/restore support merged after this release.

Could you try to run the iperf test with the latest version? It can be installed as follows:
[code]
Then, you use the newer version with `$ /usr/local/sbin/criu` (instead of `$ criu`).

[2019-04-04 12:12] haha150 commented on #662
Hi,

I am trying, but currenty getting compilation errors for CRIU:

In file included from images/google/protobuf/descriptor.pb-c.c:9:0:
images/google/protobuf/descriptor.pb-c.h:7:10: fatal error: protobuf-c/protobuf-c.h: No such file or directory
 #include <protobuf-c/protobuf-c.h>

[2019-04-04 12:44] haha150 commented on #662
Hi,

I tried and it seems to work (i tried twice), the session is restored successfully. So i now want to try with LXC.

[2019-04-04 14:13] haha150 commented on #662
Hi,

I tried with running the same thing, iperf server inside LXC but when i dump the container the tcp connection the the iperf server dies (still ipv6). Any ideas?

[2019-04-04 20:46] rst0git commented on #662
If checkpoint/restore of iperf server outside a container works the issue you are seeing could be related other processes running in the container.

Could you try to create a stateful snapshot of your LXD container and upload/share the logs?

[code]

If LXD is installed from snap, the logs should be stored in
`/var/snap/lxd/common/lxd/logs/<container>/snapshot_dump_<timestamp>.log`

[2019-04-04 22:53] haha150 commented on #662
Here you go sir:

[code]

[2019-04-05 19:08] avagin opened #666 "[x32] sigpending.c:75: The signal is received before unlocking (errno = 2 (No such file or directory))"
[code]
https://ci.openvz.org/job/CRIU/job/CRIU-x86-32/job/criu-dev/1924/consoleFull

[2019-04-05 21:59] avagin commented on #666
70e06765af4614330205628cde0a49e30535f303 is the first bad commit
commit 70e06765af4614330205628cde0a49e30535f303
Author: Adrian Reber <areber@redhat.com>
Date:   Wed Mar 13 12:48:19 2019 +0000

    criu: fix gcc9 rawhide compilation errors

    Signed-off-by: Adrian Reber <areber@redhat.com>

:040000 040000 cb4426e6f5ce41f6ab39a3b5137c31fb37c5cff1 15236e97a340283d1213dab45a4ba1a6b68d0504 M	compel

[2019-04-05 22:59] avagin commented on #666
Steps to reproduce:
bash-4.4# git clean -dxf test/
bash-4.4# export COMPAT_TEST=y
bash-4.4# python test/zdtm.py run -t zdtm/static/sigpending

[2019-04-05 23:02] avagin commented on #666
The problem here is that we restore SigBlk masks incorrectly:

Before C/R:
SigBlk:	fffffffe7ffbbeff
SigBlk:	fffffffe7ffbbeff

After C/R:
SigBlk:	7ffbbeff00000000
SigBlk:	7ffbbeff00000000

[2019-04-05 23:33] avagin commented on #666
Before 70e0676:
(gdb) p &((struct ucontext_ia32 *)0)->uc_sigmask
$1 = (k_rtsigset_t *) 0x6c

After 70e0676:
(gdb) p &((struct ucontext_ia32 *)0)->uc_sigmask
$1 = (k_rtsigset_t *) 0x70

[2019-04-06 22:48] 0x7f454c46 commented on #666
Hehe, as expected: https://github.com/checkpoint-restore/criu/pull/649#issuecomment-472496186
I'll look at that. I guess, related to removing __packed attributes.
I've also noticed that Travis-CI has 4.15 these days, so I'm planning to add an env for ia32 to prevent further such happenings. Actually, I even had some draft for that - but found that on ubuntu there are some problems to install both

[2019-04-08 02:18] rst0git commented on #656
@emanuelebevegni This is a simple checkpoint/restore demo of Firefox
https://www.youtube.com/watch?v=kjhuzSl6JYc

[2019-04-08 10:26] emanuelebevegni commented on #656
@rst0git thx for the video, i have a appointment today with my professor and i will show everything to him so we can decide how to proceed. Thank you for all the help.

[2019-04-09 12:10] haha150 commented on #662
did the logs give any hint to how to solve the problem?

[2019-04-11 18:10] #666 closed

[2019-04-11 18:12] adrianreber commented on #666
@0x7f454c46 : thanks!

[2019-04-12 13:13] ram619 opened #670 "lxc checkpoint container failed"
Error message

lxc-checkpoint example-ubuntu 20190412122351.870 ERROR    criu - criu.c:do_dump:1328 - dump failed with 1
lxc-checkpoint example-ubuntu 20190412122351.870 ERROR    criu - criu.c:do_dump:1342 - criu output: Will skip in-flight TCP connections

lxc-checkpoint example-ubuntu 20190412122351.870 ERROR    lxc_checkpoint - tools/lxc_checkpoint.c:checkpoint:200 - Checkpointing example-ubunt

[2019-04-12 13:16] adrianreber commented on #670
We need to see the content from CRIU's log file: `dump.log` Can you provide that file?

[2019-04-12 13:44] ram619 commented on #670
Please help me with the command. I am not sure how to generate that.
Thanks

[2019-04-12 13:55] adrianreber commented on #670
According to the output of LXC/LXD it should be at `/root/checkpoint/dump.log`

[2019-04-12 14:10] ram619 commented on #670
[dump.log](https://github.com/checkpoint-restore/criu/files/3073637/dump.log)

[2019-04-12 14:14] adrianreber commented on #670
[code]
Not sure what `/dev/lxc/tty4` is. Maybe @brauner has an idea.

[2019-04-16 11:38] dubukuangye opened #673 "after udp restore: system call to 'sendto' report errno=EACCES Permission denied"
I am experimenting with udp checkpoint feature. I have a udp client program and a udp server program. It seems to be OK by looking at the log. But when I tried to restore back to the checkpoint. The udp program failed to call `sendto`, with errno=EACCES (Permission denied). It seems the socket has lost 'SO_BROADCAST' attribute after restored.

My system configuration is as follows:
CentOS Linux re

[2019-04-16 16:13] rst0git commented on #673
You are right. Could you please try the following patch?

[code]

Note that you don't need the `--tcp-established` option to restore UDP connections.

[2019-04-16 18:36] aalsudais opened #674 "Restore fails to restore connection to nfqueue"
Hello,

I'm running snort in a docker container, which connects to an nfqueue queue on the host network (configured with iptables) to process network packets.
Checkpointing the container seems to work fine. However, when I restore the container, it fails to connect to the queue (cat /proc/net/netfilter/nfnetlink_queue returns nothing). After restoring the container, snort is not able to see any pa

[2019-04-17 02:53] dubukuangye commented on #673
Thanks! But now I came cross compilation problem.

My system configuration is as follows:
CentOS Linux release 7.1.1503 (Core)
CRIU source code
gcc version 4.8.3 20140911 (Red Hat 4.8.3-9) (GCC)

Build output after I follow the notes from  https://criu.org/Installation
[code]

[2019-04-17 07:20] dubukuangye opened #677 "stddef"

[2019-04-17 07:21] #677 closed

[2019-04-17 14:37] adrianreber commented on #674
I know nothing about snort or nfqueue, but I guess that snort configures those queues when it starts up. You probably have to set up the queues yourself or add support to CRIU to dump and restore nfqueues.

[2019-04-17 14:41] aalsudais commented on #674
Thanks Adrian,
I just wanted to make sure that I didn't miss something. I'll try to work around this and will probably fork CRIU as I also want to work on adding support for DPDK (though not sure yet how).

[2019-04-18 03:55] dubukuangye opened #679 "criu-coredump failed reporting 'no reg-files.img file'"
I am generating coredump from images using criu-coredump. But it failed with error

My system configuration is as follows:
CentOS Linux release 7.1.1503 (Core)
CRIU 3.11

The following are the commands that I issued to create the problem.
criu dump -t 14455 --tcp-established --shell-job -vvvv -o dump.log && echo OK
criu restore -d -vvv --tcp-established --shell-job -o restore.log && echo OK

It se

[2019-04-18 12:33] maikelcoenen opened #680 "Error (criu/cr-restore.c:1424): 574 killed by signal 11: Segmentation fault"
When restoring my Java application I get a segmentation fault and I don't know how to solve it. Maybe I'm missing some options but the error isn't really helpful either. The dump process is finished without any errors and I don't do any special tasks in between. So all the files are in the same directory etc.

`root@qemuarm:/# criu -V
Version: 3.11
GitID: v3.11-2-gbe28d92`

`criu dump -t <PID> -D

[2019-04-18 14:21] adrianreber commented on #680
Could you try to upload restore.log again. I do not see it attached.

From the hostname it sounds like you are running on a qemu emulated arm system. 32bit or 64bit?

Can you try the same on x86_64? As that is the architecture that gets the most testing it would be interesting to know if it is an architecture specific problem.

[2019-04-18 14:44] adrianreber commented on #670
After a short chat with @brauner he said that /dev/lxc/tty4 are LXC TTY FDs for running getty. I am not sure what is necessary for CRIU to correctly handle those TTYs. According to the debug output from LXC it seems to call CRIU with `--external tty[8802:15]`, not sure if that is related. Or if something changed in LXC. Maybe someone else has an idea.

[2019-04-18 15:03] maikelcoenen commented on #680
True, I emulate a 32-bit ARM processor. Already tested it on a 64-bit Ubuntu machine and it restores successfully. Probably an architecture specific problem indeed.

[2019-04-18 15:10] adrianreber commented on #680
Thanks for the clarification. 32bit ARM is regularly tested by our CI environment, but looking at those logs it seems it is only a compile test, so maybe it is up to you to figure out what is wrong on 32bit ARM and maybe also fix it.

[2019-04-18 15:49] adrianreber commented on #679
Without looking at it, this could be true. criu-coredump has also not been ported to python 3 as far as I know. Is fixing criu-coredump something you would be willing to help? This is probably also something which needs to be included into our CI testing.

[2019-04-18 17:23] avagin commented on #680
Could you collect a coredump?
Usually, you need to do these commands:
ulimit -c unlimited
echo /tmp/core > /proc/sys/kernel/core_pattern
criu restore ....
ls -l /tmp/core*

then you will need to open each core file with gdb and get back-traces:
gdb -c /tmp/coreXXXX /usr/bin/criu
and then  you need to call the "bt" command.

[2019-04-19 08:37] maikelcoenen commented on #680
`root@qemuarm:/# ulimit -c unlimited
root@qemuarm:/# echo /tmp/core > /proc/sys/kernel/core_pattern
root@qemuarm:/# criu restore -d -D /update/img/ -v4 -o /update/log/restore.log
root@qemuarm:/# ls -l /tmp/core
-rw------- 1 root root 790528 Apr 19 08:36 /tmp/core
root@qemuarm:/# gdb -c /tmp/core criu
GNU gdb (GDB) 8.2
Copyright (C) 2018 Free Software Foundation, Inc.
License GPLv3+: GNU GPL versio

[2019-04-19 13:12] dubukuangye commented on #679
Of course I would like to help. Here is the code:

[code]

Now I am in trouble with sending patch using `git send-email` ~_~ And I will fix it!

[2019-04-19 15:24] avagin commented on #679
You can create a github pull-request.

[2019-04-20 21:02] #674 closed

[2019-04-21 12:32] rst0git commented on #601
391c19553e4a7fc0f839554cb0a58f84cd2a6fb5

[2019-04-21 12:32] #601 closed

[2019-04-25 12:41] ashu-mehra opened #684 "capabilities required to restore a process"
I understand we need certain capabilities when using criu in a docker container.
Easiest approach is to use `--privileged` option which grants all the capabilities. But it is not advisable to use this option in production environments. My use-case is to be able to restore a process from a checkpoint in a docker container without using `--privileged` option. For creating the checkpoint I can use `-

[2019-04-25 16:22] ashu-mehra commented on #684
Forgot to mention that when docker container is started with `--cap-add SYS_ADMIN --cap-add NET_ADMIN --security-opt apparmor=unconfined` options, criu check returns following:
[code]

I guess the error related to `tun` is not really fatal.
My criu level is head of `criu-dev` branch.

[2019-04-25 19:45] adrianreber commented on #684
One of the last steps during restore is to restore the capabilities. It seems your are missing the capability to set capabilities. It seems `criu check` does not check if it can change capabilities. Not sure which capability is needed, maybe `CAP_SETPCAP`.

[2019-04-25 19:55] adrianreber commented on #641
Closing this. This seems to be solved. Please re-open if necessary.

[2019-04-25 19:55] #641 closed

[2019-04-26 00:23] rst0git commented on #684
Running the test suite and recording the required capabilities (with [capable](https://github.com/iovisor/bcc/blob/master/tools/capable.py)) results in the following set:

CAP_DAC_OVERRIDE
CAP_CHOWN
CAP_SETPCAP
CAP_SETGID
CAP_AUDIT_CONTROL
CAP_DAC_READ_SEARCH
CAP_NET_ADMIN
CAP_SYS_ADMIN
CAP_SYS_CHROOT
CAP_SYS_PTRACE
CAP_FOWNER
CAP_KILL
CAP_FSETID
CAP_SYS_RESOURCE
CAP_SETUID

[2019-04-29 12:09] ashu-mehra commented on #684
@rst0git @adrianreber thanks for responding and for providing the link to that `capable` tool.

Just a bit more background as to what I am trying to do:
1. Checkpoint a process P in a docker container X.
2. Commit the container to create new image, say X1.
3. Now start a new container using image X1.
4. Restore the process P in the new container.

Now in step 1 I started the docker container with

[2019-04-29 15:54] rst0git commented on #684
Capabilities are stored in the `core-%u.img` file. You can view (or edit) its content with the `crit` tool.

The error `Unable to restore capabilities: -1` (in the first comment) shows that `capset()` has failed. According to the man page `capset(2)` the reason for the error is likely to be:

[2019-04-29 23:27] qzysw123456 opened #686 "Docker checkpoint failed with new release"
version3.11 works pretty fine
docker checkpoint create cr cr1
cr1

version3.12 doesn' t work
docker checkpoint create cr cr1
Error response from daemon: Cannot checkpoint container cr: rpc error: code = 2 desc = exit status 1: "Incorrect Usage.\n\nNAME:\n   docker-runc checkpoint - checkpoint a running container\n\nUSAGE:\n   docker-runc checkpoint [command options] <container-id>\n\nWhere \"<cont

[2019-04-30 00:12] rst0git commented on #686
What is your Linux distribution and docker version? What is the container that failed to checkpoint?

I can't reproduce the error with CRIU 3.12, Docker version 18.09.4 on Ubuntu 18.04.2.

[2019-04-30 00:17] qzysw123456 commented on #686
Thanks for your quick reply. My linux distribution is 16.04, with docker version 17.06.0-ce

[2019-04-30 00:36] qzysw123456 commented on #686
And I agree with you that docker version 18.09.4 on Ubuntu 18.04.2 works fine! Thanks. But anyway can I find the previous version 3.11 in PPA?

[2019-04-30 05:55] avagin commented on #680
what criu version do you use? According to this brack-trace, it isn't v3.11-2-gbe28d92.

[2019-04-30 06:03] maikelcoenen commented on #680
Sorry, during tests I also updated to the dev branch.

Version 3.11 GitID v3.11-230-ga284d19

Also worth mentioning, I am running CRIU on a simulated ARMv5. To do this, I changed the assembly code of atomic.h. Should not be a problem but perhaps for the rest of the error.

[2019-04-30 06:10] avagin commented on #680
I recommend adding more debug prints in open_inet_sk to figure out what wrong there.

[code]

ii which is equal to 0 looks suspicious.

[2019-04-30 06:21] rst0git commented on #686
@adrianreber Would it be possible to add version 3.11 in [`ppa:criu/ppa`](https://launchpad.net/~criu/+archive/ubuntu/ppa)?

[2019-04-30 06:44] adrianreber commented on #686
From what I have seen that is not possible. Once the 3.12 version has been build for the PPA, the 3.11 version is no longer available. I guess the original reporter needs a newer version of runc. Although I am not aware of why older versions of runc are not working anymore.

[2019-04-30 07:11] adrianreber commented on #686
Maybe this works: https://launchpad.net/~criu/+archive/ubuntu/ppa/+build/15618360/+files/criu_3.11-2ppa.16.04_amd64.deb

[2019-04-30 07:12] qzysw123456 commented on #686
It is helpful, thanks!

[2019-04-30 07:13] #686 closed

[2019-04-30 14:15] weiwang999 opened #687 "restore error on remote node"
when I restore on the same node, it works while on another node, it fails  the error is as following:
sudo criu restore -j
Error (criu/cgroup.c:1704): cg: 	Can't mount controller dir .criu.cgyard.fVGJqJ/rdma: No such file or directory

is there anyone who knows the root cause?

[2019-04-30 14:20] adrianreber commented on #687
It seems one system has a RDMA cgroup the other does not.

Can you show us the cgroups on both systems?

Maybe you could use `--manage-cgroups none` (or `props`) to ignore the cgroups.

[2019-04-30 14:24] weiwang999 commented on #687
yes, only one node has a RDMA cgroup.
could you pls give me a solution of how to ignore this RDMA cgroup?
I can not upgrade my kernel on the node that doesn't have a RDMA cgroup

[2019-04-30 14:27] adrianreber commented on #687
Have a look at `--manage-cgroups` in the documentation.

[2019-04-30 14:29] weiwang999 commented on #687
sudo criu restore -j --manage-cgroups none
Error: excessive parameter for command restore
there is an error

[2019-04-30 14:45] weiwang999 opened #688 "excessive parameter for command restore there is an error"
sudo criu restore --manage-cgroups none -j

I have no idea of how to add this option --manage-cgroups none

[2019-04-30 16:01] weiwang999 commented on #687
it doesn't work
sunsky@sunsky:/popcorn/miniz/aarch64$ sudo criu restore --manage-cgroups=none -j
Error (criu/cgroup.c:1704): cg: 	Can't mount controller dir .criu.cgyard.cBua1q/rdma: No such file or directory

[2019-04-30 18:19] 0x7f454c46 commented on #687
@weiwang999 could you try with this test patch?
https://github.com/0x7f454c46/criu/commit/f7fae62ec2120fc69b84733f4b51ee88f2904f84 (`--manage-cgroups ignore`)

[2019-04-30 18:29] avagin commented on #688
sudo criu restore --manage-cgroups=none -j

[2019-04-30 18:29] #688 closed

[2019-04-30 20:04] weiwang999 commented on #687
after fixing the problem with RDMA cgroup, the restoring error still exits
 sudo criu restore -j
Warn  (criu/net.c:2840): Unable to get tun network namespace
  7363: Error (criu/files-reg.c:1680): File popcorn/miniz has bad mode 040775 (expect 040755)
  7363: Error (criu/files.c:1348): Can't open cwd
Error (criu/cr-restore.c:1421): 7363 exited, status=1
Error (criu/cr-restore.c:2300): Restoring FA

[2019-04-30 20:08] 0x7f454c46 commented on #687
@weiwang999 a file on your filesystem has different permission - CRIU doesn't migrate your files, rather you/your container engine should bother with copying files to a destination as they were on a checkpoint.

[2019-04-30 20:23] weiwang999 commented on #687
I fail to understand what this means. all of them is root permission.

[2019-04-30 20:28] 0x7f454c46 commented on #687
it has `rwx (7)` for group, while criu expect `rx (5)` for group

[2019-04-30 21:06] weiwang999 commented on #687
thanks, after changing the permission. it works.
but there is a new error
popcorn-miniz: failed to open: Permission denied

its permission is 775, so it should be not denied. it is weird
-rwxrwxr-x 1 sunsky sunsky  9066190 Apr 30 16:45 popcorn-miniz

[2019-04-30 21:09] 0x7f454c46 commented on #687
@weiwang999 it looks as the message is printed by your program, is it? Probably, another file that it tries to open has different permissions on the destination system?

[2019-04-30 21:12] weiwang999 commented on #687
yes.
in node A :  ./popcorn 1.txt
-rw-rw-r-- 1 helios helios       14 Apr 30 16:43 1.txt
-rwxrwxr-x 1 helios helios   Apr 30 16:43 popcorn-miniz
then I used criu to checkpoint it and restored it on node B
-rw-rw-r-- 1 sunsky sunsky       14 Apr 30 16:45 1.txt
-rwxrwxr-x 1 sunsky sunsky   Apr 30 16:45 popcorn-miniz

[2019-04-30 21:14] 0x7f454c46 commented on #687
@weiwang999 a different user? (check UID)

[2019-04-30 21:14] weiwang999 commented on #687
yes. because on another node to restore it

[2019-04-30 21:18] 0x7f454c46 commented on #687
so, CRIU restores your applicaton with original UID - either add a user with the same uid on destination, or edit UID in images with CRIT tool.

[2019-04-30 21:21] weiwang999 commented on #687
Can I use root on both sides?

[2019-04-30 21:23] 0x7f454c46 commented on #687
If you want to.
Another way is also changing permission for 1.txt to 777 on both source and destination [apriori checkpoint] - than any UID will be able to open it.

[2019-04-30 21:24] weiwang999 commented on #687
thanks.
I used root and then it's done

[2019-04-30 22:01] weiwang999 commented on #687
changing permission for 1.txt to 777 on both source and destination [apriori checkpoint] - than any UID will be able to open it
this way is ineffective and using root is the only solution to it.

[2019-05-01 21:31] rst0git commented on #349
https://lists.openvz.org/pipermail/criu/2019-March/043545.html

[2019-05-02 00:11] weiwang999 opened #689 "dump error"
dump error and No such process. It's really weird and actually it is shown that the process is running by the command ps -C popcorn-game-server
   PID TTY          TIME CMD
 75195 pts/13   00:00:00 popcorn-game-se
pid: 75195,  status: 0
Error (criu/cr-dump.c:1447): Timeout reached. Try to interrupt: 0
ret -1
error waitpid
: Interrupted system call
Error (compel/src/lib/infect.c:363): Unable to det

[2019-05-02 06:39] adrianreber commented on #687
This sounds solved. I am closing this. Please reopen if necessary,

[2019-05-02 06:39] #687 closed

[2019-05-03 00:28] 0x7f454c46 opened #690 "Reuse code for /proc/self/maps parsing"
CRIU needs to parse `self/maps` quite often, which is not a fast interface.
Unfortunately, it's not always possible to parse it only once and reuse the cached result:
in cr-check or kerndat the usecase is: do something => check the resulting maps => process the result. So, we _actually_ need to parse it a couple of times for checks.
Though, we have like 10 functions those parse `/proc/self/maps` w

[2019-05-03 00:31] 0x7f454c46 commented on #690
For (1) it's quite already done - but needs verification (`perf record` or whatever) that we read maps/smaps _only once_.

[2019-05-03 01:40] 0x7f454c46 commented on #690
For (2) - most of optimizations are "stop after vma found and process it".
So, we could design the helper the following way:
[code]
So, it would still stop on found entry and allow to reuse common parsing code.
Like for the aio:
[code]
Or either just drop those little optimizations as it's slow-path and process the vma array/list in checks/kerndat tests.

[2019-05-03 07:12] #331 closed

[2019-05-03 09:26] maikelcoenen commented on #680
I tried to add some debug prints to the code but as I add them to check ii, the backtrace change. Now the ii is not 0x0 anymore. What stands out is that the restore always fails on restoring an inet6 socket with port 40401, as can be seen in the log attached. Can it be an alignment bug because I am using ARMv5? I tried to search for such a bug but do not precisely know where to search...

[code]

[2019-05-03 14:22] 0x7f454c46 commented on #680
@maikelcoenen I guess, you can try to backport the fix for atomics on arm that Andrew did recently: a284d1973407

[2019-05-03 14:23] 0x7f454c46 commented on #680
Oh, wait - it's only for zdtm tests

[2019-05-03 14:32] 0x7f454c46 commented on #680
Did you add a version of `atomic.h` for armv5?

[2019-05-03 14:38] 0x7f454c46 commented on #680
As far as I can see in kernel - SMP is not supported for armv5 and they use `irq_save()` with needed atomic operation.
It seems that you need to design the support for "atomics" on armv5.. Something you can have in mind as an example here: http://0pointer.de/blog/projects/atomic-rt.html

[2019-05-03 14:54] maikelcoenen commented on #680
Yes, I implemented ARMv5 support with the use of SWP. But before I create a patch of it, I was testing it. And that test results in this segmentation fault despitefully.

[2019-05-03 15:14] 0x7f454c46 commented on #680
Make sure that your atomic swap for releasing the spin_lock has write memory barrier (though, I have no idea if your armv5 cpu can reorder).
Also gcc provides helpers for some platforms, you can try to cook something with them: https://gcc.gnu.org/onlinedocs/gcc-9.1.0/gcc/_005f_005fsync-Builtins.html

[2019-05-04 08:35] #679 closed

[2019-05-04 10:27] maikelcoenen commented on #680
Ok, had to check some implementations I've done but as far as I know following line implements the memory barrier for ARMv5:

`#define smp_mb() __asm__ __volatile__ ("" : : : "memory")`

Comparing it to the atomic instructions implemented in the kernel, I used the memory barrier and the SWP instruction while they disable the interrupts. Is there a situation you can think of disabling interrupts is

[2019-05-04 17:14] 0x7f454c46 commented on #680
No, your implementation may be good enough.
I'm not sure if armv5 allows disabling interrupts in userspace (probably?).
Anyway, regarding the segfault:
I don't think 0x0 in `ii` or 0x1 matters - basically, that's the value of local variable `ii` in `dec_users_and_wake()`.
Can you do `disassemble` in gdb on your core file?

[2019-05-04 18:58] avagin opened #693 "Error (criu/files.c:1196): Unable to open fd=4 id=0x7"
https://ci.openvz.org/job/CRIU/job/CRIU-restore-sibling/job/criu-dev/5143/consoleFull

[code]

[2019-05-04 18:59] avagin commented on #693
[code]

[code]

[code]

[2019-05-05 03:12] #693 closed

[2019-05-05 06:35] avagin commented on #689
I don't understand what you wrote here. Pls, describe a problem, give steps to reproduce and attach full criu logs.

[2019-05-05 06:35] #689 closed

[2019-05-05 06:42] avagin commented on #684
@ashu-mehra you can start a container without --privileged and then call docker exec --privileged criu ...

[2019-05-05 08:59] adrianreber commented on #693
Thanks

[2019-05-05 10:33] maikelcoenen commented on #680
Hereby the disassemble and the corresponding log file of the restore.

[code]

Thanks for your help!
[restore.log](https://github.com/checkpoint-restore/criu/files/3145419/restore.log)

[2019-05-10 11:02] haha150 commented on #662
Sorry to bother you, but was there any updates on this issue??

[2019-05-15 16:24] #673 closed

[2019-05-15 19:48] adrianreber opened #698 "coverity and clang warnings in fsnotify.c"
I am currently going over some coverity and clang warnings and fsnotify.c has a few which I am not sure I know how to resolve:

[code]

[code]

[code]

[code]

Something is definitely strange as path is allocated and either unconditionally overwritten or, in the error case, not free()d. Not sure what the actual goal of this code is.

[2019-05-16 11:51] x1022as commented on #582
Hi,  @xiechao4  @rppt  @xemul  what's the status here? And if no trouble, can anyone tell me how is criu capable of checkpointing/restoring android applications :)

I am really interested in this, but still working on environment for now :man_facepalming:

[2019-05-16 15:30] 0x7f454c46 commented on #673
@dubukuangye could you sent a patch that adds your iffdefery to soccr/soccr.h?

[2019-05-17 14:55] weiwang999 opened #699 "where to find the print info"
I found the function pr_info was called so many times. I don't see any print info
where can I find those printing info?

[2019-05-17 17:41] rst0git commented on #699
Hi @weiwang999, info messages are printed when verbosity is set to info (`-v3`) or debug (`-v4`).
https://criu.org/Logging
Those messages are printed to STDOUT or stored in a log file.

[2019-05-17 19:02] 0x7f454c46 opened #700 "zdtm/static/cgroup02: failed to remove 'cgclean.EfH7g3/prefix': Device or resource busy"
[code]
So far, random one-shot on compat job.

[2019-05-17 19:07] 0x7f454c46 commented on #700
[code]
It would be a bit strange if `rmdir` worked non synchronious on cgroups, but seems that there's something dodgy about this zdtm test/cleanup..

[2019-05-17 19:30] 0x7f454c46 commented on #680
So, it seems that `atomic_dec_return()` in your disassembly is
[code]
(if I'm not missing something).

That doesn't seem to be correct to me.
Could you show `objdump -dS criu/sk-inet.o` for this function?
Also probably, could you copy your code for `atomic_dec_return()`?

[2019-05-17 22:24] 0x7f454c46 commented on #700
Might be worth to note that kernel is current Travis-CI: `Runtime kernel version: 4.15.0-1029-gcp`

[2019-05-18 17:37] maikelcoenen commented on #680
No, `atomic_dec_return()` is

[code]

See the disassemble in the attachment [dis_file.txt](https://github.com/checkpoint-restore/criu/files/3194283/dis_file.txt), and my implementation of `atomic_sub_return()`:

[code]

[2019-05-20 00:56] weiwang999 opened #702 "time measure unit"
I wonder if the frozen_time:282043 refers to 282043ms or S?
"freezing_time": 4228,
                "frozen_time": 282043,
                "memdump_time": 2792,
                "memwrite_time": 2435,
                "pages_scanned": 9306,
                "pages_skipped_parent": 0,
                "pages_written": 1135,
                "irmap_resolve": 0,
                "pages_lazy": 0,

[2019-05-20 05:17] avagin commented on #702
pr_msg("Frozen time: %d us\n", stats->dump->frozen_time);
https://github.com/checkpoint-restore/criu/blob/criu-dev/criu/stats.c#L111

[2019-05-20 05:20] avagin commented on #702
microseconds

[2019-05-20 05:20] #702 closed

[2019-05-25 08:00] rst0git opened #705 "listing the stack pointer register 'sp' in a clobber list is deprecated"
https://gcc.gnu.org/onlinedocs/gcc-9.1.0/gcc/Extended-Asm.html

[code]

[2019-05-25 08:01] avagin commented on #705
Cc: @0x7f454c46 @cyrillos

[2019-05-25 08:32] cyrillos commented on #705
Heh, actually because we setup new `sp` in this code we've put it into the clobber list to tell the compiler sp is clobbered and eliminate potential problems. I don't mind moving it out of the list though.

[2019-05-25 08:44] rst0git commented on #705
What about `JUMP_TO_RESTORER_BLOB`?

[2019-05-25 11:29] rst0git commented on #705
This change was introduced with https://github.com/gcc-mirror/gcc/commit/7675b21555c and https://github.com/gcc-mirror/gcc/commit/9d1cdb749a1. It looks like it is safe to simply dropping sp from the clobber list.

For `JUMP_TO_RESTORER_BLOB`, Jeff Law suggested (in his [commit message](https://github.com/checkpoint-restore/criu/commit/901f5d48ec6ef485ea889a4a97011a12f4c3808e)) that while setting t

[2019-05-26 18:48] weiwang999 opened #706 "x86: 5-level paging (restore: Page entry address ffff720a1000 outside of VMA ffff720a1000-ffffb40a4000)"
101332: Error (criu/mem.c:990): Trying to restore page for non-private VMA
101332: Error (criu/mem.c:1120): Page entry address ffff720a1000 outside of VMA ffff720a1000-ffffb40a4000

[2019-05-26 19:28] rst0git commented on #705
Sorry for the noise. @cyrillos is right, simply moving `sp` out of the clobber list resolves the build issue.

[2019-05-26 19:28] #705 closed

[2019-05-27 10:44] rst0git commented on #706
Hi @weiwang999, would it be possible to provide more information about this issue?
What is your Linux distribution, kernel version, CRIU version? What is the application are you checkpointing/restoring? Also it might be helpful to share the complete dump and restore log files.

[2019-05-27 12:57] weiwang999 commented on #706
(00.000001) Version: 3.11 (gitid 9b8b4a4)
(00.000023) Running on helios-PowerEdge-R7425 Linux 4.15.0-45-generic #48~16.04.1-Ubuntu SMP Tue Jan 29 18:03:48 UTC 2019 x86_64
(00.000040) Loaded kdat cache from /run/criu.kdat
(00.000142) Reading image tree
(00.000166) Add mnt ns 5 pid 101332
(00.000196) Add net ns 2 pid 101332
(00.000203) Migrating process tree (GID 101332->7443 SID 54004->20851)
(00.0

[2019-05-28 00:34] avagin opened #708 "ValueError: invalid literal for int() with base 10: '::'"
https://ci.openvz.org/job/CRIU/job/CRIU-crit/job/criu-dev/5144/console

[code]

[2019-05-28 00:34] avagin commented on #708
This was broken by 22c23bb63351c3914f2a9c55cf7fb3cb09a4f3a8

[2019-05-28 04:46] avagin commented on #708
we need something like this:
[code]

[2019-05-28 07:44] rst0git commented on #708
The error here was because for some reason `hasattr(__builtins__, "basestring")` here returns `False` in Python 2. Using `sys.version_info` instead seems to work.

Also, testing the `is_string()` function in Python 2 failed as follows:
[code]
These and a few other issues are fixed in https://github.com/checkpoint-restore/criu/pull/709.

[2019-05-28 20:40] weiwang999 opened #710 "dump error"
helios@helios-PowerEdge-R7425:/popcorn/hcontainer-experiment/redis-het$ sudo criu-het dump --arch aarch64 -j -t 74536  --tcp-established

Traceback (most recent call last):
  File "/usr/local/bin/crit", line 6, in <module>
    cli.main()
  File "/usr/local/lib/python2.7/dist-packages/pycriu/cli.py", line 379, in main
    opts["func"](opts)
  File "/usr/local/lib/python2.7/dist-packages/pycriu/cli.

[2019-05-28 20:43] weiwang999 commented on #710
Below is the log

putdata addr pid 74536 805da0 data 0
stopped by signal 5
cont with sig 0
cont sent with sig 0
going to wait 0
ret data -1

Will dump TCP connections
(00.000001) Version: 3.11 (gitid 9b8b4a4)
(00.000010) Running on helios-PowerEdge-R7425 Linux 4.15.0-45-generic #48~16.04.1-Ubuntu SMP Tue Jan 29 18:03:48 UTC 2019 x86_64
(00.000030) Loaded kdat cache from /run/criu.kdat
(00.000034)

[2019-05-28 21:34] weiwang999 opened #711 "restore error caused by iptable"
sunsky@sunsky:/popcorn/hcontainer-experiment/redis-het/aarch64$ sudo criu-het restore -j  --tcp-established -v
Will dump TCP connections
(00.000013) Version: 3.11 (gitid 9b8b4a4)
(00.000037) Running on sunsky Linux 4.15.0-45-generic #48~16.04.1 SMP Fri Feb 8 10:38:11 UTC 2019 aarch64
(00.000093) Loaded kdat cache from /run/criu.kdat
(00.000620) Reading image tree
(00.000710) Add mnt ns 5 pid 76033

[2019-05-28 21:41] weiwang999 commented on #514
Currently I just run iptables -A ... (append rule) command every time before I want to restore the process again. This way I add the rule and then iptables is able to delete the rule successfully (and criu restore succeeds
I encounter the same problem.
sunsky@sunsky:/popcorn/hcontainer-experiment/redis-het/aarch64$ sudo criu  restore -j  --tcp-established
iptables: Bad rule (does a matching rule e

[2019-05-29 05:30] adrianreber commented on #710
What is `criu-het`? I do not see it in CRIU's git anywhere.

[2019-05-29 08:24] maikelcoenen commented on #680
I performed some more tests on ARMv5, ARMv6 and ARMv7. All were having the same issue with restoring TCP sockets which are in TCP_LISTEN state. I suspects some memory alignment error but am not really able to find it... Do you have some more insights into this?

[2019-05-30 00:20] #708 closed

[2019-06-03 18:50] avagin commented on #711
Can you describe step by step what you are doing? Did you reboot the host? What is your use-case? Do you want to dump and restore tcp connections?

[2019-06-03 18:54] weiwang999 commented on #711
yes. I want to dump and restore top connections. I didn't reboot the host.
first, I dump the server on x86  and then restore the server on arm.

[2019-06-03 18:58] #699 closed

[2019-06-03 19:00] avagin commented on #698
@cyrillos could you take a look at this?

[2019-06-03 19:07] cyrillos commented on #698
@avagin ouch, sorry, managed to miss. Will do tomorrow.

[2019-06-04 07:11] cyrillos commented on #698
[PATCH] fsnotify: More precious error handling

[2019-06-04 17:18] 0x7f454c46 opened #717 "RFE: Replace detect_pid_reuse() check from using task's creation time to keeping pidfd on pre-dump"
It's a raw arguable idea, but we might want to use pidfd instead of /proc/<pid>/stat creation time.

[2019-06-04 17:50] adrianreber commented on #717
Sounds like a good idea!

[2019-06-04 18:16] avagin commented on #717
Cc: @Snorch

[2019-06-06 05:27] rppt commented on #717
Sounds like a Plumbers topic ;-)

[2019-06-08 05:18] ashu-mehra opened #718 "docker checkpoint an experimental feature"
Would any one know why is docker checkpoint an experimental feature and not suggested to be used in production as per the official doc - https://docs.docker.com/engine/reference/commandline/checkpoint/
Does it have anything to do with stability of criu or is there any security concern or something else?
And what can be done to be able to use criu in production environments?

[2019-06-08 07:11] ashu-mehra commented on #684
@avagin sorry for responding late. For my use-case this would work when I am trying to checkpoint but not during restore. But it looks like the set of capabilities provided by @rst0git should work for now.
I am closing this issue as there is nothing more to be done here.
Agani, thanks for the help!

[2019-06-08 07:11] #684 closed

[2019-06-08 07:20] rppt commented on #718
AFAIK, the experimental part is the integration of CRIU in docker. CRIU is used in production with other container engines, see e.g.
https://www.linuxplumbersconf.org/event/2/contributions/69/

cc @kolyshkin

[2019-06-08 19:56] adrianreber commented on #718
Just yesterday my work on supporting container migration in Podman was merged (https://github.com/containers/libpod/pull/2272). This will be part of the upcoming Podman 1.4.0 release. Maybe this is something you could try out.

I just added some documentation to the CRIU wiki concerning CRIU's Podman integration at: https://criu.org/Podman

As I am actively working on Podman's checkpoint/restore s

[2019-06-08 22:13] rst0git commented on #486
This issue seems to be fixed. Can we close it?

[2019-06-08 22:25] rst0git commented on #52
I think that this feature was implemented with https://github.com/checkpoint-restore/criu/pull/648, https://github.com/checkpoint-restore/criu/pull/657, https://github.com/checkpoint-restore/criu/pull/685.

[2019-06-14 14:11] 0x7f454c46 opened #719 "ptrace: Extend PTRACE_GET_SYSCALL_INFO to return info from task_struct->restart_block"
TLDR; Our support for restarting timed syscalls is currently awful.

We need a better kernel API for this. My suggestion is extending PTRACE_GET_SYSCALL_INFO so that we would be able to restart a timed syscall with corrected argument.
See the discussion at https://lists.openvz.org/pipermail/criu/2019-June/044086.html

[2019-06-16 23:17] haha150 opened #720 "Dump exponentially slower on multi-core setup"
Hi,

So, i have tested out CRIU a bit now and have stumbled upon a weird problem. I use CRIU with LXD and whenever i create a stateful snapshot of a container (or perform live migration) on a machine that has 2 CPU cores or more, it takes much longer to execute than on a setup that has 1 CPU core. I also tried to limit the container to only have one CPU core and also CPU pinned one to ensure that

[2019-06-17 00:51] changuoqiang opened #721 "error in live migration on debian buster with brtfs backend"
try live migrate container from local host to remote host，two hosts have same environment

the error list below:

Error: Failed container creation:

https://[fd42:843a:d513:7bea::1]:8443: Error transferring container data: Unable to connect to: [fd42:843a:d513:7bea::1]:8443
https://192.168.0.16:8443: Error transferring container data: migration pre-dump failed
(00.121208) Warn (criu/image.c:134):

[2019-06-17 16:28] #486 closed

[2019-06-18 14:22] Snorch commented on #717
It sounds a good idea for me as with pidfd way the detection should be more reliable, no inaccuracy because of low time precision.

[2019-06-19 03:24] ianfrantz commented on #535
This is Linux only.  You can get this in an error message if you actually shutdown the MobyLinuxVM on Windows 10.
`
$ docker checkpoint create MSSQL19 cp
docker checkpoint create is only supported on a Docker daemon running on linux, but the Docker daemon is running on`

If this feature is like the Hyper-V checkpoint this is going to be cool!! I have two Docker projects on my github. Find me on Li

[2019-06-19 12:35] ashu-mehra commented on #718
@adrianreber thanks for providing the links.
I understand live migration is one of the main use-case for CRIU, but we are actually looking at using it for startup improvements, especially for JVM based applications, i.e. create a checkpoint once application's startup phase is over, and then for each new instance of the application just restore it from the checkpoint.
Have you guys looked into that

[2019-06-19 13:32] adrianreber commented on #718
@ashu-mehra If you look at  https://criu.org/Podman there is a link to a recording: https://asciinema.org/a/249922

In that recording I am basically doing what you are describing.

I am starting Wildfly once. That takes about 8 seconds. Then I am checkpointing it and restoring it multiple times from the checkpoint. Starting Wildfly from the checkpoint only takes 4 seconds.

In that example I can r

[2019-06-19 19:07] chflood commented on #718
@ashu-mehra

I have a prototype of a Java API to allow you to call CRIU from Java.
You can see it here:  https://github.com/chflood/CRIUForJava/

Comments welcome

Christine

[2019-06-19 22:13] 0x7f454c46 opened #722 "seccomp: Strict mode restore"
I believe we're not restoring correctly for `strict` mode.
I see the following on trace for `zdtm/static/seccomp_strict` test:
[code]
Though, I haven't checked why the test still passes (working on a different issue).

`man prctl` has the following:

As far as I can see, currently we are not only doing sys_gettimeofday() in the restorer, but also restoring a whole bunch of stuff after
[code]

This

[2019-06-20 08:17] rst0git commented on #722
Isn't that issue resolved with [this patch](https://lkml.org/lkml/2015/6/13/115)?

[2019-06-20 15:08] 0x7f454c46 commented on #722
@rst0git sounds like it should and I see it in source on cr-restore - so probably, it should work..
But what I've seen on the trace - the child gets killed on sys_gettimeofday() from restorer, which shouldn't happen. There is off cause a chance that I've screwed up something on the test..
I may look into this after finishing what I was cooking.

[2019-06-22 20:45] rst0git opened #725 "zdtm: seccomp_filter_threads and seccomp_filter_tsync fail with Alpine 3.10"
The following two tests fail with [Alpine 3.10](https://api.travis-ci.org/v3/job/549062657/log.txt) (and edge) but the pass with [3.9 and earlier versions](https://api.travis-ci.org/v3/job/549183514/log.txt)

* zdtm/static/seccomp_filter_threads(h)
* zdtm/static/seccomp_filter_tsync(h)

The issue can be reproduced by running the above two test cases in a docker container:
[code]

[2019-06-24 07:05] avagin commented on #722
@0x7f454c46 have you seen this?
[code]

[2019-06-24 13:58] tjalo opened #726 "Trouble with dumping a already restored process tree again. (criu-ns.py)"
Hi everybody,

I have some trouble dumping a process tree again after restoring it to a different pid namespace with the criu-ns.py script. I'm using version 3.12.

My workflow:
I'm directly working on a Debian (no container) and have a multi threaded process started by systemd with 'normal' user rights. Now I dump the process using:

`sudo criu-ns.py dump --tree <PID_OF_PROCESS> --shell-job --tcp

[2019-06-24 15:45] 0x7f454c46 commented on #722
@avagin Yes, as I pointed in the previous message - it seems like it should work..
But what I saw on a trace - is that the restored child was killed on sys_gettimeofday().
Which is also a little mystery to me - how the test passed afterwards.
I might have screwed up something on the testing - need to dig further a bit later.

[2019-06-24 16:34] 0x7f454c46 commented on #722
Ok, figured it out: as suspected, I hecked up testing by using `--sat` for zdtm.py.
Which in result doesn't let criu to use `PTRACE_SUSPEND_SECCOMP`, resulting in SIGKILL for a restoree.
Wasn't aware of the details and suspected that something might go wrong "under cover" of test.

[2019-06-24 16:34] #722 closed

[2019-06-24 18:04] avagin commented on #725
pthread_join() doesn't work properly. I think the problem is in musl. @rst0git, could you report this problem into the musl mailing list.

[code]

[code]

Steps to run this test manually without C/R:
[code]

[2019-06-24 22:01] kirs commented on #718
@adrianreber super excited to see your work on `podman pull` + `podman container restore` that accepts snapshot that was possibly made on another host.

Is there anything similar planned for Docker? From what I understand, `docker start --checkpoint` only works on the same host as where the snapshot was collected. Is there a workaround?

[2019-06-24 22:50] rst0git commented on #725
yes, the problem is in musl. It occurs since [this commit](https://git.musl-libc.org/cgit/musl/commit/?id=8f11e6127fe93093f81a52b15bb1537edc3fc8af).

[2019-06-25 04:37] adrianreber commented on #718
@kirs I am not familiar with Docker's checkpoint/restore implementation. I cannot say anything about if there are any plans to continue working on it.

Just for the record: `podman pull` is not really required before doing`'podman container restore`. That will happen automatically.

[2019-06-25 05:55] avagin commented on #720
Could you attach logs for both cases?

[2019-06-25 05:58] avagin commented on #711
If you dump processes on x86, you can restore them on x86 only.

[2019-06-25 08:49] kirs opened #727 "Container hostname from the snapshot"
Hey there. Thanks a lot for your work on CRIU and especially on the container aspect of it.

I'm experimenting with making a checkpoint on one host and doing `docker create` + `docker start --checkpoint` on another host, to use CRIU in order to optimize the container start time.

I've noticed that CRIU / Docker ignores the hostname of the new container and forces it to use the hostname from the or

[2019-06-25 09:10] adrianreber commented on #727
The following is not verified but from how I expect CRIU to work.

When CRIU checkpoint and restores a container it usually handles all the related namespace. One of the namespace usually involved is the UTS namespace which handles the hostname.

Upon restore CRIU restores the UTS namespace just as it used to be, that is why you get the old hostname. An example where CRIU does not restore the name

[2019-06-25 10:03] rst0git commented on #727
As Adrian already pointed out, the old hostname might be stored in memory and a copy of all memory pages are stored as part of the container checkpoint.

Another issue could be the `/etc/hostname` file. When CRIU creates a checkpoint it stores information about all open file descriptors, and for successful restore, it is required to have the same root filesystem.

IMHO it would be easier/simpler t

[2019-06-25 13:58] rst0git commented on #726
One way to do this could be:
1. Checkpoint your application: `criu dump -t $PID ...`
2. Create a new PID namespace: `unshare --fork --pid --mount-proc bash`
3. Restore your application inside this new PID namespace: `criu restore ...`

In a different terminal:

4. Get the new PID of your application: `pgerp <Application Name>`
5. Enter its namespace: `nsenter -a -t $NEW_PID bash`
6. Checkpoint you

[2019-06-25 23:19] rst0git commented on #725
https://www.openwall.com/lists/musl/2019/06/25/4

[2019-06-26 10:41] kirs commented on #727
Thanks for the context!

Let me share the use case to illustrate the reason why I have asked about it. In orchestrated environments, it's typical to create N replicas of the same container over multiple hosts. If the UoW is called `web`, then containers created will be named something like `web-xua1h`, `web-ro2ui`, `web-xec1u` (assuming replicas=3), where the suffixes are randomly generated with t

[2019-06-26 12:32] adrianreber commented on #727
You could also use the `crit` tool to modify the utsns*img in the checkpoint:
[code]

You can use the decode and encode command to decode, modify and encode the utsns image file.

[2019-06-26 14:07] tjalo commented on #726
Thanks for the advise.
I'll test it later on.

[2019-06-27 12:32] xemul commented on #177
I'm closing it for now. Once we have time and courage to get back to this, let's re-open.

[2019-06-27 12:32] #177 closed

[2019-06-27 12:34] xemul commented on #205
If it's still an issue for anyone -- feel free to re-open.

[2019-06-27 12:34] #205 closed

[2019-06-27 12:34] #208 closed

[2019-06-27 12:36] #473 closed

[2019-06-27 12:36] #476 closed

[2019-06-27 12:37] #505 closed

[2019-06-29 06:54] #725 closed

[2019-06-30 20:26] arvchristos opened #731 "Remote option in C API or RPC"
Hello!
I would like to ask if there is any way to achieve remote process restore using the C API, as stated [here](https://criu.org/CLI/opt/--remote). If negative, is there a way to achieve the same thing using the  #RPC?

[2019-07-01 05:28] adrianreber commented on #731
No, the whole `--remote` support (which includes image proxy) is not wired up in the C API.

No, as far as I can tell (from a quick look at the code), it is not yet possible.

But if you are interested in it we are always happy to accept patches.

Your question is actually pretty good, because the `R` in RPC stands for remote, but in CRIU's case it does not really mean from another host. The RPC/C

[2019-07-01 18:15] arvchristos commented on #731
@adrianreber Thank you for the immediate response. Seeking for relevant info in the mailing list, I found @rst0git patches (February 2018) about this feature and I wonder what is left to be addressed before including it in dev branch.

[2019-07-01 20:46] #349 closed

[2019-07-01 22:46] rst0git commented on #731
Hi @arvchristos

Adding the `--remote` option (and image-cache/proxy) to RPC and `libcriu` is not difficult (and this [patch](https://lists.openvz.org/pipermail/criu/2018-February/040421.html) series does that) but the current implementation is not very efficient and not well tested (e.g. it does not work well with pre-dump and lazy-pages).

I have been working on addressing the following issues a

[2019-07-03 17:29] avagin commented on #721
https://criu.org/Filesystems_pecularities

[2019-07-05 05:51] ashu-mehra commented on #718
@adrianreber @chflood
Thanks for providing your inputs on startup use-case for CRIU. We have some internal discussions on using CRIU for improving startup performance of applications running in container, and there were some points raised regarding security aspect of restored applications:
1. Since every instance of application restored from the checkpoint would be running with same address map, w

[2019-07-05 06:04] adrianreber commented on #718
@ashu-mehra as you are explicitly tagging me in your question, I will answer, but probably not a very helpful answer. I guess that all your security concerns are true. Depending on the control you have over your application you could make sure that secrets are removed from the memory before doing the checkpoint and you could reseed your random generation algorithms after the restore.

[2019-07-05 06:20] ashu-mehra commented on #718
@adrianreber - thanks for quick response.

Makes sense and we had similar thoughts on tackling these which is why I mentioned `depending on when the checkpointing is done`.
Can address space layout randomization be addressed in some way? One workaround could be to recreate the checkpoint periodically. Any other thoughts?

[2019-07-06 00:56] jpergentino opened #735 "docker checkpoint: Error (soccr/soccr.c:497): Can't bind inet socket back: Invalid argument"
Hi.

Docker checkpoint is not working in an Amazon EC2 Ubuntu 16.04 VM (details of docker info is attached).

I'm creating a docker image `my-test` (based on ubuntu with openjdk installed) with a simple java program, like this:
[code]

... and run in a normal way:
docker run -d my-test

What is strange? When I run a docker container without `RUN` command inside the image, but executing a non-java

[2019-07-06 06:18] rst0git commented on #735
Hi @jpergentino, what is your CRIU version (`criu --version`)?

Ubuntu tends it provide an old version of CRIU which may be a reason for this failure. However, you can install the latest version from this [PPA](https://launchpad.net/~criu/+archive/ubuntu/ppa).

If Docker checkpoint still fails with the latest version, it would be helpful if you could please share the `dump` log file.

[2019-07-06 10:14] jpergentino commented on #735
Thank you for your prompt reply.

I'm using the latest criu version. (I'm on smartphone right now)

In a recent rest, it saves the running state when the memory is about 25MB. When the container consume about 1GB of memory, the `checkpoint create` print an error again.

What the best distribution (on aws) to use checkpoint feature?

[2019-07-06 10:26] jpergentino commented on #735
Hi @rst0git

Here is the criu dump log:
[code]

[2019-07-06 10:52] rst0git commented on #735
Any distribution should be OK as long as the kernel has enabled checkpoint-restore related features (you can use `criu check --all` to verify that).

The reason for the checkpoint failure is:

You should be able to fix it by adding the `tcp-established` option in the `runc.conf` [configuration file](https://www.criu.org/Configuration_files):
[code]

[2019-07-06 10:57] jpergentino commented on #735
Hi @rst0git

The error presented is:

[code]
Is an strange behavior, because it works like a charm when low memory are being used.

[2019-07-06 11:55] adrianreber commented on #735
@jpergentino I guess the used version of runc is too old for CRIU's configuration files.

If you want to try Fedora 30 with Podman (https://criu.org/Podman) you could try latest Podman (1.4.3) and use Podman's chechkpoint/restore support. It even supports `--tcp-established` from the command-line.

[2019-07-06 12:58] jpergentino commented on #735
Thank you for your prompt reply, @adrianreber.

I'm trying all tools/versions/Linux suggestions and possibles, but no success 👎

The same behavior occurs when using Podman.

BTW, I'm using Amazon AWS EC2 instances.

[2019-07-06 13:01] adrianreber commented on #735
Did you use `--tcp-established`

[2019-07-06 13:09] jpergentino commented on #735
Yes, I did.

And now the error is:
[code]

[2019-07-06 13:15] adrianreber commented on #735
So, checkpointing works but restoring fails. Are you restoring on the same machine? Can you share the complete restore.log?

[2019-07-07 00:39] jpergentino commented on #735
No checkpoint when a memory-intensive app is running, like 1GB memory.

[2019-07-07 05:55] adrianreber commented on #735
Not sure what you mean. You have to provide more details.

[2019-07-08 02:46] adibrastegarnia opened #736 "Docker live migration - Restoring TCP connections"
Hi,

I would like to know if Docker live migration uses CRIU supports restoring TCP connections? Is there any working example that I can try?

Thanks,
Adib

[2019-07-08 02:59] avagin commented on #735
Could you show a full verbose log when you are trying to dump a memory-intensive app?

[2019-07-08 05:29] adrianreber commented on #736
If the runc version provided by docker is new enough you could use https://criu.org/Configuration_files to tell CRIU to always use `--tcp-established`.

If you want to try Podman (https://criu.org/Podman) you can tell Podman to use `--tcp-established` directly. See Podman's test suite for an example: https://github.com/containers/libpod/blob/master/test/e2e/checkpoint_test.go#L223

https://github.

[2019-07-08 06:25] adibrastegarnia commented on #736
@adrianreber

Thanks for your response. I will take a look at those resources and I will ask my questions if I have any.

[2019-07-08 06:57] adrianreber commented on #736
@adibrastegarnia let us also know if you find a solution that works for you 😉

[2019-07-08 12:54] jpergentino commented on #735
Hi @avagin
a full dumping log was posted by me in this thread.

I uploaded the docker image that I'm using to my hub. To reproduce my problem, please run the following docker command:

`docker run -d pergentino/masex`

Don't worry, it's a java multi-agent simulation and it uses about 1.2GB of memory.

[2019-07-08 13:05] adrianreber commented on #735
Like you already tried it out earlier. Checkpointing with Podman works if using `--tcp-established`.

This is only a restore problem with CRIU not being able to restore the socket correctly like you already posted above:

[code]
The following is a complete restore.log with the failure: [restore.log](https://github.com/checkpoint-restore/criu/files/3368453/restore.log)

[2019-07-08 14:09] jpergentino commented on #735
So... is it a known bug? Applications that are using sockets shouldn't work on restoring?

[2019-07-08 14:19] adrianreber commented on #735
No, it is a bug, Not sure why it does not work. I am not familiar with the socket code, so somebody else has to answer it.

[2019-07-08 18:17] avagin commented on #735
Probably, this container was restored with another ipv6 address.

[2019-07-08 18:21] adrianreber commented on #735
Ah, this totally makes sense, as I am only making sure the container has the same IPv4 address in Podman. I never looked at the IPv6 code. I need to fix this in Podman. Thanks.

@jpergentino Is the socket a socket which you create? Can you try to open the socket as IPv4 only to test if @avagin's assumption is true. I am pretty sure @avagin is correct.

[2019-07-08 19:46] rst0git commented on #735
@adrianreber I can confirm that the IPv6 issue does occur with Docker 0.18.0 with runc 1.0.0-rc8+dev on Fedora 30. Both checkpoint and restore were successful.

[2019-07-09 05:58] adrianreber commented on #735
@rst0git good to know. My current understanding of the problem is that Podman uses CNI to create its network setup and in my case it uses a link local IPv6 address.

On restore a new network namespace is created using CNI with a new link-local IPv6 address and the restore fails. Only IPv4 addresses are being restored with Podman and CNI.

If I am running `podman run --net=host -d pergentino/masex`

[2019-07-09 06:27] rst0git commented on #735
I noticed that for Podman the MacAddress of the container is changing after checkpoint/restore and for Docker it does not. I'm not sure if this is related to the issue.

[2019-07-09 10:09] adrianreber commented on #735
It makes sense as the network namespace is newly created upon restore using Podman. I need to figure out how CNI sets up the network namespace and if I can influence the MAC address. This needs to be either fixed in CNI or Podman (or both).

[2019-07-09 14:16] mrtc0 opened #738 "want CRIU_VERSION_NUMBER in header"
I want like `CRIU_VERSION_NUMBER` in criu.h.

For example, in the case of https://github.com/checkpoint-restore/criu/commit/9ede9253f5d04e7ade626ece8b96bb66bf6dc938, binding like mruby-criu can be changed with backward compatibility.

[2019-07-09 14:23] adrianreber commented on #738
I was not aware that there exists a ruby binding for CRIU. Good to know. You probably mean this one:
https://github.com/matsumotory/mruby-criu

Do you need a define for the ruby CRIU bindings or would a function also work?

[2019-07-09 19:08] avagin commented on #706
@rst0git could you take a look at this?

[2019-07-09 19:38] rst0git commented on #706
I'm not sure how to reproduce the issue. @weiwang999 could you please provide more information about the environment that you are using and the container which is being checkpinted/restored? I'm assuming that the issue is related to https://github.com/checkpoint-restore/criu/issues/687.

[2019-07-09 21:32] adrianreber commented on #706
The git hash in the restore.log does not exist in my git tree. This is the same git id as in #710
Just as in #710 there are following lines in the log:
[code]
Is this somehow related to @rppt's multi-arch migration code?

[2019-07-09 23:03] rst0git commented on #735
Based on the comment on [this line](https://github.com/containers/libpod/blob/eb4b7ed12bd831ac14cc6a6eea542d61900cb159/cmd/podman/shared/create.go#L639) it seems like both CNI and Podman need to be fixed. There is also `--mac-address` option but it seems like it is not currently supported.

[2019-07-10 00:33] mrtc0 commented on #738
I want `define` for the ruby CRIU bindings.
I want to use this macro for conditional branching with ifdef.
For example,

[code]
So, Binding can support with new versions, with compatibility.

[2019-07-10 06:00] avagin commented on #706
In CRIU, TASK_SIZE is hardcoded for x86_64:

[code]

But after recent changes in the kernel, it can have two values:

[code]

I think we need to update compel_task_size() in CRIU.

[2019-07-10 06:12] rst0git commented on #738
@mrtc0 would that work for you?
[code]

Or perhaps we could simply install the `version.h` file in `/usr/include/criu/`?

[2019-07-10 06:24] rst0git commented on #706
Thank you for the hint. IIUIC the error occurs when [5-level paging](https://www.kernel.org/doc/Documentation/x86/x86_64/5level-paging.rst) is enabled?

[2019-07-10 06:41] rppt commented on #706
It's not mine but judging by the file paths it might be similar work from Virginia Tech.

In case it is, the TASK_SIZE definition differs in x86 in aarch64 and this is likely the cause of the error

[2019-07-10 08:29] mrtc0 commented on #738
Both sound good.

[2019-07-10 21:37] avagin commented on #706
TASK_SIZE on arm64 can be 0xfffffffff000, so I think Mike is right.

[2019-07-10 21:38] avagin commented on #706
Who wants to fix the issue what I described on https://github.com/checkpoint-restore/criu/issues/706#issuecomment-509920654?

[2019-07-11 14:32] Ydcool commented on #431
Hi,  if I can provide some kind of mips asm, could you do that implementions ? @avagin @jackssirs

[2019-07-11 18:49] rst0git commented on #706
I will look into that over the weekend.

[2019-07-15 14:55] JinuJeong opened #741 "About the time to write image file to disk."
I injected code to criu which measure dump execution time because wanted to looking how long it takes. But the criu execution time and the time actually written to the disk were different when used docker command "docker checkpoint".

When size of container memory is 4GB, criu execution time is 5 seconds. But When checked at the terminal, it took 30 seconds to write the image file after it was cre

[2019-07-15 15:49] adrianreber commented on #741
Using docker introduces multiple layers between your command and the CRIU binary. Which can take time, especially as most layers are exec()ing the layer below. If you look at stats-dump from the docker checkpoint you should see how long CRIU actually takes.

For you to have numbers to compare I did the following with Podman:
[code]

Which gives me about 0.4 seconds to dump and write the memory of

[2019-07-15 19:14] rst0git commented on #741
As Adrian already mentioned, [Docker's architecture](https://docs.docker.com/engine/docker-overview/) is complex and the interaction between different components has significant overhead. In general, checkpoint/restore with Podman or LXC should be faster than Docker because they have lass layers involved.

[2019-07-15 20:45] rst0git commented on #706
5-level paging is available in IA32e mode and by default, when `CONFIG_X86_5LEVEL=y` is enabled, the kernel will not allocate virtual address space above 47-bit unless the hint address for `mmap()` explicitly specifies high address.

@0x7f454c46 do you have any ideas on how we could add support for 5-level paging in CRIU?

[2019-07-15 21:04] 0x7f454c46 commented on #706
Sure, as per my understanding of this: https://elixir.bootlin.com/linux/latest/source/arch/x86/mm/mmap.c#L194
It should be pretty easy. As CRIU restores mappings with MAP_FIXED, there shouldn't be many 5level-related issues. Probably, it'll be quite invisible to CRIU.
So far, it seems that only TASK_SIZE for x86 in CRIU should be corrected.
We probably want to:
- have a message in log when 5level

[2019-07-16 01:01] sarnold1119 commented on #398
May be related to this prctl issue ?:
      PR_GET_TID_ADDRESS (since Linux 3.5)
              Retrieve the clear_child_tid address set by set_tid_address(2)
              and the clone(2) CLONE_CHILD_CLEARTID flag, in the location
              pointed to by (int **) arg2.  This feature is available only
              if the kernel is built with the CONFIG_CHECKPOINT_RESTORE
              option

[2019-07-16 06:29] adrianreber commented on #710
As this seems to be a problem in `criu-het`, which nobody seems to know what it is, I am closing this now. Please re-open if you have more information.

[2019-07-16 06:29] #710 closed

[2019-07-17 19:46] avagin opened #744 "ppc64le: FAIL selinux00.c:79: Wrong SELinux context unconfined_u:unconfined_r:unconfined_t:s0-s0:c0 expected unconfined_u:unconfined_r:unconfined_dbusd_t:s0"
https://ci.openvz.org/job/CRIU/job/CRIU-ppc64le/job/criu-dev/4523/console

[code]

[2019-07-17 19:55] avagin opened #745 "master: ERR: file_locks08.c:32: Can't set ofd lock (errno = 22 (Invalid argument))"
[code]
https://travis-ci.org/checkpoint-restore/criu/jobs/559842418

[2019-07-18 02:09] expresspotato commented on #587
Also having this issue, but criu error's out on trying to dump the pulseaudio fd.

[code]

Then

[code]

[2019-07-18 06:29] adrianreber commented on #744
Is this a new test failure or does this happen for already for a longer time? Is this ppc64le only?

[2019-07-18 14:00] 0x7f454c46 commented on #745
I believe it got fixed in criu-dev with: https://lists.openvz.org/pipermail/criu/2019-May/043895.html

[2019-07-18 17:25] #745 closed

[2019-07-18 17:34] avagin commented on #744
The ppc64le worker was out-of-service for a few months, so I think it isn't a new failure. I see it only on ppc64le.

[2019-07-18 17:36] avagin commented on #744
[root@criu ~]# uname -a
Linux criu.novalocal 5.1.16-200.fc29.ppc64le #1 SMP Wed Jul 3 14:50:09 UTC 2019 ppc64le ppc64le ppc64le GNU/Linux
[root@criu ~]# cat /proc/cmdline
BOOT_IMAGE=/vmlinuz-5.1.16-200.fc29.ppc64le root=UUID=e310499a-7ae9-46e6-aeeb-e9babe31e019 ro no_timer_check console=tty1 console=ttyS0,115200n8 rhgb quiet console=hvc1 LANG=en_US.UTF-8
[root@criu ~]# cat /etc/redhat-release
Fedo

[2019-07-18 17:46] adrianreber commented on #744
Thanks for that additional information. I just tried it on a x86_64 Fedora 29 and there it still works.

I selected the context pretty randomly, but I thought dbus will be available on all systems. At least the label.

Can you check with what context dbus is running:
[code]
I will start a ppc64le VM to test tomorrow.

[2019-07-18 20:07] adrianreber commented on #744
The fix is actually pretty easy: `dnf install libselinux-devel`. CRIU's selinux support is automatically added if libselinux-devel is installed. The tests are only verifying that SELinux is actually enabled and not looking if a certain package (or header) is installed. Should the tests verify that CRIU knows how to correctly handle SELinux or can you just install the package on the jenkins systems

[2019-07-18 20:32] #738 closed

[2019-07-18 22:52] rst0git commented on #744
`libselinux-devel` is a dependency and IMHO it should be installed in a test environment where SElinux is being used.

@adrianreber what do you think about adding a message that could indicate a similar issue in the future?
[code]

[2019-07-18 23:15] 0x7f454c46 commented on #744
I'm actually thinking that it might be better to convert all build-time messages about optional features into the output of `criu check`. Currently, it reports only run-time features of the kernel, but we may state "compiled without XXX support".
Not that I'll stop this merging, but I'm just starting to feel a bit annoyed about unwanted build-time messages :)

[2019-07-18 23:18] 0x7f454c46 commented on #744
And some people may get criu with a package manager - and might want to know why this `XXX` doesn't work

[2019-07-18 23:22] 0x7f454c46 commented on #744
And on the top of that - we would be able to add `feature: selinux-compiled` or something into `selinux00.desc`.

[2019-07-18 23:23] rst0git commented on #744
@0x7f454c46 this sounds like a good idea.

[2019-07-22 06:52] #471 closed

[2019-07-22 17:51] avagin opened #747 "Error: ipv4: FIB table does not exist."
[code]

[2019-07-22 17:51] avagin commented on #747
https://ci.openvz.org/job/CRIU/job/CRIU-ppc64le/job/criu-dev/4546/consoleFull

[2019-07-22 18:43] avagin commented on #741
Cc: @kolyshkin

[2019-07-25 19:39] 0x7f454c46 opened #748 "[Travis-CI, Fedora Rawhide] Error: Unable to find a match: python2-future"
[code]

[2019-07-25 19:53] adrianreber commented on #748
Fedora is removing a lot of python2 packages, this is probably related. I can look into providing a fix.

[2019-07-25 19:54] 0x7f454c46 commented on #748
Thanks, @adrianreber

[2019-07-29 17:58] adrianreber commented on #748
Should be fixed in criu-dev.

[2019-07-29 17:58] #748 closed

[2019-07-29 18:02] adrianreber commented on #747
Already discussed in https://lists.openvz.org/pipermail/criu/2019-May/043923.html, unfortunately with no result.

https://www.spinics.net/lists/netdev/msg559904.html

[2019-07-30 10:22] Snorch opened #754 "mount: mntns root mount with children problem"
See mount(MS_BIND|MS_REC) in [do_mount_one](https://github.com/checkpoint-restore/criu/blob/2076b7ff7dba3690b2cfc31d572fce498409cbdc/criu/mount.c#L2504). If mount has locked children it can be bind-mounted only with MS_REC flag, we are right. But if our root mount source actually has children:
1) bindmounting it latter (e.g. to create another mounts of these device) will fail (EINVAL) without MS_R

[2019-07-31 18:03] bosunski opened #756 "Cannot build CRIU v3.1.2 from source on Mac OSX MOJAVE"
Followed the instruction here: https://criu.org/Installation in the section "Building the tool"

I `cd` into the cloned project, checkout to `v3.1.2` tag and  ran `make` and got this(Upper outputs have been truncated):

[code]
My OS Details
`Darwin Dante.local 18.6.0 Darwin Kernel Version 18.6.0: Thu Apr 25 23:16:27 PDT 2019; root:xnu-4903.261.4~2/RELEASE_X86_64 x86_64`
If anyother information nee

[2019-07-31 18:11] avagin commented on #756
CRIU works only on Linux.

[2019-07-31 22:24] rst0git commented on #756
@bosunski what is your use case?
The checkpoint/restore mechanism implemented in CRIU relays on several features implemented in Linux kernel. However, if you are using, for example, Docker on Mac you should be able to checkpoint/restore processes inside a Linux container.

[2019-07-31 22:33] avagin commented on #756
https://github.com/boucher/criu-for-mac

[2019-08-01 03:52] dineshputchala commented on #412
@avagin  Which kernel version has the support for time namespaces ? CRIU support for time namespaces is done ?

[2019-08-01 07:14] rst0git commented on #412
https://lkml.org/lkml/2019/7/29/1699

[2019-08-02 07:21] James-jiangyu opened #757 "runc can not checkout container"

[2019-08-02 07:21] #757 closed

[2019-08-02 10:54] bosunski commented on #756
Thanks for the reply @rst0git and @avagin,
My use case is to checkpoint a running docker container itself like this: `docker checkpoint create xxx xxx`
@avagin  I'm using docker for mac and I've already tried this: https://github.com/boucher/criu-for-mac. Every time I run it, I get the `Read-only file system Error`.

[2019-08-02 16:16] avagin commented on #756
Cc: @kolyshkin

[2019-08-06 04:30] #346 closed

[2019-08-10 19:51] avagin opened #760 "inotify04.c:105: Found 8 unexpected inotify events"
[code]

[2019-08-10 19:51] avagin commented on #760
https://ci.openvz.org/job/CRIU/job/CRIU-crit/job/criu-dev/5432/console

[2019-08-10 19:52] avagin commented on #760
https://ci.openvz.org/job/CRIU/job/CRIU-dump-only/job/criu-dev/5536/console

[2019-08-12 06:00] dineshputchala commented on #412
@rst0git where do I check which kernel version has picked up these changes ?
@avagin Is CRIU support for time namespace is also done ?

[2019-08-12 08:11] Snorch commented on #760
@avagin As you thought... We create some events (open/close_no_write) at dump/pre-dump stages, that's bad as we should not alter the state of the process when dumping it.

short reproduce:
```test/zdtm.py run -t zdtm/static/inotify04 --norst```

[2019-08-12 08:34] rst0git commented on #412
@dineshputchala the patch series for time namespace is not merged upstream yet. The link above is to the latest version of this patch series.

[2019-08-14 05:42] changuoqiang opened #764 "live migrate container restore failed"
try live migrate container between hosts, rise error as below:

"Error: Failed container creation: Error transferring container data: migration restore failed
(00.000083) Warn  (criu/log.c:203): The early log isn't empty
(00.084564) Warn  (criu/cr-restore.c:1265): Set CLONE_PARENT | CLONE_NEWPID but it might cause restore problem,because not all kernels support such clone flags combinations!
(00.6

[2019-08-14 06:00] adrianreber commented on #764
The `unified` directory in the path of the error message indicates that this seems to be a system with cgroupv2. Not sure if CRIU already supports cgroupv2, I am not aware of any development in that direction.

[2019-08-15 20:50] xiaochutan123l opened #765 "criu restore failed, but restore.log shows Restore finished successfully"
Hello, i'm  doing my student thesis, which let me to checkpoint and restore a container, which contains a python program,and it will send udp packets to another computer. Instead of using docker checkpoint +docker start, i must use criu dump + criu restore, in order to reduce the downtime.

the criu dump is always succeed, but the strange thing is: restore.log says it was successful, but what i se

[2019-08-15 20:54] xiaochutan123l commented on #765
here are the dump.log, restore.log and the bash script

[2019-08-15 21:00] xiaochutan123l commented on #765
here are the dump and restore log file, and bash script

[2019-08-15 21:03] xiaochutan123l commented on #765
file:///home/tan/Documents/test7/restore.log
file:///home/tan/Documents/test7/bashfile_dumpN.txt
file:///home/tan/Documents/test7/dump.log

[2019-08-15 21:11] xiaochutan123l commented on #765
[bashfile_dumpN.txt](https://github.com/checkpoint-restore/criu/files/3507185/bashfile_dumpN.txt)
[dump.log](https://github.com/checkpoint-restore/criu/files/3507186/dump.log)
[restore.log](https://github.com/checkpoint-restore/criu/files/3507187/restore.log)
here are the bash script and dump.log, restore.log

[2019-08-15 21:14] xiaochutan123l commented on #765
and here are the docker and criu version:
 docker version
Client:
 Version:      17.03.2-ce
 API version:  1.27
 Go version:   go1.7.5
 Git commit:   f5ec1e2
 Built:        Tue Jun 27 03:35:14 2017
 OS/Arch:      linux/amd64

Server:
 Version:      17.03.2-ce
 API version:  1.27 (minimum version 1.12)
 Go version:   go1.7.5
 Git commit:   f5ec1e2
 Built:        Tue Jun 27 03:35:14 2017
 OS/Arch:

[2019-08-15 21:19] xiaochutan123l commented on #765
before criu dump:
root      2897  0.0  0.0  62104  4444 pts/20   S+   22:43   0:00 sudo ./bashfile_dumpN.sh
root      2906  0.0  0.0  19608  3348 pts/20   S+   22:43   0:00 /bin/bash ./bashfile_dumpN.sh
root      2907  0.5  0.2 366180 17144 pts/20   Sl+  22:43   0:00 docker run --network=host --name=udp-check xiaochutan123/udp-check
root      2926  0.0  0.0 283396  2856 ?        Sl   22:43   0:00

[2019-08-16 06:02] adrianreber commented on #765
I am confused why you think that this should work. On restore you are not setting up the container so how should it be running.

You are taking the PID of your python program, so how should it still be running after docker's control after restore.

Not having looked at the logs in details but I would expect that CRIU restores all namespaces correctly, so probably the restored process will be runni

[2019-08-16 07:26] rst0git commented on #765
If I understand correctly, you want to avoid using `docker checkpoint` and `docker start`, and instead use `criu dump` and `criu restore` directly to reduce the downtime.

You should be able to achieve this by performing the `dump` and `restore` inside the container, otherwise (as Adrian already mentioned) docker will not know about the existence of the restored container.

Alternatively, if you w

[2019-08-16 07:59] xiaochutan123l commented on #765
i think i understand it now, after restoring only python program running is correct, because i didn't wake up docker.
i will try runc and thank you so much.

[2019-08-16 08:04] xiaochutan123l commented on #765
yes, that's what i mean. I just followed my supervisors advice to use criu dump + criu restore, i thought it would work. i can try both runc and Podman and find the fast one. thanks a lot.

[2019-08-16 08:30] xiaochutan123l commented on #765
i saw there are some examples using criu dump + criu restore to checkpoint and restore a container, are they dumping the pid of docker?
e.g. [https://criu.org/Docker_External](url)

[2019-08-16 12:47] xiaochutan123l commented on #765
btw can you tell me how can i perform dump and restore inside the container?

[2019-08-16 17:48] kevinrichardgreen opened #766 "Large memory dump aborted: [Error (compel/src/lib/infect.c:1352): BUG at compel/src/lib/infect.c:1352]"
I'm trying to checkpoint a rather large memory job (500GB+) and I'm coming across the error in the title, which leads to an abort.

Ubuntu 18.04:
`4.15.0-50-generic #54-Ubuntu SMP Mon May 6 18:46:08 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux`

`criu --version` (installed via `apt`)
```Version: 3.6```

`criu check --all`
[code]

Dump command:
```criu dump -t 31941 -j -D /storage/1/kgreen/Fe_4 -v3 -o d

[2019-08-16 21:35] 0x7f454c46 commented on #766
It seems to be parasite_dump_pages_seized().
So it seems that rather than due to memory, it's about the number of VMAs:
[code]
I remember @avagin already hit this for many mappings, but can't find the issue straight-away..
I guess we could go either way of:
- Dumping VMAs in a couple of iterations
- Allowing parasite to be bigger (or introducing dynamic "allocation" by ftruncating memfd)

Regardle

[2019-08-16 21:41] 0x7f454c46 opened #767 "Remove assert() or BUG() or BUGON() from compel & criu"
We need to reduce the amount of BUG*().
I believe we want to have fallbacks instead. We definitely need to make sure that the dumpee is cured and left in the same state as before something unexpected happened in CRIU.

As we're trying to sell that CRIU is production-ready, we have to remove any kinds of asserts from release (we might want some in criu-dev or with a separate debug option if they're

[2019-08-17 04:32] avagin commented on #766
commit 07da7b0f427ddeb4dd9311e5d1e8680094bd8f7e
Date:   Fri Aug 10 17:53:01 2018 +0300

    compel -- Use unsigned long for arguments

    When checkpointing applications with really big memory slab
    (like in our vz7 test with 920G of memory) the int type get
    cutted, we should use long int instead, just like we do in
    other code pieces.

    Otherwise get

     | pie: 756: Daemon waits f

[2019-08-17 04:33] avagin commented on #766
commit 787dd695b323e4b4ba3aa2349c39f58bcf0fcae7
Date:   Fri Aug 10 17:58:11 2018 +0300

    pagemap: Use ssize_t type in read_local_page

    Integer is too small for big memory slabs.

[2019-08-17 04:33] avagin commented on #766
Cc: @cyrillos

[2019-08-17 10:54] rst0git commented on #765
One way to do this is to have CRIU installed in the container and run the container as `privileged`.

For example: https://gist.github.com/rst0git/eea73821ef927c04d49fe2f4ba035e02

[2019-08-17 14:47] avagin commented on #766
We have a few fixes for big processes which have been commited after v3.6. Could you try to compile criu from the master branch and reproduce this issue?

[2019-08-18 09:50] xiaochutan123l commented on #765
Great! thanks for that.

[2019-08-19 15:02] kevinrichardgreen commented on #766
Ok, I'll try master and let you know how that works.

[2019-08-21 21:02] rst0git commented on #764
@adrianreber It seems like cgroupsv2 support might be required for CRIU to work on Fedora 31 https://github.com/opencontainers/runc/pull/2113

[2019-08-22 10:09] SkysunPrincess opened #768 "Does criu support MPICH?"
I saw on this page（https://criu.org/Comparison_to_other_CR_projects） that CRIU does not support MPI, but the last time the page was modified is in 2015, so I want to know if it is supported now.
Thank you

[2019-08-22 10:13] SkysunPrincess commented on #768
And --external unix[id]:path can be used or its also in plan?
Looking forward to your reply

[2019-08-22 22:24] kevinrichardgreen commented on #766
Using master fixes the issue. I can checkpoint and restore the job.

[2019-08-22 22:24] #766 closed

[2019-08-23 05:38] rst0git commented on #768
From [Evaluating Distributed MPI Checkpoint and Restore using Docker Containers and CRIU](https://github.com/checkpoint-restore/criu/files/3532947/2019_Evaluating_Distributed_Mpi_Checkpoint_And_Restore_Using_Docker_Containers_And_Criu.pdf):

[2019-08-23 10:51] adrianreber commented on #768
Six years ago CRIU support was added to Open MPI, but it has been removed from newer branches:

https://github.com/open-mpi/ompi/tree/v3.0.x/opal/mca/crs/criu

So it is not that CRIU does not support MPI, it is more that MPI does not implement checkpoint/restore using CRIU.

[2019-08-23 18:16] adrianreber commented on #764
@rst0git Thanks for pointing that out. There is also a question to add CRIU support to crun https://github.com/containers/crun/issues/71 also related to cgroup v2 (as far as I understand it).

[2019-08-26 04:55] suang207 opened #769 "ERRORS when checkpoint"
When I tried to dump a process using CRIU, the following error occurred. I don't know what happened.

root@My-PC:/home/suang/Experiments/criu-3.12/criu# ./criu dump --shell-job --images-dir /home/suang/Experiments/ckp1 -t 8092 --ghost-limit 100M
Warn  (criu/image.c:134): Failed to open parent directory
Warn  (compel/arch/x86/src/lib/infect.c:280): Will restore 8092 with interrupted system call
Err

[2019-08-26 10:39] rst0git commented on #769
Would it be possible to provide a debug log (i.e. using `-v4` flag)?
[code]

[2019-08-27 01:02] WeiAt931 commented on #769
Thank you very much for your reply.
I found the reason for the mistake, albeit somewhat incredible. This error is because I started my program in the terminal of visual studio code. If I start my program directly in the system terminal, the error disappears.
Below is a section of the error log. (dump. log is too long) I think it will help CRIU get better.

(00.029242) -----------------------------

[2019-08-27 06:40] SkysunPrincess opened #772 "Error (criu/sk-unix.c:1401): sk unix: External socket found in image."
I used CRIU to operate the simulation program of ROSS simulation，and then i get the PID with “ps -ef | grep test_criu”.
If use “sudo criu dump-D checkpoint_file-j-t 3671” directly, there will be an error:"Error (criu/sk-unix.c:709): sk unix: External socket is used. Consider using --ext-unix-sk option.
Error (criu/cr-dump.c:1709): Dumping FAILED."
Refer to https://criu.org/External_UNIX_socket，I d

[2019-09-04 09:30] tA-bot-git commented on #321
I'm having a similar problem (trying to dump SCTP  sockets), but even in the latest CRIU release it still seems like a feature that's missing. Any progress on this, or any plans to support this in the future, if at all?

[2019-09-05 11:25] ashu-mehra opened #774 "Missing rlimits and signals in crit decode output"
While trying to explore `core-<pid>.img` using `crit decode` command, I realized rlimits output does not show the type of resource and signal information does not include the signal number.
I know the rlimit type and signal number can be retrieved by checking the index of the entry in the list, but still it is cumbersome.
Current output for rlimits:
[code]
For signals:
[code]
It would be useful to

[2019-09-05 11:26] ashu-mehra commented on #774
Let me know if the above request sounds reasonable. I will then open a PR to address it.

[2019-09-06 07:54] avagin commented on #774
This sounds reasonable. It would be good if you will be able to fix this issue. Thank you!

[2019-09-06 08:38] xemul commented on #774
@ashu-mehra , that'd be awesome enhancement, but please, keep in mind, that crit can not only decode images into human-readable form, but can encode them back from json to protobuf. And the patch in question must not break the encoding funcitonality.

[2019-09-06 21:01] mcopik commented on #583
@avagin @rst0git I'm trying to understand the memory dumping process of criu and I have similar question. I wanted to ask on the mailing list but it seems to be a place for regular development work. I hope this is a right place to ask this question.

1. To summarize:
- for file mapping, CRIU will dump dirty pages of private mapping. Shared pages and private clean pages re ignored. Questions:  what

[2019-09-06 22:27] mcopik commented on #583
Following up on my previous comment, I found that I have trouble understanding the CRIU dumping process. In this example, I see in `pmaps` and `smaps` output, taken right before dumping the process, that the out of 5 pages allocated for file mapping for the application, two pages are marked as anonymous and dirty and dumped but one of private clean pages is still dumped: page  `0x56275cb3e000`. Do

[2019-09-07 11:04] avagin opened #775 "vdso-proxy.c:140: There is more than two (VVAR/vDSO) vmas added after C/R (errno = 34 (Numerical result out of range))"
https://travis-ci.org/checkpoint-restore/criu/jobs/581988269

[2019-09-07 11:05] avagin commented on #775
COMPAT_TEST=y

[2019-09-07 19:46] rst0git opened #777 "checkpoint/restore support for bpf-map fd"
We need to add support for checkpoint/restore of bpf-map file descriptors.

This is a simple example of how to open such file descriptor:

[code]

When trying to checkpoint this process CRIU fails with:
[code]

[2019-09-10 08:53] maikelcoenen commented on #680
I found the issue in some assembly code which I changed to remove the ldrex and strex instructions. Probably this causes a corrupt dump but it only fails during restore. After fixing this, the bug is resolved. Thanks for all the help.

[2019-09-10 08:53] #680 closed

[2019-09-10 08:55] maikelcoenen opened #779 "CRIU dump ERROR: No suitable VM found"
Hi all,

I’m still porting CRIU to ARMv5 but it is almost finished but I found something weird.

My system:

[code]

[code]

Currently I get following error during dump:

[code]

[code]

Why is it failing to get the start of the VM, as far as I can see, the maps file looks correct?

Kind regards,

Maikel

[2019-09-10 09:59] #466 closed

[2019-09-10 13:31] avagin commented on #398
[code]

The second pushq pushes eip on the stack, but the value is supposed to be 32-bit.

We probably should not use pushq here:
If the source operand is an immediate of size less than the operand size, a sign-extended value is pushed on the stack.
https://c9x.me/x86/html/file_module_x86_id_280.html

[2019-09-10 16:26] #398 closed

[2019-09-12 06:18] sunny868 opened #781 "how to output debug info to console in parasite code?"

[2019-09-12 06:56] sunny868 commented on #781
或许我换一种问法：compel/plugins/std/infect.c里面的pr_info 或者pr_err或pr_debug信息都输出到哪里了？
why pr_info(..) or pr_debug(..) compel/plugins/std/infect.c cannot be finded in console.?

[2019-09-12 08:13] sunny868 opened #782 "why pr_info(..) can not output before socket connected"
int  compel/plugins/std/infect.c
int __used __parasite_entry parasite_service(unsigned int cmd, void *args)
{
	pr_info("Parasite cmd %d/%x process\n", cmd, cmd);
	if (cmd == PARASITE_CMD_INIT_DAEMON)
		return parasite_init_daemon(args);

	return parasite_trap_cmd(cmd, args);
}

pr_info("Parasite cmd %d/%x process\n", cmd, cmd);  can not output to console

[2019-09-16 00:52] sunny868 commented on #782
thanks for you timely reply . but I want to know why the pr_info() can not be called before the log file descriptor is set?
dumpee process console fd (stdout/stderr) is closed ?

[2019-09-16 06:00] adrianreber commented on #747
On 3.13 I can still see this error on current rawhide: `Error: ipv4: FIB table does not exist`

[2019-09-16 17:04] ashu-mehra commented on #779
@maikelcoenen
I should first acknowledge I am not an expert on criu, but exploring it these days.
From the logs generated by `criu dump` it appears something is wrong with the start address of each vma.
For some reason start address seems to be left-shifted by 32-bits making it much larger that it is.
Eg: `/proc/2276/maps` shows start address of first entry as `0048e000` but the `criu dump` displa

[2019-09-16 18:54] 0x7f454c46 commented on #782
@sunny868 dumpee fds can point anywhere - CRIU shouldn't play with them (and it doesn't)

[2019-09-17 04:40] sunny868 commented on #782
"dumpee fds can point anywhere" ? why?

[2019-09-17 05:00] sunny868 commented on #782
now I am making arch MIPS support . so I try to write some str into console before socket be setted.
char* str = "hello world\n';
   __asm__(
	"li	v0,5001\n\t"      //sys_write syscall ID
	"li	a0,0\n\t"         //stdout fd
	"move	a1,%0\n\t"       // str
	"li  a2,12\n\t"        //str length
	"syscall      \n\t"
	::"r"(str)
	:"v0","a0","a1","a2");

but ,there is nothing in console.

[2019-09-17 05:01] sunny868 commented on #782
now I am making arch MIPS support . so I try to write some str into console before socket be setted.

 char* str = "hello world\n';
__asm__(
"li v0,5001\n\t" //sys_write syscall ID
"li a0,0\n\t" //stdout fd
"move a1,%0\n\t" // str
"li a2,12\n\t" //str length
"syscall \n\t"
::"r"(str)
:"v0","a0","a1","a2");

but ,there is nothing in console.

[2019-09-17 14:41] matclab commented on #563
For info, running `criu check -v4` within a `--cap-add all` alpine docker image gives:
[code]

[2019-09-18 01:52] sunny868 commented on #782
I have try to set logfd to STDOUT_FILENO. but nothing output in console.Dima is right, dumpee fds can point anywhere. I just want to the reason ,why dumpee fds have been changed to point to anywhere ?   dumper just use ptrace(..) to pause dumpee process,then place parasite code into some place (mmap) and go on the dumpee process. so I think parasite code running in dumpee process,then dumpee prece

[2019-09-18 13:16] 0x7f454c46 commented on #782
You likely don't want to print anything into dumpee fds. I.e, you're dumping grep process from:
`grep ':)' 2>/dev/null | wc -l`
If you write anything into stderr, it'll vaporize. If you write anything into stdout - it'll go into pipe.
On more extreme examples it could have been `/etc/passwd` :)
Of course, you can check apriori where is destination for fds, but there is no point - you want the outp

[2019-09-20 05:10] avagin commented on #775
This was fixed in v3.13

[2019-09-20 05:10] #775 closed

[2019-09-20 05:10] #774 closed

[2019-09-20 05:44] ashu-mehra commented on #774
@avagin I am wondering why is this closed. I see my corresponding PR #778 is not yet merged.

[2019-09-20 13:30] maikelcoenen commented on #779
Wow, why did I missed that. Thanks!

Comparing maps and smaps shows the same addresses, so this is not the problem.

[code]

[code]

[code]

When I try to debug the code, even `vma_area->e->start` shows a correct value.

[2019-09-20 15:09] EmadAlamoudi opened #796 "Error while dumping parent process "Can't dump half of stream unix connection""
Hi! I'm new to CRIU and I'm sorry if my question sounds easy, but I'm really struggling to solve this issue.  I would really appreciate any help.

I'm using CRIU to dump a python process that is a parent for another process. I'm using the following command:
`sudo criu dump -t 3930 -D checkpoint/ -j -v4 -x --ext-unix-sk`

However, I  get the following error:

[code]
When looking at the process tree

[2019-09-21 07:37] riaqn opened #797 "in-place sync instead of --prev-images-dir"
Currently we have incremental dump with `--prev-images-dir`, which could become very slow as the levels stack up (consider if I perform a incremental dump for the same application every hour, and in a month there will be 720 symlinks pointing to the previous ones).

Instead I suggest we get something like in-place sync. That should allow me to repeatedly dump into the same directory, keeping the i

[2019-09-21 11:29] rst0git commented on #797
@riaqn would *in-place sync* be more efficient than just running `criu dump --leave-running` ?

[2019-09-21 11:51] riaqn commented on #797
@rst0git Could you elaborate?

[2019-09-21 12:26] rst0git commented on #797
Instead of performing incremental dump you can do a full dump every hour and keep only the latest checkpoint.

[2019-09-21 12:54] riaqn commented on #797
I guess my point is that I hope to use `--track-mem` to accelerate the dumping process, such that each time, only the pages that are changed since last dump are dumped.

[2019-09-30 07:55] pthfdr-42 opened #807 "Impossible to restore any process due to PID increment rates."
How to reproduce:
1. Dump a process with lots of RAM usage and many threads (like ZPAQ).
2. Reboot.
3. When trying to restore, it fails with "Pid $PID do not match expected $PID".

The `unshare` method does not apply since it does not cover shell jobs.
The problem is that many thing in the OS creates new processes frequently and take up the PID desired.
They create new processes every few seconds,

[2019-09-30 08:22] IjazAhmed opened #808 "Criu APIs (Error reported in dump.log file)"
I am a novice user of criu APIs, and indeed looking for a detailed help. I am writing my experience in details, that might help the other novice users in future.

I am using Ubuntu "Linux 4.15.0-64-generic x86_64" kernal. When I executed the shell script (run.sh) given at url https://github.com/xemul/criu/blob/master/test/others/libcriu/run.sh. I got an error "error while loading shared libraries:

[2019-09-30 08:38] rst0git commented on #807
@adrianreber presented a solution for this problem in [LPC this year](https://linuxplumbersconf.org/event/4/contributions/472/attachments/224/397/2019-criu-and-the-pid-dance.pdf).

[2019-09-30 08:44] rst0git commented on #808
The libcriu failure was resolved in https://github.com/checkpoint-restore/criu/pull/783

You need to add `--privileged` option in your `docker run` command.

[2019-09-30 08:54] IjazAhmed commented on #808
Thank you for advice.
I have already added the privileged option in the docker run command. Please have a look at the command "sudo docker run --rm --cap-add=ALL -it mydocker::2019-09-24", or I am missing something in the command.
I am equally new to docker technology as well. :)

[2019-09-30 08:56] pthfdr-42 commented on #807
...which means that you have to patch and recompile the kernel, and once you do, more things will break.
Seriously, is it not possible to restore processes *without* using their original PIDs?

[2019-09-30 08:56] rst0git commented on #807
@pthfdr-42 have you tried the [`criu-ns`](https://github.com/checkpoint-restore/criu/blob/criu-dev/scripts/criu-ns) script?
[code]

[2019-09-30 08:58] pthfdr-42 commented on #807
The wiki says that shell jobs are not supported.

[2019-09-30 09:06] rst0git commented on #807
Thank you for pointing it out. I just updated the [wiki page](https://criu.org/CR_in_namespace#Limitations).

[2019-09-30 09:15] IjazAhmed commented on #808
I tried the run command with --privileged, and it worked. The command is
"sudo docker run --rm --privileged=true -it mydocker::2019-09-24".

The issue is SOLVED.
Thanks.

[2019-09-30 09:28] adrianreber commented on #807
No. Not keeping the PID could break restored processes in multiple ways in regards to parent child relations. But restoring into a new PID namespace should be a solution.

[2019-10-01 01:21] pthfdr-42 commented on #807
...which will still have limitations.
As I have said in the first post, is it possible to create dummy processes *before* restoration? I found that the system usually create kernel processes *during* restoration (which may be very long).

[2019-10-01 04:42] IjazAhmed opened #810 "Understanding Dump & Restore Process of CRIU"
![Criu-memory-wflow](https://user-images.githubusercontent.com/1769347/65934276-95e6f000-e44f-11e9-8337-165f480c95aa.png)

The Restore process of the criu suggests that it uses the .img files created by Dump process. Now, suppose I want to modify the value of a specific register before restoring the process. So

(a) does that mean I have to modify the .img file created by dump process - so that wh

[2019-10-01 05:51] adrianreber commented on #810
@IjazAhmed You can use crit (https://criu.org/CRIT) to decode image files, change them and encode them again. Documentation for the image files is best taken from git. For x86_64 the register image file definition is in https://github.com/checkpoint-restore/criu/blob/criu-dev/images/core-x86.proto

[2019-10-01 06:56] IjazAhmed commented on #810
@adrianreber: Thank you, the crit tool is working amazingly. :)

[2019-10-02 09:41] IjazAhmed opened #812 "Two Questions regarding .img files (crui & crit)."
**First Questions:**
The first question is related with the crit https://criu.org/CRIT utility. The crit command
"./crit decode -i abc.img --pretty" successfully decodes all of the attached .img files except image "pages-1.img".

<img width="622" alt="Screen Shot 2019-10-02 at 6 22 30 PM" src="https://user-images.githubusercontent.com/1769347/66033649-a6c45e00-e542-11e9-886e-2394a1007712.png">

Wh

[2019-10-02 09:44] #810 closed

[2019-10-02 09:49] adrianreber commented on #812
Not at all. That file just contains the memory pages. Its content is described using other image files. I think pagemap or mm is describing the content of pages-*.img. Something like "this pages-*.img offset belongs at following memory address of the restored process".

That could be either in a register or in the memory. Depending on how the compiler optimizes it might also be a constant and some

[2019-10-02 14:16] #808 closed

[2019-10-02 15:51] planetA opened #813 "Docker checkpoint: ip6tables-restore failed"
Hello,

I'm trying to make a checkpoint of a docker container using `docker checkpoint`.

Here is how I run the container:

[code]

And here is how I try to create a checkpoint:

[code]

But I get an error message:

Checking the logs points to erroneous following part ([full log](https://gist.github.com/planetA/fe91bee44f345e8683471629a7c05aec#file-criu-dump-log))

I also tried to change default p

[2019-10-02 15:59] rst0git commented on #813
@planetA I was not able to reproduce the issue on Fedora 30 with `5.2.15-200.fc30.x86_64` kernel and Docker version 19.03.2, build 6a30dfc. One difference I noticed was:
[code]

[2019-10-02 16:02] planetA commented on #768
@rst0git The paper does not mention it, but I assume they relied on TCP for communication, not on Infiniband. Am I right?

[2019-10-02 16:05] adrianreber commented on #813
@rst0git On RHEL8 I have no problems with nf_tables based iptables, but I think there are some upstream patches necessary to make  nf_tables iptables work.

@planetA You should try iptables 1.8.3 (or legacy based iptables).

[2019-10-02 16:21] planetA commented on #813
@rst0git I have the same (I used update-alternatives):

[code]

[2019-10-02 16:24] rst0git commented on #768
@planetA Infiniband is certainly not mentioned in the evaluation setup:

and I think you are right to assume that they relied on TCP for communication.

[2019-10-02 17:19] rst0git commented on #813
[code]
FYI you need to use `/etc/criu/runc.conf` to change the default parameters.
https://www.criu.org/Docker#Passing_additional_options

[2019-10-02 17:28] IjazAhmed commented on #812
I decoded the mm-539.img and found the below information.

<img width="385" alt="Screen Shot 2019-10-03 at 2 23 11 AM" src="https://user-images.githubusercontent.com/1769347/66066633-d98f4600-e584-11e9-8f65-17e294df468e.png">

 Do you think that I might get the value of program variable in the region
"mm_start_data": "0x562ea37b4d18",
 "mm_end_data": "0x562ea37b5010",

May be I will write a c prog

[2019-10-02 18:18] rst0git commented on #812
Hello Ijaz,

When CRIU performs dump or pre-dump it first opens both `pagemap` and `pages`, then writes a set of protocol buffer entries in `pagemap`. Each entry contains an address (_`vaddr`_) and a number of pages (_`nr_pages`_). The actual content of the memory pages represented by the pagemap entry is written (without encoding) into the `pages` file.

Therefore, you can print the address of yo

[2019-10-02 19:17] planetA commented on #813
I forgot to mention that the whole setup runs in a VM. But I don't think it is important.

[2019-10-03 18:28] avagin commented on #583
yes, it is

What do you mean when you are saying  " clean or dirty" in term of anonymous pages?

Probably, you are right. We read /proc/PID/pagemap to understand which pages have to be dumped.

I don't remember any other reasons.

In criu, zero_page means that it has not been touched ( the kernel has not mapped a physical page).
https://github.com/checkpoint-restore/criu/blob/criu-dev/criu/mem.c#L

[2019-10-04 08:46] planetA commented on #813
I found a "fix" after I changed CONFIG_NETFILTER_XT_MARK from "m" to "y" in the config (and other corresponding options), checkpoint worked.

[2019-10-05 20:29] avagin opened #815 "TypeError: Conflict register for file "sk-opts.proto": READ is already defined in file "rpc.proto"."
[code]

[2019-10-05 20:29] avagin commented on #815
https://travis-ci.org/checkpoint-restore/criu/jobs/594019238

[2019-10-05 20:32] avagin commented on #815
Cc: @dubeyabhishek

[2019-10-06 07:11] avagin commented on #813
Why is this module not autoloaded? I mean usually when we run iptables, it loads all required modules.

[2019-10-06 07:35] planetA commented on #813
I don't know why it was not autoloaded, but I manually loaded the module anyway. Can docker do some magic that unloads the module during restore?

[2019-10-10 02:13] sunny868 opened #818 "build error in MacBook"
now I make criu in MacBook ,then have some errors like this:

Note: Building without ia32 C/R, missed ia32 support in gcc
      That may be related to missing gcc-multilib in your
      distribution or you may have Debian with buggy toolchain
      (issue https://github.com/xemul/criu/issues/315)
  GEN      .gitid
  GEN      criu/include/version.h
grep: images/google/protobuf/descriptor.proto: No

[2019-10-10 12:33] adrianreber commented on #818
Do you have the protobuf-c compiler installed. It is called protoc-c on my system.

[2019-10-12 11:33] rst0git commented on #659
https://github.com/lxc/lxc/issues/2909

[2019-10-14 10:59] nidhi1605 opened #820 "Include tests for validating Java APIs work fine with CRIU"
The goal of this issue is to include tests to verify if Java Applications work with CRIU. We plan to introduce Java based CRIU APIs so that a Java App can do self checkpoint and restore.

We have included Java functional tests that uses the Java File based APIs, Memory mapping APIs and Socket based APIs and places the process in various states before check pointing and validates if these resources

[2019-10-14 11:21] adrianreber commented on #820
Where do you plan to introduce those APIs?

If you could share some additional information it would make it a lot easier to understand what this is exactly about. I had a look at the branch and there are a lot of commits and it is hard to tell what this is really about.

Right now it seems you want to include a Java wrapper, maybe it could be called library, into the test directory. One of my main

[2019-10-14 13:09] dinogun commented on #820
Hi @adrianreber, Thank you for your prompt response, Really appreciate it !

The question that we have is about adding Java application tests for the existing CRIU Interface to begin with. The goal is to augment the existing tests by adding Java application tests that test CRIU. I think this can be optional tests so that they have to be specifically invoked for them to run. That way they do not ad

[2019-10-14 14:25] adrianreber commented on #820
Including an additional test suite should be no problem. We have seen, however,  that test suites which are not regularly run tend to not work after some time, but that would be up to you to make sure it keeps working.

So I would recommend to submit a pull request for your tests. No promises it will be merged, though. But seeing the actual tests you want to merge would make it easier to discuss a

[2019-10-14 17:05] hildogjr opened #821 "Error to dump software"
I am built and installed CRIU into a Ubuntu 16.04 machine. I trying to dump a process like the video tutorial and I am getting a "Error (compel/src/lib/infect.c:342): Unable to detach from 18596: No such process".
The full log is attached.
[CRIU-error-log.txt](https://github.com/checkpoint-restore/criu/files/3725559/CRIU-error-log.txt)

[2019-10-14 18:23] adrianreber commented on #821
Lot's of operations not permitted. Are you running in a container?

[2019-10-14 18:44] hildogjr commented on #821
Yes. This test is in a virtual(box) machine that I use before some some tests in the host.
Are those error due the virtualization restriction?

[2019-10-14 21:01] avagin commented on #821
No, they are not. In most cases, criu has to be run with root privileges.

[2019-10-14 21:45] hildogjr commented on #821
I tried with `sudo` now and got "Unseizing 2412 into 1".
[CRIU-error-log-sudo.txt](https://github.com/checkpoint-restore/criu/files/3726505/CRIU-error-log-sudo.txt)

With `sudo` I was able to reproduce the "C print example". Let me now if additional debug may help.

[2019-10-14 21:55] avagin commented on #821
You need to look at the first error in a log file
[code]

[2019-10-14 21:56] avagin commented on #821
Could you describe what are you dumping?

[2019-10-14 23:05] rst0git commented on #821
I assume that you are trying to checkpoint a GUI application running with wine. Please read more about this use case in https://criu.org/VNC

[2019-10-14 23:27] rst0git commented on #820
@nidhi1605 @dinogun I don't know how relevant this would be to your work but there was one interesting publication that might be worth considering:
 [Initialize Once, Start Fast: Application Initialization at Build Time](https://github.com/checkpoint-restore/criu/files/3726717/Initialize_Once_Start_Fast_Application_Initialization_at_Build_Time.pdf)

[2019-10-15 12:14] nidhi1605 commented on #820
Thank you so much for your inputs. We will be opening a PR shortly.

[2019-10-15 20:51] danbeaulieu commented on #147
Hi, we are interested in the latest thinking on this issue. We are able to reproduce with criu 3.12 and docker 18.09.2 using overlay2 on kernel 4.9.0 (also reproduces on docker 17.09.1-ce with overlay and kernel 4.14.137)

[code]
[criu-dump.log](https://github.com/checkpoint-restore/criu/files/3731369/criu-dump.log)

dump log shows the irmap looks at /etc/foobar so I don't think it is a matter of

[2019-10-16 11:42] rst0git opened #822 "service: reconsider default permissions for an unix socket."
Currently the `service` command of CRIU creates a Unix socket that enables *any* user to checkpoint/restore *any* process. This is mainly as a consequence of https://github.com/checkpoint-restore/criu/commit/6c22bfe2 and, in general, is not very good idea in terms of security.
[code]
Simply changing `0666` to `0600` will address the security concern, however, does it make sense to use `criu servic

[2019-10-16 19:26] xemul commented on #822
Well, the permissions on the socket can be 666, if the root needs to hide the socket from someone it can tune the directory (with socket) access rights.

The plan with the service was to allow non-root checkpoint and restore. So far the non-root _dump_ works on most of the crucial stuff (there's even a test in zdtm/ that checks what can be dumped without root privileges). The non-root restore stil

[2019-10-16 20:59] rst0git commented on #822
I looked into the git history (https://github.com/checkpoint-restore/criu/commit/2e15e4da, https://github.com/checkpoint-restore/criu/commit/91389f87, https://github.com/checkpoint-restore/criu/commit/547d9bf9) and the description in [Self dump](https://criu.org/Self_dump) and [RPC](https://criu.org/RPC) pages but I could not find out why this approach didn't work?

[2019-10-16 21:11] xemul commented on #822
It technically did, but had several issues. The non-security-related issue is -- restored tree becomes the child of the service process (or reparented to init) while it's highly likely that restorer wants to have the restored subtree as its child.

The rest are all about security.
- It's very inflexible in configuring who may use the service.
- If you ask service to dump some process, then it will

[2019-10-16 22:39] sergejbut opened #823 "Docker - restore ignores the previous state"
Hey,

I followed Docker checkpoint/restore (https://criu.org/Docker), and after restore the container started counting from 0 and not from the expected, checkpointed state.

Is it a problem with my setup, some version, or ...?

**uname -a**
Linux vm1-pc 5.2.21-1-MANJARO #1 SMP PREEMPT Sat Oct 12 11:09:56 UTC 2019 x86_64 GNU/Linux

**criu check**
Error (criu/uffd.c:263): uffd: Lazy pages are not av

[2019-10-17 06:23] avagin commented on #823
I don't see any problem with our travis test:
https://travis-ci.org/avagin/criu/jobs/599005396
https://github.com/checkpoint-restore/criu/blob/criu-dev/scripts/travis/docker-test.sh

Could you compare your commands with commands that are executed in this test?

[2019-10-17 21:53] sergejbut commented on #823
Tried today with Ubuntu 18.04.1 -> works
With Manjaro -> don't

I will just use Ubuntu. Thx for the quick response

[2019-10-17 21:53] #823 closed

[2019-10-18 22:24] hildogjr commented on #821
Exactly. It is a GUI application running using Wine.
I will try to reproduce second the VNC example and after report here.

[2019-10-21 06:42] adrianreber commented on #820
Closing. See #825

[2019-10-21 06:42] #820 closed

[2019-10-21 23:44] sergejbut opened #826 "Docker - No restore.log file after unsuccessful restore (+questions for my thesis)"
I try to live migrate a mysql container from host A to Host B. (simple example with the counter works perfectly)

**docker** version 19.03.4, build 9013bf583a
**criu**: Installed: 3.13-2ppa1.18.04
18.04.1-Ubuntu

Steps:

1) A: docker run --name some-mysql -e MYSQL_ROOT_PASSWORD=root -d mysql:8
2) B: docker create --name some-mysql mysql:8
3) A: docker checkpoint create some-mysql check1
3) transfe

[2019-10-22 05:18] adrianreber commented on #826
@sergejbut It seems you are not migrating the file-system of your mysql container. You could try Podman (https://criu.org/Podman) which includes the file-system changes in its checkpoint.

The database is making changes to the file-system of the container and if you do not migrate that also the migration can fail. Try it with Podman and let us know if that works better.

That has all been done bef

[2019-10-22 08:21] rst0git commented on #826
@sergejbut How do you `transfer check1 to host B`?

[2019-10-22 09:55] sergejbut commented on #826
**podman ps -a**
CONTAINER ID  IMAGE                      COMMAND  CREATED         STATUS             PORTS  NAMES
92ef7cd16356  docker.io/library/mysql:8  mysqld   20 minutes ago  Up 20 minutes ago         some-mysql

**sudo podman container checkpoint 92ef7cd16356**
Error: no container with name or ID 92ef7cd16356 found: no such container
-> I tried with the long ID and with container name. Same

[2019-10-22 09:59] adrianreber commented on #826
Are you running the container as root or as non-root? To migrate podman containers you have to start the container as root and checkpoint it as root. As your `podman ps` command is not prefixed by `sudo` it seems you are running the databases rootless as your local user. If you want to migrate a container you have start it as root.

If you migrate the file-system it is possible.

[2019-10-22 10:15] sergejbut commented on #826
@rst0git I create a tar a send it with scp to other host

sudo tar -zcf /tmp/ -C /var/lib/docker/containers/${container_id}/checkpoints/ ${checkpoint_name}/
ssh -t ${migration_host} "sudo tar -zxf /tmp/ -C /var/lib/docker/containers/${remote_container_id}/checkpoints/"

[2019-10-22 10:26] sergejbut commented on #826
So `docker commit` and then on other host create from this new image? Is it because I pass environment variables to the container and thats why it can't be restored?

Oh. Tried with root: Cannot export checkpoints of containers with named volumes or dependencies
Without the export flag it works.

[2019-10-22 13:05] rst0git commented on #822
It seems like feature is used by CloudLinux:
https://docs.cloudlinux.com/cloudlinux_os_components/#lsapi-criu-socket-path
https://www.cloudlinux.com/cloudlinux-os-blog/entry/beta-criu-lve-updated-1-6

[2019-10-24 09:05] adrianreber commented on #826
@sergejbut Following works for me:

[code]

To migrate this container you would need to copy `/tmp/data` to the destination system and `/tmp/cp.tar.gz`.

[2019-10-24 22:49] sergejbut commented on #826
@adrianreber Thank you very much Adrian, this example really helped me. Did not tested it with podman, but I understood, that the mounted directories should also be transferred to destination. Adapted it to Docker -> successfully migrated a MySQL container, finally! :) Later I will test the same things with podman.

Before your example I thought, that the data that MySQL produces is IN the contain

[2019-10-25 00:13] rst0git commented on #826
CRIU is checkpointing and resuming a group of processes (container), which enables *live* migration and allows to preserve the state of long-running computational tasks. The start-up time of workloads with small amount of in-memory state could be negligible, and therefore restarting them on another host would not introduce a significant down-time or overhead.

[2019-10-30 06:49] abhishek09091 opened #828 "Check-pointing for Runc container is failing"
Hello Everyone,

Please help me to figure out the cause behind the error which I mentioned below.

I am **_trying to create the checkpoint for the Runc container using criu_**.

Running following command used for creating the check-pointing (Running as the root user ):

**root@kalia-Precision-Tower-5810:/home/kalia/criu-docker-example#  runc --criu ../workspaces-images/ checkpoint --image-path ima

[2019-10-30 06:55] adrianreber commented on #828
That is pretty easy to fix. You are telling `runc` to look for the CRIU binary at ` ../workspaces-images/` and you get the error:

Because runc tries to execute the directory `../workspaces-images/` which fails.

With `--criu` you tell runc where the CRIU binary is and you are giving it a directory. You either need to skip `--criu` if CRIU is in your path or you need to point `--criu` to an actual

[2019-10-30 07:37] abhishek09091 commented on #828
Thanks a lot for help @adrianreber . It worked for me.

I have one more issue related to restore.

Shall I need to open a new Issue or I can ask in the same thread.

@adrianreber  Help me out please Thank you.

[2019-10-30 08:05] adrianreber commented on #828
Sure, just ask. If necessary we can still move it to a new issue.

[2019-10-30 08:27] abhishek09091 commented on #828
Thanks a lot again @adrianreber .

So I successfully able to create the checkpoint as suggested by you above using command.

**runc --debug --log checkpoint.log checkpoint --image-path image1/ --work-path work/ example**

Now while restoring from the checkpoint I am using the following command (Running this command where config.js and rootfs folder present ) ( Running this command as Root ):

**ro

[2019-10-30 08:48] adrianreber commented on #828
It seems that CRIU cannot create directories in the to be restored user namespace. Looking at your config.json it seems you do not have any capabilities set. I am not actually sure what the correct syntax is, but maybe you are missing certain capabilities? It might also be AppArmor related, which I also have not used before. You need to figure out why the directory creation fails, but I do not kno

[2019-10-30 14:12] abhishek09091 commented on #828
@adrianreber  As suggested by you I have done couple of changes in the config.json.

Here is the updated config.json file

**1. Added couple of capabilities**
**2.  Removed the AppArmor [More About App Armor](https://wiki.ubuntu.com/AppArmor)**
**3. Changed the hostname: runc**

### **Here is the updated config.json file**

    "ociVersion": "1.0.0-rc3",
    "process": {
        "user": {

[2019-10-31 14:36] Snorch commented on #747
https://www.spinics.net/lists/netdev/msg559739.html

They say that iproute package is guilty, I have the same on iproute-5.2.0-1.fc30.x86_64.

[2019-10-31 20:10] rst0git commented on #828
@abhishek09091 the `Permission denied` error occurs because when CRIU restores the process tree it calls `clone()` with the `CLONE_NEWUSER` flag... https://github.com/checkpoint-restore/criu/pull/819#issuecomment-544419800

[2019-11-06 07:39] sunny868 opened #836 "how to build criu in MacBook?"
now.I have git clone criu code to my MacBook.then do make ,there are many error.I not know to build in MacBook.

it is ok when I make in ubuntu .

[2019-11-06 09:07] adrianreber commented on #836
CRIU is Linux only. It cannot work natively on a MacBook.

[2019-11-09 01:27] ShunmugaPriyaR opened #838 "restore fails for tun dev"
Hi,

I am working on the container migration experimentation. I am successful in checkpoint/restoration of shell script applications that doesn't involve tun network.

But I am facing problem with the restoration of container application running openvpn client in it.

My scenario is as follows:

docker ubuntu 16 container running in Fedora 31 OS.
Inside the docker container, I am starting the open

[2019-11-09 07:18] omegazyadav opened #839 "checkpointing podman container failed."
Recently I have upgraded the system from fedora30 to fedora31 and tried to checkpoint a simple shell script given in the criu podman page. Previously on fedora 30 it was working but now on fedora31 I am getting same message again and again.
Console Output:

[root@pc omega]# podman container checkpoint looper
Error: failed to checkpoint container 7afe15d6edf29434e9feff317ef2bfe3dafad3d333043991c71e

[2019-11-09 07:43] adrianreber commented on #839
Yes, this is known. With the switch to cgroupsv2 Fedora is now using crun instead of runc and crun still needs to support checkpoint/restore: https://github.com/containers/crun/issues/71

You can tell the Fedora 31 to use cgroupv1 with `systemd.unified_cgroup_hierarchy=0` (see https://fedoraproject.org/wiki/Changes/CGroupsV2) and then tell Podman to use runc again and it should work.

[2019-11-09 10:09] omegazyadav commented on #839
changed to cgroupv1 and made configuration to use runc container runtime now another issue is coming out.

Console output:

[root@pc runc]# podman run -d --name looper busybox /bin/sh -c 'i=0; while true; do echo $i; i=$(expr $i + 1); sleep 1; done'
Error: container_linux.go:346: starting container process caused "seccomp: config provided but seccomp not supported": OCI runtime error.

previously

[2019-11-09 10:41] adrianreber commented on #838
It is definitely doable: https://www.redhat.com/en/blog/using-criu-upgrade-vpn-servers-kernel-without-dropping-connections

You need to provide the complete restore.log from the failure so that we can look closer into the failure. Please try to provide `restore.log`.

[2019-11-09 10:42] adrianreber commented on #839
Right now this is completely CRIU unrelated, but from the error message it seems that your version of runc does not know how to handle seccomp. Can you install Fedora's version of runc and make sure Podman uses it.

[2019-11-09 10:53] omegazyadav commented on #839
Slightly deviated from the CRIU perspective but I will figure it out, thanks for the information!

[2019-11-09 11:05] #839 closed

[2019-11-09 13:34] ShunmugaPriyaR commented on #838
I looked at your video last night and sent the email in the forum with a
hope.
But the problem in my side is not having enough log information to probe in
the right direction.

When I execute the docker run command: sudo docker run
--checkpoint=checkpointname ContainerName, I got the following error.

Error response from daemon: OCI runtime restore failed: criu failed: type
NOTIFY errno 0
log file

[2019-11-09 13:55] ShunmugaPriyaR commented on #838
I am doing the following four operations, since --checkpoint-dir is not
supported in my version while starting the docker:

a.      sudo docker run -d  --security-opt seccomp:unconfined  --privileged
--cap-add=ALL  -v /lib/modules:/lib/modules  -h "spgw" --name="spgw"
opnear/cloudran:spgw  /bin/sh -c 'sudo openvpn --config
/root/NFV-SDN/client5.ovpn'

b.        sudo docker checkpoint create
--chec

[2019-11-09 14:23] adrianreber commented on #838
Could you try the same steps with Podman. If it fails with the same error the logfile will not be deleted.

[2019-11-09 16:54] rst0git commented on #838
@ShunmugaPriyaR you can add the following line in `/etc/criu/runc.conf` (as a workaround). Then CRIU will always write the log file to `/tmp/criu.log`.
[code]

[2019-11-09 19:22] ShunmugaPriyaR commented on #838
Thank you both of you. The error log helped.

After going through the error log understood that it is the network
namespace and TUN id descriptor related problem.

Following Adrian's link,
https://www.redhat.com/en/blog/using-criu-upgrade-vpn-servers-kernel-without-dropping-connections,
adding unshare and setsid solved the problem of restore in the same host.

I need to check the feasibility of re

[2019-11-10 06:50] DavidYao1518 opened #841 ""./etc/group doesn't have a proper root mount" while checkpointing singularity"
I'm running a simple HPC program using Singularity, and my goal is to be able to checkpoint/restart/migrate the whole container using criu. Note that I need to run the Singularity container **without sudo privilege**.

Since Singularity hasn't integrate criu into itself, I guess I'd just have to manually dump it (sorry for my stupidity), but I don't really know what's the proper way to do it. belo

[2019-11-10 09:33] pthfdr-42 commented on #807
It looks like that `criu-ns` fails when dumping the process again. It fails with "Error (criu/cr-dump.c:1327): A session leader of PID(PID) is outside of its PID namespace".

[2019-11-10 10:31] adrianreber commented on #841
There have been other attempts to checkpoint/restore singularity containers. Maybe something there helps you:

* https://github.com/checkpoint-restore/criu/issues/600
* https://lists.openvz.org/pipermail/criu/2017-August/039133.html

As you are trying to run rootless containers with singularity it would be good to know how singularity is creating the containers. As far as I know there are two vers

[2019-11-10 21:55] ne-vlezay80 opened #844 "Lxd into snap is not working state full snapshots and live migration"
Log:
[code]
Distribution: arch linux
Kernel: 5.2.9

[2019-11-11 02:21] DavidYao1518 commented on #841
Thank you for your reply!

I'm using the 2.5.2 version of Singularity, released on July 3rd, 2018. Singularity is already being deployed for a while in our cluster, so it might be hard to switch container tool, but thanks for the advise!

[2019-11-11 19:56] ShunmugaPriyaR commented on #838
Hi all,

With the docker checkpoint and restore with the openvpn client service
running, I am successful at restore if I use unshared network namespace.
After restore, I am able to get the vpn connectivity restored successfully.
Here I didnt set the link and bridge set up with the pid of openvpn. so as
expected, the client cannot reach the server before checkpoint but shall
reach it successfully a

[2019-11-12 08:58] adrianreber commented on #838
The log you provided in the email looks truncated. You probably have to attach it via github's web interface. You can try to use the CRIU configuration file (as mentioned by @rst0git) to specify the missing options although I do not think they will solve your problem.

What could work is to set up a network namespace with the correct devices for your vpn and tell the container engine to use that n

[2019-11-12 09:33] adrianreber commented on #844
I am wondering why there are all those `Operation not permitted` messages. Are there any LSMs active? Can you provide the complete `dump.log`?

[2019-11-12 17:40] ShunmugaPriyaR commented on #838
Thank you Adrian for your inputs. I shall look into it during the weekend.
Today I have to attend the IEEE NFV-SDN conference. I wished to make the
container migration successful and talk about it during my demo time. But I
cant make it up within the time. I hope your input would help me to achieve
the container migration in the near future. Shall update the status of it
once done. Thank you.

Reg

[2019-11-12 18:18] avagin commented on #844
Probably, you are trying to run lxc snapshot as an regular user. Could you try sudo lxc snapshot ...?

[2019-11-12 18:19] avagin commented on #836
You can build it in a Docker container. Here are examples of dockerfile-s: https://github.com/checkpoint-restore/criu/tree/criu-dev/scripts/build.

[2019-11-12 18:19] #836 closed

[2019-11-12 18:25] avagin commented on #818
CRIU doesn't support the MacOS. If you want to use criu for docker container, you can build it in a container too. Here are examples of dockerfile-s: https://github.com/checkpoint-restore/criu/tree/criu-dev/scripts/build

[2019-11-12 18:25] #818 closed

[2019-11-12 23:08] DavidYao1518 commented on #841
@avagin Thank you! Now after adding proper "--external" option for /etc/group according to the error message, the dump process proceeded, but now this time there is another error message:

(00.006213) Dumping task (pid: 22824)
(00.006215) ========================================
(00.006217) Obtaining task stat ...
(00.006236)
(00.006239) Collecting mappings (pid: 22824)
(00.006241) ---------------

[2019-11-13 08:10] rst0git commented on #838
I was able to reproduce the error with:
[code]
`Error (criu/tun.c:391): tun: No tun device for file tun0` ([restore.log](https://github.com/checkpoint-restore/criu/files/3839988/restore.log))

I think it occurs because when `opts.empty_ns` is set CRIU does not dump/restore network devices. This is necessary because such devices are usually initialised by the container manager. However, `tun0` has

[2019-11-13 08:52] avagin commented on #838
I think you are right. In this case, CRIU has to dump a tun device if we find a tun file descriptor.

[2019-11-14 06:25] avagin commented on #841
If I am not mistaken, this means that the root task changed its root by calling chroot. The criu doesn't support this case. All modern container runtimes use pivot_root to change the root file system.

[2019-11-14 06:25] avagin commented on #841
Cc: @Snorch

[2019-11-14 06:49] adrianreber commented on #841
That is the reason I was asking for the version of Singularity. I think the 2.x versions of Singularity are based on chroot and setuid from what I have seen.

[2019-11-15 01:57] sunny868 opened #851 "criu restore finished,but dumpee process not be running.what can I do to debug ?"
first .I run "criu dump  -D dir -j -t 24263 " to dump a running process. then dir has next file.

core-24263.img	fs-24263.img   mm-24263.img	  pstree.img	 tty-info.img
fdinfo-2.img	ids-24263.img  pagemap-24263.img  stats-dump
files.img	inventory.img  pages-1.img	  stats-restore

then I run "criu restore dir -j" .there seem all is ok. but 24263 not go on running . in cr-restore.c
	if (!opts.restore

[2019-11-15 02:10] sunny868 commented on #851
I change wait(NULL) to
	if (!opts.restore_detach && !opts.exec_cmd){
	    int status = -1;
	    int ret = wait(&status);
	    pr_debug("-------wait ret=%d status=%d\n",ret,WEXITSTATUS(status));
	}
then stdout is :
-------wait ret=24263 status=0

[2019-11-15 02:12] sunny868 commented on #851
I change wait(NULL) to
     if (!opts.restore_detach && !opts.exec_cmd){
            int status = -1;
            int ret = wait(&status);
           pr_debug("-------wait ret=%d status=%d\n",ret,WEXITSTATUS(status));
   }

then output terminal is :
     -------wait ret=24263 status=0

[2019-11-15 12:42] sergejbut opened #852 "After restore "Can't connect to local MySQL server through socket""
Hey again
Sorry for the many questions, but I can't figure it out and hope that you can help me.

I start a MySQL container (rootfs=readonly) with runc. Connect to it and change data (haven't figured out yet how to open a port for that container. But I can give the container IP with github.com/genuinetools/netns). Works:
[code]

I have this mount:
[code]
and in the source folder these files exists

[2019-11-15 12:42] #826 closed

[2019-11-15 18:12] adrianreber opened #854 "podman CI test failure"
This is mainly for tracking. The problem is already understood and fixes are on their way.

The podman test in CRIU's CI started to fail because a newer version of conmon was pulled in. With this version of conmon Podman restore currently fails. Fixes are already in review:

https://github.com/containers/conmon/issues/85
https://github.com/containers/libpod/pull/4521

[2019-11-16 23:32] DavidYao1518 commented on #841
Now the problem is relaxed into the same one as  #600

[2019-11-17 07:45] DavidYao1518 opened #855 "Singularity restore "Can't mount at /tmp/.criu.mntns.ocwykx" error"
I come from  #841 and I'm able to dump the Singularity container, but still have problems restoring it.

I'm running Singularity 3.5 with the command:
`singularity run --contain /home/CRIU/ubuntu.img`

My dump command is:

       sudo criu dump -v4 -o ~/dump.log --tree $1 --images-dir /home/CRIU/exit_dir \
        --external mnt[]:m \
        --external mnt[/etc]:etc \
        --external mnt[/etc/

[2019-11-17 07:46] DavidYao1518 commented on #841
The error now is a completely different problem. I posted another issue #855. Thank you guys so much for the help!

[2019-11-17 07:46] #841 closed

[2019-11-19 11:56] giovannivenancio opened #860 "error when checkpointing container: Can't lookup mount"
I have a freshly installed Ubuntu 18.04 and I get the following error when checkpointing a container:

`docker checkpoint create cr checkpoint1
Error response from daemon: Cannot checkpoint container cr: runc did not terminate sucessfully: criu failed: type NOTIFY errno 0 path= /run/containerd/io.containerd.runtime.v1.linux/moby/f2e3e31d2e1b75c6ad339f8931d38e296344f87917d7ef54b6de16a1268d2faf/criu

[2019-11-19 23:18] avagin commented on #860
What kernel do you use?

[2019-11-19 23:19] avagin commented on #860
(00.000079) Running on wraeclast Linux 5.0.0-36-generic #39~18.04.1-Ubuntu SMP Tue Nov 12 11:09:50 UTC 2019 x86_64

[2019-11-19 23:20] avagin commented on #860
Cc: @Snorch

[2019-11-20 07:33] Snorch commented on #860
Do you have mount 795 on host? If you still have dumpable ct running or you can reproduce it do:

```grep "^795\>" /proc/*/mountinfo```

If the above gives anything, please, also show the optput of:

 ```lsns | grep mnt```

1) You can have open fd in the dumpable process from the mount outside of dumpable mntns'es.
2) You can have open mount in detached mntns.
3) You can have open file on overlayf

[2019-11-20 08:17] #828 closed

[2019-11-20 16:16] giovannivenancio commented on #860
`grep "^795\>" /proc/*/mountinfo`

Returns nothing. Also, the results of the nsenter verification:

[code]

I'm also not sure of how relevant this is but:

1) Last week, checkpointing (and restore too) was working just fine. Without any major changes to the S.O. (apart from apt updates), it wasn't working anymore. For this reason I reinstalled Ubuntu, but the error persists.

2) I also tried to in

[2019-11-20 21:24] avagin commented on #860
I think the problem might be in the linux kernel. Can you try to downgrade the kernel?

[2019-11-21 08:16] Snorch commented on #860
Not exactly the same problem connected to bad (pseudo) stat sd_dev on overlay:

https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1751243

In git://kernel.ubuntu.com/ubuntu/autotest-client-tests:

+++ b/ubuntu_unionmount_overlayfs_suite/0001-Fix-check-for-file-on-overlayfs.patch
@@ -0,0 +1,50 @@
+From e19b161d30d648cf0ac5bd68df84b82322de7451 Mon Sep 17 00:00:00 2001
+From: Kleber Sacilotto de S

[2019-11-21 08:35] Snorch commented on #860
Looks like we have the same as for st_dev now with mnt_id, that is bad, because we can't find on which mount to open the file if kernel hides these information from us.

[2019-11-21 11:26] giovannivenancio commented on #860
That was the problem. Downgrading the kernel solves the error!

So, for reference, I was using kernel version **5.0.0-36-generic** and downgrading to kernel version **5.0.0-23-generic** solves the error.

Thank you, i really appreciate the effort! Cheers.

[2019-11-21 23:40] avagin opened #863 "Can't open /dev/null (errno = 13 (Permission denied))"
[code]

[2019-11-21 23:44] avagin commented on #863
All our jenkins jobs are stuck due to this issue.

[2019-11-21 23:50] avagin commented on #863
[code]

[2019-11-21 23:52] avagin commented on #863
We call chmod() explicitly to not think about umask.

[2019-11-22 06:19] #863 closed

[2019-11-25 02:06] #455 closed

[2019-11-25 08:05] avagin commented on #147
@danbeaulieu No, nothing changed. If you want, you can fix this issue. I can help if you will have any question.

[2019-11-27 01:44] sunny868 opened #868 "how to push code (support MIPS arch) to v3.6"
I have finish arch MIPS support base criu v3.6.so now criu can running on MIPS 。
I want to git push my code .how can I do? Do I must merge my code to newlast code before push?or support patch file ?

[2019-11-27 07:13] mihalicyn commented on #868
@sunny868

If you want to use GitHub PRs:
1. Create fork
2. Clone forked repo
3. Create new branch `git checkout -b criu-mips-support`
4. Make your changes
5. Test your changes
6. Push to your repo `git push --set-upstream origin criu-mips-support`
7. Make PR from Github web-interface from branch criu-mips-support onto criu-dev
8. Wait for review :)

If you want to use mailing lists
https://criu.o

[2019-11-27 07:14] cyrillos commented on #868
exactly

[2019-11-27 09:35] sunny868 commented on #868
$  git push --set-upstream origin criu-mips-support
remote: Permission to checkpoint-restore/criu.git denied to sunny868.
fatal: unable to access 'https://github.com/checkpoint-restore/criu.git/': The requested URL returned error: 403

[2019-11-27 09:39] sunny868 commented on #868
I don't have permission yet . so Now what can I do ?
$ git push --set-upstream origin criu-mips-support
remote: Permission to checkpoint-restore/criu.git denied to sunny868.
fatal: unable to access 'https://github.com/checkpoint-restore/criu.git/': The requested URL returned error: 403

[2019-11-27 11:37] mihalicyn commented on #868
@sunny868 you need to fork criu repo to your github accout, then clone you fork repository. (Or change remote by using `git remote` https://help.github.com/en/github/using-git/changing-a-remotes-url)
Of course, you can't push branches to checkpoint-restore/criu directly. ;)

[2019-11-28 00:55] sunny868 commented on #868
ok.thank you very much

[2019-11-28 02:19] #868 closed

[2019-12-02 08:22] RELOAD22 opened #872 "Can criu still be used as an external tool to migrate docker containers?"
I know docker has its own way to migrate containers. (docker checkpoint and restore)
But criu has many more powerful features such as Iterative migration、Disk-less migration、Page server ... How do I apply these powerful features to docker?
 It seems that criu/contrib/docker_cr.sh is no longer working and won't work on newer versions of docker.

[2019-12-02 09:51] adrianreber commented on #872
I have not heard from anyone trying to checkpoint containers without the container engine in the last months. There was a report about singularity a few weeks ago here, but as selecting all the right command-line options gets complicated most people are using the container engine commands (docker, lxc, podman).

You could try to use `runc` directly as many of the features you are looking for can b

[2019-12-03 10:52] farso92 opened #873 "criu doesn't work"
hi everybody, i installed criu inside lxc container (i tried ubuntu/debian) and the istallation goes well but when i run "criu check" i got this error:
`Error (criu/util.c:610): exited, status=1
Error (criu/util.c:610): exited, status=1
Error (criu/tun.c:85): tun: Unable to create tun: Operation not permitted
Error (criu/cr-check.c:146): sys/kernel/ns_last_pid sysctl is inaccessible: Read-only fil

[2019-12-03 10:55] adrianreber commented on #873
Running in a LXC container usually means unprivileged. CRIU needs full access to the kernel. Try to run it outside of the container.

[2019-12-03 10:57] farso92 commented on #873
outside on my ubuntu it works...but is it not possible to dare privileges to lxc?

[2019-12-03 10:59] farso92 commented on #873
i can try also with other containers such as docker or runC if it can be better

[2019-12-03 11:01] adrianreber commented on #873
If you give your container enough privileges CRIU should work. But that is more about that specific container engine than CRIU.

[2019-12-03 13:56] farso92 opened #874 "Criu failed: type NOTIFY errno 0"
hi i m trying to create a checkpoint....i m using docker 10.03.5 runc 1.0.0-rc8+dev and criu 3.13...when i run this:
`docker checkpoint create cr2 checkpoint`
i got this error:
`error response from daemon: Cannot checkpoint container cr2: runc did not terminate sucessfully: criu failed: type NOTIFY errno 0 path= /run/containerd/io.containerd.runtime.v1.linux/moby/92cd14d9a7cd0ebfdb9a357874c62149d1

[2019-12-03 14:02] adrianreber commented on #874
Which OS are you using? Is the docker version correct? 10.03.05 or is it 19.03.05?

[2019-12-03 15:31] farso92 commented on #874
sorry 19.03.5....i m running docker on ubuntu 19.10

[2019-12-03 15:53] adrianreber commented on #874
I do not know about docker's current checkpoint support but you could try Podman: https://criu.org/Podman

That works for me.

[2019-12-03 17:18] farso92 commented on #874
i tried podman on ubuntu 18.04....now i have this error:
`criu failed: type NOTIFY errno 0
log file: /var/lib/containers/storage/overlay-containers/018e1c8c018bca93d19f1b77d8669e613fc258ad5550bf59740019ebabdb6f0c/userdata/dump.log
Error: failed to checkpoint container 018e1c8c018bca93d19f1b77d8669e613fc258ad5550bf59740019ebabdb6f0c: `/usr/sbin/runc checkpoint --image-path /var/lib/containers/stora

[2019-12-03 17:22] adrianreber commented on #874
Can you share the dump.log file?

Are you running everything as root? Is this still in a LXC container?

[2019-12-03 17:28] farso92 commented on #874
yes i m root....i  running this
`sudo podman container checkpoint -l`
i m not using lxc....podman container...how can i get dump.log? thank you for all

[2019-12-03 17:39] adrianreber commented on #874
Both docker and podman are telling you the location of dump.log in their error messages.

[2019-12-03 17:42] farso92 commented on #874
you are right....
`(00.000046) Version: 3.13 (gitid 0)
(00.000063) Running on umberto-Lenovo-B50-80 Linux 5.0.0-37-generic #40~18.04.1-Ubuntu SMP Thu Nov 14 12:06:39 UTC 2019 x86_64
(00.000067) Overwriting RPC settings with values from /etc/criu/runc.conf
(00.000084) Loaded kdat cache from /run/criu.kdat
(00.000121) ========================================
(00.000125) Dumping processes (pid: 19096

[2019-12-03 17:50] adrianreber commented on #874
Ah, we have seen this before: https://github.com/checkpoint-restore/criu/issues/860

Apparently it helps to downgrade the kernel.

[2019-12-03 18:59] adrianreber commented on #873
Closing as you seemed to continue the discussion in #874.

[2019-12-03 18:59] #873 closed

[2019-12-03 20:26] farso92 commented on #874
change kernel fix that problem but now i have more....i tried to restore the checkpoint but i have now this:
`Error: failed to restore container 72c16bdf39cf9832170ea84dcc9309006a2c7832309335b869e229586e8827bb: container create failed (no logs from conmon): EOF
`

[2019-12-03 21:12] adrianreber commented on #874
Ah, sorry, now you are hitting another known error. As far as I know the conmon version is still too new for Podman. We are waiting for a Podman 1.6.4 release which has the necessary fix. Either downgrade conmon to 2.0.2, try it with docker (should work now with the older kernel). Or maybe try Fedora 30 (if it still has conmon 2.0.2).

Deleting  /var/lib/containers/storage/overlay-containers/72c16

[2019-12-08 22:52] rst0git commented on #851
It should be `criu restore -D dir -j`

@sunny868 you can use `-v4` to set the logging level to dubug and `-o` to specify an output file, for example:
[code]

[2019-12-09 07:10] #851 closed

[2019-12-11 06:15] JatinSuthar07 commented on #603
sudo lxc snapshot uub5 suub1 --stateful
Error: snapshot dump failed
(00.000122) Warn  (criu/log.c:203): The early log isn't empty
(00.010563) Warn  (criu/image.c:137): Failed to open parent directory
(00.013501) Error (criu/mount.c:1087): mnt: The file system 0x34 0x34 (0x41) btrfs ./ is inaccessible
(00.013506) Error (criu/fsnotify.c:212): fsnotify: Can't open mount for s_dev 34, continue
(00.013

[2019-12-11 06:15] JatinSuthar07 commented on #603
using Ubuntu:18.04

[2019-12-11 08:48] farso92 opened #875 "webserver checkpoint error"
hi i created a webserver with nginx inside docker. This webserver has a video, my idea is create a checkpoint during video playback, migrate the webserver and start in the new server from that point.
I can migrate the server without any errors if the video is not playing but if it is running i have an error (even if i pause it the error is still here). The error is this:
`Error response from daemo

[2019-12-11 08:54] #874 closed

[2019-12-11 10:04] adrianreber commented on #875
Can you provide the dump.log which is mentioned in the error message.

[2019-12-11 11:19] farso92 commented on #875
i think that i had some zombies process...i removed and reinstalled docker and the error disappeared

[2019-12-11 11:26] adrianreber commented on #875
Cool. Closing this now.

[2019-12-11 11:26] #875 closed

[2019-12-11 16:00] farso92 opened #876 "Dump error with runc"
i m running a busybox container with runc. i want make a checkpoint but when i run

`criu dump -D /tmp/criu_img -v4 -j -t 9360`

i got this error:
[code]

[2019-12-11 16:08] adrianreber commented on #876
Why aren't you using runc's `checkpoint` command?

[2019-12-11 16:13] farso92 commented on #876
because i have an other error and i wanted try a lower dump...if i run
`runc checkpoint test1`
i got this
[code]

[2019-12-11 16:16] farso92 commented on #876
with this dump log
[code]

[2019-12-11 18:14] adrianreber commented on #876
Can you try to start the container like this: `runc run rhel7-httpd -d -b /runc/containers/rhel7-httpd/ &> /dev/null  < /dev/null`

Replacing the container name and the bundle path with your settings. With this command-line I can dump runc containers.

[2019-12-11 19:47] farso92 commented on #876
i run that command...no errors but no container created...if i don't use `&> /dev/null < /dev/null` the container Is created but same error

[2019-12-11 19:50] adrianreber commented on #876
Can you please copy and paste all commands and all error messages to make sure we are talking about the same things.

[2019-12-11 22:30] farso92 commented on #876
i start with the run
[code]
it starts the shell, i run a service (a simple counter)
``sh looper.sh``
now in an other terminal i try to create the checkpoint
``runc checkpoint test1``
and i get the error:
[code]
so i tried to make checkpoint with dump service of criu running:
``criu dump -D /tmp/criu_img -v4 -j -t 9360``
but i get the error in the first message
if i try to use:
``runc run test1 -d