[2018-04-19 16:43] 0x7f454c46 commented on #472
Ugh, it looks like `F_SETOWN_EX` races with fork() of the process-owner, at a quick glance.
Maybe we should restore file's owner on the next stage? Not sure.
+Cc @tkhai, @avagin

[2018-04-19 17:52] tkhai commented on #472
prepare_fds() is called, when all the tasks have already created. So, they can't race. But F_SETOWN_EX can be related to threads, which are restored after fds (they are the lastest). If that's so, we can't completely fix that without threads-related architecture solution. The only solution for current threads architecture is to ignore F_SETOWN_EX.
CC @xemul

[2018-04-19 17:58] 0x7f454c46 commented on #472
Oh, yeah, I meant thread, but have written `fork()`. Sorry for the confusion.
Note, that we also have the C/R case with opened `/proc/<tid>/` which doesn't work for the same reason.

[2018-04-19 18:01] 0x7f454c46 commented on #472
IIRC, @xemul has said on that that we either should introduce a second restorer (because of some magic with thread creds restore) or work on restorer-v2.

[2018-04-19 22:27] gaomrx opened #473 "Unable to ```make clean ```"
Unable to ```make clean``` due to absence of ```descriptor.proto``` file. Please direct attention to this missing file. Thanks.

<img width="755" alt="screen shot 2018-04-19 at 6 27 03 pm" src="https://user-images.githubusercontent.com/6380557/39021561-46caf03a-43ff-11e8-9e43-f70be96e7752.png">

[2018-04-19 23:04] 0x7f454c46 commented on #473
Hi @gaomrx,
I think your `make clean` has actually finished?
It looks like your system has no such link:
[code]
Which file is actually provided by `protobuf-devel`:
[code]
So, I think there is nothing wrong with this warning as the package is listed on [criu.org](criu.org) as a dependency to build criu. And `make clean` looks actually working for you.
ITOW, I don't think that suppressing this mess

[2018-04-20 10:13] tkhai commented on #472
Do you mean the magic needed in this issue, or more magic in more issues?

[2018-04-20 16:49] criutest opened #474 "Error (criu/mount.c:3385): mnt: The root task has another root than mntns: /new_root"
Hello
I am looking for failure reason of “docker checkpoint create” at aarch64(tegra) board

criu -V
Warn  (criu/kerndat.c:781): Stale /run/criu.kdat file
Warn  (criu/net.c:2728): Unable to get a socket network namespace
Warn  (criu/libnetlink.c:55): ERROR -95 reported by netlink
Error (criu/net.c:3036): Unable to create a veth pair: -95
Warn  (criu/net.c:3058): NSID isn't reported for network lin

[2018-04-21 23:33] paizhang opened #475 "Issue about restoring shared memory across difference instances"
Hi guys,

I checkpointed a container with some data in shared memory. And I migrated the checkpoint files to another Ubuntu instance and restored it. I can restored it successfully. But when I run another program within the restored container which will retrieve those data from shared memory. But it failed to retrieve the data in the shared memory. So I wonder whether CRIU support checkpoint and r

[2018-04-22 02:54] avagin commented on #475
Do you use System V shared memory?

[2018-04-22 02:55] avagin commented on #474
Could you show /proc/self/mountinfo from this host?

[2018-04-22 02:58] #468 closed

[2018-04-22 22:18] karthiksjsu opened #476 "fsnotify: Can't open file handle for 0x000042:0x0000000006cf22: Stale file handle"
Trying to create a checkpoint for the container which has opendaylight controller running inside it ...
criu throws an error

root@Karthik:/home/karthik/dockers/check123/criu.work# cat dump.log | grep Error
(00.379158) Error (criu/fsnotify.c:215): fsnotify: Can't open file handle for 0x000042:0x0000000006cf22: Stale file handle
(00.385113) Error (criu/irmap.c:86): irmap: Can't stat /var/lib/polkit

[2018-04-22 22:49] karthiksjsu commented on #476
root@Karthik:/var/lib/polkit-1# ls
localauthority
root@Karthik:/var/lib/polkit-1# cd localauthority/
root@Karthik:/var/lib/polkit-1/localauthority# ls
10-vendor.d  20-org.d  30-site.d  50-local.d  90-mandatory.d
root@Karthik:/var/lib/polkit-1/localauthority#

[2018-04-23 07:22] farooqte96 opened #477 "criu dump error during docker checkpoint"
Hi
I am trying to checkpoint a docker container but criu is giving error of "Dumping Failed" as shown in logs below. Does anyone know how to solve this issue? There is some systemd mount issue but i am not sure about it.  Thanks

root@edge1:~# docker checkpoint create docker-test docker-test
Error response from daemon: Cannot checkpoint container docker-test: rpc error: code = 2 desc = exit status

[2018-04-23 08:41] criutest commented on #474
cat /proc/self/mountinfo Thanks in advance!!!

20 0 8:1 / / rw,noatime shared:1 - ext4 /dev/sda1 rw,data=ordered
21 20 0:4 / /proc rw,relatime shared:2 - proc proc rw
22 20 0:16 / /sys rw,nosuid,nodev,noexec,relatime shared:3 - sysfs sysfs rw
23 20 0:6 / /dev rw,relatime shared:7 - devtmpfs none rw,size=12561676k,nr_inodes=3140419,mode=755
17 23 0:18 / /dev/shm rw,nosuid,nodev shared:8 - tmpfs tmp

[2018-04-23 18:16] avagin commented on #474
And could you show /proc/pid/mountunfo for a container process? This file should be read from the host (not from a container).

[2018-04-23 23:27] avagin commented on #472
@0x7f454c46 @tkhai is it possible to create threads before restoring file descriptors?

[2018-04-23 23:46] avagin commented on #471
@ZikeWang pls, write a sequence of commands what you use to reproduce this issue. I will try to reproduce and understand what is going on there. Thanks.

[2018-04-23 23:55] avagin commented on #466
tar has --group-map and --user-map options, they can be useful for us here

[2018-04-24 05:25] farooqte96 commented on #477
Thanks alot @avagin  for addressing the query. It occured for criu version 3.8 & Docker version 17.06.2-ee-6. I was using it on a vm, so linux kernel was also old so i removed that distribution, installed a new one with updated kernel and this error is gone.

[2018-04-24 06:37] avagin commented on #477
You are welcome. Can we close this issue?

[2018-04-24 07:02] #477 closed

[2018-04-24 08:49] tkhai commented on #472
This is about creating threads at the same time as other processes. I don't know limitations now (maybe, there is something nearly sigreturn interfaces), but the problem is not in limitations, it's in rewriting huge bunch of generic code and n+1 architecture-dependent parts...

[2018-04-24 09:16] ZikeWang commented on #471
Hi @avagin , thank you for help.

- Docker version : 18.03.0-ce
- CRIU version : 3.7
- kernel version : 4.4.0-31-generic ( Ubuntu 14.04.1 amd64 )

I have reproduced the issue:
[code]

My problems are :
1. The database RUNOOB I created in container sql1 was missing in the clone container sql2 after Docker checkpoint/start operations. In my view, CRIU checkpoints and restores the state, I need to do

[2018-04-24 11:43] criutest commented on #474
Dear Andrew Vagin

Thanks so much for advice!
Please find attached logs

1.	host_proc_self_mountinfo.txt : host cat /proc/self/mountinfo
1.1.	docker run -d --name looper --security-opt seccomp:unconfined arm64v8/busybox /bin/sh -c 'i=0; while true; do echo $i; i=$(expr $i + 1); sleep 1; done'
2.	host_proc_pid_mountinfo.txt : host machine /cat/pid(8485)/mountinfo
2.1.	docker start --checkpoint chec

[2018-04-24 12:26] 0x7f454c46 commented on #472
Hmm, I somehow bound creation of threads with restoring creds - but I'm not sure now.

[2018-04-24 20:58] avagin commented on #476
@karthiksjsu Could you attach a dump log?

[2018-04-25 14:19] dav-ell commented on #459
@avagin I got to try out your commit today, but runc ran into a version problem restoring.

[code]

My versions:
[code]

[code]

[2018-04-25 14:37] adrianreber commented on #459
@dav-ell Are you sure runc is using the new CRIU version. What happens if you run:

```runc --debug --log /dev/stdout restore ...```

Maybe you need to tell runc with ```--criu /path/to/criu``` where CRIU is.

[2018-04-25 14:43] dav-ell commented on #459
@avagin I get the same thing:

[code]
I pulled your commit in the `soccr` folder of my home directory.

[2018-04-25 14:53] dav-ell commented on #459
I copied your changes from that particular commit into my regular CRIU, rebuilt, and got the new log.

[restore-soccr.log](https://github.com/checkpoint-restore/criu/files/1947534/restore-soccr.log)

[2018-04-25 15:36] dav-ell commented on #459
Note that it also appears that you can solve this issue by leaving `src_addr` the same and setting a secondary IP address on the host via:

[code]

[2018-04-26 08:12] zhouxinyu opened #478 "No need to unlock network in the remote node"
Hi,

I found that the restore stage costs too much time, following this page [Lazy_migration](https://criu.org/Lazy_migration).

In the lazy migration scenario, lock the network in local node is necessary, but there is no need to unlock the network in the remote node while no iptables rule need to be removed. Otherwise, we will see many error logs:

[code]

I think this is a bug, any suggestion?

[2018-04-26 23:50] avagin commented on #478
You try to migrate processes which have established tcp connections. If you want to migrate these connections, you need to migrate their source ip addresses too, and all iptables rules what have been added by criu. It will be easier, if you will run these processes in a container and migrate this container.

https://criu.org/TCP_connection

Could you describe a workload what you want to migrate?

[2018-04-27 02:51] zhouxinyu commented on #478
@avagin thanks for your reply.

Yes, the process has some established TCP connections, the problem is that I can't do a dump if I don't specify the `--tcp-established` option, see the error log:

[code]

Actually, I want to discard the established connections, so I used the `--tcp-close` option, but it doesn't work, the `--tcp-established` option is required.

And, the application is a jvm process

[2018-04-27 07:40] zhouxinyu commented on #478
I will try this patch, thanks to all you guys.

[2018-04-27 19:40] avagin commented on #471
Your container  was not restored from images, it was just started by this command
[code]

[2018-04-28 04:47] avagin opened #479 "Error (criu/mem.c:317): Pid-reuse detection failed: no parent inventory, check warnings in get_parent_stats"
https://ci.openvz.org/job/CRIU/job/CRIU-snap/job/criu-dev/3729/console

[code]

To: @Snorch

[2018-04-28 06:44] avagin opened #480 "03:40:43.171: 4: FAIL: bridge.c:102: Net config differs after restore (errno = 11 (Resource temporarily unavailable))"
[code]
https://ci.openvz.org/job/CRIU/job/CRIU-dump-only/job/criu-dev/3804/consoleFull

[2018-04-28 06:59] zhouxinyu commented on #478
@avagin

I could dump only with --tcp-close, but it doesn't work when I restore the process in the remote node, error occurs:

[code]

[2018-04-28 07:11] avagin commented on #478
[code]
What is about this patch?

[2018-04-28 12:46] treaki opened #481 "make install not working"
i am using debian 9.2 and trying to install criu to get lxc-checkpoint to work, everything until make install worked fine but when executing this:

[code]
whats wrong here, how to fix it?

thanks in advance

[2018-04-28 18:53] rst0git commented on #481
Hi @treaki,
This error occurs because the installation of man pages has failed. Try to install the `xmlto` package.
[code]

[2018-04-30 13:54] zhouxinyu commented on #478
It works, thanks.

BTW, is there any solution for the frequent PID mismatch error?

[code]

[2018-04-30 14:51] avagin commented on #478
You can run your processes in a separate pid namespace to avoid this error.

[2018-04-30 15:47] ehmm opened #482 "Problem checkpointing lxc container "Error (criu/cgroup.c:620): cg: failed walking ... No such file or directory""
Hi,
I'm using lxc 3.0 and criu 3.6 trying to checkpoint a container.
The checkpoint is failing with the above error.

More of the log:

`(00.060742) cg: Dumping cgroups for 3158
(00.060837) cg:  `- New css ID 2
(00.060843) cg:     `- [blkio] -> [/nested] [125]
(00.060845) cg:     `- [cpu,cpuacct] -> [/nested] [125]
(00.060848) cg:     `- [cpuset] -> [/nested] [125]
(00.060850) cg:     `- [devices]

[2018-04-30 17:34] avagin commented on #153
https://github.com/containerd/containerd/issues/201#issuecomment-211457069

[2018-04-30 19:37] avagin commented on #482
It looks like a bug that we see blkio and cpu,cpuacct together in this line

[2018-04-30 19:55] avagin commented on #482
Could you show /proc/cgroups and /proc/pid/cgroups for the container init?

[2018-04-30 20:06] avagin commented on #482
[code]

Paths for freezer, memory, systemd contains nested twice, it is probably a reason for this error.

[2018-04-30 21:49] ehmm commented on #482
The /proc/PID/cgroups from the container host:
`14:name=zdtmtst.defaultroot:/
13:name=zdtmtst:/
12:pids:/nested
11:devices:/nested
10:hugetlb:/nested
9:rdma:/lxc/24f7a993-4cbf-11e8-ab0e-42010a3c0194
8:cpuset:/nested
7:blkio:/nested
6:memory:/nested/nested/lxc/24f7a993-4cbf-11e8-ab0e-42010a3c0194
5:freezer:/nested/nested/lxc/24f7a993-4cbf-11e8-ab0e-42010a3c0194
4:net_cls,net_prio:/nested
3:perf_eve

[2018-04-30 22:52] avagin commented on #482
I don't know. If it is not a bug, you need to fix criu options
Now you have:
--cgroup-root memory:/nested/lxc/e007f72c-4c88-11e8-ab0e-42010a3c0194
but it should be:
--cgroup-root memory:/nested/nested/lxc/e007f72c-4c88-11e8-ab0e-42010a3c0194

[2018-04-30 23:54] avagin commented on #480
https://patchwork.criu.org/series/2503/

[2018-04-30 23:54] #479 closed

[2018-05-01 04:36] zhouxinyu commented on #478
Hi,

[code]

I used the above command to start my process and then execute criu dump with --lazy-pages, but it doesn't work.

[code]

[2018-05-01 05:58] avagin commented on #478
Could you attached a process tree (ps axf) and a whole dump log? criu dump has to be executed with -v4.

[2018-05-01 14:38] zhouxinyu commented on #478
The whole dump log: [restore.log](https://github.com/checkpoint-restore/criu/files/1964061/restore.log)

And the related process tree:

[code]

[2018-05-02 07:27] zhouxinyu opened #483 "Thead pid mismatch"
Hi,

[code]

To resolve this issue, I want to use the second solutions following [here](https://criu.org/When_C/R_fails#PID_mismatch_on_restore)

But I couldn't find the mismatch TID 77675 in any process, that means there is no file `/proc/*/task/77675`, so I am confused that if the target TID is available why the error occurred?

[2018-05-02 09:54] #483 closed

[2018-05-02 15:34] avagin commented on #478
The error is clear. I'm preparing a patch for it. I will post it here today.

[2018-05-02 20:13] avagin commented on #451
I know that this problem is solved in OpenVZ (Virtuozzo). As for the upstream kernel, I don't have any information.

[2018-05-02 20:56] brauner commented on #451
You should talk to @adrianreber!

[2018-05-03 14:45] ZikeWang commented on #471
Hi @avagin , thank you for your detailed explanation.
Another more question, what's wrong with `Error response from daemon: custom checkpointdir is not supported` ?

[2018-05-03 14:54] dav-ell commented on #451
@brauner I think I would definitely be interested in that! What's the best way to contact @adrianreber?

[2018-05-03 16:54] avagin commented on #471
It is a docker issue https://github.com/moby/moby/issues/34601

[2018-05-04 02:09] ZikeWang commented on #471
got it, thank you so much! @avagin

[2018-05-05 13:42] yufeixiong opened #484 "can criu checkpoint mysql？"
can criu checkpoint mysql？
I tried to checkpoint mysql,but failed.

[2018-05-09 23:56] wetpaste commented on #469
I think I'm running into this issue or something similar, can somebody confirm?

Ubuntu 18.04 LTS vanilla install, LXD 3.0, CRIU 3.6. All packages vanilla from apt pacakges with no additional or special configuration. Any time I try to do any stateful snapshotting `lxc snapshot` with `--stateful` or any live migration, I get a failure from CRIU.

last few lines from the logs
[code]

[2018-05-10 00:08] avagin commented on #469
@wetpaste No, it is another issue. Could you create a new issue and attach logs?

[2018-05-10 09:33] yufeixiong commented on #484
kernel version : linux 4.13.0-39-generic
criu version:3.8.1

I tried to dump mysql, but received the following message:
Warn  (compel/arch/x86/src/lib/infect.c:273): Will restore 1025 with interrupted system call
Error (compel/src/lib/infect.c:633): Unable to connect a transport socket: Permission denied
Error (compel/src/lib/infect.c:559): Can't inject syscall blob (pid: 1025)
Error (compel/src/l

[2018-05-10 09:59] adrianreber commented on #484
Can you run 'criu check --all'? Are you running CRIU as root? Please run with '-vvvv' and attach full output.

[2018-05-10 10:31] yufeixiong commented on #484
root@linux:/home/alan# ./criu/criu/criu check --all
Warn  (criu/kerndat.c:781): Stale /run/criu.kdat file
Looks good.

yes, I run criu as root.

Warn  (compel/arch/x86/src/lib/infect.c:273): Will restore 1025 with interrupted system call
Error (compel/src/lib/infect.c:633): Unable to connect a transport socket: Permission denied
Error (compel/src/lib/infect.c:559): Can't inject syscall blob (pid:

[2018-05-10 12:28] 0x7f454c46 commented on #484
Might be related to #439

[2018-05-10 17:04] dfsdevops opened #485 "CRIU crashing with LXD and ubuntu 18.04"
Environment:
* Ubuntu 18.04 (vanilla server install from ISO)
* LXD 3.0 (installed from apt)
* CRIU (installed from apt)

I have tried this same process on ubuntu 16.04 and have not seen any issues.

Reproducing from brand new install:
setup ->
[code]
setting up a new container and reproducing the issue:
[code]
Note: this has happened with every container image I have tried, Centos 6, ubuntu 16, u

[2018-05-10 18:33] rst0git commented on #485
Hi @wetpaste,
Ubuntu 18.04 comes with CRIU 3.6-2. Do you still get this error if you upgrade to CRIU 3.8.1?

From the attached log file I noticed the error that is causing the failure
[code]
Similar issue has been reported [here](https://discuss.linuxcontainers.org/t/error-in-lxd-live-migration/1195) where Stéphane Graber's comment is:

[2018-05-10 23:51] avagin commented on #485
Here is a series to c/r raw sockets:
https://patchwork.criu.org/series/2411/

Could you try it?

Cc: @cyrillos

[2018-05-10 23:52] avagin commented on #485
Could you show output for "ss -a" and "ps axf" from this CT?

[2018-05-11 07:00] cyrillos commented on #485
The patches were prepared for criu-dev branch. Here they are already applied https://github.com/cyrillos/criu/tree/ip-raw-6

[2018-05-11 07:49] avagin commented on #484
I reproduced this issue. I think it is due to apparmor. CRIIU should handle this properly, but it doesn't...

[  440.178362] audit: type=1400 audit(1526024480.116:19): apparmor="DENIED" operation="connect" profile="/usr/sbin/mysqld" pid=11291 comm="mysqld" family="unix" sock_type="seqpacket" protocol=0 requested_mask="send receive connect" denied_mask="send connect" addr=none peer_addr="@/crtools-

[2018-05-11 09:09] adrianreber commented on #484
@avagin : Maybe the Ubuntu CRIU package needs to include apparmor policies to allow CRIU to communicate with that socket?

[2018-05-11 17:09] avagin commented on #484
@tych0 Do we have something like PTRACE_O_SUSPEND_SECCOMP for apparmor and selinux?
Cc: @brauner

[2018-05-11 17:12] tych0 commented on #484
Sadly no, I never got a chance to work on it :(

[2018-05-11 17:13] tych0 commented on #484
I think for apparmor there's a solution though from my old patches -- apparmor lets you replace the profile, so my old patches replaced the profile with one that allows everything, do the dump, and then replace it with the original. I suppose that code needs a rebase now.

[2018-05-11 17:14] avagin commented on #484
Thanks. I will try to resurrect these patches.

[2018-05-11 17:33] tych0 commented on #484
I think the last version i had was here: https://github.com/tych0/criu/commits/apparmor-stacking-v4

[2018-05-11 17:44] wetpaste commented on #485
[code]

This is what I am getting when compiling and installing the ip-raw-6 branch.

Now, if this is related to the ipv6 inside the container, maybe I can avoid it simply by fully disabling ipv6 on the host and within the containers. It's not something I am using, and something I usually try to avoid anyways

[2018-05-11 18:17] cyrillos commented on #485
proto 58 stands for ICMP for IPv6 which we don't support yet. And yes, ipv6 disabling will help. Another option is to disable the program which opens it.

[2018-05-11 18:18] cyrillos commented on #485
Try pass ss -anp to find a pid of process which holds
`icmp6UNCONN 0      0                                 *%eth0:ipv6-icmp                                                     *:*`

[2018-05-11 18:25] cyrillos commented on #485
Still please show `ss -anp` output

[2018-05-11 18:27] wetpaste commented on #485
[code]

[2018-05-11 19:47] cyrillos commented on #485
OK, it's system-network. Thus until we implement support for icmpv6 better to disable ipv6 on the container to be able to c/r it.

[2018-05-15 23:14] avagin opened #486 "seccomp.c:155:8: error: dereferencing pointer to incomplete type 'struct seccomp_metadata'"
[code]

https://travis-ci.org/checkpoint-restore/criu/jobs/379441092

[2018-05-17 00:04] avagin opened #487 "criu killed by SIGABRT"
[code]

[code]

[2018-05-17 00:07] avagin commented on #487
@rppt Mike, it is the master branch. Let me know if this issue was fixed by the last your series.

[2018-05-17 19:10] dfsdevops commented on #485
Even after disabling ipv6, I am still seeing a crash

last few lines look like so:
[code]

ports inside the container:
[code]

[2018-05-18 10:46] #481 closed

[2018-05-19 14:10] wno-git opened #488 "Unable to restore processes with vDSO unmapped"
Hello,

CRIU fails to restore applications that have unmapped the vDSO segment. One such
application is Valgrind. When the checkpoint is restored CRIU complains that the
vDSO segment is not found in the checkpoint image and will not restore.

Steps to reproduce:

[code]

By commenting out the call to vdso_proxify in criu/pie/restorer.c:1360 I'm able
to successfully restore the Valgrind process. Ho

[2018-05-19 21:39] dav-ell opened #489 "Migrated TCP connection restores, but application does not resume correctly"
`tcpdump` captured on host `192.168.1.105`, with a client migrating from `192.168.1.132` to `192.168.1.148`:
[code]

The relevant bit is:
[code]
Especially the **`seq 1774775276:1774775601`** before the checkpoint on host `192.168.1.132` and **`seq 1774775275`** after the restore on host `192.168.1.148`. The sequence number appears to be off by 1.

The TCP connection did not continue correctly in

[2018-05-20 04:52] avagin commented on #488
Cc: @cyrillos @0x7f454c46

[2018-05-20 08:47] 0x7f454c46 commented on #488
Ugh, that's mine.
I even have previously written zdtm/static/vdso02.c test to check that.
Looks like, something is wrong with the test, I'll look, thanks.

[2018-05-21 23:27] avagin commented on #489
I need tcp image files to investigate this issue.

[2018-05-21 23:30] avagin commented on #489
Why do you think that this connection didn't continue correctly? From tcp dump, we see that it transfer data in both directions.
[code]

[2018-05-21 23:47] dav-ell commented on #489
Shortly after the section I posted from the tcpdump, the applications send `[P.]` repeatedly back and forth to each other, then don't communicate with each other for 30 seconds, then send a single message, then don't do anything again until I migrate the client back to the original host it came from.

If I let the client and server stay in the state that they are in after sending `[P.]` repeatedly

[2018-05-22 06:11] avagin commented on #489
Have you tried to look what processes are doing during these 30 seconds? I think a tcp connection is fully functional, but processes don't send any data. You can run strace (strace -fp PID -s 256) for processes after migration.

[2018-05-22 11:08] farooqte96 opened #490 "docker checkpoint and restore fails for docker 18.03.1-ce"
Hi I tested docker checkpoint-restore feature on docker-ee-17.06 version. It works fine there. But i have to replace that with docker-ce-18.03 because nvidia-docker didn't support docker ee version. Now i am facing issue in checkpointing and restoring containers in docker-ce. Docker checkpoint creates a checkpoint but doesn't stop the container and also doesn't list the created checkpoints. Then t

[2018-05-22 22:40] avagin commented on #485
@dfsdevops It is another problem. Could you show output for the next command from CT?

[code]

[2018-05-22 23:13] avagin commented on #485
I failed to reproduce this issue:
[code]

[2018-05-23 10:30] farooqte96 opened #491 "docker checkpoint works for nginx but failed for other container images"
Hi i tried docker checkpoint feature. Docker version is 17.06.2-ee-11 and criu version is 3.8.1.  Checkpoint works when container is spawn from nginx image but when some other image and of bigger size is used. It doesnt checkpoint but gives errors as mentioned below. Can someone suggest the solution of this issue.
1. For container with image nginx:

docker run -d --name container1 -p 80:80 nginx
c

[2018-05-23 11:46] farooqte96 opened #492 "docker start --checkpoint doesnt start container from a checkpoint image"
Hi
Docker checkpoint and restore works when performed on same host. But when a checkpointed container image from another host is copied to /checkpoint directory of newly created container. It doesnt start container from that checkpoint successfully and also doesn't show any error message.

Docker version: 17.06.2-ee-6
CRIU Version: 3.9

Container starts when checkpoint created on same host:

$dock

[2018-05-23 14:07] rowshan opened #493 "Error and Warning with #criu check command"
Hi,
I am trying to use criu for live container migration. I run the following  `` sudo criu check`` command and got the following errors and warning:

``sro@sro-thinkpad:~/Desktop/criu$ sudo criu check
Warn  (criu/kerndat.c:808): Stale /run/criu.kdat file
Warn  (criu/net.c:2770): Unable to get socket network namespace
Warn  (criu/net.c:2770): Unable to get tun network namespace
Warn  (criu/sk-unix

[2018-05-23 14:19] rppt commented on #493
What is your kernel version?

[2018-05-23 14:21] rst0git commented on #493
and what is the criu version?

[2018-05-23 15:46] farooqte96 commented on #493
Can you run criu check after updating your kernel?

[2018-05-23 17:29] rppt commented on #493
@rowshan, 4.4 is more than two years old, some features that CRIU may use in certain circumstances were added after 4.4 was released.
Core functionality will work, but with older kernels CRIU is has more restrictions on what can be migrated.
You can try installing newer kernel with
[code]

[2018-05-24 00:47] lizhi16 commented on #278
@farooqte96 you can modify criu/criu/include/cr_options.h

[2018-05-24 05:43] farooqte96 commented on #278
Thanks ! I made necessary change to criu/criu/include/cr_options.h but getting same error of increase size.

[2018-05-24 09:03] rowshan commented on #493
@rppt thanks a lot !

[2018-05-24 11:59] vaverin opened #494 "vz7 online container migration fails with Remote exception I/O operation on closed file"
https://forum.openvz.org/index.php?t=rview&goto=53303

[root@vz03 ~]# vzmigrate -vvv --online --require-realtime vz04 222
...
2018-05-23 10:30:10.732: Live migration stage started
2018-05-23 10:30:36.320: Io multiplexer aborted
2018-05-23 10:30:36.320: 2018-05-23 10:30:36.321: Phaul service failed to live migrate CT
2018-05-23 10:30:36.320: 2018-05-23 10:30:36.321: error [-73] : Phaul service fail

[2018-05-24 17:58] avagin commented on #492
@kolyshkin

[2018-05-25 07:16] farooqte96 commented on #491
Here is my docker info which shows default driver is overlay2 but while starting containers i have not specified any storage driver. Is it ok ?

$ docker info
Containers: 17
 Running: 0
 Paused: 0
 Stopped: 17
Images: 10
Server Version: 17.06.2-ee-11
**Storage Driver: overlay2**
 Backing Filesystem: extfs
 Supports d_type: true
 Native Overlay Diff: true
Logging Driver: json-file
Cgroup Driver: cg

[2018-05-25 08:44] farooqte96 commented on #491
avagin For second case checkpoint also failed when docker image size is big i.e. 739MB, then i get this error:
(00.439920) Error (criu/files-reg.c:810): Can't dump ghost file /tmp/libnetty_tcnative_linux_x86_645157684702699324389.so of 2073672 size, increase limit

To increase ghost limit i made some changes to following files, but still error persists.
1. /criu/criu/include/cr_options.h: 39

Chan

[2018-05-25 11:37] mishaivinco commented on #494
criu_restore.9.log was already posted (see above). I attached additionally the whole /vz/dump/222/rst-_cQGWZ-18.05.23-10.30 dir contents.

[rst-_cQGWZ-18.05.23-10.30.tar.gz](https://github.com/checkpoint-restore/criu/files/2039155/rst-_cQGWZ-18.05.23-10.30.tar.gz)

[2018-05-25 12:26] 0x7f454c46 commented on #494
This one looks suspicious and might be the reason of the fail:
[code]
Probably, it's a bug in criu integration. libvzctl or something?

[2018-05-25 12:58] vaverin commented on #494
ok, reported as https://bugs.openvz.org/browse/OVZ-7030

[2018-05-26 02:59] avagin opened #495 "AssertionError: Extensions "criu" and "criu" both try to extend message type "google.protobuf.FieldOptions" with field number 1018."
[code]

Cc: @adrianreber

[2018-05-26 03:04] avagin commented on #487
https://patchwork.criu.org/series/2552/

[2018-05-26 03:04] #487 closed

[2018-05-28 06:11] farooqte96 commented on #492
@avagin @kolyshkin @xemul
Anybody knows how to fix this issue?

[2018-05-28 14:12] rowshan commented on #493
This problem is solved! Thanks a lot

[2018-05-28 14:18] rowshan opened #496 "criu check shows error from vagrant machine!"
Hi I get following error :

`vagrant@vagrant-ubuntu-trusty-64:~/criu$ sudo criu check`
`Warn  (criu/kerndat.c:792): Can't load /run/criu.kdat
Error (criu/sockets.c:136): Diag module missing (-2)
Error (criu/sockets.c:136): Diag module missing (-2)
Error (criu/sockets.c:136): Diag module missing (-2)
Warn  (criu/net.c:2770): Unable to get socket network namespace
Warn  (criu/net.c:2770): Unable to

[2018-05-28 22:04] rst0git commented on #492
Hi @farooqte96,
Would you be able to attach a log file with more information about the failure?
also what is you kernel version, linux distribution?

[2018-05-28 22:33] rst0git commented on #496
Hi @rowshan
Try to install the `linux-image-extra` package for your kernel version

     apt-get install -y linux-image-extra-`uname -r`

[2018-05-29 07:59] rowshan commented on #496
Hi @rst0git
I tired to install it but still the  same error.
`vagrant@vagrant-ubuntu-trusty-64:~/criu$ sudo apt-get install -y linux-image-extra-`uname -r`
Reading package lists... Done
Building dependency tree
Reading state information... Done
linux-image-extra-3.13.0-149-generic is already the newest version.
0 upgraded, 0 newly installed, 0 to remove and 3 not upgraded.
`
`vagrant@vagrant-ubunt

[2018-05-29 08:31] rppt commented on #496
Hi @rowshan

3.13 is really old kernel. I'd suggest upgrading the kernel. You can also try using more recent Ubuntu version than trusty.

[2018-05-29 09:01] rst0git commented on #496
@rppt I agree that v3.13 is an old kernel, but according to the [Custom kernel](https://criu.org/Custom_kernel) page CRIU should work with Linux above v3.11. Do we need to update this page?

@rowshan I was able to reproduce your problem with `3.13.0-149-generic` and I can confirm that this problem does not exist in newer versions of Ubuntu (such as 16.04).

[2018-05-29 09:44] rowshan commented on #496
Hello! thanks, It was very helpful. I updated the kernel and rebooted the machine and then everything is working  properly.

[2018-05-29 09:44] #496 closed

[2018-05-29 11:39] zhouxinyu opened #497 "Couldn't handle the renamed unix socket"
JVM will generate a unix socket to communicate with operations tools which path is:

[code]

But the steps to create the socket are a little complex to avoid exposing the not fully initialized socket:

1. Create the socket `/tmp/.java_pid$pid.tmp`(which has a suffix .tmp).
2. Unlink and bind on the above path.
3. Chmod the permissions of the socket to READ+WRITE.
4. Rename the socket from `/tmp/.j

[2018-05-29 11:43] farooqte96 commented on #492
This issue went away itself and i don't know what was reason because i didn't get any errors. May be docker  had stopped working properly.

[2018-05-29 11:54] zhouxinyu commented on #478
Hi,

I used `sudo unshare -p -m --fork --mount-proc` to open a new namespace and resolved the mismatch issue, so I didn't try out the last one patch.

Thanks.

[2018-05-29 11:54] #478 closed

[2018-05-29 14:06] farooqte96 commented on #491
@rst0git Thanks for addressing this issue. Yes dumps fails due to large ghost file size. I have checked this issue was also addressed here by @xemul  (https://github.com/checkpoint-restore/criu/issues/230 ) and was adjusted in criu 3.3. But then i dont have clue to where modify it from docker. Do you have any idea or suggestion about this?

[2018-05-29 14:58] adrianreber commented on #491
Unfortunately there seems to be no way to change ghost_limit from runc. As far as I see it, it is never changed. Recompiling runc and changing the default value could work, but also changing CRIU to ignore ghost limit via RPC is an option.

[2018-05-29 22:09] avagin commented on #497
Cc: @cyrillos

There is the SIOCUNIXFILE ioctl, which will be useful to fix this issue
https://github.com/torvalds/linux/commit/ba94f3088b792b16ea576a256a6030feddc87f24

[2018-05-29 22:12] farooqte96 commented on #491
@avagin Are you talking about checkpoint errors or restore?? because now checkpointing is done fine but issue comes while restoring from checkpointed files. If you know any fix for this, kindly suggest. Thanks

[2018-05-30 01:55] zhouxinyu commented on #497
Thanks, do we have a workaround solution on criu layer before upgrading the kernel?

[2018-05-30 09:29] adrianreber commented on #491
@farooqte96 The errors you are now seeing during restore are because of differences in the file system. CRIU only checkpoints the process state in memory. In your log file it says that the files are different sizes or do not exist. This means that the changes in the filesystem have to be synced before you restore the container. So just as you do a checkpoint of the process with CRIU and transfer t

[2018-05-30 22:49] avagin commented on #497
We can scan a file system and compare file inode numbers.

It is not enough to update the kernel, we need to change criu to support this case.

[2018-05-31 11:30] adrianreber commented on #491
The nginx binary in the destination container is different and therefore the restore fails. You have to make sure that the content of the filesystem is the same.

```(00.329986) 1: Error (criu/files-reg.c:1673): File usr/sbin/nginx has bad size 1296472 (expect 1262672)```

CRIU does only a simple check by comparing the size of the binaries. But if the size is different the binary is different (ngi

[2018-05-31 11:53] farooqte96 commented on #491
Thanks alot @adrianreber for instant reply. Now this issue is gone. I will now how to fix previous issue in relevance to your previous reply.

[2018-05-31 13:56] #492 closed

[2018-06-01 01:41] zhouxinyu commented on #497
Got it, thanks.

[2018-06-01 15:16] bethven opened #498 "Uncoordinated Checkpoints"
Hi,
I would like to know if with Criu you can run Uncoordinated Checkpoints with MPI applications.
I need to do this and I do not know with what I can do it.
Thank you very much.

[2018-06-01 15:21] adrianreber commented on #498
@bethven To better understand what you are trying to do it would be good to have more information.

Which MPI implementation are you using and maybe some additional information about your setup.

As far as I know, there is no special feature necessary to do uncoordinated checkpoints, coordinated checkpoints in an MPI environment are the difficult thing.

[2018-06-01 15:47] bethven commented on #498
Thank you very much for your quick response, I need to make a Uncoordinated checkpoint to an MPI application, could be to any of the NAS applications, I am using MPICH, I have already used the DMTCP to do coordinated checkpoints, but I do not know what I should use to do Uncoordinated Checkpoint.
There is some library to do it? or I have to schedule a script for this? I thank you very much to indi

[2018-06-01 15:55] adrianreber commented on #498
Some years ago I worked on integrating CRIU into Open MPI and with Open MPI it was necessary to actually change the source code of Open MPI to get it working.

I have no knowledge about MPICH but I am pretty sure you cannot just remove DMTCP and use CRIU for checkpointing. This first requires to integrate CRIU into MPICH before you can continue. At least that is what I believe.

[2018-06-01 16:19] bethven commented on #498
ok, thanks and with OpenMPI can I use Criu and do an uncoordinated checkpoint? Excuse my questions is that I am learning about this topic and what I need to do for my thesis

[2018-06-01 16:41] adrianreber commented on #498
No, that code was removed many years ago and has not been maintained. You need to take the code base of one of the MPIs and integrate the CRIU support yourself.

Or you can reach out to the DMTCP community to see if they support what you need.

[2018-06-02 02:00] phenix317 commented on #389
Hello guys,
Actually we are trying to run some tests on applications that contain the same kind of protocol (‘SCTP’) is there any official patch in the user space @sandylss ?

BR,

[2018-06-02 11:57] planetA commented on #496
I also have an error:

I have a self compiled 4.16.13 kernel.

I have "CONFIG_CHECKPOINT_RESTORE=y", but seemingly it is not enough.

Would else do I need to enable in the kernel to get criu support and what linux-image-extra is expected to do?

[2018-06-02 12:18] rst0git commented on #496
Hi @planetA

The message `Error (criu/sockets.c:136): Diag module missing (-2)` indicates that diag modules are missing (see commit 4857d0c ).

Try to enable the sock-diag options from https://criu.org/Linux_kernel

[2018-06-03 00:02] planetA commented on #496
@rst0git Problem with diag went away, but /run/criu.kdat is still missing:

I have all necessary flags now set. And I cannot find what exactly creates this file.

[2018-06-03 01:38] amazingvoice commented on #211
@xemul Hi! I'm recently doing some research about live-migrating established TCP connections and find this is exactly the situation I'm confronted with: "changing the IP address is not possible not due to CRIU constraints, but due to how TCP protocol works". Could you help explain in detail what properties of TCP protocol prevent changing the IP address during migration? Thanks!

[2018-06-03 13:42] ehmm opened #499 "Restore failing in pie/restorer.c set capabilities"
Hello,
I'm trying to use criu (version 3.6  -- but tried new versions to) with lxc 3.0 to restore an image of Ubuntu 14.04 and keep getting the following error on restore:

[code]
crit decoding of core-1.img has the following section regarding the caps:
[code]

I'm trying to find a way of debugging this but am having a hard time understanding why this is happening.
Running on Kernel 4.13.0 Ubuntu

[2018-06-03 13:54] rst0git commented on #496
Hi @planetA

The `/run/criu.kdat` is a temporary file used to cache collected kerndat. (For more info see commit 07a0066 or the wiki page https://criu.org/Kerndat).

You need to run criu as root to be able to read/write to this file. It has the following permissions:
[code]

Would you be able to add `CONFIG_TUN` to the wiki page?

[2018-06-03 14:27] planetA commented on #496
@rst0git I would need to request an account for that

[2018-06-03 15:18] rst0git commented on #496
No problem, I added it.
@planetA feel free to request an account for the wiki and update the documentation when needed.

[2018-06-03 16:36] rst0git commented on #499
Hi @ehmm,
Would you be attach `dump.log` file?

[2018-06-03 16:54] ehmm commented on #499
[dump_.log](https://github.com/checkpoint-restore/criu/files/2066163/dump_.log)
Attached

[2018-06-03 20:35] rst0git commented on #499
The dump log seems OK. Would you be able to attach `restore.log`?

[2018-06-03 21:30] ehmm commented on #499
[restore_.log](https://github.com/checkpoint-restore/criu/files/2066376/restore_.log)
attached

[2018-06-04 13:15] rst0git commented on #499
The restore fails with this error:
[code]
It occurs because the [sys_capset()](https://github.com/checkpoint-restore/criu/blob/a70b1c797bf237f19c9e05c5078b8a822b60b417/criu/pie/restorer.c#L271) call returns -1 (`-EPERM`).
I tracked down the error to [this](https://github.com/torvalds/linux/blob/ead751507de86d90fa250431e9990a8b881f713c/kernel/capability.c#L241) condition:
[code]
@avagin Do you have

[2018-06-05 03:49] phenix317 commented on #319
Hello guys,
Actually we are trying to run some tests on applications that contain the same kind of protocol (‘SCTP’) is there any official patch to use the SCTP @sandylss ?

BR,

[2018-06-05 06:16] farooqte96 opened #500 "CRIU Restore unsupported mount Error"
Hi I am having criu restore issue on just one machine which is a vm from azure. Docker restore fails by pointing error of unsupported mount fs. It fails to mount  on /tmp/.criu.mntns with filesystem none. The log file of restore is as follows and mount information is also attached. Can you tell how to rectify this issue.

Logs:

(00.165894)      1: mnt: Start with 0:/tmp/.criu.mntns.xTfNSu
(00.165

[2018-06-05 06:31] farooqte96 opened #501 "Video Streaming & TCP Connection Restore"
Is it possible with criu to checkpoint a streaming video and then restore it on other host from same point we checkpointed earlier. In addition, on CRIU main page it is mentioned that we can  C/R  active TCP connections. Does anybody have suggestion or working example for C&R any video file. Thanks

[2018-06-05 06:37] adrianreber commented on #501
Not sure if you are talking about client or server side. What I did, some years ago, was to use nginx with the rtmp-module to migrate a server streaming a video. That worked without problems.

[2018-06-05 06:51] farooqte96 commented on #501
@adrianreber  It doesn't matter whether its server side or client. I just need to checkpoint and restore some video streaming container. At present, i have successfully restored simple nginx server, so if i need to do the same which you did earlier do i just need to build some custom image for that including some video file or it involves some other steps as well. Thanks

[2018-06-05 06:55] adrianreber commented on #501
I was not using containers at the time I did it, but I had to install nginx-rtmp-module for the actual streaming. So that nginx module plus a video file could be enough to get what you want.

[2018-06-05 09:47] adrianreber opened #502 "Test failures on CentOS kernel"
Following tests are failing on CentOS for me with 3.9:

[code]

Is this an error in the test cases, in the kernel or in CRIU? The restore actually works, but the test cases are then failing because the locks/leases are wrong.

[code]

[2018-06-05 10:21] ehmm commented on #500
I had the same issue with lxc containers, not sure if you are experiencing the same thing. Notice that the mounts that fails is a bind mount for a file.

crit decode the mountpoints-*.img files in the criu directory and look for the lines:
[code]
(They are not together each one by itself) -- if they exist then you will notice there is a slash at the end of the path. Remove it and encode the file a

[2018-06-05 11:52] ehmm commented on #482
@avagin I patched my LXC to allow using `--cgroup-root memory:/nested/nested/lxc/e007f72c-4c88-11e8-ab0e-42010a3c0194` as you said, now the checkpointing works, before closing the issue I'm having issues with the restore #499 -- they seem unrelated but just want to make sure before closing.

[2018-06-05 13:08] farooqte96 commented on #500
Thanks for addressing this issue. I have attached cgroup.json file. Can you check whats wrong with it.

[cgroup.tar.gz](https://github.com/checkpoint-restore/criu/files/2072445/cgroup.tar.gz)

[2018-06-05 13:35] ehmm commented on #500
I need the mountpoints json not the cgroups one please

[2018-06-05 13:38] 0x7f454c46 commented on #496
I think, CONFIG_TUN is optional and criu should work without it.
We have kerndat, which fails if there is no tun device..
Something like this should fix it in criu:
[code]

[2018-06-05 13:51] 0x7f454c46 commented on #499
+Cc: @cyrillos

[2018-06-05 13:56] farooqte96 commented on #500
@ehmm kindly now check in my edited comment.

[2018-06-05 14:07] cyrillos commented on #499
We definitely setup `pid = 0` in header. Maybe worth to make strace output for restore procedure?

[2018-06-05 14:15] cyrillos commented on #499
Actually I think the problem not in the chunk @rst0git pointed, but rather
[code]
either due to LSM politics or something similar.

[2018-06-05 15:42] planetA commented on #496
@0x7f454c46 CONFIG_IP_NF_IPTABLES also may be useful. I needed it to restore an application using network.

[2018-06-05 15:49] ehmm commented on #499
I agree wit @cyrillos , also I seem to have found the difference between my working versions and my broken ones.
My host for running/building lxc/criu is a cloud Ubuntu 18.04 machine, it seems that the working one is a slightly older Ubuntu 18.04 image with small differences in glibc/gcc. Could this be relevant?
I have the exact differences but this does seem to be quite strange

[2018-06-05 16:59] cyrillos commented on #499
Is there a chance to disable selinux/apparmor/lsm or whatever on the machine you're testing?

[2018-06-06 15:37] zhouxinyu opened #503 "Fail fast if criu can't dump some reg file"
I found one line log when dumping my process:

[code]

criu can't dump this reg file and then return `-1` to [here](https://github.com/checkpoint-restore/criu/blob/master/criu/files.c#L621):

![image](https://user-images.githubusercontent.com/3961183/41048449-4a19353c-69e1-11e8-9f8f-7d1b7f7d99ab.png)

Then, the break happens and the rest reg files skipped, but not go to error block.

In the next i

[2018-06-06 15:49] zhouxinyu opened #504 "Consider treat pts fd in a tolerant way"
Hi,

In some early docker versions, the pts fds are opened in the host os when entering the container with the command `docker exec -it $id bash`, so the fd 0/1/2 of the started process are pointed to the host mount namespace.

![image](https://user-images.githubusercontent.com/3961183/41049517-b1491efa-69e3-11e8-83ed-b6f86b36cf07.png)

So criu dump the reg file /dev/pts/12 will find the mnt_id is

[2018-06-06 16:07] 0x7f454c46 commented on #503
Have your dump actually succeeded after `dump_one_file()` failure?

It looks like the outer loop's condition checks for `ret == 0`:
[code]
So, the function should return error.

[2018-06-06 21:17] avagin commented on #500
Where did you dump this container?

[2018-06-06 21:20] avagin commented on #500
What is a linux destribution installed in the azure VM?

[2018-06-06 21:53] farooqte96 commented on #500
It's Ubuntu 17.10( 4.15 generic) but this issue also came when checked  on Ubuntu 16.

[2018-06-06 23:00] avagin commented on #500
Could you show output for uname -a from this azure VM?

[2018-06-07 01:30] avagin commented on #504
In such cases, the master point of this pty is outside a container too. What behavior would you expect in this case?

[2018-06-07 01:36] avagin commented on #502
Could you run one test with --sbs options and show fdinfo for all test descriptors before and after C/R?
./tests/zdtm.py run -t zdtm/static/file_lease00 --sbs

[2018-06-07 02:18] zhouxinyu commented on #504
Hi @avagin , thanks for your reply, is it a good solution that we don't compare the mnt_id if the dumped fd pointed to a pty?

[2018-06-07 05:28] farooqte96 commented on #500
Yes :+1: this has helped and now that error is gone but still restore is going to failed due to  error at criu/pie/restorer.c:666): wrong aio.

(00.489045) pie: 6: vdso: Runtime vdso mismatches dumpee, generate proxy
(00.489049) pie: 6: vdso: jmp: 0x7fff41179000/0xa30 -> 0x2c000/0xa30 (index 0)
(00.489056) pie: 6: vdso: jmp: 0x7fff41179000/0xf40 -> 0x2c000/0xf30 (index 1)
(00.489060) pie: 6: vdso:

[2018-06-07 08:20] adrianreber commented on #502
Oh, I was not aware of the ```--sbs``` option. That is a good one.

Before dump:
[code]

After restore:

[code]

[2018-06-07 12:12] rowshan commented on #490
Same problem for me too. I have docker version Docker version 18.05.0-ce,

[2018-06-07 12:53] farooqte96 commented on #490
@rowshan  You can check Docker EE version. This issue doesn't come on that version.

[2018-06-07 14:21] criutest opened #505 "Unable to dump program which uses unix domain socket"
1. Problem
all programs which use unix domain socket fails to make dump even though parameters were added according to guide
  - command : criu dump --tree 30610 -v4 -o dump.log --tcp-established --shell-job --ext-unix-sk
  - error : (00.403026) Error (criu/sk-unix.c:801): sk unix: Can't dump half of stream unix connection.
[dump.log](https://github.com/checkpoint-restore/criu/files/2080777/dump.l

[2018-06-07 16:43] avagin commented on #502
I don't see locks in fdinfo.
$ ./criu/criu check --feature fdinfo_lock

[2018-06-07 16:59] adrianreber commented on #502
# criu check --feature fdinfo_lock
fdinfo_lock is supported

Maybe that was not correctly backported to the CentOS kernel.

[2018-06-07 18:22] avagin commented on #502
Here is an example how fdinfo looks for the upstream kernel:
[code]

Here you can see information about locks:
[code]

[2018-06-09 18:29] farooqte96 commented on #500
@avagin  can you further tell whats the issue now that restore is still going failed. Thanks

[2018-06-11 14:55] adrianreber commented on #502
@avagin Thanks for your help. The patch for the "lock:" line was not working as supposed to. Understood and fixable on my side.

[2018-06-11 14:55] #502 closed

[2018-06-12 06:42] avagin commented on #500
@tkhai Kirill, maybe you will understand what is going one here.

[2018-06-12 07:56] rst0git commented on #500
If I understand correctly, CRIU is trying to restore asynchronous I/O and it fails because the newly created aio_context (`new_nr`) has different number of io_events from the expected (`old_nr`).

[2018-06-12 14:20] zhouxinyu opened #506 "Pass options from docker cli to criu"
Hi,

I am testing the docker checkpoint/restore feature based on `Docker version 17.03.1-ce`, I need pass some options from docker cli to criu, like `--tcp-close` when restore the docker, any solutions?

[2018-06-12 14:40] adrianreber commented on #506
Currently no solution. We recently continued the discussion how to handle configuration files for the RPC case: https://lists.openvz.org/pipermail/criu/2018-May/041211.html

As docker is using runc and runc is using CRIU via RPC, that would be the solution for you. I just need to find the time to rewrite the patches.

[2018-06-12 18:32] 0x7f454c46 commented on #399
Patch is in v3.7, maybe the issue is good to close:
https://github.com/checkpoint-restore/criu/commit/6ea74dda5808
(the commit misses Fixed tag, so not auto-closed)

[2018-06-12 19:01] #399 closed

[2018-06-12 19:03] avagin commented on #500
@rst0git, the question here is what we can do with this.

[2018-06-12 20:56] avagin commented on #501
https://asciinema.org/a/15833

[2018-06-12 21:07] avagin commented on #501
A tcp connection can be migrated to another host only if you move an ip address from the source to the destination host. Usually, people use containers to avoid this sort of issues.

[2018-06-12 21:15] avagin commented on #504
@zhouxinyu First, each pty is slave and master points.  So pty can be dumped only if both its points belong to dumped processes, otherwise, it has to be dumped as external resources (https://criu.org/External_resources).

Second, if we will not compare the mnt_id, it isn't clear where we will create this pty on restore.

I think in your case a pty has to be dumped as an external resource. For exam

[2018-06-12 22:16] tswift242 commented on #167
@crosbymichael @dmcgowan This is an important piece to support certain use cases, such as cloning certain apps. This pain point still exists with the latest docker c/r support (and the latest containerd c/r support based on our talk).

[2018-06-13 02:18] zhouxinyu commented on #506
Thanks @adrianreber , I inserted the options in `cr_service.c#restore_using_req` method as a workaround solution, looking forward to your official solution~

[2018-06-13 02:40] oubotong opened #507 "CRIU version check failed"
Using `docker checkpoint` leads to errors (in the development environment).

Here is my docker version:
[code]
Here is the error message:
[code]
Should I update the docker client version?

[2018-06-13 05:20] adityacloud1 opened #508 "error: snapshot dump failed"
To start live migration using LXD in docker my experimental setup is as follows:

Physical machine OS: Ubuntu 16.04
Docker version 17.06.0-ce, build 02c1d87
lxc --version 2.0.11
lxd --version 2.0.11
criu --version Version: 2.6

After successful installation of container named 'c1' i run the following command to save the current states of the container to disk:

sudo lxc snapshot c1 checkpoint-2 --

[2018-06-13 05:36] rppt commented on #507
@Botongou what are the kernel and criu versions on your machine?

[2018-06-13 08:46] tkhai commented on #500
@avagin: Andrey, we need kernel support for this. The last time I submitted it the aio maintainer was not much interested in this. Maybe something has changed now.

[2018-06-13 08:53] rst0git commented on #508
Hi @adityacloud1

Would it be possible to upgrade CRIU to version 3.9?

[2018-06-13 09:17] rst0git commented on #504
@zhouxinyu Another example for external resource dump/restore is the LXD/LXC implementation [lxc/criu.c](https://github.com/lxc/lxc/blob/master/src/lxc/criu.c#L222). I used the same idea to dump/restore pseudo terminals for [Libvirt-LXC containers](https://github.com/rst0git/libvirt/blob/lxc-migration/src/lxc/lxc_criu.c#L125L129).

[2018-06-13 16:50] avagin commented on #500
@tkhai Are you talking about this patch https://lwn.net/Articles/725219/ ?

[2018-06-14 08:19] oubotong opened #509 "docker checkpoint failed in docker-dev environment with busybox for testing"
When I followed the instructions to build a docker-dev environment and tested the `docker checkpoint` command, an error came.

Kernel version:
`Linux 4.13.0-36-generic`

Here is the `docker version` in the docker-dev environment:
[code]
And the `docker info`:
[code]
The `criu --version`:
[code]
And finally is the **criu-dump.log** file (/var/run/docker/containerd/daemon/io.containerd.runtime.v1.li

[2018-06-14 08:30] tkhai commented on #500
@avagin, this patch is for other purpose. Hm, it seems I was going to send resize patch after the wait interface is accepted, but this never happened.

[2018-06-14 13:42] rowshan opened #510 "docker start checkpoint failed"
Any idea about the error below how to solve it , thanks in advance
`$ docker start --checkpoint  checkpoint7 reqctr2  `

`Error response from daemon: failed to retrieve OCI runtime container pid: open /run/docker/containerd/daemon/io.containerd.runtime.v1.linux/moby/be72ca2202dd37307568caff86e271ee1ab198419a58de92b7fa91bc9ba1b7d8/init.pid: no such file or directory: unknown
`

[2018-06-14 15:14] rowshan commented on #490
@farooqte96 I cannot use docker EE

[2018-06-14 23:27] avagin commented on #507
Could you run "sudo criu check" and show its output?

[2018-06-14 23:29] avagin commented on #505
Cc: @cyrillos

[2018-06-15 09:43] rst0git commented on #510
The same issue seems to be reported here as well moby/moby#35691 (not fixed yet)

[2018-06-15 13:57] cyrillos commented on #505
You seem to have to describe the peer inside process tree via `--external unix[id]` on dump and `--external unix[id]:path` on restore. Sole `--ext-unix-sk` is not enough.

[2018-06-16 05:35] adityacloud1 commented on #508
I upgrade to 3.9 and run the following commands:
 sudo lxc snapshot c1 checkpoint-2 --stateful
![snapshot dump failed](https://user-images.githubusercontent.com/40225508/41496116-2919feea-7155-11e8-9537-85569a51d1f3.png)

Now Error is as follows
error: snapshot dump failed
(01.134200) Error (criu/parasite-syscall.c:532): Unable to connect a transport socket: Permission denied
(01.134218) Error (cr

[2018-06-16 10:10] Botongou commented on #509
Is there any advice for me? really urgent

[2018-06-16 13:51] yufeixiong opened #511 "Does criu work well with ubuntu 18.04?"
CRIU doesn't work well with ubuntu 18.04.
It cannot restore  well.

signal 11 (SEGV) was caught by top, please
see http://www.debian.org/Bugs/Reporting

[2018-06-17 12:37] adrianreber commented on #508
Can you, for testing, disable Apparmor. I think we have seen a similar error which was related to Apparmor.

[2018-06-17 12:57] adrianreber commented on #511
@yufeixiong can you provide more information? The version of CRIU, how you used it, log files, a more detailed error description.

[2018-06-18 12:44] rowshan commented on #510
@Prat041192 we need to track this issue for criu

[2018-06-18 21:51] 0x7f454c46 opened #512 "vdso: Checkpoint with %rip over vdso vma and restore afterwards"
There is a theoretical issue with restoring over changed vdso:

  At this moment we *always* drop vvar and if we find a difference in vdso on the kernel after C/R we add [vdso proxy](https://criu.org/Vdso#Calls_proxification). It did work well so far, but if we C/R with instruction pointer on vdso vma, it can lead to anything - dereferencing unmapped vvar e.g.

We should either:
1. omit Checkpoint

[2018-06-19 08:39] Botongou commented on #509
Can somebody give any suggestion plz QAQ

[2018-06-19 08:45] adrianreber commented on #509
What distribution are you using? It is not totally clear from the logs (or I just missed it).

The usual advice would be to update to the latest version of CRIU.

I have also read about a few problems with the latest version of docker. Maybe try an older docker version. But this is all just guessing on my part.

[2018-06-19 08:50] Botongou commented on #509
Thanks for your reply. I am using the Ubuntu16.04 within parallel desktop. Also, I tried directly built the source code of CRIU from GitHub manually but the error was the same as usual. Can you tell me the environment of yours?

[2018-06-19 08:53] Botongou commented on #509
The test-development-environment according to the tutorial of docker is Debian I guess. Actually, the tutorial build the environment in a container.

Tutorial: [](https://github.com/moby/moby/blob/master/docs/contributing/set-up-dev-env.md)

[2018-06-19 09:03] Botongou commented on #509
@adrianreber

[2018-06-19 09:10] adrianreber commented on #509
I am not using docker at all, so my environment (Fedora, CentOS) is probably not really important.

There is this message in the log:
```This may be connected to disabled CONFIG_NETFILTER_XT_MARK kernel build config option```

Have you verified that your kernel supports this?

[2018-06-19 09:16] Botongou commented on #509
I search the google and use the command `sysctl -a | grep disable_ipv6`. Then I found:
[code]
Should I change them to 0?

[2018-06-19 12:56] 0x7f454c46 commented on #509
You can check if your kernel has loaded the module: `lsmod | grep ip6table_filter`
If not - try to `modprobe` the module before calling CRIU. Probably, you don't have the module.

[2018-06-19 18:39] avagin opened #513 "unix: ghost: Can't save socket 0x2bd ino 146061 addr /root/git/main/criu/test/zdtm/static/sk-unix01.test/sole into fdstore"
[code]

https://github.com/avagin/criu/commit/51e3b19103f4c7f533c736aae41781d83ebbfd67

[2018-06-19 18:40] avagin commented on #513
I think we need to adjust SND and RCV buffer sizes for the fdstore socket

[2018-06-19 18:53] cyrillos commented on #513
weird, will take a look, thanks!

[2018-06-19 19:04] cyrillos commented on #513
indeed, there is no space left in the fdstore itself

[2018-06-19 19:41] vasilyrud opened #514 "iptables prevents multiple restores"
Posting this as an FYI as I could not find a related issue on this.

**The issue:**

Running `criu restore` using `--tcp-established` multiple times fails due to:

[code]

Expected behavior is that once a process has exited it can be restored again. In this case, when restoring the process the second time, an iptables rule doesn't exist and cannot be deleted, which causes the error to be thrown.

[2018-06-20 04:48] avagin commented on #514
This error isn't fatal. Iptables rules are needed to block dumped TCP connections. What is your use-case? Do you need to restore tcp connections?

[2018-06-20 08:26] farooqte96 opened #515 "CRIU Restore failed due to bad restore size"
I followed  this example (https://technology.amis.nl/2018/04/08/first-steps-with-docker-checkpoint-to-create-and-restore-snapshots-of-running-containers/) to checkpoint and restore a node application. Checkpoint and restore works when done on same host but when restore is performed on remote host , restore failed with error mentioned below as bold. I have tried to ignore this error, but  still con

[2018-06-20 08:51] adrianreber commented on #515
The problem is that the files on disk for the program which is checkpointed and restored (usr/local/bin/node) differs in size:

```(00.331573) 71: Error (criu/files-reg.c:1673): File usr/local/bin/node has bad size 35443473 (expect 37318160)```

So the file is about 2MB smaller (I think) and the executables and libraries on disk have to be the exact same files (thus same size at least). If the fil

[2018-06-20 13:53] yufeixiong commented on #511
I think it may be the new release of ubuntu.
dumping is seccessful. When restoring, I get the following message:
signal 11 (SEGV) was caught by top, please
see http://www.debian.org/Bugs/Reporting

ubuntu 18.04

[2018-06-20 14:50] farooqte96 commented on #515
@adrianreber Yes its due to binary difference but i have used the same image on destination as on source. Infact i used docker load < source_image.tar but still doesn't understand why there is difference.

[2018-06-20 15:09] adrianreber commented on #515
If docker cannot provide you with two identical filesystems then this is a docker bug (from CRIU's point of view).

You could verify the files by entering each container and do 'ls' on it and 'md5sum'. If it is different then you need to figure out why it is different. Maybe one of the image layers is different. There is nothing CRIU can do about it at this point.

[2018-06-20 16:57] farooqte96 commented on #515
I have checked source and destination containers md5sum, it is found to be same.

lab3:~$ docker exec -it reqctr2 bash
root@404864dbb038:/code# ls
app  bootstrap.sh
root@404864dbb038:/code# md5sum bootstrap.sh
**6845fc88f5c3f3178a6a30fc1787d530  bootstrap.sh**

lab4: docker start --checkpoint reqctr2 reqctr2
lab4# docker ps
CONTAINER ID        IMAGE                          COMMAND

[2018-06-20 17:51] vasilyrud commented on #514
It is fatal in the sense that the process doesn't run after calling `criu restore` for a second time.

The problem in this case is that the iptables rule is added during dump, is removed during restore but is not added back after the process finishes running, so the restore cannot be conducted again.

My use case is to test/debug the program (potentially a client/server pair with TCP connection) a

[2018-06-20 18:01] farooqte96 opened #516 "CRIU Restore Can't bind inet socket back"
Hi
I am trying to restore a 2048 service (https://gist.github.com/ondrejmo/6f7e7d0333098686c65d). It is successfully restored when i just start at source and checkpoint it without playing it. But if this game is played, then restore fails with following logs.

(00.303255)      1: Found fd 0 (id pipe:[67381]) in inherit fd list (caller inherit_fd_resolve_clash)
(00.303256)      8:     Restore: fami

[2018-06-20 18:16] avagin commented on #514
@vasilyrud I think I understand the problem. I would suggest running these processes in a container, in this case, you will not have this problem.

[2018-06-20 18:50] adrianreber commented on #516
I am guessing, but if you are playing the game a TCP connection is open and the restored container has a different IP address. Can you check the IP addresses of the dumped and the restored container?

CRIU can only restore TCP connections if the IP address is the same.

[2018-06-20 20:12] farooqte96 commented on #516
yes IP addresses were different, now get it working. One more thing to ask that  right after playing it starts from zero state on destination. I started container with this command.

 docker run -d --name 2048 -p 2048:80/tcp -v `pwd`/2048/:/usr/share/nginx/html/ nginx:latest

so this volume tag persists the data but  this is not transferring state information to destination. Therefore when i resta

[2018-06-20 20:17] adrianreber commented on #516
Not sure I understand what you are asking.

You are mounting a persistent volume in the container on the source system and not on the destination system?

[2018-06-20 21:53] farooqte96 commented on #516
Mounted same volume on both sides. After migration container starts from mounted volume from zero state instead of checkpointed state, so it shows that container start follows volume state as compared to checkpoint state.

[2018-06-21 06:54] adrianreber commented on #516
This is difficult to answer without knowing if the application stores the state in memory or on disk (mounted persistent volume).

You really need to include more details in your reports. I can only guess. But this is either a docker or a problem of the application. This is unrelated to CRIU.

If you say, 'Mounted same volume on both sides', did you sync before restarting the container. What does

[2018-06-21 07:57] farooqte96 commented on #516
Yes this is not CRIU problem now and it looks that application is storing state  though a mounted volume from a directory /2048 on docker host  to container directory /usr/share/nginx/html/

[2018-06-21 08:12] adrianreber commented on #516
But then it should be fixable by running rsync before starting the container for that directory from source to destination.

[2018-06-22 01:10] avagin commented on #505
@criutest Could you give more details what are you dumping? Looks like you are dumping a process which has a connected stream unix socket, but an owner of another side of this connection isn't dumped.

You can use lsof and ss tools to get more information about this socket.

[2018-06-24 16:41] adrianreber commented on #515
You need to look at ```usr/local/bin/node```. That is the file CRIU is complaining about.

[2018-06-24 16:43] adrianreber commented on #511
Sorry, but you still did not provide any helpful information.

Please provide kernel version and criu version and logs of dump and restore. Also the commands you used to dump and restore the process.

[2018-06-24 16:48] adrianreber commented on #516
Can this be closed? Does it work now?

[2018-06-24 16:55] farooqte96 commented on #515
This issue was gone by rebuilding the image. so going to close this. Thanks for your support

[2018-06-24 16:55] #515 closed

[2018-06-24 17:02] farooqte96 commented on #516
This didnt work for me. It has some issue with image files. I looked at those files but still game starts with persistent information from disk and i don't know where its storing that information. If you want to close the issue, you can.

[2018-06-27 06:04] adrianreber commented on #516
Closing this now. If you find a solution please let us know.

[2018-06-27 06:04] #516 closed

[2018-06-27 17:21] adrianreber commented on #498
@bethven As this has been also discussed on the CRIU mailling list I am closing it here. See discussion at https://lists.openvz.org/pipermail/criu/2018-June/041778.html.

[2018-06-27 17:21] #498 closed

[2018-06-27 17:42] adrianreber commented on #508
I am closing this as it seems to be a duplicate of #439

[2018-06-27 17:42] #508 closed

[2018-06-27 17:42] adrianreber commented on #484
I am closing this as it seems to be a duplicate of #439

[2018-06-27 21:36] avagin commented on #511
What docker version do you use? C/R in Docker CE 18.05 is broken.
https://github.com/containerd/containerd/pull/2425

[2018-06-27 21:42] avagin commented on #510
Here is nothing wrong with CRIU. Docker was moved on to a new version of containerd and forgot to pass --empty-ns network to runc.
https://github.com/containerd/containerd/pull/2425

[2018-06-27 23:06] avagin commented on #490
It's duplicate of moby/moby#35691. It will be fixed soon.

[2018-06-27 23:06] #490 closed

[2018-06-27 23:11] avagin commented on #390
The patch is in master (d50f0e90fad3200710d0932af39586002a5526b4).

Please reopen this issue if the issue will be reproduced again.

[2018-06-27 23:16] #390 closed

[2018-06-28 04:13] adityacloud1 commented on #508
Thanks everyone for yours comments.

[2018-06-28 11:41] farooqte96 opened #518 "Docker checkpoint size Limitation ?"
In previous issue(https://github.com/checkpoint-restore/criu/issues/491), we discussed that criu cannot checkpoint a container with large image size (around 670MB and checkpoint size greater than 4MB) but today i have checkpointed containers with  large image size (beyond 1GB with  checkpoited image file around 500MB)without making any modifications to original criu files .

Can anybody tell me wh

[2018-06-28 12:39] 0x7f454c46 commented on #518
As far as I glanced, in #491 you discussed limit for ghost files.
https://criu.org/Invisible_files

[2018-06-28 13:15] farooqte96 commented on #518
@0x7f454c46 yes i get ghost-file size limit increaed error in that case. But now i dont get these errors. I want to know what was the reason of that error because someone mentioned before that criu follows 4mb deafult limit for checkpoint but now i find that claim is not correct.

[2018-06-29 09:42] Prat041192 commented on #510
@avagin Currently we do have any solution to this problem. Right?
Is there any work around that can be tried?

[2018-06-29 18:04] avagin commented on #510
@Prat041192 I can try to build packages with all required fixes. Will it work for you?

[2018-06-29 18:41] psinha01 opened #519 "Checkpointing lxc container failed (do_dump: 1192 dump signaled with 11)"
* Distribution: Ubuntu (Artful)
 * Distribution version: 17.10
  * The output of
     * `criu --version`
Version: 3.5
GitID: v3.5-95-g62cc04df
     * `lxc-start --version`
2.1.0
     * `uname -a`
Linux o19 4.13.0-21-generic #24-Ubuntu SMP Mon Dec 18 17:29:16 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

I am trying to checkpoint/restore an lxc container. I am following the steps given on CRIU's [websit

[2018-06-29 19:14] 0x7f454c46 commented on #519
It looks more like lxc fail: `segfault in liblxc.so`
But I'm not sure about the reason.
Probably worth debugging.

[2018-06-29 20:46] avagin commented on #519
Cc: @brauner

[2018-06-29 20:56] avagin commented on #518
This limit is only for ghost files:
https://criu.org/Invisible_files

Usually, the major part of a checkpoint size is a memory content, but criu can dump or migrate memory iteratively without stopping processes. Ghost files can be dumped only when processes are frozen, so there is this limit, which helps us to control a process downtime.

[2018-06-30 17:35] adrianreber commented on #519
Closing. Thanks @brauner

[2018-06-30 17:35] #519 closed

[2018-06-30 17:46] adrianreber commented on #518
@farooqte96: I am closing this as I would say that your questions are answered: ghost files size limit is something different than the memory size of a process to dump.

Just as an additional data point: I have dumped processes which were using 64GB without problems.

[2018-06-30 17:46] #518 closed

[2018-06-30 17:53] adrianreber commented on #415
Closing as it is fixed in criu-dev

[2018-06-30 17:53] #415 closed

[2018-06-30 17:53] adrianreber commented on #506
Also see #278

[2018-06-30 18:42] psinha01 commented on #519
Thank you everyone.

[2018-07-02 09:42] Prat041192 commented on #510
That would be great, if possible. @avagin. Thanks in advance.

[2018-07-03 15:11] adrianreber opened #520 "Regression since release 3.8"
Starting with release 3.8 I see errors in runc using CRIU with read-only root.

(00.098979) mnt: 	217: 3a:/ @ ./sys/fs/cgroup
(00.098981) mnt: Mount is not fully visible ./sys/fs/cgroup
(00.099005) mnt: 	mount has children ./sys/fs/cgroup
(00.099022) Error (criu/mount.c:1095): mnt: Can't create a temporary directory: Read-only file system
(00.099042) Error (criu/mount.c:1545): mnt: Unable to dump

[2018-07-03 20:40] avagin commented on #520
@adrianreber Could you bisect a commit where it was broken?

[2018-07-03 21:44] stevepp opened #521 "Is it possible migrate an application inside a container to another container?"
Hi everyone,
I know about how to do live migration of a LXC and docker container using CRIU.  However, is it possible to migrate a single application from a LXC container to another one. I just want to migrate a process instead of the entire container.

I start with installing CRIU into each container. However, the CRIU compilation from source failed. Also, the CRIU version installed directly from

[2018-07-04 05:42] adrianreber commented on #520
git bisect tells me

b6cfb1ce29485186de32ff5a30a56b471d5cb884 is the first bad commit

[code]

[2018-07-04 05:46] adrianreber commented on #520
I am using runc's test suite to trigger this error:

bats -t tests/integration/checkpoint.bats

This is, as always with my tests, on the CentOS/RHEL kernel. So there might also be something related to that kernel.

[2018-07-04 05:58] adrianreber commented on #521
I would say this could work. I have not tried it myself, but it could work.

What kernel are you using? What is running inside the container? Which CRIU version is in the container? How does it fail?

[2018-07-04 14:45] stevepp commented on #521
@adrianreber
I managed to compile criu from source code. My host OS is Ubuntu 16.04 with kernel version 4.8.0-36. I use LXC to create a container running Ubuntu 16.04. Nothing essential runs insides the container for now.

After cloning criu source from its git repository and compiling it, I tried to check whether it works. However, everything fails with the following message. When running "sudo c

[2018-07-04 14:59] adrianreber commented on #521
Is your container running unprivileged? Not sure if CRIU can run in such a container.

[2018-07-04 15:04] stevepp commented on #521
I am using privileged container actually.

[2018-07-04 15:08] brauner commented on #521
Is this with LXC or LXD?

[2018-07-04 15:09] stevepp commented on #521
Hi, this is with LXC. I am wondering if this is caused by the default security profiles configured by LXC.

[2018-07-04 15:12] adrianreber commented on #521
Could you run 'criu check -v4'?

[2018-07-04 15:16] stevepp commented on #521
Running 'criu check -v4' gives exactly the same output.

[2018-07-04 16:12] stevepp commented on #521
I disabled the LXC security mechanisms such as apparmor and the error still exists. Besides, I found that my container does not have this file "/run/criu.kdat"

[2018-07-04 16:14] brauner commented on #521
Can you set `lxc.cap.drop =` in the container's config.

[2018-07-04 16:16] adrianreber commented on #521
/run/criu.kdat is created after the first successful CRIU run

[2018-07-04 16:21] stevepp commented on #521
@brauner Just restarting the container will set the new capability configuration? No need to re-create the container?

[2018-07-05 03:46] zhouxinyu commented on #394
Hi @avagin I have the same issue, What are the detail jobs about setup-namespaces? where can I find the script?

[2018-07-05 10:50] adrianreber commented on #507
@Botongou What @avagin said: Could you run "sudo criu check" and show its output?

I see the same error if I run a CRIU version linked against a newer glibc on the wrong system.

[2018-07-05 15:40] stevepp commented on #521
Instead of compiling from source, I tried to install CRIU into the LXC container directly from the Ubuntu software repository. After running "sudo criu check", I got the following error output:

Error (criu/cr-check.c:141): sys/kernel/ns_last_pid sysctl is inaccessible: Read-only file system
Does not look good.

It is complaining the file system is read only.

[2018-07-05 15:50] adrianreber commented on #521
So this is probably one of LXC security features to make things in /proc read-only.

Before guessing more let's ask @avagin: Can this actually work? Using CRIU in a container?

[2018-07-05 15:52] brauner commented on #521
So we usually mounts parts of `/proc` read-only for security reasons. In an unprivileged container you can safely set `lxc.mount.auto = proc:rw` but a privileged container should set at least `proc:mixed`.

[2018-07-06 09:25] yufeixiong opened #522 "page-server problem"
I run command` ./criu page-server -D d/ps/ -o ps.log -v4 --port 1234` on dest, and command `criu dump -t <pid> -D d/dump/ -o dmp.log --page-server --address dest_ip --port 1234 --shell-job` on src.
I merge the checkpoint files. however, it only works on src, failed on dest.Why?
linux : ubuntu 18.04
criu : 3.9
here follows the rst.log on dest:
(00.000060) Version: 3.9 (gitid v3.9)
(00.000085) Runni

[2018-07-06 09:37] #522 closed

[2018-07-06 16:15] stevepp commented on #521
Thanks. I set the mount options in the container config file. Now "criu check" says "Looks good". However, the criu dump of a simple process still failed. Here is the log of running "criu dump". Any idea what may cause the problem here?

(00.000057) Probing sock diag modules
(00.000135) Done probing
(00.000445) Error (criu/util.c:652): exec failed: No such file or directory
(00.003153) Error (criu

[2018-07-08 04:15] avagin commented on #521
Could you run "cat /proc/self//status" in a container and show output?

[2018-07-09 18:02] avagin opened #524 "make: No rule to make target '/usr/incl', needed by 'compel/arch/x86/src/lib/infect.o'"
[code]
https://ci.openvz.org/job/CRIU/job/CRIU-freezer/job/criu-dev/4063/console

[2018-07-09 18:03] avagin commented on #524
[code]

[2018-07-09 18:03] avagin commented on #524
Cc: @0x7f454c46 @cyrillos

[2018-07-09 18:17] avagin commented on #394
@zhouxinyu You need to find what Prestart hooks are set by Docker for a container:
https://github.com/opencontainers/runc/blob/master/libcontainer/container_linux.go#L1475

[2018-07-09 20:22] stevepp commented on #521
Turns out it is caused by seccomp. As a workaround I disabled seccomp and now it can checkpoint/restore simple shell jobs. I will test other more realistic server applications to see whether it still works.

[2018-07-10 08:47] iprimo commented on #510
Hi @avagin, Thanks for all your effort to resolve the Docker related issue. I appreciate if you could share that package with me too. Many thanks in advance.

[2018-07-10 16:02] Prat041192 commented on #510
Hey @avagin, Is the package you were talking about ready?

[2018-07-11 06:28] avagin commented on #520
I think we need something like this https://github.com/avagin/criu/commit/b264318361d11cd90b0ee95c987c69128a852fa3

[2018-07-11 07:48] Snorch commented on #520
I don't think so.

First, change in open_mountpoint actually does not change anything AFAICS, as if "!mnt_is_overmounted(pm)" is true we just get clean fd or go to err and "if (fd < 0) {" is never entered, if "!mnt_is_overmounted(pm)" is false then "if (fd < 0) {" check is always entered, we had the same with just "else".

Second, ns_open_mountpoint should return clean mount, nothing protects us f

[2018-07-11 09:12] Snorch commented on #520
Ok, I see what you mean, when last process exits mount ns all mounts in it are destroyed so if we have opened mount in it the mount will be cleaned. But isn't that racy? What if we will still have mounts when using these "nscleaned" mount?

[2018-07-11 09:40] Snorch commented on #520
It is not, when last process exits mntns via setns we have:
SyS_setns->switch_task_namespaces->free_nsproxy->put_mnt_ns->umount_tree->drop_collected_mounts->umount_tree:

        /* Hide the mounts from mnt_mounts */
        list_for_each_entry(p, &tmp_list, mnt_list) {
                list_del_init(&p->mnt_child);
        }

That means mount loses children as at the same time we return back to ri

[2018-07-12 12:17] #511 closed

[2018-07-16 18:33] tswift242 opened #526 "python-ipaddress address required for CRIT as of version 3.10"
After upgrading from 3.9 to 3.10, CRIT complained about being unable to import ipaddress. Installing the python-ipaddress package fixed the issue. I then looked at the installation wiki and I saw that python-ipaddress is listed as required for zdtm.py, which I believe is the test suite. The wiki should probably be updated, as this package seems to be generally required to use CRIT now.

It would p

[2018-07-16 18:55] adrianreber commented on #526
For 3.10 we started to support python2 and python3 and python2-ipaddr, which is listed as dependency for, does not exist for python3. But python2-ipaddress is a module that exists for python2 and also part of python3 without requiring additional modules.

I have updated the wiki to mention python-ipaddress for CRIT: https://criu.org/Installation

Pinging @xemul to update the release notes.

[2018-07-16 19:31] rst0git commented on #526
:+1: Looks good to me

[2018-07-16 20:16] Oussalvatore commented on #321
Hi, @xemul

We are working on this functionality right now, we were able to successfully dump and restore an SCTP socket in the listening state, now I want to add support for the established state using TCP_REPAIR like mechanism  (SCTP_REPAIR), This why we need some help in that direction (for example which kernel files need to be updated ??)

Thank you in advance.

[2018-07-17 06:34] xemul commented on #321
@Oussalvatore , that's good news! For any help that you'd need -- feel free to write either here or to criu@ ml or to me directly.

As far as the kernel is concerned -- please, grab the net-next tree (https://git.kernel.org/pub/scm/linux/kernel/git/davem/net-next.git) and make the patches over it. Then you'll need to negotiate them on the netdev@ mailing list.

[2018-07-17 08:57] Oussalvatore commented on #321
Thank you @xemul , it would be very helpful if you can share the patch file of TCP connection repair with me :).

[2018-07-17 16:04] adrianreber commented on #526
I updated the release page for 3.10

[2018-07-17 16:04] #526 closed

[2018-07-18 09:29] fransjp84 opened #527 "criu dump failed for /dev/fb0"
Hello I'm trying to use criu on my custom embedded (arm) project.
I'm able to dump and restore simple loop example and now I'm trying to dump my real example and I got failed with following error:

when I check the process map, this is what I got:

`
86aaa000-86ab4000 rw-s 86aaa000 fe:01 1691       /dev/fb/0
`

`
86ab4000-8a67f000 rw-s 86ab4000 fe:01 1691       /dev/fb/0
`
Could you help me on thi

[2018-07-18 13:35] fransjp84 commented on #527
Hello, Thanks for the reply, I dont exactly know the detail but I believe it is frame buffer where our SoC uses it to draw things to screen / or maybe it is SoC GPU device.

Based on the info you provided to me, does it means all UI based application that uses gpu to draw cant be dumped?

Thanks a lot

[2018-07-18 13:41] adrianreber commented on #527
It is not possible to dump applications using the GPU, as CRIU does not know how to extract the state of the GPU, which CRIU needs for the restore. If your application is writing to a VNC session it is possible (https://criu.org/VNC). CRIU also offers the possibility to write plugins: https://criu.org/Plugins

So if you know how to get the state of the GPU dumped you could solve your problem with

[2018-07-18 14:00] fransjp84 commented on #527
okay then, Thanks a lot for your help and info

[2018-07-18 14:00] #527 closed

[2018-07-18 16:46] bethven opened #528 "fatal: it is not a git repository (or no parent at the mounted point/)"
Hello,
I'm trying to install CRIU, but when I type "make" I get the following error:

fatal: it is not a git repository (or no parent at the mounted point /)
Stopping at the file system boundary (GIT_DISCOVERY_ACROSS_FILESYSTEM not established)

Should I install another program?
I installed "protobuf" but I still have the same error.

Thank you very much.
Regards,
Beth

[2018-07-18 16:55] adrianreber commented on #528
I also get the first message if building from the tarball:

[code]

It sounds fatal, but it is harmless. CRIU is looking for git to see if it is a development build or not.

I never saw ```Stopping at filesystem boundary (GIT_DISCOVERY_ACROSS_FILESYSTEM not set).```, but mounting a tmpfs and extracting CRIU at the top of the tmpfs I get the same error.

The build still continues. Are there any mor

[2018-07-18 17:36] adrianreber commented on #528
You are missing many CRIU requirements. Please have a look at: https://criu.org/Installation

[2018-07-18 20:01] boudr opened #529 "Unable to create checkpoint"
Hello, there!

I am attempting the basic looper example and the checkpoint failed with:
[code]

Here is my assumption of the problem:
[code]

I found an issue here that matched this exact issue with the Ubuntu console: https://github.com/checkpoint-restore/criu/issues/371

[code]

I am not sure where to go from here in the troubleshooting steps. Is there something I am missing? If so, I just need

[2018-07-18 20:06] adrianreber commented on #529
Although you mention that tar is installed, is tar installed in the container?

[2018-07-18 20:09] boudr commented on #529
I would assume so considering Busybox?

The container exec:
[code]

Started with:
[code]

[2018-07-18 20:20] adrianreber commented on #529
The code to dump a tmpfs does this in 2.6 (which is a rather old release):
[code]

Trying to run a busybox tar with those options (in alpine) gives me:
[code]

So not sure your busybox tar can handle the required CRIU options.

[2018-07-18 20:30] adrianreber commented on #529
I am not aware what a console container is, but if it works for you now... Great. Closing.

[2018-07-20 01:26] ncpe20012003 opened #530 "Warn (criu/autofs.c:77): Failed to find pipe_ino option (old kernel?)"
When I issue a "criu check" on Ubuntu 16.04 running kernel Linux 4.4.0-1062-aws I get the warning in the subject. I've tried to do live migrations and stateful snapshots of LXCs and get similar error. How do I resolve this?

[2018-07-20 04:23] adrianreber commented on #530
This warning is unrelated to your live migration failures. Please provide full logs of the error message you are seeing.

[2018-07-20 19:04] rst0git commented on #528
Hi @bethven
Adrian is right that you are missing many CRIU dependencies. I find it easier to just copy/paste the install command from the [Dockerfiles](https://github.com/checkpoint-restore/criu/tree/master/scripts/build) that are used for testing. This should install all requirements needed to compile and install CRIU.
[code]

[2018-07-21 07:13] bethven commented on #528
Hello, thank you very much, with this that you have recommended me now, it seems that if I could install everything I needed for CRIU, because before I had already installed some programs but I still had problems and did not pass the make.
Well I will start taking my first steps with CRIU to see how it works. Again, thank you very much everyone.
Best regards.

[2018-07-21 07:13] #528 closed

[2018-07-23 16:38] avagin opened #531 "criu restore of zdtm/static/clone_fs hangs up"
https://ci.openvz.org/job/CRIU/job/CRIU-x86_64-dedup/job/master/3730/console
[code]
[code]

[2018-07-23 16:40] avagin commented on #531
[code]

[2018-07-24 12:27] zhouxinyu opened #532 "Can't join the target namespace if the PID number is bigger than 65535"
Hi,

I found criu will treat the PID number as a file path when using join-ns feature if the number is bigger than 65535:

https://github.com/checkpoint-restore/criu/blob/aeeec2165a153b0c4885f5dd3ad26792822a8a9c/criu/namespaces.c#L78
[code]

Is it necessary to have this limitation?

[2018-07-24 16:46] bburnett6 opened #533 "Is there a way to make 'criu check --extra' provide more info?"
I'm trying to get criu set up for use by our unprivileged users on our cluster and believe that I don't have the kernel set up properly. When I run `criu check` I receive the expected 'looks good' but am still unable to dump as an unprivileged user. When I run `criu check --extra` I get

Is there a way to get a list of all of the kernel configs that I am missing? I have checked the list at https:/

[2018-07-24 19:19] avagin commented on #533
CRIU doesn't work when it is executed from an unprivileged user. There are operations which require capabilities. For example, it is impossible to open /proc/self/map_files/ links without CAP_SYS_ADMIN:
https://github.com/torvalds/linux/blob/master/fs/proc/base.c#L2026

[2018-07-24 21:04] avagin commented on #533
https://criu.org/Linux_kernel

[2018-07-25 14:04] bburnett6 commented on #533
Alright, that answers that. Thanks for the reply!

[2018-07-25 14:05] #533 closed

[2018-07-29 04:11] avagin commented on #510
I have prepared a git repo with all fixes:
[code]
If you use debian or ubuntu, you need to run "make dep"
[code]
If you use fedora or redhat, you need to run "make rpm"
[code]

[2018-07-31 15:55] Prat041192 commented on #510
Thanks @avagin : I will try this and get back to you, if in case of any issue.

[2018-07-31 15:59] montekki opened #534 "CRIU Cuda support"
Any plans for supporting C/R for cuda applications?

[2018-07-31 16:04] adrianreber commented on #534
No. Also see #527. There is no way to extract the state of the program on the GPU. If there would be a theoretical way to extract the state from the GPU then there would be a theoretical possibility to implement something like this.

With CRIU plugins it could be possible with a lot of help from the hardware vendor, but right now I would say it is not possible.

[2018-07-31 16:27] montekki commented on #534
also, there's this https://www.nvidia.com/en-us/design-visualization/solutions/vgpu-migration/

[2018-07-31 18:36] avagin commented on #401
Cc: @Snorch

[2018-07-31 18:46] avagin commented on #401
@GrachevaAS You can modify inventory.img. You can use the crit tool to convert an image into the yaml format:

[code]

back to the criu format
[code]

[2018-07-31 18:49] avagin commented on #401
@hamann https://criu.org/When_C/R_fails

[2018-07-31 18:54] avagin commented on #401
BTW: If you want to do an incremental dump after restore, you need to check that task_reset_dirty_track() is called for restored tasks.

[2018-07-31 23:44] aidagha opened #535 "Checkpoint error"
Can someone help me with this error, please?

`cid checkpointname
Error response from daemon: Cannot checkpoint container 722ba39346ebb83e6a59bbdf17445715e2826f7b924814d7b15d976242449d8f: docker-runc did not terminate sucessfully: CRIU version check failed: exec: "criu": executable file not found in $PATH path= /var/run/docker/containerd/daemon/io.containerd.runtime.v1.linux/moby/722ba39346ebb83e6

[2018-08-01 00:25] avagin commented on #535
Maybe you forgot to install criu? Could you try to execute "criu -V" from a terminal?

[2018-08-01 00:31] aidagit commented on #535
I tried to install criu using the provided instructions. I get:

`-bash: criu: command not found
`
I am doing this on mac.

[2018-08-01 04:53] adrianreber commented on #535
CRIU is Linux only. Please try it on Linux.

[2018-08-01 05:33] avagin commented on #535
https://github.com/docker/for-mac/issues/1059#issuecomment-408985367

[2018-08-01 05:36] avagin commented on #535
@adrianreber I think there is docker-for-mac. In this case, Docker is running on a Linux virtual machine.
https://www.docker.com/docker-mac

[2018-08-01 05:40] aidagit commented on #535
I used this image to install criu on mac but I guess it's not working.
[https://github.com/boucher/criu-for-mac](url)

[2018-08-01 05:57] avagin commented on #321
@Oussalvatore https://github.com/torvalds/linux/commit/ee9952831cfd0bbe834f4a26489d7dce74582e37

[2018-08-01 06:04] aidagha opened #536 "Question about checkpointing a container using CRIU"
Hello! I was wondering if it is possible to checkpoint a container on a VM or a machine using CRIU and then move it to another VM or machine and start the checkpoint on the destination machine and run it from the saved state? Do I need any other tools or is it possible with just CRIU and commands like `docker checkpoint` and `docker start --checkpoint`?

[2018-08-01 06:05] rppt commented on #536
Hi,

Yes it is possible, that's what CRIU is about ;-)
You need to have CRIU installed and then `docker checkpoint` and `docker start --checkpoint` would be enough.

[2018-08-01 08:32] avagin commented on #536
JFYI: Right now, docker checkpoint is broken: https://github.com/checkpoint-restore/criu/issues/510

You can follow my instructions in https://github.com/checkpoint-restore/criu/issues/510#issuecomment-408650607 to build docker with all required fixes.

[2018-08-01 08:35] Snorch commented on #401
May-be we can put everything under --track-mem option on restore. For it we both reset dirty tracking for newly created processes and fixup dump_uptime in inventory.img of the dump we restore from to the time of the reset. That will work as at these point we have all newly restored processes in the same memory state as it was when we saved the dump_uptime for these dump.

But I also see the proble

[2018-08-01 08:37] Snorch commented on #401
JFYI: also we should not use --auto-dedup option on restore else we will lose all memory of the dump.

[2018-08-01 09:08] montekki commented on #534
I might need to start working on in in near future, yes.

[2018-08-01 12:14] GrachevaAS commented on #401
Thank you, @avagin!
@Snorch, why does restoring become unsafe? Do you mean that image 3 from your example may be overwritten by some process with reused pid?

[2018-08-01 12:27] Snorch commented on #401
Task1 from 3 which reused the pid of some other task2 from 2, if it setups right memory layout, can steal memory from task1 during checkpoint/restore. Please see test/zdtm/transition/pid_reuse.c test where second child steals VALUE_B from first child for reference.

[2018-08-02 12:58] Oussalvatore commented on #321
thank you @avagin, we have successfully dumped the SCTP connection and we are working on the restore now

[2018-08-02 14:59] adrianreber commented on #506
This has been merged into the development branch : https://github.com/checkpoint-restore/criu/commit/d1439a67468d86e73b5df275dd352258fd8d5187

[2018-08-02 15:00] adrianreber commented on #278
Configuration file support in RPC mode has been merged into the development branch : https://github.com/checkpoint-restore/criu/commit/d1439a67468d86e73b5df275dd352258fd8d5187

[2018-08-03 20:09] dav-ell commented on #211
@amazingvoice I think what he's referring to is the fact that the TCP protocol is based on unchanging endpoints. Every connection can be described by a source address, source port, destination address, and destination port. Using these parameters, routers and hosts can make sense and keep track of the packets passing back and forth between the source and destination. Because of this, if you change

[2018-08-05 20:37] bethven opened #537 "Errors when executing CRIU"
Good night, I am new using CRIU, I was reading about how it is executed, and I get errors, I do not know why they appear, I would really appreciate your help. The errors are the following:

[localhost@aopcbc criu-3.10]$ criu dump -t 17577
Error (criu/crtools.c:222): rlimir: Can't setup RLIMIT_NOFILE for self: Operation not permitted
Warn  (criu/kerndat.c:792): Can't load /run/criu.kdat
Error (criu

[2018-08-05 20:47] rppt commented on #537
Are you running CRIU as root?
Many operations CRIU does require root privileges

[2018-08-06 07:08] bethven commented on #537
At this moment I am running it on my pc with my user, not as root. But then I should start using it in a cluster in which I am not the administrator.
CRIU should always be run as root? because for me this will be a problem because I'm in a cluster where I'm not the administrator. I will not be able to use it?
Thank you.

[2018-08-06 12:50] rppt commented on #537
CRIU should run as root because many kernel APIs it uses require root privileges

[2018-08-06 15:11] dav-ell commented on #489
I did this, and what it looks like before migration is this:
[code]

After migration it looks like this:
[code]
These lines were generated over the course of 2 minutes, with most of the time being in `epoll_wait`.

Is it possible that some of the upper-layer protocols may have been disrupted during the migration? We're using AMQP connections here. I had thought C/R for TCP would have been transpar

[2018-08-06 18:29] avagin commented on #537
or the suid bit has to be set for a criu binary

[2018-08-06 18:39] avagin commented on #489
Here the file descriptor 10 is a tcp socket. You need to understand why it was closed after C/R. I think you can try to use tcpdump and try to strace a process which handles another side of this connection.

[2018-08-08 10:39] bethven commented on #537
Hello, good afternoon,
Sorry, exactly the administrator to which files would I have to give privileges for CRIU to work correctly?
Thank you very much.

[2018-08-08 21:36] dav-ell commented on #68
Is this still called `reg-files.img`? Are there restrictions on when it is created?

[2018-08-09 04:31] Ace-Tang opened #538 "[question] why containerd can not dump and restore net ns"
Hi, @avagin , I come from the containerd project, and see you [pr](https://github.com/containerd/containerd/pull/2425) to fix broken criu in moby. I am new to criu, as I know, criu is support dump and restore network namespace, so I am wondering why you write this,
[code]
Is this related to moby?

[2018-08-09 17:26] rppt commented on #537
Well, it would be most of /proc at the very least.
As @avagin said, setting suid bit for the CRIU binary seems like the best option.

[2018-08-10 08:02] farooqte96 opened #539 "CRIU Page Server Integration with Docker"
Hi

Does anyone know that whether Docker at current supports this feature i.e. page-server for fast CRIU memory dumping? If yes how can we use this feature?

Thanks

[2018-08-10 08:15] adrianreber commented on #539
So runc has support to use a page-server, but I am not aware that docker actually uses it. If you want to migrate container only on the runc level it should be possible (theoretically).

I have never tested it though, so not sure if it actually works.

[2018-08-10 08:46] farooqte96 commented on #539
Thanks @adrianreber  I just wanted to confirm if somebody has done it on Docker, because generally i see many features of CRIU are available for testing only for runc or lxc, but  not with Docker.

[2018-08-10 12:10] adrianreber commented on #539
Not many people are working on getting CRIU features up the container stack and we probably have to make sure they work on lower levels first before they can be used in higher levels.

[2018-08-10 12:10] #539 closed

[2018-08-10 21:08] avagin commented on #538
Here I mean that runc doesn't restore network devices and their configurations. When a container is started, its network namespace is configured by third-party tools from a pre-start hook. A container network namespace is connected with an external network and containerd, runc know nothing about this. I mean that we know nothing about how a container is connected into an external network.

So when

[2018-08-10 23:07] avagin commented on #537
It isn't only about privileges. It is about capabilities as well. For example, CRIU can't work without the CAP_SYS_ADMIN capability, it is required to access /proc/pid/map_files/*, which are used to restore shared memory regions.

[2018-08-13 09:47] Oussalvatore commented on #321
Hi @xemul and @avagin ,
I'm facing some problems and I would be grateful if you can help me. Actually I'm trying to restore the dumped process and CRIU indicates that the process has been successfully restored but it's not the case, also I can observe the restoration of the SCTP socket in /proc/net/sctp/assocs file. Here is the dump and restore logs. Thank you
[dump.log](https://github.com/checkpo

[2018-08-16 01:39] Ace-Tang commented on #538
Thanks very much for you detail explain, I think I have understand.

[2018-08-16 01:45] Ace-Tang commented on #538
Oh, sorry, I forget to ask one more question. So we should always set empty-ns with network in runc restore? but I found that default umask `nsmask := unix.CLONE_NEWNET` is only set in runc checkpoint, but not in runc restore, is restore process need to set this by default?

[2018-08-16 03:36] SlavaGavrilin opened #540 "Error: snapshot dump failed"
[code]

[2018-08-16 07:58] SlavaGavrilin commented on #540
one more try after staless snapshot-other error:
[code]

[2018-08-16 08:04] adrianreber commented on #540
```Unsupported proto 58```. A quick search claimed that proto 58 is icmp-v6 which is a protocol CRIU cannot restore. What is actually running in your container?

[2018-08-16 09:42] SlavaGavrilin commented on #540
I turned ipv6 off. Now again:
[code]

[2018-08-16 09:50] adrianreber commented on #540
Without the full logs it is not possible to tell what might be wrong.

[2018-08-16 10:33] SlavaGavrilin commented on #540
I removed CT, reinstalled lxd, re-inited. --statefull snapshot failed again. I entered into CT, performed apt update; apt upgrade and now got a successful --stateful snapshot.

[2018-08-16 10:33] #540 closed

[2018-08-16 17:29] avagin commented on #538
@Ace-Tang It will work even if we set unix.CLONE_NEWNET only on dump, but it is better to set it on restore too. Do you want to fix this in runc?

[2018-08-16 17:35] adrianreber commented on #540
Hmm... Interesting. Good that it works now. Still strange.

[2018-08-17 02:12] Ace-Tang commented on #538
@avagin , sure, I want to do this, we are using checkpoint/restore to support our business， I find if we are not set this mask, it will cost more time(millisecond or less), if you don't mind, I will try to create a pr for runc, see if runc can accept this.

[2018-08-17 04:53] avagin commented on #538
@Ace-Tang I don't mind:). Add me into CC of this pr or post a link here. Thanks.

[2018-08-17 08:36] Ace-Tang commented on #538
I create a pr https://github.com/opencontainers/runc/pull/1871 in runc, @avagin please help me to check that, thanks.

[2018-08-21 08:57] emanuelebevegni opened #541 "Segmentation Error"
Hi everyone!
Im making a university project with criu but im kinda new to the linux and criu world. After installing criu, following ur video here on github, i try the simple loop example but it doesnt work out. When i try to use the command criu dump -t 2221 -vvv -o dump.log && echo OK or criu dump -D PP -t 4008 -v4 -o pp.log the target procces stoped but i recevied a "Segmentation error (core du

[2018-08-21 10:01] emanuelebevegni commented on #541
the command are in the message i post same things for the log file.

[2018-08-21 12:56] YuheiTakagawa opened #542 "Where is created dump.log with docker when checkpointing is success?"
Hi, I want to show dump.log that will be created below command.
[code]
Checkpoint (and restore) is successed but I can't find dump.log. Please tell me how to get dump.log.

In previous version, I could get from (/var/lib/docker/containers/\<container id\>/checkpoints/\<checkpoint name\>/criu.work/dump.log).
Other issues says the log is created to (/var/run/docker/containerd/daemon/io.containerd.ru

[2018-08-21 13:03] 0x7f454c46 commented on #541
There is a bit of misunderstanding: Adrian asks you about *full* log - lines in the log that precede error usually being helpful.

[2018-08-21 13:08] 0x7f454c46 commented on #542
Probably, docker doesn't keep the dump.log on success. (I don't really know - that's what I suppose)
If it's so - probably, there is a CLI option to docker to preserve the log file.

[2018-08-21 13:27] emanuelebevegni commented on #541
I already post everything pop out on the command line after i use the command dump.

[2018-08-21 15:29] rst0git commented on #541
Hi @emanuelebevegni
Would you be able to upload the `dump.log` and `pp.log` files generated from the above commands?

[2018-08-21 15:37] emanuelebevegni commented on #541
Sure when i go back to the university lab

[2018-08-21 19:27] adrianreber commented on #542
@YuheiTakagawa you should really ask this question docker or moby. This is not really a CRIU issue.

I know that for runc I can specify ```--work-path``` to control where CRIU writes its log-file. Not sure if this functionality is exported to docker.

[2018-08-23 08:27] xobx-cherif commented on #337
@xemul Hi ! i want to work on this issue

[2018-08-23 13:38] emanuelebevegni commented on #541
dump.log was made by using the first command i put in my first comment, pp2 was made by using the second command (i forgot to write the 2 in the comment before PP)
[pp2.log](https://github.com/checkpoint-restore/criu/files/2314616/pp2.log)
[dump.log](https://github.com/checkpoint-restore/criu/files/2314617/dump.log)

[2018-08-23 14:40] rst0git commented on #541
Hi @emanuelebevegni
Can you describe what steps you followed to create, run and checkpoint the simple loop example? (I am trying to reproduce the issue)

[2018-08-23 14:50] emanuelebevegni commented on #541
the same step are in the installation video plus installing all the package and the same things for the simple loop example. Nothing more than that. The installation was a success and i have the same output of the video, i read every line and even the zdtm test was a success without problem.

[2018-08-23 15:08] rst0git commented on #541
Ok, what happens when you run the following?
[code]

[2018-08-23 15:12] emanuelebevegni commented on #541
Same result :(

[2018-08-23 17:44] tswift242 opened #544 "criu doesn't rewrite cgroup root for comounted controllers (e.g. cpu,cpuacct)"
It seems that certain OSes comount some cgroup controllers (see cgroup doc: http://man7.org/linux/man-pages/man7/cgroups.7.html). For example, on all of the Ubuntu 16.04 and Debian 8 machines I've checked, the cpu and cpuacct controllers are comounted and show as a single cpu,cpuacct controller under /sys/fs/cgroup (along with symlinks for cpu and cpuacct to this combined directory). I see the sam

[2018-08-23 18:41] rst0git commented on #541
Hi @emanuelebevegni, would you be able to share the `dump.log` from the last attempt?

I noticed a some differences between the `pp2.log` / `dump.log` files and the log file that CRIU generates for me. (I used Fedora 28 with 4.16.13-300.fc28.x86_64 and CRIU v3.8.1)

[code]

[code]

[2018-08-23 19:18] emanuelebevegni commented on #541
Ok i will share it when i can. Maybe the difference is because i use different command, in pp2.log i specify the destination folder where criu have to generate the images.

[2018-08-23 19:19] 0x7f454c46 commented on #541
[code]
+Cc: @cyrillos
Well, that means parasite has segfaulted during infection.
Usually, that means that there is something borked during a build.
Could you share:
1. Output of `make V=1` during the build.
2. Those two binaries: criu/pie/parasite.o criu/pie/parasite.built-in.o

I suspect that you've got some excessive cflag from Fedora's environment. (Like build salt or something they do these da

[2018-08-23 19:30] emanuelebevegni commented on #541
@adrianreber i cant install that package the system say is arleady updated.

[2018-08-23 19:34] adrianreber commented on #541
@emanuelebevegni According to https://bodhi.fedoraproject.org/updates/FEDORA-2018-2682c9b962 3.10-4.fc28 is the latest version for Fedora 28.

[2018-08-23 19:54] 0x7f454c46 commented on #541
Thanks, @adrianreber.
I see your report here: https://lists.openvz.org/pipermail/criu/2018-July/041991.html
I planned to have a fix for that in TODO, but probably managed to forget.
Will take a look and fix it this week.

[2018-08-23 19:57] adrianreber commented on #541
@0x7f454c46 I think it is only a problem if building an RPM. That's why I updated the Fedora RPMs to no use annobin. It shouldn't be a problem if building from source on Fedora

[2018-08-24 08:41] rst0git commented on #541
Adrian thank you for pointing out the issue!

@emanuelebevegni I think you need to enable the `updates` repository.
[code]

[2018-08-24 09:45] emanuelebevegni commented on #541
I wll try all these things on these monday, because the university lab today is close for maintenance and on the week end all the university is close. Thx all for the help and see u soon.

[2018-08-25 14:50] aemengo opened #545 "Error (criu/mem.c:44): BUG at criu/mem.c:44"
[code]

[code]

dump.log
[code]

Any rationale for the following issue seen above? Similar invocations worked an ubuntu distro which makes me think that it must be something with how it was compiled. I'm have tried compiling criu myself and using the file at this location: https://ftp.yzu.edu.tw/Linux/alpine/edge/testing/x86_64/criu-3.8.1-r0.apk

[2018-08-25 20:26] adrianreber commented on #545
How are you using CRIU? A quick look at the source seems to indicate that you are using memory tracking (pre-copy) on a system which does not support dirty page tracking.

[2018-08-26 03:44] yufeifly opened #546 "Docker checkpoint failed"
Hi, I followed  the instructions on https://criu.org/Docker.
After command "docker checkpoint create looper checkpoint1", everything seemed to be fine.
![default](https://user-images.githubusercontent.com/20283879/44624583-862fda80-a924-11e8-9bc8-eafdd16db48b.png)
However, I ran "docker  logs looper ", the log still growed. However it was supposed to stop.
What was the problem?
 ------------------

[2018-08-26 05:40] avagin commented on #546
https://github.com/moby/moby/pull/37360

[2018-08-26 05:49] avagin commented on #545
Could you show output of "sudo criu check"?

[2018-08-26 09:00] aemengo commented on #545
I was able to move past the issue above. Running a `criu check --all` said something akin to `DIRTY TRACKING is off`. Which made me realize that I needed to recompile the kernel that I was on with `CONFIG_MEM_SOFT_DIRTY=y` in the config.

Now however, I see the following:
[code]

[code]

Any help?

[2018-08-26 12:10] Ace-Tang opened #547 "Fail to checkpoint with a bind mount '/tmp/bad/'"
Hi, I find that if a bind mount source path has a '/' at last like '/tmp/bad/' passed to criu, the dump will fail, error:
[code]
The complete bind mount config is
[code]
I have fix it by clean all file path before it passed to criu, I just wonder is it a bug?

here is criu version
[code]

[2018-08-26 12:11] #538 closed

[2018-08-27 06:10] #545 closed

[2018-08-27 17:33] rst0git commented on #541
Hi @emanuelebevegni

Good to hear that it works now! Can we close the issue?

It is not simple to checkpoint and restore Firefox because it is a GUI application. You can find more information about this in https://criu.org/VNC

If you just want to migrate a program from one PC to another, you can try to follow the example for lazy migration in https://criu.org/Lazy_migration

[2018-08-27 20:54] adrianreber commented on #547
Version 2.6 is rather old. Can you try it with 3.10?

[2018-08-28 06:54] adrianreber commented on #547
Just curious, what is your problem with 3.10?

But if you have a patch, please submit it to the mailing list: https://criu.org/How_to_submit_patches

[2018-08-28 10:49] emanuelebevegni commented on #541
@rst0git yes u can close it i will try to checkpoint and restore firefox as example because for my project i need to stop a gui application. Thx a lot to all

[2018-08-29 20:09] psinha01 opened #549 "Latest Phaul script to do live migration fails with error in criu/util.c"
Distribution: Ubuntu (Artful)
Distribution version: 17.10
The output of
[code]

[code]

I am checkpointing and restoring using the default code given on the phaul repo. It fails with following error:

[code]
Please let me know if there is something I should update or do. Thanks.

[2018-08-31 14:11] tswift242 commented on #544
ping @xemul @avagin

[2018-09-02 17:58] adrianreber commented on #549
Just tried it. The way you use it also fails for me, but differently:

[code]

Using it with the include script works, however:

[code]

Does that help?

[2018-09-02 19:11] adrianreber commented on #549
Strange that the original ```piggie``` fails. What does ```criu check --all``` say?

[2018-09-02 19:46] psinha01 commented on #549
Here are the outputs
[code]

[2018-09-03 08:40] tkhai commented on #412
Andrey will say better about criu status, since he is diving into this at the moment. But I want to touch another direction. @dineshputchala, have you tried to request Oracle to workaround this issue for a while, before we have solution in kernel and criu?

[2018-09-03 08:57] dineshputchala commented on #412
@adrianreber Any update on implementation of time-namespace ?

[2018-09-03 12:31] adrianreber commented on #549
You should try to figure out why the original ```piggie``` fails. Not sure what your system is doing that this could fail.

[2018-09-04 04:57] juancampa opened #550 "[Question] Incremental checkpointing restore with --track-mem"
I know `--track-mem` can be used when dumping but is it possible to also use it when restoring? The idea is that if I dump a process that was previously restored I get an incremental dump (i.e. faster, smaller size)

In other words, the incremental example in the documentation shows this:
 - Dump 1 (leave running)
 - Dump 2 (this one is incremental)

But what I'm after is:
 - Dump 1 (kill process)

[2018-09-04 07:51] rst0git commented on #550
Hi @juancampa, I am not sure I understand your question.

The `--track-mem` option enables CRIU to identify memory pages that have been modified by the application. It makes use of the [soft-dirty bit](https://lwn.net/Articles/546966/) concept.

When you specify `--track-mem` CRIU does `echo 4 > /proc/$PID/clear_refs`.
This clears the soft dirty and the writable bits from all PTEs (page table entr

[2018-09-04 07:56] adrianreber commented on #550
@juancampa I think #401 is a similar discussion.

[2018-09-04 08:04] rppt commented on #550
Duplicate of #401

[2018-09-04 19:15] psinha01 commented on #549
Thanks Adrian. I am closing the issue as it seems some issue on my setup.

[2018-09-04 19:15] #549 closed

[2018-09-05 01:20] avagin commented on #412
@dineshputchala we are going to send RFC next week:
https://github.com/0x7f454c46/linux/tree/wip/time-ns

[2018-09-05 11:52] juancampa commented on #550
Closing in favor of #401

[2018-09-05 11:52] #550 closed

[2018-09-05 12:11] juancampa commented on #401
Hi! I have a similar use-case to @hamann's and was wondering if anyone already implemented what @Snorch proposed. If not, I might give it a shot

[2018-09-05 18:12] avagin commented on #549
The phaul test is a part of our Travis test suite:
https://travis-ci.org/checkpoint-restore/criu/jobs/424635541

[2018-09-05 18:16] avagin commented on #401
@juancampa it isn't implemented yet. It would be good if you will be able to work on it. Let me know if you will have any questions.

[2018-09-05 19:45] crosbymichael commented on #485
I get the same errors on 18.04:

[code]

[2018-09-06 07:47] bethven commented on #537
Hello,
I already managed to run the criu as root, now I have fewer errors, but I still see the following ones:

[root@aeghbc criu]# ./criu dump -t 14759
Warn  (criu/kerndat.c:792): Can't load /run/criu.kdat
Warn  (criu/net.c:2780): Unable to get socket network namespace
Warn  (criu/net.c:2780): Unable to get tun network namespace
Warn  (criu/sk-unix.c:229): unix: Unable to open a socket file: Bad

[2018-09-06 08:40] adrianreber commented on #537
@bethven If you look at the error message it says to increase the ghost file limit and CRIU has a command-line option for that:

[code]

[2018-09-06 08:50] adrianreber commented on #485
@crosbymichael Are you also using CRIU from 18.04? From the logs it does not look like CRIU 3.6?

[2018-09-06 12:09] crosbymichael commented on #485
@adrianreber no, using 3.10/master.  I can checkpoint a container in the host net namespace but cannot restore.  But i also cannot checkpoint a container with an empty net ns (localhost only) at all because of this.

[code]

It looks like iptables on 18.04 does not have `-w`

[2018-09-06 12:34] adrianreber commented on #485
@crosbymichael I think would you are seeing is another problem, not the one reported here.

What looks worrying in your log is ```killed by signal 11: Segmentation fault```. Do you see anything anywhere that process have segfaulted?

For completeness, as I recently debugged something similar with iptables 1.8.0, CRIU is doing something like this:

[code]

[2018-09-06 12:52] crosbymichael commented on #485
[code]

[2018-09-06 13:07] adrianreber commented on #485
@crosbymichael any information about possible segfaulted processes? I see the following in dmesg:

[code]

[2018-09-06 13:12] crosbymichael commented on #485
[code]

[2018-09-06 13:33] crosbymichael opened #551 "iptables issues for Ubuntu 18.04"
I am unable to checkpoint a container on ubuntu 18.04 because of iptables -w and it segfaulting

[code]

## Reproduction

runc bundle:

http://crosbymichael.com/checkpoint-repo.tar.gz

Download and extract the runc bundle:

[code]

In another terminal:

[code]

Using criu master and runc master with the latest changes for an empty netns.

[2018-09-06 13:34] crosbymichael commented on #485
@adrianreber I opend https://github.com/checkpoint-restore/criu/issues/551

Sorry for the noise here

[2018-09-06 15:37] adrianreber commented on #551
I would say we have two problems here. iptables-restore segfaulting is one. Unfortunate but unrelated to CRIU (not totally as CRIU has problems with it, but not something we can fix).

The other problem is the missing '-w' which CRIU is using.

A quick look around a few distros I see that -w is support on Fedora 27 (1.6.2), Fedora 28 (1.6.2) and CentOS 7 (1.4.21, it seems '-w' was backported in ht

[2018-09-06 16:07] adrianreber commented on #537
So it seems you are trying to checkpoint a process which is running under control from MPI. Is that correct? This is not as simple as dumping standalone processes as the restored process needs to be under MPI control again. Have you changed your MPI implementation to understand CRIU checkpointing and restarting?

[2018-09-06 16:07] adrianreber commented on #537
Maybe if you give some background information about what you are trying to achieve it might make it easier to help.

[2018-09-06 16:30] rst0git commented on #551
As Adrian pointed out we have two issues here and both are related to iptables.

The commit [b2707ba](https://github.com/checkpoint-restore/criu/commit/b2707bab02459678cd2b354d39cbdfd182968ee4) introduced the `-w` flag to ensure that iptables waits for xtables lock. CRIU is also using a workaround ([2af1725](https://github.com/checkpoint-restore/criu/commit/2af17257cb28280984b8b87cd2e4be5bed9d15e9

[2018-09-06 16:54] crosbymichael commented on #551
Ok, I compiled 1.6.2.  I no longer get the `-w` issue but it still segfaults on my system.

[2018-09-06 17:05] crosbymichael commented on #551
Ok, I fixed the segfault, there was some lib missmatch with libnet.

So I think right now, I can open an issue on ubuntu as 1.6.1 is not working.  If you want to leave this open or find a better way to handle this with criu we can, or we can close this.  I'll just compile 1.6.2 for now

[2018-09-06 19:13] adrianreber commented on #551
Please open a bug against Ubuntu. I think that would be important. According to https://packages.ubuntu.com/cosmic/iptables it seems 18.10 right now still has 1.6.1. So if 18.10 could get 1.6.2 maybe 18.04 can also get it. But that would make CRIU's life much easier I guess.

I leave this ticket right now open for @avagin to comment on whether we want to change something before the next release, b

[2018-09-09 04:43] psinha01 opened #552 "Checkpointing of LXC fails: Error (criu/tty.c:2306): tty: Unable to find a master for /3"
Hi,

Distribution: Ubuntu (Zesty)
Distribution version: 17.04
The output of

[code]
[code]
[code]
[code]
I am checkpointing a LXC container which fails with following error:

[code]

Error logged in dump.log:
[code]
Kindly let me know how to fix this. Thanks.

[2018-09-09 06:45] adrianreber commented on #552
This is a another duplicate of #439. We still have not understood where
[code]
is coming from. So far it seems Ubuntu related as also reports have that in common.

[2018-09-09 06:59] adrianreber commented on #552
What is running in your container?

[2018-09-09 12:27] rst0git commented on #552
Hi @adrianreber

Another thing in common is the following line:

(From this git issue)
[code]
(From #439)
[code]
(From [lxd#4701](https://github.com/lxc/lxd/issues/4701))
[code]

The `returned 11` is `SIGSEGV` -> Segmentation fault.

I noticed that `ptrace_swap_area()` is using `alloca` to allocate space on the stack but it doesn't check if the space has been allocated successfully.
[code]

From t

[2018-09-09 14:38] adrianreber commented on #552
@rst0git Unfortunately I cannot say anything about that, no idea. Sounds possible, however.

CC: @cyrillos , any ideas if @rst0git is right?

[2018-09-09 14:41] psinha01 commented on #552
It is a freshly created empty container with its default processes. There is no other processes running inside the container. Here is the image i used to create.
`sudo ./lxc-create -t download -n test -- -d ubuntu -r trusty -a amd64
`

[2018-09-09 15:31] psinha01 commented on #552
I have tried to checkpoint using CRIU's v3.5 to v3.9 (git tags). All of them results in same error.

[2018-09-10 22:59] psinha01 opened #553 "Is memory tracking supposed to be disabled while using page server?"
CRIU's iterative migration (both: iterative dumps and iterative pre-dumps) using memory tracking works fine. But when I use iterative migration (either iterative dumps or iterative pre-dumps with a final dump) with a page server, then the memory tracking doesn't work. I wonder what could be the reason for this functionality. Can you please explain? Thanks.
Here is what i am using:
**Case 1 (where

[2018-09-11 07:04] adrianreber commented on #553
I have not used the page-server in a long-time, but I just did some tests and it works if you tell the page-server to use a prev-images-dir:

1. page-server run : ```criu page-server -D /tmp/1  -v4 --port 22222```
2. page-server run : ```criu page-server -D /tmp/4  -v4 --port 22222 --prev-images-dir ../1```

The output looks correct:

[code]

[2018-09-11 13:44] adrianreber commented on #551
@crosbymichael did you open bug against Ubuntu? If not I can also do it.

[2018-09-11 14:13] crosbymichael commented on #551
@adrianreber not yet.  If you already have a launchpad account can you open it? I don't have one and have to go though all that stuff

[2018-09-11 14:28] adrianreber commented on #551
https://bugs.launchpad.net/ubuntu/+source/iptables/+bug/1791958

[2018-09-11 14:37] crosbymichael commented on #551
Thanks, you want me to close this issue?

[2018-09-11 14:42] adrianreber commented on #551
Let's close it. This was about a segfaulting iptables-restore. That is solved.

[2018-09-11 14:42] #551 closed

[2018-09-11 17:51] avagin commented on #531
It is reproduced again:
[code]

[2018-09-11 20:12] psinha01 commented on #553
Thank you so much. I thought prev-images-dir was only for the source side where we are iterative checkpointing.

[2018-09-11 20:12] #553 closed

[2018-09-11 21:44] avagin commented on #552
@psinha01 Could you try to disable apparmor? It may be a reason for this failure.

[2018-09-11 21:45] avagin commented on #552
I think 11 is EINVAL here

[2018-09-11 21:55] avagin commented on #552
or you can try to set lxc.apparmor.profile=unconfined for this container.

[2018-09-11 23:08] psinha01 commented on #552
@avagin Setting lxc.apparmor.profile=unconfined in the container's config file still gives the same error.

[2018-09-12 03:10] avagin commented on #439
[code]

[2018-09-12 03:11] avagin commented on #552
I have reproduced this issue
[code]

[2018-09-12 04:43] avagin commented on #552
lxc.apparmor.profile=unconfined doesn't disable apparmor for a container.  And now we know this issue is due to apparmor.

[2018-09-12 04:53] avagin commented on #552
We need something like PTRACE_O_SUSPEND_SECCOMP for apparmor.

Cc: brauner

[2018-09-12 06:38] avagin commented on #552
@psinha01 you can do next steps as a workaround:
[code]

[2018-09-12 15:00] santiagobasulto opened #554 "Another issue with Checkpoint using Docker"
Hello everybody! I'm trying to checkpoint a container and I'm getting the following error:

[code]

The error in the dump seems to be: `mnt: Can't parse 22902's mountinfo`. Here's the tail of the dump:

[code]

Any ideas of what's going on?

[2018-09-12 16:45] avagin commented on #554
What version of criu do you use?

[2018-09-12 17:18] santiagobasulto commented on #554
Thanks for the quick answer. I'm using CRIU `Version: 2.6`, on Ubuntu 16.04 LTS (EC2 Instance). With Docker version `Docker version 18.06.1-ce`.

The command I'm running is: `sudo docker checkpoint create e6019b0eec8d checkpoint1`

[2018-09-12 17:26] santiagobasulto commented on #554
Btw, I am able to create some checkpoints, I tried the one from [the example](https://criu.org/Docker#checkpoint) and it worked:

[code]

[2018-09-12 17:37] avagin commented on #554
2.6 is a very old version. Could you update criu and try again?

[2018-09-12 17:43] santiagobasulto commented on #554
Oh! sorry, I installed it with regular `apt-get install update`. Any simple way to update?

[2018-09-12 17:55] avagin commented on #554
Cc: @adrianreber

[2018-09-12 18:04] adrianreber commented on #554
@avagin I knew you would ask me :grin:

So, yesterday I update the CRIU ppa to the latest CRIU version but only for 18.04 (https://launchpad.net/~criu/+archive/ubuntu/ppa). I tried to build for 16.04 but it failed because of things I do not totally understand (debhelper versions and other things). I will try to make the latest CRIU for 16.04 available, but it might take a day or two.

[2018-09-12 18:42] santiagobasulto commented on #554
oh, bummer. So it was that. I can try installing it from source in the meantime and see if that's the issue. Thanks for your help :)

[2018-09-12 19:39] psinha01 commented on #552
@avagin I get following error when i try to do
[code]
I just want to point it out I am not using LXD version of LXC commands. I am using
[code]
I don't think it matters.

[2018-09-12 20:02] adrianreber commented on #554
Building the package for 16.04 was easier than expected. Please try:

[code]

and then try to upgrade CRIU.

[2018-09-12 20:06] avagin commented on #552
I think we need a help of someone from LXC or Ubuntu.

[2018-09-12 20:14] avagin commented on #68
@dav-ell reg_files.img was merged into files.img

[2018-09-12 21:03] psinha01 opened #555 "Does migration (either live or non-live) work for a process that uses active TCP sockets?"
Hi,

My goal is to make migration (either live or non-live) work for a process which has active TCP sockets. For the purpose of testing, I am using simple echo server and client code tcp-howto.c provided on [CRIU's website](https://criu.org/Simple_TCP_pair).

What I have observed (and it works nicely) is I can checkpoint the process using --tcp-established and restore it successfully. On restorati

[2018-09-13 05:43] adrianreber commented on #555
Yes, it is possible to live migrate processes with established TCP connections from one system to another.

I hope that answers your question. The important part is, that for established TCP connections, the IP address has to be the same. Usually I use an additional IP address which I move between the involved systems. Container or not makes no difference. The idea behind using containers is that

[2018-09-13 17:32] rst0git commented on #552
Hi @avagin

I noticed similar error message in https://api.travis-ci.org/v3/job/424534596/log.txt

[code]

Is this the same error?

[2018-09-13 18:50] psinha01 commented on #555
Yes, it was helpful and thank you for suggestion to move IP address. I will close the issue as it seems issue is with container setup. Thanks for all the help.

[2018-09-13 18:50] #555 closed

[2018-09-13 19:27] santiagobasulto commented on #554
Thanks for the update! Still failing, but different reason now 😪. I updated CRIU, now I have version 3.10.

Running `docker checkpoint create` fails with `invalid option -- 'w'`. Here's the tail of the dump:

[code]

Any ideas?

[2018-09-13 21:02] avagin commented on #554
@santiagobasulto Could you attach a full log?

[2018-09-13 21:05] santiagobasulto commented on #554
Sure thing, here it goes:

[code]

[2018-09-13 21:14] avagin commented on #554
This is the real error:
[code]

[2018-09-13 21:20] avagin commented on #554
Docker doesn't allow to customize criu options. @veruu and @adrianreber implemented criu config files which can help to solve this problem, but this functionality is going to be released only in the next criu version.

[2018-09-13 21:35] avagin commented on #547
Yes, it is. It can be fixed in criu or in runc:

http://man7.org/linux/man-pages/man3/realpath.3.html
https://golang.org/pkg/path/filepath/#Clean

[2018-09-13 21:39] cyrillos commented on #552
Oh, sorry. Just found this thread. Well, it is possible, but hardly expected. I didn't look into alloca() source code but I suspect they simply shift stack pointer and I suspect if we're that close to stack limit (and not expandable limit) we're gonna to sigsegv pretty soon anyway.

[2018-09-14 11:49] Ace-Tang commented on #547
@avagin , I could try that,  but since I am not put into many time for this, I am sorry not found the problem in criu, seems that record mountpoint have do the path clean, but other oparations not.
I can try that in runc !

[2018-09-15 04:51] avagin commented on #544
@tswift242 could you try out this fix https://github.com/avagin/runc/commit/bc75ee4d27ffac98f03743d9206924115a07f568

[2018-09-16 14:10] bethven commented on #537
Hello, I understand what you indicate for being an app under the control of MPI, the restart will be much more complex, but I would like to know if even if that error appears, the checkpoint images were created completely? since I do the checkpoint for each process. For example if I run an app with 4 processes and each of the processes at different times I checkpoint with CRIU, do these images kee

[2018-09-16 14:44] adrianreber commented on #537
If you look at the output directory of your dumps you should see no image files, because if CRIU says 'Dumping FAILED' it did not finish successfully.

I was asking for more background because of the error you got : ' unix: Can't dump half of stream unix connection'. If I understand that correctly it means CRIU only can restore the process(es) correctly if both ends of the socket are part of the d

[2018-09-16 14:56] bethven commented on #537
I have in my image directory:
![imagecriu](https://user-images.githubusercontent.com/38592479/45597775-4f079300-b9d1-11e8-80fe-0365a8006e96.png)
This is bad?

[2018-09-16 14:59] bethven commented on #537
I wanted to checkpoint each of the processes separately, for example to PID 1351.
Then I did it to 1352 and so to the other two.
![imagcriu2](https://user-images.githubusercontent.com/38592479/45597831-ecfb5d80-b9d1-11e8-96b5-630b696760f8.png)

[2018-09-16 15:03] adrianreber commented on #537
No, this is not bad :wink:, just not complete. So your checkpointing failed, the log was right.

Not 100% if you can checkpoint a process like that. Maybe someone else has an idea.

I worked, some years ago, on CRIU and Open MPI but I have no experience with MPICH. I cannot even remember how Open MPI used to communicate with the processes it spawned (I forgot all the details). But in theory MPICH

[2018-09-16 15:33] bethven commented on #537
I must evaluate the I / O behavior of different fault tolerance protocols, one of them is the uncoordinated checkpoint. That's why I'm interested in knowing if the checkpoints are complete, because then I must use an instrumentation tool that gives me the trace that generates the behavior of these protocols, so the checkpoints should be well done.
I also see that CRIU generates many images, I am r

[2018-09-16 15:43] adrianreber commented on #537
So you are not interested in restoring the processes. You could then hack CRIU to just ignore the unix domain sockets and use CRIT to look at the image files in the checkpoint directory.

[2018-09-16 15:52] bethven commented on #537
Sorry I ask so much :) but what do you mean when you say "hack CRIU to just ignore the unix domain sockets"?

[2018-09-16 15:58] adrianreber commented on #537
If you just need it for research you can just change the source code of CRIU to not error out during checkpoint.

[2018-09-16 16:03] bethven commented on #537
Ok, I'm going to investigate about that, thank you very much for your time. 👍

[2018-09-16 16:12] adrianreber commented on #537
Maybe someone else from the CRIU project has a better idea for your socket problem. I have no further ideas right now.

[2018-09-16 18:07] bethven commented on #537
Hi, it's me again. One question, I am reading the meaning of each of the images generated by CRIU and I also used CRIT to better understand each of them and in all of them it shows me what it has, but in the image: "pages-1.img" gives me The following error:

"Unknown magic 0x464c457f.
Maybe you are feeding me an image with raw data (i.e. pages.img)? "

![imgcriu3](https://user-images.githubuserco

[2018-09-16 18:35] adrianreber commented on #537
pages-?.img is just the memory pages of the process written to a file. So CRIT cannot display anything because it is just the raw content of the process' memory content. CRIU does not encode additional information in that file. If I remember it correctly the mapping of the content in pages-?.img to the actual location in the restored process in in either mm-<PID>.img or pagemap-<PID>.img.

Only if

[2018-09-17 01:54] rst0git commented on #537
@bethven you can find some information about image files generated by CRIU in https://criu.org/Images

[2018-09-17 15:13] tswift242 commented on #544
@avagin Thanks for looking at this. I'll give it a try although I've never built or run runc before. If I need help I'll let you know.

[2018-09-18 14:47] dhoorens opened #556 "CRIU v.3.10 make failure on RHEL"
Hi
I've just tried the following
* Spin up the following RHEL instance (Red Hat Enterprise Linux 7.5 (HVM), SSD Volume Type) on AWS
* run the following:
[code]

As a consequence I get the following
[code]

uname -a gives the following:
[code]

and /etc/redhat-release is
[code]

I'm certainly missing something to make it work, but can't see what
Any idea?
Thanks

[2018-09-18 14:52] adrianreber commented on #556
You need protobuf-c-compiler. But RHEL already has CRIU as a package. Can't you use that one?

[2018-09-18 15:01] dhoorens commented on #556
It's because I wanted to take a look at criu-ns which apparently is only in criu-dev (https://github.com/checkpoint-restore/criu/issues/286#issuecomment-283941049)

[2018-09-18 15:09] adrianreber commented on #556
Not sure what you need it for, but it is only a script, so can just take it without building CRIU. Maybe.

[2018-09-18 15:13] dhoorens commented on #556
Ok so the idea would be to just
yum install criu
+ copy paste the script
?

[2018-09-18 15:19] adrianreber commented on #556
Probably worth a try: https://raw.githubusercontent.com/checkpoint-restore/criu/criu-dev/scripts/criu-ns

And if you need a newer CRIU there is a COPR with CRIU 3.9: https://copr.fedorainfracloud.org/coprs/adrian/criu-el7/

[2018-09-19 08:51] lovemyliwu opened #557 "Restore failed, can somebody explain the error message more convenient"
Version: 2.12.1
[code]

I find after some times retry, 1% rate chance to restore success.

[2018-09-19 14:12] adrianreber commented on #537
Did you try to restore with ```--shell-job```?

[2018-09-19 14:27] adrianreber commented on #557
Does the error also happen with newer CRIU versions? Could you maybe also share the complete log file and the kernel version you are using?

[2018-09-19 14:28] adrianreber commented on #556
Did it work? Can we close this?

[2018-09-19 14:29] dhoorens commented on #556
Hi @adrianreber , yes you can close it.
Thanks for your help

[2018-09-19 14:29] #556 closed

[2018-09-19 20:56] mrscottlake12 opened #558 "er ps"

[2018-09-20 02:30] lovemyliwu commented on #557
@adrianreber Sorry, that is the full complete log file, criu version is locked on 2.12.1 in our team, some practical reason I can't try newwe version.

linux kernel info:
[code]

[2018-09-20 06:49] adrianreber commented on #557
That does not look like a complete log. This is only the part generate by soccr.

[2018-09-20 22:45] avagin commented on #557
@lovemyliwu The error message doesn't contain any information about errno. Could you apply the next patch and show us a new log:
[code]

[2018-09-21 08:07] rst0git commented on #311
Resolved in checkpoint-restore@1d811bf2

[2018-09-21 14:42] lovemyliwu commented on #557
@avagin Ok, after Mid-Autumn Festival, I'll try it on work day. 😄

[2018-09-21 18:59] #311 closed

[2018-09-21 21:17] avagin commented on #557
@lovemyliwu have fun:)

[2018-09-24 01:39] ameytotawar opened #559 "CRIU in centos failed"
Docker version - 17.03.2-ce
CRIU version - 3.5

Created MySQL DB container checkpoint without any problem.
Restoring the same MySQL DB container gives following error -
(00.314199)pie: 1: vdso: DT_SYMTAB: 0x1a8
(00.314201)pie: 1: vdso: DT_STRSZ: 0x5e
(00.314203)pie: 1: vdso: DT_SYMENT: 0x18
(00.314206)pie: 1: vdso: nbucket 0x3 nchain 0xb bucket 0x7ffe593da128 chain 0>
(00.314206)pie: 1: x7ffe593da

[2018-09-24 04:38] adrianreber commented on #559
Which kernel and which operating system are you using?

[2018-09-24 04:51] ameytotawar commented on #559
I am using below kernel and OS -
Operating System: CentOS Linux 7 (Core)
CPE OS Name: cpe:/o:centos:centos:7
Kernel: Linux 4.12.4-1.el7.elrepo.x86_64
Architecture: x86-64

[2018-09-24 05:26] ameytotawar commented on #559
That is the server on which I need to work on.
Where can I get non CentOS CRIU?

[2018-09-24 05:30] adrianreber commented on #559
https://criu.org/Installation

[2018-09-24 05:36] ameytotawar commented on #559
So, do you mean to install CRIU from the package provided on criu.org website instead of installing the default package provided by CentOS?

[2018-09-24 05:38] adrianreber commented on #559
Yes, the CRIU in CentOS works only on CentOS. If you change CentOS, by installing a non-CentOS kernel, it does not work. Unfortunately now you have to do it manually.

Curious, why are you using the non-CentOS kernel?

[2018-09-24 10:13] bethven commented on #537
Hello, if I tried with --shell-job
But I do not know if I'm doing things right.
That is to say:
1.- I checkpoint with this instruction:
![im1](https://user-images.githubusercontent.com/38592479/45946962-d5842c00-bff2-11e8-9870-35a452239b4d.png)

In doing so, the program stops, as expected.
![im2](https://user-images.githubusercontent.com/38592479/45946985-e896fc00-bff2-11e8-89bc-65c04364a2bf.png)

[2018-09-24 10:37] rst0git commented on #537
Hi @bethven

Would be able to upload `restore.log`?

BTW: you need to pass `--tcp-established` on restore as well.

[2018-09-24 11:47] rst0git commented on #537
Ok, try the following:
[code]
what is the output in `restore.log`?

[2018-09-24 12:08] bethven commented on #537
Thank you !!!!!! many thanks !!!!! It worked, you do not know how much I thank you !! I already had several days in this. 👍 👍  I'm happy!!
This is a part of the output in restore.log:
![im8](https://user-images.githubusercontent.com/38592479/45951159-be4d3a80-c002-11e8-941f-dda3e2c04243.png)
Another question apologize, I can execute the ZDTM to trace these executions and these restart? It is that

[2018-09-24 15:27] adrianreber commented on #559
The original CentOS kernel has differences in AIO, which is handled by the CentOS CRIU. If you install a non-CentOS kernel the additional patch applied on the CentOS CRIU is suddenly wrong. So I still recommend to install to original kernel if possible.

If your containers processes do not use AIO it just works. It seems that mysql is suing AIO, however.

[2018-09-26 08:12] #537 closed

[2018-09-26 17:28] bethven opened #560 "Question about ZDTM test"
Hello, I would like to know if with the ZDTM Test of Criu I can use it to test my executions, I have read about it, but I still do not understand how it works.
I can use the ZDTM Test in my executions ?, that is, if I have an mpi app and checkpoint and restart can I see the I / O trace of each PID?
I understand that ZDTM has to see traces, because I executed the small example that they explain. Wh

[2018-09-26 17:39] adrianreber commented on #560
Not sure what you mean if you say 'ZDTM has to see traces' and which traces you are looking for.

ZDTM starts a tests, checkpoints the tests, greps through the logfiles for errors, restores the test and greps through the logfile for errors. It also watches the return results of CRIU and the test cases.

[2018-09-26 19:37] bethven commented on #560
hello, what I mean is if with "ZDTM and --sat (Generate CRIU strace-s for sat tool (restore is fake, images are kept))"
When I run an app with checkpoint and restore, if I can see the operations: open, close, write and read? that are generated when doing a checkpoint and a restore to my mpi app.
Thank you

[2018-09-26 20:03] adrianreber commented on #560
So if I understand it correctly you want to run CRIU under the control of strace, right?

Can you give an example of what you see and what you expect to see?

[2018-09-26 20:37] rst0git commented on #560
Hi @bethven

If I understand correctly you would like to see the open, close, write, read, etc. syscalls performed by CRIU when doing checkpoint and restore because you want to observe the I/O behaviour.

If this is the case, then you can try the following:
[code]

For example:
[code]

This [article](http://www.admin-magazine.com/HPC/Articles/HPC-Storage-I-O-Profiling) explains well how to profile

[2018-09-28 17:36] bethven commented on #560
Thank you @adrianreber and @rst0git,
I have already used strace to draw the checkpoint and restart, but it is not giving me the complete information, that is, observing the log file "dump.log" I see that the processes that execute the checkpoint are not doing the "write" operation shown in the trace file, since it changes the PID number.
That is, when I ran the app and the criu dump, and I did a "

[2018-09-28 19:47] tswift242 commented on #544
@avagin I'm having trouble testing the fix, probably because of my inexperience with runc. I've built runc and have created and started a busybox container based on the instructions in the runc repo's top level README. However, running runc checkpoint is giving me the criu error "Can't lookup mount=.. for fd=... path=...". Can you help advise me? What's the easiest way to test this? I believe I ha

[2018-09-29 07:53] adrianreber commented on #544
@tswift242: I am using runc very often to test checkpoint restore and it always works.
For my tests it is important to have redirect stdout and stdin.

My commands are like this:
[code]

[2018-09-29 10:52] avagin commented on #544
@tswift242 you can compile runc and bind-mount it into docker-runc
[code]

then just do your tests with docker

[2018-10-01 20:39] tswift242 commented on #544
@adrianreber @avagin Thanks for the help. The stdin/out redirect fixed the first error I was getting, and then I also needed to edit config.json to make sure certain things like the cgroup mount weren't readonly. After doing that, I got C/R to work with runc.

@avagin It looks like your patch fixes the issue. Attached is the restore log for a busybox container which was restored using a runc build

[2018-10-04 23:39] ffan168 opened #561 "iptables restore"
I am experimenting with docker checkpoint feature. I have a udp client program running in a container. It was able to run the container and send messages to an udp server outside of the container. I then took a checkpoint of the container. It seems to be OK by looking at the log. But when I tried to restore back to the checkpoint. The udp service didn't receive any messages. client program seemed

[2018-10-05 13:29] ffan168 commented on #561
I did the following sequence:
1) checkpoint create with leave-running
2) stop the container
3) start the container with checkpoint
So, no, I don't think it has 2 containers running.

[2018-10-05 15:55] ffan168 commented on #561
It didn't help. And I don't want to stop running while creating checkpoint. And I think it requires to stop the container prior to restore it.

[2018-10-05 18:15] adrianreber commented on #561
Could you provide the output of iptables -L also after checkpoint and after stop?

[2018-10-05 20:46] ffan168 commented on #561
I assume you mean running  checkpoint without --leave-running. It produces the same "iptables -L" output as with --leave-running. See above.

[2018-10-05 20:57] adrianreber commented on #561
Is it with or without the CRIU chain? Can you provide the full restore.log?

[2018-10-05 21:33] ffan168 commented on #561
This restore was using the iptables version 1.6.0, so it has the invalid option -w in it.
Even when I have iptables version 1.6.2, it got rip of that error, but it has the same problem as I described above.

Full restore.log
=========
(00.000041) Version: 3.10 (gitid 0)
(00.000074) Running on user1-VirtualBox Linux 4.13.0-36-generic #40~16.04.1-Ubuntu SMP Fri Feb 16 23:25:58 UTC 2018 x86_64
(00.00

[2018-10-10 14:19] rst0git opened #562 "userns: check that all namespaces were created from a target userns"
I was looking at the description of commit b414318.

What needs to be done to handle the use cases when one or more namespaces were created in another userns?

A simple example could be:
[code]

Which causes `criu dump` to fail with:

[code]

[2018-10-11 21:08] junjieshen opened #563 "Checkpointing inside a docker container failed"
Hello,

I was trying to run criu inside a docker container. However I got the following errors when checkpoint a process inside the container. Please note that the first few warnings also appeared when I did `sudo criu check`, which printed `Looks good` in the end.

[code]

After some digging and searching, it seems the problem is because of missing some required capabilities which docker has disa

[2018-10-12 06:59] adrianreber commented on #563
Do you get the same error messages with `--cap-add all`? Can you run CRIU with `-v4` and post the log?

[2018-10-12 15:01] avagin commented on #563
We run criu tests in docker containers. Here is a command what we use:

docker run --env-file docker.env --rm -it --privileged -v /lib/modules:/lib/modules --tmpfs /run criu-alpine scripts/travis/travis-tests

https://travis-ci.org/checkpoint-restore/criu/jobs/440479369

[2018-10-14 19:55] rst0git commented on #562
Is it OK to assume that assume that when /proc/self/{uid,gid}_map are not initialized the process is running with DEFAULT_OVERFLOW{UID,GID}?

man user_namespaces(7)
[code]

This will cover cases such as:
[code]

[code]

[2018-10-14 21:34] avagin commented on #562
It is ok, but I don't know how popular it is. If a process doesn't have a mapping for the root user, it means that there are no other namespaces which belong to this userns, doesn't it?

[code]

[2018-10-15 21:00] rst0git commented on #562
@avagin Thank you for this!

Yes, with `exit(0)` the dump is successful. The content of the userns image file is:

[code]
To enable the restore I applied the following:
[code]

But restore still fails:

[code]

[2018-10-16 02:32] avagin commented on #562
[code]

[2018-10-17 15:36] tswift242 commented on #544
@avagin can this fix be pushed to runc?

[2018-10-22 12:58] adityacloud1 opened #565 "Error: Snapshot dump failed: mount, fsnotify"
To start live migration using LXD my experimental setup is as follows:

Physical machine OS: Ubuntu 16.04
lxc --version 3.0.1
lxd --version 3.0.1
criu --version: 3.9
kernel --version: 4.15.0-29-generic
After successful installation of container named 'c1' i run the following command to save the current states of the container to disk:

 sudo lxc snapshot c1 checkpoint-2 --stateful
`Error: snapshot

[2018-10-23 01:55] avagin commented on #565
https://patchwork.kernel.org/patch/2825842/

[2018-10-23 02:03] avagin commented on #544
It is on my todo list...

[2018-10-23 09:01] adityacloud1 commented on #565
Sir thanks for the response, but still problem is not resolved

[2018-10-23 16:40] avagin commented on #544
@tswift242 I'm thinking that it may be better to fix this issue in criu. In this case, we will be able to deliver this bugfix to users much faster.  Could you try out this patch https://github.com/avagin/criu/commit/3fb1a8aa773ecc03a42edcd5deeee6288d2377c5?

[2018-10-23 21:13] tswift242 commented on #544
@avagin Yea moving the fix to criu should definitely get the fix to users sooner which would be awesome. Seems like the way to go.

I tried your patch but it didn't seem to fix the issue. The comounted controllers still seem to use the old roots.

[2018-10-25 07:11] adityacloud1 opened #566 "Error: Failed container creation: Container migration beween two LXD Servers"
Respected all,
_Greeting of the Day !!!._ I am trying to live migrate container ‘c1’ between 2 LXD servers, with apparmor security feature disabled and experimental setup is:

Physical machine OS: Ubuntu 16.04
lxc --version 3.0.1 (installed from source using: https://github.com/lxc/lxd)
lxd --version 3.0.1 (installed from source)
criu --version: 3.10 (installed from source)
kernel --version: 4.15.

[2018-10-26 06:56] avagin commented on #544
@tswift242 Thank you for testing. I uploaded a new version https://github.com/avagin/criu/tree/issues/544. In this case, I've checked it myself that it works as expected.

[2018-10-26 07:37] adrianreber commented on #566
At this point this sounds like a LXD error. No criu related errors so far.

[2018-10-26 08:29] adityacloud1 commented on #566
Thanks sir, for yours valuable response.

[2018-10-26 14:49] tswift242 commented on #544
@avagin Yep, the latest patch fixes the issue. Thanks!

[2018-10-28 06:01] avagin opened #567 "Error (criu/cr-restore.c:1433): 49 killed by signal 11: Segmentation fault"
[code]

Cc: @0x7f454c46 @cyrillos

[2018-10-28 06:14] avagin commented on #567
SEGV is received when criu is in arch_compat_rt_sigaction()

[2018-10-28 06:30] avagin commented on #567
[code]

[2018-10-29 06:04] lovemyliwu opened #568 "How to use scripts/criu-ns through RPC ?"
is it possible in RPC?

[2018-10-29 06:38] lovemyliwu commented on #568
try to solve pid mismatch error when restore

[2018-10-29 06:39] adrianreber commented on #568
But then you you just need to run the process in a PID namespace when you start it the first time. Doesn't that work for you?

[2018-10-29 07:03] lovemyliwu commented on #568
yes, manually run script work like a charm, but question is our code need auto run restore through RPC :smile:  Thank you answer my question, now the only approach is PID HOLDING.

[2018-10-29 07:03] #568 closed

[2018-10-29 15:08] avagin commented on #561
Could you check that a target process is restored in a host network namespace?

What output do you have for these commands:
ls -l /proc/1/ns/net
ls -l /proc/PID/ns/net

where PID is a process ID of a restored process

[2018-10-29 15:10] avagin commented on #561
Could you attach output for these commands too:
lsof -p PID
ss --socket=udp -a

[2018-10-29 16:32] #558 closed

[2018-10-30 14:05] juancampa commented on #401
I want to clarify, this isn't yet a priority for us so no progress has been made. If I start working on it, I'll post any updates here.

[2018-10-30 19:39] tswift242 commented on #544
@avagin While playing around with a criu build containing your fix for this issue, I believe I've found a regression in criu since version 3.10. When I use docker's C/R feature to checkpoint and restore a basic busybox container, the restored container exits right after the restore finishes with exit code 139, indicating a sigsegv was received. The restore itself is successful, so there's nothing

[2018-10-30 19:44] tswift242 commented on #567
Just found this. @avagin @cyrillos is this the same issue I describe here: https://github.com/checkpoint-restore/criu/issues/544#issuecomment-434441076

[2018-10-30 19:50] 0x7f454c46 commented on #567
Hi @tswift242, this one happens *during* restore, while what you describe seems to be *after*.
Could you add another new issue with information about kernel version, criu version and the architecture of the container (ia32/x86_64)?
Probably, full restore log might be helpful too.

[2018-10-30 19:51] 0x7f454c46 commented on #567
@tswift242 I think, also a tar-ball with criu images that are failing to be restored.

[2018-10-30 19:55] tswift242 commented on #567
@0x7f454c46 Gotcha. I've given full repro steps along with kernel version, OS version, criu build info, and architecture. Is that sufficient?

[2018-10-30 19:57] 0x7f454c46 commented on #567
@tswift242 yeah, if you have an archive with a snapshot *.img, and it doesn't contain any sensitive information - it would be worth to have. I think we've seen previously issues with missed page in a snapshot and it would be much easier to debug if there is tar archive.
Thanks!

[2018-10-30 20:09] cyrillos commented on #567
@tswift242 As to #544 -- hardly, the sigsegv should not be related to cgroups

[2018-10-30 20:32] cyrillos commented on #567
@tswift242 ah, i see.

[2018-10-31 12:49] planetA opened #569 "Restoring checkpoint with network namespace and VETH pair"
Hello,

I'm trying to checkpoint/restore a process running inside a network namespace with VETH pair. I also use CRIU in RPC mode, to save the checkpoint.

It seems that saving a checkpoint works OK, but when I try to restore it, I get an error from netlink.

I link the log for [dumping](https://gist.github.com/planetA/b9cfd3b9861fee1c19ea765e6dd8286b#file-dump-log) and for [restoring](https://gis

[2018-10-31 13:04] adrianreber commented on #569
I just did the same for a demo for last week's Open Source Summit:

https://asciinema.org/a/EsrabPHxK3oG33hcUaAzmkL03

But with CLI mode and not RPC. There is always the chance that RPC behaves differently or wrong.

But did you try it with CLI mode? It is interesting to see that you are trying to checkpoint a singularity container. I tried that maybe a year ago and it failed.

Can you run your te

[2018-10-31 14:44] tswift242 opened #570 "Restored process receives fatal sigsegv soon after restore when using build from latest master commit"
Copied from https://github.com/checkpoint-restore/criu/issues/544#issuecomment-434441076

I believe I've found a regression in criu since version 3.10. When I use docker's C/R feature with a criu build from the latest master commit to checkpoint and restore a basic busybox container, the restored container exits right after the restore finishes with exit code 139, indicating a sigsegv was received

[2018-11-01 09:11] adityacloud1 opened #571 "Contaier migration with LXD Build from source got stuck at " sending write barrier ""
Respected all,
Greeting of the Day !!!. I am trying to live migrate container ‘c2’ between two LXD servers,and experimental setup is:

Physical machine OS: Ubuntu 16.04
lxc --version 3.0.1 (installed from source using: https://github.com/lxc/lxd)
lxd --version 3.0.1 (installed from source)
criu --version: 3.10 (installed from source)
kernel --version: 4.15.0-29-generic

When I run command to migra

[2018-11-01 10:58] rst0git commented on #571
Hi @adityacloud1

The message `The other side does support pre-copy` is not an error. It indicates that the LXD has support [`pre-copy`](https://en.wikipedia.org/wiki/Live_migration#Pre-copy_memory_migration) optimisation.

From the information here I think that the issue might be in LXD rather than CRIU.
Could you please create an LXD issue including [log files](https://stgraber.org/2017/02/27/lx

[2018-11-01 15:47] adityacloud1 commented on #571
Respected sir,
lxd.log is not located anywhere, but log messages of /var/log/lxd/c2# gedit lxc.log are:
`lxc 20181101154157.771 TRACE    lxc_commands - commands.c:lxc_cmd_rsp_recv:136 - Command "get_state" received response
lxc 20181101154157.771 DEBUG    lxc_commands - commands.c:lxc_cmd_rsp_recv:160 - Response data length for command "get_state" is 0
lxc 20181101154157.771 DEBUG    lxc_commands

[2018-11-01 21:57] planetA commented on #569
The problem resolved easier than I thought -- I updated to the current master and the error went away. Thank you for the response anyway.

[2018-11-01 21:57] #569 closed

[2018-11-02 08:35] adityacloud1 commented on #571
Respected all,

Any comment please !!

[2018-11-03 08:49] cyrillos commented on #570
I'll take a look once time permit

[2018-11-03 19:50] avagin commented on #570
I can't reproduce this issue. I used a t2.micro ubuntu 16.04 instance.

[code]

[2018-11-03 19:53] avagin commented on #570
@tswift242 Could you try to run a zdtm test?
python test/zdtm.py run -t zdtm/static/env00

What amazon instance do you use?
Could you show /proc/cpuinfo for it?

[2018-11-03 20:34] cyrillos commented on #570
@avagin Andrew, I don't remember if I send you a fix https://src.openvz.org/projects/OVZ/repos/criu/commits/1920fe488456e663ac8000eb675b91c938051d1e

[2018-11-03 20:35] cyrillos commented on #570
But it may trigger if only we're restoring from old images.

[2018-11-03 20:37] cyrillos commented on #570
And can't cause SIGSEGV. From the commits @tswift242 mentioned I dont see what can cause SIGSEGV.

[2018-11-05 17:04] tswift242 commented on #570
@avagin @cyrillos You're right; looks like this is hardware specific. This issue reproduces for me on a t3 EC2 instance but NOT on a t2, using the same AMI. I've attached the contents of /proc/cpuinfo for both the t3 and t2. The t3 cpus are newer and have some extra flags, including some that seem like they could be related to the commits I mentioned above, such as "xsavec".
[cpuinfo_t2.txt](https

[2018-11-05 18:41] ffan168 commented on #561
Sorry for the late reply. I was not sure what is the process ID of the restored process. I assumed it is either the docker's daemon (pid 1103) or docker container's daemon (pid 1234). So I performed the commands on both pids.

#ls -l /proc/1/ns/net
lrwxrwxrwx 1 root root 0 Nov  5 09:25 /proc/1/ns/net -> net:[4026531993]

#ls -l /proc/1103/ns/net
lrwxrwxrwx 1 root root 0 Nov  5 10:07 /proc/1103/ns/

[2018-11-05 22:07] avagin commented on #567
https://github.com/checkpoint-restore/criu/commit/df4a069a7cf48b609dc8afe2b5a3ebe3f4dd1c5a

[2018-11-05 22:07] #567 closed

[2018-11-07 04:08] kolyshkin opened #572 "aarch64 build: libcompel.so.1.0: undefined symbol: __page_size"
This was reported privately on my G+ by Alexey Shabalin, he says that since 3.10 the build on aarch64 is broken:

(the above is taken from http://git.altlinux.org/tasks/216063/build/100/aarch64/log).

It looks like the relevant change was introduced by commit ffa1a03c8f11. Obviously I can't repro this on x86_64.

//cc @0x7f454c46

[2018-11-08 23:30] shaba commented on #572
Hi. I think  commit https://github.com/checkpoint-restore/criu/commit/2d965008d367455e792e0938dd13656a85dabf14 more relevant for this issue.
May be:
1)  delete
unsigned __page_size = 0;
unsigned __page_shift = 0;
in aarch64/crtools.c and ppc64/crtools.c
2) delete "extern" from
  extern unsigned __page_size;
  extern unsigned __page_shift;
in aarch64/asm/page.h and ppc64/asm/page.h

[2018-11-09 16:35] tswift242 commented on #570
@avagin It looks like it's a combination of specific hardware and kernel versions that reproduce the issue when using a criu build from after commit dd4c0c6b22d3e3ede23cff9ac43786f5f00948ec (e.g. criu 3.11).

Attached is the output of /proc/cpuinfo from the same t3.2xlarge instance type, but launched with an AMI that has kernel 4.15 instead of 4.4. Notice the cpu flags are different than in cpuinf

[2018-11-11 09:54] thomashusa commented on #510
I had the same issue using my Linux distribution's version of docker (18.09.0), but it worked after I tired building docker/moby from git, so I think this may be fixed.

[2018-11-12 11:04] adityacloud1 commented on #571
Respected all,
Any update to sort-out above stated issue.

[2018-11-12 19:19] 0x7f454c46 commented on #572
Hey,

Was on a vacation the last week.
@shaba, could you try this patch? https://github.com/0x7f454c46/criu/commit/f804846d2d6be3f4a1a45d7ab38b6b2f01a541ab
@adrianreber, could you try it on your setup with long pages, to make sure it doesn't break?

At this moment I don't have suitable env to check it, but Travis-CI aarch64/ppc64 build is passing, so it has chances to work properly.

Thanks,
Dima

[2018-11-12 20:38] shaba commented on #572
I was try build v3.11 with this patch and have another error:
verify-elf: ERROR: ./usr/lib64/libcompel.so.1.0: undefined symbol: opts
for both arch - x86_64 and aarch64.

Please see:
http://git.altlinux.org/tasks/216063/build/200/aarch64/log
http://git.altlinux.org/tasks/216063/build/200/x86_64/log

[2018-11-13 00:00] 0x7f454c46 commented on #524
Probably is fixed-by: https://lists.openvz.org/pipermail/criu/2018-July/042145.html

[2018-11-13 00:04] 0x7f454c46 commented on #572
@shaba, hmm, what if those two patches on a top of the previous?
https://github.com/0x7f454c46/criu/commits/__page_size-compel

[2018-11-13 00:27] adrianreber commented on #572
I actually tried to build 3.11 on aarch64 on Centos 7 and all active Fedora branches and there are now problems during the build. But the RPMs I am building are not running the verify-elf step. Would be interesting to know what actually happens during verify-elf? Maybe also something for CRIU CI.

[2018-11-13 04:49] avagin commented on #570
This cpu supports the compacted format of xstate and criu uses it to fill sigframe. The 4.4 kernel can't handle this format and this can be a reason why a process is segfaulted. I am not sure about this. @cyrillos  should know more about this.

[2018-11-13 04:49] avagin commented on #570
Cc: @0x7f454c46

[2018-11-13 07:09] cyrillos commented on #570
Well, the userspace API always use standard form, while kernel internally can use compacted one. Inside criu we always operate with standard format as well while trying to detect compacted form for debug reason. Still if I remember correctly there were various fixes for kernel code. Thus if it works for kernel-4.15 series I would suggest to simply stick with it.

[2018-11-13 10:35] adrianreber commented on #571
This does not look like a CRIU problem. Unfortunately not much we can do here for you. I would recommend talking to LXD about this. Closing for now. Please re-open if you have CRIU error logs.

[2018-11-13 10:35] #571 closed

[2018-11-13 10:40] shaba commented on #572
v3.10 with patch was build successfully.

[2018-11-13 15:57] adityacloud1 commented on #571
Thanks a lot sir for yours response

[2018-11-13 16:17] tswift242 commented on #570
@avagin @cyrillos Thanks for the info. I may be able to stick with kernel 4.15.x but as an fyi the 4.4 kernel + newer cpu combination may not be all that uncommon across different users. Kernel 4.4 is the default for cloud Ubuntu 16.04 images, and while I haven't confirmed this I'm guessing the issue reproduces for many (if not all) of the newer EC2 instance types. So instances like r5 and m5 in a

[2018-11-13 16:24] cyrillos commented on #570
I'll try to figure out more. I suspect there might be a case where we provide more modern xsave frame which kernel doesn't know about. This is a problem actually, I suspect it might indeed lead to sigsegv. The only option to handle such situation is to parse cpuinfo kernel provides :-(

[2018-11-13 17:55] cyrillos commented on #570
t3 machine has cpu with PKU feature, which we of course fetch and try to restore, but 4.4 kernel series doesn't handle it well. I think it is the reason of problem. Could you try kernel 4.5 somehow?

[2018-11-14 20:13] avagin commented on #570
I found that zdtm/static/env00 passes with the next patch on the 4.4 kernel. Now we need to explain this behavior.

[code]

[2018-11-14 20:13] avagin commented on #570
commit c8df40098451ba18a43f22b563c9129182353158
Author: Dave Hansen dave.hansen@linux.intel.com
Date: Fri Feb 12 13:02:04 2016 -0800

x86/fpu, x86/mm/pkeys: Add PKRU xsave fields and data structures

[avagin@laptop linux]$ git describe c8df40098451ba18a43f22b563c9129182353158
v4.5-rc4-78-gc8df40098451
[avagin@laptop linux]$ git describe c8df40098451ba18a43f22b563c9129182353158v4.5-rc4-78-gc8df4009

[2018-11-14 20:14] cyrillos commented on #570
I already pointed, that we're using bare metal features from cpuid, but seems the kernel is too old for such processors.

[2018-11-14 20:45] 0x7f454c46 commented on #570
Maybe detect it by the size returned with NT_X86_XSTATE?

[2018-11-15 15:51] cyrillos commented on #570
Features may have same size but different meaning. The only reliable way to find what exactly kernel supports is to parse `/proc/cpuinfo`, which I really don't want to do. Because `/proc/cpuinfo` has never been an ABI. As an option I think of adding an ability for user to disable some of features via command line.

[2018-11-15 15:52] cyrillos commented on #570
The case where criu is too modern for a kernel :-)

[2018-11-15 16:15] 0x7f454c46 commented on #570
Unfortunately, `X86_FEATURE_PKU` is not printed in cpuinfo.
In a long-term it might be more desirable either add it there or print features on some procfs knob, not only in init dmesg:
[code]

[2018-11-15 20:52] 0x7f454c46 commented on #570
The other way non-requiring a kernel patch (valid for older kernels) - would be a kdat test, which would assign some magic constants to extended states and check which are provided by Linux. Shouldn't be too hard.

FWIW, I also don't see a pkru zdtm test - it might not work now too ;)

[2018-11-16 09:38] #566 closed

[2018-11-16 09:38] adityacloud1 commented on #566
Problem gets resolved

[2018-11-16 09:39] adityacloud1 commented on #565
Problem gets resolved

[2018-11-16 09:39] #565 closed

[2018-11-17 13:37] phenix317 opened #574 "Dumping Failed when "efi" in /sys/firmware"
Hello,

It seems that we have found another problem during the dump part of the live migration, dump failed and the error showed in the log is:

Error (criu/mount.c:643): mnt: FS mnt ./sys/firmware/efi/efivars dev 0x1a root / unsupported id 110

The Hosting Machine information:
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.2 LTS
Release:	16.04
Codename:	xenial
kernel version: 4.4.0-62-generic (

[2018-11-19 11:56] adrianreber opened #575 "runc lazy-pages test case needs "readonly": false (Error (criu/mount.c:1119): mnt: Can't create a temporary directory: Read-only file system)"
The test case for lazy-pages in runc still needs:

[code]

Without this change I am seeing following error during dumping:
[code]

Is this something we can fix in CRIU?

[2018-11-19 16:18] cyrillos commented on #574
This is due to lack of support this FS in criu. I think you should try to point criu to consider such mount as external one https://criu.org/External_bind_mounts
cc: @avagin

[2018-11-19 16:58] adrianreber commented on #574
If CRIU does not handle it automatically this requires code changes to https://github.com/lxc/lxc/blob/master/src/lxc/criu.c

[2018-11-19 19:21] avagin commented on #575
Could you try the last version of criu? I think @Snorch fixed this problem.

[2018-11-19 19:42] adrianreber commented on #575
Latest criu-dev fails with for the lazy-pages runc test case:
[code]

[2018-11-19 19:55] adrianreber commented on #575
Oh, and I was able to remove the read-only from two test-cases. So I guess some of the fixes for read-only root are working. But this one (read-only: false) , only for the lazy-pages test, is still necessary.

Please also see https://github.com/opencontainers/runc/pull/1936 for the removal of `read-only: false` for two test cases.

[2018-11-20 14:40] cyrillos commented on #574
actually efivars is a special fs type. I'll take a look.

[2018-11-20 14:42] cyrillos commented on #570
All features more modern than plain AVX (ie ymm registers) were not tested simply because I don't have this kind of hardware.

[2018-11-20 14:46] cyrillos commented on #570
And also I wonder how libc happen to work on such machines. Last timer we were investigating xsave bug (due to frame size change) together with @avagin , we saw that libc has been using similar code to us -- they call for xsave with all bits set, ie they didn't rely on what kernel is supporting but rather fetching frame size from cpu directly.

[2018-11-21 09:13] debe commented on #565
So what is the solution on this? The patch above is from 2013, isn't it already merged into current kernels?
I've the same problem on a 4.17 kernel.

[2018-11-21 09:20] adityacloud1 commented on #565
Dear sir,
In my experimental test-bed case, dump problem is solved by disabling app-armor security feature.

`service apparmor stop
service apparmor teardown`

[2018-11-21 09:30] adrianreber commented on #565
The mentioned patch does not seem to be merged in the kernel. If you try another storage backend than btrfs it will probably work.

[2018-11-21 10:08] adityacloud1 opened #576 "Error transferring container data: When application benchmark is running in container"
Respected all,
Greeting of the Day !!!. I am trying to live migrate container ‘c1’ between 2 LXD servers, with apparmor security feature disabled and experimental setup is:

Physical machine OS: Ubuntu 16.04
lxc --version 3.7 (installed from source using: https://github.com/lxc/lxd)
lxd --version 3.7 (installed from source)
criu --version: 3.11 (installed from source)
kernel --version: 4.15.0-29-g

[2018-11-22 11:04] adrianreber commented on #576
The CRIU screenshot error looks like apparmor again and the second screenshot shows no error.

Please attach the log files directly without putting them into a .docx file.

The restore log looks successful. For me this seems like a collection of unrelated log files and screenshots. This is totally confusing and I have no idea what you are doing, and from where you have the log files. Why is the re

[2018-11-22 12:44] adityacloud1 commented on #576
Respected sir,
Thanks for the response.
1. I am out of station for three days,, will attach the log files on Sunday.
2. Actually, my target is to migrate lxd container when benchmark workloads are running, but it results in migration dump failed.
3. However, lxd container is successfully migrated when no workloads is running i.e in idle state.

[2018-11-22 15:23] adrianreber commented on #576
Okay, good to know. So migration works but not under load. If it is a CRIU problem the log files of the dump or restore would be most interesting.

[2018-11-22 17:14] adrianreber opened #577 "runc restore with host network disables networking"
Running runc restore on a container with host networking leaves a iptables DROP rules active after restore, blocking all network traffic. The corresponding unlock is not run.

This seems to be related to locking in cr-restore.c:
[code]

and unlocking in net.c
[code]

Both steps (lock and unlock) are wrapped with an `if`, but with different conditions.

As I am calling it from runc it could also be

[2018-11-22 17:18] adityacloud1 commented on #576
Yes sir, I will upload those log files on Sunday.
Now, I am out is station. My research setup not accessible.

[2018-11-26 05:36] adityacloud1 commented on #576
Respected sir,
Greetings of the day !!!
1. Container migration under load gives error:
`EROR[11-28|10:56:01] Rsync send failed: /var/lib/lxd/containers/c1/: exit status 24: file has vanished:`
Screenshot is:
![screenshot from 2018-11-28 10-54-38](https://user-images.githubusercontent.com/40225508/48994817-2a672e80-f16b-11e8-9527-9367b1f9eb00.png)
2. **dump log file** attached is here:
[migration_d

[2018-11-26 08:55] adrianreber commented on #576
What is running in you container?

Please also attach the LXD log file.

From what I see I would say that during the initial rsync of the file system, before CRIU starts the process dumping, files are changing and therefore rsync fails. This is just a guess, as I would need the complete LXD log file. But if this is true, then it would need a different rsync handling in LXC to ignore/skip vanished

[2018-11-26 09:58] rst0git commented on #576
I noticed the following error message in the dump log file:
[code]
the comment of Tycho [here](https://github.com/lxc/lxd/issues/2522#issuecomment-254711481) was:

@adityacloud1 What happens if you try again?

[2018-11-26 15:17] adrianreber commented on #576
The errors with the vanishing files could be difficult to fix. If you are compiling LXD yourself you could try to find the place where rsync is started and then add `--ignore-missing-args` which should ignore any errors due to missing file. As a final rsync will be done once the container is quiesced, it should not be a problem.

Maybe try a workload which does not change the filesystem that much

[2018-11-27 00:17] rst0git opened #578 "Handling invalid options in config file"
Currently, if we set an invalid option in a configuration file (e.g. `/etc/criu/default.conf`) CRIU will fail as follows:

[code]

Which causes `runc` to fail:
[code]

One way to handle such options could be to refactor `parse_config()` to ignore them and log a warning message.

@adrianreber what do you think?

[2018-11-27 06:47] adityacloud1 commented on #576
Respected sir,
thanks for yours valuable suggestions. I tried the followings:
1. For the workloads like Apache web-server, lmbench, which does not change filesystem `Rsync send failed`**error does not occur.**

2. By **disable pre-copy migration**, LXD works with same  `Rsync send failed` error.

3. To add  `--ignore-missing-args` in rsync,  explored [https://github.com/lxc/lxd/blob/master/lxd/rsy

[2018-11-27 07:07] adrianreber commented on #578
If running via RPC CRIU should not fail like this, you are right. RPC provides a mechanism to return the last error. Either we should return the parsing error via RPC to the RPC client (runc) or we should just write it to the log file and not fail. Log file writing is a bit difficult as the parsing will happen before setting up logging, so we need store the logging messages somewhere and write the

[2018-11-27 19:34] edgarmarkosov opened #579 "LXD live migration dump failed, dhclient process id"
# Required information

* Distribution: Ubuntu
* Distribution version: 16.04
* The output of "lxc info" or if that fails:
   * Kernel version: 4.15.0-1019-gcp
   * LXC version: 2.0.11
   * LXD version: 2.0.11
* Storage backend in use: zfs

# Issue description

Live migration on stateful snapshot creating not working. Errors are:
[code]
4125 is dhclient process id.
Tested with CRIU version 2.6 and

[2018-11-28 10:47] adrianreber commented on #579
This sounds like the well known apparmor problem. Unfortunately you have to disable apparmor.

[2018-11-28 10:49] edgarmarkosov commented on #579
Just stop it and start after migration?

[2018-11-28 12:44] adrianreber commented on #579
I have never experienced it myself. But from other tickets here I remember that it has to be stopped on the host and in the container.

[2018-11-28 15:00] #579 closed

[2018-11-28 15:17] adrianreber commented on #577
@avagin any ideas?

[2018-11-28 15:18] adrianreber commented on #578
@rst0git I am working on a fix.

[2018-11-28 21:11] avagin commented on #577
network_unlock_internal() should be called only if a network namespace is restored. Could you try this patch:

[code]

[2018-11-29 03:01] kolyshkin commented on #572
This should be fixed by https://patchwork.criu.org/series/3204/

[2018-11-29 09:18] adrianreber commented on #577
@avagin with that patch CRIU does not run iptables-restore at all during checkpoint and restore. Works for me.

[2018-11-29 14:39] cherieLi opened #580 "How to use CRIU with MPI?"
When I try to set a CRIU checkpoint for a MPI program, there are errors like these:
Warn  (criu/arch/x86/crtools.c:133): Will restore 25766 with interrupted system call
Warn  (criu/arch/x86/crtools.c:133): Will restore 25767 with interrupted system call
Error (criu/files-reg.c:660): Can't dump ghost file /dev/shm/mpich_shar_tmpd1Mvam of 8522576 size, increase limit
Error (criu/cr-dump.c:1210): Col

[2018-11-29 15:47] rst0git commented on #580
Hi @cherieLi the error here is `Can't dump ghost file .. of 8522576 size`.

Try to use `--ghost-limit` on dump (e.g. `criu dump --ghost-limit 100M ...`)

You can find more information about this option in https://criu.org/Invisible_files

BTW: Which version of CRIU is this?

[2018-11-29 15:53] avagin commented on #577
This was broken in this commit:
[code]

[2018-11-29 16:20] adityacloud1 commented on #576
Respected sir,
thanks for yours valuable suggestions. I tried the followings:
1. For the workloads like Apache web-server, lmbench, which does not change filesystem `Rsync send failed`**error does not occur.**

2. By **disable pre-copy migration**, LXD works with same  `Rsync send failed` error.

3. To add  `--ignore-missing-args` in rsync,  explored [https://github.com/lxc/lxd/blob/master/lxd/rsy

[2018-11-29 16:21] adityacloud1 commented on #576
Respected @adrianreber, any comment please for the downtime measurement.

[2018-11-29 19:09] adrianreber commented on #576
Measuring container downtime during migration is really hard.The problem is that neither CRIU nor LXC/LXD give you an exact timestamp when the container is stopped. Even if you have such a flag (it would be easy to add to CRIU's stats-dump) it does not really help as the clocks of the involved system would need to be synced. So it depends how good you can sync the clocks of the involved systems.

[2018-11-30 01:55] cherieLi commented on #580
@rst0git  I have solved it by using --ghost-limit on dump.   I really appreciate it.  The version of CRIU is 2.6.

[2018-11-30 03:59] adityacloud1 commented on #576
Respected sir,
Thanks for yours reply

[2018-11-30 03:59] #576 closed

[2018-11-30 11:31] cherieLi commented on #580
@adrianreber No other problems. Of course, close it.

[2018-11-30 11:33] adrianreber commented on #580
@cherieLi cool, let us know if there are any other problems.

[2018-11-30 11:33] #580 closed

[2018-11-30 22:55] #541 closed

[2018-11-30 23:10] avagin commented on #560
@bethven I don't understand which process you want to trace. Do you want to trace criu processes? Do you want to trace processes when they are being dumped and restored?

If you want to trace criu processes, you can use strace. But if you want to trace processes when they are being dumped, you can't use strace, because criu and strace use the ptrace kernel interface, which doesn't support multiple

[2018-11-30 23:11] avagin commented on #532
Cc:  @xemul

[2018-12-02 22:43] bethven commented on #560
@avagin Hi, Thank you very much, I will try with perf trace, I did not know it.

[2018-12-04 07:55] #572 closed

[2018-12-08 11:26] planetA opened #581 "Fail to restore on the same node"
Hello,

I'm running a process tree inside a network and pid namespace and try to checkpoint, restore it on another node, checkpoint it again and restore the process tree on the original node. Unfortunately, the last operation fails if I restore with something around 5 minutes before the first checkpoint operation.

The problem seems to be connected to an attempt to restore the ip address of the lo

[2018-12-08 13:32] rst0git commented on #581
Do you mean 5 minutes **after** the first checkpoint?

The error message `(criu/util.c:1563): Can't wait or bad status: errno=0, status=65280`
indicates that `__prepare_net_namespaces` returns `-1` but I am not sure what is the exact reason.

[2018-12-09 15:00] planetA commented on #581
@rst0git I'm at f25f9d57 And I mean 5 minutes after the first checkpoint.

The first message in the log that differs from the normal restart is the first occurrence of "RTNETLINK answers: File exists"

[2018-12-10 06:05] avagin commented on #581
This error is reported by restore_nf_ct(CR_FD_NETNF_CT) or  restore_nf_ct(CR_FD_NETNF_EXP).

Could you show sizes for netns-ct-* and  netns-exp-* images?

This error is reported by call_in_child_process(), because __prepare_net_namespaces exited with error.

[2018-12-10 06:05] avagin commented on #577
@adrianreber can we close this issue?

[2018-12-10 10:43] planetA commented on #581
It is returned by `restore_nf_ct(nsid, CR_FD_NETNF_CT)`

[code]

True.

[2018-12-11 06:24] xiechao4 opened #582 "checkpoint android ashmem memory space"
hi
i am trying to checkpoint-restore a android process, but it failed to checkpoint ashmem space.
it reports errors at
criu/proc_parse.c         if (is_anon_shmem_map(st_buf->st_dev)) {
                                          if (!(vma_area->e->flags & MAP_SHARED))
                                              goto err_bogus_mapping;
the vma is
12c00000-1322e000 rw-p 00000000 00:05 32427

[2018-12-11 09:03] rppt commented on #582
CRIU lacks support ashmem mappings.

There was a discussion about it a while ago (https://lists.openvz.org/pipermail/criu/2016-March/026892.html, https://lists.openvz.org/pipermail/criu/2016-April/027138.html), and since then nothing really changed :(

AFAIK, nobody works on adding ashmem support to CRIU, so you are welcome to add it :-)

[2018-12-11 14:30] adrianreber commented on #577
Yes, just verified it once more, it is fixed.

[2018-12-11 14:30] #577 closed

[2018-12-15 16:49] ramikhateeb opened #583 "[Question] What memory pages' types does CRIU dump when checkpointing a process?"
I'm trying to study CRIU tool (Behavior & Source code) to use it in my research study. But I've got confused about two points:

1. Does CRIU dump all memory pages regardless of their type? Does it dump file mappings and the read-only ones?
2. Does CRIU use a kind of compression to reduce the resulting image files size? because I noticed a considerable reduction of the images size compared to the s

[2018-12-15 17:13] rst0git commented on #583
Hi @ramiissat it is great to see that you have an interest in CRIU. A good starting point for your study are the following wiki pages:
* https://criu.org/Checkpoint/Restore
* https://criu.org/What_cannot_be_checkpointed
* https://criu.org/Memory_dumping_and_restoring
* https://criu.org/Memory_dumps
* https://criu.org/Images
* https://criu.org/Invisible_files
... and most of the pages in the catego

[2018-12-16 00:53] ramiissat commented on #583
Thank you @rst0git , I've already checked out the links you have mentioned, but I'll give them another review in case I missed something, then return back to this thread. Thanks.

[2018-12-16 08:59] marekzmyslowski opened #584 "[Question] Restore - directory permissions issue"
Hi,
I have an application /work/example/test. I'm doing the dump and then trying to restore it inside the docker (it is my own docker).
1. Can I restore it in totally different path (for example /local/bin/test)?  If not:
2. When  I create the same directory structure inside my docker I have the following error:
`File work/example has bad mode 040755 (expect 040775)`
I know that this is related to

[2018-12-16 09:32] adrianreber commented on #584
With the help of 'crit' you decode and encode the image files CRIU uses to write the checkpoint to disk. So you could try to change information in the image file.

No, there are not options for that. But this is probably also something which you change in the image files using `crit`.

[2018-12-16 09:56] rst0git commented on #584
As Adrian already mentioned, you can use the `crit` tool to modify `files.img`.
For example:
[code]

[2018-12-18 17:00] avagin commented on #583
CRIU dumps non-zero pages of private and shared anonymous mappings, dirty pages of private file mappings.

How do you calculate the summation of memory pages' sizes.  Do you analize /proc/*/smaps?

[2018-12-18 17:04] avagin commented on #581
Could you show /proc/PID/net/nf_conntrack and /proc/PID/net/nf_conntrack_expect for the target netns?

[2018-12-18 17:08] planetA commented on #581
@avagin At what moment?

[2018-12-18 17:43] planetA commented on #581
Before I make the first dump these files for the "init" process of the namespace are empty. When I move the process to another node, the init process on another node hase following contents:

[code]

[2018-12-18 17:51] planetA commented on #581
BTW, I identified that either of `restore_nf_ct(CR_FD_NETNF_CT)` and `restore_nf_ct(CR_FD_NETNF_EXP)` can return an error -- depends on how I run it in the debugger.

[2018-12-19 10:21] marekzmyslowski opened #585 "[Question] tun issues while restoring"
Hello,
When I'm doing the dump, on my PC there is an OpenVPN interface /dev/net/tun. Later, I'm trying to restore inside docker container where this interface doesn't exist. Of course the "--privileged" option for docker run solves that issue but I was wondering if there is a different way so I don't need to use it (no to dump tun, create manually)?

Regards
Marek

[2018-12-19 11:04] adrianreber commented on #585
Are you checkpointing OpenVPN outside of a container and then restoring into a container? To successfully dump tun device you need to have a network namespace. How is the initial tun device created?

[2018-12-19 11:12] marekzmyslowski commented on #585
Yes

It was created by the Open VPN. I didn't do anything manually.

`Warn  (criu/net.c:2840): Unable to get socket network namespace
Error (criu/tun.c:85): tun: Unable to create tun: No such file or directory
Warn  (criu/sk-unix.c:229): unix: Unable to open a socket file: Bad address
Error (criu/net.c:3131): Unable create a network namespace: Operation not permitted`

[2018-12-19 14:06] marekzmyslowski commented on #585
BTW I'm not checkpointing OpenVPN. I'm checkpointing simple shell application.

[2018-12-19 16:05] planetA commented on #581
I figured out that the function that reports the error is `ctnetlink_change_status`, when it compares status against constant `IPS_ASSURED`. At this point `d == 4 == IPS_ASSURED`, and `status == 10 == IPS_CONFIRMED | IPS_SEEN_REPLY`,

Here is the backtrace:

[code]

The source lines correspond to the 4.18.10 kernel with debian patches, that I got using `apt-get source linux-image`.

[2018-12-19 17:37] adrianreber commented on #585
So, what has the shell script to do with OpenVPN. I do not really understand what you are trying to do.

[2018-12-19 17:39] avagin commented on #581
@planetA Good work! Could you report this issue into the netdev mailing list? I think this is a kernel issue. CRIU uses a standard kernel API to dump and restore conntrack entries. CRIU saves these entries in a raw format without any changes.

[2018-12-19 17:57] planetA commented on #581
@avagin Done

[2018-12-19 21:01] marekzmyslowski commented on #585
So on my regular Ubuntu system I have a simple app (few line of C code that do only print). To create checkpoint:
1. Run the application and stop it in the middle with SIGSTOP
2. Do the snapshot with
`criu dump --manage-cgroups --shell-job -s -D /work/test  -t 1234`

Then I'm trying to restore the job inside docker container
1. Run the docker
`docker run --rm -it   -v /work/:/work/ ubu`
2. Restore

[2018-12-20 07:48] adrianreber commented on #585
Not really sure what `--privileged` does, but it sounds like you are missing privileges to create the necessary network namespace properties. Maybe using CRIU with:
[code]
could work. To join the existing network namespace. You could also run `criu check` to see if CRIU thinks the privileges in the container are actually enough. But, as mentioned, not sure what is missing when running without `--p

[2018-12-20 09:23] planetA commented on #581
Some more info on the network. This [comment](https://github.com/checkpoint-restore/criu/issues/581#issuecomment-448307108) shows contents of nf_conntrack for the init process.

Address `172.16.1.1` refers to the container that was migrated. Addresses `172.16.1.2` and `172.16.1.3` refer to other containers. Address `172.16.0.130` is the address of the bridge in the host system. The bridge can acce

[2018-12-20 11:55] rst0git commented on #585
The `--privileged` flag gives all capabilities to the container.
@marekzmyslowski if you don't want to use this flag, you can play around with the docker's `--cap-add` option to enable only the required capabilities.

[2018-12-20 14:21] marekzmyslowski commented on #585
@rst0git I did experiments and they show that it is not the same (in the first case the app was restored):
marian@:/work$ docker run --rm -it  --privileged  -v /work/:/work/ ubu
root@80b7deda6635:/work# criu restore -d -D /work/checkpoints/test1 --shell-job
Warn  (criu/net.c:2867): Unable to get tun network namespace
Warn  (criu/kerndat.c:881): Can't keep kdat cache on non-tempfs
root@80b7deda6635

[2018-12-20 17:21] planetA commented on #581
Another potential issue can be that the problem exists already in the checkpoint. I noticed that bit `IPS_ASSURED` is set very short before it is checked in the aforementioned backtrace.

The backtrace of a place where the bit is *set* is following:

[code]

If I go a bit up the backtrace, I see that `IPS_ASSURED` is set in `cda[CTA_STATUS]` already:

[code]

This means that the status is set by `

[2018-12-20 18:04] avagin commented on #581
The tool is crit, but it can be used for criu protobuf images. netnf-ct-* images are in a netlink format, so crit can't be used for them.

[2018-12-20 18:07] avagin commented on #581
You can try to use  https://pypi.org/project/libnl/

[2018-12-21 03:51] avagin commented on #581
Here is a patch to show conntrack-s on dump:
https://github.com/avagin/criu/commit/376a2af781054e2bef7649e5037ab1abc68715c0

[2018-12-21 10:54] planetA commented on #581
The result:

[code]

If I understand it correctly, status `0e000000` means `IPS_ASSURED` is on, and `0a000000` is off.

[2018-12-23 22:18] marekzmyslowski commented on #585
@rst0git  It helped but it is not a solution.
After a reading a lot and few experiments I decided that I'm not able to run this without privileged mode.
Thank you for your help @rst0git  @adrianreber . I have another question but I think new thread will be better.

[2018-12-23 22:18] #585 closed

[2018-12-23 22:24] marekzmyslowski opened #586 "[Question] tty + docker + kubernetes"
I'm trying to restore the image inside docker on the kubernetes. I'm almost there except this:
`98: Error (criu/tty.c:1016): tty: Don't have tty to inherit session from, aborting
    98: Error (criu/files.c:1203): Unable to open fd=0 id=0x4
`
Anyone know how to fix this?

Regards
Marek

[2018-12-24 13:43] rst0git commented on #586
@marekzmyslowski I think you need to pass `-j` (`--shell-job`) on restore.

[2018-12-24 14:19] rst0git commented on #586
Just to mention. If you get errors of the type:
[code]
This is because some files in the container's root file system are not the same (i.e. have different size) from the ones in the environment where the checkpoint was created.

Assuming that you are creating a checkpoint of a process on the host and restoring inside a container, the proper solution would be to make sure that both environments (i

[2018-12-24 17:31] xemul commented on #586
@marekzmyslowski , can you drop me an email? I'd like to introduce you to another guy interested in k8s pods migration and asking me if there's anybody else playing with it :)

[2018-12-24 19:12] avagin commented on #581
You are right.

[2018-12-24 21:31] marekzmyslowski commented on #586
@xemul  - It is marekzmyslowski@poczta.onet.pl
@rst0git - with "-it" it works but the trick is not to use it. Kuberenetes doesn't run the dockers with interactive console.

[2018-12-24 22:17] rst0git commented on #586
In such case, would it be possible to deattach the process from the tty upon start?
Similar to the _simple loop_ example:
[code]

[2018-12-27 14:00] wangzhao123456 opened #587 "Cannot checkpoint container: rpc error: code = 2 desc = exit status 1: "criu failed: type NOTIFY errno 0""
Hi, everyone
I am trying to checkpoint/restore my container that is running google Chrome browser, and I got checkpoint problem.
The environment and error log is described as follows:

# uname -a
Linux ubuntu 4.4.0-31-generic #50~14.04.1-Ubuntu SMP Wed Jul 13 01:07:32 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

# docker version
Client:
 Version:      17.06.0-ce
 API version:  1.30
 Go version:   go1.

[2018-12-27 14:05] wangzhao123456 commented on #587
[dump.log](https://github.com/checkpoint-restore/criu/files/2712576/dump.log)
The above is the dump.log file. Thanks

[2018-12-27 14:06] wangzhao123456 commented on #587
[dump.log](https://github.com/checkpoint-restore/criu/files/2712580/dump.log)
The above is the dump.log file .  Thanks.

[2018-12-28 01:41] aalsudais opened #588 "Can't dump a Snort process (with raw sockets)"
Hello all,

I'd been running Snort in an IDS mode (passive) and I was able to checkpoint/restore it successfully. However, when I configured Snort to run in the inline mode (nfq, which uses raw sockets to connect to an iptables queue), I get an error whenever I try to dump that process.
I'm using CRIU 3.11.

Here's the output of `sudo criu dump -R -v3  --ext-unix-sk -t $SNORT_PID`:
`
Warn  (criu/a

[2018-12-28 06:49] adrianreber commented on #588
Where do you see that CRIU supports raw sockets in the documentation? As far as I know raw sockets were always one of the things CRIU did not support.

[2018-12-28 06:57] adrianreber commented on #587
You can easily create the directory with `mkdir /etc/criu`. But the main problem will be that it is a GUI application.

[2018-12-28 09:06] rst0git commented on #588
https://github.com/checkpoint-restore/criu/commit/d278229880f7b8160f527c03357f1ae76432218c (inet: raw -- Add checkpoint and restore of raw sockets)

and indeed `IPPROTO_RAW = 255`. Perhaps @cyrillos could help here.

[2018-12-28 19:04] avagin commented on #587
[code]

[2018-12-28 21:03] aalsudais commented on #588
For some reason, the version I was using was not the same as the latest version on git. I apologize about that. Even when I cloned the latest git version, I couldn't dump the Snort process. However, the error now is different.
Here's the output of the dump command:

Thanks for the replies, @adrianreber and @rst0git

[2018-12-28 21:11] cyrillos commented on #588
upload raw diag kernel modules. there was an error in kernel which prevents them from being loaded. `modprobe raw_diag` and `modprobe raw6_diag` if I remember these modules names correctly

[2018-12-29 01:32] wangzhao123456 commented on #587
Thanks for your help!

[2019-01-01 04:41] harishanand95 opened #589 "[Docker] shows connected TCP socket after adding tcp established in conf"
I am getting a docker checkpoint error as

(00.685936) Error (criu/cr-dump.c:1347): Dump files (pid: 11246) failed with -1
(00.698151) Error (criu/cr-dump.c:1732): Dumping FAILED.

Full log:
https://termbin.com/dx4c

The criu (version 3.11 used) config file has the following parameters,
`cat /etc/criu/default.conf`
tcp-established

`sudo lsof -p 11246`

rosmaster 11246 root  cwd    DIR  0,180

[2019-01-01 07:56] rst0git commented on #589
Adrian's PR (https://github.com/opencontainers/runc/pull/1933) for CRIU's configuration file support has not been merged yet into runc. Could try to install runc from his fork?
[code]

[2019-01-01 07:57] harishanand95 commented on #589
Ok, thanks

[2019-01-01 08:01] rst0git commented on #589
Then you should add the tcp-established option with:
[code]

[2019-01-01 08:45] harishanand95 commented on #589
@rst0git  Sorry to bother you, I am getting failures when I attempt to get adrians runc repo
[code]

[2019-01-01 09:06] harishanand95 commented on #589
@rst0git Got it working, I cloned adrian repo.

[2019-01-01 09:48] harishanand95 commented on #589
@rst0git great. Both the checkpoint and restore worked fine.  I'm now facing the following error,

```OCI runtime exec failed: exec failed: container_linux.go:344: starting container process caused "apparmor: config provided but apparmor not supported": unknown```

whenever I run `docker exec -it 78e19c8b939d bash`

[2019-01-01 10:07] rst0git commented on #589
@harishanand95 I think that you need to build runc with Apparmor support:
[code]

[2019-01-01 10:09] harishanand95 commented on #589
ah! makes sense. Let me try that

[2019-01-01 19:17] harishanand95 commented on #589
Great it worked. Thanks @rst0git

[2019-01-02 09:07] marekzmyslowski commented on #586
@rst0git  Thanks for the hint. It worked. I was able to run the code under the Kuberenetes.
Thank you for the help and all the best in New Year :)

[2019-01-02 09:07] #586 closed

[2019-01-02 11:19] rst0git opened #590 "Set loopback device up on restore"
When CRIU restores a runc container with enabled network namespace the loopback device is left inactive.

For example:
[code]
Unfortunately, this is causing the restore of a runc container that is running application connected to `127.0.0.1` to fail with:
`Error (soccr/soccr.c:529): Can't connect inet socket back: Network is unreachable`

I noticed that in the ZDTM test cases we explicitly set thi

[2019-01-02 23:07] pavanagrawal123 commented on #534
@montekki I was wondering if you were ever able to get started on this? Do you have any other information that you can share that can hopefully make this possible?

[2019-01-03 01:39] harishanand95 commented on #589
I was able to checkpoint correctly in one machine, but I have the following error on another machine.
[code]
runc criu conf

[code]
@rst0git I tried giving ghost limit a very high value and I was still getting the following error
http://paste.ubuntu.com/p/B3c4YzW448/

[2019-01-03 02:04] avagin commented on #589
Cc: @adrianreber

[2019-01-03 07:54] adrianreber commented on #589
@harishanand95 Are you also using my runc version on the other machine? Can you also share the dump.log from the system where it works?

[2019-01-03 10:41] rst0git commented on #589
@harishanand95 Can you try with `ghost-limit 100M`?

[2019-01-03 18:38] harishanand95 commented on #589
I tried adding ghost-limit to `/etc/criu/runc.conf`, it still showed same error. But checkpoint worked when I added ghost-limit to `/etc/criu/default.conf`.

[2019-01-03 19:37] adrianreber commented on #589
`/etc/criu/runc.conf` only works if you take `runc` from https://github.com/opencontainers/runc/pull/1933. Upstream `runc` does not yet support `/etc/criu/runc.conf`.

[2019-01-03 19:39] harishanand95 commented on #589
[code]

[2019-01-03 19:39] harishanand95 commented on #589
I'm confused. Is it the upstream or the version from your repo?

[2019-01-03 20:38] avagin commented on #589
it is the version from @adrianreber 's pr:
https://github.com/opencontainers/runc/pull/1933/commits/403986c5dd078a9d528794aee0b38dc742ee072b

[2019-01-04 04:11] harishanand95 commented on #589
@avagin I am facing another issue. bash and few other process (gazebo which i'm working on) stores the hostname in memory.

Let create a test container
[code]

Now doing a checkpoint and restore on a new container `test1`
[code]
Bash seems to store the hostname `5deec115a79c` in new container clones as well. Any ideas on how to fix this?