[2017-08-01 09:23] blondita opened #371 "docker checkpoint error"
Hi, i'm using rancherOS for testing in container live migration i'm trying looper container example when checkpointed the container:

 docker checkpoint create looper checkpoint1

i've this error:

Error response from daemon: Cannot checkpoint container looper: rpc error: code = 2 desc = exit status 1: "criu failed: type NOTIFY errno 0\nlog file: /var/lib/docker/containers/4ab5f9875d1ed050de60b4e2

[2017-08-02 00:52] avagin commented on #369
criu is called from dockerd. Could you show output for cat /proc/`pidof dockerd`/environ?

[2017-08-02 01:09] avagin commented on #370
Pls, take a look at criu_local_restore_child()
https://github.com/xemul/criu/blob/master/lib/c/criu.c#L1378

[2017-08-02 01:14] avagin commented on #371
Could you show a content of /var/lib/docker/containers/4ab5f9875d1ed050de60b4e2f0652006511aff4d479fdf153817da06bc612f64/checkpoints/checkpoint1/criu.work/dump.log?

[2017-08-02 01:18] xubo123 commented on #371
Hi,guys,how you perform the live migration of docker container,can you show me the steps of live migration?thanks a lot .

[2017-08-02 05:29] avagin commented on #368
The 103 process hangs
[code]

[2017-08-02 06:05] giper45 commented on #369
Hi @avagin it was a system environment path problem as discussed in https://github.com/coreos/docs/issues/1128 .
Thanks anyway for the answer!
Now I try to request coreos staff to natively integrate criu in coreos packages, so it can be installed in coreos easily and without any hack.

[2017-08-02 06:05] #369 closed

[2017-08-02 06:11] avagin commented on #368
@xaviermerino, could you show /proc/self/mountinfo from the host and a container config?

[2017-08-02 06:50] avagin commented on #367
@pallelagnanadeep you have to file this issue to the p.haul repo: https://github.com/xemul/p.haul/issues

[2017-08-02 06:50] #367 closed

[2017-08-02 18:41] blondita commented on #371
It give this error:
(00.159409) mnt: Path `/sys/firmware' resolved to `./sys/firmware' mountpoint
(00.168708) Error (criu/util.c:652): exec failed: No such file or directory
(00.169253) Error (criu/util.c:666): exited, status=1
(00.169270) Error (criu/mount.c:1202): mnt: Can't dump tmpfs content
(00.169403) Unlock network
(00.169411) Running network-unlock scripts
(00.169415) 	RPC
(00.189671) Unfr

[2017-08-02 19:59] avagin commented on #371
@blondita you need to install "tar"
https://www.gnu.org/software/tar/

[2017-08-04 23:53] avagin opened #372 "session04 hangs"
[code]

[code]

[2017-08-04 23:55] avagin commented on #372
To: @Snorch

[2017-08-05 23:13] avagin commented on #351
Here is a prototype https://github.com/avagin/criu/tree/process_vm_readv

[2017-08-05 23:30] avagin commented on #351
If we use sys_read_process_vm(), we can't dump memory which are not accessible to read. Currently we call add PROT_READ by mprotect(),  add pages into pipes, and restore vma_prot.

[2017-08-06 10:41] sinainnet commented on #370
Thanks a lot.
May I ask further questions?

1) In the Ubuntu pre-build package, the header files does provide the any facility for using RPC. Indeed, I've ought to implement the criu.c again in my code!!! I think that Ubuntu packaging is poor, indeed.

2) My business includes a self-checkpointing and self-restoring! I mean, the same command (with different options) is used for dumping and restorin

[2017-08-07 06:09] avagin commented on #351
Here is a draft version of sys_process_vmsplice: https://github.com/avagin/linux-task-diag/commit/35420bd6d4a5305f6bf39ec002f0e5d31708280a

[2017-08-07 19:13] xemul commented on #359
@jvlatzko the answer is, well, complex :) So the ability to drop the established TCP sockets is in 3.3 (https://criu.org/CLI/opt/--tcp-close), but this behavior should be explicitly enabled. There are two options to do it, first is via CLI/RPC option and the respective changes should be done by Docker guys. Another option is to enable it via configuration file. The latter is a feature in developme

[2017-08-07 19:14] xemul commented on #288
So, is the issue resolved? :)

[2017-08-07 19:15] xemul commented on #280
Yup, thanks!

[2017-08-07 19:15] #280 closed

[2017-08-08 08:51] 0x7f454c46 commented on #288
Yes, when the patch will got into ms.

[2017-08-08 09:16] Snorch commented on #372
Reproduced it with gdb attached, these happens when "command" process of session04 had exited(we already do not see it in ps output) but session04 process in ns_init(29831) waits for children to exit and children which are "worker" processes of session04 wait for commands and do not stop.

These happens only if the "command" process is waited from ns_sig_hand and not from ns_init, where it would l

[2017-08-08 21:03] blondita commented on #371
@avagin thanks it was correct but it works only with fedora console.
I don't know why but when i use ubuntu console (with also tar installed) it doesn't work!

[2017-08-08 21:03] #371 closed

[2017-08-08 21:07] avagin commented on #371
@blondita how it doesn't work for an ubuntu console?

[2017-08-08 21:22] blondita commented on #371
@avagin it gave me the same error, while with fedora console it resolve the issue

[2017-08-08 21:26] avagin commented on #371
How do you install tar? When you say an ubuntu console, do you mean an Ubuntu container?

[2017-08-09 06:39] blondita commented on #371
In RancherOs you can chance the console
http://rancher.com/docs/os/configuration/switching-consoles/

[2017-08-09 21:24] yihuad opened #374 "The patch mentioned in criu/Documentation/HOWTO.cross-compile doesn't exist"
Hey,

I am trying to follow criu/Documentation/HOWTO.cross-compile to build criu statically; but it seems that the patch [1] doesn't exist anymore; any clue where I could find it? Is the patch still relevant?

Thanks!

[1] http://16918.selcdn.ru/crtools/aarch64/0001-protobuf-added-the-support-for-the-acrchitecture-AAr.patch

[2017-08-09 22:28] avagin commented on #371
@blondita thank you for the link. I will try to understand what this means.

[2017-08-09 22:36] blondita commented on #371
@avagin how do you know that the problem was 'tar' in my post?

[2017-08-09 23:15] avagin commented on #371
[code]
I know that criu uses tar to dump content of tmpfs mounts. I am going to improve the first error message and add a name of a file to it.

[2017-08-13 09:52] 0x7f454c46 commented on #288
In linux-next currently: [739586951b8a](https://git.kernel.org/pub/scm/linux/kernel/git/next/linux-next.git/commit/?id=739586951b8abe381a98797a5e27a0a9336333d6)

[2017-08-13 15:27] johnmoore4 opened #375 "Can't open fake fifo 0x42"
I'm running OpenMPI with the command:
setsid mpirun -np 2 ~/local/FUN3D/fun3d_install/bin/nodet_mpi  < /dev/null &> /dev/null &
and dumping with:
sudo $CRIU --tree $1 --images-dir ~/dumps --leave-running --tcp-established --ghost-limit 1000000000
The application dumps without error. I attempt to restore using:
sudo criu restore --tree $1 --images-dir ~/dumps --tcp-established

However, I get the f

[2017-08-14 20:32] xnox opened #376 "ppc64el mirrors"
`<avagin> Hi. I can't install a packages: Failed to fetch http://security.ubuntu.com/ubuntu/dists/trusty-security/main/binary-ppc64el/Packages  404  Not Found [IP: 91.189.91.23 80]. Does someone meet this problem?
<avagin> here is a full log: https://travis-ci.org/xemul/criu/jobs/263720066`

ppc64el is a ports architecture, and therefore the security pocket is hosts on ports.ubuntu.com/ubuntu-port

[2017-08-15 10:34] #372 closed

[2017-08-15 10:34] #363 closed

[2017-08-15 19:07] user171 opened #377 "creating docker checkpoint returns docker.sock doesn't have a proper root mount"
When I run the example described in https://criu.org/Docker, everything runs fine.

But when I try with a container that runs sshd:
`docker checkpoint create test checkpoint1`
`Error response from daemon: Cannot checkpoint container test: rpc error: code = 2 desc = exit status 1: "criu failed: type NOTIFY errno 0\nlog file: /var/lib/docker/containers/3d9d25d71b59426ec41aea243382473430e5e1e717214d0

[2017-08-15 19:15] yihuad commented on #374
Ping

[2017-08-15 19:25] user171 commented on #377
I suddenly realized what I had done: I started the container with `-v /var/run/docker.sock:/var/run/docker.sock` in order to control the docker daemon from within the container.
And I realized this was like an external binding.
Since I do not really need it, I just removed the mapping. And now the checkpoint works ok.

Sorry for the noise.

[2017-08-15 19:25] #377 closed

[2017-08-15 20:21] tswift242 opened #378 "How to measure CPU usage for a criu restore?"
I'm using criu (through docker) to quickly start an application which otherwise takes a long time to start up. In addition to starting much quicker, it seems that starting the application through a criu restore uses a lot less cpu (which intuitively makes sense). I'm trying to measure the difference in cpu usage between doing a criu restore vs a normal application start. However, I'm having troubl

[2017-08-17 08:31] xemul commented on #370
@sinainnet ,

1. Well, I don't disagree :) The thing is that it's ubuntu team who does packaging, so the question should rather be addressed to them. On the other hand, if there's anything we can do on criu side to facilitate convenient packaging, we're all open to it.

2. Yes, it gets a new pid as it's seen from the host namespace and gets re-parented. However, the getpid() would still return the

[2017-08-17 08:34] xemul commented on #374
@yihuad , sorry for the delay :) We haven't played with static compilation for a long time indeed. This particular recipe from the docs is about getting statically linked protobuf library and it looks like the patch may not be required any longer. At least https://coderanch.com/wiki/659932/Protoc-Independent-Binary says, that it's enough to properly configure the protobuf sources.

Can you check w

[2017-08-17 08:36] xemul commented on #375
@johnmoore4 , the files in question are used by the processes you dump and restore, otherwise criu wouldn't want to open them. I'm not an expert in openmpi :) but it seems to me that these files are channels that are set up by mpi runtime to make application talk to the master process. Can you confirm that?

[2017-08-17 08:42] xemul commented on #376
Cc @avagin

I wonder, who the one to fix this URL :) We don't have such in CRIU sources. Is it Travis or Docker?

[2017-08-17 09:52] xemul commented on #378
@tswift242 , you can use the getrusage(2) call. It can report the user and system time for the whole sub-tree. Generally it should look like this:

      pid = fork();
      if (pid == 0) {
              execl("criu", ...);
      }
      wait();
      getrusage(RUSAGE_CHILDREN, &usage);

I think it would be worthwhile fixing criu to make the stats-restore to include the rusage statistics as well.

[2017-08-17 13:44] sinainnet commented on #370
Thanks a lot!. Indeed, the biggest problem is lack of proper access to the global_opts variable, which is defined in criu/lib/c/criu.c .

#include "criu.h"
#include "rpc.pb-c.h"
#include "cr-service-const.h"

#define CR_DEFAULT_SERVICE_BIN "criu"

const char *criu_lib_version = CRIU_VERSION;

struct criu_opts {
	CriuOpts		*rpc;
	int			(*notify)(char *action, criu_notify_arg_t na);
	enum criu_servi

[2017-08-17 14:59] xemul commented on #370
Well, giving raw access to global opts would cause compatibility problems, thus all access is via functions only. If any setter is missing -- feel free to submit a patch for libcriu.so )

[2017-08-17 15:32] tswift242 commented on #378
Thanks for the response @xemul ! Could you point me to where in the criu code I could insert a snippet like that to capture this metric? (where is the primary fork for a restore?)

Yes, that'd be great if cpu usage stats were included in stats-restore!

[2017-08-18 11:01] xemul commented on #378
@tswift242 , the place where root task forks is restore_root_task() routine. Somehwere in the middle it calls fork_with_pid(init);. But playing with getrusage in this place seems to help only for the --check-only case :\ as it collects timings for exited children (and grandchildren) only.

[2017-08-18 11:02] xemul commented on #378
On the other hand, you're interested in time spent restoring, so you don't need to "really restore" them, don't you?

[2017-08-18 11:03] xemul opened #379 "Ghost file with big size and small usage (holed) still fails to dump"
The GHOST_SIZE_LIMIT affect i_size of the ghost size, while for chunked files we may check for the usage only.

[2017-08-18 14:20] tswift242 commented on #378
Yea that's right. I'm just interested in cpu time during the restore, it's okay if the processes aren't actually restored as long as that doesn't affect the cpu time. In that case, I can use --check-only? I don't think docker exposes that option so I guess I'd have to call criu directly.

[2017-08-21 18:48] yihuad commented on #374
Thanks for the response; I will try it out and see whether it works or we have something missing.

[2017-08-22 11:00] JoeCEngineer opened #380 "enhancement: force socket reset on process restore"
Hello CRIU folks,

I’m using CRIU (via docker restore) to restore a process tree with --tcp-established.

GOAL
- Is there a way to force a socket to reset on restore by modifying inetsk.img?

SETUP
- I am restoring a process tree in node A, which has an open socket connected to a remote resource on node B.
- I have an AWS security group in between nodes A and B, with rules to allow traffic from no

[2017-08-22 15:57] xemul commented on #380
Actually, the --tcp-close option is designed for that :) But since Docker doesn't allow bypassing them, you may fix the field "state" to be 7 (TCP_CLOSE) and zero the "dst_port" field.

I'd also appreciate if this feature turns out into a patch for CRIT that does this automatically.

[2017-08-23 19:19] avagin commented on #376
@xnox we get this ubuntu trusty image from the Docker hub:
[code]

[2017-08-24 12:51] xnox commented on #376
@avagin Thanks! Let me figure out if I can find the right people to fix that.

[2017-08-24 13:01] #376 closed

[2017-08-24 21:23] JoeCEngineer commented on #380
That work around worked well. Thank-you.

[2017-08-29 12:16] xemul commented on #380
@JoeCEngineer , would you be interested in preparing a patch for crit to make this functionality available naturally with criu? :)

[2017-08-29 20:03] n0way0ut opened #381 "crit explore"
hi,

with criu-dev branch the files image are changed, some of them are merged, so crit can't explore the new files, for example:
$ crit x dir fds
...
IOError: [Errno 2] No such file or directory: './pipes.img'

but also reg-files.img and unixsk.img.

[2017-08-29 22:23] avagin commented on #376
I tried to switch to ppc64le/ubuntu:xenial, but there is another issue
[code]
https://bugs.launchpad.net/cloud-images/+bug/1708516

[2017-08-30 14:29] xemul commented on #381
Ugh :( Thanks for reporting this.

[2017-08-31 13:41] xemul opened #382 "pstree.img format breakage in criu-dev"
Cc @avagin and @tkhai

Commit 94e0beadc1945134a6cc918784905f3a33f0e944 changes required fields into optional, which is probably not extremely nice. In particular, this breaks crit x functionality, it can no longer access pstree_item_entry['pid'] value as it's absent.

[2017-08-31 13:42] xemul commented on #381
Heh, in my criu-dev it complains another way (see issue #382 ). Anyway, patch for master will be sent out soon, the other thing is to be discussed.

[2017-09-04 08:03] tkhai commented on #382
I've reflected the above in "[PATCH] crit: Use ns_pid, ns_sid and ns_gid" in criu mailing list.

[2017-09-04 09:11] xemul commented on #382
The issue was not about fixing CRIT, but about returning pid field back to required. Or proving that changing required to optional is valid.

[2017-09-04 10:13] tkhai commented on #382
I've checked env00, dumped via old criu (before the commit), and it was restored on recent criu-dev w/o problems.

We may leave the field optional "as is", until anybody reports there is a problem with the field type, but I'm not sure this will happen. What do you think?

[2017-09-06 15:59] zgtian commented on #321
Hi, xemul
Although SCTP module in kernel is not easy to be supported by criu, we think about some method to walk around. We tried usrSCTP (https://github.com/sctplab/usrsctp), which implement SCTP in user space.
However, since usrSCTP use raw socket as: socket(AF_INET, SOCK_RAW, IPPROTO_SCTP), criu think it could not be dumped. I wonder whether it's possible we make this type of socket be supporte

[2017-09-06 20:43] avagin opened #383 "cgroup_ifpriomap.c:50: Can't mount cgroups (errno = 16 (Device or resource busy))"
[code]

https://ci.openvz.org/job/CRIU/job/CRIU-snap/job/criu-dev/2942/console

[2017-09-06 20:46] avagin commented on #383
[code]

The test tries to mount net_prio, but it is already mounted together with net_cls.

Cc: @0x7f454c46

[2017-09-06 20:47] avagin commented on #383
This test was disabled to unblock jenkins tests
https://github.com/xemul/criu/commit/a34aad3915e3599b5178abb6b3018ccc1ccd4170

[2017-09-07 14:13] xemul commented on #321
@zgtian , yes, raw sockets would be much easier to support, from the first glance you've described everything correctly. Don't hesitate to submit a patch and ask for any explanations from now on :)

[2017-09-08 08:01] 0x7f454c46 commented on #383
Will deal with it in near days.

[2017-09-08 09:08] hamann opened #384 "Are GPU workloads supported?"
Is CRIU supposed to work with GPU workloads? We're playing with tensorflow and tried to checkpoint a task which uses `tensorflow`, and this is what we get then

[code]

[2017-09-08 13:33] xemul commented on #384
@hamann , GPU workloads are always about opening and mapping a GPU device file. Since after this part of the running state may be in the device, it's needed to be checkpointed and restore too. The latter task looks to be very driver-specific and cannot be solved in a generic manner. That's why we've put an explicit check for "unknown" device being mapped, and this is what CRIU complains about in t

[2017-09-08 16:48] Snorch commented on #361
same as https://github.com/xemul/criu/issues/372 ?

[2017-09-08 22:20] gargankur74 opened #385 "Unable to make criu/lib/go required for running criu/phaul (attached error)"

[2017-09-09 11:27] #385 closed

[2017-09-11 10:17] ank4r opened #386 "Please provide an example for docker container live migration from source ip to dest ip."
The [criu wiki](https://criu.org/P.Haul) does not mention on how to set file descriptors corresponding to socket and it seems like golang doesn't expose socket file descriptor.

[2017-09-12 09:04] zgtian commented on #321
@xemul , we have modified some code on dump/restore.
Yes, it seems work now without error, however, the restored client would send illegal packets to server.
Please help to check the modification, please always take into consideration that we are newbie for socket/netlink/criu and we do a lot of dirty work to clear errors... :)

[diff_criu4sctp.txt](https://github.com/xemul/criu/files/1295348/diff

[2017-09-13 13:34] JoeCEngineer commented on #342
Not sure if this is related - it may not be - wanted to check first. I have a use for cloning an application using checkpoint/restore and marking it's heap memory blocks with MADV_MERGEABLE on restore. The intent is to leverage KSM and reduce memory footprint for cloned Docker containers on the same host. Reading this enhancement, I take it I can already do that use case, this is more about making

[2017-09-14 13:54] xemul commented on #342
@JoeCEngineer , you can fix madvise flags already, but you'd have to know the flag numerical value and write it correctly in the decoded image file. This issue is about making this more human-friendly :)

[2017-09-14 13:57] xemul commented on #321
Two things bother me -- you don't save/restore socket opts for your sockets (you commented out these calls) and you don't save/restore raw-socket options. This may cause misbehavior.

[2017-09-14 13:57] xemul commented on #386
Cc @avagin and @kolyshkin

[2017-09-14 15:56] zgtian commented on #321
actually these commented code may cause error, i have no idea how to treat these errors currently. According to you, what is necessary to be saved and restored for SOCK_RAW of AF_INET? The same as SOCK_STREAM/SOCK_DGRAM or not?
I notice you save and restore a lot of opts for AF_PACKET.

[2017-09-14 19:15] zgtian commented on #321
@xemul

[2017-09-15 10:46] xemul commented on #321
Well, first of all you should save all the opts that are currently saved by CRIU. If any of them fails, this should be analyzed option-by-option.

Next, looking at kernel's function do_ip_setsockopt() I can see _a_lot_ of configuration for AF_INET socket. We don't save all of it currently, since for TCP socket they seem to be not-relevant. But for raw mode it can be crucial.

Here's the list of wh

[2017-09-15 20:22] avagin opened #387 "Error (criu/pie/restorer.c:1108): Unable to unmap (0x7fffaff70000-0x400000000000): -22"
[code]

https://ci.openvz.org/job/CRIU/job/CRIU-ppc64le/job/criu-dev/2231/console

Cc: @0x7f454c46 @cyrillos

[2017-09-17 04:20] avagin commented on #387
The previous result for 4.12.9-300.fc26.ppc64le.

It looks like a kernel issue.
[code]

[2017-09-17 16:57] avagin commented on #387
https://github.com/xemul/criu/commit/4d11e15431c339c6a828ca0771be5fb9ddbc764d

[2017-09-17 16:57] #387 closed

[2017-09-17 18:49] avagin commented on #386
@gargankur74 I don't understand what you mean. You can call s.Fd() and gets a file descriptor.
[code]

If you want to integrate phaul into Docker, you need to find a way how to create a channel between two nodes. Docker has to have infrastructure to create channels between two nodes in one swarm cluster.

[2017-09-18 11:32] #325 closed

[2017-09-18 19:33] gargankur74 commented on #386
Earlier I was using ssh connection to migrate the dump files but dump was created using docker create checkpoint. Now, I am trying to include pre-dump feature provided by phaul library.
If I could get an example to migrate a simple process (like piggie.c) from one machine to another by creating a simple tcp connection (or some other way) and extracting file descriptor from it (to be passed as an a

[2017-09-19 06:15] avagin opened #388 "zdtm/fdt_shared: stack smashing detected"
[code]
Reported-by: @rodrigo-bruno

[2017-09-19 06:37] avagin commented on #388
@rodrigo-bruno Could you check that you have this commit:
commit a01d879b627f72eddd8cd3201da83c5182c485a1
Author: Michael Holzheu <holzheu@linux.vnet.ibm.com>
Date:   Fri Jun 30 20:31:49 2017 +0200

    zdtm/static/fdt_shared: Fix buffer size

[2017-09-19 11:09] sandylss opened #389 "dump & restore succeeded but live migration failed"
First, in issue #321 , we want to dump SCTP sockets.
currently, we can dump & restore SCTP sockets with no errors. But actually the restored socket cannot send or receive data. So meanwhile we are working on the live migration of our program which uses SCTP sockets. Since this new problem seems to have no relationship to SCTP sockets, I start a new issue.

The dumping & restoring of our program on

[2017-09-21 13:29] xemul commented on #389
Please, make sure you have the same set of controllers on both sides, and chose the proper cgroup management mode for criu: https://criu.org/CGroups

[2017-09-22 15:59] 0x7f454c46 commented on #288
Close this, please - it's merged into 4.14-rc1.

[2017-09-24 10:53] #288 closed

[2017-09-24 10:53] hubb0r commented on #288
Thank you!!!

[2017-09-25 10:09] #381 closed

[2017-09-25 17:25] blondita opened #390 "docker restore error"
Hi,guys i've a new error on my live-migration project.
I'm in rancherOS for testing in container live:
docker version
Client:
 Version:      17.03.1-ce
 API version:  1.27
 Go version:   go1.7.5
 Git commit:   c6d412e
 Built:        Tue Mar 28 00:40:02 2017
 OS/Arch:      linux/amd64

Server:
 Version:      17.03.1-ce
 API version:  1.27 (minimum version 1.12)
 Go version:   go1.7.5
 Git commit:

[2017-09-26 04:23] sandylss commented on #389
Thanks, I've solved this problem. ^_^

[2017-09-26 05:03] sandylss opened #391 "restore PF_PACKET socket in docker failed due to "no such device""
I'm trying to restore a docker container. I'm using a packet socket whose type is PF_PACKET in this container and its networking is created by `docker network create`. I got this error

I checked the source code, the error is at
[code]
and all about this socket sk is
[code]
It looks fine. And I found that I won't get this error if I restore the program on bare-metal.

So it seems a bug with docker

[2017-09-26 17:19] avagin commented on #390
Could you show a full restore.log?

[2017-09-26 17:19] avagin commented on #388
It was fixed by a01d879

[2017-09-26 17:19] #388 closed

[2017-09-27 10:16] blondita commented on #390
it is very big. i attach it
[restore.log](https://github.com/xemul/criu/files/1336641/restore.log)

[2017-09-27 21:31] avagin commented on #390
[code]

[2017-09-27 22:19] avagin commented on #390
What version of criu do you use?

[2017-09-28 09:35] blondita commented on #390
criu --version
Version: 3.3
but i installed it with dnf install criu so i can' t add the patch

[2017-09-28 12:56] xemul commented on #389
Cool

[2017-09-28 12:56] #389 closed

[2017-09-28 13:08] xemul commented on #391
Most likely the problem is with device index change. On dump the index was A, at restore time, since Docker creates the network itself, the device index is B. I'm not 100% sure binding to another index won't break the proggie :) but we can try.

[2017-09-29 18:24] avagin opened #392 "CRIU can't dump huge mappings"
[code]

Steps to reproduce:
1.  Apply the following patch
[code]
2. make ASAN=1 -C test/zdtm/
3. make
4. time python test/zdtm.py run -t zdtm/static/env00

[2017-10-03 16:19] aivrit opened #393 "Docker start from checkpoint fails with "BUG at criu/include/image.h:144""
HI,
I am testing criu to use it as a slow-start-speed-up mechanism or as a snapshot alternative for an openstack devstack in a container that i am using.
I compiled and installed criu v3.5 on an ubuntu 16.04.3 machine.
Checkpoint and restore on docker a container failed at the most basic usage:
`sudo docker create redis`
`sudo docker start redis`
`sudo docker checkpoint create redis test_3`
`sudo

[2017-10-04 06:34] avagin commented on #393
I think it is a bug in Docker, it doesn't pass "--empty-ns net" to "runc restore".

[2017-10-04 07:39] aivrit commented on #393
thanks @avagin . Should I open a dup in moby?

[2017-10-04 07:41] aivrit commented on #393
thanks @avagin . Should I open a dup in docker/cli or moby?

[2017-10-04 15:47] avagin commented on #393
@aivrit Yes, you should, it isn't trouble for you.

[2017-10-04 23:09] avagin commented on #393
I'm sure that it is a bug in Docker. But we know that criu worked with Docker despite this bug, so I investigated this issue and found that it stopped working after cde33dcb06394e1654018045ac78244fa95af4d2. And you can build criu with a following patch to workaround this problem.

diff --git a/criu/net.c b/criu/net.c
index 936611de8..4f4e1b424 100644
--- a/criu/net.c
+++ b/criu/net.c
@@ -1541,7 +1

[2017-10-04 23:09] avagin commented on #393
Cc: @kolyshkin

[2017-10-05 00:05] kolyshkin commented on #393
From what I see in the code, Docker engine does append `--empty-ns network` to criu cmdline:
https://github.com/moby/moby/blob/master/libcontainerd/client_linux.go#L579
https://github.com/moby/moby/blob/master/vendor/github.com/containerd/containerd/runtime/container.go#L396

@aivrit can you check options criu is called with?

[2017-10-05 00:40] avagin commented on #393
@kolyshkin I already checked and docker doesn't pass this option to "criu restore"

[2017-10-06 19:43] tswift242 opened #394 "Running setup-namespaces script takes a long time even when no action scripts are specified."
I'm doing C/R through docker, using criu 3.5 and docker 17.03. From my understanding, action scripts are optional hooks that can be specified to criu that execute at different stages during the checkpoint and restore processes. One of those hooks is for the "setup-namespaces" stage. By adding a log statement right after https://github.com/checkpoint-restore/criu/blob/1510b248687f978e614b0bc8c08c00

[2017-10-06 21:24] avagin commented on #394
Docker uses the setup-namespaces action to setup a network namespace:
https://github.com/opencontainers/runc/blob/master/libcontainer/container_linux.go#L1443

[2017-10-10 06:30] wenjianhn commented on #386
I'd like to implement an example. And extend it to Containerd or Docker.

[2017-10-10 12:12] sandylss commented on #391
Thanks to National Day, I have a long holiday, lol.
Yes, the problem is with device index change. So I use
[code]
instead of
`addr.sll_ifindex = pse->ifindex;`

No error occurs when restoring. But since the ifindex is changed, the sendto() function will fail. Still trying to work it out.

Making ifindex fixed seems to make sense but Docker does not have this feature.
CRIU can restore a certain vet

[2017-10-11 14:59] ofinto opened #395 "lxc-checkpoint not restore debian 8"
Hello, I tried to use CRIU with LXC, but faced the issue - lxc-checkpoint can't restore debian 8. I contacted [lxc](https://github.com/lxc/lxc/issues/1853) but they said that it's CRIU issue, not theirs. In fact Ubuntu 12.04 and 14.04 works.

### # Steps to reproduce
1. Version
[code]
2. Create container
[code]
3. Add the following lines
[code]
4. Start container and checkpoint the container
[code

[2017-10-11 15:46] ofinto commented on #395
I recordered [asciinema](https://asciinema.org/a/oV7OFxQRXoDcTocsdnuheOeUb)

[2017-10-11 15:46] #395 closed

[2017-10-11 15:46] ofinto commented on #395
I recordered [asciinema](https://asciinema.org/a/oV7OFxQRXoDcTocsdnuheOeUb)

[2017-10-11 15:48] ofinto commented on #395
I recorded [asciinema](https://asciinema.org/a/oV7OFxQRXoDcTocsdnuheOeUb)

[2017-10-11 15:50] ofinto commented on #395
I recorded [asciinema](https://asciinema.org/a/oV7OFxQRXoDcTocsdnuheOeUb)

[2017-10-11 17:35] n0way0ut opened #396 "ssh dump issue"
![dump log](https://user-images.githubusercontent.com/5345101/31457047-e729cf62-aebb-11e7-850d-10ce095dca22.jpg)

      root@88ff288930ff:~# ps aux
      USER       PID %CPU %MEM    VSZ   RSS TTY      STAT START   TIME COMMAND
      root         1  0.1  0.0  18240  3192 pts/0    Ss+  17:28   0:00 /bin/bash
      root        11  0.0  0.0  65524  5364 ?        Ss   17:28   0:00 /usr/sbin/sshd -D

[2017-10-11 17:47] xemul commented on #396
Is there any chance to get dump log as text file instead of a picture?

[2017-10-11 17:52] n0way0ut commented on #396
[dump.txt](https://github.com/checkpoint-restore/criu/files/1376661/dump.txt)

[2017-10-11 18:21] n0way0ut commented on #396
with a docker container that runs ssh daemon from the init it works properly. So the issue seems to be only when the daemon is started with docker exec

[2017-10-11 18:37] avagin commented on #395
I have reproduced this issue locally. First of all I checked a criu version and it is very old.

root@ubuntu-2gb-nyc3-01:~/criu# dpkg-query -l | grep criu
ii  criu                             2.6-1ubuntu1~ubuntu16.04.2                   amd64        checkpoint and restore in userspace

Then I updated criu to 3.5 and found that it works fine
root@ubuntu-2gb-nyc3-01:~/criu# lxc-checkpoint -s -D /tmp

[2017-10-11 18:38] adrianreber commented on #396
Looking at runC it uses the container's init process for CRIU as the top level process. If processes started via exec are not child processes of the container's init process then they will not be checkpointed. Works as designed or intended. Not much CRIU can do about I guess.

[2017-10-12 07:34] kirillrst commented on #395
Thank you @avagin. What is the best way to install CRIU 3.5 on Ubuntu?

[2017-10-12 13:45] xemul commented on #396
Yup :) Thanks, @adrianreber . @n0way0ut , why do you start services via exec?

[2017-10-12 17:00] n0way0ut commented on #396
it makes sense. I just did it for this container for a quick test.
thank you all.

[2017-10-12 17:00] #396 closed

[2017-10-16 11:15] xemul commented on #386
Cc @rppt

[2017-10-16 11:17] xemul commented on #391
If docker uses host network, then criu can do nothing with ifndex. At the same time, if docker /doesn't/ use the host net, if creates veth pair itself, and he can safely request the desired ifindex itself.

[2017-10-16 11:19] xemul commented on #395
@kirillrst , likely compile it from sources. Ubuntu guys has some strange policy on updating criu package, they somehow depend on the debian team. So you can try pinging them compiling criu from sources at the same time :)

[2017-10-16 17:23] adrianreber opened #397 "compel fails with: Unsupported relocation of type 42"
Today I got a new error while building CRIU on x86_64. The same build works on s390x. The environment is RHEL 7.4 (ish). Some packages are a bit different but I did not look very closely at it.

[code]

This is the official 3.5 tarball and the complete output of compel is here: https://lisas.de/~adrian/compel.out

[2017-10-16 17:25] avagin commented on #397
Cc: @cyrillos @0x7f454c46

[2017-10-16 17:32] 0x7f454c46 commented on #397
It looks to be
[code]

[2017-10-16 17:36] 0x7f454c46 commented on #397
And it's for `restore_rt_sigaction()`.

[2017-10-16 17:46] 0x7f454c46 commented on #397
I wonder if something like that would work?
(NOT EVEN COMPILE-TESTED)
[new-reloc-add.txt](https://github.com/checkpoint-restore/criu/files/1388496/new-reloc-add.txt)

[2017-10-16 17:52] 0x7f454c46 commented on #397
Ifdef-guards may be also needed as it looks to be introduced in last 3 years to ABI.

[2017-10-16 18:08] 0x7f454c46 commented on #397
Hey @adrianreber, could you check if the mentioned commit for you?
It would be good if you try it with any ia32 test.

[2017-10-16 18:22] cyrillos commented on #397
Should do the trick, thanks!

[2017-10-16 18:48] adrianreber commented on #397
Referenced patch works. Thanks. How can I run any of the ia32 tests?

[2017-10-16 19:51] avagin commented on #397
[code]

[2017-10-16 20:09] adrianreber commented on #397
Does not work, but not sure if that kernel has the necessary configs:

[code]

[2017-10-16 22:49] avagin commented on #397
There are a number of patches from @0x7f454c46 which you need to backport into the RHEL kernel for this feature.
https://lists.openvz.org/pipermail/devel/2016-July/069107.html

[2017-10-17 07:52] xemul commented on #11
Will be in 3.6

[2017-10-17 08:49] xemul commented on #251
Will be in 3.6

[2017-10-17 08:49] #251 closed

[2017-10-17 12:43] 0x7f454c46 commented on #397
Well, I think it's better to grab mainstream ones, as I had reworked vz-patches afterwards a bit and also found mmap() bug in the kernel, which was fixed later.
https://criu.org/Upstream_kernel_commits
Also you can check it with
[code]
Which shouldn't say anything about missing config compat or something %)
[code]

[2017-10-17 12:45] adrianreber commented on #397
With a 4.14rcX kernel I am able to run one test (and then the kernel crashes...). But the patch seems correct. The kernel crashes with:

[  150.961462] IP: bm_evict_inode+0x16/0x40 [binfmt_misc]

But check seems happy:

[code]

[2017-10-17 13:17] 0x7f454c46 commented on #397
May be related to https://lkml.org/lkml/2017/10/13/493

[2017-10-17 13:18] 0x7f454c46 commented on #397
Well, ok if that works, I'll send the patch in ml, thanks!

[2017-10-17 13:24] adrianreber commented on #397
Your lkml link looks exactly like what I am seeing. Thanks for that link.

[2017-10-17 21:14] avagin opened #398 "criu can't C/R ia32 processes on AMD"
[code]
https://ci.openvz.org/job/CRIU/job/CRIU-x86-32/job/criu-dev/8/consoleFull

[code]

Cc: @0x7f454c46

[2017-10-17 21:42] 0x7f454c46 commented on #398
Nice! Will check it.
This one is suspicious:

[2017-10-18 19:37] fntlnz commented on #393
FTR: In containerd's master this seems to be solved here https://github.com/containerd/containerd/blob/master/vendor/github.com/containerd/go-runc/runc.go#L415 docker however at the state of art uses an older version of containerd that only passes `empty-ns` at creation time.

[2017-10-18 19:38] cyrillos opened #399 "build: CRIU is not rebuilding on plugins change"
@avagin has reported

[root@usr-LAN-dhcp-38 criu]# make -j 4
make[1]: Nothing to be done for 'all'.
 DEP      compel/plugins/std/infect.d
make[1]: 'soccr/libsoccr.a' is up to date.
 CC       compel/plugins/std/infect.o
 AR       compel/plugins/std.lib.a
make[1]: 'compel/plugins/fds.lib.a' is up to date.
make[1]: 'compel/compel-host-bin' is up to date.
make[1]: 'compel/libcompel.a' is up to date.
m

[2017-10-18 19:41] cyrillos commented on #399
I think we might try to move to https://ninja-build.org/

[2017-10-18 20:08] avagin commented on #393
https://github.com/checkpoint-restore/criu/commit/832dfed7778fd8f6d1a579c84be75b12b6fa92c5

[2017-10-18 20:08] #393 closed

[2017-10-18 22:38] cyrillos commented on #399
OK, I just remember the overall scheme: the plugins them selves are not involved into CRIU build. They are part of compel system. So it's not a bug but rather a feature.

In turn if you change something in libcompel (compel/src/lib/*) it force the criu rebuild.

make[1]: Nothing to be done for 'all'.
make[1]: 'images/built-in.o' is up to date.
make[1]: 'compel/plugins/std.lib.a' is up to date.
mak

[2017-10-18 23:06] avagin commented on #399
No way! It is a BUGgggg. Each time when I do changes in compel, libsoccr, or other parts of the criu tree, I want to execute make and get a binary with all these changes.

[2017-10-19 06:56] cyrillos commented on #399
criu don't use plugins at all :)

[2017-10-19 17:24] avagin commented on #399
@cyrillos Are you sure? What is about compel/plugins/std/infect.c?

[2017-10-19 18:27] cyrillos commented on #399
Yes. All plugins are for those who will use compel as its own. We still have TODO to enhance the plugins up to the state where we can use them instead of own CRIU implementation. And once we make so we will need to add build dependency over plugins.

[2017-10-20 21:24] avagin commented on #399
[code]

[2017-10-20 21:25] avagin commented on #399
The previous comment proves that plugins are already used by criu.

[2017-10-20 21:39] cyrillos commented on #399
Sigh, indeed. They are used indirectly :/

[2017-10-23 10:54] #397 closed

[2017-10-23 10:55] xemul commented on #390
@avagin , do you plan to send this patch int master?

[2017-10-23 10:56] xemul commented on #382
@avagin ?

[2017-10-23 23:44] emilydolson opened #400 "Error (criu/util.c:444): Can't get rlimit: Function not implemented"
I'm trying to run CRIU in an Ubuntu 16.04 Singularity container running on a cluster. The cluster's operating system is CentOS 6.6, in case that matters. I've tried installing the criu package through apt-get and I've also tried building from this git repository. Regardless of which one I try, running `criu check` gives me this error: `Error (criu/util.c:444): Can't get rlimit: Function not implem

[2017-10-24 03:05] wenjianhn commented on #386
@gargankur74 You can use raw syscall to create the sockets.

e.g.
memfd, err := syscall.Socket(syscall.AF_INET, syscall.SOCK_STREAM, syscall.IPPROTO_TCP)

cfd, _, err := syscall.Accept(sfd)

[2017-10-24 05:57] adrianreber commented on #400
It is not totally clear what you are tying to achieve. If you could give some more background info that would help. But from what you wrote it is not possible. If the  cluster uses the CentOS 6.6 kernel it can never work. As CRIU needs a much newer kernel. CentOS 7.4 has many necessary backports to make CRIU work. What is running inside the container is not relevant if the cluster kernel is that o

[2017-10-24 09:29] hamann opened #401 "restore with `--track-mem`"
Would it be possible to restore an incremental checkpoint with `--track-mem` enabled, so that the next dump of that process isn't a full dump and just dumps the changes again? We tried that flag on restore, but it had no effect.
We would need that to restore a process in different states.

[2017-10-24 12:39] adrianreber commented on #401
Not sure I totally understand what you mean. You want to incrementally checkpoint a process using --track-mem. But instead of restoring only the final checkpoint you want to be able to restore any of the incremental steps, right?

That is not possible right now as the pre-dump action does not write out all information about the process. If you look at the checkpoint directory you should see that m

[2017-10-24 12:49] adrianreber commented on #384
The complicated part is getting the state of the device, in your case the nvidia GPU, extracted. As far as I know this is not possible as nvidia offers no interface to get the state of the device. You are now at the point where every checkpoint/restore solution fails if you do not have help from the hardware vendor.

If you can get the state out of the device then CRIU should be able to be extende

[2017-10-24 15:26] hamann commented on #401
Sorry for being unclear. We restore the last dump (that one without `--leave-running`) and want to restore it in that way, that the next dump of the restored checkpoint also just include changes. see https://criu.org/Incremental_dumps

[2017-10-24 19:35] adrianreber commented on #401
I still don't get it ;-)

You do
 * pre-dump 1
 * pre-dump 2
 * pre-dump 3
 ...
 * final-dump
 * restore

And then you want to start a new pre-dump, but you want to use the 'final dump' as a reference for the memory tracking. You want in the new pre-dump only the changes since the previous 'final dump', right? Are you migrating and want to reduce the amount of memory being transferred? What is you

[2017-10-24 23:10] emilydolson commented on #400
I'm running a large number of instances of a long program that isn't playing nicely with BLCR, so I was hoping CRIU might do better. However, installing CRIU on the cluster, where I don't have root access, wasn't going well. At the same time, I was trying out Singularity, and noticed [this faq question](http://singularity.lbl.gov/faq#can-a-singularity-container-be-suspended-or-check-pointed) and [

[2017-10-25 09:34] mk commented on #384
@adrianreber alright, thanks a lot for the clarification. Feel free to close this issue.

[2017-10-25 10:05] hamann commented on #401
We're checkpointing language interpretes/repls to be able to restore it to previous states (`time-travel`). We don't use `pre-dumps`, our first dump is done when the interpreter is loaded and must be blocking, which generates a full dump. If we then execute arbitrary code in the interpreter, we use [incremental dumps](https://criu.org/Incremental_dumps) repeatedly  to be able to go back to a previ

[2017-10-25 17:17] #384 closed

[2017-10-25 21:18] avagin commented on #382
4b8a09f043a1c3de454ecf56b2c819ac63be73d2

[2017-10-25 21:18] #382 closed

[2017-10-26 16:15] adrianreber commented on #401
This is probably something @xemul has to answer, but I think you could implement it.

1. Reset dirty memory tracking during restore. Requires code changes.
2. Then you need to specify that checkpoint you restored as ```--parent```

This might already be enough, @xemul what do you think?

[2017-10-27 01:07] avagin commented on #401
@adrianreber  is right, we need to reset dirty memory tracking after restoring processes. Could you try out this patch:

[code]

[2017-10-29 11:03] zlyuan opened #402 "Please help, problem: Unlock network Error"
I need an urgent help, thanks.

I am using the "checkpoint create", it occurs an error and the command failed.
"Error response from daemon: Cannot checkpoint container android-1901: rpc error: code = Unknown desc = exit status 1: "criu failed: type NOTIFY errno 0\nlog file: /var/lib/docker/containers/e05c75dde309b94f943c0af3adadadf17d1d2689b9a8d20a9e33c18fce37fe11/checkpoints/aa6/criu.work/dump.lo

[2017-10-29 11:41] adrianreber commented on #402
Which version of CRIU are you using with which kernel and version of docker? Can you provide the complete dump.log?

[2017-10-29 12:01] zlyuan commented on #402
Thanks for your quick reply.
CRIU version is 3.6. Kernel version is 4.4.0-62-generic. Docker version is 17.09.0-ce.
[dump.log](https://github.com/checkpoint-restore/criu/files/1424996/dump.log)

[2017-10-29 12:01] zlyuan commented on #402
By the way, I am running docker on the cloud.

[2017-10-29 12:15] zlyuan commented on #402
@adrianreber By the way, I am running docker on the cloud.

[2017-10-29 19:20] adrianreber commented on #402
Not sure what is going wrong. It is definitely strange:

(00.119891) Dumping path for -3 fd via self 10 [/bin/bash]

fd being -3 means there was probably a ESRCH (No such process) during file descriptor collection.

Maybe someone else has a better idea of what is happening here.

The ```iptables-restore: invalid option -- 'w'``` is probably not relevant. A new upcoming iptables release will includ

[2017-10-30 06:12] avagin commented on #402
[code]
Here we are dumping file mappings, so -3 (FD_DESC_INVALID) means that it is not a file descriptor.

[code]
Something went wrong when we were dumping a tcp socket.

[2017-10-30 06:14] zlyuan commented on #402
OK, thank you so much. @avagin @adrianreber

[2017-10-30 06:16] avagin commented on #402
@zlyuan Could you compile criu from sources and try to run the zdtm/static/socket-tcp-local test?
python test/zdtm.py run -t zdtm/static/socket-tcp-local

If it will fail, could you send us a content of the test/dump directory?

[2017-10-30 06:18] zlyuan commented on #402
OK，I will try.

[2017-10-30 15:16] hamann commented on #401
@avagin Thanks a lot! I tried it with patching 3.6, but I had to execute `restore` a few times until it worked and dumping the restored task failed afterwards.

[code]

[2017-10-30 15:21] cyrillos commented on #398
Not sure if related but still https://lists.openvz.org/pipermail/criu/2017-October/039807.html

[2017-10-30 17:17] avagin commented on #402
@zlyuan Are you sure that the Docker daemon uses the criu 3.6?

[2017-11-01 10:28] ramy150 opened #404 "Problem during the restore part after an iterative migration"
Dear all

It seems that we have found a problem during the last part of the live migration (restore part). After longly investigating we observed that MySQL daemon ((mysqld) (mysql  Ver 14.14 Distrib 5.7.19, for Linux (x86_64) using  EditLine wrapper )) could be the source of the problem.

attached you can find all the collected information and log files:

Host1 information:
[host1_information.txt

[2017-11-01 14:03] 0x7f454c46 commented on #404
Looking at the log, I've only found:
[code]
Would fixing with chmod cgroupfs permissions help for you?

[2017-11-01 14:13] ramy150 commented on #404
I have found this inside restore log:
Warn  (criu/sk-unix.c:1368): sk unix: Can't unlink stale socket 0x249948 peer 0 (name /var/run/mysqld/mysqld.sock dir -)

but i'm ok if what you suggest can help me to solve my issue!!!
Kind Regards,

[2017-11-01 14:26] 0x7f454c46 commented on #404
That's only a warning and it might mean that the socket is absent on fs (which is fine, AFAIU).
You can check the error if you have concerns with the following diff:
(even compile UNTESTED)
[code]

[2017-11-01 16:48] ramy150 commented on #404
Hi, I tried for the chmod proposition and without success, it's always the same error. I noticed that there are some ghost files in the last dump do you think that it's may cause the issue.

[2017-11-01 16:57] 0x7f454c46 commented on #404
Just for sure, have you chmod `sys/fs/cgroup/systemd` on the _destination_ node for migration, not on the source node? (And checked perms afterwards?)

[2017-11-01 17:17] gargankur74 commented on #386
Thank you @xemul @avagin @wenjianhn. I'll try raw syscall to create sockets and use it in similar way as in piggie.c

[2017-11-01 18:47] ramy150 commented on #404
I maid a mistake in the chmod I put it 777 it was still given me this error and when I did the same amount of privilege they asked for (chmod 755 /sys/fs/cgroup/systemd ) it works.
Thanks for your precious helping

[2017-11-01 18:47] #404 closed

[2017-11-02 13:30] ramy150 opened #405 "Namespace & GTP protocol unsupported"
Dear all

It seems that we have found another problem during the dump part of the live migration (the last part of the live migration). After investigating we observed that GTP is causing trouble to our tests. If someone can help it will be great.

attached you can find all the collected information and log files:

Host1 information:
[host1_information.txt](https://github.com/checkpoint-restore/cr

[2017-11-03 02:34] lizhi16 commented on #278
I want to use --ghost-limit in docker CLI(docker version 17.09-ce), but docker still doesn't have it. I use criu3.6, there is not /etc/criu.conf and/or /etc/criu.d/ dir. Please tell me how to solve it, thanks!

[2017-11-03 02:34] lizhi16 commented on #278
I want to use --ghost-limit in docker CLI(docker version 17.09-ce), but docker still doesn't have it. I use criu3.6, there is not /etc/criu.conf and/or /etc/criu.d/ dir. Please tell me how to solve it, thanks! @xemul @

[2017-11-03 06:07] adrianreber commented on #278
Configuration files are only available on the development branch ```criu-dev``` right now. It is also not clear how to handle he RPC case (how docker uses it). So not possible yet easily.

[2017-11-03 07:57] lizhi16 commented on #278
I installed criu-dev, but I still can't find /etc/criu.conf and/or /etc/criu.d/ . Could you tell me where is the configuration file? thank u so much!

[2017-11-03 07:57] lizhi16 commented on #278
I installed criu-dev, but I still can't find /etc/criu.conf and/or /etc/criu.d/ . Could you tell me where is the configuration file? thank u so much! @adrianreber

[2017-11-03 08:51] adrianreber commented on #278
You have to create the files yourself, but as docker uses RPC to call CRIU it will not work as CRIU via RPC does not (yet) read the configuration file. So it needs code changes to CRIU to work. This is still being discussed on the mailing list.

[2017-11-03 08:54] lizhi16 commented on #278
I have solved this problem. I modified `#define DEFAULT_GHOST_LIMIT	(1 << 20)` to `#define DEFAULT_GHOST_LIMIT	(1 << 30)`, and it work well. Thanks for your help!

[2017-11-03 15:30] tswift242 commented on #53
@xemul Any updates on this enhancement? We would like to be able to C/R FUSE mounts. Has any progress been made in this space?

[2017-11-03 15:49] ofinto opened #406 "Checkpointing failed - (criu/tty.c:2306): tty: Unable to find a master for /3"
Hello, I tested criu empty lxc container (without programs) and all works fine, but when i checked production container with mysql / nginx / dnsmasq checkpointing failed.

[code]

[code]
[code]
[code]
[code]

[code]
[code]

[2017-11-03 18:15] avagin commented on #406
Your config contains lxc.tty twice and I don't know what value is used.

[2017-11-04 07:09] avagin commented on #398
I committed your patch, but the bug is still there.

[2017-11-04 07:23] cyrillos commented on #398
Thanks! I'll try to dig the issue after the weekend.

[2017-11-07 12:56] xemul commented on #405
Ah, that's another type of netdevice :) I can suggest you two things -- first is to skip dumping (and restoring) net namespace with the --empty-ns net option. In this case criu will skip dumping (and restoring) net ns, you'll have to set it up your own.

Another option is to add support for gpt device. That's not hard. I've recently did it for sit tunnels, the patches are 4a044e6af93f6b9d473a8ca56

[2017-11-07 13:01] xemul commented on #53
@tswift242 , well, yes and no. We've implemented NFS mountpoints C/R which is very close to how this should be done for FUSE. The problems are a) it has been done in Virtuozzo criu branch and hasn't been pushed upstream b) FUSE needs more coding.

I would say this particular feature right now is out of direct scope for Virtuozzo, so I wouldn't count on Virtuozzo developers to implement it in the n

[2017-11-08 06:37] wenjianhn commented on #386
@gargankur74 or you can use IP address and port of the page server.

I will add an example in the following issue.
https://github.com/containerd/containerd/issues/1731

[2017-11-08 10:58] ofinto commented on #406
Sorry for that, I changed config, reboot lxc and checkpoint create successfully. Thank you

[2017-11-08 15:51] ramy150 commented on #405
Hi, Pavel, we tried the first path and it seems that we have this problem in the restore part.

Restore part:
[restore3.log](https://github.com/checkpoint-restore/criu/files/1454478/restore3.log)

kindly take a look at it and give further suggestions.

[2017-11-12 00:13] vaidehip86 opened #408 "docker restore error"
I'm getting this error from docker restore
Error response from daemon: shim error: open /tmp/checkpoint2/config.json: no such file or directory
what to do?

[2017-11-12 07:59] avagin commented on #408
pls, give us more details what you do. What commands do you run? What version of criu do you use? What version of Docker do you use? What logs do you have? etc

[2017-11-12 13:03] vaidehip86 commented on #408
Docker version -17.09.0-ce
criu version- 2.6
Ubuntu 16.04

Following the same steps as given on https://criu.org/Docker getting error for this script
$ docker start --checkpoint-dir=/tmp --checkpoint=checkpoint2 looper-clone
Error response from daemon: shim error: open /tmp/checkpoint2/config.json: no such file or directory

[2017-11-12 17:24] avagin commented on #408
Cc: @kolyshkin

[2017-11-12 20:38] rockymtnman opened #409 "Corked UDP socket"
I get the following error when attempting to checkpoint a process that uses UDP sockets:
Error (criu/sk-inet.c:127): Can't dump corked dgram socket 114dabc
Error (criu/cr-dump.c:1324): Dump files (pid: 3813) failed with -1
Error (criu/cr-dump.c:1644): Dumping FAILED.

Since datagrams are "connectionless" does the state of the socket really need to be dumped along with the process?

I think this ma

[2017-11-13 19:04] kolyshkin commented on #408
`--checkpoint-dir` option is currently broken, see https://github.com/moby/moby/issues/34601

[2017-11-13 23:06] avagin commented on #409
[code]
This error is reported, if a sent queue for a socket isn't empty.

[2017-11-13 23:11] avagin commented on #409
This means that UDP_CORK is set for a socket. This flag is used when we want to construct a packet. If we will ignore this case, another side can get only a part of a packet, what is impossible in a normal live (without c/r).

[code]

[2017-11-13 23:14] avagin commented on #409
So, here we have a case, when we can't ignore the state. I think it is impossible to handle this case without extanding kernel interfaces. We need something like TCP_QUEUE_SEQ for udp sockets.

[2017-11-13 23:20] rockymtnman commented on #409
What can a user do to "safe" the UDP socket interface, so that the state of the process can be saved?  Does the --external unix[id] option not help with this?

[2017-11-14 00:01] avagin commented on #409
@rockymtnman it depends on applications what you are dumping. Usually UDP_CORK is set for a short period of time, so you can do just another attempt of dumping and it may be successful with a good chance.
BTW: what are you dumping and how ofter do you see this error?

[2017-11-14 00:35] rockymtnman commented on #409
So far, I have not been able to checkpoint this process.  It is a native x86-64 process that is regularly sending many UDP packets to another process.  However, I see this error regardless of whether the second process is running
Is it necessary to stop all UDP traffic before checkpointing?

[2017-11-14 14:35] rockymtnman commented on #409
If this is referring to the UDP_CORK setting of the socket options, I am not explicitly setting this flag when the sockets are created:
https://linux.die.net/man/7/udp

[2017-11-14 18:00] avagin commented on #409
@rockymtnman could you show me the code which sends data to an udp socket, I will try to figure out what is going on.

[2017-11-14 20:10] vaidehip86 commented on #408
Then what I need to do? which version I can use to perform checkpoint and restore

[2017-11-14 22:21] avagin commented on #408
I can run docker without the --checkpoint-dir option
[code]

[2017-11-15 17:04] AlexandreCassagne commented on #298
@xemul do you have any knowledge of experimental branches/forks of docker with iterative migration?

[2017-11-15 17:36] washraf commented on #298
The runc check point has a iterative checkpoint [runc](https://github.com/opencontainers/runc/blob/master/libcontainer/criu_opts_linux.go#L32)
But as far as I know this flag is not adopted in docker it self nor the checkpoint in general.

[2017-11-15 23:59] rockymtnman commented on #409
Pretty standard socket code, not setting any flags:

  struct hostent *hostInfo;
  hostInfo = gethostbyname(destHost);

  struct sockaddr_in destAddr;
  memset(&destAddr, 0, sizeof(destAddr));
  destAddr.sin_family = AF_INET;
  destAddr.sin_port = htons(destPort);
  memcpy(&destAddr.sin_addr, hostInfo->h_addr_list[0], hostInfo->h_length);

  struct sockaddr_in srcAddr;
  memset(&srcAddr, 0, sizeof

[2017-11-16 02:36] avagin commented on #409
I think I understand the problem. The kernel socket-diag reports a non-zero idiag_wqueue for a socket, if it has data in a sent queue and if it has in-flight skb-s.
https://github.com/torvalds/linux/blob/master/net/ipv4/udp_diag.c#L167
https://github.com/torvalds/linux/blob/master/net/core/sock.c#L1848

So this check in criu is incorrect. Could you comment it and try to c/r your processes?
[code]

[2017-11-16 16:22] rockymtnman commented on #409
I get a different error this time:
Warn  (compel/arch/x86/src/lib/infect.c:249): Will restore 15551 with interrupte                                            d system call
Warn  (compel/arch/x86/src/lib/infect.c:249): Will restore 15552 with interrupte                                               d system call
Error (criu/sk-unix.c:704): sk unix: External socket is used. Consider using --e

[2017-11-16 18:24] avagin commented on #409
https://criu.org/External_UNIX_socket

[2017-11-16 18:30] rockymtnman commented on #409
How do you determine the id to pass for the --external unix[id] option?

[2017-11-16 18:39] avagin commented on #409
ls -l /porc/pid/fd/ or ss --unix

[2017-11-16 20:37] rockymtnman commented on #409
I'm able to successfully dump (using the --external unix[id] option), however I'm having trouble restoring.  Passing the same options on restore results in this message:
15920: Error (criu/sk-unix.c:1249): sk unix: External socket found in image. Consider using the --ext-unix-skoption to allow restoring it.
However, when using  --ext-unix-skoption I get this error:
criu: unrecognized option '--ext

[2017-11-17 00:04] avagin commented on #409
The name of this option is -ext-unix-sk. BTW it was depreciated and now we recommend to use --extern instead of it
on dump: --extern 'unix[INO]'
on restore:  ----inherit-fd fd[FD]:socket:[INO]

[2017-11-17 00:05] avagin commented on #409
https://criu.org/Inheriting_FDs_on_restore

[2017-11-17 15:37] ramy150 commented on #405
Hi Pavel,

after investigating we observed that there is a lot of constraints, so now we are thinking about how to contribute to the CRIU code in order to solve all the related issue to GTP protocol. Please, if you can provide for us all the necessary in order to start working on the integration of GTP in CRIU code.

Best Regards,

[2017-11-17 20:37] planetA opened #410 "Live migration of docker container with OpenMPI inside (TCP)"
Hello,

I'm trying to create two docker containers on separate hosts and then migrate container from one host to another one. I do as [wiki](https://criu.org/Live_migration) suggests, but when I try to restore the container, it fails with following message:

[code]

For brevity I post the [log](https://gist.github.com/planetA/8ed7b2e711f73bbb71db53830e3270c3#file-restore-log) in separate gists and

[2017-11-18 04:11] avagin commented on #410
[code]

[2017-11-18 04:24] avagin commented on #410
CRIU doesn't restore a network namespace for docker containers. Are you sure that Docker sets the same ip address for a resumed container as it was when a container was dumped.

[2017-11-18 09:22] planetA commented on #410
@avagin I'm not sure, how can I check that? I think yes, because ping works and IP address should restore to the same value.

[2017-11-18 10:47] n0way0ut opened #411 "docker checkpoint fails"
[code]
[code]
attached the dump.log
[dump.log](https://github.com/checkpoint-restore/criu/files/1484502/dump.log)

[2017-11-18 11:26] n0way0ut commented on #411
I was running wrong kernel without EXPERT enabled, sorry.

[2017-11-18 11:26] #411 closed

[2017-11-20 04:07] dineshputchala commented on #255
log

[2017-11-20 04:28] dineshputchala opened #412 "Restore failed on Oracle Database Server 12c R2"
Trying to verify the checkpoint/restore feature on Oracle Database Server 12c R2

There was similar issue (https://github.com/checkpoint-restore/criu/issues/255) last year when I tried on some non-production docker-1.10.0-dev version.

This time I tried on latest version as this checkpoint/restore is enabled in experimental version of regular release of docker.

Steps followed are:

Enabled experi

[2017-11-20 04:31] dineshputchala commented on #412
Attached the restore.log

[restore.log](https://github.com/checkpoint-restore/criu/files/1486450/restore.log)

[2017-11-20 16:14] rockymtnman commented on #409
I'm having some trouble with the FD option on restore: ----inherit-fd fd[10]:socket:[1260783]
Error (criu/files.c:1477): Can't fstat inherit fd 10: Bad file descriptor

Where 10 -> socket:[1260783] is the FD associated with the socket from
ls -l /proc/pid/fd/

This error happens with any socket attempting to restore

[2017-11-21 04:21] avagin commented on #409
How is this socket used by your program?

[2017-11-21 06:03] Danielyijun opened #414 "Restore checkpoint on different machine"
Hi guys. Recently I tried to restore checkpoint info but failed.
**WHAT I want to achieve?**
I would like to create a checkpoint on one PC and restore from another. E.g, on PC1, I created a checkpoint1 at time t1 and checkpoint files were saved at path1, and I copied all the checkpoint files from path 1 on PC1 to path2 on PC2. I restored the checkpoint from path2 on PC2.  I expected the program wi

[2017-11-21 06:28] adrianreber commented on #414
That is your main problem:

[code]

Looking at the path it seems you installed protobuf manually into /usr/local and it is different than on the source machine of the migration. All files need to be the same.

[2017-11-21 06:30] Danielyijun commented on #414
Hi Adrian,
Thanks for your reply. Do you mean that I have to copy the same file from source(PC1) to the same path of PC2?

[2017-11-21 06:45] adrianreber commented on #414
Hard to tell what you need to do. My approach would be to install the same distribution packages on both systems and then it should work. If you manually installed packages/files you need to make sure they are identical. Would be interesting to understand why you have files under /usr/local

[2017-11-21 06:51] Danielyijun commented on #414
Hi Adrian,

Thanks for your help. I used a Dockfile to create container in both PC.
Inside the Dockfile, I installed Python to run the program. Because I just
run the Dockfile, so I am hardly to install the same distribution packages.
Could you tell me how do you achieve the same distribution on both systems?
I really hope I can learn it. May I know why do you say it is interesting
to understand t

[2017-11-21 07:02] adrianreber commented on #414
Files under /usr/local are usually not handled by the package manager and thus have a higher chance to differ as they do not come from the same (binary) distribution package.

The reason for the files under /usr/local might be a software which is not available as a distribution package, then you have to make sure that the containers have the same files on the source and destination system. There i

[2017-11-21 10:37] xemul commented on #406
What's your criu version?

[2017-11-21 10:38] xemul commented on #298
Yup, neither there's native live migration support for docker daemon.

[2017-11-21 10:39] xemul commented on #405
@ramy150 that's good news. To support another netdevice you can look at how SIT device is handled. And post your questions here or on the mailing list.

[2017-11-21 10:41] xemul commented on #412
Ugh, there's some problem with AIO ring. Cc @tkhai and @avagin

[2017-11-21 11:03] tkhai commented on #412
@dineshputchala, which kernel version do you use?

[2017-11-21 12:20] adrianreber commented on #412
From the shell version and the used glibc and other information in the restore.log this could be CentOS or RHEL. Which CRIU version are you using?

Strange that the CRIU version is not visible in the restore.log. We should also put the kernel version in the dump and restore log.

CRIU on CentOS/RHEL needs an extra patch if build from sources: https://git.centos.org/blob/rpms!criu.git/c7/SOURCES!ai

[2017-11-21 12:22] adrianreber commented on #412
My tests with migrating the oracle database have always failed probably due to problems with monotonic time.

[2017-11-21 12:23] adrianreber commented on #412
Or better: Migration works, but the database shuts down after migration.

[2017-11-21 12:28] tkhai commented on #412
There is because the formula in kernel has changed.
I submitted patches to fix that year ago: https://marc.info/?l=openvz-criu&m=146366354304999&w=2

We do not support old kernels as Pasha said:
https://marc.info/?l=openvz-criu&m=146373758226363&w=2

[2017-11-21 13:46] adrianreber opened #415 "Complete aarch64 failure"
I am trying to run criu on aarch64 with 4.14 and I think it already worked before. Right now all test cases are failing:

[code]

But:

[code]

https://lisas.de/~adrian/aarch64-dump.log

Using today's git checkout.

Looking at the latest travis logs for aarch64 CRIU is only built but zdtm does not actually run.

Am I just missing a kernel option or why is CRIU on aarch64 so unhappy for me?

[2017-11-21 17:46] 0x7f454c46 commented on #415
Just passing by..
Could you give it a shot with [this patch](https://patchwork.criu.org/patch/5761/) by any chance?

[2017-11-21 17:48] 0x7f454c46 commented on #406
It _might be_ connected to this patch: [this patch](https://patchwork.criu.org/patch/5761/)

[2017-11-21 18:03] adrianreber commented on #415
Still crashes:

[code]

[2017-11-21 18:05] 0x7f454c46 commented on #415
Yeah, I only later realized that you running in `h`, not testing in a namespace.

[2017-11-21 18:27] rockymtnman commented on #409
The process is cyclically sending and receiving UDP packets out of several ports.  So far dump appears to work, but I can't seem to restore.  I may just be passing the wrong options though

[2017-11-21 19:45] adrianreber commented on #414
Are you copying files which are inside or outside of the container?

[2017-11-21 19:47] Danielyijun commented on #414
Outside the container.

On Tue, 21 Nov 2017 at 11:45 AM, Adrian Reber <notifications@github.com>
wrote:

--

Best regards,
Mr.Jun Yi
Email: danieyijun332@gmail.com

[2017-11-21 19:49] adrianreber commented on #414
Outside is irrelevant. Only files in the container need to be the same.

[2017-11-21 19:53] Danielyijun commented on #414
Do you mean I only have to care about the files under Docker/Container/ on
both systems? Or could you suggest the way like you said to make sure both
systems have the identical files? I have created the container on both
systems in the same way. Thanks.

On Tue, 21 Nov 2017 at 11:49 AM, Adrian Reber <notifications@github.com>
wrote:

--

Best regards,
Mr.Jun Yi
Email: danieyijun332@gmail.com

[2017-11-21 19:57] adrianreber commented on #414
You have to make sure that all files used by the processes during checkpoint and restore are the same on the source and destination system. This is clearly not a CRIU error and should not be discussed here.

CRIU tells you that the files have a different size and you have to make sure that the used files are the same or else your restored process will (probably) not work.

[2017-11-21 21:29] avagin commented on #409
I mean how your app uses a unix socket (not udp)? Could you show output of ls -l /proc/{PID}/fd for dumping processes?

[2017-11-21 22:17] avagin commented on #414
@Danielyijun Could you check that prelink is disabled in a container?

[2017-11-21 22:32] avagin commented on #415
@adrianreber could you run python test/zdtm.py -t zdtm/static/env00  -f h --sat and show all log and strace files

[2017-11-21 22:34] avagin commented on #415
is CONFIG_PROC_PAGE_MONITOR enabled for your kernel?

ls -l /proc/self/pagemap

[2017-11-21 23:12] Danielyijun commented on #414
@avagin
Hi Andrew,
May I know which relink you prefer? Thanks.

[2017-11-21 23:24] avagin commented on #412
https://medium.com/@kolyshkin/oracle-in-a-docker-container-checkpoint-restore-debug-fun-dda98b7302ed

[2017-11-21 23:25] avagin commented on #414
https://linux.die.net/man/8/prelink

[2017-11-21 23:44] rockymtnman commented on #409
Is it possible that the UDP socket connections are getting interpreted as AF_UNIX, even though they are created as AF_INET?  You can see in the socket creation code above that I am setting the family to AF_INET
srcAddr.sin_family = AF_INET;
Doesn't this mean that these are IPv4 and not UNIX family?  These are talking over localhost/loopback though so maybe they are getting handled down in the kern

[2017-11-21 23:46] avagin commented on #410
Here are two problems.
1. You have to mount tmpfs into container's /tmp. If you want to migrate a docker container, you have to be sure that all new data are placed on tmpfs, otherwise they are not dumped and you will need to migrate a container file system.

(00.000808) sk unix:  `- Got 0xb51d87 peer 0 (name /tmp/openmpi-sessions-1000@8e973ca0dfe8_0/18713/0/usock dir -)
(00.338202)      1: Warn

[2017-11-21 23:48] Danielyijun commented on #414
Hi Andrew,
Thanks for your website.
Actually, I have no idea about prelink before you mentioned it. So I think it's disabled for your questions.
And also I did't do anything on it with docker. Please forgive my stupidity. I just installed it by
`sudo get-apt install prelink `
May I know how could I use it in docker? Is it useful? Thanks.

[2017-11-22 00:27] avagin commented on #410
2. criu can't restore tcp sockets. The log file doesn't contain enough information to investigate this problem.
Could you try to run docker -l debug start  --checkpoint-dir ... and attach a new log?

[2017-11-22 00:47] avagin commented on #414
@Danielyijun actually  you don't need to use it. It can be a reason of problems like you have.

[2017-11-22 00:53] avagin commented on #414
@Danielyijun Could you try to run your docker container with the --read-only=true option? If it will not work properly, this means that one of processes in a container changes files on the root file system.

[2017-11-22 00:54] Danielyijun commented on #414
@avagin
Hi Andrew,
Ok, run it on my source machine right?

[2017-11-22 00:55] avagin commented on #409
No, it isn't possible.

[2017-11-22 00:57] avagin commented on #409
Could you show output of  ls -l /proc/{PID}/fd for all processes what you are going to dump?

[2017-11-22 01:12] rockymtnman commented on #409
0 -> /dev/pts/2
 1 -> /dev/pts/2
 10 -> socket:[1260783]
 11 -> socket:[1260786]
 12 -> socket:[1260787]
 13 -> socket:[1260788]
 14 -> socket:[1260789]
 15 -> socket:[1260790]
 16 -> socket:[1260791]
 17 -> socket:[1260792]
 18 -> socket:[1260793]
 19 -> socket:[1260794]
 2 -> /dev/pts/2
 20 -> socket:[1260795]
 21 -> socket:[1260796]
 22 -> socket:[1260797]
 23 -> socket:[1260798]
 24 -> socket:

[2017-11-22 01:22] avagin commented on #414
yes

[2017-11-22 01:25] avagin commented on #409
Oops, there are not information about types of sockets. So could you show output for lsof -p PID?

[2017-11-22 01:29] avagin commented on #406
@0x7f454c46 sorry I missed this patch. The same problem was workarounded in 3.6 by another patch:
commit f65517b95d9da8117d74065da3e3b4877f75731f
Author: Andrei Vagin <avagin@virtuozzo.com>
Date:   Sat Oct 14 04:19:35 2017 +0300

    shmem: dump shared memory before dumping namespaces

[2017-11-22 02:00] rockymtnman commented on #409
pname    25176 user    3u  unix 0xffff8b0894378c00      0t0  1556701 socket
pname    25176 user    4u  unix 0xffff8b089437b800      0t0  1556703 socket
pname    25176 user    5u  IPv4            1555947      0t0      TCP *:X (LISTEN)
pname    25176 user    7u  IPv4            1555948      0t0      TCP *:X (LISTEN)
pname    25176 user    9u  IPv4            1555949      0t0      UDP *:X
pname    25

[2017-11-22 02:49] avagin commented on #409
Here they are:
[code]
If your app doesn't use these two sockets, they could be inherited from a process which executed the target process. You can try to run ss to get more info about these sockets:
ss -f unix -a  -e # show all unix sockets in a current namespace
ss -f unix -a -e -p # the same as the first one plus processes using sockets. I've never used the -p options before, but it looks useful

[2017-11-22 04:32] dineshputchala commented on #412
@tkhai @adrianreber @avagin

Docker host details:

bash-4.2$ docker -v
Docker version 17.06.2-ol, build d02b7ab

bash-4.2$ uname -a
Linux slc12moz 4.1.12-61.1.27.el7uek.x86_64 #2 SMP Fri Feb 3 12:31:56 PST 2017 x86_64 x86_64 x86_64 GNU/Linux

bash-4.2$ cat /etc/oracle-release
Oracle Linux Server release 7.3

OS is Oracle Linux 7.3

CRIU version on docker host:  criu-2.12-2.el7.x86_64

Its easy to

[2017-11-22 04:37] avagin commented on #412
@dineshputchala could you try the same with criu 3.6?

[2017-11-22 04:38] dineshputchala commented on #412
@avagin In the link shared by you, Bug https://github.com/checkpoint-restore/criu/issues/296 is mentioned and it is in  open state . This Bug seems to be new feature to be added in CRIU for oracle db restore issue . Are you saying its same issue in this bug as well ?

[2017-11-22 04:39] avagin commented on #415
I tired to reproduce this issue in a qemu vm on my laptop:
[code]

[2017-11-22 04:41] dineshputchala commented on #412
@avagin I could see that yum finds criu-2.12 only in my system.

"yum list criu"
Loaded plugins: fastestmirror, langpacks, ulninfo
Loading mirror speeds from cached hostfile
 * ol7_addons: pd-yum-slc-01.us.oracle.com
 * ol7_latest: pd-yum-slc-01.us.oracle.com
 * ol7_uekr4_ofed: pd-yum-slc-01.us.oracle.com
Installed Packages
criu.x86_64

[2017-11-22 04:45] Hitesh-15 commented on #302
Hello, when i did 'criu check'
I got some error saying the following:
Error (criu/proc_parse.c:1432): Bad format in 0 mountinfo: 'ib/docker/overlay2/l/7P2APWCGKLH2N6JKH6HD23JRKC:/var/lib/docker/overlay2/l/5MBSYLHRT7I5TFVOK47ZWRE6IO:/var/lib/docker/overlay2/l/JMKI5LNJYRMOJ4VP2X2VGWVZBQ:/var/lib/docker/overlay2/l/4XEFCBVMTIS7POQCPCFJBJB3WO:/var/lib/docker/overlay2/l/SWY55L2TO4XR4KICJFFTQVDGGU:/var/l

[2017-11-22 05:22] dineshputchala commented on #412
@avagin In the link shared by you, Bug #296 is mentioned and it is in open state . This Bug seems to be new feature to be added in CRIU for oracle db restore issue . Are you saying its same issue in this bug as well ?

[2017-11-22 06:25] avagin commented on #412
In this bug you met another issue, but it is very probable that #296 will be the next one.

[2017-11-22 10:07] adrianreber commented on #412
So this is interesting. If oracle linux uses the RHEL criu package on a newer kernel with the special AIO patch I added for RHEL it will not work. @dineshputchala you need to talk to your vendor and tell them that their criu package is wrong.

[2017-11-22 10:31] 0x7f454c46 commented on #406
@avagin don't worry, I've just pointed to the similar issue, looks like it's not the reason :)

[2017-11-22 10:31] adrianreber commented on #415
CONFIG_PROC_PAGE_MONITOR is enabled

[code]

[code]

https://lisas.de/~adrian/aarch64/

[2017-11-22 10:35] 0x7f454c46 commented on #415
@avagin `4.13.9-300.fc27.aarch64`, I guess this one is not there (it's 4.14-rc1):
https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=739586951b

[2017-11-22 15:09] rockymtnman commented on #409
You are correct they are getting opened by an external library, I'll try pulling out that code and see if that gets rid of the unix socket creation.  Thanks for the tips

[2017-11-22 17:23] avagin commented on #415
[code]

[2017-11-23 17:45] planetA commented on #410
@avagin Setting up tmpfs helped. Thank you.

I had to add:

`--mount type=tmpfs,destination=/tmp`

to docker run and docker create.

[2017-11-23 17:45] #410 closed

[2017-11-24 10:42] dineshputchala opened #416 "CRIU 3.6 make failure on oracle linux 7.3"
bash-4.2$ uname -a
Linux slc12moz 4.1.12-61.1.27.el7uek.x86_64 #2 SMP Fri Feb 3 12:31:56 PST 2017 x86_64 x86_64 x86_64 GNU/Linux

bash-4.2$ cat /etc/oracle-release
Oracle Linux Server release 7.3

OS is Oracle Linux 7.3

Steps followed to install CRIU 3.6 version,

bash$pwd
/scratch

1. Trying to build and install protobuf

 git clone https://github.com/google/protobuf.git protobuf
 cd protobuf
 .

[2017-11-24 11:19] adrianreber commented on #416
I hardly know anything about oracle linux except that it is supposed to be a RHEL clone. CRIU on RHEL/CentOS works correctly, you could use that. If you want to compile it yourself, your approach seems unnecessary complicated. As oracle linux ships CRIU, they have to build it. This means all build dependencies are part of your distribution. Install the necessary distribution package and type 'make

[2017-11-24 13:17] dineshputchala commented on #416
Yum search for criu lists only criu 2.12v , so trying to build criu 3.6

bash-4.2# yum install criu

Package criu-2.12-2.el7.x86_64 already installed and latest version
Nothing to do

As per below page,

https://criu.org/Installation

CRIU build requires "protobuf protobuf-c protobuf-c-devel protobuf-compiler protobuf-devel protobuf-python"

I have already checked in my machine ,  some of the abov

[2017-11-24 13:40] adrianreber commented on #416
That is the result on RHEL/CentOS for the same query:

[code]

So, as building protobuf yourself failed, please use an operating system which provides the packages you need or figure out why your OS is not shipping the development packages. Again, this is not related to CRIU.

[2017-11-24 14:07] dineshputchala commented on #416
Can u just paste your repo details which is providing above packages ?

example:
vim /etc/yum.repos.d/PDIT-ol7.repo

[ol7_addons]
name=OracleLinux OL7 addons $basearch
baseurl=http://pd-yum-slc-01.us.oracle.com/pditrepos/OracleLinux/OL7/addons/$basearch
        http://pd-yum-den-01.us.oracle.com/pditrepos/OracleLinux/OL7/addons/$basearch
        http://pd-yum-bus-01.us.oracle.com/pditrepos/OracleL

[2017-11-24 14:14] adrianreber commented on #416
I cannot look at those repositories to check. Are those oracle internal only repository?

You should really just install CentOS and try it. It is in the base repository:

[code]

So the most simplest CentOS installation should work. I doubt it would be a good idea to install CentOS packages on oracle linux.

[2017-11-24 14:31] 0x7f454c46 commented on #416
That means that you don't have some shared library.
Try to compile hello-world program like this:
[code]
And specify the following flags to your gcc:
[code]
As libsoccr is built by criu itself, I suspect that it's not the reason of your failure,
so basically you just don't have one of this libs: `-lrt -lpthread -lprotobuf-c -ldl -lnl-3 -lnet`.
I would suggest to try removing them one-by-one for he

[2017-11-24 14:46] dineshputchala commented on #416
bash-4.2#  gcc test.c  -lrt -lpthread -lprotobuf-c -ldl -lnl-3 -lsoccr -Lsoccr/ -lnet -o /dev/null
/bin/ld: cannot find -lnl-3
/bin/ld: cannot find -lsoccr

bash-4.2# yum search libnl
==
libnl-devel.i686 : Libraries and headers for using libnl
libnl-devel.x86_64 : Libraries and headers for using libnl
libnl3-cli.i686 : Command line interface utils for libnl3
libnl3-cli.x86_64 : Command line interf

[2017-11-24 15:00] adrianreber commented on #416
You need libnl3-devel

[2017-11-24 15:01] 0x7f454c46 commented on #416
I think you don't have binary sharad library.
In my case it's:
[code]
So that's what linker says to you - you need to have some package which provides such .so library.

[2017-11-24 15:12] dineshputchala commented on #416
I have

bash-4.2# ls /usr/lib64/| grep libnl-3
libnl-3.so.200
libnl-3.so.200.23.0

[2017-11-24 15:27] 0x7f454c46 commented on #416
Yes, so you don't have `libnl-3.so`.
You can make it a symlink to `libnl-3.so.200`, but..
I think it's provided by `libnl3-devel` as @adrianreber said.
So, after you'll have a symlink - you'll have compilation errors in missing headers.

[2017-11-24 15:38] dineshputchala commented on #416
Already checked , my yum is not listing libnl3-devel

[2017-11-24 16:39] 0x7f454c46 commented on #416
Well, I don't know much about Oracle Linux packaging.
But at least you know now what's missing.
At worst you can always compile it yourself and package/make install in the /opt/lib64

[2017-11-27 07:47] adrianreber commented on #415
@0x7f454c46 , @avagin Not totally sure what the situation here is now? Is my kernel missing a patch or my CRIU checkout?

[2017-11-27 10:14] dineshputchala commented on #412
Installed CRIU 3.6 on my machine by building it as this package was not available in my repos. It took some time due to resolving lot of dependencies while building CRIU code.

Hurray ... Finally I could install CRIU 3.6 version !

[2017-11-27 10:26] dineshputchala commented on #412
@avagin  Attempted checkpoint/restore expt again on Oracle Database Server 12c R2 with latest CRIU version (3.6) !

This time, its different story ...

I was able to do checkpoint and restore did not throw any error but the db inside the container was not brought up successfully.

bash-4.2$ docker checkpoint create cont_criu3 cont_criu3_chk
cont_criu3_chk

bash-4.2$ docker checkpoint ls cont_criu3

[2017-11-27 10:29] dineshputchala commented on #416
Downloaded libnl3 and built it and created softlinks to my include dir's to resolve header file issues.

[2017-11-27 10:29] #416 closed

[2017-11-27 11:11] adrianreber commented on #412
@dineshputchala nice, now you need to talk to oracle that they should support migration. The oracle database seems to have problems if the time changes. This is expected as the time will keep on running as long as your container is stopped. It is even worse for migration as the kernel timers on the destination system will be completely different. So this is unrelated to CRIU and needs to be change

[2017-11-27 21:10] 0x7f454c46 commented on #415
@adrianreber just for easier reproduction, you use vanilla v4.14 kernel with master 3.5 criu?
Could you try with vanilla criu and/or vanilla kernel to see if it reproduces?
And if so - could you upload the kernel .config?
If it doesn't reproduce - then I think it might be simple to bisect this.

[2017-11-28 04:32] dineshputchala commented on #296
@xemul  any plans on when this will get implemented ? Is this new feature to be implemented in criu or kernel ?

[2017-11-28 07:05] adrianreber commented on #296
This needs to be implemented first in the kernel and then in CRIU. It comes up regularly in discussions but as far as I know nobody is working on it.

[2017-11-28 07:46] dineshputchala commented on #412
Similar issue is observed in bug https://github.com/checkpoint-restore/criu/issues/296 which requires changes in kernel and then in CRIU.

[2017-11-29 15:21] rockymtnman commented on #409
That did it. Removing the external library (which opened the Unix sockets) fixed the issue. Now the external flags are not needed. Works great! Thank you

[2017-12-01 10:44] dineshputchala commented on #412
From alert log,

Warning: VKTM detected a forward time drift.
Time drifts can result in unexpected behavior such as time-outs.
Please see the VKTM trace file for more details:
/u01/app/oracle/diag/rdbms/orclcdb/ORCLCDB/trace/ORCLCDB_vktm_64.trc
2017-11-27T06:43:17.786116+00:00
PMON (ospid: 58): terminating the instance due to error 472

Same issue is observed in Bug #296 which requires changes in

[2017-12-01 18:34] 0Camus0 opened #417 "Built in Ubuntu and deployed on Yocto but /run/criu.kdat not found"
Hello, I built the project, resolved the dependencies, but when try to dump I got this errors:

root@:Dom0 ~ $ ./criu dump --tree 524 --images-dir /home/root/images/ --leave-stopped
Warn  (criu/kerndat.c:658): Can't load /run/criu.kdat
Error (criu/sockets.c:132): Diag module missing (-2)
Error (criu/sockets.c:132): Diag module missing (-2)
Error (criu/sockets.c:132): Diag module missing (-2)
Error

[2017-12-01 18:44] #417 closed

[2017-12-03 22:23] vaidehip86 commented on #293
Hello,
I'm facing the same error , please help me to figure out
(00.640202)    196: Error (criu/files-reg.c:1528): Can't open file tmp/liblz4-java1595117645323586684.so on restore: No such file or directory
(00.640214)    196: Error (criu/files-reg.c:1463): Can't open file tmp/liblz4-java1595117645323586684.so: No such file or directory
(00.640218)    196: Error (criu/mem.c:513): Can't fixup VMA's

[2017-12-04 04:08] slient-rain opened #419 "docker checkpoint restore can not find config.json file"
I use docker checkpoint create command to get a checkpoint of a running container,
but when i use checkpoint ls or start --checkpoint command to view or start the checkpoint i got an error : can not find config.json file, anyone know the reason?

ERRO[2017-12-04T11:47:52.383359149+08:00] Handler for GET /v1.34/containers/looper/checkpoints returned error: open /var/lib/docker/containers/aab56fd5eb

[2017-12-04 06:36] adrianreber commented on #419
config.json is not a CRIU file and so I guess this needs to be handled by docker. The error seems unrelated to the actual process of checkpointing or restoring and the usage of CRIU.

[2017-12-04 06:44] adrianreber commented on #293
@vaidehip86 your report seems unrelated to the original bug-report, but it seems you are missing temporary files in the restored container. Without knowing the details how you run the container it is hard to tell but mounting a tmpfs at /tmp could help as CRIU would then store the files of the tmpfs in the checkpoint and restore them later.

[2017-12-04 06:59] slient-rain commented on #419
@adrianreber  then do you have any idea about this error?What should i do to check what is the reason resulting in the problem .And more details, after i executed checkpoint create command ,the container is not stopped.

[2017-12-04 07:40] adrianreber commented on #419
It is hard to tell what your problems might be without knowing what you did. Some more information would be really helpful. The commands you used, the environment, the container and probably even more. But from my point of view this is primarily not a CRIU problem from what you reported. You are using docker commands and something did not work. There is not a single CRIU error message. So maybe re

[2017-12-04 07:58] wuhaofrank commented on #300
@sjpotter Have you already solved this question? I have the same problem with you.

[2017-12-04 13:56] vaidehip86 commented on #293
@adrianreber Thank you for your quick response but can you please explain me, more about how to mount tmpfs and when? and which details you need to explain me more about restore failure?

[2017-12-04 14:54] slient-rain commented on #419
@adrianreber  Thank you very much, I was  puzzled by this problem for a few days,but now it is solved.The problem is indeed  caused by the docker environment . I changed the docker version from 17.11 to 11.04, and other environment is the same as before ,and the problem is disappeared.

[2017-12-04 15:35] adrianreber commented on #419
Would it make sense to open a docker ticket to track this?

[2017-12-04 15:41] adrianreber commented on #293
@vaidehip86 Using Google I found this: ```docker run --tmpfs /tmp <name>```

I have not actually used it or tried it, but that sounds like it should do the 'right thing'.

[2017-12-04 19:21] avagin commented on #415
@adrianreber I think your kernel is missing a patch. I checked the vanilla 4.14 kernel, and tests passed.

[2017-12-04 19:39] adrianreber commented on #415
@avagin any idea which patch that might be? I will also start a test with the vanilla kernel.

[2017-12-04 20:55] rockymtnman commented on #409
Is there a way to pass namespace via command line option in response to this error:
Error (criu/tun.c:275): Net namespace is required to dump tun link

[2017-12-04 23:39] kolyshkin commented on #419
Yes this is a docker issue; not sure if it's reported already or not

[2017-12-05 00:24] avagin commented on #409
@rockymtnman CRIU found a descriptor to a tun device, but we can dump this descriptor, only when a net namespace is dumped too. How do you use a tun device? Can you run your tool in a new net namespace?

[2017-12-05 01:49] hetianzhang commented on #408
you could find the checkpoints in `/tmp/<containerID>/checkpoints`
Therefore, you could add it to `--checkpoint-dir` instead of `/tmp`

It works for me.

[2017-12-05 01:54] vaidehip86 commented on #408
okay thanks, im able to solve it.

[2017-12-05 02:06] vaidehip86 commented on #408
Now I'm getting another error for docker restore,
(00.640202) 196: Error (criu/files-reg.c:1528): Can't open file tmp/liblz4-java1595117645323586684.so on restore: No such file or directory
(00.640214) 196: Error (criu/files-reg.c:1463): Can't open file tmp/liblz4-java1595117645323586684.so: No such file or directory
(00.640218) 196: Error (criu/mem.c:513): Can't fixup VMA's fd
(00.641647) 54: Err

[2017-12-05 02:07] vaidehip86 commented on #408
@avagin @hetianzhang
Now I'm getting another error for docker restore,
(00.640202) 196: Error (criu/files-reg.c:1528): Can't open file tmp/liblz4-java1595117645323586684.so on restore: No such file or directory
(00.640214) 196: Error (criu/files-reg.c:1463): Can't open file tmp/liblz4-java1595117645323586684.so: No such file or directory
(00.640218) 196: Error (criu/mem.c:513): Can't fixup VMA's f

[2017-12-05 02:17] avagin commented on #408
You have a race window between docker commit and docker checkpoint. Something can be changed between these two action on a container file system.

You can try to execute docker run with --tmpfs /tmp

[2017-12-05 02:20] avagin commented on #415
I have no idea. You can try to check this list https://criu.org/Upstream_kernel_commits

I know that my problem was due to this patch:
torvalds: 739586951b	arm64/vdso: Support mremap() for vDSO	4.14-rc1

[2017-12-05 06:40] adrianreber commented on #419
@kolyshkin thanks for clarifying

@slient-rain can you report your problem in the docker bug  tracker so it does not get lost?

[2017-12-05 06:49] slient-rain commented on #419
@adrianreber OK，I am glad to report this problem,but I am new student and not very familiar with this , what should I do to report the problem in the docker bug tracker or where should I go to report it?

[2017-12-05 10:13] adrianreber commented on #415
I tried it today with 4.15.0-rc2 from kernel.org and I get the same error.

commit 2391f0b4808e3d5af348324d69f5f45c56a26836
Merge: 236fa07 d9e427f
Author: Linus Torvalds <...>
Date:   Mon Dec 4 11:32:02 2017 -0800

Am I missing a config option? Or is my user-space broken? I will try 'make defconfig' to see if this might fix it.

[2017-12-05 12:32] 0x7f454c46 commented on #415
@adrianreber Do you use vanilla criu?
Because as I pointed, I don't see such git-hash in my criu repo: `v3.5-509-gf18a63b`
So, I would suggest to try with defconfig + vanilla criu and see if that works for you, then looking what does the breakage.

[2017-12-05 15:11] adrianreber commented on #415
@0x7f454c46  That is my CRIU version:

Version: 3.6
GitID: v3.6-428-g0c1b1d0

With a make defconfig kernel (plus a few additional configs turned on for CRIU) I now get

[code]

Besides the 'Unable to kill 24: [Errno 3] No such process' it seems to work. Not sure how fatal that is. The log files look correctly.

[2017-12-05 15:49] adrianreber commented on #415
I think I found it. As soon as I set CONFIG_ARM64_64K_PAGES=y the error is back. I guess it is a valid configuration option. Not sure how CRIU should handle it.

[2017-12-05 16:08] 0x7f454c46 commented on #415
@adrianreber Cool, thanks!
Will try to find time to look at it if no-one beats me at it :)

[2017-12-05 16:10] 0x7f454c46 commented on #415
Just random idea how it could affect the code: we have this PAGE_SIZE macros and functions, they might work not as it's expected.

[2017-12-05 17:57] rockymtnman commented on #409
@avagin So it sounds like my TAP/TUN device has to be created and started up within a namespace, instead of directly on the host as temporary device.  Is this correct?  CRIU can only dump this device within context of a network namespace?

[2017-12-06 01:48] phil294 commented on #76
@xemul is it? If so, Docker does not make use of it.

https://criu.org/Docker#TTY still says

And the error is (a little different than OP)
[code]
Log file is big, contains error `(00.567171) Error (criu/tty.c:381): tty: Found slave peer index 0 without correspond master peer`.

So - is this functionality expected to work or not? Any clues to this? Thank you very much!

[2017-12-07 07:51] sinainnet opened #421 "CRIU Kernel Patches"
Hi,

I'm curious to know what are exactly the supports Linux Kernel provides for the CRIU. I've already searched the Kernel tree, but I think that I do not know where to search!

Can any one kindly help me?

[2017-12-07 07:57] adrianreber commented on #421
There is a list of all CRIU related kernel patches at https://criu.org/Upstream_kernel_commits

[2017-12-07 07:58] sinainnet commented on #421
Thank you.

[2017-12-07 08:13] sinainnet commented on #421
This listing is great. However, I want to know what exactly happen when fro example, the memory of a process is going to be dumped. I know that the user space part ask a CRIU service to dump it. Then, the service tries for building a protobuf message! After that, it is hard to trace what would happen. I think this part is is implemented in the kernel space, but I could not find it.

[2017-12-07 08:32] adrianreber commented on #421
Unfortunately I do not fully understand your question but not much happens in kernel space. Could you rephrase your question?

[2017-12-07 08:42] sinainnet commented on #421
Excuse me for bad writing,

Suppose a process contains 10 GBytes of memory. Writing all this memory to a file is time consuming. So, my question is: what exactly happen for checkpointing/restoring allocated memory of a process?

[2017-12-07 08:55] adrianreber commented on #421
So, time consuming is of course relative 😉

As this is a bug tracker it does not feel like the right place to discuss CRIU internals and I would recommend going through the documentation provided at https://criu.org/ and also through the source code for more details. There are also some presentations discussing the basic functionality of CRIU.

But the basic concept of CRIU's checkpointing is to s

[2017-12-08 20:02] tswift242 opened #423 "Checkpoint creation sporadically fails with timeout"
We're doing C/R on docker containers. The containers being checkpointed run serveral different processes. We've recently noticed that about 4% of the time creating the checkpoint fails with this error: "Error (criu/cr-dump.c:1445): Timeout reached. Try to interrupt: 0". (full dump log attached)

[dump.txt](https://github.com/checkpoint-restore/criu/files/1543686/dump.txt)

Unfortunately, there's n

[2017-12-09 16:38] vaidehip86 commented on #408
@avagin Could you please explain more how i can use  --tmpfs /tmp with my docker run command?
sudo docker run --rm --name cont1 -h scale1.docker -p7077:7077 -p8080:8080 -i spark-cluster
Here, I'm trying to run spark inside my docker container

[2017-12-10 01:44] nbald opened #424 "restore enters infinite "preadv" loop"
CRIU seems to enter an infinite loop when trying to restore.
It always prints the same line and never stops.
I have the same behaviour with any program I test.

I am using CRIU v3.6
Raspberrypi 3, kernel 4.9.67-v7+

Do you have any idea how to debug?

[code]
[restore.log](https://github.com/checkpoint-restore/criu/files/1545252/restore.log)
[dump.log](https://github.com/checkpoint-restore/criu/fil

[2017-12-10 06:22] avagin opened #425 "FAIL: epoll.c:189: Child failed: Can't write (2) (errno = 9 (Bad file descriptor))"
[code]

https://travis-ci.org/avagin/linux/jobs/313347705

[2017-12-11 19:48] avagin commented on #302
@Hitesh-15 What version of criu do you use? I think this issue was fixed in fb4f28f00af0f2d8c6fafdbafc74951f0caea925

[2017-12-11 21:20] avagin commented on #409
Yes,  it is correct. CRIU can only dump this device within context of a network namespace.

[2017-12-12 12:41] harishankard opened #426 "FAIL: Restore of RabbitMQ Cluster of 3 Nodes is failing"
Following Steps:
1. Created dump on all the 3 nodes of RabbitMQ cluster.(Eg. ./criu dump --tree 7432 --images-dir ./build -vvvvv --tcp-established --shell-job) (Dump Created Successfully)
2. Removed the VM and created a VM with same IP , HOST etc. (it is clone of the actual VM)
3. Applied the iptables rules also which were obtained during dump in the new VM.
4. Triggered restore on the all 3 nodes

[2017-12-12 17:32] avagin commented on #426
What criu version do you use? Could you check dmesg?
[code]

[2017-12-12 19:52] avagin commented on #423
@tswift242 Could you collect a perf trace for a criu dump process?

You will need to apply this patch:
[code]

Then you need to execute docker -vvvv checkpoint ... and from another console you need to find a criu process and execute perf trace -p PID -o trace.log and wait when the criu process will exit.

[2017-12-12 19:55] avagin commented on #408
sudo docker run --rm --name cont1 -h scale1.docker -p7077:7077 -p8080:8080 -i spark-cluster --tmpfs /tmp

[2017-12-12 19:58] avagin commented on #424
Could you collect a strace log for criu restore?
$ strace -fo strace.log -s 256 criu restore ....?

[2017-12-13 06:09] harishankard commented on #426
I haves used this version of CRIU :http://download.openvz.org/criu/criu-3.6.tar.bz2
This error occurs sometimes and sometimes it restores fine.
Also when this error occurs "dmesg | grep segfault" doesn't return any output and i didn't  find any segmentation fault.

[2017-12-13 17:54] avagin commented on #423
@tswift242 btw: Does a container live in a separate freezer cgroup?

[2017-12-13 18:27] tswift242 commented on #423
@avagin Thanks for replying. I can try to collect a perf trace. Right now I don't have a way to consistently reproduce this issue. If I find a way to do that, I'll look into getting a perf trace.

I have not explicitly specified any settings to docker/runc/criu related to freezer cgroups, so it's using whatever the default is, which I think is to not have a separate freezer cgroup?

We were also w

[2017-12-13 22:35] avagin commented on #426
@harishankard What we have here. A process has a few threads. CRIU detaches from a group leader, and then CRIU detaches from other threads, but gets these errors. Usually this means that the group leader was exited or it was killed.

BTW: These errors are not fatal.

[2017-12-13 22:37] avagin commented on #426
You can try to enable trace events to understand what is going on there:
echo 1 > /sys/kernel/debug/tracing/events/sched/sched_process_exit/enable
echo 1 > /sys/kernel/debug/tracing/events/sched/sched_process_fork/enable
echo 1 > /sys/kernel/debug/tracing/events/signal/enable
echo 1 > /sys/kernel/debug/tracing/events/sched/sched_process_exec/enable

that you need to try to restore processes and an

[2017-12-14 03:48] psinha01 opened #427 "Substantial freeze time for memory intensive process"
CRIU freezes the process while dumping and this freeze time is substantial if the process is memory intensive. Is there any reason CRIU needs to freeze the process? Can we not dump without freezing the process? Thanks

[2017-12-14 08:56] avagin commented on #427
@psinha01 you can try to use criu pre-dump
https://criu.org/Memory_changes_tracking

[2017-12-14 18:12] avagin commented on #417
I think your kernel is compiled without CONFIG_CHECKPOINT_RESTORE

[2017-12-14 18:14] avagin commented on #424
I've reproduced this issue on my hardware, will fix soon. Thank you for this report.

[2017-12-14 18:54] avagin commented on #424
Here is a quick fix for this problem:
[code]

[2017-12-15 09:26] harishankard opened #428 "Fail: Dump For PostgreSql fails"
Hi ,
I tried create checkpoint dump for PostgreSql. It fails with the following error:
(00.027752) Error (criu/cr-dump.c:431): Task 8778 with SysVIPC shmem map @7f173f7d3000 doesn't live in IPC ns
(00.027784) Error (criu/cr-dump.c:1411): Dump mappings (pid: 8778) failed with -1
I ran this command ./criu dump --tree 8778 --images-dir ./build -vvvvv --tcp-established --shell-job
[criu_log.log](https

[2017-12-15 09:51] adrianreber commented on #428
Processes which are using SysVIPC shared memory need to be in a IPC namespace like the error message says.

So you need to stop the database, unshare -i, start the database and try it again.

I have successfully live migrated postgresql this way.

[2017-12-16 14:00] harishankard commented on #426
Hi,
We don't find any information in trace or logs. But we noticed this behaviour
1. Created dump of rabbitmq process in a VM.
2. Restore the dump of rabbitmq process in same VM. It restores successfully.
3. Created another dump of rabbitmq process in a VM.
4. Restart the VM. Restore the rabbitmq process. No errror but the process never comes up. When checked it rabbitmq startup-err logs it says "

[2017-12-16 16:12] shashankmjain commented on #426
https://github.com/erlang/otp/blob/master/erts/emulator/beam/erl_time_sup.c is where this error appears in Erlang code.

[2017-12-17 02:22] shashankmjain commented on #426
Infact changing the Erlang setting to not do a time check, fixes the issue for me. Is there some setting in CRIU which is possible though to fix this?

[2017-12-17 02:25] erulabs opened #429 ""Ghost files" and read-only filesystems? "Can't create ghost regfile""
Hello!

  I'm having an issue restoring checkpoints that require ghost files on a read-only filesystem to be "remapped". A ghost file is created (from `restore.log`):
[code]
And then fails when unlink fails:
[code]

I'm diving into CRIU and would appreciate any hints, but Im wondering why this file in particular has to be "remapped", and what I can do to prevent that. Is CRIU snapshotting a proces

[2017-12-17 06:52] avagin commented on #426
It is the known problem and it can't be fixed without changing the kernel.
https://criu.org/Time_namespace

There was an attempt to implement this feature ten years ago
https://lkml.org/lkml/2006/4/19/34

[2017-12-17 07:29] shashankmjain commented on #426
Then the only way is to set this at Erlang level as I had suggested above?

[2017-12-17 07:44] avagin commented on #426
@shashankmjain yes, it is. You can use this way, if it works for you. But it is a workaround. And if we want to fix this issue, we have to fix the kernel.

[2017-12-18 14:35] sroettger opened #430 "Reporting security issues"
I'd like to report a security issue when running criu dump/restore as root on a malicious process.
Is it fine to share the details here in this bug or would you like me to send them to you in private?

[2017-12-18 15:02] 0x7f454c46 commented on #430
+CC: @avagin and @xemul.
I guess it would be better done in private as criu is being used in production.

[2017-12-18 16:02] harishankard commented on #428
Hi,
I was able create a dump for PostgreSql when there was no Shared Buffer Cache with unshare -i. But when i tried to create a dump of postgresql which contained shared cache buffer, the dump failed with the following error:
Command Ran :
./criu dump --tree 15189 --images-dir ./build -vvvvv --tcp-established --shell-job --ext-unix-sk

(00.425640) sk unix: Dumping external sockets
(00.425662) sk u

[2017-12-18 19:00] avagin commented on #428
Here is an article which explains this error:
https://criu.org/External_UNIX_socket

[2017-12-18 19:26] ashtonwebster commented on #211
I know this is pretty old, but this is similar to an issue I am having now.  My goal is to restore an echo server example code on a new machine with a new IP address. I am using CRIT to change the inetsk.img file to use a new IP address and then restoring from this image. I have something similar to NAT set up that will rewrite the IP addresses so that after the restore it will appear to the clien

[2017-12-18 19:43] avagin commented on #429
this issue was fixed in 4d3ae51725552a38a2b5a9f0ba2c83e0d1fab89d

[2017-12-18 19:43] avagin commented on #429
Cc:  @Snorch

[2017-12-18 19:49] avagin commented on #429
It means that one of processes has a file descriptor to this file, but this file was unlinked from a file system. You can use "lsof | grep '(deleted)'" to find such files.
https://criu.org/How_hard_is_it_to_open_a_file

[2017-12-18 19:51] avagin commented on #429
(00.300582)      1: mnt:        Mounting fuse @/tmp/.criu.mntns.s8pOlp/12-0000000000/app/available_modules (0)

Is it a fuse mount? CRIU doesn't support fuse mounts. Why do we not return an error on dump?

[2017-12-18 20:08] erulabs commented on #429
Hrm, the filesystem is read-only, so that file certainly shouldn't have been deleted.. Will keep investigating, thanks!

[2017-12-18 21:11] ashtonwebster commented on #211
Follow up: for my first question I discovered I also need to change the IP address in files.img using CRIT, but an update on the status of this would still be helpful.

[2017-12-20 05:25] jackssirs opened #431 "Mips supprot"
Ciru Do not support mips, how to add MIPS support?

[2017-12-20 06:26] avagin commented on #431
You need to look in criu/arch/ and compel/arch/, thera are directories for each supported architectures. You need implement the same things for MIPS.

[2017-12-20 08:22] jackssirs commented on #431
I can implement  c code，but no the mips asm at all

[2017-12-20 19:10] avagin commented on #431
@jackssirs I can't too;). We need someone who can.

[2017-12-21 01:12] jackssirs commented on #431
@avagin  you know someone who familiar mips assembler

[2017-12-21 18:56] avagin opened #432 "criu pre-dump hangs"
https://ci.openvz.org/job/CRIU/job/CRIU-lazy-remote/job/criu-dev/283/

[code]

Cc: @rppt

[2017-12-21 19:05] avagin commented on #432
[code]

[2017-12-21 19:09] avagin commented on #432
[code]

[2017-12-22 21:34] psinha01 opened #433 "Restoration failed: 9060: Error (criu/files-reg.c:1682)"
I am doing a live migration of a memory intensive process using page server and iterative migration.
After final iteration, I copy the all the dumps other than user memory dumps on destination using scp. Then I try to restore the process on destination which results in following error:
[code]

Following are the steps that i followed:
Step 1: creating tmpfs on destination and source
On destination:

[2017-12-24 23:49] user171 commented on #419
Anyone knows if it is reported on Docker? I think I am experiencing the same bug and I am looking for the corresponding ticket. Thanks.

[2017-12-25 09:44] adrianreber commented on #419
I am not aware. If you want, please open a bug and mention it here.

[2017-12-25 10:18] user171 commented on #419
It looks like this is the one: https://github.com/moby/moby/issues/35690 and it also links to https://github.com/moby/moby/issues/35691

[2017-12-25 11:11] adrianreber commented on #419
Thanks for tracking down. I guess this could be closed as it is a docker bug.

[2017-12-27 07:06] avagin commented on #433
[code]
This error means that a file tree isn't synced between source and destination nodes. For example, home/o196/sample/pagef has different permissions.

[2017-12-30 07:11] avagin commented on #424
https://github.com/checkpoint-restore/criu/commit/03fb0b82230c7a4f89569339b80e459fdc0e4631

[2017-12-30 07:11] #424 closed

[2017-12-30 12:10] itoffshore opened #434 "make test fails - TypeError: __init__() got an unexpected keyword argument 'file'"
`criu 3.7` builds successfully on Alpine Linux `3.7` but running `make test` fails with:

[code]
I have `python-yaml` installed as a `checkdepends`

[2017-12-31 08:17] avagin commented on #434
We run our test on alpine 3.7 https://travis-ci.org/checkpoint-restore/criu/jobs/323479272

[2018-01-03 19:23] avagin commented on #434
rpc_pb2 is generated by this command:
[code]

[2018-01-03 19:31] avagin commented on #434
@itoffshore I think its issue depends on a protobuf compiler, what you use. Could you check that all protobuf packages have the same version?

[2018-01-03 20:02] itoffshore commented on #434
@avagin - yes I think this is the cause thank you:

[code]
I'll update `py-protobuf` & re-run the tests

[2018-01-04 22:09] MadMub opened #435 "Zombied process and Migration"
Hello, I've been playing with criu a bit. I have been able to dump and restore a c++ app (when it is run isolated and not attached to a shell session). I followed the instructions here:

https://criu.org/Simple_loop

Although the memory usage of my VM decreases in htop, the process seems to still be present in the list of processes (I know htop can be misleading sometimes though). Is the process z

[2018-01-05 07:55] adrianreber commented on #435
Maybe you could give us more details. How do you use CRIU? Which options, parameters and the version (and kernel). How do you determine memory usage? Normally the process is gone after a successful dump but complete command-lines and CRIU logs would make answering this a lot easier. Right now an answer is impossible besides that it usually works.

[2018-01-05 16:51] MadMub commented on #435
After a full VM restart, I actually am not able to recreate the situation I had before. Everything appears to be fully released and restored now (no leftover PIDS). My apologies for jumping the gun with a question.

For reference
Kernel: `4.10.0-19-generic`
Criu Version: `2.12.1`
Criu Check: `Looks good.`

[2018-01-05 16:51] #435 closed

[2018-01-09 16:53] avagin commented on #434
@itoffshore can we close this issue?

[2018-01-09 18:24] itoffshore commented on #434
yes I think you found the problem with the library mismatch.

[2018-01-09 18:24] #434 closed

[2018-01-10 10:55] phil294 opened #436 "criu with VirtualGL"
General GPU dumping is not supported because it is highly driver-dependent (#384). Could it be possible to do so using virtualized OpenGL? https://virtualgl.org/ (OS)

The error I am getting is `Error (criu/proc_parse.c:549): Can't handle non-regular mapping on 19509's map 7fef8da4c000`. Is this intended? Is there a way to get it working?

Reproduce:
- Steps explained at https://criu.org/VNC (awes

[2018-01-12 05:16] sourav295 opened #437 "Phaul - Live migration"
I am trying to migrate a docker container from one docker host to another. Is the criu-dev branch capable of carrying out docker live migration using phaul (the go version integrated in criu and not the python one )?

[2018-01-12 22:06] avagin commented on #437
https://github.com/moby/moby/issues/12995

[2018-01-13 01:32] sourav295 commented on #437
Thanks a lot for your reply. I know about libcontainer; however, I don't want to use it because of certain networking concerns.

I am curious if I carry out live migration between two hosts using phaul. (Not the python version, since it's abandoned) Although, I like logic of that code.

[2018-01-13 09:20] avagin commented on #437
Oops, I posted a wrong link. The right one is https://github.com/containerd/containerd/issues/1731

[2018-01-17 17:27] avagin commented on #436
I don't know how vglrun works, but it doesn't allow us to avoid  /drm mappings, criu doesn't support them right now.

[code]

[2018-01-24 16:10] iatrou opened #439 "lxd stateful stop fails"
Trying to do a stateful stop for a LXD container fails:

$ lxc launch ubuntu:x c1
$ lxc list
+------+---------+----------------------+------+------------+-----------+
| NAME |  STATE  |         IPV4         | IPV6 |    TYPE    | SNAPSHOTS |
+------+---------+----------------------+------+------------+-----------+
| c1   | RUNNING | 10.59.127.189 (eth0) |      | PERSISTENT | 0         |
+------+---

[2018-01-24 19:35] sarnold1119 commented on #398
Hello,
I have the same problem on Dell Inc. PowerEdge R815/04Y8PT (AMD 6180) kernel 4.15-rc9.
Also tried on HP DL580 (INTEL Intel(R) Xeon(R) CPU E7-8867 v4 @ 2.40GHz), failed differently on ia32 and ia64:
 cg: Dumping cgroups for 6453
pie: 6453: __sent ack msg: 76 76 0
(00.013521) Error (criu/proc_parse.c:2393): couldn't fmemopen cgroup buffer : Invalid argument
(00.013567) -----------------------

[2018-01-24 19:39] sarnold1119 commented on #398
Same kernel on the DL580

[2018-01-24 21:53] adrianreber commented on #439
I am not 100% sure but I think dhclient might use a raw socket and I do not think CRIU can handle that. But I am happy to be corrected by someone. Do you actually need dhclient in your container?

You could definitely try to use a much newer version CRIU. 2.6 sounds really old.

[2018-01-25 00:38] sarnold1119 commented on #398
size appears to be 0 on the fmemopen call

[2018-01-25 20:25] phil294 opened #440 "Is CRIU integrated in OpenVZ?"
I made this an issue because the documentation is highly confusing here and might need some adjustments.

- (+) https://criu.org/Integration and [virtuozzo](https://virtuozzo.com/live-migration-virtuozzo-7/) say that criu is part of virtuozzo 7. It also says the latest OpenVZ is "ready", with only "Older OpenVZ releases" using the old built-in CPT.
- (~) https://criu.org/OpenVZ says that OpenVZ "u

[2018-01-25 23:46] avagin commented on #398
@sarnold1119 it is another problem, could you file a new issue?

[2018-01-25 23:50] avagin commented on #398
@sarnold1119 could you show the content of /proc/PID/cgroup for a target process?

[2018-01-26 00:01] sarnold1119 commented on #398
Update,
Works fine on Intel. Problem was cgroups configuration.

[2018-01-26 00:06] sarnold1119 commented on #398
Andrew,
I just posted a update. The problem on the DL580/Intel was the cgroups config (or lack there of).
Works fine on the Intel now, still broken on the AMD.
We could really use the criu with ia32 on the AMD box.
Thanks
Scott
________________________________
From: Andrew Vagin [notifications@github.com]
Sent: Thursday, January 25, 2018 5:50 PM
To: checkpoint-restore/criu
Cc: Arnold, Scott C. (JS

[2018-01-26 01:25] avagin commented on #439
@iatrou could you try the last version of criu? And it would be good if you increase a verbosity level for criu. I don't know how to do this in case of lxc, but you can apply this patch for criu:

[code]

[2018-01-26 02:09] iatrou commented on #439
A quick test shows that indeed when dhclient is running, there is a raw socket open.

<pre>
root@c1:~# ps -fe  | grep dhclient
root       197     1  0 17:52 ?        00:00:00 /sbin/dhclient -1 -v -pf /run/dhclient.eth0.pid -lf /var/lib/dhcp/dhclient.eth0.leases -I -df /var/lib/dhcp/dhclient6.eth0.leases eth0
root       363   350  0 17:52 ?        00:00:00 grep --color=auto dhclient

root@c1:~# ss

[2018-01-26 12:14] 0x7f454c46 commented on #440
`vzctl/prlctl suspend`, `vzctl/prlctl resume`, `prlctl migrate` - have fun with CRIU in vz.

[2018-01-27 14:52] 0x7f454c46 opened #441 "ttyS0: Can't dump file 0 of that type [20620] (chr 4:64)"
Just not to lose this issue:
[code]
I think, will fix it myself, but anyway
Cc: @cyrillos

[2018-01-27 14:58] cyrillos commented on #441
@0x7f454c46 thanks for report. Fix it please, Dima.

[2018-01-29 17:15] rst0git commented on #440
Perhaps this article could be useful https://virtuozzo.com/live-migration-virtuozzo-7/

[2018-01-29 17:42] avagin commented on #440
CRIU is integrated in OpenVZ7 (based on rhel7).

There is some mess on openvz.org about Virtuozzo 7. OpenVZ 6 and older was a separate project with its own code base. OpenVZ7 is a part of Virtuozzo7 without some features (software-defined storage, HA, some optimizations). And we often call both projects as Virtuozzo 7.

[2018-01-30 18:34] avagin commented on #439
Could you show output for " ss -e -f netlink -a". This command should be executed in a container before and after lxc stop c1 --stateful

[2018-01-31 20:48] iatrou commented on #439
Certainly, here it is:

<pre>
$ lxc launch ubuntu:x c1
Creating c1
Starting c1

$ lxc exec c1 -- ss -e -f netlink -a
State       Recv-Q Send-Q  Local Address:Port                Peer Address:Port
UNCONN      0      0                rtnl:kernel                          *       sk=0 cb=0 groups=0x00000000
UNCONN      4352   0             tcpdiag:ss/443                          *       sk=0 cb=0 grou

[2018-02-02 08:47] phil294 commented on #436
@avagin ok thanks. I am not seeing any /drm mappings, but some /dev/nvidiactl and /dev/nvidia0. The issue is probably the same?
Any idea on how to workaround this? Criu+VNC is doable, OpenGL/VirtualGL is not.

I assume that the possibility of checkpointing these kind of mappings would result in various new usecases.

[2018-02-08 06:10] sjpotter commented on #300
no, I was playing around with it then, wasn't using it for production usage, just to see where checkpoint/restart had moved since my zap days.

[2018-02-09 11:05] zaninip commented on #434
Dear everybody,
I write here since my problem seems similar to that discussed here.
I installed the release 3.5.1 of protobuf according to
https://github.com/google/protobuf/tree/master/python

Then, trying the addressbook tutorial
https://developers.google.com/protocol-buffers/docs/pythontutorial
I have an error in the python script when running
import addressbook_pb2

[code]
Do you have any idea

[2018-02-09 15:07] ibrahimagha opened #442 "CRIU error dumping failed"
hi guys,
I was trying to do live migration between 2 lxd hosts but I was not able to do it when I was launching Ubuntu 16 containers I switched to Ubuntu 14 containers and when it is an empty container I can do live migration after a try or two but when I am installing squid on it because I want it to work as a proxy for my back-end cloud the live migration gives me this error +1
sudo lxc move squ

[2018-02-09 15:18] adrianreber commented on #442
So, I just checked my squid VM and squid is opening a raw socket which CRIU, as far as I know, cannot handle. Can you configure squid to not use a raw socket and retry.

[2018-02-09 15:23] ibrahimagha commented on #442
@adrianreber could you please tell me how to configure squid not to use raw socket ?

[2018-02-09 15:42] adrianreber commented on #442
I actually do not know, but it seems to be the process called 'pinger' which can be disabled according to this: http://www.squid-cache.org/Doc/config/pinger_enable/

But I actually do not know much about configuring squid.

[2018-02-09 15:50] zaninip commented on #434
I solved the problem deleting by hand from every _descriptor.FieldDescriptor in the <name>_pb2.py file created by the compilar, the argument file=DESCRIPTOR.
With this "trick", now I can read the .proto file.
This is a very strange bug, somone has already had it?

[2018-02-09 16:01] ibrahimagha commented on #442
@adrianreber thank you for the help after disabling pinger the error changed as below :
live@live-VirtualBox:~$ sudo lxc move squid me:
error: Failed container creation:
 - https://192.168.2.233:8443: migration restore failed
(00.040970) Warn  (criu/apparmor.c:401): binary rewriting of apparmor policies not supported right now, not renaming usr.lib.connman.scripts.dhclient-script.2 to :lxd-squid_<

[2018-02-09 16:17] ibrahimagha commented on #442
I also tried  sudo lxc exec squid /etc/init.d/apparmor teardown  even after tearing down still getting error
error: Failed container creation:
 - https://192.168.2.233:8443: migration dump failed
(00.616012) Warn  (criu/arch/x86/crtools.c:133): Will restore 15568 with interrupted system call
(00.889078) Warn  (criu/arch/x86/crtools.c:133): Will restore 15589 with interrupted system call
(00.959614

[2018-02-09 23:09] avagin commented on #434
@zaninip could you check that all protobuf libraries have the same version?

[2018-02-10 20:35] adrianreber commented on #442
I have no experience with apparmor, and it is probably a bad idea to recommend the following,  but for debugging, maybe try to disable apparmor. At least try to run lxd without apparmor confinement to see if you can migrate your container.

[2018-02-11 09:36] rst0git opened #443 "image-proxy require --address"
Hello,
I noticed that when `image-proxy` is called without `--address` flag it results in segmentation fault.
I was wondering weather we would like criu to show error message like
[code]
or it would be better to make use of the default values which are defined in `img-remote.h`?
[code]

[2018-02-11 13:54] ibrahimagha opened #444 "CRIU/apparmor error during container migration"
hi guys,
I am trying to migreate containers between 2 lxd hosts, the container is hosting squid, but when I try to live migrate them it gives me this error
sudo lxc move squid me:
error: Failed container creation:
 - https://192.168.2.233:8443: migration restore failed
(00.038247) Warn  (criu/apparmor.c:401): binary rewriting of apparmor policies not supported right now, not renaming usr.lib.connm

[2018-02-11 15:48] ibrahimagha commented on #442
@adrianreber even after disabling apparmor still having error saying write AA policy failed: PROTOCOL ERROR
I guess I need to open an other issue for that.

[2018-02-13 15:09] ramy150 commented on #405
Hi @xemul

Concerning the GTP contribution, we tried to finish the work, however, we are facing a problem in the restore part. The dump part was successfully integrated.

attached you can find the contribution link followed by the log files of the dump and the restore.

link to the contribution:
[https://github.com/MOSAIC-LAB-AALTO/criu-gtp-support/commit/fa4e5de2a95d5d5b8715b14b519e03b9484a77d9](

[2018-02-14 21:37] dav-ell commented on #267
Do you guys have a timeline for when you anticipate being able to work on this? I'm also coming across this error, and I doubt my chances of being able to add this feature in any reasonable period of time.

[2018-02-15 08:12] xemul commented on #267
@dav-ell , it's hard to say. The first obstacle we have is the lack of hardware to play with. Also, the active criu team is quite small at the moment, most of the time we can devote to the project is around the needs that don't have rdma in it. However, we can discuss other forms of collaboration, feel free to ping me on xemul (at) openvz (dot) org.

[2018-02-15 16:25] dav-ell commented on #267
@xemul , my problem may actually be better suited for another issue. The error is:

[code]

which is more closely related to an [issue](https://github.com/lxc/lxd/issues/3715) someone had in LXD, referencing CRIU.

[2018-02-15 18:51] dav-ell commented on #267
My error was indeed unrelated to this issue and was caused by differing kernel versions on the two hosts I was using. [Apparently](https://github.com/opencontainers/runtime-spec/pull/942) RDMA was added to the linux kernel in 4.11, so checkpointing on one host with 4.11 or higher and restoring on another host with less than 4.11 will cause the error I had. A workaround is to make the kernel versio

[2018-02-15 22:04] avagin commented on #443
I vote for the error.

[2018-02-16 18:13] rst0git commented on #443
Thanks.
I send a patch to the mailing-list

[2018-02-16 18:13] #443 closed

[2018-02-19 13:41] xemul commented on #405
@ramy150 , I don't see any errors in your restore.log file. Also, I will leave some comments about the code [here](https://github.com/MOSAIC-LAB-AALTO/criu-gtp-support/commit/fa4e5de2a95d5d5b8715b14b519e03b9484a77d9)

[2018-02-20 12:03] rppt commented on #415
@0x7f454c46 arm64 kernel may also have CONFIG_ARM64_16K_PAGES=y ;-)

[2018-02-23 01:20] iatrou commented on #439
@avagin is the provided output what you were expecting? Anything more I can add?

[2018-02-25 21:53] avagin opened #445 "FAIL: sit.c:48: Net config differs after restore (errno = 11 (Resource temporarily unavailable))"
https://travis-ci.org/checkpoint-restore/criu/jobs/345823605

[code]

[2018-02-25 23:52] avagin commented on #445
[code]

[2018-02-26 21:58] iprimo commented on #303
Hi @xemul,

I have been following CRIU team great work for sometime and can foresee many great opportunities for Live\Cold container migration technology.

I already started to playground with CRIU, and unfortunately I am experiencing similar issues with restoring containers on Docker.

You mentioned there are constant complaints about restoring containers in to new containers, I am wondering is t

[2018-02-27 04:40] xaviermerino opened #446 "CRIU 3.7 on Rasperry Pi 3: Can't dump"
Hello,

I have been trying to use CRIU to checkpoint the [Simple Loop](https://criu.org/Simple_loop) example in a Raspberry Pi 3 but the dump always fails.

Here are the steps that I took to get to this point:

1. Recompile the Raspberry Pi kernel with the [features needed](https://criu.org/Linux_kernel) by CRIU. I followed the steps given by the RPi Foundation [here](https://www.raspberrypi.org/d

[2018-02-27 06:44] rppt commented on #446
Please check if `CONFIG_PROC_PAGE_MONITOR` is enabled in your kernel configuration. It is required for getting information about dumpee memory layout.
ARM does not support soft-dirty feature therefore `HAVE_ARCH_SOFT_DIRTY=n` for Raspberry Pi.
As a side effect,  `CONFIG_MEM_SOFT_DIRTY=y` implicitly enables `CONFIG_PROC_PAGE_MONITOR` and it's possible it's missing from your kernel config.

[2018-02-27 07:07] xaviermerino commented on #446
Oh alright. I checked and  `CONFIG_PROC_PAGE_MONITOR=y`. Do you know what else could be causing this? I am attaching the kernel config file.
[rpi_criu_config.txt](https://github.com/checkpoint-restore/criu/files/1761556/rpi_criu.txt)

[2018-02-27 07:59] rppt commented on #446
Sorry, I've misread the dump log a bit.
The dump seems to fail because of VDSO. Can you try to disable `CONFIG_VDSO` in your kernel config and see if it helps?

cc @0x7f454c46

[2018-02-27 12:51] 0x7f454c46 commented on #446
Hey guys,

@rppt, thanks for Ccing,

Yes, there was somewhere instruction how-to CRIU on ARM32.. Not really sure, where it is now.
Anyway, for historical reasons, you need to disable CONFIG_VDSO in your kernel configuration to make it work. Unfortunately, ARM doesn't have a boot parameter like 'vdso=' on x86/sh/s390, so you need to recompile your kernel.

That's kinda hilarious because disabling C

[2018-02-27 19:13] avagin commented on #439
I remember that we had some problems with audit sockets. Could you try to disable audit for this CT?

[2018-02-27 19:13] avagin commented on #439
"lxc exec c1 -- ss -e -f netlink -a | grep audit" show show nothing

[2018-02-27 21:16] xaviermerino commented on #446
@0x7f454c46 I set `CONFIG_VDSO=n` in the kernel.
I attempted  `criu check --all` again. It complains and says:
[code]
This time however, I am able to dump the simple loop process and restore it. I am using the instructions for the shell job dump.
[code]
I am attaching the kernel config file with `CONFIG_VDSO=n` and all the added features for CRIU support [here](https://github.com/checkpoint-restor

[2018-02-28 03:13] lizhi16 opened #447 "In the CentOS system, the restore process needed to be executed twice can success."
My system is centos7 and the kernel is 3.10.0.x86_64.
docker Version is 17.09.0-ce

My Question:
 when I used the "docker start --checkpoint-dir" to restore the checkpoint file, an error happened.
(01.427150) mnt: Switching to new ns to clean ghosts
(01.427224) Unlink remap tmp/jar_cache5045841997833305098.tmp.cr.1.ghost
(01.427916) Unlink remap tmp/jar_cache352020530951016212.tmp.cr.2.ghost
(01.4

[2018-02-28 03:41] avagin commented on #447
Could you send a full restore log? There should be other errors.

[2018-02-28 03:42] avagin commented on #445
https://github.com/checkpoint-restore/criu/commit/e2a892b18c8778c0e88d61598f23fa12ac4433af

[2018-02-28 03:42] #445 closed

[2018-02-28 03:55] lizhi16 commented on #447
[restore.txt](https://github.com/checkpoint-restore/criu/files/1765525/restore.txt)

[2018-02-28 05:13] avagin commented on #447
[code]

[2018-02-28 05:13] avagin commented on #447
Cc: @0x7f454c46

[2018-02-28 06:45] avagin commented on #444
Cc: @tych0

[2018-02-28 06:49] avagin commented on #444
The upstream criu doesn't have criu/apparmor.c. I think Ubuntu applied this series: https://lists.openvz.org/pipermail/criu/2016-October/031854.html

[2018-02-28 06:51] avagin commented on #440
Feel free to reopen this issue, if you have other questions.

[2018-02-28 06:51] #440 closed

[2018-02-28 08:13] xemul commented on #303
@iprimo I've received a github notification from you on this issue, but don't see the comment itself, neither notification has your e-mail for contact. If you want, let's discuss your question over e-mail, write me to xemul (at) openvz (dot) org.

[2018-02-28 12:48] 0x7f454c46 commented on #447
Hi guys,

thanks for Ccing,
I believe @lizhi16 has an old version of CRIU. The fix for cgroup net_prio write was merged somewhere in v3.7 release. So, you can either update criu or build it from sources.
As a workaround, you can try to umount it.. https://www.kernel.org/doc/Documentation/cgroup-v1/net_prio.txt

[2018-03-01 01:57] lizhi16 commented on #447
@0x7f454c46 @avagin Thank you so much! I updated to v3.7 release, this problem is solved.

[2018-03-01 01:57] #447 closed

[2018-03-01 11:59] adrianreber commented on #415
Adding my post to the mailing list also here:

https://lists.openvz.org/pipermail/criu/2018-February/040524.html

[2018-03-01 14:27] 0x7f454c46 commented on #446
@xaviermerino The complaints of `criu check --all` are OK.
They say, that you might miss some features, but C/R usually should work:
[code]
I have in todo removing CONFIG_VDSO from criu, so it will work on ARM with vdso enabled..

[2018-03-02 01:17] ZikeWang commented on #437
I want to carry out container live migration using docker-ce, does p.haul now support docker-ce?

[2018-03-02 10:58] xemul commented on #437
@ZikeWang , the question should be reversed :) Like this: "does docker support p.haul?", because p.haul is a library that should be used by container runtime to live-migrate containers. AFAIU docker has worse support for criu as it could, p.haul itself is not integrated.

However, @adrianreber is doing great work in integrating criu features into docker, definitely he has better understanding than

[2018-03-02 14:46] dav-ell opened #448 "Checkpoint/restore multiple processes simultaneously?"
Is there a standard way of checkpointing and restoring two or more connected containers without interrupting their network connection? I've tried a couple ways and am having no luck.

First attempt:
1. Spawn two containers from a script by forking and execing, so that the script becomes an ancestor of both containers, and the containers are descendants of the script process in the process tree. Co

[2018-03-02 23:07] avagin commented on #448
@dav-ell Could you give more details about the second case? How do you checkpoint and restore containers? Who gives ip addresses to containers? Are containers restored with the same ip addresses? Could you collect tcpdump for inter-container connections?

[2018-03-03 15:24] ZikeWang commented on #437
@xemul thx a lot for your reply ! A little more question,  I‘m going to start research on container migration. if I wanna use p.haul, maybe I need to use container runtime such as containerd rather than docker-ce, or try writing the patch in Go for the integration with docker ???

[2018-03-04 10:52] rst0git opened #449 "Logging to file does not work"
The cli option `--log-file` and the libcriu method `criu_set_log_file` do not set criu to store logging messages to the output file.

Although, an empty log file is created when [`log_init(opts.output)`](https://github.com/checkpoint-restore/criu/blob/criu-dev/criu/crtools.c#L979) is called, the function [`vprint_on_level`](https://github.com/checkpoint-restore/criu/blob/36ebce8d9cf1b05cec691c642f

[2018-03-04 11:11] adrianreber commented on #437
@ZikeWang so @xemul is right. I am working on container migration.

runc, as you probably know, has support for container migration using pre-copy and post-copy migration. Recently I added pre-copy migration to LXD (https://fosdem.org/2018/schedule/event/containers_optimized_migration/ , https://lisas.de/~adrian/?p=1294) and currently I am looking at adding container migration to podman.

I am uns

[2018-03-06 01:55] ZikeWang commented on #437
@adrianreber Thank you very much for your suggestion, I think you made a lot of sense, then I will pay more attention to containerd, runc

[2018-03-10 06:41] iprimo opened #450 "Error response from daemon: custom checkpointdir is not supported"
Hi,
I am trying to checkpoint and restore a test container on Docker, and checkpoint command gives me the "Error response from daemon: custom checkpointdir is not supported" error.
I provide more detailed output in the following.
The differences between containers-IDs comes from different tests I have done at different points in time.
Thanks

[code]

[2018-03-10 07:45] adrianreber commented on #450
That sounds like a docker problem. Have you already discussed this with docker upstream? Do they say it is CRIU related?

[2018-03-10 09:16] iprimo commented on #450
No, thought it might be better to check with you guys first.
I was not aware, docker assists with experimental features.
Is there a version of docker you can recommanded that C\R functions well with it ?

[2018-03-10 09:33] adrianreber commented on #450
I never actually used docker's checkpoint/restore, so I do not really know. But my impression right now is that it is unmaintained. But I do not actually know.

[2018-03-11 06:00] #383 closed

[2018-03-12 06:42] #449 closed

[2018-03-12 12:30] dav-ell commented on #448
@avagin I run, checkpoint, and restore using runc 1.0.0-rc4+dev. CRIU version 3.7.  The second case, in more detail, is:

Container `a` is a server. Container `b` is a client. Both `a` and `b` have network namespaces disabled, so their IP address is the same as that of the host. After starting both with `sudo runc run`, `b` connects to `a` over a socket.

Imagine something like this for checkpoint

[2018-03-12 12:39] adrianreber commented on #448
Looking at your tcpdump log there is 20 minutes between the checkpoint and the restore. This is too long for established connection being kept alive.

Not knowing  much about your containers I see an ACK at 15:52:16.398779 which seems to be the first packet after the restore. This ACK is answered by a RST because if an ACK comes 20 minutes too late  TCP connection are usually aborted (or the recei

[2018-03-12 13:57] dav-ell commented on #448
I tried restoring immediately after checkpointing and it worked. Here's another log, with the checkpoint and restore happening around 09:32:02 and 09:32:16, respectively.

[tcpdump.log](https://github.com/checkpoint-restore/criu/files/1802942/tcpdump.log)

So now I'm wondering... the difference between the checkpoint and restore is roughly 14 seconds. Is it working based on the fact that the timeo

[2018-03-12 14:13] adrianreber commented on #448
I do not really know, but I hope someone will correct me if I am wrong. But assuming that CRIU re-creates the sockets just as they were during checkpoint I would expect the timestamps to bet set to the same value they were during checkpoint which would mean they have been disconnected, in your example, for 50 seconds.

[2018-03-12 14:36] dav-ell commented on #448
Thanks for the help so far, @adrianreber. It looks like you're right. I tested this with a longer delay between checkpoint and restore, ~1 min, and it timed out. The checkpoint/restore happens around 10:23:00 and 10:24:00.

[tcpdump.log](https://github.com/checkpoint-restore/criu/files/1803136/tcpdump.log)

So it seems like what you said is correct. If that's actually how it works, though, and CRI

[2018-03-12 14:43] adrianreber commented on #448
For cases where both ends of the connection are checkpointed it sounds reasonable, not sure if it can be implemented. No idea what those timestamps are used for in addition in the network stack.

You could try to decode the network related dump files using crit (decode) and maybe even change the timestamps manually and create new dump files with crit (encode).

[2018-03-12 15:07] dav-ell commented on #448
@adrianreber That's an awesome idea. Any clue which .img file to edit?

[2018-03-12 15:47] adrianreber commented on #448
The TCP connections are in files.img.

[2018-03-12 16:17] dav-ell commented on #448
This issue is solved, since I have indeed been able to checkpoint and restore with TCP connections still alive, and checkpointing simultaneously wasn't even required as long as the checkpoint/restore happened within the limits of the TCP timeout.

I'll close this issue and make another for further questions.

[2018-03-12 16:17] #448 closed

[2018-03-12 16:40] dav-ell opened #451 "Allow unlimited time to pass between C/R of TCP-connected containers"
Based on discussion in #448, CRIU restores the timestamps of TCP connections to the values they were at when checkpointed. It seems that if these values were changed to the time at which the restore occurs, then TCP-connected containers could continue to have a working connection even after an unlimited amount of time had passed between the checkpoint and eventual restore.

After a `criu dump` and

[2018-03-12 18:05] adrianreber commented on #451
There are timestamps in the tcp-stream file. Did you try changing those?

[2018-03-12 18:49] dav-ell commented on #451
@adrianreber It's not clear what the value of the timestamp in tcp-stream should be. The timestamp looks like a time since epoch, but it's definitely not the actual Unix epoch time -- we're currently at 1520878903 or so and the timestamp is 1965427541.

I did try changing the timestamp arbitrarily to be 10000 or so higher in all the tcp-stream files between the two containers. The client continued

[2018-03-12 19:15] avagin commented on #451
I think you misunderstood the idea of this timestamp. This timestamp doesn't affect timeouts when a connection will be dropped.

And it is incorrect to say that criu restore this timestamp on restore, CRIU set a delta between the current tcp timestamp in a system and a timestamp of a restored tcp connection.

https://lists.openvz.org/pipermail/criu/2013-February/007342.html

[2018-03-12 19:53] avagin commented on #451
[code]

[2018-03-12 20:01] avagin commented on #451
From the previous tcpdump, we can see that localhost.10002 was dumped between 15:32:26-15:32:30, but localhost.37366 continued working for more then one minutes.

[2018-03-12 20:06] avagin commented on #451
Here is one more suspicion moment is that the reset packet was sent with a strange seq number (3516504597). It is not absolute number, because tcpdump was executed without --absolute-tcp-sequence-numbers

[2018-03-12 20:10] dav-ell commented on #451
This answers my question about why I was seeing strange timestamps earlier. I'm still not quite clear on what determines the socket timing out, though. You mentioned that the timestamps don't determine the timeout... what does then?

[2018-03-12 20:32] dav-ell commented on #451
@avagin You may have been looking at a bad tcpdump for this one. That was from the first dump I took. The later ones are more reliable and from working C/Rs. The 2nd dump in #448 is from a working dump. The 3rd is from one that purposely failed.

[2018-03-12 21:21] avagin commented on #451
In this tcpdump, I don't see connections which were timed out.

Here is tcpdump for a connection which was C/R and we see that it was closed normally by sending fin packets in both directions.
[code]

[2018-03-12 21:22] avagin commented on #451
Maybe a program which uses this connections has its internal timeouts?

[2018-03-12 21:45] avagin commented on #451
Each tcp socket has information when each packet in a send queue was sent, when it has to be re-transmitted and how many times it can be retransmited. When CRIU restores a packet in a send queue, the logic about re-transmitting packets works so as it would be a new packet.

[2018-03-12 21:55] avagin commented on #451
For example, lets imaging that we have a tcp socket which has un-acked data in a sent queue, which were sent N minutes ago, and without C/R it will timed out in M minutes. If we dump and restore this socket, all timers will be initialized again, and a restored socket will timed out in N + M minutes.

[2018-03-13 19:54] dav-ell commented on #451
This was indeed the case. It turned out the server was aware of the system time, and if the difference between the time it last remembered seeing and the current time was off by more than one minute it would disconnect all clients and crash. I disabled that feature and it stopped crashing.

However, even though it doesn't crash, they still actively disconnect for some reason. Here's the relevant s

[2018-03-13 20:00] dav-ell commented on #451
This sounds close to the solution I'm looking for. Just to clarify then, is there a theoretical limit to the amount of time _between the dump and restore_ that is allowed and the connection still to work when it gets restored? It sounds like there isn't supposed to be, if the timers are getting reset on restore.

[2018-03-13 21:09] avagin commented on #451
There is not a limit for a case when both sides of a connection is dumped and restored. In this case, a connection has to be correctly restored in any time.

[2018-03-13 21:15] avagin commented on #451
In your tcpdump, fin packets were sent in both directions, so both sides closed this connection properly, it means that the connection didn't timed out, the applications called close() for  sockets.

[2018-03-14 00:10] avagin opened #452 "ci/criu-dev: zdtm/static/cr_veth hangs up"
[code]

[code]

[2018-03-14 00:10] avagin commented on #452
https://ci.openvz.org/job/CRIU/job/CRIU-lazy-remote/job/criu-dev/591/console

[2018-03-14 00:22] avagin commented on #452
[code]

[2018-03-14 14:53] rppt commented on #415
I finally found some time to create arm64 VM and to try to debug this.
I could reproduce the crash @avagin  reported eralier (https://github.com/checkpoint-restore/criu/issues/415#issuecomment-346241499) with 4.13.9-300.fc27.aarch64. However, with 4.15.8-300.fc27.aarch64 tests are passing, at least with 4K page size.

I'm going to try 4.15.. with 16K and 64K in the next few days.

@adrianreber are

[2018-03-14 15:07] adrianreber commented on #415
@rppt Thanks for trying. The interesting thing for me would be if it works with 64K pages. From my tests (https://lists.openvz.org/pipermail/criu/2018-February/040524.html) I would say it will not work as CRIU is hardcoded to 4K. With the changes in that mail it works, but after the restore the process crashes with:

[ 5281.926998] busyloop00[2000]: unhandled level 3 translation fault (11) at 0xff

[2018-03-14 16:33] #446 closed

[2018-03-14 22:31] dav-ell commented on #451
Thank you for the clarity on this. I believed you and went and tried a different application. This one is communication between a RabbitMQ client and server. I waited ~25 minutes between the checkpoint and restore and it worked just fine. Here's the tcpdump:

[code]

[2018-03-14 22:37] dav-ell commented on #451
Before I close this @avagin, is there any concern about CRIU failing in the first application I used? It was actually just a simple Minecraft client/server. It seems to me that CRIU's goal is to C/R **any** application transparently, so I just wanted to make sure that Minecraft failing like it did isn't actually a big problem.

[2018-03-14 23:12] avagin commented on #451
@dav-ell You are right, CRIU has an issue here, but this issue isn't about tcp connections, it is about time and timers. And we can't fix this issue without some support from the kernel:

https://criu.org/Time_namespace

Here is one more issue with a similar problem:
https://github.com/checkpoint-restore/criu/issues/296

[2018-03-14 23:17] xaviermerino opened #453 "Restoring process fails due to cgroup: Can't mount. Resource busy."
Hello,

In my tests, I am using a simple application that prints factorials for eternity. It successfully checkpointed and I am able to restore on the same host no problem. Whenever I attempt to restore on another host i get the following error:

[code]

I am restoring like this:

[code]
I don't know if the problem is because the two hosts have different kernel versions. The original host has kern

[2018-03-14 23:25] avagin commented on #453
Could you show output for "cat /proc/self/cgroup" from this host?

[2018-03-14 23:34] xaviermerino commented on #453
From the original host (the one who started the application):
[code]
From the host that I want to restore onto:

[code]

[2018-03-15 00:01] avagin commented on #453
The problem is that net_cls is mounted together with net_prio on the second host.

[code]

[code]

[2018-03-15 00:16] avagin commented on #453
You can modify cgroup.img with help of the crit tool.

For that, you need to decode an image file into a json format
[code]

Then you need to apply this patch to cgroup.json
[code]

And encode cgroup.json back into the criu format:
[code]

[2018-03-15 00:18] avagin commented on #450
Cc: @kolyshkin

[2018-03-15 00:30] avagin commented on #444
@brauner, could you help us with this issue? Do you have non-upstream patches for criu?

[2018-03-15 00:32] brauner commented on #444
@avagin, right afacit, @tych0 has those patches sitting in a tree somewhere. I'll take a closer look tomorrow.

[2018-03-15 01:58] kolyshkin commented on #450
This is clearly not a CRIU issue and should be filed to moby/moby instead. Also, custom checkpoint directories are no longer supported, it has been decided to drop it (if my memory serves me well).

Please look into https://github.com/moby/moby/issues, there may already be an opened bug(s) about it.

[2018-03-15 04:49] xaviermerino commented on #453
Thanks. That seemed to get me through the `net_cls` error. Restore now fails because it is missing a mapping.

[code]
The restore did progress further though. I am attaching the [restore log](https://github.com/checkpoint-restore/criu/files/1814004/restore.log.txt).

[2018-03-15 04:59] avagin commented on #453
This error has the same reason and it can be fixed by the same way.

You need to decode a mountpoints image
[code]

Then remove a net_cls mount point from it.

and decode mountpoints-X.json back to the criu format

[code]

[2018-03-15 05:14] xaviermerino commented on #453
That did fix the error I was having. And now I am out of the cgroups errors. Thanks.
The only problem that I'm having now is a core mismatch.

[code]
Do you know what this means?

[2018-03-15 05:20] avagin commented on #453
CORE_ENTRY__MARCH__ARM = 2

[2018-03-15 05:21] avagin commented on #453
Could you show /proc/cpuinfo for both hosts? What are criu versions on these hosts?

[2018-03-15 05:36] xaviermerino commented on #453
I figured it had something to do with the architecture. I am attempting to have an ARM container moved into an x86 machine using qemu as a translation layer. Both hosts have CRIU version 3.7.

The original host is a Raspberry Pi 3. In order to get it working I followed the steps in #446. This is the cpuinfo.

[code]
The other host is a VM running on a MacBook Pro. It's cpuinfo is below:

[code]
I

[2018-03-15 06:17] avagin commented on #453
In this case, you need to compile criu for arm and run it via qemu on x86 too. I am not sure that this will work, but it is worth to try.

[2018-03-15 06:31] avagin commented on #453
I think we can close this issue. You always can open another one.

[2018-03-15 10:35] brauner commented on #444
So in order to support this properly we'd need @tych0's patches in CRIU but I don't know where he's hiding them. :)

[2018-03-15 14:17] adrianreber commented on #444
Only one of the CRIU packages in Ubuntu comes with those patches;

https://packages.ubuntu.com/xenial-updates/criu

http://archive.ubuntu.com/ubuntu/pool/universe/c/criu/criu_2.6-1ubuntu1~ubuntu16.04.2.debian.tar.xz

For all newer Ubuntu releases CRIU comes without patches. It seems Ubuntu 17.10 and 18.04 will have an unpatched CRIU directly taken from Debian (according to the changelog).

[2018-03-15 14:36] tych0 commented on #444
https://github.com/tych0/criu/tree/apparmor-stacking-v4 maybe? Not sure.

[2018-03-15 17:58] avagin commented on #453
I have understood that this will not work too. When you use qemu-user to run arm binaries, a process runs  qemu-user code which translates arm instructions into x86_64 instructions.

For example, you can see qemu-user mappings in a process:
[code]

CRIU knows nothing about qemu-user, so "criu restore" will restore a process without qemu-user.

[2018-03-15 18:03] 0x7f454c46 commented on #453
Oh, that may be another awesome feature - to deal with qemu-user migration.
But I'm not sure it's possible at all without patching qemu, because if we mmap() qemu binary inside process - it'll not know anything about running process :(
So, it looks as a big amount of work. Without a customer, no one will have the motivation to do it.

[2018-03-15 19:32] xaviermerino commented on #453
@avagin @0x7f454c46 I am actually interested in implementing this. This will allow cross-architecture migration which sounds really cool to me.

[2018-03-15 21:31] dav-ell opened #454 "Changing established TCP connection details results in "Connection reset by peer""
This is a progression from #451, but instead of C/Ring two containers on the same host, I'm checkpointing two containers on different hosts and restoring them on opposite hosts after changing their TCP connection information using `crit`. One container is a RabbitMQ server. The other is a RabbitMQ client. Both client and server are located in the same local network. Network namespaces are disabled

[2018-03-16 21:59] avagin commented on #454
You run tcpdump without --absolute-tcp-sequence-numbers, and in this case, it is impossible to compare sequence numbers.

Could you reproduce this issue again, collect tcpdump with --absolute-tcp-sequence-numbers and attach files.img for both containers?

[2018-03-17 04:24] #453 closed

[2018-03-17 19:28] xaviermerino opened #455 "CRIU Cross-compilation for ARM fails because of Compel's syscall-aux.h"
Hello,

I am trying to cross-compile CRIU for ARM in an x86-64 host. To be more specific I am trying to cross compile for a Raspberry Pi 3. Compilation works fine in the Raspberry Pi itself.

I am following the instructions in [ARM Cross-compile](https://criu.org/ARM_crosscompile). Instead of downloading the most recent Linaro release, I use the one given by the Raspberry Pi (the same toolchain th

[2018-03-18 10:24] rppt commented on #455
I think the cross compilation was broken during compel transition
@cyrillos can you take a look please?

[2018-03-18 10:36] cyrillos commented on #455
Will do, though I don't know much about arm

[2018-03-18 10:39] rppt commented on #455
I've tried nto cross complile a while ago and i think the issue was that host complilation also uses target includes

[2018-03-18 17:47] rppt commented on #415
@adrianreber I've tested with 4.15.7 kernel built with `CONFIG_ARM64_64K_PAGES=y` and env00 passed with hardcoding PAGE_SHIFT to 16 and PAGE_IMAGE_SIZE to 64k:

[code]

I've tested on a fedora27 VM (qemu tcg)

[2018-03-18 20:58] farooqte96 opened #456 "How to integrate criu pre-dump feature with docker for Iterative Migration?"
Hi , in order to move container from h1 to h2, i used docker checkpoint command to freeze the container on source, copied its image files to destination and started the container with checkpoint image files. My question is that if we want to implement iterative migration using pre-dump option, is there some docker command i need to use or criu command because in earlier case, i didn't executed any

[2018-03-18 21:02] adrianreber commented on #456
As far as I am aware there is no support for pre-copy (or post-copy) migration on the docker level. It is only available on the lower runc level. Either you can just use runc to control your containers or add the pre-copy support from runc also to docker.

[2018-03-18 21:22] farooqte96 commented on #456
Hi Thanks for an instant reply. I am checking your suggestion but can you give me some starting point to integrate runc pre-copy functionlity with docker. Is there some already implementation available? Otherwise  i would be left with only runc containers option to test container migration. Thanks

[2018-03-18 21:28] rst0git commented on #456
Hi @farooqte96 if want to only test container migration then use [lxc](https://github.com/lxc/lxc) or [lxd](https://github.com/lxc/lxc).
Recently @adrianreber added support for pre-copy [optimisation recently](https://github.com/lxc/lxd/pull/4072).  You can find more information [here](https://lisas.de/~adrian/?p=1294) .

[2018-03-18 21:28] adrianreber commented on #456
I do not know of any existing work related to docker and pre-copy migration. I know that LXD supports pre-copy migration and I have done pre-copy container migration with runc like described here: https://rhelblog.redhat.com/2017/10/12/container-migration-around-the-world/

[2018-03-18 22:08] farooqte96 commented on #456
Thanks @adrianreber and @rst0git  for your assistance. I will check this for lxd and will get back if i have any issues with that. But one more thing to ask,  does lxd/runc work also the same for Ubuntu 16 because i am not using Red Hat Linux? Thanks

[2018-03-18 22:11] rst0git commented on #456
@farooqte96 yes LXD is maintained by Canonical and it has very good support for Ubuntu (see https://linuxcontainers.org/lxd/getting-started-cli/#ubuntu-1604-lts)

[2018-03-19 11:18] iprimo commented on #450
thanks @kolyshkin,
found similar issue on moby and added my comments,
closing the case.

[2018-03-19 11:18] #450 closed

[2018-03-19 13:09] dav-ell commented on #454
On the side that began with the client (host X in the example, IP `192.168.1.131`):

tcpdump (`tcpdump -nvvv -r tcpdump.log 'port 5672'`):
[code]

`files.img` before and after modification. This img is the server files.img, since the server was moved from host Y to host X, and modification of files.img was done on the receiving host.

[files-before-mod-server.img.txt](https://github.com/checkpoint

[2018-03-19 13:11] dav-ell commented on #454
On the side that began with the client (host X in the example, IP `192.168.1.104`):

tcpdump (`tcpdump -nvvv -r tcpdump.log 'port 5672'`):
[code]

files.img before and after modification. This img is the client's files.img.

[files-before-client.img.txt](https://github.com/checkpoint-restore/criu/files/1825065/files-before-client.img.txt)
[files-after-client.img.txt](https://github.com/checkpoint-

[2018-03-19 18:00] avagin commented on #454
What criu version do you use?

[2018-03-19 18:07] avagin commented on #454
Could you attach  tcp-stream-*.img images too? I see that sequence numbers are restored incorrectly.

[2018-03-19 18:09] dav-ell commented on #454
CRIU Version: 3.7

[2018-03-19 18:11] avagin commented on #454
Could you check that after dumpi, you have iptables rules which block traffic of this connection?

[2018-03-19 18:12] dav-ell commented on #454
The server has three tcp-stream-*.img files:

[tcp-stream-26b5f.img.txt](https://github.com/checkpoint-restore/criu/files/1826338/tcp-stream-26b5f.img.txt)
[tcp-stream-270ff.img.txt](https://github.com/checkpoint-restore/criu/files/1826341/tcp-stream-270ff.img.txt)
[tcp-stream-276a6.img.txt](https://github.com/checkpoint-restore/criu/files/1826344/tcp-stream-276a6.img.txt)

[2018-03-19 18:13] dav-ell commented on #454
The client has one:

[tcp-stream-31406.img.txt](https://github.com/checkpoint-restore/criu/files/1826347/tcp-stream-31406.img.txt)

[2018-03-19 18:16] avagin commented on #454
[code]

[2018-03-19 18:17] dav-ell commented on #454
Not sure about what iptable rule to look for, but here's what I got with `sudo iptables --list-rules`:

[code]

[2018-03-19 18:17] avagin commented on #454
[code]

[2018-03-19 21:07] xaviermerino commented on #455
@rppt @cyrillos I ended up copying some files around whenever I saw an error and it referenced to other files. In sum, some files from under `compel/arch/arm` where copied to where they were needed in an attempt to "fix" the problem.

With those files copied, the compilation continues. But it stops whenever it tries to compile `compel/arch/arm/plugins/std/syscalls/syscalls.o`.

It gives me the fol

[2018-03-19 21:38] cyrillos commented on #455
Ouch, sorry guys, didn't manage to take a look today. Hopefully will do tomorrow.

This looks like some problem in asm syntax for arm.

[2018-03-19 21:39] xaviermerino commented on #455
@cyrillos It does compile fine in the Raspberry Pi though. I was wondering if for some reason it was using an x86-64 assembler instead of an ARM version.

[2018-03-19 22:04] dav-ell commented on #454
What is the reason for this? Is there a risk that the OS will reset the connection when it sees the container is gone?

Well, I went one short of switching the ip table rules and instead just deleted all the ip table rules with --mark 0xc114 (is this a CRIU tag?), and that got it to work. It's actually pretty cool that this works. Thanks a lot for the help.

[2018-03-19 22:04] #454 closed

[2018-03-19 22:05] dav-ell commented on #454
As an extra note... would it be useful to write a doc on how to get this to work? Would you guys post that?

[2018-03-19 23:00] avagin commented on #454
@dav-ell If you write this doc, we definitely will post it! Thank you for the interest to CRIU.

[2018-03-20 13:14] lovemyliwu opened #457 "Restore: family 2 type 1 proto 6 port 57872 state 1 src_addr 127.0.0.1 Error (criu/sk-inet.c:759): Can't connect inet socket back: Cannot assign requested address"
[code]

when I want to restore a celery worker process I got the error.

[2018-03-20 16:05] adrianreber commented on #415
@rppt: Thanks, I was able to run the test-suite with only four errors:

[code]

Any ideas how we could handle the page size automatically? Should we try to detect the page size with CRIU's feature-check script?

[2018-03-20 17:59] cyrillos commented on #455
@avagin Andrew, do you have a machine handy where I could login and investigate?

[2018-03-20 18:07] 0x7f454c46 commented on #415
2018-03-20 16:05 GMT+00:00 Adrian Reber <notifications@github.com>:

###################

#####################################

to detect the page size with CRIU's feature-check script?

I wonder if page_size() already works.
It does sysconf(_SC_PAGESIZE), which IMHO should work?

--
             Dmitry

[2018-03-20 18:11] 0x7f454c46 commented on #415
2018-03-20 18:06 GMT+00:00 Dmitry Safonov <0x7f454c46@gmail.com>:

BTW, PAGE_IMAGE_SIZE looks to be used only for BUG_ON()..
Do we need it by some reason?
It looks as it was used for
:struct page_entry {
:       u64     va;
:       u8      data[PAGE_IMAGE_SIZE];
:} __packed;

But after fd3f33f5d23a it's not used for anything except BUG_ON().

--
             Dmitry

[2018-03-20 18:16] 0x7f454c46 commented on #415
2018-03-20 18:10 GMT+00:00 Dmitry Safonov <0x7f454c46@gmail.com>:

So what if we define PAGE_SIZE as sysconf(_SC_PAGESIZE) and
then use it for everything like PAGE_SHIFT and whatnot?
It looks even simpler than I've expected:
we have only one build-time BUG_ON which may be deleted as
I've just suggested and we shouldn't care about run-time BUG_ON:
 [dima criu]$ git grep 'BUG_ON.*PAGE_'
criu/cr-rest

[2018-03-20 18:21] 0x7f454c46 commented on #415
2018-03-20 18:16 GMT+00:00 Dmitry Safonov <0x7f454c46@gmail.com>:

Ugh, the only thing I've managed to forget - static arrays defined with
PAGE_SIZE.. That will require some monkey-business fixing them.

--
             Dmitry

[2018-03-20 23:06] avagin commented on #457
What criu version do you use? Could you attach dump and restore logs and output for following commands?
[code]
These commands should be executed before C/R.

[2018-03-21 02:02] lovemyliwu commented on #457
@avagin

### version

2.6

### before dump ss output

[code]

### before dump ps output
[code]

### dump log
[code]

[2018-03-21 02:09] lovemyliwu commented on #457
### restore log

http://pasted.co/bfdf5c50

[2018-03-21 08:59] lovemyliwu commented on #457
after change celery worker arg `-P`  from `prefork` to 'solo', the issue fixed

[2018-03-21 12:44] 0x7f454c46 commented on #415
@adrianreber yeah, but what's wrong with `sysconf(_SC_PAGESIZE)`?
A feature-check also doesn't make any better dealing with static arrays sized with PAGE_SIZE.

[2018-03-21 12:57] adrianreber commented on #415
@0x7f454c46 I thought of a feature check which gets the page shift and defines it as a constant in config.h. That would solve the static array size problem. If there wouldn't be the static arrays then I would also be in favour of ```sysconf(_SC_PAGESIZE)```.

[2018-03-21 13:02] 0x7f454c46 commented on #415
@adrianreber Oh, you mean a compile-time feature check, I thought you're on kerndat stuff.
Yes, that would work.. But that means that criu compiled on huge-pages system will not work without them.
So, it will only make it a bit better rather than solve the problem in my point of view.

[2018-03-21 13:10] adrianreber commented on #415
Correct, but from a distribution point of view I have to recompile CRIU for every different kernel version (not minor version, but big version jumps) any way as the ppc64le kernel broke user-space API at some point (AT_VECTOR_SIZE_ARCH changed). It would solve my problem that CRIU is not working at all on aarch64 with 64K pages. It would result in having a CRIU package which works on that distribu

[2018-03-21 13:20] 0x7f454c46 commented on #415
@adrianreber I see your point :)
I'm not against a compile-time feature, I will not mind adding it as it solves the problem for you.
It's just I'm trying to look forward how to do it rightly, rather solving short-time build issue.

And for ppc64le API breakage - maybe we could add kerndat feature?
Like many x86 features where ABI changes or some new API was introduced.

[2018-03-21 13:36] adrianreber commented on #415
@0x7f454c46 Unfortunately the ppc64le problem is also a define used for static arrays. So same problem.

I will prepare a patch for aarch64.

Does anybody know if it is okay to convert page size to page shift? @rppt any ideas, comments?

[2018-03-21 14:42] 0x7f454c46 commented on #415
@adrianreber Go ahead :+1:
I think, I'll patch on top of yours after - looking a bit more into arrays, most of the arrays are just stack buffers to read something from procfs, so it looks easy to patch them with some meaningful value or with allocation with malloc()/mmap() rather allocate them on stack.

[2018-03-21 17:24] rppt commented on #415
@adrianreber , what do you mean by

[2018-03-21 17:25] rppt commented on #415
Well, we can make `PAGE_SIZE` (or `PAGE_SHIFT`) build time option for aarch64 so that @adrianreber  could package different builds for different distro configurations.
I presume that `CONFIG_ARM64_*_PAGES=y` directly corresponds to Fedora/RHEL kernel version and then it's possible to create appropriate dependencies in the criu.spec.

[2018-03-21 17:34] rppt commented on #415
@0x7f454c46 seems you are right and most of the `PAGE_SIZE` arrays (like 4 out of 6) can be `malloc()`ed at init time.  I think that in `mem.c` the `buf` used to read the pages data can be made a part of `page_read` and I have no idea what to do about `write_id_map` in `namespaces.c` :)

[2018-03-21 17:43] 0x7f454c46 commented on #415
@rppt Mostly stack-allocation can even be changed not to malloc() but even to alloca() which will make everything work as it was previously.
The only reason to refrain from alloca() is stack ulimit - with 1Mb pages we're closer to e.g., 8Mb limit (I'm not sure if the limit is the same with huge pages).
So, what I believe, we could simply change all those static arrays to malloc() even non-init-tim

[2018-03-21 18:15] rppt commented on #415
@0x7f454c46 it's not huge pages. aarch64 (and ppc64 as well) may have different basic page size. For aarch64 it can be 4K, 16K and 64K and for ppc64 it can be 4K and 64K.

[2018-03-21 18:21] 0x7f454c46 commented on #415
@rppt Ok, it looks like they are called Large Pages, not Huge Pages.
Heh, I thought in THP the main part is "Transparent".

[2018-03-21 18:47] adrianreber commented on #415
@0x7f454c46, @rppt

The first step would be to remove PAGE_IMAGE_SIZE from criu/include/image.h and ```BUILD_BUG_ON(PAGE_SIZE != PAGE_IMAGE_SIZE);```

That seems the only place where PAGE_IMAGE_SIZE is used according to ```git grep```

and PAGE_SHIFT is only used in criu/mem.c ```len >>= PAGE_SHIFT;``` Which can be replaced and we can therefore also remove PAGE_SHIFT (if we want).

[2018-03-21 18:55] 0x7f454c46 commented on #415
Hm, I suggest to do something like:
https://github.com/0x7f454c46/criu/commits/wip/PAGE_SIZE
(don't look at the changelog - need to be written)
The small thing left - making it compile :trollface:

[2018-03-21 19:41] adrianreber commented on #415
Ah, perfect!

[2018-03-21 20:01] 0x7f454c46 commented on #415
Yeah, I'll try to make it compile today/tomorrow, but that will need some help on testing, especially on ppc64 :)

[2018-03-21 20:04] adrianreber commented on #415
I can help testing on ppc64le, s390 an aarch64.

[2018-03-21 20:08] 0x7f454c46 commented on #415
@adrianreber Oh, you are awesome! I'll ping.

[2018-03-21 20:29] avagin opened #458 "ppc64le: Error (criu/pie/restorer.c:872): Unable to map a guard pag"
[code]

https://ci.openvz.org/job/CRIU/job/CRIU-ppc64le/job/master/3116/

[2018-03-22 14:03] rppt commented on #415
@0x7f454c46 I also can test on ppc64 and somewhat on aarch64

[2018-03-22 18:44] dav-ell opened #459 "Changing TCP connection sometimes causes "Error (criu/files.c:799): No file for fd 5 id 0x3c""
As in #454, I'm changing TCP connection information. I now have two connections: one between client A and a server S, one between client B and server S. I'm trying to swap client A and B while maintaining both of their connections to the server. I checkpoint all three hosts at the same time and restore them at the same time, as before.

This error shows up most times, but not all times. And someti

[2018-03-22 18:49] dav-ell commented on #459
Is this maybe because the file descriptor for that socket was already in use from the previous client's connection? Could something like this help?

https://github.com/checkpoint-restore/criu/blob/c21e09cfe2f226cd14058ef5c4b0cbf7421293d2/Documentation/criu.txt#L333

[2018-03-22 19:32] dav-ell commented on #459
I also sometimes get `Unable to open fd=5 id=0x3c`:

[code]

[2018-03-22 22:56] avagin commented on #459
Could you reproduce the issue and attach dump.log, restore.log and images?

[2018-03-22 23:11] 0x7f454c46 commented on #415
JFI: I'm still working on this - the PIE (parasite/restorer) propagation of PAGE_SIZE took a bit longer, then I've expected. But it looks kinda nice after all.

[2018-03-22 23:12] 0x7f454c46 commented on #415
I think it'll be finished soon.

[2018-03-22 23:31] 0x7f454c46 commented on #415
Oh, I lied: looks like it's building on x86 with variable PAGE_SIZE (just for tests).
So, it should also build now on aarch64/ppc64, I'll check travis-ci and if everything goes good, I'll ping for some testing :-)

[2018-03-23 11:57] 0x7f454c46 commented on #415
So, @rppt, @adrianreber, if you've time to test, here is a version that builds:
https://github.com/0x7f454c46/criu/commits/wip/PAGE_SIZE
I warn you that I'll rebase it, but only to write commit messages, no functional changes.

[2018-03-23 13:37] adrianreber commented on #415
On aarch64 I see many ERROR OVER with following output:

[code]

the whole test suite takes a unusually long time. It is still running. The first few testcases on ppc64le look correct.

[2018-03-23 13:40] 0x7f454c46 commented on #415
@adrianreber thanks for testing - will see what's going on there this weekend.

[2018-03-23 13:41] adrianreber commented on #415
Sorry, wrong branch on ppc64le, also lot's of errors with your PAGE_SIZE branch:

[code]

[2018-03-23 13:42] 0x7f454c46 commented on #415
Looks like there is some common issue with that on restore..
I'll check, thanks again!

[2018-03-23 13:57] 0x7f454c46 commented on #415
@adrianreber could you give it another shot - I've added a fixup on the top of the branch.
It looks like, I made stupid off-by-one, hehe

[2018-03-23 14:04] adrianreber commented on #415
The first twenty tests are now passing on aarch64 and ppc64le without errors. I keep zdtm running and will post the results once it finishes. I will also run it on s390x (soon).

[2018-03-23 18:57] adrianreber commented on #415
I see the following failures on ppc64le:

[code]

Not sure if this is related to your changes.

[code]

All those errors seem unrelated to your changes on ppc64le.

[2018-03-23 21:02] 0x7f454c46 commented on #415
Thank you, @adrianreber!
So, I'll write some commit messages and post patches with your `Tested-by` (will Cc you).

[2018-03-24 06:49] yufeixiong opened #460 "restore failed"
hi，I can dump the files,but I cannot restore. Here follows my command:
 `root@pc:/home/alan# ./criu/criu/criu restore -D dd -o res.log --shell-job`
dd store the checkpoint files

[2018-03-24 06:51] yufeixiong commented on #460
I got nothing after the restore command

[2018-03-24 08:06] rst0git commented on #460
Hi @yufeixiong,
What is the content of `res.log` and what is your dump command?

[2018-03-24 09:38] yufeixiong commented on #460
The content of res.log is as follows:
[code]

And my dump command is :  criu dump -t 2632 -D dd -o dump.log --shell-job && echo ok
ok

[2018-03-24 16:04] lovemyliwu commented on #205
@xemul you may check tutorial https://www.smitechow.com/2018/03/compile-criu-on-centos-6.html

[2018-03-24 16:06] lovemyliwu commented on #400
@emilydolson you may check tutorial https://www.smitechow.com/2018/03/compile-criu-on-centos-6.html

[2018-03-25 10:00] yufeixiong commented on #460
my environment：ubuntu 16.04
my restore command : criu restore -D dd --shell-job
Did I miss something?

[2018-03-25 10:08] yufeixiong commented on #460
Oh, I download the former version(v3.7). And it can successfully dump/restore.
Maybe  there is something wrong with the latest version(v3.8) ?

[2018-03-26 09:35] xemul commented on #205
@lovemyliwu , wow! Thanks. @avagin , @cyrillos , would you please pick this up?

[2018-03-26 14:14] dav-ell opened #461 "Moving a TCP-connected client to a new host causes connection reset"
I am attempting almost exactly the same thing as #454, but instead of swapping the client and the server, I am simply trying to move the client to a new host and running restore. Here's more detail about the setup.

I have three virtual machines with bridged adapters, with IP addresses and what containers are running on them at the beginning like so:
* VM 1: `192.168.1.149` - server
* VM 2: `192.1

[2018-03-26 14:18] dav-ell commented on #461
Client images:
[client-files.img.txt](https://github.com/checkpoint-restore/criu/files/1848152/client-files.img.txt)
[tcp-stream-6a5c3.img.txt](https://github.com/checkpoint-restore/criu/files/1848154/tcp-stream-6a5c3.img.txt)
[tcp-stream-34f78.img.txt](https://github.com/checkpoint-restore/criu/files/1848156/tcp-stream-34f78.img.txt)

[2018-03-26 14:21] dav-ell commented on #461
Server images:
[files.img.txt](https://github.com/checkpoint-restore/criu/files/1848173/files.img.txt)
[tcp-stream-6188c.img.txt](https://github.com/checkpoint-restore/criu/files/1848170/tcp-stream-6188c.img.txt)
[tcp-stream-60cfe.img.txt](https://github.com/checkpoint-restore/criu/files/1848171/tcp-stream-60cfe.img.txt)
[tcp-stream-6054d.img.txt](https://github.com/checkpoint-restore/criu/files/1

[2018-03-26 14:30] dav-ell commented on #461
In #454 I got almost exactly the same scenario to work as above. Seemingly, the only difference was that both hosts involved in the connection already had a connection before the restore, whereas in this scenario, VM 1 and 3 have never had a connection until I restore the containers with modified checkpoints. Therefore, it seemed possible that the router was causing the connection reset after seei

[2018-03-26 17:18] dav-ell commented on #461
I made a few adjustments to the system described in the previous comment, tested again, and it worked.

This time I changed the VM network adapters to Host-only adapters so that they could still communicate without the need of a physical router. I then tested exactly as in the comment above but with the Node-based containers instead of Python-based containers. They continued fine just as they left

[2018-03-27 06:59] rppt commented on #460
Restoring with --shell-job is indeed broken in v3.8:

[code]

I've bisected it to commit 854342a50afee7815bc48b3d9141fc9c8309ec40, but I cannot tell yet what's actually going wrong.

CC @tkhai

[2018-03-27 16:16] tkhai commented on #460
The reason is we init fdstore twice.

The original patch contains two hunks, while there is only one hunk in repository:

https://patchwork.criu.org/patch/7165/
https://github.com/checkpoint-restore/criu/commit/64e279131

CC @avagin

[2018-03-27 20:45] rst0git opened #462 "restore fails with "No such file or directory""
Hello, I am trying to restore a libvirt-lxc container with criu using the following dump/restore commands:
[code]
[code]
This is the content of [restore.log](https://pastebin.com/rVXZH9rk) and [dump.log](https://pastebin.com/pJS58AgP)
The last failure
[code]
comes from the function [`cleanup_mnt_ns`](https://github.com/checkpoint-restore/criu/blob/4130507209ed58ffff0c6c3c5dbd7a318a2a449e/criu/moun

[2018-03-27 21:14] dav-ell commented on #459
Here are the files, reproduced with a similar error (`Error (criu/files.c:1202): Unable to open fd=68 id=0x59`) by attempting to switch two containers, a client and a server, between two hosts in different networks. These are the files for the server.

[dump.log](https://github.com/checkpoint-restore/criu/files/1853818/dump.log)
[restore.log](https://github.com/checkpoint-restore/criu/files/185382

[2018-03-28 00:27] avagin commented on #461
You can't do this. All traffic in dumped connections has to be blocked. Otherwise a connection can be restored incorrectly and it may be a reason of this issue.

[2018-03-28 02:43] dav-ell commented on #459
CRIU version 3.7 on both the client and server side.

[2018-03-28 02:46] dav-ell commented on #461
I'll try this, but I don't understand at all why this is the case. Is there somewhere you can point me or is there a quick way of understanding why the traffic has to be blocked? It seems that those iptable rules are removed on restore. I assume only after certain events have occurred in the restore process that it's okay to remove them?

[2018-03-28 07:00] avagin commented on #461
Restore of tcp sockets is a complicated process and it is not atomic. We create a socket, then we call bind() and connect() to restore source and destination addresses, then we adjust sequence numbers and other parameters.

From your tcpdump, one side sends a packet before another side completes restoring its socket, and the remote side answers by a reset packet. It is possible if the remote side

[2018-03-28 15:02] dav-ell commented on #461
Thanks for the explanation, that helps a lot.

This is probably what was happening, or else something similar to it. After editing the iptables rows to match my setup, the client stopped sending a reset. Unfortunately, after a short time the server sends a fin packet. Can you make sense of this log? It looks like the server enters a strange state and begins checking back with the client every 30 -

[2018-03-28 15:24] dav-ell commented on #461
Here's a strange thing: in another test using a different starting and ending host for the client, it works. In the previous test where it sent the fin packet I was moving the client from VM 3 -> VM 2, and now I'm moving it from VM 2 -> VM 3. Here's the logs. I'm following the exact same procedure no matter where it starts and ends, so I don't yet understand why it would fail for one direction and

[2018-03-28 17:44] avagin commented on #462
A container root fs (/tmp/container1) should be mounted in /tmp/.criu.mntns.W5fuur/12-0000000000/ and it has to contains the dev/ directory.

What is in /tmp/container1, when you start restore?

[2018-03-28 18:01] avagin commented on #461
[code]

This looks like that some iptables rules was not removed. You need to check that all iptables rules that include 0xc114 disappeared after restore.

[2018-03-28 18:04] rst0git commented on #462
Thank you @avagin!
The problem was that `/tmp/container1` was empty. I changed the value passed to `--root` to be the container rootfs path and now the restore works.

[2018-03-28 18:04] #462 closed

[2018-03-28 18:15] avagin commented on #205
I've update the articles page:  https://criu.org/Articles

[2018-03-28 20:01] dav-ell commented on #459
@avagin This appeared while working on #461, when I tried keeping only the INPUT iptables rules. It seemed reasonable that as long as both client and server had INPUT rules configured to drop packets that might interfere with their restore, then it'd be okay. It looks like maybe the OUTPUT rules are somehow important to the restore process for CRIU?

[2018-03-28 20:12] dav-ell commented on #461
Here's what I did, moving a client from VM 2 to VM 3:

1. Run, checkpoint, copy checkpoint and modify tcp connections as usual.
2. Copy iptables rules from VM 2 to VM 3, and modify just the IP addresses.

[code]
to
[code]

3. Modify the iptables rules for the server.
[code]

to
[code]
4. Restore.

I check immediately after restore and all the iptables rules that include 0xc114 are gone, but I'm st

[2018-03-29 00:51] drgardner42 opened #463 "Container is not stopping, CentOS 7.4"
I am attempting to do the hello-world busybox example of docker checkpoint/restore with CRIU (https://criu.org/Docker).

My environment:

* CentOS 7.4
* Linux Kernel 4.15.13-1
* Docker version 17.12.1-ce
* CRIU 2.2

Here is the output from criu check --all:

    Warn (criu/cr-checl.c:705): Dirty tracking is OFF. Memory snapshot will not work.

____________

when I try to checkpoint the busybox, I

[2018-03-29 05:43] adrianreber commented on #463
The kernel version does not sound like CentOS. Which CRIU version are you using?

The CRIU version in CentOS is for the original CentOS kernel and might not work if you replace the kernel.

The CRIU warning you are seeing is harmless as docker does not support pre-copy migration.

As this seems to be a docker problem, maybe it would make more sense to first open a docker ticket and if it is actual

[2018-03-29 08:10] neva-blyad opened #464 "Error (criu/pstree.c:436): BUG at criu/pstree.c:436"
Hello,
The last few months my PC generates a TOR URL domain using the Eschalot program. Before restarting the computer, I do a `criu dump`. After rebooting I do `criu restore`. Everything went well until after the last reboot `criu restore` did not refuse to work:

`(00.000282) Loaded kdat cache from /run/criu.kdat`
`(00.000680) Reading image tree`
`(00.000738) Add mnt ns 5 pid 2119`
`(00.000761)

[2018-03-29 13:44] 0x7f454c46 commented on #463
You can also put dump.log into issue.
I'm not sure how-to find one the Docker uses, heh

[2018-03-29 14:45] drgardner42 commented on #463
@adrianreber I am running a custom CentOS kernel. Saw lots of issues on the CRIU site about upgrading kernel to properly support CRIU, so went ahead and did the upgrade. I'll try a downgrade back to the CentOS 3.10 kernel and try the busybox.

[2018-03-29 14:52] adrianreber commented on #463
@drgardner42 The CentOS kernel should support most of CRIU's feature.

[2018-03-29 14:54] drgardner42 commented on #463
Ok, I will get back shortly. Trying the 3.10 kernel now with CRIU 2.2.

[2018-03-29 15:04] adrianreber commented on #463
CentOS 7.4 comes with criu 2.12.

[2018-03-29 15:29] drgardner42 commented on #463
Still not seeing the container correctly exit after checkpoint :(

[2018-03-29 17:58] avagin commented on #464
Cc: @Snorch

[2018-03-29 21:00] avagin commented on #460
https://github.com/checkpoint-restore/criu/commit/c297c994bc6a808ff8be998285e61c71d910b4bc
This issue is fixed in 3.8.1

[2018-03-31 15:30] andypost commented on #434
Tests still fail with protobuf 3.5.1 & criu 3.8.1
[code]
Any idea what could be wrong

[2018-03-31 15:49] avagin commented on #434
@andypost
[code]
Here we execute a command like this:
$ mount -t cgroup -o none,name=zdtmtst zdtm /tmp/zdtm.XXXXXX

zdtm_mount_cgroups mounts test cgroups, and so it requires super-user privileges.

[2018-03-31 17:10] andypost commented on #434
@avagin thanx a lot not it's clear

[2018-03-31 19:35] dav-ell commented on #459
Several recent tests seem to indicate that in my system this issue is very closely associated with either iptables rules being incorrect, or tcp connection information in `files.img` being incorrect. As long as both of these are correctly maintained, this issue does not appear. If anyone finds something different, feel free to comment on this issue or reference it.

[2018-04-01 01:52] drgardner42 commented on #463
https://github.com/moby/moby/issues/35691

[2018-04-01 01:52] #463 closed

[2018-04-02 19:39] dav-ell commented on #461
For reference, these comments resolved this issue for me. I have not been able to reproduce the later issue that I had.

Thanks again, @avagin.

[2018-04-02 19:39] #461 closed

[2018-04-03 23:35] 0x7f454c46 commented on #415
I'll fix aarch64 issue and resend patches this week (possibly on weekend, but I hope sooner). Ugh, sorry for the delay - had some other work to do :(

[2018-04-04 15:17] dav-ell commented on #459
I encountered this issue again, unfortunately. It happened when I attempted to restore very quickly after checkpointing. iptables rules and files.img information was correct. After waiting a while (maybe 30 minutes, I didn't measure), it worked again. Is there some way to force whatever fd is occupied to be freed after checkpointing?

[2018-04-04 18:05] avagin commented on #459
Pls, attach logs and images. criu should be executed with "-v 4".

[2018-04-04 22:15] avagin opened #465 "criu lazy-pages is running in a loop"
[code]

[code]

https://ci.openvz.org/job/CRIU/job/criu-pipeline/job/pipeline/419/console

[2018-04-05 05:56] rst0git opened #466 "uns: send req error: Invalid argument"
Hello,
When I am restoring a libvirt-lxc container with enabled user namespace I am getting the following error:
[code]

Any idea why [`sendmsg`](https://github.com/checkpoint-restore/criu/blob/3b3384352dd355407edd97a9d529b9bb27db87a7/criu/namespaces.c#L1290-L1293) might fail with `EINVAL`?

[dump.log](https://github.com/checkpoint-restore/criu/files/1878703/dump.log)
[restore.log](https://github.

[2018-04-05 07:25] avagin commented on #466
https://github.com/torvalds/linux/blob/master/block/blk-cgroup.c#L1202

[2018-04-05 07:33] avagin commented on #466
could you collect strace for restore?
[code]

[2018-04-05 08:41] rst0git commented on #466
Hi @avagin
When I run
[code]
I am getting a different error
[code]
[strace.log](https://github.com/checkpoint-restore/criu/files/1879158/strace.log)
[restore.log](https://github.com/checkpoint-restore/criu/files/1879160/restore.log)

[2018-04-05 09:37] rst0git opened #467 "Path used in cleanup_mnt_ns"
Hello,
I noticed that I am always getting the error `mnt: Can't remove the directory` when restore fails and `opts.root` has been set.

I believe that this is because [`create_mnt_roots`](https://github.com/checkpoint-restore/criu/blob/4130507209ed58ffff0c6c3c5dbd7a318a2a449e/criu/mount.c#L2701) is using
[code]
but [`cleanup_mnt_ns`](https://github.com/checkpoint-restore/criu/blob/4130507209ed58ff

[2018-04-05 10:43] rst0git commented on #466
Hm, the  `sendmsg` issue does not occur with `criu-dev`.

[2018-04-05 13:59] dav-ell commented on #459
@avagin Here the logs, executed _without_ `-v 4`. I'm using `runc checkpoint` and `runc restore`, do you know how to run with an equivalent of `-v 4`?

[dump.log](https://github.com/checkpoint-restore/criu/files/1880266/dump.log)
[restore.log](https://github.com/checkpoint-restore/criu/files/1880267/restore.log)

[2018-04-05 14:03] adrianreber commented on #459
runc always sets log level to 4, so the log should be correct.

[2018-04-05 15:58] avagin commented on #466
It is due to --restore-sibling. Could you remove --restore-sibling to collect strace?

[2018-04-05 16:36] rst0git commented on #466
@avagin thanks, this the [strace.log](https://github.com/checkpoint-restore/criu/files/1880890/strace.log) from the above command without `--restore-sibling`.

[2018-04-05 16:41] nlienard opened #468 "sys/kernel/ns_last_pid sysctl is inaccessible"
Trying to use LXD and Live migration which is based on CRIU.

Version:

[code]

when checking criu status:

[code]

What could be the issue ? (the server is a VPS SCALEWAY VC1L).

[2018-04-05 16:49] adrianreber commented on #468
This looks like a kernel without CONFIG_CHECKPOINT_RESTORE. Is there a kernel config file installed in /boot for that version. It could be that your provider replaced the default Ubuntu kernel with their own kernel without CONFIG_CHECKPOINT_RESTORE.

[2018-04-05 16:53] brauner commented on #468
Yeah, the VPS might not have c/r support.

[2018-04-05 16:54] nlienard commented on #468
I don't have /boot but i installed the kernel source for adding spl/zfs following https://github.com/scaleway/kernel-tools

root@atxscw-hy006:/usr/src/linux# pwd -P
/usr/src/linux-4.4.122
root@atxscw-hy006:/usr/src/linux# grep CONFIG_CHECKPOINT_RESTORE. .config
# CONFIG_CHECKPOINT_RESTORE is not set

[2018-04-05 16:59] adrianreber commented on #468
This kernel does not support CRIU. You need another kernel with CONFIG_CHECKPOINT_RESTORE enabled.

[2018-04-05 17:27] avagin commented on #466
2489  sendmsg(1048568, {msg_name=NULL, msg_namelen=0, msg_iov=[{iov_base="\3601C\0\0\0\0\0", iov_len=8}, {iov_base="\0\0\0\0", iov_len=4}, {iov_base="blkio//machine.slice/machine-lxc\\x2d2421\\x2dcontainer1.scope/tasks\0", iov_len=67}], msg_iovlen=3, msg_control=[{cmsg_len=28, cmsg_level=SOL_SOCKET, cmsg_type=SCM_CREDENTIALS, cmsg_data={pid=1, uid=65534, gid=65534}}], msg_controllen=32, msg_flags=

[2018-04-05 18:43] rst0git commented on #466
[](Yes, this error does not occur with criu from the `criu-dev` branch.
However, the restore still fails with ([restore.log](https://github.com/checkpoint-restore/criu/files/1879650/restore.log))
[code]
I have tried to get around this with
[code]
Then am getting the following error ([restore1.log](https://github.com/checkpoint-restore/criu/files/1881285/restore1.log))
[code]

[2018-04-05 18:48] avagin commented on #466
https://github.com/avagin/criu/commits/cgroup contains three commits for the master branch, which have to solve the initial problem.

[2018-04-05 19:01] avagin commented on #466
As a workaround, you can revert b2707bab02459678cd2b354d39cbdfd182968ee4

[2018-04-05 19:14] rst0git commented on #466
The problem was that `ls -al /run/xtables.lock`
[code]
I changed it with `sudo chmod 666 /run/xtables.lock`.
Now the restore failed with: ([restore2.log](https://github.com/checkpoint-restore/criu/files/1881427/restore2.log))

[code]

[2018-04-05 19:25] rst0git commented on #466
@avagin thanks, I can confirm that the three commits in https://github.com/avagin/criu/commits/cgroup solve the initial problem.

[2018-04-05 20:32] avagin commented on #459
[code]

[code]

[2018-04-05 20:40] avagin commented on #459
I don't see debug messages from the soccr library. Are you sure that you use criu 3.7?

[2018-04-05 21:03] dav-ell commented on #459
I checked and it gives:
[code]

I installed CRIU using:
[code]

[2018-04-05 23:02] 0x7f454c46 commented on #459
Are you sure that runc calls your new criu?
I don't see the version string in log, which should be there from some recent times.

[2018-04-05 23:47] avagin opened #469 "Error (criu/net.c:1738): iptables-restore -w failed"
[code]

To: @tkhai

[2018-04-05 23:48] avagin commented on #469
Cc: @Snorch

[2018-04-05 23:49] avagin commented on #469
https://travis-ci.org/checkpoint-restore/criu/jobs/361958825

[2018-04-06 00:18] avagin commented on #459
runc runs criu swrk, it may be a reason why we don't see a version.

[2018-04-06 00:36] 0x7f454c46 commented on #459
Oh, yeah, stupid me - forgot that in swrk version string is added only in criu-dev.
Sorry for the noise.

[2018-04-06 00:42] 0x7f454c46 commented on #415
Ok, I had a look what happens there.
As I did add PAGE_SIZE as a global in PIE - gcc was smart enough to add it to got table..
And we don't do relocations on arm/aarch64.
And what's more annoying - we don't warn that they do exists if we don't expect them. So, instead of build-failure, it becomes a run-time issue.
Anyway, just to let you know, will work to fix that hopefully, soon. Sorry about the

[2018-04-06 01:18] 0x7f454c46 commented on #415
I think I will submit patches v1-alike,  not as beautiful as v2, if fixing aarch64 issues will take much time.
And will do relocs on the top not block you @adrianreber.
But let's see, maybe I'll fix v2 tomorrow properly.

[2018-04-06 03:02] avagin commented on #459
With this commit https://github.com/avagin/criu/commit/49760d1559ac0da48455f0baaa934e6d65594c35 we will see soccr log messages in a criu log file.

@dav-ell Could you compile criu from my repo and reproduce this issue again?
[code]

[2018-04-06 08:41] tkhai commented on #469
This came after iptables commit 80d8bfaac9e2430d710084a10ec78e68bd61e6ec "iptables: insist that the lock is held."

[2018-04-06 09:31] rst0git commented on #466
With strace the above error appears as
[code]
I tested the same mount calls in bash
[code]
And indeed `/proc/meminfo` is not a directory. For work around I tried
[code]

[2018-04-06 09:37] rst0git commented on #466
Now the restore fails with ([restore3.log](https://github.com/checkpoint-restore/criu/files/1883439/restore3.log))
[code]

[2018-04-06 18:06] avagin commented on #466
How do you create /dev/tty, /dev/zero, etc files for containers?

[2018-04-06 18:06] avagin commented on #466
@rst0git I think /dev/ should be an external mount in your case.

[2018-04-06 18:22] rburny opened #470 "UB in choose_service_fd_base, causing restore failures"
In `choose_service_fd_base` method, CRIU uses the following logic (simplified) to determine where to map service fds:

[code]

If the checkpointed process was using a small number of fds, it is possible that at point `(1)`, `nr` is less then 128. In this case, it subsequently becomes 0, and `__builtin_clz(0)` is invoked - which per [GCC documentation](https://gcc.gnu.org/onlinedocs/gcc/Other-Built

[2018-04-06 18:33] avagin commented on #470
Cc: @tkhai

[2018-04-06 18:38] avagin commented on #469
@tkhai iptable-restore -w is called from an user namespace and it doesn't have permissions the open the host /run/xtables.lock

[code]

Why do we need to call  iptable-restore  with -w? Is it can race with something else?

[2018-04-08 12:42] rst0git commented on #466
Prior container start, Libvirt creates a tmpfs and [populates character special files](https://github.com/libvirt/libvirt/blob/d4aaa1651bf45a6d0b5c3a889ad170e9e8ee66bf/src/lxc/lxc_controller.c#L1494-L1527) (`tty`, `urandom`, `random`, `full`, `null`, and `zero`). These files are chown()-ed to match the idmap configuration of the container.

I was wondering if it would be possible to call [`tar`](h

[2018-04-09 10:27] tkhai commented on #470
Last 3 lines place nr at the right border of alignment, which makes kernel, when allocates fdtable. I did that, because this seems to give some additional safety, and, also, aligned numbers are useful to count service fds on debugging. Let's leave this as is.

After `nr = max(nr, 1)` the smallest allocated fdtable will contain 256 entries, so I think we should better do

                if (nr !=

[2018-04-09 10:30] rburny commented on #470
Sure. Are you going to submit this patch, or should I send it to the mailing list?

[2018-04-09 10:32] tkhai commented on #470
This is good catch you did. You are welcome with the fix :)

[2018-04-09 15:00] rburny commented on #470
OK, sent the patch here: https://lists.openvz.org/pipermail/criu/2018-April/040973.html

Also, I found a slightly simpler fix - just removed division/multiplication of `nr` by 128. The result is the same (we round the number to the power of 2 anyway), but UB is avoided, because `nr` now cannot be 0.

[2018-04-09 15:15] avagin commented on #469
We can't do this. It will mean that any user will be able to take this lock. This problem affects other users, not only our tests.

[2018-04-09 15:24] Snorch commented on #469
I think these lock is meant to be per-net namespace, we don't care if we do simultaneous iptables-restore in different namespaces, so we can make /run/xtables.lock available to a container's root user.

[2018-04-09 15:36] tkhai commented on #470
@rburny, it's not a round up power of 2, it's round up power of 2 rounded to 128. This goes from kernel: https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/fs/file.c#n85

#include <limits.h>
int main(void)
{
        unsigned int i, was, nr;

        for (i = 0; i < INT_MAX; i++) {
                nr = i;
                nr /= (1024 / sizeof(void *));
                if (nr)

[2018-04-09 15:38] tkhai commented on #469
We is affected in tests only, so we can simply do chmod. Tests always executed in its own /.

[2018-04-09 15:53] rst0git commented on #469
Hi @tkhai, I also receive this error when restoring a libvirt-lxc container with enabled userns. Would it be possible the chmod to be in `criu\net.c`?

[2018-04-09 16:30] tkhai commented on #469
I think we should try to suggest something like this for iptables:

diff --git a/iptables/xshared.c b/iptables/xshared.c
index 06db72d4..4704e5a4 100644
--- a/iptables/xshared.c
+++ b/iptables/xshared.c
@@ -254,7 +254,12 @@ static int xtables_lock(int wait, struct timeval *wait_interval)
 	time_left.tv_sec = wait;
 	time_left.tv_usec = 0;

-	fd = open(XT_LOCK_NAME, O_CREAT, 0600);
+	if (link("/pro

[2018-04-09 16:41] rst0git commented on #469
Yes, I agree! The following diff works for me as well.
[code]

[2018-04-09 16:42] tkhai commented on #469
Hm, though s/link/symlink/

[2018-04-15 11:09] ZikeWang opened #471 "cannot checkpoint mysql container--criu failed: type NOTIFY errno 0"
I created a mysql container with the following command :
`docker run --name=sql -it -p 3306:3306 -e MYSQL_ROOT_PASSWORD=123456 -d mysql`

After performing some table creation operations in the container, I tryed to checkpoint the container and it failed
[code]

I have successfully migrated the looper container which is an example in CRIU official website between
 two host machine before, but when

[2018-04-15 13:07] rst0git commented on #471
Hi @ZikeWang, The error you are getting is because the docker container has pseudo-tty associated with the container. See https://github.com/checkpoint-restore/criu/issues/76 and https://criu.org/Docker#TTY.

The work around (as mentioned [here](https://stackoverflow.com/a/37861934)) is to remove `-t` from your docker command.

[2018-04-16 03:59] ZikeWang commented on #471
Thx @rst0git , after removing `-t` from the command I could checkpoint the container. When I tried to restore the frozen container using the checkpoint file, the container could restart but I couldn't connect to the mysql server.
[code]
I found that the `/var/run/mysqld/mysqld.sock ` is missing after Docker C/R operations. I don't know how to fix it.

[2018-04-16 07:05] rst0git commented on #471
Hi @ZikeWang,
I was not able to reproduce your problem with:
- Docker version 18.04.0-ce, build 3d479c0 ( Experimental : true )
- CRIU Version: 3.7.

I followed these steps:
[code]

[2018-04-16 08:13] ZikeWang commented on #471
Hi @rst0git , I updated my docker from 17.06.0-ce to 18.03.0-ce, CRIU was still version 3.7.
I repeated your steps. After checkpointing the container, I used the command `docker ps -a` to check the container status, I found that the container was not frozen and still running, so the following `docker start` command didn't seem to make sense. Have you encountered similar problems? (PS : I encounter

[2018-04-16 08:44] rst0git commented on #471
Yes, you are right!
I added `docker stop sql` after the checkpoint command, but I was still able to connect to the mysql server after restore.

However, I used Fedora 27 with kernel version `4.15.15-300.fc27.x86_64` and output of `criu check --all` is only `Looks good.`

Perhaps the problems you encounter might be because of the missing kernel features.

[2018-04-16 09:25] ZikeWang commented on #450
Hi @iprimo , I just met the same problem. Could you please teach me how to fix it ?
[code]
Docker version : 18.03.0-ce ( Experimental : true )
CRIU version : 3.7
Kernel version : 4.4.0-31-generic

[2018-04-16 13:38] iprimo commented on #450
Hi @ZikeWang ,

CRIU is an active project and many changes are applied. "checkpoint-dir=" feature has been removed and the checkpoint folders are tied to container folders. (that is why daemon complaining, that it does not understand 'checkpointdir' )

Docker created Moby project for experimental features, it is the best place to find more about latest updates and new features.

https://github.com

[2018-04-17 05:12] ZikeWang commented on #471
Thx @rst0git, I found this issue moby/moby#35690, the same problem.
I successfully restored the mysql  container from its checkpoint files and could access the database created before. When I tried to  create another clone container, I could start it from the checkpoint files but the database is missing. Maybe it lacks some key operations during the migration. What's more should I do to perform th

[2018-04-17 11:05] ZikeWang commented on #471
Thx @rst0git , I found this issue moby/moby#35690, the same problem.
I successfully restored the mysql container from its checkpoint files and could access the database created before. When I tried to create another clone container, I could start it from the checkpoint files but the database is missing. Maybe it lacks some key operations during the migration. What else should I do to perform the c

[2018-04-18 14:33] abh1kg commented on #211
I would be also interested in knowing this. I work on a platform as a service offering called Cloud Foundry where the concept of checkpoint and restore is still not integrated though application instances run as runc-compliant Garden containers. I would like to migrate existing TCP connections for an "old" application process to a "new" application container which might be scheduled on a different

[2018-04-19 15:28] Meriem-IT opened #472 "Unable to restore lxc container state while streaming a video"
Hello,
I am actually facing an issue in which I am not able to restore the state of the container that is streaming a video, when I try to restore it I get some criu errors that I have posted in log.txt file.
//commands used :
lxc-checkpoint -s -D /tmp/chechpoint -n testr
lxc-checkpoint -r -D /tmp/chechpoint -n testr -o log.txt
//Environment verisons:
Version of lxc :2.0.0
Version of criu :3.6
ker