[2014-04-22 13:10] bugrax opened #1 "Having issue to compile criu 1.2 on Ubuntu"
Hi Guys,
I tried to install criu on precise and trusty,I went through the installation process of protobuf,protobuf-c and stuck on criu. I am getting this error when I do make && make config && make install:
pie/restorer.c: In function ‘restore_mapping’:
pie/restorer.c:355:21: error: expected ‘)’ before ‘PRIx64’
  pr_debug("\tmmap(%"PRIx64" -> %"PRIx64", %x %x %d)\n",

Thanks

[2014-04-25 17:28] #1 closed, assigned to nobody

[2014-08-26 05:12] skhavari opened #2 "cannot checkpoint firefox on ubuntu 14"
`Linux ubuntu 3.13.0-32-generic #57-Ubuntu SMP Tue Jul 15 03:51:08 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux`
## Steps to reproduce
- built latest criu from source
- run firefox
- run `sudo ./criu dump -D checkpoint  -t <pid>  --file-locks --tcp-established`

**Expect**: checkpoint firefox
**Actual**:
Error (parasite-syscall.c:387): si_code=1 si_pid=7723 si_status=0
Error (parasite-syscall.c:387): s

[2014-08-26 15:13] #2 closed, assigned to nobody

[2015-05-16 13:26] kimh opened #3 "Restoring Docker container with docker_cr.sh failed"
I tried to ckeckpoint/restore a container with [docker_cr.sh](http://criu.org/Docker#Help_Script). Checkpoint succeeded but I couldn't make restarting works.

Here is my env.

Ubuntu: 14.04 (vagrant)

CRIU: Compiled from source at https://github.com/xemul/criu/commit/61c1936ed953813275e35ac69b48a4b0b41dc29f

Docker: Compiled from source at https://github.com/SaiedKazemi/docker/commit/62ce554ce42e3

[2015-05-18 08:08] xemul commented on #3
Hm... @SaiedKazemi, can you help us, please :)
@kimh , I guess a full restore log would be required.

[2015-05-18 09:15] kimh commented on #3
@xemul This is the all log that I got. How can I take the full restore log?

[2015-05-18 10:58] avagin commented on #3
@boucher is integrating CRIU into Docker https://github.com/boucher/docker/tree/boucher-cr, so it's better to use this tree and share your experience.

[2015-05-18 12:12] kimh commented on #3
I compiled docker from https://github.com/boucher/docker/tree/boucher-cr, but result is the same. Resuming fails with the same error message.

[2015-05-18 12:23] avagin commented on #3
@kimh I need a fill restore log to investigate this issue. Could you find and attach the restore.log file in a image directory?

[2015-05-18 12:31] kimh commented on #3
@avagin Upload to https://gist.github.com/kimh/14eef27af10b320d6bdd

[2015-05-18 13:17] avagin commented on #3
@kimh, could you compile criu from this repo https://github.com/avagin/criu/commit/f64c0f1c34608cdb419897b052aa5db5226354f9 and attach the restore.log again. Thank you for the help.

[2015-05-18 13:27] kimh commented on #3
@avagin Uploaded to https://gist.github.com/kimh/fb6f8ab3eae5446bbeb7

I don't see additional logging that you added, but I'm sure that I compiled from your branch.

[code]

Let me know if you need more info.

[2015-05-18 13:35] avagin commented on #3
Could you do one more attempt with this tree https://github.com/avagin/criu/commit/e11f048612d071d1983454f8ed6fe0631c945ea1?

[2015-05-18 13:44] kimh commented on #3
@avagin Uploaded to https://gist.github.com/kimh/dc6da8dc1fdac718235d

[2015-05-18 14:09] avagin commented on #3
I don't see debug messages. Could you check that you use the right version of criu? Maybe you forgot to compile it.

[2015-05-18 14:20] kimh commented on #3
Oops, I use docker_cr.sh but it uses globally installed criu binary. I did this to use compiled criu.

[code]

and uploaded restore.log to https://gist.github.com/kimh/03f5f01e61b1e9616c8a

[2015-05-18 14:30] avagin commented on #3
(00.089080)     56: Error (lsm.c:202): Unknown LSM type: 0
Cc: @tych0

[2015-05-18 14:58] avagin commented on #3
Could you do one more time with this https://github.com/avagin/criu/commit/51272a97459b2d3ce2fc4ae5bed6eb7ec6399be6?

[2015-05-18 15:13] kimh commented on #3
@avagin Uploaded to https://gist.github.com/kimh/4f2aa1eed6ffea2f186e

[2015-05-18 15:27] avagin commented on #3
Pls, try out this https://github.com/avagin/criu/commit/9fc4975c5e8604bd5c8d7360215930785b2f0817. I think I've fixed this issue there. Thanks.

[2015-05-18 15:42] kimh commented on #3
@avagin Worked!

After the successful resuming, `docker ps` doesn't show the resumed container. This is because`docker_cr.sh` uses external C/R, not native?

Thank you for your support.

[2015-05-18 17:11] tych0 commented on #3
@avagin Looks good, does that mean we should get rid of the calls to `host_lsm_type()` in lsm.h?

[2015-05-18 17:14] avagin commented on #3
@tych0, I'm going to send a patch soon.

[2015-05-18 17:21] boucher commented on #3
Yes, docker_cr.sh can't update the daemon's internal state, so docker won't
know about the container any longer. If you're able to get my branch
working, you should see the restored container in 'docker ps'

On Mon, May 18, 2015 at 8:42 AM, Kim, Hirokuni <notifications@github.com>
wrote:

[2015-05-18 19:25] SaiedKazemi commented on #3
@xemul   Sorry for the delay as I am on the last leg of my return flight...  As @avagin and @boucher have mentioned, we should use *native* Docker checkpoint and restore from this point on.  The helper script docker_cr.sh served its main purpose of showing proof of concept for external C/R with CRIU 1.3.  I think we should deprecate it in 1.6.

[2015-05-19 14:23] kimh commented on #3
I'm closing this issue since `docker_cr.sh` now works.

[2015-05-19 14:23] #3 closed

[2015-05-19 14:33] kimh opened #4 "docker checkpoint got "Unable to parse the CRIU version: Version: 1.5""
Now, I'm trying to use native docker checkpoint/resume. However, I got the following error when I run `docker checkpoint $container_id`.

[code]

[2015-05-19 15:04] avagin commented on #4
It will be fixed automatically with the next release (1 Jun). Before this, you can fix the version in Makefile or build criu from the br-1.5-stable branch.

[2015-05-19 15:43] avagin commented on #4
BTW: https://github.com/docker/libcontainer/pull/597

[2015-05-19 15:53] kimh commented on #4
@avagin Cool, using br-1.5-stable works! Succeeded in checkpoint/redis container. I will close this the issue. Thank you for your help.

[2015-05-19 15:53] #4 closed

[2015-05-31 01:40] Silveryfu opened #5 "Where to find the dumped images to complete the live migration?"
Hi,

I tried the pre-released docker-1.5.0 and it worked well with native checkpoint/restore. I am hoping to do is to locate the dumped images, send them to the other host, and restore the container there. However, I am not able to locate those images.

Is the live migration part also going to be added to docker natively? Or we should follow the migration sequence as what we do for external criu?

[2015-06-01 10:41] xemul commented on #5
Since this is a question about Docker, it's better to ask it in Docker project :) AFAIK it puts images in /var/run/docker, but I can be wrong.

As far as the livemigration is concerned,  yes, the plan is to add native live migration using p.haul (github.com/xemul/p.haul).

[2015-06-01 10:41] #5 closed

[2015-06-01 10:44] avagin commented on #5
Cc: @boucher

[2015-06-01 16:07] boucher commented on #5
You can find them wherever your driver storage is located, inside the container's directory, in a subfolder called criu.image. On my system, this is:

    /var/run/docker/execdriver/native/<id>

However, if you want to migrate a container, or care at all about where it's stored, I recommend using the --image-dir flag when checkpointing, which lets you control where the image is stored.

[2015-06-03 05:37] Silveryfu commented on #5
Thank you, all. @boucher mine is located in the /var/run/docker/lib/containers/<id>/criu.image. However, as I tried the naive approach, namely scp the image to another host, putting the images under the same directory, but docker restore fails and reports:
[code]

Btw, the --image-dir is still undefined for this pre-release.

[2015-06-03 06:02] boucher commented on #5
Can you try building from the branch in this pull request:
https://github.com/docker/docker/pull/13602

You should be able to pass --image-dir on both sides, and, assuming you already have the same docker image, you can use the --force parameter when restoring to restore into a new container created from the same image (something like: docker create --name test busybox; docker restore --image-dir=

[2015-06-04 21:04] Silveryfu commented on #5
@boucher I built and tested it. What I found out was:

When tested with training/webapp, I froze it with --image-dir flag set and did: docker rm test; docker create --name test training/webapp; then I restarted it with docker restore and it works; However, when I tried to test with this script:

'''
#!/bin/bash
COUNT=0

while true; do
date
COUNT=$(( COUNT + 1 ))
done
'''

When simply checkpoint an

[2015-07-15 15:06] kimh opened #6 "docker checkpoint failed"
I'm trying to make `docker checkpoint` works, but I got the following error.

Here is the docker client log.

[code]

Here is the docker daemon log.

[code]

Here is my environment.

Ubuntu: 14.04 (vagrant)

criu
[code]

docker https://github.com/boucher/docker/commit/dd06ea04a3bbe0305c512834b2c313e0d0babd4b
[code]

Please let me know if you need more information.

[2015-07-15 15:39] xemul commented on #6
Can you find dump logs?
Also adding @boucher to discussion :)

[2015-07-15 16:11] boucher commented on #6
Hey @kimh, there's currently a regression in Docker thats causing the problem. Reverting this commit should work as a temporary fix: f18fb5b3efd59d54c00d4e1b1d4b88c4b21e96be

[2015-07-15 16:16] kimh commented on #6
@boucher ok, reverted and now compiling....It's totally different discussion, but are there any good ways to compile docker fast? Using `make` create docker image everytime from scratch :(

[2015-07-15 16:19] boucher commented on #6
When you build with make docker should be using its cache for everything
but the final step. My builds take less than a minute usually.

On Wednesday, July 15, 2015, Kim, Hirokuni <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2015-07-15 16:30] kimh commented on #6
@boucher Looks now `docker checkpoint` is not available.

[code]

Did I have to use different version of docker binary ? (daemon with reverted version and client with latest)

[2015-07-15 16:36] boucher commented on #6
Are you sure you applied the revert to the right branch?

On Wed, Jul 15, 2015 at 9:30 AM, Kim, Hirokuni <notifications@github.com>
wrote:

[2015-07-15 16:39] kimh commented on #6
Doesn't this look so?

[code]

[2015-07-15 16:40] kimh commented on #6
Oh, I think I misunderstood what you said. So reiterate just in case, I have to revert `f18fb5b3efd59d54c00d4e1b1d4b88c4b21e96be` commit?

[2015-07-15 16:40] boucher commented on #6
Yes, from the cr-combined branch.

[2015-07-15 16:47] kimh commented on #6
@boucher Now checkpoint works. However, restore doesn't.

[code]

[code]

Any idea?

[2015-07-15 16:51] boucher commented on #6
Can you pass --work-dir=/tmp/something to the restore and then paste the
criu restore log somewhere

On Wed, Jul 15, 2015 at 9:47 AM, Kim, Hirokuni <notifications@github.com>
wrote:

[2015-07-15 17:01] kimh commented on #6
Is restore.log supposed to be created under `/tmp/something` ?

[code]

Looks like nothing is created.

[code]

Even if I first created something directory, nothing is created.

[2015-07-15 17:05] boucher commented on #6
You must pass --work-dir before the $CID

[2015-07-15 17:11] kimh commented on #6
Here is restore.log

https://gist.github.com/kimh/1077ad2a8e7aa58f3eed

[2015-07-15 17:23] boucher commented on #6
Did you build criu from source? I believe there's a bug in the master branch that @xemul is working on (and may already have a patch for?)

[2015-07-15 17:32] kimh commented on #6
Yes, I built from source. My HEAD is https://github.com/xemul/criu/commit/de70936ec74df0cde1a04a9704b3747aa452d084

I live in JST, so I'll go to bed now. @xemul can you let me know if there is anything that I can try?

Thank you for your quick help @boucher

[2015-07-15 18:54] boucher commented on #6
https://github.com/opencontainers/runc/pull/130

I believe this is tracking the fix in runc, but it will then need to be merged into docker master as well.

[2015-07-18 03:45] YaoZengzeng opened #7 "The bug of the docker_cr.sh"
When I verify the external C/R with docker_cr.sh ,I can dump the container successfully.

root@iZu1pbgsilbZ:/home/monster# ./docker_cr.sh -c -v 61002d6899a8007ff82e72906cd658a78b427d3c078c1374359fd263f301697a
docker binary: docker
dockerinit binary: /var/lib/docker/init/dockerinit-1.7.0-dev
criu binary: criu
image directory: /var/lib/docker/criu_img/61002d6899a8007ff82e72906cd658a78b427d3c078c1374

[2015-07-18 03:47] YaoZengzeng commented on #7
@xemul  @SaiedKazemi

[2015-07-18 03:59] boucher commented on #7
I believe @xemul has a patch for this?

[2015-07-19 04:43] YaoZengzeng commented on #6
Hi,@boucher what do you mean "Reverting this commit should work as a temporary fix: f18fb5b3efd59d54c00d4e1b1d4b88c4b21e96be".
I'm under cr-combined branch and "git rest --hard f18fb5b3efd59d54c00d4e1b1d4b88c4b21e96be" ,then compile ,but the binary seems not support checkpoint and restore.
root@iZu1pbgsilbZ:~# docker version
Client:
 Version:      1.8.0-dev
 API version:  1.20
 Go version:   go1.4

[2015-07-19 04:51] boucher commented on #6
Sorry, as of yesterday it's now behind the experimental flag. You need to
build with DOCKER_EXPERIMENTAL=1

Also the fix has been incorporated so reverting that commit is no longer
necessary. However, there is a new blocker that has not yet been figured
out.

On Saturday, July 18, 2015, YaoZengzeng <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2015-07-19 05:03] YaoZengzeng commented on #6
@boucher  I compile like this
 "root@iZu1pbgsilbZ:/home/monster/docker# make DOCKER_EXPERIMENTAL=1 binary",
and the result support checkpoint and restore command .But checkpoint still doesn't work

root@iZu1pbgsilbZ:/home/monster/docker# docker checkpoint $CID
Error response from daemon: Cannot checkpoint container be9da3d14c883491fee1d73a727b88d9d52e1db82996f9110080a544ade94b24: criu failed: type

[2015-07-19 15:59] boucher commented on #6
Yes, things are currently broken. You can follow this thread on the mailing
list:
http://lists.openvz.org/pipermail/criu/2015-July/021277.html

On Sat, Jul 18, 2015 at 10:03 PM, YaoZengzeng <notifications@github.com>
wrote:

[2015-07-20 05:07] YaoZengzeng commented on #6
Hi @boucher  I find that in docker 1.8.0 ,it will not create dockerinit-1.8.0-dev under /var/lib/docker/init/ or anywhere else .I don't if it is a bug or something else ....Becasuse of this ,I even can't do external C/R test in docker 1.8.0,the docker_cr.sh will report the missing of dockerinit-1.8.0-dev.

[2015-07-20 10:00] xemul commented on #7
Yup, should be fixed by 7b20f42f785bafcc61c11adddcdbf2d5a54917cf commit.

[2015-07-20 10:08] YaoZengzeng commented on #7
@xemul Thanks .The problem has been solved.But criu seems not work well with docker 1.8.0.When I test checkpoint and restore,It will report bug.The details you can see in another issue.

[2015-07-20 12:04] xemul commented on #7
OK, I'll close this bug then :) Thanks!

[2015-07-20 12:04] #7 closed

[2015-07-22 11:40] xemul commented on #6
@kimh the error you see in logs should be fixed in recent head. The fixing commit is 7b20f42f785bafcc61c11adddcdbf2d5a54917cf

[2015-07-22 12:10] kimh commented on #6
@xemul thank you for the ping. I'll try later

[2015-07-24 19:47] stlalpha opened #8 "Issue checkpointing larger container"
I am getting the following error regarding cgroups states during checkpointing.  I have tried all of the available modes in criu:

https://gist.github.com/stlalpha/f6121162d52bb0d423bf

[2015-07-24 20:32] stlalpha commented on #8
Looks like enabling evasive-devices allows the checkpoint to finish successfully.

[2015-07-24 20:32] #8 closed

[2015-07-26 12:14] kimh commented on #6
@xemul I tried 7b20f42f785bafcc61c11adddcdbf2d5a54917cf and restore once has worked. Then, I updated docker to use https://github.com/boucher/docker/commit/24e477bdb8865ce30f2bb332b34d01f9a42215f5 and now checkpoint doesn't work... (DOCKER_EXPERIMENTAL is set).

The head for CRIU is https://github.com/xemul/criu/commit/ace699d7633f36247ab63d2dbc96187a763c9f4a

Here is the log for failed checkpoint

[2015-07-27 09:06] xemul commented on #6
OK :) Now we need the @boucher 's help with Docker part.

[2015-07-27 13:31] stlalpha opened #9 "Deleted bind-mount points fail restore"
Checkpoints are now completing successfully after enabling evasive devices for this container - however I am getting the following error on restores (checkpoint and restoring on same host) - any ideas?  Thanks!:

(00.106760)      1: Found fd 1 (id pipe:[546719]) in inherit fd list (caller inherit_fd_resolve_clash)
(00.106765)      1: Inherit fd 1 moved to 5 to resolve clash
(00.106767)      1:

[2015-07-27 13:42] xemul commented on #9
Can you show the dump log please?

[2015-07-27 14:56] fl0yd commented on #9
I'm working with stlalpha on this, here's a gist with a dump log.

https://gist.github.com/fl0yd/4a4f88ee78e53b9977bd

[2015-07-27 16:13] cyrillos commented on #9
It looks like the file being watched has vanished after the dump, which is only possible if underlied filesystem does something weird. I suspect it's AUFS? Could you please show the process tree and ls -l /proc/28382/fd ?

[2015-07-27 16:47] boucher commented on #6
The dump log should be at /var/run/docker/execdriver/native/<container_id>/criu.work/dump.log

[2015-07-27 16:59] kimh commented on #6
@boucher [here](https://gist.github.com/kimh/8c0b2e49c78e469fb8ba) is the dump.log

[2015-07-27 17:16] boucher commented on #6
This is the same issue as before, in Docker. The fix has not yet made its way from libcontainer to docker. You can update libcontainer yourself for now, or you can try reverting the same commit from the top of this thread.

[2015-07-27 17:23] kimh commented on #6
@boucher cool, now it worked.

I thought I don't need to revert the commit anymore.

[2015-07-27 17:26] boucher commented on #6
Ahh, sorry, my apologies. The issue actually has two components to it, and one got fixed which exposed the second, which got fixed in a later commit that hasn't yet been merged into docker.

[2015-07-27 18:32] fl0yd commented on #9
The old process was vaporized after the checkpoint, so I couldn't get the info from 28382.  For cleanliness I bounced the box, and restarted a new container with the command.

https://gist.github.com/fl0yd/47ff63636a06df1a1f0c

[2015-07-27 18:47] cyrillos commented on #9
So it's docker watching for something on own root.
├─docker(1016)─┬─init(1222)
...dump...
(00.013734) 	type aufs source none mnt_id 157 s_dev 0x26 / @ ./ flags 0x200000 options si=91208b708a91129b,dio,dirperm1
...
(00.175493) fsnotify: wd: wd 0x00000001 s_dev 0x00000026 i_ino 0x               e mask 0x0800abc8
(00.175505) fsnotify: 	[fhandle] bytes 0x00000028 type 0x00000063 __handle 0x00000000000

[2015-07-27 18:50] avagin commented on #9
Cc: @SaiedKazemi

[2015-07-27 21:29] LK4D4 commented on #6
@xemul I hit same error with `type NOTIFY`. It's pretty weird because it's okay for some machines, but not for another(also maybe you know what could be different?). Also it seems like serious fix, could you tag `1.6.1`?

[2015-07-28 00:09] SaiedKazemi commented on #9
@cyrillos @avagin
Docker 1.5 (https://github.com/SaiedKazemi/docker/releases) does support VFS (docker -d -D -s vfs) and I have successfully tested C/R'ing simple workloads.  Worth a try with this workload.

[2015-07-28 00:35] fl0yd commented on #9
in v1.8 the syntax isn’t the same, but when I pass the —volume-driver=vfs flag, the results are the same (or at least appear that way to me).

Docker command: docker run -d --volume-driver=vfs ubuntu /sbin/init
Gist: https://gist.github.com/fl0yd/9629cf9cd773ab18a461 <https://gist.github.com/fl0yd/9629cf9cd773ab18a461>

Mark

[2015-07-28 00:47] SaiedKazemi commented on #9
@fl0yd
The root of the container should be bind mounted before calling criu restore.  This is implicitly done in the case of AUFS and OverlayFS when the container's file system is set up before calling criu.  For VFS, we need to bind mount the root.  I don't think this code exists in 1.8, hence the failure.  Can you just wget docker-1.5.0 from the above URL and try it?  It's already prebuilt, so t

[2015-07-28 00:57] fl0yd commented on #9
It’s getting pretty late here, but I’ll give the 1.5 a shot, though we have some dependencies on the 1.8 driver features of docker so while it will be interesting to see if it is vfs or aufs related, it will be just that.  However, I would like to say that I am extremely thankful for the time that you’ve spent on this issue already and the great work the team has done on CRIU.

As of right now, th

[2015-07-28 01:32] SaiedKazemi commented on #9
My pleasure to help where I can.  I just tried your container with both VFS and OverlayFS storage drivers on 3.19.8 (Ubuntu Vivid) kernel patched to fix OverlayFS bugs.  Both restores failed with the same error (see below).  I think the "deleted" string confuses things but I remember that CRIU has code to handle it.  Unfortunately, don't have time to take a closer look at the moment but will defin

[2015-07-28 07:11] cyrillos commented on #9
This doesn't look like file handle problem anymore though :) Still it seems that we're covering only one case of "deleted" name postfix, I'll re-check.

[2015-07-28 08:11] cyrillos commented on #9
@SaiedKazemi Saied, I sent out a patch for handling "deleted" postfix from names, could you please give it a shot once time permit? (sent it into mailing list with you CC'ed)

[2015-07-28 10:26] xemul commented on #6
Well, 1.6.1 is not needed to deliver 7b20f42, since the breakage happened after 1.6 as well :)
I've read this thread again and can't see why plain 1.6 doesn't work for you :( Or does it?

[2015-07-28 16:09] LK4D4 commented on #6
@xemul yes, 1.6 doesn't work for me. Actually original issue was about 1.6 as well. Maybe something was occasionally fixed in master :) I'll try to build master and report here.

[2015-07-28 16:48] boucher commented on #6
It might also be worth checking if 1.5.3 works, since I believe that is our
minimum required version of criu?

On Tue, Jul 28, 2015 at 9:09 AM, Alexander Morozov <notifications@github.com

[2015-07-28 16:52] LK4D4 commented on #6
@xemul @boucher It's actually doesn't work with master either. I think it can be something about systemd. I see next lines in dump:
[code]

[2015-07-28 16:53] boucher commented on #6
And, this is runc, not docker?

On Tue, Jul 28, 2015 at 9:52 AM, Alexander Morozov <notifications@github.com

[2015-07-28 16:54] LK4D4 commented on #6
@boucher Yup, pure runc.

[2015-07-28 17:06] LK4D4 commented on #6
@xemul @boucher So, I mounted "tmpfs" on "/tmp" inside container(which is sorta weird too). Now I have problem that I built-in `sit` module in kernel and now I have `sit` interface in each network namespace. I think we should probably just skip it. WDYT?

[2015-07-28 17:28] LK4D4 commented on #6
I was able to checkpoint with patch:
[code]
I think probably real problem is that criu writes too cryptic errors in stderr, which confuses people :)

[2015-07-28 17:42] fl0yd commented on #9
I applied the diff from the patch Cyrillos mentioned above and confirm the "deleted" fix works for me.

I am still having issues with the restore using aufs and vfs.

with root mounted at "/" I get:

(00.113321)      1: fsnotify:     Restore 0x1 wd for 0x00000000
(00.113325)      1: fsnotify: Opening fhandle 27:41...
(00.113339)      1: Path `/' resolved to `./' mountpoint
(00.113409)      1: Erro

[2015-07-28 17:48] cyrillos commented on #9
@fl0yd Mark, I fear I've no clue how docker operates with AUFS (neither how it works with VFS). What I know for sure is that when dump happens we _explicitly_ check that file handle for watchee is openable, which allow us to be certain that we will be able to open it back on the restore.

In turn your error message shows that underlies filesystem has changed own contents and the watchee no longer

[2015-07-28 18:12] SaiedKazemi commented on #9
@cyrillos @fl0yd
Good news!  I was able to successfully checkpoint and restore Mark's container using Docker 1.5 with both VFS and OverlayFS.  I applied Cyrill's patch but noticed that "//deleted" was not deleted from new->root.  So, as a quick test, I patched parse_mountinfo_ent() to get rid of it and C/R worked.

        int rootlen = strlen(new->root);
        if (rootlen > 9) {

[2015-07-28 18:21] cyrillos commented on #9
@SaiedKazemi Stripping deleted parts called in two cases:
 - for opened files which has zero links associated
 - for files living on devpts filesystem

as far as I know we don't call this helper over mount point paths. Saied could you please show the mount tree which contains such thing? It looks like we should handle it too.

[2015-07-28 18:42] SaiedKazemi commented on #9
@cyrillos
Please see https://gist.github.com/SaiedKazemi/347a2e04a1ba78bf2113 for two dump.log files: a6_dump.log before my patch. 36_dump.log after my patch.

[2015-07-28 19:59] cyrillos commented on #9
So as far as I understand it's bindmount for deleted entry. Is it a common situation for docker?

[2015-07-28 20:00] cyrillos commented on #9
When you strip //deleted part it restores fine, correct?

[2015-07-28 20:19] SaiedKazemi commented on #9
@xemul
Yes, it restores fine when "//deleted" is stripped from new->root.

Re how we end up with it, I don't know.  I had seen the " (deleted)" suffix which Pavel can explain much better why/when it shows up.  But this is the first time I am seeing "//deleted".  It's added by dentry_path() in fs/dcache.c when it calls prepend() although it's actually appended!

[2015-07-28 20:48] cyrillos commented on #9
@SaiedKazemi We end up this way when remove bindmount

136 130 0:52 /m1//deleted /home/cyrill/m/m2 rw,relatime shared:69 - tmpfs none rw

It is easy to simply call for stripping off this postfix I'm just need some time to think if there some caveats ramin... That said once ready I'll send out the patch.

[2015-07-29 08:31] xemul commented on #6
OK, this
   Error (mount.c:1005): Can't create a temporary directory: Read-only file system
is because /tmp is read-only. CRIU tries to create a temp dir there to dump tmpfs contents.

As far as the SIT is concerned. The patch you' ve mentioned is not complete :) SIT device has a configuration that has to be dumped too, that's why we check device types one by one.

And, finally, about cryptic erro

[2015-07-29 08:32] xemul opened #10 "RO or absent /tmp causes dump to fail"
As described in isse #6 r/o /tmp causes failure in open_mountpoint() due to inability to mkdtemp(). Same will be for the case when /tmp is absent. Same will be for RO / :)

[2015-07-29 08:33] xemul commented on #6
I've created an issue #10 for tmpfs case. BTW, this patch should workaround it:
--- a/mount.c
+++ b/mount.c
@@ -999,7 +999,7 @@ static int open_mountpoint(struct mount_info *pm)
 		goto out;

 	mnt_path = mkdtemp(mnt_path_tmp);
-	if (mnt_path == NULL && errno == ENOENT)
+	if (mnt_path == NULL)
 		mnt_path = mkdtemp(mnt_path_root);
 	if (mnt_path == NULL) {
 		pr_perror("Can't create a temporary di

[2015-07-29 08:34] xemul opened #11 "Support SIT device"

[2015-07-29 08:34] xemul commented on #9
And issue #11 is about supporting SIT device.

[2015-07-29 08:35] xemul commented on #6
And issue #11 is about SIT device support.

[2015-07-29 08:58] cyrillos commented on #9
@xemul Pavel rename the issue please to "Can't restore counters with deleted bind mount points"

[2015-07-29 10:50] xemul commented on #9
Done, thanks :)

[2015-07-29 15:40] LK4D4 commented on #6
@xemul Thanks! I think you can close this issue, because now it's only confusing to read this thread about four different errors :)

[2015-07-29 16:29] xemul commented on #6
OK, @kimh , AFAIU you're issue is finally fixed. If no, just lest us know :)

[2015-07-29 16:29] #6 closed

[2015-07-31 14:27] belonesox opened #12 "CRIU — как маленький open-source проект меняет жизнь большой компании"
Pls, look and review, if something is not OK.

https://vimeo.com/130297663

[2015-08-02 11:34] klesgidis commented on #6
Hello! First of all thanks for all of your help. I am trying to checkpoint a container but I get the error
<code>criu failed: type NOTIFY errno 0.</code>
 I have criu
<code>1.6 compiled from source</code>
 and docker
<code>Client:
 Version:      1.8.0-dev
 API version:  1.20
 Go version:   go1.4.2
 Git commit:   24e477b
 Built:        Sun Aug  2 11:18:41 UTC 2015
 OS/Arch:      linux/amd64
 Experi

[2015-08-02 17:16] LK4D4 commented on #6
@klesgidis criu doesnt' work with latest docker now

[2015-08-02 18:14] klesgidis commented on #6
@LK4D4  thanks for your reply. Is there any configuration that I can use? (Docker & CRIU version).
I tried the above recommended commits but I couldn't C/R a container.

[2015-08-03 08:12] avagin opened #13 "criu restore hangs"
[code]
[code]
[code]

[2015-08-03 08:17] avagin commented on #13
[code]

[2015-08-03 11:49] xemul commented on #12
Around 10th minute sound becomes lower. Everything else is perfect, thanks :)

[2015-08-03 12:51] xemul commented on #6
Can we create the new issue for this instead of creating additional mess inside the closed one.

[2015-08-03 16:13] klesgidis commented on #6
@xemul do you want me to open another issue and delete the above messages?

Thanks

[2015-08-03 18:32] xemul commented on #6
@klesgidis , to open another issue :) And (while opening) please attach criu dump and/or restore logs you have. Thanks.

[2015-08-04 13:44] avagin commented on #13
Fixed by https://github.com/xemul/criu/commit/f13ec96e58688614f732422e67ed34231b58e2ba

[2015-08-04 13:44] #13 closed

[2015-08-04 16:39] klesgidis opened #14 "Trying to Checkpoint MySql container - criu failed: type NOTIFY errno 0"
Docker:
[code]

CRIU:
[code]
I am trying to C/R a MySQL container.

I start it
[code]
and then I am trying to checkpoint it. The result is:
[code]
dump.log
[code]

(edit: I also tried to checkpoint with apache, but the same results)

Any help?
Thanks for all the support!

[2015-08-04 17:20] xemul commented on #14
Error (mount.c:630): 99:./sys/fs/cgroup/hugetlb doesn't have a proper root mount

If I understand the docker+criu integration correctly, this mountpoint should be marked with --ext-moun-map option on dump.

Cc-ing @boucher and @avagin

[2015-08-04 17:22] boucher commented on #14
This is still a result of the runc/docker bug that was fixed a couple of weeks ago unfortunately. I'm still waiting for this issue[1] to get fixed, so I can submit a pull request to docker to pull in the new version of libcontainer, which will fix the issue.

[1] https://github.com/opencontainers/runc/issues/171

[2015-08-05 15:59] #12 closed

[2015-08-05 16:37] boucher commented on #14
I believe if you checkout the latest version of my branch this issue should be fixed.

[2015-08-05 17:37] klesgidis commented on #14
@boucher thank you very much for the quick response! The latest version seems to fixed the previous bug, but I cannot checkpoint my container again.

Logs
[code]
I can see something about <code>--file-locks</code> but I cannot specify the problem.

Any ideas?

Thank you for your help..

[2015-08-05 18:01] boucher commented on #14
Criu wants you to pass the file locks command line flag. In the future, we'll do this by default in Docker, but currently its not supported at all.

If you want to get something working for yourself and don't need to worry about long term maintenance of it or upstreaming it, you can just edit container_linux.go in libcontainer's vendor folder and just change this line to always pass true:

    Fil

[2015-08-05 18:18] klesgidis commented on #14
@boucher and @xemul you are great! Problem solved. Thank you very much for the help. Keep up the good work..!

[2015-08-05 20:06] xemul commented on #14
@klesgidis you're welcome :) @boucher , thank you VERY MUCH!

[2015-08-05 20:06] #14 closed

[2015-08-05 23:21] klesgidis commented on #14
Sorry for re-opening.. Trying to checkpoint the same container to another pc I have this dump
[code]
I think, the only difference is that I haven't apply the patches of torvalds (http://criu.org/Docker)..

Do I have apply them too or is something else?

Thank you

[2015-08-06 06:59] xemul commented on #14
Error (proc_parse.c:404): Can't handle non-regular mapping on 14232's map 7f6ba0c22000

Most likely this is AIO ring, to dump it we need the kernel patches mentioned on the page.

[2015-08-06 09:40] klesgidis commented on #14
Thank you @xemul.. I 'll apply the fixes and inform here about the results..

[2015-08-06 12:25] fl0yd commented on #14
Running on Ubuntu Server 15.04 you don't need to apply any kernel patches.  What distro and kernel are you running?

[2015-08-06 16:40] stlalpha commented on #9
Greetings - is there anything we can do to help move this forward?  Thanks for the great software!

[2015-08-06 16:45] cyrillos commented on #9
The best would be to send us a patch with this problem fixed ;) Just kidding. Sorry, out of time at the moment. Once time permit I'll do the patch.

[2015-08-06 17:39] klesgidis commented on #14
@fl0yd , actually I realized that I hadn't update my kernel on this PC. I use Linux Mint 17 with kernel 3.13.0-24-generic.. :P I'll upgrade it and inform for the results.. Thanks

[2015-08-06 17:50] klesgidis commented on #14
It worked like a charm! :D Guys I appreciate your help!

[2015-08-07 10:31] xemul commented on #9
@cyrillos , does your recent patch titled "[PATCH] files-reg: Rework strip_deleted" helps with this? Or something else should be done?

[2015-08-07 10:48] cyrillos commented on #9
The patch itself covers only a part of problem: we need to call it when parsing mount points paths, but still while this does the trick for docker as far as I know, the general solution should be restoring deleted mount points. Thus as I said we can merge the patch since it doesn't hurt but need to do more work on top.

[2015-08-07 12:04] xemul commented on #9
Hm... Just curious -- why does this mountpoint appear at all?

[2015-08-07 12:09] cyrillos commented on #9
It's bind mount to deleted mount point. You bindmount some dir, then remove the source and you get //deleted name on the target.

[2015-08-07 12:14] xemul commented on #9
Yes, this is understood. Why does this happen in our case? Who and what for deletes the target?

[2015-08-07 12:15] cyrillos commented on #9
I don't know, it comes from docker log. CC'ing @SaiedKazemi

[2015-08-07 18:31] klesgidisold opened #16 "Pre-created cpuset cgroup with not configured .cpus/.mems causes restore to fail"
Hi! I 'm trying to restore a docker MySQL container to another host. So I checkpointed it, moved the dump files to another PC, created a new "identical" container (didn't run it) and executed

[code]

The results

[code]

The restore log

[code]

Any help? Thank you..

[2015-08-07 19:11] SaiedKazemi commented on #9
@cyrillos @xemul   @fl0yd
I am not sure either.  Based on what Mark said, this happens when you run the following docker command:
$ docker run -d ubuntu:latest /sbin/init
I don't know if it's related to the storage driver, docker version, or kernel version.  But I verified that it had to do with //deleted.  Once I removed //deleted from the pathname, I could successfully checkpoint and restore.

[2015-08-07 19:15] fl0yd commented on #9
It appears to work with external CRIU checkpoint/restore, but using the internal 1.8 experimental checkpoint and restore, I still get the error about a stale file handle.

(00.092761)      1:     Restoring fd 5 (state -> create)
(00.092767)      1: fsnotify:     Restore 0x1 wd for 0x00000000
(00.092772)      1: fsnotify: Opening fhandle 28:41...
(00.092786)      1: Path `/' resolved to `./' mountp

[2015-08-07 19:16] avagin commented on #9
Probably /sbin/init deletes /dev/null and creates it again.

[2015-08-07 21:52] SaiedKazemi commented on #9
You're right, it must be /sbin/init.  We can easily reproduce it manually:

[Terminal A] $ docker run -it ubuntu:latest bash -i
[Terminal B] $ sudo grep deleted /proc/5274/mountinfo
$
[Terminal A] # rm /dev/null
[Terminal B] $ sudo grep deleted /proc/5274/mountinfo
99 155 0:61 /null//deleted /proc/kcore rw,nosuid - tmpfs tmpfs rw,mode=755
100 155 0:61 /null//deleted /proc/timer_stats rw,nosuid - t

[2015-08-09 12:26] rajasec opened #17 "criu fails to checkpoint container"
With Ubuntu 15.04 (Kernel 3.19)
I've tried the checkpoint with runc
(00.123993)     165: 2c:/sys @ ./proc/sys
(00.123996)     238: 20:/user.slice/user-1000.slice/session-c2.scope/runc @ ./sys/fs/cgroup/hugetlb
(00.123999)     237: 1f:/user.slice/user-1000.slice/session-c2.scope/runc @ ./sys/fs/cgroup/memory
(00.124002)     236: 1e:/user.slice/user-1000.slice/session-c2.scope/runc @ ./sys/fs/cgroup

[2015-08-09 14:39] klesgidis commented on #16
Forgot to say, host of checkpointed container os <code>linux mint 17, kernel 1.19-vivid</code> and the host of restored <code>linux ubuntu 14.04, kernel 1.19</code>.

[2015-08-10 11:21] xemul commented on #16
Here's the error. The file /tmp/ib927lru.cr.1 exists, while shouldn't. Have you modified the filesystem somehow before restore?

[2015-08-10 11:22] xemul commented on #17
Known issue :) #10

[2015-08-10 11:22] #17 closed

[2015-08-10 15:37] klesgidis commented on #16
What you mean if I have modified the fs before? I don't think so.. I only have applied the patches tha referred to the criu/docker page.. this file shouldn't have been there?

Do you think that if i remove it, it will be ok?

Thanks for the reply..

[2015-08-10 15:42] xemul commented on #16
I mean -- what did you do to get the filesystem of your container on the destination node? The file I mentioned (ib927lru.cr.1.ghost) is created by CRIU upon restore with unique name, according to logs this file is created only once, but it's already there. I wonder how this could happen?

And yes, if you remove this file this particular error will go away.

[2015-08-11 20:30] klesgidis commented on #16
@xemul thanks again.. You were right about this particular file. I run the docker restore command multiple times so probably the file was there from a previous execution on the same container. The right log file is the bellow:
[code]

[2015-08-12 07:09] xemul opened #18 "Dangling ghost files from failed restore cause next restore to fail"
Originally described in issue #16

[2015-08-12 07:13] xemul commented on #16
OK, now we have ENOSPC from cpuset.tasks write. This usually happens when the cpuset.cpus or .mems is not set. Can you check the restore logs for "Restored cgroup property value..." message?

[2015-08-12 07:30] klesgidis commented on #16
I was not able to find the restored cgroup property value, but I may not found it. I uploaded the entire log file here https://gist.github.com/klesgidis/06eff8fc2eeb3b9b0dec for reference.
Thank you

[2015-08-12 07:51] avagin commented on #16
Looks like we forgot to set the manage-cgroup option to restore a
containers.
On Aug 12, 2015 10:13, "Pavel Emelyanov" <notifications@github.com> wrote:

[2015-08-12 08:23] xemul commented on #16
Probably yes :) Asking for @boucher help again.

[2015-08-12 15:23] boucher commented on #16
@avagin In libcontainer? It seems like we're setting it:
https://github.com/opencontainers/runc/blob/master/libcontainer/container_linux.go#L499

[2015-08-12 16:11] avagin commented on #16
@boucher you are right. So the question is still open.

[2015-08-12 17:28] xemul commented on #16
I think I've found it :) @cyrillos , look at the prepare_cgroup_dirs(). If the faccessat() call succeeds (directory exists) we don't call for restore_special_cpuset_props().

[2015-08-12 17:33] cyrillos commented on #16
I'll take a look, thanks

[2015-08-12 18:17] cyrillos commented on #16
So, this kind of behavior (restoring cpuset props if only controller didn't exist) came from commit 003aed3b9 as far as I can say. Thus to figure out if it is indeed a reason one should setup --manage-cgroups=full instead of soft mode which is by-default.

[2015-08-12 18:21] cyrillos commented on #16
In commit 46e8aee we have added appropriate modes for RPC calls.

[2015-08-12 18:28] cyrillos commented on #16
@tych0 Tycho, do you remember the reason why in commit 003aed3 we started to restore special props iif they dont exist? Why dont we restore them unconditionally?

[2015-08-12 21:40] tych0 commented on #16
Hi Cyrill,

On Wed, Aug 12, 2015 at 11:28:25AM -0700, Cyrill Gorcunov wrote:

I think the discussion is here:

http://lists.openvz.org/pipermail/criu/2014-October/017084.html

Basically, if criu didn't create the cgroup, we try not to to touch
it.

Tycho

[2015-08-12 22:01] cyrillos commented on #16
Need to refresh memory ;) Thanks I'll try to read it tomorrow.

[2015-08-13 15:28] xemul commented on #16
I think we just decided that if cgroup exists it should be properly configured. Right now it seems not to be the case :\ And the question from me -- if we take existing cgroup and this cgroup doesn't have cpuset.cpus/.mems set, where does this cgroup came from? Why created it and how?

[2015-08-14 08:43] klesgidis opened #19 "Docker - After restoring MySQL Container: Cannot connect"
I run a Docker MySQL Container. I C/R the container without any errors.

When I try to reconnect to it after restore, I get the message:
[code]
If I stop and start the container, I can reconnect

[2015-08-14 08:51] klesgidis opened #20 "Support C/R of frozen cgroup"
If I pause a container
[code]
and then try to checkpoint it
[code]
checkpoint stalls...
From another terminal I am trying to unpause
[code]
and it also stalls.

[2015-08-14 09:50] xemul commented on #19
Where do you get this message from?

[2015-08-14 09:51] xemul commented on #20
Seem to be Docker issue. @SaiedKazemi , @boucher would you please help here?

[2015-08-14 10:13] klesgidis commented on #19
Trying to connect to mysql from my host
[code]
I enter my password and receive the above message.

[2015-08-14 15:14] SaiedKazemi commented on #20
Which Docker version are you using?  Also, what is the container you're running?  Can you send us the exact commands on how you started your server and the containers?

[2015-08-14 15:59] klesgidis commented on #20
Docker
[code]
I tested in a MySQL and a Postgre SQL (both official) containers. I run:
[code]
and then the commands that I specified on the first post.

I didn't do anything to start the docker server.
<code>sudo service docker start</code> (I'm not sure if you asking something else about it)

Thanks for the response..

[2015-08-14 16:03] boucher commented on #20
Have you gotten checkpoint/restore to work at all on your system?

Out of curiosity, can I ask what the use case is for pausing the container before checkpointing it?

Also, could you try updating your build of Docker? There have been changes in my checkpoint/restore branch since the git hash shown in this version.

[2015-08-14 16:20] klesgidis commented on #20
Yes C/R is working on my system.

There isn't any use case. I was just messing around and noticed this attitude.. I decide to say it here if you haven't noticed it yet.

I am updating my current build of docker right now and I 'll let you know..

Thanks

[2015-08-14 16:27] boucher commented on #20
Ok, thanks for letting us know. I don't actually know much about how docker
pause works, so it will require some looking into.

On Fri, Aug 14, 2015 at 9:20 AM, Kyriakos Lesgidis <notifications@github.com

[2015-08-14 17:07] SaiedKazemi commented on #20
@xemul @klesgidis
I just tested pausing (freezing) a shell process and then checkpointing it (i.e., no Docker) and CRIU hung.  Here is what I did:

[Terminal A]
/bin/sh -c 'i=0; while true; do echo $i; i=$(expr $i + 1); sleep 3; done'

[Terminal B]
mkdir /sys/fs/cgroup/freezer/0
ps -efl | grep -w sh
echo 7042 > /sys/fs/cgroup/freezer/0/tasks
echo FROZEN > /sys/fs/cgroup/freezer/0/freezer.state
cri

[2015-08-14 17:48] klesgidis commented on #19
@xemul I found what it was causing the problem.. My stupidity!! :P

When you C/R a container the IP of the container changes! So I was using the old IP address. Sorry for the spam!

You can close it.. Or delete it ! :P Sorry again

[2015-08-14 18:33] klesgidis opened #21 "Docker - Cannot restore container with volumes to host"
I am trying to checkpoint a container and restore it to a new one with the same configuration.
What I am doing
[code]
[code]
then
[code]
[code]
and I get
[code]
The restore.log:
[code]
As I can see it seems that Criu it is unable to find file ./var/lib/mysql. This is specified on the container as "Volume"
(From docker inspect command)
[code]
I can see that criu is searching for a relative path or

[2015-08-15 00:37] #19 closed

[2015-08-15 12:32] avagin commented on #20
CRIU can't attach by ptrace() to frozen processes.
Recently, I added the freeze-cgroup option, it should be used for paused containers.

[2015-08-15 14:18] xemul commented on #20
@avagin CRIU can attach with ptrace, this is what we do in your patches :) CRIU cannot run parasite in them, but this can be addressed by extending the freeze-seize-unfreeze-run logic you've introduced.

[2015-08-15 14:20] xemul commented on #21
I think it cannot find /var/lib/docker/volumes/8b40ac... path. It looks like the --ext-mount-map-s don't include volumes.

[2015-08-15 14:36] klesgidis commented on #21
The path <code>/var/lib/docker/volumes/8b40ac34b31f1b641f76d527a6287f0cdfe205de0e10171df889a4ff5a446c3d/_data</code> exists. You mean that it cannot restore containers with external volumes?

[2015-08-15 14:42] xemul commented on #21
Yes, docker daemon when calling criu should specify this path in one of --ext-mount-map arguments.

[2015-08-15 14:49] klesgidis commented on #21
If I C/R in the same container it works. The above case is when I am trying to restore to a fresh created container with the same configuration.. So probably it should be something else..

[2015-08-15 15:13] xemul commented on #21
That's strange indeed. And I've looked at logs again, the --ext-mount-map is specified :) And it looks like the /var/lib/mysql is not found, you're right. The fact that criu uses relative paths for it is OK, criu is always chdir()-ed into container's root at this point (well, it should be :).

[2015-08-15 15:13] xemul commented on #21
Can you check for /var/lib/mysql path in your container?

[2015-08-15 15:17] xemul commented on #21
@avagin says that this issue was already met :) The thing is that this directory is created on container START, not CREATION. For some reason. As a workaround you can run your freshly created container with /bin/true command. Then do the restore :)

[2015-08-15 15:42] klesgidis commented on #21
I 'll try the @avagin's recommendation and I 'll let you know.

[2015-08-15 17:01] klesgidis commented on #21
@avagin's recommendation seems to work.. (thanks) I passed this error and it seems that now I have another..
Here is the last lines of the log file
[code]

[2015-08-15 17:09] klesgidis commented on #21
@xemul  @avagin  I think.. If I run with <code>/bin/true</code>, then this will be the command for starting the container and this is different from the checkpointed container.. Isn't it a problem?

[2015-08-15 23:25] klesgidis opened #22 "Docker - After restoring tomcat container, cannot connect to it"
Guys sorry for the continuous issues and thanks for all the support..
Docker
[code]
CRIU
[code]
I run the following sequence
[code]
and I have
[code]
with
[code]

When I type <code>172.17.0.10:8080</code> in my browser, I cannot connect to the restored container.

Thanks

Edit: I also tried to C/R with the default actions
[code]
and I had the same results.
In addition, if it helps, when I do <code

[2015-08-16 14:08] xemul commented on #22
Has the IP address of the container changed?

[2015-08-16 14:09] xemul commented on #21
Can you get more lines from restore.log? The thing is that log says that task with pid 50 exited (for some reason), but in the log tail you've shown there are no lines from that task.

[2015-08-16 14:22] klesgidis commented on #22
Yes the restore container has a new IP

[2015-08-16 14:28] xemul commented on #22
Then connect can fail since all the internals have the ip changed -- routing, addresses, sockets binding (if any).

[2015-08-16 14:30] klesgidis commented on #21
You can see the full restore log here:
https://gist.github.com/klesgidis/2479a417fa8b391023d6
Thanks

[2015-08-16 14:38] xemul commented on #21
Here's the error:
  50: Error (files-reg.c:1097): Can't open file var/lib/mysql/ibdata1 on restore: No such file or directory

the /var/lib/mysql is the external mountpoint (the /var/lib/docker/volumes/53920a26a956c52a3c541b25c3ad23314e8724075dafe91563cb1d892d0c296d/_data volume). Does is have the "ibdata1" file inside?

[2015-08-16 15:05] klesgidis commented on #22
As I know, you can not assign an IP to a docker container. So how it could be ever possible to C/R a container that it could be referenced with its IP from the outside?

[2015-08-16 15:08] klesgidis commented on #21
You were right! The files didn't exist. I transferred them and I was able to restore the container. But know I think that  I have the same problem with issue #20. The IP address has changed and I am not able to connect to the DB.
[code]

[2015-08-16 15:11] xemul commented on #22
Well, I don't have good experience with docker network management. Maybe @avagin or @boucher can help?

[2015-08-16 15:12] xemul commented on #21
It's issue #22  :) OK, let's switch to that one then.

[2015-08-16 15:12] #21 closed

[2015-08-16 15:50] boucher commented on #22
Networking is a known issue right now. I believe you'll find that the IP isn't the issue, but, assuming it's the only issue for a moment, here is the workaround I'm using for this problem:

Theoretically, you should also drop the old ip. There are two problems with this though: the first is the exec --privileged support hasn't yet been merged into my branch (I'll try and get that done soon), and t

[2015-08-16 18:49] klesgidis commented on #22
@xemul thanks for the help.. Sorry, but I didn't catch you.. How and when do you use <code>docker exec --privileged bash</code> and <code>ip addr add dev eth0</code>?

[2015-08-16 19:25] xemul commented on #22
I  believe the last question is to @boucher :)

[2015-08-16 19:31] klesgidis commented on #22
Ouppss! Yes you're right! Sorry :P Although, also thank you for your help!

[2015-08-17 15:56] boucher commented on #22
You use docker exec post restore, in order to change the IP address inside the container back to the one docker expects. (I have just pushed support for exec --privileged to my branch if you rebuild).

[2015-08-17 22:18] klesgidis commented on #22
@boucher I managed to <code>exec</code> with the <code>--privileged</code> option, but (unfortunatelly) as you predicted the results are the same.
So, as I understand there isn't any solution yet about this issue.. Thanks for your help..
P.S. Is there any estimation about when the "Network Support" will be available?

[2015-08-18 18:20] klesgidis commented on #22
Another question... (I know I am pain in the ass :P ) In this video https://www.youtube.com/watch?v=HFt9v6yqsXo how Saied Kazemi managed to restore and continue the streaming? I mean he didn't have this network issues? Thanks for your patience..

[2015-08-18 18:22] boucher commented on #22
He's using an older version of docker (which is available still here:
https://github.com/SaiedKazemi/docker/releases/tag/v1.5.0)

On Tue, Aug 18, 2015 at 11:20 AM, Kyriakos Lesgidis <
notifications@github.com> wrote:

[2015-08-18 21:39] stlalpha opened #23 "Failure restoring container 1.9 experimental cr-combined"
Running boucher's docker 1.9 experimental cr-combined fork.

$ docker -v
Docker version 1.9.0-dev, build 2791165-dirty, experimental
$

Success:

All on same host:

1. docker run -d stlalpha/experimental (returns containerid)
2. docker checkpoint [containerid]
3. docker restore [containerid]

Failure:

All on same host:

1. docker run -d stlalpha/experimental (returns containerid)
2. docker checkp

[2015-08-19 02:14] stlalpha commented on #23
Same procedure succeeds when using stlalpha/experimental-dbonly image.  This image has no sshd and no apache daemon in it.  Same base plus apache fails, same base plus ssh fails.

[2015-08-19 06:45] xemul commented on #23
Can you show full restore log, please? And which version (gitid?) version of criu do you play with?

[2015-08-19 11:48] stlalpha commented on #23
criu git id: 0ac4c13e600db83d40b283296e8b8b011ccaf675

Full restore log of stlalpha/experimental from above procedure:

https://gist.github.com/stlalpha/de283c5c2cbc71b50ed2

[2015-08-19 14:11] xemul commented on #23
The file /tmp/sshd-stdout---supervisor-f77QHv.log inside container is missing.

[2015-08-19 14:31] stlalpha commented on #23
I'll mod supervisord to not reference the file - so I can understand - how did you make that determination from the logs?  Thank-you!

[2015-08-19 14:38] xemul commented on #23
$ cat restore.log | fgrep Err
(01.615693)      1: Error (files-reg.c:1091): Can't open file tmp/sshd-stdout---supervisor-f77QHv.log on restore: No such file or directory
(01.615713)      1: Error (files-reg.c:1034): Can't open file tmp/sshd-stdout---supervisor-f77QHv.log: No such file or directory
(01.644186) Error (cr-restore.c:1933): Restoring FAILED.

:)

[2015-08-19 14:41] stlalpha commented on #23
lol - retrying

[2015-08-19 14:58] stlalpha commented on #23
Thank-you - after explicitey remapping stderr and stdout for the offending child processes to something outside of /tmp (the default) - it checkpoints and restores fine.

[2015-08-19 14:58] #23 closed

[2015-08-21 20:19] stlalpha opened #24 "Inconsistent restore failure with CG_MODE_FULL - boucher cr-combined + hk + criu-current"
During the first try of a container restore with CG_MODE_FULL I get a failure with:

(00.000856) Collecting 37/21 (flags 0)
(00.000878)  `- ... done
(00.000905) cg: Preparing cgroups yard (cgroups restore mode 0x4)
(00.000957) cg: Opening .criu.cgyard.LsVKLt as cg yard
(00.000967) cg:         Making controller dir .criu.cgyard.LsVKLt/cpuset (cpuset)
(00.001031) cg: Created cgroup dir cpuset/system

[2015-08-25 19:17] stlalpha commented on #24
We've submitted a patch to help address this - currently under discussion

[2015-09-01 03:48] rajasec opened #25 "Support seccomp filter"
@xemul
With the latest runc where seccomp was introduced, I tried to do the criu of container

Got the following dump log messages

(00.002859) Error (proc_parse.c:826): SECCOMP_MODE_FILTER not currently supported
(00.002899) Error (proc_parse.c:839): Error parsing proc status file
Looks like as per the code, seccomp filter is not supported.
if (cr->seccomp_mode == SECCOMP_MODE_FILTER) {

[2015-09-01 10:18] xemul commented on #25
@rajasec , no, @tych0 is still working on it, hopefully we'll have something in 1.8 (this winter).

[2015-09-02 12:08] kimh opened #26 "Restoring of docker container failed after restarting docker daemon"
I experimented if I could restore a container after rebooting my docker daemon but I got `Error response from daemon: Container f6b3120b3fce is not checkpointed` error.

[code]

Is this supported by CRIU?

[2015-09-02 12:21] xemul commented on #26
By CRIU -- yes :) It looks like some in-Docker problem with states management. @boucher, @SaiedKazemi , @avagin .

[2015-09-02 12:25] kimh commented on #26
Ok. Here is [the fork of docker](https://github.com/kimh/docker) that I'm using.

[code]

[2015-09-02 12:37] xemul commented on #9
Should have been fixed by 80ef8fd2fbd55419dc1aca824b2bfb06e39ff874 and d27f5391d5654e13bfaab2a0f090fb78f4be0afa

[2015-09-02 12:37] #9 closed

[2015-09-02 12:43] xemul commented on #22
Guys, do we still consider this as an opened issue?

[2015-09-02 12:43] xemul commented on #24
If I get things right this is fixed by 19dbe25918d5e61f60de498d380e5c25123c9fa3

[2015-09-02 12:43] #24 closed

[2015-09-02 13:43] klesgidis commented on #22
I think that this is solved by this https://github.com/boucher/docker/pull/15..

[2015-09-02 14:57] boucher commented on #26
I think this may be fixed in my branch if you try the latest version.

[2015-09-02 15:50] xemul commented on #22
Cool! Thanks, guys!

[2015-09-02 15:50] #22 closed

[2015-09-03 05:12] kimh commented on #26
@boucher Tried [your branch](https://github.com/boucher/docker/tree/cr-combined) but now restore failed (without restarting docker daemon).

Here is the restore log.

[code]

[2015-09-03 16:24] boucher commented on #26
Can you tell me the exact commands you ran?

[2015-09-03 16:28] avagin commented on #26
I think it's due to the shell-job option

[2015-09-03 16:31] boucher commented on #26
Yes, I think so too, just wanted to make sure. I misunderstood how the shell job flag works. I'll revert that particular change now.

[2015-09-03 16:37] boucher commented on #26
@kimh If you pull again I think it will work.

[2015-09-04 02:44] kimh commented on #26
@boucher Pull which project? CRIU or docker?

I pulled master branch of CRIU and https://github.com/boucher/docker/tree/cr-combined but I don't see your change. (FYI I recompiled criu with latest master but the issue was not fixed).

[2015-09-04 02:47] kimh commented on #26
Oh, btw, I run these commands:

[code]

[2015-09-04 07:39] klesgidis commented on #26
What both guys said is that you should run with the --allow-shell option
[code]

[2015-09-04 16:20] boucher commented on #26
There was no revert commit, I force pushed the change. I reverted the behavioral change though, there's no longer a --no-shell option, and its back to being --allow-shell, which you don't want here. Are you sure you're running commit 792fc89ab? Can you check the log to see that it isn't a new restore error?

[2015-09-04 17:17] kimh commented on #26
Ah, I didn't think about this, so haven't pulled docker.

Yes, using current 792fc89ab worked for me. Now I can restore a container even after restarting docker daemon.

Not sure about this. Is this because I run the container without shell?

[2015-09-04 17:22] boucher commented on #26
Yeah, it's a flag saying that the container is a shell.

[2015-09-04 17:46] kimh commented on #26
I see. Thanks, @boucher I'll close the issue.

[2015-09-04 17:46] #26 closed

[2015-09-06 14:40] kimh opened #27 "Docker restoring with --force option failed"
I'm experimenting the migration of docker container from one host to another and encountered a bit strange error.

Here is what I did.

Run a container on host A and checkpoint.

[code]

Then move `/tmp/np` to host B and tried restoring like this.

[code]

The above restoring failed with the following error in restore.log.

[code]

Here is the full [restore.log](https://gist.github.com/kimh/32c8ec

[2015-09-06 15:10] kimh commented on #27
Actually, I found that I need to run at least a container on host B before doing any restoration. Maybe this is a bug with docker?

[2015-09-06 18:49] xemul commented on #27
The ENOSPC from cpuset cgrpup attach means that special props were not restored. Looks like issue #16 . @cyrillos would you take a look at ... both :) please.

[2015-09-06 19:39] cyrillos commented on #27
@xemul sure, will take a look tonight or tomorrow (actually I thought it's fixed in commit 19dbe259)

[2015-09-07 05:37] xemul commented on #27
@cyrillos , not it's another issue. The commit you mention is about restoring root cgroups, while this problem _seem_ to be in missed special props restore for existing directories.

[2015-09-07 10:14] cyrillos commented on #27
@xemul The question is would it be correct to restore special props if they already exist? I've created a patch for that but I really doubt that we should. cpuset is special and what's worse the number of cpus might varies between machines. That said I think such parameters should be set up by "resume" script from the docker itself or vzctl in case of openvz.

https://gist.github.com/cyrillos/cec0

[2015-09-07 10:36] xemul commented on #27
Well, primary question -- is it the case we're dealing with? Can we at least have a patch that checks this and prints respective messages in the logs? Because right now it's not clear from logs what do we do with cgroups on restore :)

[2015-09-07 10:50] cyrillos commented on #27
In this patch we will print if we've restored special props. And I think it because of the lack of the restore cpuset. Look into the log

(00.000902) cg: Preparing cgroups yard (cgroups restore mode 0x4)
(00.000971) cg: Opening .criu.cgyard.dUuKQf as cg yard
(00.000998) cg:         Making controller dir .criu.cgyard.dUuKQf/cpuset (cpuset)
(00.001029) cg: Determined cgroup dir cpuset/docker/9dccf56

[2015-09-10 09:43] avagin commented on #16
https://github.com/opencontainers/runc/pull/253
I think this pull request should fix this problem.

[2015-09-10 20:05] boucher opened #28 "Issue mounting memory cgroup in Docker"
I'm passing along a bug reported to me via email. Let me know if you'd prefer sending this type of thing to the mailing list in the future.

--------------------------------

My configuration:
    Linux ismael 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt11-1+deb8u3
(2015-08-04) x86_64 GNU/Linux

I am using the last release compiled version of Docker Experimental
v1.9.0 with the compiled version of CRIU

[2015-09-10 20:35] avagin commented on #28
Can you show /proc/cgroups?

[2015-09-10 20:38] avagin commented on #28
I remember that  the memory controller is disabled by default in Debian

[2015-09-10 20:48] avagin commented on #28
This issue is reproduced if a kernel is booted with cgroup_disable=memory

[2015-09-10 20:51] avagin commented on #28
CRIU parses /proc/cgroups to collect controllers
[root@fc22-vm criu]# cat /proc/self/cgroup  | grep memory
[root@fc22-vm criu]# cat /proc/cgroups | grep memor
memory	0	1	0

[2015-09-11 16:05] eliams commented on #28
@boucher Thanks for the forward.
@avagin  Thanks for the reply.
Before reading it, I switched to a 4.0.0 kernel and it worked. I checked and the cgroups are effectively enabled.
ismael@debian:~$ cat /proc/cgroups | grep memor
memory  5 63  1

However I have come to other issues, I will explain it here but tell me if I need to make a new post.
When I checkpoint a container, I can kill the daemon, r

[2015-09-11 16:12] boucher commented on #28
Are you still using the precompiled version of Docker posted to my releases
page? Are you able to try building the latest version of my branch? I
believe one of the issues fixed by @huikang is related to a bug with
storing the container state after checkpointing.

On Fri, Sep 11, 2015 at 9:05 AM, eliams <notifications@github.com> wrote:

[2015-09-11 16:55] huikang commented on #28
@boucher @eliams I think you're talking about this PR
https://github.com/boucher/docker/pull/14
The latest cr-combined branch from @boucher has already merged it.

[2015-09-14 08:57] eliams commented on #28
Sorry for the long response time, I didn't find some time during the weekend to test.
I tried to build to cr-combined and the test-huikang-fix branches with:
  make build && make binary
but the resulting binaries does not have the checkpoint and restore commands.
What did I miss ?

[2015-09-14 09:08] klesgidis commented on #28
You have to build with the docker experimental flag
[code]

[2015-09-14 10:38] eliams commented on #28
@klesgidis Thanks !

So I tried both and end up with this:

#### The test-huikang-fix branch:

The restore part fail if I restart the daemon before restoring.

daemon logs before restart: http://pastebin.com/nuDwmFKw
daemon logs after restart: http://pastebin.com/JTb3Ev7v
restore commmand output:
Error response from daemon: Cannot restore container f728e5363b70: [2] Container does not exist: open

[2015-09-14 20:05] huikang commented on #28
@eliams Did you reboot the machine or just the docker deamon before your restoring the checkpoint container?

[2015-09-15 07:44] eliams commented on #28
@huikang When I only stop and restart the daemon it works, it's when I also reboot the machine that I am not able to restart the container.

[2015-09-15 17:20] huikang commented on #28
@eliams Thanks for the detailed information. I will look at it.

[2015-09-15 20:48] huikang commented on #28
@eliams The reason that all the images are lost after rebooting the machine is that all directory under /var/run/ will be re-created each time you reboot the machine. Also make sure you do not have another default docker running, which may also create this directory.

So to avoid this, when you start the docker-checkpoint-v1.9 daemon, use --exec-root=/root/ to appoint to another place.

@boucher s

[2015-09-15 20:59] boucher commented on #28
Yes, we should move it to /var/lib/docker

On Tue, Sep 15, 2015 at 1:48 PM, huikang <notifications@github.com> wrote:

[2015-09-15 21:06] huikang commented on #28
@boucher cool. If you want, I can send you a PR based on your cr-combined branch later.

[2015-09-16 08:30] avagin opened #29 "Error (sk-inet.c:610): Can't bind inet socket: Cannot assign requested address"
[code]
[code]

https://gist.github.com/boucher/7693ed611225ba24f927

Reported-by: @boucher

[2015-09-16 08:33] avagin commented on #29
2001:db8:1::feee:cfa2:163e/64 is marked as tentative.

The new addresses remain in a tentative state while duplicate address detection is performed.

DAD can be disabled by the dad_transmits sysctl.

[2015-09-16 09:15] eliams commented on #28
I tried the --exec-root option, I end up with the same error and I still needed
the previous echo command to be able to run containers again.

Restore command output:
Error response from daemon: Cannot restore container 7695d91e663c: criu failed: type RESTORE errno 0
Error: failed to restore one or more containers

Daemon logs:
ERRO[0032] Error restoring container: criu failed: type RESTORE errno

[2015-09-16 12:47] xemul commented on #28
Patch d3be641acdfc29174524252668029b2b52cb2046 regarding this issue is in master

[2015-09-16 14:32] eliams commented on #28
I tried with the patch, I still have the same issue.

[2015-09-16 14:45] huikang commented on #28
@eliams Did using --exec-root solve the problem of missing criu images?

@xemul Will this patch in runc (https://github.com/opencontainers/runc/pull/184) help to solve the cgroup problem?

[2015-09-16 14:55] xemul commented on #28
@huikang it looks like we have several issues discussed here :) First one was -- disabled cgroups weren't handled by CRIU, not is' fixed by @avagin . The next issue was from @eliams regarding the killed and restarted Docker daemon. This particular one (AFAIU) is fixed in @boucher tree and the pull request you mention is it.

[2015-09-16 14:57] xemul commented on #27
OK, the cgroups not properly configured before restore is discussed in issue #16

[2015-09-16 14:57] #27 closed

[2015-09-17 01:33] huikang commented on #28
@eliams I use --exec-root to store checkpointed container images to a place other than /var/run/docker. Then I restart my machine and start docker daemon. The checkointed container can be restored without any fault.

My host OS is ubuntu 14.04

[code]

[2015-09-17 08:47] eliams commented on #28
@xemul Sorry, I did not realize for which issue the patch was. It effectively fix the disabled cgroups issue. Thanks !

The second issue (restarting the docker daemon before restoring worked only the first time. At the second time, the container was killed by the daemon at restart) was fixed in @boucher tree.

@huikang Using --exec-root  solved the problem of missing criu image.

The last issue no

[2015-09-17 08:50] xemul commented on #28
@eliams cool :) The issue with uninitialized cpuset.mems is  #16 . And this one is about the disabled memcg-s, so to keep things clear let me close it.

[2015-09-17 08:50] #28 closed

[2015-09-21 09:04] avagin opened #31 "linux-next: Error (fsnotify.c:486): fsnotify: Can't add watch for 0x3 with 0x1: Invalid argument"
[code]

[2015-09-21 09:43] avagin commented on #31
[code]

[2015-09-23 12:19] eliams opened #32 "Error (mount.c:1254): mnt: Can't restore tmpfs content"
Hi,
I am using experimental docker with C/R commands but failed to restore a container.

My environment:
Debian based with custom 4.0.0 kernel.
Docker version 1.9.0-dev, build 2919249, experimental
  (I am using aufs as storage driver)
CRIU Version: 1.7 GitID: v1.7-42-g9353051

Daemon logs: http://pastebin.com/vEhtpb97
Restore logs: http://pastebin.com/y5kjmEb1

I have another host (let's call it

[2015-09-23 12:35] xemul commented on #32
Can you check whether the fresh tree with 84cc1e12ac009b41395f1015202b1f90762abe06 fixes the issue?

[2015-09-23 13:10] eliams commented on #32
Yes it fixed the bug, restoring now work on host B (for a container created on host B). Thanks !

However my goal is to checkpoint a container on one host and restore it in the other by moving the image directory and using --force option to restore in another container.
So I created a container on host B but restoring failed on host A.
What I did:
Host B:
docker run -d busybox /bin/sh -c 'i=0; whi

[2015-09-23 13:16] xemul commented on #32
Yes, please, create new issue for the new problem.

[2015-09-23 13:16] #32 closed

[2015-09-23 13:31] eliams opened #33 "Restore container from another host fail."
Hi,

So I want to checkpoint a container on one host and restore it in another one by moving the image directory and using --force option to restore in another container.
So I created a container on host B but restoring failed on host A (checkpoint restore on same host work on both of them).
What I did:
Host B:
docker run -d busybox /bin/sh -c 'i=0; while true; do echo $i; i=$(expr $i + 1); sleep

[2015-09-23 13:50] xemul commented on #33
The /bin/sh mentioned there is container's file.

[2015-09-23 14:26] eliams commented on #33
So if I get it right the file /bin/sh does not have the same size on host A and B (The size was saved during checkpoint on host B and then when trying to restore to a new created container on host A it find a different size for that file) ? If this is true how it can be possible since both containers are from the same busybox image ?

I tried to run and checkpoint the container on host A and resto

[2015-09-23 15:09] xemul commented on #33
As far as the /bin/sh is concerned -- can you check manually the sizes of it in A and B?

As far as the 2nd error is concerned -- it's ERANGE, smth is written into cpuset.mems that is not a valid mask. What's in you cgroup.img file?

[2015-09-23 15:33] xemul opened #34 "Support bridges in net namespace"
Pulled from criu.org/Todo

[2015-09-23 15:33] xemul opened #35 "Support VLANs in net namespace"
Pulled from criu.org/Todo

[2015-09-23 15:34] xemul opened #36 "Support PPP sockets and devices"
Pulled from criu.org/Todo

[2015-09-23 15:36] xemul opened #37 "Shared memory deduplication"
Pulled from criu.org/Todo

We have dedup action and --auto-dedup option for dump/restore which only works for pid pagemaps. Need the same for shmem.

[2015-09-23 15:37] xemul opened #38 "Shared memory changes tracking"
The --track-mem option tracks changes in anon private vmas. We can do similar for anon shared memory by checking softdirty bits on individual tasks.

[2015-09-23 15:37] xemul opened #39 "Support file leases"
Pulled from criu.org/Todo

The F_SETLEASE/F_GETLEASE API is not currently supported, but doesn't differ much from regular locks.

[2015-09-23 15:38] xemul opened #40 "Support in-flight AIO requests"
Pulled from criu.org/Todo

When we dump AIO ring we check it not to contain events inside and abort the dump otherwise. Need to dump events too and put them back on restore.

[2015-09-23 15:39] xemul opened #41 "Dump tasks from arbitrary cgroup"
Pulled from criu.org/Todo

Currently criu dumps a subtree from given pid. It makes sense to request CRIU to dump a set of tasks from given cgroup.

This is partially done with the --freeze-cgroup option.

[2015-09-23 15:40] xemul opened #42 "Support ODF POSIX file locks"
Pulled from criu.org/Todo

 These are still rarely used, but exist. Might make sense to support them in advance, it looks like kernel API allows for that.

[2015-09-23 15:40] xemul opened #43 "C/R 32-bit tasks on x86_64"
For x86 we only dump and restore 64-bit tasks. Doing 32-bit should also be done, but keep in mind, that not only 64-bit tree OR 32-bit tree should be supported. There can be mixed 64-and-32-bit trees out there and CRIU should support those too.

[2015-09-23 15:40] xemul commented on #43
@cyrillos in Cc :)

[2015-09-23 15:42] xemul opened #44 "Validate image files"
CRIT sub-task. For a given set of image files check, that they are in "restorable" shape, i.e. contain valid data and no pieces are missing.

[2015-09-23 15:43] xemul opened #45 "Show what was left in the system after dump"
Pulled from criu.org/Todo

When we use --link-remap option or --tcp-established one CRIU leaves some traces in the system, in particular -- temporary hard links in the former case and iptables rules in the latter. Need some way to show these to the user.

[2015-09-23 15:44] xemul opened #46 "Restore tasks in stopped/frozen state"
Pulled from criu.org/Todo

This is to make --leave-stopped option work -- all tasks are SIGSTOP-ed after restore. And to leave freeze cgroup in frozen state after restore.

[2015-09-23 15:47] xemul opened #47 "Support undo semaphores (sysvipc)"
Pulled from criu.org/Todo

These are SysVIPC objects created with semctl() and SEM_UNDO flag. Shame on us, we don't even detect these are created. Fortunately they are not in active use. Need to do it -- dump and restore. Requires modifications from both sides — criu and kernel.

[2015-09-23 15:48] xemul opened #48 "Support fsnotify queues"
Pulled from criu.org/Todo

We dump fsnotify files, but when they contain events inside -- just ignore those. Need to fetch then and put back on restore. The difficulty here is that while dumping/restoring CRIU may touch files that are monitored and thus produce unwanted events into queue.

[2015-09-23 15:49] xemul opened #49 "Split zdtm/live/static/mountpoints test into sub-tests"
Pulled from criu.org/Todo

Currently this one is one big set of tests. Need more fine-grained set.

[2015-09-23 15:49] xemul opened #50 "Split zdtm/live/static/sockets00 test into sub-tests"

[2015-09-23 15:55] cyrillos commented on #43
Yes, we've compat mode (ie 32bit tasks running on x86-64 kernel) in my todo list. It will require kernel patching. Thanks for reminder ;)

[2015-09-24 08:12] eliams commented on #33
I was using a different version of the busybox image on both hosts. Using the same version fixed the first error, sorry for missong it.

Here's the cgroup.img file: https://github.com/eliams/tmp/raw/master/criu_image_01/cgroup.img
The all criu image directory is here: https://github.com/eliams/tmp/tree/master/criu_image_01

[2015-09-24 09:59] xemul commented on #33
{
                                    "name": "cpuset.cpus",
                                    "value": "0-7"
                                },

I guess your other box doesn't accept THAT many CPUs, right?

Well, yes. This is a live migration issue, I would say -- restoring an image on a host with different amount of resources would require some images modification.

You can try to workaround t

[2015-09-24 10:03] xemul opened #51 "Harden the service daemon"
The service daemon suffers from 2 CVEs -- it opens a random file as log and doesn't obey ptrace attach restrictions.

To fix this we decided to go this route:

1. criu service should no longer be root-default service. This implies removing systemd files, changing default path for socket and fixing library to spawn swrk by default.
2. criu with suid bit is not supported, criu should be run as user.

[2015-09-24 11:06] eliams commented on #33
You are right, I was doing the checkpoint on a machine with 8 cpu and restoring on a machine with 4.
Manually fixing the cpuset.cpus value worked.

Thanks !

[2015-09-24 12:46] xemul commented on #33
You're welcome!

[2015-09-24 15:46] xemul opened #52 "Support C/R of selinux-managed tasks"
Pulled from criu.org/Todo

Selinux imposes more restrictions on the stuff we typically do. We're currently able to c/r seccomp-ed tasks (in strict mode), apparmor-controlled ones and have seccomp-filter work in progress.

[2015-09-24 15:47] xemul opened #53 "Support FUSE mountpoints"
Pulled from criu.org/Todo

When dumping mountpoints we explicitly check the filesystem mounted. The thing is -- not all filesystems can be just ignored on dump. E.g. FUSE mount involves a user-space daemon that is responsible for the files tree contents. If we just kill one on dump we might not be able to restore it. Need to special-care one.

[2015-09-24 15:48] xemul opened #54 "Support conntracks when dumping netns-s"
Pulled from criu.org/Todo

 When a container uses conntracks inside, we cannot just dump and restore alive TCP connection. Otherwise on restore the resurrected packets will be blocked by connection tracker as they would not be recognized as established connection. Need to check whether connection tracking is ON, dump the needed conntrack info and put the tracker back.

[2015-09-24 15:49] xemul opened #55 "Fault injection for error paths testing"
Pulled from criu.org/Todo

Need some way to test error paths in CRIU. Right now we rely on the developers to write correct code :\ This is the most critical on dump.

[2015-09-24 15:54] xemul opened #56 "Restore unix sender address"
Pulled from criu.org/Todo

Currently we sometimes drop the socket address when restoring unix sockets. Thus restored queues have empty sender addresses. Restoring this would be tempting, especially for dgram sockets.

[2015-09-24 15:55] xemul opened #57 "Support zombies with threads"
Pulled from criu.org/Todo

If a multithreaded task has leader exited, then we treat this thing as zombie with threads and don't dump one.

[2015-09-24 15:57] xemul opened #58 "Library/API to access potentially stacked pagemap+pages"
Pulled from criu.org/Todo

The [memory dumps](http://criu.org/Memory_dumps) are quite sophisticated. It would be nice to have a library or API to access the data in them using some simple API. IOW -- API-ize the page_read.c

[2015-09-24 16:00] xemul opened #59 "Modify resources restore-time using CRIT daemon"
Sometimes it might make sense to tune the objects from images on restore. E.g. change the IP address of sockets from task above or fix file paths to be "chroot-ed". The best solution seems to be in launching CRIT in daemon mode, telling it what images and how to modify and teaching CRIU to "filter" the pb objects read from images through this daemon.

Pulled from criu.org/Todo

[2015-09-24 16:01] xemul opened #60 "Support NFS mountpoints"
NFS mount points from inside container cannot be easily restored. The thing is -- if we want to restore opened file we will go ahead and [call](http://criu.org/How_hard_is_it_to_open_a_file) the open system call. If the file in question resides on NFS, the latter might need to go to network to check whether the file actually exists and set up the handle. But if the networking is still not restored

[2015-09-28 07:17] avagin opened #61 "linux-next: tcp.c:111: can't connect to server Connection timed out (errno = 110 (Connection timed out))"
4.3.0-rc2-next-20150925
[code]

[2015-09-28 10:35] avagin commented on #61
It was broken in https://git.kernel.org/cgit/linux/kernel/git/next/linux-next.git/commit/?id=6ae459bdaaeebc632b16e54dcbabb490c6931d61

Actually the test fails without dump and restore too.

[2015-09-28 11:53] xemul opened #62 "Closed TCP socket with peer-name blocks dump"
https://lists.openvz.org/pipermail/criu/2015-September/022257.html

If we open a connection, then peer closes one and we shutdown-write it, the resulting socket will stay in fdtable with peer name, but in closed state. CRIU fails to dump one.

Test from @avagin : https://lists.openvz.org/pipermail/criu/2015-September/022291.html

[2015-09-28 18:07] eliams opened #63 "Cross compilation fail because pie/piegen/piegen can not be used on host machine"
Hi,
I'am trying to cross compile criu for an x86_64 system with a uclibc using buildroot and my host machine is an x86_64 with a glibc.
During build process the pie/piegen/piegen binary is compiled and then used. Since I'm using a cross compiler the pie/piegen/piegen binary is linked to the uclibc which make it unusable on the host machine and lead the build of criu to fail.
What is the pie/piegen

[2015-09-28 19:06] xemul commented on #18
Fixed with efa7dcf7c271e0ff7781541a5e1ef339e66cad7a

It was ... quite a lot of code moves...

[2015-09-28 19:06] #18 closed

[2015-09-28 19:07] xemul commented on #63
@cyrillos , please help us here too :)

[2015-09-28 19:11] cyrillos commented on #63
@xemul sure, will take a look, thanks

[2015-09-28 19:15] cyrillos commented on #63
@eliams piegen is a special tool we use to generate PIE code for own criu needs (in short).  More detailed here http://criu.org/Code_blobs

[2015-09-28 20:24] cyrillos commented on #63
@eliams Could you please run
make clean
make V=1
and post output here

[2015-09-28 20:24] cyrillos commented on #63
@eliams with all ARCH= and such flags I mean. I'm interested in V=1 make output

[2015-09-29 09:16] eliams commented on #63
Here is the output of make. http://pastebin.com/tkueBFpY.

Hi edited the makefile so piegen will be compiled using the host gcc:
[code]
It's not very clean but fixed the problem during  build. However I did not get the time to test if criu is working yet.

[2015-09-29 16:37] cyrillos commented on #63
@eliams Yes, thanks. We indeed need something like that for cross-compile. I'll prepare a patch and send it out.

[2015-10-02 16:41] boucher opened #64 "/dev/mqueue error restoring into new docker container."
I'm now getting this error when trying to use the latest rebase of docker c/r and restoring into a new container: No mapping for /dev/mqueue mountpoint

full restore log:
https://gist.github.com/boucher/125cdf03366d0d58a0a7

[2015-10-02 18:35] xemul commented on #64
This means that the mqueue filesystem is mounted from outside (it looks like it is) but it not given in --ext-mount-map (it looks like it's not either) and auto-detection of ext-mounts is not specified too.

[2015-10-03 06:27] #64 closed

[2015-10-04 08:12] krafczyk opened #65 "Save files that can be lost in the future (temp dir) into images"
When attempting to restore a vim session, which uses you complete me, I get the following messages:

[code]

My machine clears the /tmp directory on each boot.

If criu detects that a process is using files from a non-persistent source (Which criu should either be able to detect, or the user should be able to specify the non-persistent directories), it should be able to copy them and then restore

[2015-10-04 08:18] krafczyk opened #66 "When dumping a screen session, the unix socket it was using is left behind"
After dumping the screen session, if I use `screen -ls`, I get:

[code]

This socket should probably be removed.

[2015-10-04 08:29] krafczyk opened #67 "Provide pre-dump and pre-restore hooks for callers."
I'm not sure whether criu can do anything about this, but after restarting and before starting any additional screens, the /run/screen directory doesn't exist.

I don't know whether there's anything criu _should_ do about this, but maybe there is.

When I attemp to restore the screen, I get the following errors:

[code]

This issue can be worked around by using `screen -ls` before restoring the sc

[2015-10-04 08:33] krafczyk opened #68 "Ability to ignore file-size checks on restore"
After I've used `screen -ls` to create the /run/screen directory, I get the following set of errors when trying to restore my screen session.

[code]

Again, I'm not sure whether criu can do anything about this, but I'm hoping for an expert opinion here.

I should mention, that criu can infact be 'tricked' into skipping past this, by opening the same number of screen sessions that you had open whe

[2015-10-05 07:49] xemul commented on #66
I wouldn't say it's criu job to clean stuff up after the dumped processes. We have a post-dump hook (http://criu.org/Action_scripts) that you can use to do whatever actions are required after successful dump.

[2015-10-05 07:51] xemul commented on #67
Hm... I would say that criu should do "mkdir -p" on the whole path of unix socket, but it's arguable which perms and user are to be put on the created directories. Thoughts?

[2015-10-05 07:53] xemul commented on #68
This file, /run/utmp, what is it? And why does it have the wrong size at restore time? Does anybody else writing into it?

[2015-10-05 08:13] krafczyk commented on #66
So, just to be sure, there are situations where when a process using a unix socket is dumped, we *wouldn't* want to remove the unix socket.
Presumably because there might be other processes which we didn't dump that are still using the socket.

[2015-10-05 08:19] krafczyk commented on #67
I suppose that's possible, but you make a good point about the permissions.

I just checked, and `screen -ls` also creates the necessary directories, so perhaps a good idea is to have a 'pre-restore' hook like you mentioned in issue #66. That way it can be done the 'screen way' or however way the user sees as correct. Perhaps also a 'pre-dump' hook would be good as well, so that the user can ident

[2015-10-05 08:22] krafczyk commented on #68
I didn't know what it was either, so a google search turns up: https://en.wikipedia.org/wiki/Utmp

It seems that any login/logout can change utmp.

Is it possible to convince criu to ignore that /run/utmp has the wrong size?

[2015-10-05 09:22] xemul commented on #66
Well, actually I was thinking the other way. It's not criu's job to mess with what's-on-the-disk, since it's very app-specific.

[2015-10-05 09:23] xemul commented on #67
Yup. The pre-* hooks would be good, I'm renaming the issue then :) Not sure when we'll be able to get to this ourselves, but patches are always welcome.

[2015-10-05 09:26] xemul commented on #68
We don't have such an option in API, but you can edit the reg-files.img file with crit and remove the 'size' field. Not a nice way, since you have to decode, then encode the file back, but still allows to move forward w/o patching criu.

API changes are possible, I'm OK if someone sends a patch doing this :)

[2015-10-05 09:26] krafczyk commented on #66
Okay, that makes sense. I'll close this issue then, and try to go the hooks route.

[2015-10-05 09:26] #66 closed

[2015-10-05 09:28] krafczyk commented on #67
I'll take a look at how the hooks are implemented, and see much work it'll be.

If it's not too involved, I'll probably send you a patch.

[2015-10-05 09:28] xemul commented on #65
Hm. We save the contents of tmpfs mounts as tar archive when dump a mount namespace. We also save the contents of opened and unlinked (and mapped and unlinked) files on dump. Adding the possibility to save into image files, that can _potentially_ get lost in the future can be done, yes. But I don't see good automatic decision-maker, so an API option would be OK.

[2015-10-05 09:30] xemul commented on #67
Thanks :)

Please, note, that the development is running on the criu@openvz.org mailing list since the project start, so code contributions should come there, not as github pull requests.

[2015-10-05 09:32] krafczyk commented on #67
Okay, Thanks for letting me know.

On Mon, Oct 05, 2015 at 02:30:43AM -0700, Pavel Emelyanov wrote:

--
*****************
Matthew S. Krafczyk
Research Assistant
Massachusetts Institute of Technology
AMS-02 Collaboration,
Based at CERN, Geneva, Switzerland

[2015-10-05 10:10] xemul commented on #63
3ffad59e2ed24e79d52ab65e511b0c7c8c9d15e5

[2015-10-05 10:10] #63 closed

[2015-10-05 11:10] avagin opened #69 "Error (cr-restore.c:1225): BUG at cr-restore.c:1225"
https://ci.openvz.org/job/CRIU-x86_64/74/console

[code]

[2015-10-05 11:44] xemul commented on #69
Which test is it?

[2015-10-05 11:46] avagin commented on #69
It's for me. Don't worry.

[2015-10-05 11:47] avagin commented on #69
Cc: @tych0

[2015-10-05 11:56] avagin commented on #69
Subject: [PATCH] restore: block SIGCHILD for sub-processes

[2015-10-05 15:26] eliams opened #70 "Cannot use pivot_root for system running on ramfs"
Hi,

I am using docker experimental with native C/R:
criu: Version: 1.7 GitID: v1.7-45-g0516001
docker:version 1.9.0-dev, build 2919249, experimental

I am working on custom system created using buildroot and the restore part fail:
http://pastebin.com/ATV5xJ6B

This happen because my system is running on ram and pivot_root can not
be used for ramfs but as far as I understood the same thing can be

[2015-10-05 17:20] xemul commented on #69
fd8e58841a573786ce7b9455058c18443a97bcff

[2015-10-05 17:20] #69 closed

[2015-10-05 17:21] xemul commented on #70
Cc @avagin

[2015-10-06 12:30] b-studios opened #71 "Docker Checkpointing of Meteor App fails"
I try to checkpoint a docker container running a meteor sample application. The dockerfile can be found in [this gist](https://gist.github.com/b-studios/87985b7afd5225c2c4bf).

After building, I run the container with
[code]

Trying to checkpoint it with
[code]
results in a failed dump, see the [dump.log](https://gist.github.com/b-studios/c4cb6ebd51111eda877e).

I am running Ubuntu 15.04 with
[cod

[2015-10-06 12:36] b-studios commented on #71
Just figured that this might be a duplicate of #62.

[2015-10-06 16:30] boucher commented on #71
I'm not sure it's a duplicate; when I have seen that problem it produced a
different error in the logs.

On Tue, Oct 6, 2015 at 5:36 AM Jonathan <notifications@github.com> wrote:

[2015-10-06 16:31] boucher commented on #71
Jonathan, have you built my branch recently, or did you use the precompiled
release? If you have a chance, could you try whichever you haven't?

I just rebased my branch a few days ago and I believe there is at least one
issue I haven't tracked down yet that I'm hoping to get to today.

On Tue, Oct 6, 2015 at 9:30 AM Ross Boucher <rboucher@gmail.com> wrote:

[2015-10-06 16:33] b-studios commented on #71
I rebuild your branch just shortly before reporting this bug. With using a precompiled release you mean I should use the Docker experimental build?

[2015-10-06 16:38] boucher commented on #71
No, there's a precompiled docker binary on this page I'd like you to try:
https://github.com/boucher/docker/releases/tag/v1.9.0-experimental-cr.1

On Tue, Oct 6, 2015 at 9:33 AM Jonathan <notifications@github.com> wrote:

[2015-10-06 17:31] b-studios commented on #71
Thanks, I somehow missed this prebuilt version. However, after replacing docker and criu with the prebuilt ones I get a [different dump](https://gist.github.com/b-studios/3ca642f11fa7508ed1c2).

The error
[code]
confuses me, since the patched version of criu should have this option enabled.

[code]

[2015-10-06 17:37] boucher commented on #71
Hmm. That's unfortunate. I'll be looking into some things in the current branch today, if I get any idea what might be going wrong I'l update this thead.

[2015-10-07 11:39] xemul opened #72 "Pull TCP migration code into a library"
People ask to migrate only a TCP connection. It would be nice to have the sk-tcp.c code as a standalone library.

[2015-10-08 04:43] k-artem commented on #59
Also will be good if we'll have a possibility(using this idea) to change PID's  for a avoiding this problem http://criu.org/When_C/R_fails.

[2015-10-08 08:20] avagin commented on #59
It's already possible. It's maybe inconvenient, but it works.
[code]

[2015-10-08 10:26] xemul commented on #59
Changing pids is not possible, sorry guys. Glibc caches the result of getpid() call and uses it widely. If the _actual_ pid changes, then thing can get broken inside glibc with weird diagnostics.

[2015-10-12 07:43] xemul commented on #31
Fixed in the kernel.

[2015-10-12 07:43] xemul commented on #31
Fixed in the kernel.

[2015-10-12 08:07] avagin commented on #31
You are not able to restore processes which were dumped on old kernels, because inotify masks contains this extra bit.

[2015-10-12 08:09] xemul commented on #31
What's the kernel version(s) on which this bit is shown in /proc? My impression was that it was accidentally broken in some -rc and got fixed quite fast. Am I wrong?

[2015-10-12 08:14] avagin commented on #31
Yes, you are wrong. It has been shown that for a long time. It works,
because Inotify_add_watch didn't care about extra bits. Recently it started
to check a mask and we found this extra bit in fdinfo.

[2015-10-12 08:15] xemul commented on #31
I see.

[2015-10-12 13:30] avagin commented on #70
Do you ask about this line https://github.com/xemul/criu/blob/master/mount.c#L2254 ?

It's required for calling pivot_root frome a new user namespaces:
https://github.com/torvalds/linux/commit/5ff9d8a65ce80efb509ce4e8051394e9ed2cd942

[2015-10-13 13:22] xemul commented on #67
29c08d86722150d5c43171d4faa5889597565464

[2015-10-13 13:22] #67 closed

[2015-10-14 12:52] xemul commented on #31
61859d1176add254cc9afe0f90be2d773677a67b

[2015-10-14 12:52] #31 closed

[2015-10-15 12:05] xemul opened #73 "Support PF_PACKET SOCK_PACKET sockets"
Typically apps use SOCK_RAW of SOCK_DGRAM sockets of that type. Nonetheless, sometimes the SOCK_PACKET sockets appear, need to support those.

[2015-10-15 13:45] eliams commented on #70
@avagin Thanks for the answer !

To make the restoration to work, instead of calling  cr_pivot_root here (https://github.com/xemul/criu/blob/master/mount.c#L2853), I do:
[code]
However the mountpoint clones does no get removed like it does when using pivot_root and umounting the old_root afterwards.

What do you think of falling back to using ms_move (assuming unwanted cloned mountpoints get remov

[2015-10-15 19:00] klesgidis opened #74 "Docker - Cannot connect to restored MySQL container"
Hi guys, I C/R a MySQL container successfully but when I try to reconnect to it I get the following error

[code]

The 172.17.0.6 is the IP of the checkpointed container. This issue was discussed again in #22 but I cannot connect to the DB. Is it something that I missing?

P.S. With the same procedure I can connect to a tomcat container successfully.

[2015-10-16 14:47] xemul commented on #74
But the connection itself is established, isn't it? Can you check MySQL logs for errors?

[2015-10-16 18:53] klesgidis commented on #74
What do you mean if the connection is established itself? The logs after the startup of the container are
[code]
After the C/R I have
[code]
When I try to connect with the command
[code]
I get
[code]
but I cannot find any error in the logs. In addition, I tried to connect from the inside of the container but I get the same error.

[2015-10-19 09:04] xemul commented on #74
Ah, so you cannot even connect to the server, do you?

[2015-10-19 09:11] klesgidis commented on #74
No I can't.

[2015-10-19 09:12] xemul commented on #74
OK :) So the 113 error code is EHOSTUNREACH. Can you check the routing tables and lo device being OK?

[2015-10-19 09:19] klesgidis commented on #74
I can't right now, but I 'll check it later.

Actually, yesterday I also tested it with a new branch, with some network fixes and I now I cannot checkpoint the container, with the bellow log file.

https://gist.github.com/klesgidis/101e98280e5cbb4c4157

[2015-10-19 09:22] xemul commented on #74
The new branch fails for

   (00.066649) Error (bfd.c:131): bfd: Error flushing image: No space left on device

:) So it's not CRIU issue.

[2015-10-19 09:25] klesgidis commented on #74
Is this message accurate? This means that there is no space left on my device? I tested it to a VM with 20GB of space.. I 'll test it in my host and I 'll let you know.

Thanks anyway!

[2015-10-19 09:25] xemul commented on #74
Yes, this particular message is nothing but the error code ENOSPC reported from the write() system call.

[2015-10-19 12:18] efiop opened #75 "add support for pycriu/criu.py into zdtm.py"

[2015-10-19 20:25] rohitju opened #76 "Support Docker console"
I followed the instructions by @kimh here: http://blog.circleci.com/checkpoint-and-restore-docker-container-with-criu/ and am able to checkpoint a busybox container. Trying to checkpoint an Ubuntu 12.04 container however gives the error:

    Error response from daemon: Cannot checkpoint container hopeful_blackwell: criu
    failed: type NOTIFY errno 0
    Error: failed to checkpoint one or more c

[2015-10-19 21:24] rohitju commented on #76
I noticed that I was running the Ubuntu box with the -t option. Removing that fixed the issue. Is this expected?

[2015-10-20 07:27] xemul commented on #76
In the /var/run/docker (IIRC) there should be criu log for your container called dump.log. All criu-side errors are there.

As far as -t option is concerned -- what does it do?

[2015-10-20 07:45] klesgidis commented on #76
The -t option allocates a pseudo-tty.. As far as I remember there was a bug with the pseudo-tty but I can't remember if it is fixed.

[2015-10-20 07:48] klesgidis commented on #74
I tested it to my host OS and it worked! I succeed to C/R a MySQL container with keeping the network connectivity. In addition I C/R an apache container.

Thanks for the help.

[2015-10-20 07:48] #74 closed

[2015-10-20 08:06] xemul commented on #76
Ah, I see. Yes, there was some issue with ttys. Would you show the criu log please?

[2015-10-20 11:01] avagin commented on #70
@eliams I don't get the idea. moun("/", put_root, NULL, MS_MOVE, NULL) should fail, because it doesn't have a parent. pivot_root fails by the same reason.
https://github.com/torvalds/linux/blob/master/fs/namespace.c#L2265

[2015-10-20 18:48] huikang commented on #25
@xemul  My runC version is
[code]
Then runC checkpoint fails due to
[code]
Is this the same problem as @rajasec observed? Thanks.

[2015-10-20 18:50] tych0 commented on #25
On Tue, Oct 20, 2015 at 11:48:36AM -0700, huikang wrote:

Yes. I'm currently building what is (hopefully) the last version of
this patchset for the kernel, so it should go in soon.

[2015-10-20 18:56] huikang commented on #25
@tych0 When I remove the section of sec comp section in container's runtime.json, it seems bypass the problem. But the checkpoint still fails due to
[code]
@tych0 @avagin do you have any idea? Thanks.

[2015-10-20 19:28] rohitju commented on #76
The logs for CRIU are here: https://gist.github.com/rohitju/916ef0876de9a09b8954

[2015-10-20 20:16] avagin commented on #76
(00.009050) Error (mount.c:630): 157:./dev/console doesn't have a proper root mount

It's the known issue. We can't dump a container with an external terminal.

[2015-10-21 12:03] xemul commented on #76
Why not? Doesn't --ext-mount-map do the trick?

[2015-10-21 12:04] xemul commented on #25
The /dev/console issue is discussed in issue #76

[2015-10-21 13:01] xemul commented on #61
So, what do we do here?

[2015-10-21 13:04] avagin commented on #61
commit 31b33dfb0a144469dd805514c9e63f4993729a48
Author: Pravin B Shelar <pshelar@nicira.com>
Date:   Mon Sep 28 17:24:25 2015 -0700

    skbuff: Fix skb checksum partial check.

[2015-10-21 13:04] #61 closed

[2015-10-22 11:37] avagin commented on #76
@xemul We can restore this mount, we can't restore descriptors for this terminal.

[2015-10-22 12:03] xemul commented on #76
Is it something special to ttys? Or can't we restore descriptors for any external mountpoints?

[2015-10-22 17:57] rajasec commented on #76
I could try to some extent of dumping terminal.  I have added /dev/console in runc code, so that criu able to get the /dev/console mount point. Post that criu failed later as it could not identify mnt_id mentioned part of file descriptors.

[2015-10-22 18:02] rajasec commented on #25
@huikang
/dev/console issue from runc is tracked via
https://github.com/opencontainers/runc/issues/87

[2015-10-22 19:34] jcarnus opened #77 "Unresolved fsnotify path"
Hi
I try to checkpoint a lxc container. After a SECCOMP issue, I am facing another issue :

(00.174189) irmap: Scanning /no-such-path hint
(00.174192) irmap: Refresh stat for /no-such-path
(00.174208) Error (irmap.c:81): irmap: Can't stat /no-such-path: No such file or directory
(00.174213) Error (fsnotify.c:191): fsnotify:   Can't dump that handle
(00.174249) -------------------------------------

[2015-10-22 20:14] xemul commented on #77
Please, show full log. The message about /no-such-path is debugging one, dump cannot fail due to it.

[2015-10-22 20:15] xemul commented on #25
OK, but this issue is about seccomp :) Which is EINPROGRESS by @tych0

[2015-10-22 20:16] xemul commented on #76
@avagin , you seem to know a lot about this issue about ttys. Can you shed more light on it for us, please?

[2015-10-22 20:33] jcarnus commented on #77
Here the full log :
http://pastebin.com/raw.php?i=L8dN5EQc

[2015-10-23 10:13] aku163 opened #78 "Non inclusive sets of cgroups when dumping"
Hi all,

I got below failure with docker [docker-1.9.0-dev ](https://github.com/boucher/docker/releases/download/v1.9.0-experimental-cr.1/docker-1.9.0-dev).

```criu failed: type NOTIFY errno 0```
```Error: failed to checkpoint one or more containers```

Scenario:

* OS: CentOS Linux release 7.1.1503 (Core)
* Kernel: 3.18.4
* Docker: Docker version 1.9.0-dev, build 59c375a, experimental

Attached

[2015-10-23 10:18] avagin commented on #78
(00.123705) Error (sk-inet.c:158): Connected TCP socket, consider using tcp-established option.

[2015-10-23 10:25] aku163 commented on #78
@avagin : Thanks for pitching in. But I did not get `--tcp-established` in-built option with docker command.

`Usage:  docker checkpoint [OPTIONS] CONTAINER [CONTAINER...]`

`Checkpoint one or more running containers`

`  --allow-ext-unix=false    allow checkpointing external unix connections`
`  --allow-shell=false       allow checkpointing shell jobs`
`  --allow-tcp=false         allow checkpoin

[2015-10-23 10:28] avagin commented on #78
You need to set --allow-tcp

[2015-10-23 10:31] avagin commented on #76
I think CRIU finds a terminal, detects that it's a part of a tty pair and try to dump this pair, but we have only one end and a devpts mount point isn't here.

We need to add support of tty-s as Inheriting FDs.
https://criu.org/Inheriting_FDs_on_restore

Cc: @cyrillos

[2015-10-23 11:01] cyrillos commented on #76
@avagin Yeah, I've this in my todo list :)

[2015-10-23 11:25] aku163 commented on #78
Still no luck !!

I tried running below command to take dump

`docker checkpoint --allow-ext-unix=true --allow-shell=true --allow-tcp=true --image-dir=/opt/mule --work-dir=/opt/mule b8c437b15a6e6d66c8b1326d9673f3552fae0cd30100222b6e686829f354e152`

Complete log is [here](https://github.com/aku163/artefacts/blob/master/dump1.log).

Below is the error snippet.

`(02.829086) cg:  ``- Dumping 3 set (1

[2015-10-23 13:39] xemul commented on #77
OK, on the device 0x26 there's an inode 0x3adb which has unknown path and CRIU failed to find one. Would you scan your container for this inode and tell us what the path is?

[2015-10-23 13:41] xemul commented on #76
That's OK, but still "doesn't have proper root mount" message should be addressed with the --ext-mount-map.

[2015-10-23 13:44] xemul commented on #78
Would you show the cgroups layout for your Docker container?

[2015-10-23 13:45] jcarnus commented on #77
Euhh, yes if you explain me how to do this :)

[2015-10-23 13:47] xemul commented on #77
Try the simple way -- enter the container and do 'find / -inum 15067' then 'stat %filename' for every file reported.

[2015-10-23 13:59] jcarnus commented on #77
First :
find / -inum 15067
find: `/proc/1230/task/1230/fd/5': No such file or directory
find: `/proc/1230/task/1230/fdinfo/5': No such file or directory
find: `/proc/1230/fd/5': No such file or directory
find: `/proc/1230/fdinfo/5': No such file or directory
/usr/share/dbus-1/system-services
find: `/sys/fs/cgroup/systemd/lxc': No such file or directory
find: `/sys/fs/cgroup/memory/lxc/101/memory.p

[2015-10-23 14:00] jcarnus commented on #77
root@CT101:~# stat /usr/share/dbus-1/system-services
  File: '/usr/share/dbus-1/system-services'
  Size: 2               Blocks: 1          IO Block: 512    directory
Device: 26h/38d Inode: 15067       Links: 2
Access: (0755/drwxr-xr-x)  Uid: (    0/    root)   Gid: (    0/    root)
Access: 2015-10-23 13:59:41.899396954 +0000
Modify: 2015-05-27 22:12:21.000000000 +0000
Change: 2015-10-22 01:07:53.

[2015-10-23 14:00] jcarnus commented on #77
Is it enough ?

Thanks

[2015-10-23 14:20] xemul commented on #77
Yup, thanks. This is the '/usr/share/dbus1-/system-services' one. It was recently added with the commit 7f44f1dbf9935582a21e8b1f24a5b4396f2c3795. You can either pull one into your sources, or switch to criu head.

[2015-10-23 14:39] jcarnus commented on #77
Yes works now.
I close it.

[2015-10-23 14:39] #77 closed

[2015-10-23 14:50] jcarnus opened #79 "Extra tasks in freeze cgroup result in bad parasite management"
Hi
I tried to make a  "lx-checkpoint -n ...." or the "criu dump -t 8068" on a frozen container and the command rever return.

Here the logs

(00.000048) Probing sock diag modules
(00.000116) Done probing
(00.000123) ========================================
(00.000130) Dumping processes (pid: 8068)
(00.000132) ========================================
(00.000134) Running pre-dump scripts
(00.000187)

[2015-10-23 14:51] xemul commented on #79
Try using the --freeze-cgroup option. Does it help?

[2015-10-23 15:05] jcarnus commented on #79
Sory, using criu v1.7-177, there is no --freeze-cgroup option no ?

[2015-10-23 15:16] xemul commented on #79
What does -777 mean? :) The --freeze-cgroup appeared in 1.7

[2015-10-23 15:19] jcarnus commented on #79
root@debian:~# criu --version
Version: 1.7
GitID: v1.7-177-g628a488

And
/root/criu/criu dump -t 1259 --freeze-cgroups /sys/fs/cgroup/freezer/test
or
/root/criu/criu dump -t 1259 --freeze-cgroups
shows me the usage :)

[2015-10-23 15:30] xemul commented on #79
I didn't tell the option name was "--freeze-cgroupS", I told it was "--freeze-cgroup".

[2015-10-23 15:37] jcarnus commented on #79
Yes sorry fot that
Now
root@debian:~# /root/criu/criu dump -t 6837 --freeze-cgroup /sys/fs/cgroup/freezer/lxc/101 --enable-external-masters --ext-mount-map auto
Error (parasite-syscall.c:922): Task is in unexpected state: d7f
Error (cr-dump.c:1304): Can't cure (pid: 6837) from parasite
Error (cr-dump.c:1631): Dumping FAILED.

[2015-10-23 15:40] xemul commented on #79
Show full log please.

[2015-10-23 15:42] jcarnus commented on #79
Here we go : http://pastebin.com/C1JA13y2

[2015-10-23 16:18] xemul commented on #79
OK, so we're detaching from parasites and the root task gets:

   (00.098310) Error (parasite-syscall.c:922): Task is in unexpected state: d7f
   (00.098316) Error (cr-dump.c:1304): Can't cure (pid: 6837) from parasite

The state is stopped but stopsignal is SIGPIPE %)
Does it happen in 100% cases when you try to dump the container?

[2015-10-23 16:26] jcarnus commented on #79
I just tried 6 more time
So we are on 8/8 failed
Do you need more info to solve this ?

[2015-10-23 16:45] xemul commented on #79
diff --git a/arch/x86/crtools.c b/arch/x86/crtools.c
    index 1d50c07..0960f3c 100644
    --- a/arch/x86/crtools.c
    +++ b/arch/x86/crtools.c
    @@ -531,6 +531,7 @@ int sigreturn_prep_fpu_frame(struct rt_sigframe *sigframe, fpu_state_t *fpu_stat

     int ptrace_set_breakpoint(pid_t pid, void *addr)
     {
    +#if 0
     	int ret;

     	/* Set a breakpoint */
    @@ -556,10 +557,13 @@ int pt

[2015-10-23 17:05] jcarnus commented on #79
After path,
function is
int ptrace_set_breakpoint(pid_t pid, void *addr)
{
#if 0
        int ret;

        /* Set a breakpoint */
        if (ptrace(PTRACE_POKEUSER, pid,
                        offsetof(struct user, u_debugreg[DR_FIRSTADDR]),
                        addr)) {
                pr_perror("Unable to setup a breakpoint into %d", pid);
                return -1;
        }

        /* En

[2015-10-23 17:57] ilackarms opened #80 "After Docker restore, web app no longer replies to requests"
I create a simple python webserver:
[code]

After running, I can cURL on localhost:31120:
[code]

Then, after very simple checkpoint/restore, I can no longer access the ports from the container:
[code]

`docker ps` shows the container is running, with ports (supposedly) exposed:
[code]

Note that if I do a `docker stop $NAME && docker start $NAME` I can once again cURL the target port, and get the

[2015-10-23 18:59] ilackarms commented on #80
checked and verified that `docker pause foo && docker unpause foo` also works (container is still accessible).

[2015-10-23 20:57] avagin commented on #79
[code]

A wrong process was trapped (6769 instead of 5397). This process lives in a freezer cgroup, but it isn't in a container process tree.

[2015-10-23 21:09] ilackarms opened #81 "Docker: Checkpoint/Restore: No mapping for /mnt/mesos/sandbox mountpoint"
Running `docker checkpoint --image-dir=DIR`, `docker rm CID`, `docker create`, `docker restore --image-dir=DIR` on a container that was created by Mesos (in a Mesos slave). The container checkpoints, but does  not restore.

Log output:

`Error (mount.c:2385): No mapping for /mnt/mesos/sandbox mountpoint`

I am wondering what this error is caused by. I believe it has something to do with my `docker

[2015-10-23 21:11] avagin commented on #79
@jcarnus Could you try out this patch: https://github.com/avagin/criu/commit/585e7ba6d4bd62371a9791b5fe4d222359f5a60e

[2015-10-23 22:15] jcarnus commented on #79
Sorin,
Still failed
Log here : http://pastebin.com/mZ8GbYh8

[2015-10-23 22:19] jcarnus commented on #79
I cannot compile :
  PBCC     protobuf/google/protobuf/descriptor.pb-c.c
google/protobuf/descriptor.proto:1:1: Expected top-level statement (e.g. "message").
make[1]: *** No rule to make target 'protobuf/google/protobuf/descriptor.pb-c.c', needed by 'protobuf/google/protobuf/descriptor.pb-c.d'.  Stop.
make[1]: Leaving directory '/root/avh/criu2'
Makefile:210: recipe for target 'protobuf' failed
ma

[2015-10-24 11:45] jcarnus commented on #79
I managed to compile.
Failed but due to another error
Warn  (arch/x86/crtools.c:133): Will restore 5742 with interrupted system call
Warn  (arch/x86/crtools.c:133): Will restore 5816 with interrupted system call
Warn  (arch/x86/crtools.c:133): Will restore 5837 with interrupted system call
Warn  (fsnotify.c:306): fsnotify:               Detected FS_EVENT_ON_CHILD bit in mask (will be ignored on re

[2015-10-24 12:56] avagin commented on #79
It's the same problem in another place. I'm going to fix this issue on Monday. Thank you for the help.

[2015-10-24 20:31] ilackarms commented on #81
I have tried creating the directory /mnt/mesos/sandbox in the filesystem of the container that i `create`ed, but the error still persists.

Here are exactly the set of commands I am running:

**Create a docker container through Marathon (running on the docker host):**
[code]

**checkpoint the container that marathon created:**
[code]

**create a new container with the same image, restore into that

[2015-10-24 20:32] ilackarms commented on #81
i have tried creating the container with the folder `/mnt/mesos/sandbox` existing in its filesystem, but it still does not work

[2015-10-24 21:49] eliams commented on #70
I meant ``` mount(".", "/", NULL, MS_MOVE, NULL); ```, sorry for that.

[2015-10-25 09:45] aku163 commented on #78
Hi @xemul
If I am not wrong, Below is the information (inside container) which you are looking for.

/sys/fs/cgroup/
├── blkio
│   ├── blkio.io_merged
│   ├── blkio.io_merged_recursive
│   ├── blkio.io_queued
│   ├── blkio.io_queued_recursive
│   ├── blkio.io_service_bytes
│   ├── blkio.io_service_bytes_recursive
│   ├── blkio.io_serviced
│   ├── blkio.io_serviced_recursive
│   ├── blkio.io_servic

[2015-10-25 10:44] avagin commented on #78
[code]

[2015-10-25 11:06] avagin commented on #78
[code]

[2015-10-25 21:23] ilackarms commented on #81
problem waas caused by inconsistent filesystem between the original container and the target container for the restore. Fixed by creating a target container from a commit of the original container

[2015-10-25 21:23] #81 closed

[2015-10-26 05:39] aku163 commented on #78
There is always the case that dump fails when scenario is

1. start container with sshd daemon
2. start application process (either httpd, or mule)

But If I take checkpoint/restore only with sshd daemon running in container. I don't see the logs complaining about any kind of error.

Any clue, if this case can fall into a solution bucket?

[2015-10-26 08:22] xemul commented on #80
I'm not sure that Docker C/R API reconfigures the networking for container the right way. Asking @boucher for help.

[2015-10-26 08:24] xemul commented on #78
The 21308 is, presumably, the app process started on step 2, isn't it?

[2015-10-26 08:37] avagin commented on #78
Looks like a bug in docker exec:
[code]

[2015-10-26 09:12] aku163 commented on #78
@xemul : That's correct, 21308  started at step 2 which further spawns another child process 21310.

@avagin : To clear the doubt of exec, I tried starting services using nsenter but result is same. No Success.

[2015-10-26 09:23] xemul commented on #78
@aku163 , OK, then it's due to bug with entering the container -- task remains in the old set of cgroups. And doing this via nsenter is not expected to fix this ;)

[2015-10-26 11:01] aku163 commented on #78
Seeking help from @boucher.
Thanks.

[2015-10-26 11:06] xemul commented on #78
You can also join the fun at https://github.com/docker/docker/pull/13602 where we try to push the C/R API natively into Docker.

[2015-10-26 11:56] avagin commented on #70
In this case, I think it's ok. Could you send a patch into the criu mail list?

[2015-10-26 12:17] boucher commented on #80
Yes, it's a known issue that networking doesn't work after restore right now. However, you can try this branch: https://github.com/huikang/docker/tree/fix-restore-network-cr-combined-1006

[2015-10-26 17:44] eliams commented on #70
sure.

2015-10-26 12:56 GMT+01:00 Andrew Vagin <notifications@github.com>:

[2015-10-26 21:02] avagin opened #82 "Error (page-read.c:154): Can't read mapping page 0: No such file or directory"
[code]
dump.log: https://gist.github.com/avagin/edc1a7f749c47c6164b7
restore.log: https://gist.github.com/avagin/859e6c1562abc232089c

[2015-10-26 21:04] avagin commented on #82
[code]

[2015-10-26 21:31] avagin commented on #82
[code]

[2015-10-27 18:46] avagin commented on #79
@jcarnus Could you try out this patch https://lists.openvz.org/pipermail/criu/2015-October/023108.html?

[2015-10-27 18:51] avagin commented on #79
Here is the same patch https://github.com/avagin/criu/commit/5f34093e2fc151857b7f622b9843a3cef4d0072d

[2015-10-27 19:07] jcarnus commented on #79
Nop
The log http://pastebin.com/NxDbiQtg

Do i need to cumulate patch ?

[2015-10-27 20:04] avagin commented on #79
@jcarnus looks like you try to dump processes which are not in the specifies freezer cgroup.

waitpid returned -1 (errno = 10 (ECHLD))

Could you show output for "ps axf" "cat /sys/fs/cgroup/freezer/PATH_TO_CT_GROUP"?

[2015-10-27 21:41] jcarnus commented on #79
You have everythin here http://demo.ovh.eu/fr/e7ad9837192683ceeb3b4e05bf2f660b/

Command :
root@debian:~# lxc-start -n 101
root@debian:~/criu# lxc-freeze -n 101
root@debian:~/criu# lxc-info -n 101
Name:           101
State:          FROZEN
PID:            1755
IP:             192.168.0.120
CPU use:        1.17 seconds
BlkIO use:      20.57 MiB
Memory use:     13.96 MiB
KMem use:       0 bytes
Link

[2015-10-27 21:58] avagin commented on #79
I need a content of the "tasks" file for the freeze cgroup.

[2015-10-27 22:06] avagin commented on #79
Why do you have so many lxc-attach processes?

They live in the container's group.
[code]

[code]

[2015-10-27 22:41] jcarnus commented on #79
I rebooted the VM (Proxmox 4)
Started CT 101; froze it and info it to get the piD
Here the log
http://demo.ovh.eu/fr/214720d65b9c8973ff66313ad5d5d8f9/

Task file coming from /sys/fs/cgroup/freezer/lxc/101/tasks seems always empty
You have ps log before and after criu dump

[2015-10-28 05:50] avagin commented on #79
All container's processes should live in this group.

@tych0 Could you help us?

[2015-10-28 07:00] tych0 commented on #79
[Sorry for the delay, I wasn't subscribed to criu's github notices.
I think I've just subscribed, so hopefully I can chime in in the
future.]

On Tue, Oct 27, 2015 at 10:50:54PM -0700, Andrew Vagin wrote:

Hmm. I don't see it is empty, but I do see that only the container's
init task lives in the freezer cgroup which also seems incorrect.

What version of liblxc1 and lxc are you using? What is you

[2015-10-28 07:09] tych0 commented on #79
I am traveling right now so can't debug in detail, but hopefully there will be some resolution here:
https://lists.linuxcontainers.org/pipermail/lxc-devel/2015-October/012635.html

Otherwise I'll try and look further when I get home Friday.

[2015-10-28 07:59] avagin commented on #78
Cc: @lk4d4

[2015-10-28 08:41] avagin commented on #29
We can set the IP_FREEBIND option for ipv6 sockets.

[2015-10-28 13:35] jcarnus commented on #79
Ok so
Before starting the CT 101, I have no /sys/fs/cgroup/freezer/lxc/101 folder
But a /sys/fs/cgroup/freezer/taks contains a lofof iipds
Starting CT101 make /sys/fs/cgroup/freezer/lxc/101 appears
Inside tasks file contains like 20-25 pid (/sys/fs/cgroup/freezer/lxc/101/tasks)

With that, a criu dump never return
Here log for tasks file and criu.log
http://demo.ovh.eu/fr/26ecbb74bba8e42bb0c1b0320

[2015-10-28 21:55] LK4D4 commented on #78
For now I personally would recommend to use `--exec-opt native.cgroupdriver=cgroupfs` because systemd cgroups doesn't work as expected and behavior differ from version to version of systemd. We need to fix it, but I don't see good generic solution now.

[2015-10-29 02:38] tych0 commented on #79
On Wed, Oct 28, 2015 at 06:35:58AM -0700, jcarnus wrote:

Are you using the -s option to `lxc-checkpoint`? Looks like you're
not, which is probably not what you want.

[2015-10-29 05:09] aku163 commented on #78
I tried with this option with docekr daemon start. But still checkpoint fails with same reason

`(02.055377) Error (cgroup.c:758): cg: Set 3 is not subset of 2`
`(02.057942) Error (cr-dump.c:1631): Dumping FAILED.`

[2015-10-29 11:53] jcarnus commented on #79
I use a criu compiled with patch. I am not using lxc-checkpoint. M'y goal is to chexkpoint à frozen lxc ct

[2015-10-29 15:25] boucher commented on #78
Hi, sorry I just saw this thread. Unfortunately I don't have any suggestion, this isn't something I've seen before. Is there a reason you're spawning your second process with exec, and not just as part of your dockerfile/CMD?

[2015-10-29 15:50] LK4D4 commented on #78
Then could you post your `/proc/pid/cgroup` from both processes? They seem to be identical for me.

[2015-10-29 16:32] avagin commented on #79
I've fixed a few bugs in my patch. There is a new version: https://github.com/avagin/criu/commit/4999c10e139147bae74371ada9229e818a173b95

[2015-10-29 22:25] jcarnus commented on #79
Ok so now I am able to make a dump with success. I got CT stopped and a lot of *.img file.
If i tried a restore, I have the following error :
(00.006633) Error (mount.c:2393): mnt: No mapping for /sys/fs/cgroup/perf_event mountpoint

What does it mean ? Why I am able to dump if restore is not possible ?

[2015-10-30 06:46] aku163 commented on #78
@boucher : That is behaviour of the process that it spawns other process by itself, we just call it from exec.

We are managing all the processes from a shared-dir which is mounted to each of the containers and having multiple shell scripts responsible for respective containers.

There is a case that services of more than one containers are dependent only on one container till it gets up.

I tried

[2015-10-30 12:45] avagin commented on #79
Which commands do you use to dump and restore a container?
You can try to add --ext-mount-map auto to both commands.

[2015-10-30 12:47] jcarnus commented on #79
I use the lxc-checkpoint to dump and to restore
The code here https://github.com/lxc/lxc/blob/master/src/lxc/criu.c shows that flags --ext-mount-map its always added

[2015-10-30 12:55] avagin commented on #79
@tych0 we need your help again.

[2015-10-31 16:42] LK4D4 commented on #78
@aku163 hmm, it's same for me on docker master. Can you show `/proc/1/cgroup` from host?

[2015-10-31 17:20] tych0 commented on #79
On Fri, Oct 30, 2015 at 05:47:38AM -0700, jcarnus wrote:

Which is it?

If you're using lxc-checkpoint, which version of lxc is it? I think
you'll want 1.1.4 in order to have lxc-checkpoint pass --ext-mount-map
auto.

[2015-11-02 04:20] aku163 commented on #78
10:hugetlb:/
9:perf_event:/
8:blkio:/
7:net_cls:/
6:freezer:/
5:devices:/
4:memory:/
3:cpu,cpuacct:/
2:cpuset:/
1:name=systemd:/

[2015-11-02 07:00] aku163 commented on #78
Below were the scenarios which I tried again

1. container A is started with service S using Dockerfile -> Checkpoint was taken into directory D -> Restore was done from D to A [SUCCESS]
2. Assuming D does container the checkpoint image -> Started container B (from base image of container A) with no services running in it -> Restore failed when it was taken from D to B with below error.

[restore.

[2015-11-03 04:33] aku163 commented on #78
[Blog](http://blog.circleci.com/checkpoint-and-restore-docker-container-with-criu/) states similar scenario where the restore was happened on a new container. But there seems to be no process state which was taken while checkpoint hence no issues.

@avagin , @ldu4 , @boucher : Looking for your views, If my assumption is correct that we can restore to container from filesystem(as part of checkpoint

[2015-11-04 19:59] rohitju opened #83 "Support non-coinciding cg controllers on dump and restore sides"
I am trying to restore a Docker container using CRIU v1.6 and Docker v1.9 (built from https://github.com/huikang/docker/tree/fix-restore-network-cr-combined-1006).
Checkpoint command (on Ubuntu 14.04 AWS):

`/bundles/1.9.0-dev/binary/docker-1.9.0-dev checkpoint --image-dir=/home/ubuntu/checkpoints/v4/ sharp_kowalevski`

Restore command (on a different Ubuntu machine from the same image):
`./bundle

[2015-11-05 12:17] xemul commented on #83
Did you made dump and restore on the same host?
Cc @huikang and @boucher

[2015-11-05 13:30] rohitju commented on #83
Yes, dump and restore on the same host worked fine. Moving the image dir to a different host and attempting a restore failed with the above error.

[2015-11-05 13:48] xemul commented on #83
Can you show the contents of /proc/cgroups file on both nodes?

[2015-11-05 13:56] jcarnus commented on #79
Sorry for the delay
I now have a lxc 1.1.4.
But I wanted to make a criu dump command and I am facing the same king of issue to dump
Here the log file
http://pastebin.com/5LPysM8v

[2015-11-05 14:03] rohitju commented on #83
The /proc/cgroups for the machine where snapshot was created is:
[code]

The restore machine /proc/cgroups are here:
[code]

I see the extra net_cls on the snapshot machine which is not present on the restore machine so it would seem to be an environment problem. I assumed that creating both machines from the same image would avoid this problem. Would you happen to know why one machine had it and

[2015-11-05 17:02] tych0 commented on #79
On Thu, Nov 05, 2015 at 05:56:57AM -0800, jcarnus wrote:

This is a different issue, but right now you need to disable seccomp
in order to c/r successfully (although hopefully you won't by 1.8).
Put:

lxc.seccomp =

in your container's config file somewhere.

[2015-11-05 17:13] xemul commented on #83
The absence of the controller on the 2nd box is fully kernel issue, not the docker one -- you don't have it compiled in. This is something that CRIU could support, but it requires patching.

[2015-11-05 18:10] jcarnus commented on #79
Yes sorry, I forgot.
So able to checkpoint now
So  criu restore --ext-mount-map auto -o out1.log -vvvv failed with the following log
http://pastebin.com/N6aydhbJ

[2015-11-05 18:15] tych0 commented on #79
On Thu, Nov 05, 2015 at 10:10:57AM -0800, jcarnus wrote:

I highly recommend you just use lxc-checkpoint to restore as well.

Looks like your target host didn't have lxcfs?

[2015-11-05 18:21] jcarnus commented on #79
Yes ok. Here the restore.log coming from lxc-checkpoint -r

http://demo.ovh.eu/fr/ee10394ce573db1cd0205baa1ad7515f/

What do you mean by lxcfs ? LXC Container is stored on a ZFS volume

[2015-11-05 18:38] tych0 commented on #79
On Thu, Nov 05, 2015 at 10:21:59AM -0800, jcarnus wrote:

Ok, now you've got a different error:

(00.107946) Error (net.c:983): Can't add interface veth100i0 to bridge (null): No such device

Did you copy the container's config file over as well before restoring
it?

[2015-11-05 18:42] jcarnus commented on #79
I tryed on the same machine.
lxc-checkpount dump
lxc-stop
lxc-checkpoint restaure

[2015-11-05 18:51] tych0 commented on #79
On Thu, Nov 05, 2015 at 10:42:15AM -0800, jcarnus wrote:

Can you paste the container's config file?

[2015-11-05 19:02] jcarnus commented on #79
root@debian:~# cat /var/lib/lxc/100/config
lxc.arch = amd64
lxc.include = /usr/share/lxc/config/debian.common.conf
lxc.console = none
lxc.cgroup.devices.deny = c 5:1 rwm
lxc.tty = 0
lxc.environment = TERM=linux
lxc.utsname = pbx
lxc.cgroup.memory.limit_in_bytes = 536870912
lxc.cgroup.memory.memsw.limit_in_bytes = 1073741824
lxc.cgroup.cpu.cfs_period_us = 100000
lxc.cgroup.cpu.cfs_quota_us = 100000

[2015-11-05 19:06] tych0 commented on #79
On Thu, Nov 05, 2015 at 11:02:41AM -0800, jcarnus wrote:

Huh, that looks ok. Can you paste exactly the commands you're using to
dump and restore? Also, what version of liblxc are you on?

[2015-11-05 19:15] jcarnus commented on #79
The commands :
root@debian:~/ckt# lxc-start -n 100
root@debian:~/ckt# lxc-checkpoint -n 100 -D ./ -v
root@debian:~/ckt# lxc-stop -n 100
root@debian:~/ckt# lxc-checkpoint -r -n 100 -D ./ -v

Btw, it not possible to do a lxc-checkpoint on a freeze container. Never return....

root@debian:/usr# ldconfig  -v | grep liblxc
        liblxc.so.1 -> liblxc.so.1.1.4

[2015-11-06 19:42] tych0 commented on #79
On Thu, Nov 05, 2015 at 11:15:35AM -0800, jcarnus wrote:

Ok, I think I just realized what was going on. The restore code
just looks for a bridge in your config file, but doesn't use a default
bridge. Looks like in your config you don't have a bridge specified.
If you specify:

lxc.network.link = lxcbr0 # or whatever

you should be able to restore.

Huh, ok. I'll take a look.

[2015-11-06 19:58] jcarnus commented on #79
I don't use bridge.
Here /etc/network/interfaces.
auto lo
iface lo inet loopback
allow-hotplug eth0
iface eth0 inet dhcp
auto vmbr0
iface vmbr0 inet dhcp
        bridge_ports eth0
        bridge_stp off
        bridge_fd 0

If I add
lxc.network.link = vmbr0, I got a 545 network is not created for 'lxc.network.link' when lxc-start.

And network is fully functionnal inside lxc ct

[2015-11-06 20:00] tych0 commented on #79
Right, the current lxc-checkpoint requires you to have one, unfortunately. I've sent a patch to fix this just now:

https://lists.linuxcontainers.org/pipermail/lxc-devel/2015-November/012727.html

and we are planning to tag 1.1.5 on Monday, so this should be fixed soon.

[2015-11-06 20:02] jcarnus commented on #79
Ok, so for me, the restore issue if different than the dump issue of this original thread. Dump is now fine

[2015-11-09 09:29] xemul opened #84 "page-read engine reads one page at a time"
This is too slow, need to read (when possible) several pages from page.img in batch mode.

[2015-11-09 09:34] xemul opened #85 "dumping via page-server is up to 10 times slower that direct"
If taking a tree of many tasks and dumping them locally vs via page-server we can see up to 10x times difference. Example

 # test/bers -t 128
 # time criu dump -t $(cat test/bers/bers.pid) -D dump/ -o log -v4 --leave-running -j
 real	0m0.665s
 user	0m0.070s
 sys	0m0.401s
 # criu page-server -D dump/ -o ps.log -v4 -d --port 12345
 # time criu dump -$(cat test/bers/bers.pid) -D dump/ -o log -v4 --l

[2015-11-10 13:01] xemul commented on #85
a20ed3c6f00367c4b8a1c0d47fce1113566314d6

[2015-11-10 13:01] #85 closed

[2015-11-13 12:28] xemul commented on #51
Service is moved out of default start-up for root.

[2015-11-13 12:28] #51 closed

[2015-11-13 12:29] xemul commented on #84
780d69940127dc3f8418b83bc4b975b9719d59d9,
03b217c0a66bb18fb99df116e95b5de1d620bc7b and
7d72537dbd264e1f92687853d31914a1b11c9153

[2015-11-13 12:29] #84 closed

[2015-11-16 10:10] cyrillos opened #86 "No output for fdinfo on epoll with big number of entries"
When there is too many events assigned on the epoll descriptor (to be precise more than 78 entries) then fdinfo output is empty. This is due to nit in vanilla kernel, which should be fixed in commit https://git.kernel.org/cgit/linux/kernel/git/torvalds/linux.git/commit/?id=a3816ab0e8fe542a89a53b82506a8ddac063fbe

IOW, the issue should be fixed in 3.18 kernel. Need to test it via zdtm.

[2015-11-16 11:09] cyrillos commented on #86
OK, with new Fedora 23 (4.2.5) all works as expected. IOW, please use the kernel 3.18 or above for epolls with big numbers of assignments.

[2015-11-16 14:56] xemul commented on #86
OK, thank you.

[2015-11-16 14:56] #86 closed

[2015-11-19 14:18] xemul commented on #82
So? Does 7d72537dbd264e1f92687853d31914a1b11c9153 help?

[2015-11-20 11:33] avagin opened #87 "task_item is allocated in a wrong context"
[code]

[2015-11-20 11:41] avagin commented on #87
task_item objects can be allocated only from the initial criu process, because they are allocated in shared memory which are inherited by all processes.

I found that open_remap_dead_process() is execute in a context of the root task and it allocates task_item object.  If shmalloc() will create a new vma, this object will be inaccessible for the initial criu process and it will segfault.

Cc: @tyc

[2015-11-20 12:50] avagin commented on #82
I don't know how to reproduce this bug

[2015-11-20 13:47] #82 closed

[2015-11-20 15:01] tych0 commented on #87
On Fri, Nov 20, 2015 at 03:41:27AM -0800, Andrew Vagin wrote:

Seems like lots of other functions in root_prepare_shared() call
shmalloc too, prepare_shared_tty and prepare_shared_reg_files. Should
we move all of those calls to crtools_prepare_shared like:

https://github.com/tych0/criu/commit/f595805f414e1a74f5fe63aab2fcd57eb9ce0ee1

?

[2015-11-20 15:17] avagin commented on #87
@tych0 the initial criu process doesn't access other objects which are allocated by shmalloc(). The idea of shmalloc() is that all shared vma-s are inherited by child processes. So if you use smalloc() to allocate an object, you can access it only from the current process and from child processes.

[2015-11-20 16:29] tych0 commented on #87
Oh, right, the initial process only needs the pstree, not everything else like the tty info and whatnot. I think the above is slightly wrong, but I'll send one to the list shortly that is passing the tests.

[2015-11-23 08:52] xemul commented on #87
e6a3aef43e0c59c8663af4ba685a481d236eab35

[2015-11-23 08:52] #87 closed

[2015-11-25 22:01] Andrew-Machen opened #88 "lxc-checkpoint: Can't fstat lxcfs's cgroup file via fd"
(00.007652) Error (files.c:275): Can't stat fd 30: No such file or directory
(00.007660) Error (files.c:394): Can't get stat on 5: No such file or directory

The above error was the result of checkpointing an lxc container on Lubuntu 15.10 (as a VM), however I have posted this error here as it relates to the criu code base.

Full dump.log from lxc-checkpoint:

(00.000041) Probing sock diag modules

[2015-11-26 06:00] xemul commented on #88
Is this container still alive? Can you show the output of 'ls -l /proc/22481/fd'?

[2015-11-26 12:37] Andrew-Machen commented on #88
The process number is different, but the same error occurs on all containers I've tried.

root@EDGE:/tmp/checkpoint# ls -l /proc/21241/fd
total 0
lrwx------ 1 root root 64 Nov 26 12:34 0 -> /dev/null
lrwx------ 1 root root 64 Nov 26 12:34 1 -> /dev/null
lrwx------ 1 root root 64 Nov 26 12:33 10 -> socket:[38644]
lr-x------ 1 root root 64 Nov 26 12:34 16 -> anon_inode:inotify
lr-x------ 1 root root

[2015-11-26 13:03] xemul commented on #88
OK, so the fstat() fails on /sys/fs/cgroup/systemd/lxc/base with ENOENT. Can you also show the contents of /proc/$pid/mountinfo from and $pid inside this container? I suspect this is lxcfs mounted over there.

Also putting @tych0 in Cc.

[2015-11-26 13:22] Andrew-Machen commented on #88
139 123 0:38 /proc/diskstats /proc/diskstats rw,nosuid,nodev,relatime master:39 - fuse.lxcfs lxcfs rw,user_id=0,group_id=0,allow_other
140 123 0:38 /proc/meminfo /proc/meminfo rw,nosuid,nodev,relatime master:39 - fuse.lxcfs lxcfs rw,user_id=0,group_id=0,allow_other
141 123 0:38 /proc/stat /proc/stat rw,nosuid,nodev,relatime master:39 - fuse.lxcfs lxcfs rw,user_id=0,group_id=0,allow_other
142 123 0

[2015-11-26 13:31] xemul commented on #88
Yup, that's it:

150 136 0:38 /cgroup/name=systemd /sys/fs/cgroup/systemd rw,nosuid,nodev,relatime master:39 - fuse.lxcfs lxcfs rw,user_id=0,group_id=0,allow_other

CRIU fstat()-s the lxcfs file and it reports ENOENT (I suspect this is lxcfs daemon doing this as I haven't found any ENOENT-s in the kernel code).

@tych0 now we definitely need your help with it :)

[2015-11-27 01:27] tych0 commented on #88
On Thu, Nov 26, 2015 at 05:31:03AM -0800, Pavel Emelyanov wrote:

I have seen this before, but I've never been able to reproduce it
reliably. I suspect it's an LXCFS bug as Pavel suggests, but I haven't
been able to figure out what.

Do you have a reproducer?

Thanks,

Tycho

[2015-11-27 14:47] Andrew-Machen commented on #88
Hi Tycho,

I won't call myself lucky in this regard, but I have been troubleshooting this bug for a week in an effort to narrow it down, but I have reproduced this error without fail on all configurations of LXC and CRIU versions I have tested when installed on either Ubuntu/Lubuntu 15.04 or 15.10. This error has only appeared in the last week or two, so a newly created and updated linux system sh

[2015-11-27 14:51] Andrew-Machen commented on #88
Also, if there is any further testing you would like me to run, just let me know, and I will try and get the results to you as soon as possible.

[2015-11-27 16:44] alldaudinot opened #89 "Cannot checkpoint my docker container - criu failed: type NOTIFY errno 0"
hi everybody

i am trying to checkpoint my container (containing a webapp) but the process is failing.

i get the following messages:

Error response from daemon: Cannot checkpoint container web-app: criu
failed: type NOTIFY errno 0
log file:
/var/lib/docker/0.0/containers/c0c3927059ed6d0504fb01bbbbc1257fc052da6659cdd34d576e156dedae412e/criu.work/dump.log
Error: failed to checkpoint one or more co

[2015-11-27 16:50] xemul commented on #89
This is issue #62 . Quite nasty, yes, hopefully will have it fixed after 1.8 :)

[2015-11-27 16:50] #89 closed

[2015-11-28 03:07] moypray opened #90 "criu to checkpoint/restore simple loop in ARM64 arch?"
Hi, does criu support arm64 architecture yet? I am using latest master branch criu to c/r the application in arm64 machines (just the simple loop in "https://criu.org/Simple_loop").

criu dump succeed but restore failed:

using strace -f to trace it:
[pid 20362] mremap(0x7fb7ab0000, 1249280, 1249280, MREMAP_MAYMOVE|MREMAP_FIXED, 0x7fb7e89000) = 0x7fb7e89000
[pid 20362] write(1023, "pie: Remap 0x7f

[2015-11-28 08:36] moypray commented on #90
And more,  I use -v4 to get more logs:

pie:    mmap(0x7fb7e82000 -> 0x7fb7e89000, 0x1 0x11 3)
pie: vdso: Parsing at 0x7fb7ffd000 0x7fb7ffe000
pie: vdso: PT_LOAD p_vaddr: 0x0
pie: vdso: DT_HASH: 0x120
pie: vdso: DT_STRTAB: 0x1f8
pie: vdso: DT_SYMTAB: 0x150
pie: vdso: DT_STRSZ: 0x77
pie: vdso: DT_SYMENT: 0x18
pie: vdso: nbucket 0x3 nchain 0x7 bucket 0x7fb7ffd128 chain 0x7fb7ffd1>
pie: 34
(00.037127

[2015-11-30 08:30] xemul commented on #90
Well, we have a guy on the mailing list who plays with the arm port :) Unfortunately he doesn't have github account, so I cannot CC him here. I'll try to reach him over the e-mail.

[2015-11-30 08:54] moypray commented on #90
hi @xemul ,  thanks for your response. Does he work on ARM64 or ARM32?

and do you have his/her email?? Or I can send E-mail to criu mail-list will find him??

thanks again.

[2015-11-30 09:10] xemul commented on #90
It's Christopher Covington, you can find his e-mail either on the mailing list or in 871da9a111479a2b53071e60bfc3263458873867 commit (his one).

And he plays with both :)

[2015-11-30 09:12] xemul commented on #50
I.e. -- split zdtm/live/static/sockets00 test into sub-tests and check and rename all the other sock* tests to suit some pattern and cover clear cases.

[2015-11-30 15:53] tych0 commented on #88
On Fri, Nov 27, 2015 at 06:47:33AM -0800, Andrew Machen wrote:

What version of lxcfs are you running?

Sure, although I think this is a race, so its entirely possible I
won't be able to reproduce it reliably even with your VM :(

If I send you a patch applied to lxcfs, can you build that from source
and run it? Then we can at least figure out where it is sending ENOENT
from.

Tycho

[2015-12-01 01:25] moypray commented on #90
@xemul , thanks, and see your e-mail.

[2015-12-02 14:11] Andrew-Machen commented on #88
I am running LXCFS version:  0.10-0ubuntu2.1

Also I note that sometimes the error message I get refers to a different file descriptor:
Error (files.c:275): Can't stat fd 31: No such file or directory

No problem, send me the patch and I will have a go at building it.

[2015-12-03 15:24] xemul opened #92 "Ghost device files cannot be restored in user namespace"
The mknod() system call is protected with global CAP_MKNOD, thus ghost device restoration fails.

[2015-12-04 15:58] xemul commented on #34
Empty bridges are done with 8a95be06798b5a4a1321d40244d9989ee14eea9c

[2015-12-04 23:07] tych0 commented on #88
Hi Andrew,

Sorry for the delay. Can you try building the branch here: https://github.com/tych0/lxcfs/tree/enoent-debugging

and running that lxcfs? I think the procedure should be something like:

[code]

There should (hopefully :) be a printf on stderr there with a hint as to what's giving you the ENOENT.

[2015-12-04 23:44] tych0 commented on #88
Oh, @hallyn brings up another point. Can you try with a more recent lxcfs? There were some major changes in 0.12, so it's worth updating to see if that fixes it. (My branch is based on something >= 0.13, so if you can reproduce with that, it's still a bug.)

[2015-12-06 04:41] droiing commented on #88
I also encountered the same problem. I try it with tych0's branch (https://github.com/tych0/lxcfs/tree/enoent-debugging), but the problem remains.

My environment:
------------------
Host: ubuntu 15.10
lxc: 1.1.5-0ubuntu0.15.10.3
lxd: 0.20-0ubuntu4.1
lxcfs: 0.10-0ubuntu2.1 and  tych0's branch(https://github.com/tych0/lxcfs/tree/enoent-debugging)

lxd profile:
------------------
[code]

lxd contain

[2015-12-06 05:15] tych0 commented on #88
On Sat, Dec 05, 2015 at 08:41:15PM -0800, droiing wrote:

Right, my branch just adds some debugging output for lxcfs. Can you
post that as well?

Thanks,

Tycho

[2015-12-06 06:34] droiing commented on #88
steps
---
I stop lxcfs, and run the debugging lxcfs:
[code]

then, start the container and migrate it in another terminal:
[code]

output
---
start the container: lxcfs output:
[code]

migrate container: no output
[code]

stop the container: lxcfs output:
[code]

[2015-12-07 14:32] Andrew-Machen commented on #88
Hi tych0,

Looks like @droiing has had more success than myself. I have tested lexcfs version 0.12, which unfortunately still has the issue. However, I have not been able to test the anoint-dubugging branch as I get an error trying to  run ./configure, and cannot use make. I believe the error I get is:

./configure: line 12347: syntax error near unexpected token `FUSE,'
./configure: line 12347: `P

[2015-12-07 14:50] tych0 commented on #88
On Mon, Dec 07, 2015 at 06:32:39AM -0800, Andrew Machen wrote:

Seems like you're missing pkg-config and possibly some other
dependencies? Try `sudo apt-get build-dep lxcfs` and see if that
helps.

[2015-12-07 16:02] Andrew-Machen commented on #88
Unlike @droiing, I'm using LXC directly as opposed to via LXD. Let me know if you require a different approach.

*** Booting enoent-debugging LXCFS ***
edge@EDGE:~/GitHub/lxcfs$ sudo ./lxcfs /var/lib/lxcfs 2> ~/lxcfs.log
hierarchies: 1: name=systemd
 2: freezer
 3: hugetlb
 4: perf_event
 5: cpuset
 6: net_cls,net_prio
 7: blkio
 8: devices
 9: cpu,cpuacct
 10: memory
getting attr for /.Trash
gett

[2015-12-07 16:13] tych0 commented on #88
On Mon, Dec 07, 2015 at 08:02:44AM -0800, Andrew Machen wrote:

Here I guess 3266 is the pid of the criu process?

[2015-12-07 16:18] Andrew-Machen commented on #88
I believe so, as repeated checkpoint commands give different 4-digit numbers each time.

[2015-12-07 16:31] tych0 commented on #88
On Mon, Dec 07, 2015 at 08:18:57AM -0800, Andrew Machen wrote:

Awesome, thanks. I think I see the problem. If you do:

echo $$ | sudo tee /sys/fs/cgroup/systemd/tasks

and then try the checkpoint, does it work? If so, I can send a patch
to liblxc, although I'm not quite sure exactly what the right fix is
yet.

[2015-12-07 16:43] Andrew-Machen commented on #88
Unfortunately, that does't seem to change anything.

[2015-12-07 17:00] tych0 commented on #88
On Mon, Dec 07, 2015 at 08:43:38AM -0800, Andrew Machen wrote:

Damn, ok. I just pushed another debugging commit to that lxcfs branch,
can you run with that and post the lxcfs output?

Thanks, and sorry for the runaround.

Tycho

[2015-12-07 17:06] Andrew-Machen commented on #88
The new output is:

getting attr for /cgroup/name=systemd/lxc/base
contrl: name=systemd, cg: lxc/base, task_cg:
caller cannot see dir /cgroup/name=systemd/lxc/base (2938 name=systemd lxc/base)
getattr for /cgroup/name=systemd/lxc/base: -2

[2015-12-07 17:14] tych0 commented on #88
On Mon, Dec 07, 2015 at 09:06:52AM -0800, Andrew Machen wrote:

Heh, looks like you hit a lxcfs bug too :(. I just pushed a fix for
that. Can you try now? /me crosses fingers

[2015-12-07 17:21] Andrew-Machen commented on #88
That did the trick. I can now checkpoint/restore containers.

On another issue, where would be a good place to post a bug related to having to restart the lxc-net service on each reboot?

[2015-12-07 17:47] tych0 commented on #88
On Mon, Dec 07, 2015 at 09:21:54AM -0800, Andrew Machen wrote:

Cool, I'll send that patch to lxcfs soon, and also work out a liblxc
patch and report back when it's done. Thanks for testing!

I think probably filing it at github.com/lxc/lxc is the best bet, you
can file an ubuntu bug as well if you want (http://pad.lv/p/lxc) but I
think github.com/lxc/lxc is the right place.

[2015-12-07 18:20] jcarnus commented on #79
I just test with lxc 1.1.5 and restore seems ok now.
Thanks a lot

[2015-12-07 19:31] Andrew-Machen commented on #88
No problem, thanks for the support.

[2015-12-07 21:20] xemul commented on #88
Great :) Presumably we no longer consider this issue as CRIU bug and can close one, don't we?

[2015-12-07 21:33] tych0 commented on #88
Yep, feel free to close this.

[2015-12-08 08:31] droiing commented on #88
Hi tych0:
I try again use https://github.com/tych0/lxcfs/tree/enoent-debugging branch, but it failed.
I'm sure the lxcfs.c file has this chang:
[code]

Then, I use this lxcfs to try migrate:
[code]

Start container : lxc start test01
I get many output, like this:
[code]

Then,  migrate container: lxc move host01:test01 host02:test11
I get many output, like this:
[code]
lxd log file "/var/log/lxd/t

[2015-12-08 10:38] xemul commented on #88
Thanks!

[2015-12-08 10:38] #88 closed

[2015-12-08 13:17] xemul commented on #79
I'll keep this open for a while till we fix "extra tasks in freeze cgroup" issue in CRIU. ( @avagin )

[2015-12-08 15:13] tych0 commented on #88
On Tue, Dec 08, 2015 at 12:31:20AM -0800, LinXuan Jiang wrote:

Can you paste the whole file? Which version of CRIU are you using? You
might need to build one with f10de707a248ce242a5a2098365f2ff8a4bfe115.

Tycho

[2015-12-08 23:20] tych0 commented on #88
Hi Andrew,

I've posted a small patchset for liblxc to take care of this, you can follow the discussion here if you want:

https://lists.linuxcontainers.org/pipermail/lxc-devel/2015-December/013015.html

Also, the lxcfs patch is in, so a trunk build of that should work. Hopefully we'll get an upload to xenial soon, although I'm not sure whether or not it will be SRU'd to other releases just yet.

[2015-12-09 01:43] droiing commented on #88
@tych0
My environment:
---
Host: ubuntu 15.10
criu: 1.7.2-1
lxc: 1.1.5-0ubuntu0.15.10.3
lxd: 0.20-0ubuntu4.1
lxcfs: https://github.com/tych0/lxcfs/tree/enoent-debugging(commit: 49dc57672ba7cf85131375f51c456aff110e6277, date: Mon Dec 7 10:13:23 2015 -0700)

Log file:
lxcfs-debug.log.txt:

/var/log/lxd/test01/migration_XX:

/var/log/lxd/test01/lxc.log:

[2015-12-10 02:26] droiing commented on #88
I try again with lastest criu, but failed.
I'm sure this version has you patch (commit: f10de707a248ce242a5a2098365f2ff8a4bfe115).
The same errors in live migration.

step:
---

[code]

log file:
---
[code]

[2015-12-10 04:27] tych0 commented on #88
Hmm, an empty error is strange. I don't see a code path that can do that.

Can you show the output of `ps auxf` and `cat /proc/4541/status`?

[2015-12-10 05:57] droiing commented on #88
In the new experiment, the pid is 5855.

In lxcfs log file, I get the pid:
[code]

The process trees:
[code]

The 5855 process status:
[code]

[2015-12-14 12:56] xemul commented on #79
Fix is here 391efc9d7ef4ba7020f1705db7834a7a998d40aa

[2015-12-14 12:56] #79 closed

[2015-12-16 09:27] x1022as opened #93 "External fsroot mount doesn't work as external"
Hi, all. I was trying to dump and restore docker containers with volumes mounted, and came across some problems with nfs and block device. here is the description:

criu version:
[code]
distribution:
[code]

here is my mount info:
[code]

I tried to run container with following command:
[code]
replace ${HOST_PATH} with /home, /home/test, /mnt/nfs, /mnt/nfs/test, /mnt/devmap and /mnt/devmap/test. t

[2015-12-16 09:31] xemul commented on #93
If this is about docker volume, then it's likely to be fixed by --ext-mount-map. Cc @boucher

[2015-12-16 09:39] x1022as commented on #93
/home works fine and /home/test failed. So, maybe not a "--ext-mount-map" problem?

[2015-12-16 12:10] xemul commented on #93
Ah, I see. The volume is mounted inside container with its root dir. Yes, this is an issue inside CRIU. OK, will take a look at this.

[2015-12-16 15:18] xemul commented on #46
8b04551c48b5e35d0f7ade05a7873c148cb784cd

[2015-12-16 15:18] #46 closed

[2015-12-16 15:19] xemul commented on #20
8b04551c48b5e35d0f7ade05a7873c148cb784cd

[2015-12-16 15:19] #20 closed

[2015-12-21 08:00] avagin commented on #65
I don't think that we need to add this option in CRIU. An user can save/restore this files from pre-dump and post-restore actions scripts.

[2015-12-23 04:42] avagin opened #94 "task not stopped after seize"
CRIU-x86_64-dedup - Build # 422 - Failure:

Check console output at https://ci.openvz.org/job/CRIU-x86_64-dedup/422/ to view the results.

===================== Run zdtm/live/static/stopped02 in h ======================
Start test
./stopped02 --pidfile=stopped02.pid --outfile=stopped02.out
Run criu pre-dump
Run criu pre-dump
Run criu dump
=[log]=> dump/zdtm/live/static/stopped02/72/3/dump.log
----

[2015-12-23 13:01] avagin commented on #94
To: @cyrillos

[2015-12-23 13:04] cyrillos commented on #94
@avagin Isn't it related to the ptrace issue you've fixed (trapping bit)? I need to access the testing machine, how can I do that?

[2015-12-24 05:01] k-artem opened #95 "Trash in most significant bytes after sys_getresgid(which calls in dump_creds) on armv7 platform"
###### Description:
In static int dump_creds(...) function  sys_getresgid set up only 16 least significant bits and most significant bits don't change and contain trash. By this reason image is invalid (creds part) and restoring process is failed (in may_restore->check_gids).
###### Hotfix is:
initialize parasite_dump_creds.gids to 0 value
###### Possible reason:
using of  getresgid16 for fill thi

[2015-12-24 09:51] xemul commented on #95
Cc @cyrillos

[2015-12-24 10:10] cyrillos commented on #95
Wow, thanks!

[2015-12-24 11:11] avagin opened #97 "(20.112917) Error (cr-restore.c:1324): 72 killed by signal 11"
https://ci.openvz.org/job/CRIU-freezer/25/console

================== Run zdtm/live/transition/thread-bomb in h ===================
Start test
./thread-bomb --pidfile=thread-bomb.pid --outfile=thread-bomb.out
12:06:13.080:    71: 1024
Run criu dump
Run criu restore
=[log]=> dump/zdtm/live/transition/thread-bomb/72/1/restore.log
------------------------ grep Error ------------------------
(20.11291

[2015-12-24 11:18] cyrillos commented on #97
@avagin suspect it might be related to creds changes
Tried to start it locally

[cyrill@uranus criu] sudo test/zdtm.py run -t zdtm/live/transition/thread-bomb
=== Run 1/1 ================

================== Run zdtm/live/transition/thread-bomb in h ===================
Start test
./thread-bomb --pidfile=thread-bomb.pid --outfile=thread-bomb.out
14:16:53.566:    71: 5
Run criu dump
=[log]=> dump/zd

[2015-12-24 11:22] cyrillos commented on #97
no, its not because of creds, still wonder why it fails on my local run

[2015-12-24 12:09] avagin commented on #97
@cyrillos Here is a correct command to reproduce this issue
[code]

[2015-12-24 12:28] xemul commented on #93
@x1022as , would you check whether this patch helps: https://lists.openvz.org/pipermail/criu/2015-December/024627.html ?

[2015-12-24 15:40] cyrillos commented on #97
72    mremap(0x7f0a9125f000, 647168, 655360, MREMAP_MAYMOVE) = 0x7f0a911bf000 <0.000013>
72    --- SIGSEGV {si_signo=SIGSEGV, si_code=SEGV_MAPERR, si_addr=0x7f0a912fcf98} ---
72    +++ killed by SIGSEGV (core dumped) +++
...
Will take a look.

[2015-12-24 16:14] avagin commented on #97
[code]

[2015-12-24 16:42] cyrillos commented on #97
Heh, have no clue what the heck is it :) Just kidding. Thanks, I'll investigate.

[2015-12-24 21:14] avagin opened #98 "Error (pie/restorer.c:706): Can't create timers, kernel don't giv>"
[code]

To: @cyrillos

[2015-12-25 01:39] x1022as commented on #93
@xemul Great! That patch works for nfs and block device root dir!

[2015-12-25 08:25] xemul commented on #93
@x1022as thanks :) If you could go and acknowledge the patch on the mailing list that would be just great. But anyway, I'll commit the patch and close the issue within several days.

[2015-12-25 09:31] xemul commented on #97
4a0351d76ec47d8dcee16ff6cf3069bf1b183fc9

[2015-12-25 09:31] #97 closed

[2015-12-25 10:22] CrystalQian opened #99 "criu dump/restore a LXC container, but "criu restore" failed"
Hi, what I what to do is:
1.checkpoint and restore a LXC container on the same host.
2.checkpoint a LXC container on one host and restore it on another host.(live migration)
3.criu pre-dump -> criu dump -> scp -> criu restore(Iterative migration)
But, I got stuck in the 1st step when execute "criu restore" command. The particular procedures are in the following:

ISO file of VＭ is:   ubuntu-15.04-

[2015-12-25 11:02] xemul commented on #99
Cc @tych0

BTW, if you want to live migrate a container you're welcome to join the P.Haul efforts (https://github.com/xemul/p.haul).

[2015-12-28 10:13] xemul commented on #98
20592acef76300e1a6c5fd6d5bcb766c8daa08ed

[2015-12-28 10:13] #98 closed

[2015-12-28 10:13] xemul commented on #93
ea68c33fff2b1f4bebd5efb6893661e9c9c5ee60

Thanks!

[2015-12-28 10:13] #93 closed

[2015-12-28 11:50] avagin opened #100 "CRIU-3.11: Error (cr-restore.c:333): Unable to map ANON_VMA: Cannot allocate memory"
https://ci.openvz.org/job/CRIU-3.11/35/

==================== Run zdtm/live/transition/maps007 in h =====================
Start test
Test is SUID
./maps007 --pidfile=maps007.pid --outfile=maps007.out
Run criu dump
Run criu restore
=[log]=> dump/zdtm/live/transition/maps007/72/1/restore.log
------------------------ grep Error ------------------------
(00.000232) Error (proc_parse.c:824): Write 4294

[2015-12-28 15:12] avagin commented on #100
A test vm has only 512Mb of RAM.

[2015-12-28 15:12] #100 closed

[2015-12-29 00:12] tych0 commented on #99
On Fri, Dec 25, 2015 at 02:22:46AM -0800, BecauseofLxcCheckpoint wrote:

What kernel versions are on each host?

[2015-12-29 00:57] BecauseofLxcCheckpoint commented on #99
3.19.0-15-generic

[2015-12-29 01:02] BecauseofLxcCheckpoint commented on #99
@tych0  I have mentioned Kernel version in the issue, but it is strange missing some symbols, here it is:
Kernel:  3.19.0-15-generic
CRIU: Version: 1.8
LXC: Version 1.1.0

[2015-12-29 01:02] tych0 commented on #99
Hmm. But the target host doesn't have perf_event mounted it seems. Can you
mount it and try again?
On Dec 28, 2015 5:57 PM, "BecauseofLxcCheckpoint" <notifications@github.com>
wrote:

[2015-12-29 01:09] BecauseofLxcCheckpoint commented on #99
I dump and restore on the same host in this issue. And , can you tell me how to mount perf_event? @tych0

[2015-12-29 15:40] tych0 commented on #99
On Mon, Dec 28, 2015 at 05:10:11PM -0800, BecauseofLxcCheckpoint wrote:

[Sorry for the delay, I'm on holiday]

Can you post the output of `crit show mountpoints-$somenumber.img` for
whatever nsid your mountpoints are? Also, what's the full dump log
with debugging enabled?

Thanks!

[2015-12-30 03:23] BecauseofLxcCheckpoint commented on #99
Oops~! I am sad to see that the criu show is depercated and even no command 'crit' found~!
Since I have installed the CRIU, why no command 'crit' found? So I find the install crit command in Makefile, 'python scripts/crit-setup.py install --root=$(DESTDIR) --prefix=$(PREFIX)', and execute 'python scripts/crit-setup.py install' without --root and --perfix to install crit, and it works, it is strang

[2015-12-30 08:55] avagin opened #101 "CRIU-user fails on new kernels"
===================== Run zdtm/live/static/file_fown in h ======================
Start test
./file_fown --pidfile=file_fown.pid --outfile=file_fown.out
Run criu dump
=[log]=> dump/zdtm/live/static/file_fown/84/1/dump.log
------------------------ grep Error ------------------------
(00.000678) Error (cr-dump.c:1578): Dumping FAILED.
------------------------ ERROR OVER ------------------------
#####

[2016-01-04 09:15] federeghe opened #102 "CRIU fails to restore with ssh sessions - /dev/ptmx"
As I previously posted in mailing list, I found this problem trying to checkpoint the `orted` daemon of open mpi. Now I found a simpler test code: http://pastebin.com/Np7Akqjg

Steps to reproduce the problem:

- open a ssh session on the target host
- `criu dump -j -t 2222 -D directory`
- open another ssh session on the target host (do not close the previous session!)
- `criu restore -j -D directo

[2016-01-06 14:04] tych0 commented on #99
On Tue, Dec 29, 2015 at 07:23:38PM -0800, BecauseofLxcCheckpoint wrote:

Right, you can use `crit show` as I described above, though. Can you
show the mountpoints-* images?

Can you do a checkpoint/restore with -v?

Thanks and sorry for the delay, I am back now.

Tycho

[2016-01-07 10:33] BecauseofLxcCheckpoint commented on #99
haha, I have mistoken 'crit show' for 'criu show', here it is~!
root@lxcsrc2:~/log# crit show mountpoints-11.img
{
    "magic": "MNTS",
    "entries": [
        {
            "fstype": 5,
            "mnt_id": 297,
            "root_dev": 65,
            "parent_mnt_id": 294,
            "flags": "0x20000e",
            "root": "/",
            "mountpoint": "/run/user",
            "source": "non

[2016-01-07 15:11] washraf opened #103 "Check point a process inside a container"
I am using this to checkpoint a process inside a docker container:
      docker exec source criu dump -t 8568 --images-dir /criu --shell-job

##The Result is:

Warn  (ptrace.c:81): Unable to interrupt task: 8568 (Operation not permitted)
Error (ptrace.c:53): Unable to detach from 8568: No such process
Error (cr-dump.c:1578): Dumping FAILED.

I am sure the process is correct and its id is too.

[2016-01-07 15:26] tycho commented on #99
You mean @tych0. ;)

Common mistake.

[2016-01-08 00:38] crosbymichael opened #104 "C/R with fifo as container's STDIO"
I'm having trouble checkpointing and restoring containers when the container's STDIO is made of fifo's instead of regular pipes.  Is this supported or do I have to include extra information in the checkpoint command?

I'm on criu 1.5.2

Some logs of the error:

[code]

[2016-01-08 01:36] crosbymichael commented on #104
Here is some more information after switching to criu 1.8

[code]

[2016-01-12 00:49] crosbymichael commented on #104
@avagin do you have any ideas of why I'm hitting issues with fifos?

[2016-01-12 05:15] xemul commented on #104
@crosbymichael , sorry for the delay in response :) We've had long holidays here.

So, regarding the issue. The thing is that fifo sits on a mount point that is invisible from inside the container, so when dumping one criu tries to find this mount in container and fails.

Can you show with which options you launch criu?

[2016-01-12 05:16] xemul commented on #103
You start criu in restricted environment -- kernel doesn't allow even to ptrace-attach to the process. Can you check this by trying to strace the process in the same manner?

[2016-01-12 05:17] xemul commented on #102
In your restore command you use different -D directory. Is it a misprint?

[2016-01-12 06:24] federeghe commented on #102
Yes sorry, it's a misprint, corrected.

[2016-01-12 09:40] cyrillos commented on #102
When we can't open ptmx with specified index in most cases it means that the pts we're about to use is already used by someone else. Look, if you're migrating some application at least devpts filesystem should be mounted with newinstance option. Mind to show "lsof | grep pts/" on both nodes with program running on the source node?

[2016-01-12 09:41] xemul commented on #102
@cyrillos , note, that the -j option is in the game. The tty should be inherited from current session, shouldn't it?

[2016-01-12 09:48] cyrillos commented on #102
@xemul yes, but there is a _master_ peer opened, masters are never inherited with -j option, only salves are. To inherit master peer from somewhere else one need to pass --inherit-fd @avagin has been developed (not sure if these commits are included into current repo).

[2016-01-12 09:50] cyrillos commented on #102
@xemul Note the testcase @federeghe provided -- he opens new fresh pair of pty devices, one points to /dev/ptmx (which is maser) another to /dev/ptsX (which is slave). And on new machine, where we're migrating to, we try to open this pair again, but someone else already borrowed the indices needed.

[2016-01-12 10:01] xemul commented on #102
Ah, in simple words -- there's a tty indices conflict?

[2016-01-12 10:02] cyrillos commented on #102
@xemul yes, someone else already took this pair on the destination node. For containers we always run them new own devpts, thus on restore new devpts mounted and pairs are restored there.

[2016-01-12 10:06] xemul commented on #102
@federeghe , I guess this is not the only conflict you would meet. Another one would be pid conflict, when the process you'll try to restore will have its PID busy by some other task. Is it possible to run your apps in namespaces, so that we could fix these IDs conflicts?

[2016-01-12 10:18] federeghe commented on #102
Yes, we have already unshared the PID namespace. Have we to remount the devpts?

(Note that this conflict happens not exclusively during migration, but also in the same machine if f.i. we open a new ssh session)

[2016-01-12 10:22] cyrillos commented on #102
Yes, new devpts it preferred.

[2016-01-13 18:17] crosbymichael commented on #104
@xemul this is the flags that we are passing to criu

[code]

[2016-01-13 18:43] xemul commented on #104
OK, I see. So the external tty-s should be handled with the respective options. For pipes only for restore, for ttys and fifos @avagin is currently in process of implementing it. He will provide the exact options once things get merged.

[2016-01-15 10:47] Stokel opened #105 "Error when restoring from chroot."
When trying to restore a checkpoint in a chroot environment I get the following error:
Error (mount.c:368): mnt: No root found for mountpoint 185 (@./proc)

[restore.txt](https://github.com/xemul/criu/files/91715/restore.txt)

[2016-01-15 14:10] xemul commented on #105
Cc @avagin . The problem is that /proc/pid/mountinfo doesn't show the root mount entry in this case.

[2016-01-18 18:15] avagin opened #107 "CRIU-x86_64-pre-dump hangs up"
https://ci.openvz.org/job/CRIU-x86_64-pre-dump/1486/console

[code]

[2016-01-18 18:17] avagin commented on #107
[code]

[2016-01-25 09:29] xemul commented on #102
OK, so since this is not really CRIU but, but a configuration problem, I'm closing the issue.

[2016-01-25 09:29] #102 closed

[2016-01-25 09:31] xemul commented on #55
The fault injection engine and most interesting stuff is there, will extend.

[2016-01-25 09:31] #55 closed

[2016-01-25 09:31] xemul opened #108 "Restore tree into unshared context"
https://lists.openvz.org/pipermail/criu/2015-December/023995.html

[2016-01-25 11:14] federeghe commented on #102
Yes, sorry, I haven't had the chance to test it yet, if the problem won't resolve I'll reopen the bug.

[2016-01-27 07:21] avagin commented on #107
This bug is reproduced on the 4.3 kernel. I've never seen it on 4.2. Looks like breakpoints don't work sometimes.

[code]

[2016-01-27 23:38] avagin commented on #107
[code]

[code]

There is no difference between these lines, but 30557 hasn't stopped on the breakpoint.

[code]

[2016-01-27 23:38] avagin commented on #107
Cc: @cyrillos

[2016-01-28 06:45] avagin commented on #107
I created a small reproducer:
https://gist.github.com/avagin/6369abdbe722f3446c7a

[code]

[2016-01-28 06:52] avagin commented on #107
I can reproduce this bug only in VM (kvm).

[2016-01-28 06:54] cyrillos commented on #107
@avagin Gimme some time, just been woken up. Will take a look during a day :)

[2016-01-28 06:55] avagin commented on #107
It's reproduced faster if ptrace_breakpoint is executed in the host side too.

[2016-01-28 06:56] cyrillos commented on #107
Thanks for info!

[2016-01-28 07:11] federeghe commented on #102
@xemul @cyrillos

It seems that remount /dev/pts has no effects, it re-creates the same previous /dev/pts/*, even if it is in _unshared_ context. This means that if f.i. /dev/pts/0 is owned by another shell then criu cannot restore a process that uses /dev/pts/0.

[2016-01-28 07:19] x1022as opened #109 "add join-namespace flag to criu restore?"
For now criu restore will inherit parent's Namespaces.  Is it possible to add a new restore flag like --join-namespace for user to specify which namespace to join, like:
```criu restore --join-namespace /proc/xxx/ns/net ... ...```

maybe restore process will call setns() syscall to achieve this(not familiar with criu, so not sure about this)

I think this feature will be flexible and useful : )

T

[2016-01-28 07:33] cyrillos commented on #107
So the test looks correct to me. I would rather report the issue into LKML, 'cause there is definitely a problem.

[2016-01-28 07:48] cyrillos commented on #102
@federeghe Look, the logic used in CRIU is pretty simple -- when it obtain pty reference it look up for mount information too, that said if there some ref to mount point laying outside of application scope we might fail on restore. The option here  might be to use --inherit-fd for terminals but I fear it wont be the only problem you face. Why don't run properly created container via lxc, docker, v

[2016-01-28 08:02] federeghe commented on #102
Yes, our goal is to implement a "migration" of Open MPI processes, minimizing the impact on Open MPI infrastructure. I think that implements containers will cause other problems and performance degradation.
Yes, our goal is to implement a "migration" of Open MPI processes, minimizing the impact on Open MPI infrastructure. I think that implements containers will cause other problems and performance

[2016-01-28 08:16] cyrillos commented on #102
I see. So then we need to find a way. Letme think, I guess we might try out migration with inherited fd. I'll back to this issue today evening and ping you, ok?

[2016-01-28 23:40] avagin commented on #107
https://www.marc.info/?l=linux-kernel&m=145396991626191&w=4

[2016-01-30 11:29] cyrillos commented on #102
Oh, @federeghe I'm sorry for my absence :( Been so busy. Hopefully I'll back in Monday and we continue working on the issue, ok?

[2016-01-30 14:24] xemul commented on #109
@x1022as yup, this is possible :) Would you be able to propose a patch for that? It would be really helpful, I'd really like to get this till the next release, but the time is tight and I need to plan for what to code first.

[2016-01-30 14:41] xemul commented on #102
@federeghe , to get the truly _new_ devpts instance, you should mount it with -o newinstance option :)

[2016-01-30 15:08] cyrillos commented on #102
Yes, it should be done on destination node. But I guess @federeghe is looking for minimal environment/container which would work for him. So that both devtmpfs and devpts should be mounted properly and /dev/ptmx would point to /dev/pts/ptmx as a symlink.

[2016-01-30 15:13] federeghe commented on #102
Argh! I forgot the newinstance option! I'll retry this evening and I'll let you know :) (Should I remount also devtmpfs?)

[2016-01-30 15:21] cyrillos commented on #102
I hope not. Just make sure (if plain newinstance option won't help), that /dev/ptmx points to /dev/pts/ptmx

[2016-01-30 20:54] federeghe commented on #102
Ok, /dev/pts is now clean (it contains only the /dev/pts/ptmx), however:

(00.025951)   5505: tty: open driver ptmx id 0xa index 1 (master 1 sid 0 pgrp 0 inherit 0)
(00.026024)   5505: tty: 		ptmx opened with index 0
(00.026065)   5505: tty: 		ptmx opened with index 1
(00.026070)   5505: tty: ptmx opened with index 1
(00.026173)   5505: Error (files-reg.c:1273): Can't open file dev/pts/1 on restor

[2016-01-30 21:00] cyrillos commented on #102
:-) Looks that devpts is still not mounted with newinstance flag. @federeghe let me explain a bit how this done from inside: there is two points on devpts filesystem -- /dev/ptmx and /dev/pts/$N. Every time you open pty pair (by literally open(/dev/ptmx)) the kernel creates appropriate slave peer in /dev/pts/. Say you open(ptmx) for first time -- the kernel creates master and slave peers with inde

[2016-01-30 21:02] cyrillos commented on #102
mount -t devpts -o newinstance lxcpts /dev/pts
mount -o bind /dev/pts/ptmx /dev/ptmx

[2016-01-30 21:02] cyrillos commented on #102
This example from https://lwn.net/Articles/297311/

[2016-01-30 21:03] cyrillos commented on #102
So if mounted as above every time we open /dev/ptmx -- we open pty devices from the _new_ devpts we've just mounted and criu should be happy.

[2016-01-30 21:17] federeghe commented on #102
Ok, I tried with bash commands and it works :+1: thus, there are some problems with my C code, I'm checking it

[2016-01-30 21:36] federeghe commented on #102
I fixed the mount options and now it works! Thank you guys @cyrillos @xemul !

If someone needs the C code, see here: http://pastebin.com/8SWUVNKM

[2016-01-30 22:24] cyrillos commented on #102
@federeghe Great! Have fun! :-)

[2016-01-31 14:10] xemul commented on #102
@federeghe you're always welcome!

[2016-02-01 01:40] x1022as commented on #109
Hi Pavel,

I am a newbie to criu. But I'd like to have a try.
I don't know when is the next release? will make a plan as soon as possible.

any update will be informed here :)

Thanks

- Deng Guangxing

在 2016/1/30 22:24, Pavel Emelyanov 写道:

[2016-02-01 13:27] xemul commented on #109
@x1022as , the next release is Mar 7, but don't hurry too much. After this date the release schedule will be modified to release new features as soon as possible.

[2016-02-02 01:42] x1022as commented on #109
Thanks Pavel, I'll try to find out a proper way to achieve this. A plan will go first

在 2016/2/1 21:27, Pavel Emelyanov 写道:

[2016-02-05 18:48] avagin commented on #107
The bug is in the kvm code.

[2016-02-05 18:48] #107 closed

[2016-02-05 18:49] avagin opened #110 "CID 157797 (#1 of 1): Explicit null dereferenced (FORWARD_NULL)"
[code]

To: @tych0

[2016-02-05 19:21] tych0 commented on #110
On Fri, Feb 05, 2016 at 10:49:50AM -0800, Andrew Vagin wrote:

I think this is actually a false positive; there's no way for it to
take the false branch here when rendered is still set to NULL
according to the implementation of render_lsm_profile.

That said, I think I see a way to fix it so coverity won't complain,
so I'll send that patch.

[2016-02-05 20:43] avagin commented on #110
This is possible. I decided to show it to you, because it looks suspicious for me too.

I found that val will be NULL, if profile is "unconfined". Now I've found that we don't write "unconfined" in images.

[2016-02-07 08:14] xemul commented on #90
@moypray , I've slightly lost the track of the ARM stuff happening out there. There have been some fixes for it, so do we consider this issue to be fixed already?

[2016-02-07 08:15] xemul commented on #94
Guys, what do we do about this issue?

[2016-02-07 08:15] #101 closed

[2016-02-07 08:46] cyrillos commented on #94
Nothing. There is a bug in KVM kernel code. We can't do anything until it fixed.

[2016-02-07 09:24] #94 closed

[2016-02-08 08:43] #54 closed

[2016-02-08 10:53] xemul commented on #29
73a739b8d372444186fd25089a34a7fada7e0b94

[2016-02-08 10:53] #29 closed

[2016-02-08 18:26] #110 closed

[2016-02-08 21:36] avagin opened #111 "pie: Error (pie/restorer.c:375): sys_seccomp() returned -22"
https://ci.openvz.org/job/CRIU-ppc64le/1077/console

static/seccomp_filter hangs up on powerpc.

I found that sys_seccomp() returns EINVAL.

[code]

[code]

[code]

Cc: @tych0

[2016-02-08 22:12] tych0 commented on #111
Hmm, thanks. Must be some strange PPC thing I guess. I'll try and dig some ppc hardware up here and see if I can figure out what's going on.

[2016-02-10 13:37] #111 closed

[2016-02-11 14:19] tobwiens opened #112 "Help Wanted: Error (ptrace.c:64): suspending seccomp failed: Invalid argument"
Hello,

I got some problems with Docker and CRIU.

I get the following error:
[code]

dump.log
[code]

The CRIU version is 1.8

Here is what I did
Ubuntu 14.04.3
- Made the docker experimental binary
- Execute the binary inside the docker build container docker-dev:cr-combined. When executing docker checkpoint [Container-ID] it get the above error.

- I also installed criu on the host machine
- Ra

[2016-02-11 14:27] xemul commented on #112
Let's resolve one problem per issue :) The original one is

    (00.006014) Error (ptrace.c:64): suspending seccomp failed: Invalid argument

this means, that seccomp support is not present in the kernel, you can check this by running

    criu check

would you?

[2016-02-11 14:30] tobwiens commented on #112
Thank you. I agree, I thought it might be connected.

[code]

[2016-02-12 08:09] tobwiens commented on #112
Thank you very much, I found the solution. :+1:
add --security-opt seccomp:unconfined to the docker run command.

That way seccomp is deactivated for that specific container and CRIU is able to dump it to disk.

[2016-02-12 08:10] #112 closed

[2016-02-18 02:37] zlcherish opened #113 "Error CRIU restore because pid not matched"
Now I 'm trying to dump and restore on the different hosts.Occasionally,when i restore a process with criu, get the error in restore log:
    pie: Error (pie/restorer.c:407): Thread pid mismatch 31/30
    pie: Error (pie/restorer.c:454): Restorer abnormal termination for 16>
Any help? Thank you.

[2016-02-18 04:04] avagin commented on #113
You can try to restore processes in a new pid namespace.
https://criu.org/When_C/R_fails

[2016-02-18 07:29] zlcherish commented on #113
Can you tell me the detailes of how to restore processes in a new pid namespace? Use the "unshare -p --fork" command? It does not work on my host. I get the error:
unshare: invalid option -- 'p'
Because '-p' is not a valid option. Why? My docker containers running on ubuntu 14.04. And the valid options:
Options:
 -h, --help           usage information (this)
 -m, --mount       unshare mounts names

[2016-02-18 07:31] zlcherish commented on #113
Can you tell me the detailes of how to restore processes in a new pid namespace? Use the "unshare -p --fork" command? It does not work on my host. I get the error:
unshare: invalid option -- 'p'
Because '-p' is not a valid option. Why? My docker containers running on ubuntu 14.04. And the valid options:
Options:
-h, --help usage information (this)
-m, --mount unshare mounts namespace
-u, --uts uns

[2016-02-18 12:41] xemul commented on #113
@zlcherish , the unshare tool you have it too old.
As another option, you might be interested in this patchset: https://lists.openvz.org/pipermail/criu/2015-December/023995.html

It would unshare the restored stuff into the namespacecs you want. It's not yet merged, but will be some day. There are some issues with it, feel free to join the discussion on the mailing list.

[2016-02-18 14:47] Andrew-Machen opened #114 "make install failure"
I am trying to build criu from source, found in this git repository. I have followed the instruction on criu.org, and successfully ran 'make'. However, 'sudo make install' gives me the following error:

...
running install_scripts
changing mode of local/bin/crit to 755
running install_egg_info
Removing local/lib/python2.7/dist-packages/crit-0.0.1.egg-info
Writing local/lib/python2.7/dist-packages/

[2016-02-18 17:55] xemul commented on #114
Cc @cyrillos . Presumably this is what you're currently working on.

[2016-02-18 18:18] cyrillos commented on #114
Already sent a patch. [PATCH] build: Bring install back to life

[2016-02-18 23:22] avagin opened #115 "*** CID 158204: Memory - illegal accesses (UNINIT)"
[code]
Cc: @tych0

[2016-02-19 04:20] zlcherish commented on #113
@xemul About what time it will be merged? I need it now.
And now,if I restore a process twice,I will be successful. I don't know why,but it is extremely useful.

[2016-02-19 10:00] xemul commented on #113
@zlcherish , there are three issues with this set that are still not resolved

1. user namespace is not supported for unshare
2. dump of what was restored into --unshare context won't work
3. no tests for this mode

If this suits you, I think I can merge the existing patch-set right after 2.0 release.

[2016-02-19 11:33] #114 closed

[2016-02-19 11:34] xemul commented on #95
@cyrillos is this still valid?

[2016-02-19 11:34] xemul commented on #90
Presumably fixed. Feel free to re-open if smth is still bad with aarch64.

[2016-02-19 11:34] #90 closed

[2016-02-19 11:38] cyrillos commented on #95
Seems so. I need to revisit.

[2016-02-19 19:10] cyrillos commented on #95
[PATCH] criu: pie -- Zap parasite_dump_creds::gids

I think we rather should cleanup the memory area with some new builtin-memset helper. I put fixme into the code.

[2016-02-20 10:50] #95 closed

[2016-02-20 10:50] #115 closed

[2016-02-20 12:45] xemul commented on #113
Duplicate for #108

[2016-02-20 12:45] #113 closed

[2016-02-24 09:21] KKoukiou opened #116 "Path for prev images dir should always be relative"
Hi,
i am trying to do incremental dumps to checkpoint an lxc container and then restore it on another host . The pre-dump and dump parts, all  finish successfully but the restore phase fails with the following error:
"(00.243143)   2014: Error (page-read.c:75): No parent for snapshot pagemap"
That only happens when the "pages_skipped_parent" value in the crit-decoded stats-dump file is not zero. O

[2016-02-24 13:16] xemul commented on #116
How do directories with dumps look like? In the 2nd one there should be a "parent" link pointing to the 1st one.

[2016-02-24 13:19] ayourtch opened #117 "git criu does not compile on the daily Ubuntu server Xenial (16.04)"
Trying to compile cry on a fresh install of Xenial ubuntu-server daily build. Using the base install (from iso downloaded off http://cdimage.ubuntu.com/ubuntu-server/daily/current/) with ssh server enabled,
and the following additional command for the rest of the packages:

sudo apt install build-essential libprotobuf-dev libprotobuf-c0-dev protobuf-c-compiler protobuf-compiler python-protobuf aut

[2016-02-24 14:40] ayourtch commented on #117
criu-1.8 release fails to compile with the same messages, so it must be something specific to the Xenial environment, possibly a bug or behaviour change somewhere.

[2016-02-24 14:56] tych0 commented on #117
Huh, something must have changed in xenial, I'm using older gccs from xenial just fine, but you're right that a xenial-daily image breaks compiles. I'll take a look.

[2016-02-24 18:52] KKoukiou commented on #116
I have different directories for each dump iteration. In each checkpoint directory apart from the first iteration's, there is a "parent" symbolic link pointing to the previous checkpoint directory like this  :
~#  file /var/lib/lxc/trusty11/checkpoint/2/parent
/var/lib/lxc/trusty11/checkpoint/2/parent: symbolic link to /var/lib/lxc/trusty11/checkpoint/1/

[2016-02-24 19:33] cyrillos commented on #117
@ayourtch Could you please run make V=1 and show the output?

[2016-02-24 21:02] tych0 commented on #117
[code]

[2016-02-24 21:10] cyrillos commented on #117
Weird, a number of CFLAGS get ripped off :(

[2016-02-25 16:54] avagin opened #118 "cg: Failed closing cpuset//newroot/cpuset.cpu_exclusive: Invalid argument"
------------------------ grep Error ------------------------
(00.024384) Error (cgroup.c:1201): cg: Failed closing cpuset//newroot/cpuset.cpu_exclusive: Invalid argument
(00.032961) Error (cr-restore.c:1304): 38 killed by signal 9
(00.033120) Error (cr-restore.c:2130): Restoring FAILED.
------------------------ ERROR OVER ------------------------
################ Test zdtm/static/cgroup02 FAIL at

[2016-02-25 20:50] MiRacLe-RPZ opened #119 "Fails to build with glibc-2.23"
make V=1

from git-master (same result with release 1.8)

[2016-02-25 22:14] avagin commented on #119
@MiRacLe-RPZ, could you try out this patch?
[code]

[2016-02-26 08:08] MiRacLe-RPZ commented on #119
@avagin, yes this patch fix issue

[2016-02-26 11:45] #119 closed

[2016-02-26 11:47] #117 closed

[2016-02-26 11:55] xemul commented on #116
OK, so the log says that:

which means that the pagemap's parent is not found.

What's there in /var/lib/lxc/trusty11/checkpoint/1 and /var/lib/lxc/trusty11/checkpoint/2 directories? Can you show the ls -l output on both?

[2016-02-26 16:48] KKoukiou commented on #116
I have overwritten the previous directories, so I send information about a new one iterative dump, with exact the same error on restore.
There are 2 directories , one for the pre-dump phase and one for the final dump.
I attach the logs and the decoded images for pagemap-1.img as before ,and the show the output of ls -la for the two dirs.
The error now is :
(00.801229)      1: Opened page read 1 (p

[2016-02-26 17:56] xemul commented on #116
Strange. The parent images are not openable for some reason.The criu/page-read.c's code in open_page_read_at() calls try_open_parent() which opens "parent" link (which is there) then checks for failure with ENOENT code and only in this case proceeds with NULL parent.

@KKoukiou what would be easier for you, if I provide you patches with extended logging or ask you to strace the criu restore comman

[2016-02-27 00:12] KKoukiou commented on #116
I used to restore with lxc-checkpoint -r, but under strace this gives me a different restore.log with error

(00.045280) PID: real 13915 virt 1
(00.048817) Error (cr-restore.c:1961): Can't attach to init: Operation not permitted
(00.049416) Warn  (cr-restore.c:2107): Unable to wait 13915: No child processes(00.087845) Error (files-reg.c:463):  `- XFail [/dev/null.cr.1.ghost] ghost: No such file or

[2016-02-27 00:25] KKoukiou commented on #116
I tried to strace with the actual criu command and gives me the restore.log as normal with the "No parent for snapshot pagemap" error. So, when I run
`# strace -o log -f -T criu restore ...` I get this log file [strace.txt](https://github.com/xemul/criu/files/149122/strace.txt)

[2016-02-27 06:05] xemul commented on #116
The strace.txt seem to only have the parent process traces. In particular the write system call writing the "No parent for snapshot pagemap" is not there.

[2016-02-29 08:46] xemul commented on #116
OK, would you try with this patch, -v4 option for criu and report back the restore.log file: https://gist.github.com/xemul/381389c02b4c173ae2ca

[2016-02-29 14:03] KKoukiou commented on #116
Sorry for the delay, here is  the restore.log :
[restore-debug.txt](https://github.com/xemul/criu/files/151020/restore-debug.txt)

[2016-02-29 16:24] avagin commented on #118
https://ci.openvz.org/view/CRIU/job/CRIU-x86_64/1246/console
[code]

[2016-02-29 16:25] avagin commented on #118
@tych0, could you take a look at this issue?

[2016-02-29 16:42] tych0 commented on #118
On Mon, Feb 29, 2016 at 08:25:26AM -0800, Andrew Vagin wrote:

Whoops, thanks for the ping. Yes, I'll try to take a look today.

[2016-02-29 17:40] xemul commented on #116
Ah, here it is:

    (00.244577)      1: Try open parent for 1, dfd 1022
    (00.244985)      1:  `- no parent (parent) symlink

this means that the opening the "parent" symlink ended up with ENOENT. This happens since the symlink target is absolute path that is not visible in the mount namespace the task #1 has recently jumped into.

Can you fix the parent symlink to have target literally "../1"

[2016-02-29 21:34] tych0 commented on #118
Do you have the full restore log for this failed test somewhere that I can look at?

[2016-02-29 21:45] avagin commented on #118
@tych0 I forwarded you an report from Jenkins. report.tar.gz contains all logs and images.

[2016-02-29 21:53] tych0 commented on #118
[code]

So the value looks reasonable (0-1) assuming that the test box has two cores, which I suppose it does since the test suite won't actually change hosts.

According to the man page, the only other reason you'd get EINVAL is because the cgroup has attached tasks. Based on the log this criu thinks it just created it, but is there some other CRIU test suite running that's entering this cgroup b

[2016-02-29 22:16] avagin commented on #118
Jenkins runs "./test/zdtm.py run --all --report report --parallel 4"

[2016-02-29 22:18] avagin commented on #118
If you look at the history https://ci.openvz.org/view/CRIU/job/CRIU-x86_64/, you can it fails no each time.

[2016-02-29 22:19] tych0 commented on #118
Hmm, so --parallel should be okay since there is only one test entering newroot. Are there multiple jenkins builders running the suite at once sometimes?

[2016-02-29 22:19] avagin commented on #118
But the first message in this thread is about an issue which is reproduced each time in Travis. It maybe another problem.

[2016-02-29 22:20] avagin commented on #118
@tych0 We don't jenkins jobs concurrently.

[2016-02-29 22:46] tych0 commented on #118
Ok, as for the travis one, I'm not really sure what's going on there. I wonder if travis sets some cpusets somewhere and that is screwing things up?

[2016-02-29 22:49] avagin commented on #118
@tych0 I don't know. I'm fixing another bug right now...

[2016-02-29 23:04] tych0 commented on #118
Np, sorry, just thinking out loud :). Looks like they do set some cpusets,

https://github.com/travis-ci/worker/blob/master/backend/docker.go#L66

[2016-02-29 23:14] tych0 commented on #118
Ok, I don't /think/ it can fail writing 0 to cpuset.cpus_exclusive, so it must be writing 1, and since travis uses cpusets, presumably there are cousin cpusets with a similar allocation which is why this fails.

I'll wait for https://lists.openvz.org/pipermail/criu/2016-February/025892.html to be applied to check for sure, though.

[2016-02-29 23:14] avagin opened #120 "ghost directories are not removed in a error case"
[code]

The problem is that formats of names for directories and files are different and we never get EISDIR.

[2016-02-29 23:20] KKoukiou commented on #116
That was it! Thank you!

[2016-03-01 09:25] xemul commented on #116
@tych0 , presumably it's an issue for LXC/LXD -- the --prev-images-dir path should be relative, not absolute for incremental dumps.

[2016-03-01 10:04] #118 closed

[2016-03-01 15:43] tych0 commented on #116
@xemul yes, although I don't think lxc or lxd has any code that actually uses our `->migrate` API call which provides pre-dump dirs yet, so I'm not sure where that path came from. @KKoukiou, do you have some code you wrote using liblxc directly?

[2016-03-01 17:06] avagin opened #121 "link-remap and ghost files are removed too early"
link-remap and ghost files are removed when all files linked with them are restored. But  restore may fail after this point and it will be impossible to execute it again.

[code]

[code]

[2016-03-01 17:12] avagin opened #122 "Dump from a non-root user doesn't work"
https://ci.openvz.org/view/CRIU/job/CRIU-user/744/console

[code]

Cc: @tych0

[2016-03-01 17:16] tych0 commented on #122
I'm not sure this will ever work, will it? If we want to mount the cg yard somewhere, we have to be able to mount().

[2016-03-01 17:21] avagin commented on #122
This job passed w/o errors a week ago https://ci.openvz.org/job/CRIU-user/734/
I report it here to find a reason of this behavior and to decide what to do with this.

[2016-03-02 00:26] KKoukiou commented on #116
The path came from the --prev-images-dir from the criu dump command. There I had an absolute path to the previous checkpoint directory. So I just used the criu tool directly (I mean criu (pre-)dump and criu restore...) to iteratively checkpoint and restore the container.

[2016-03-02 07:22] xemul commented on #116
Ah, I see :) OK, then I'll close this bug as there's not much we can do here. And there's also a patch on the mailing list that warns users on dump when absolute path is used.

[2016-03-02 07:22] #116 closed

[2016-03-02 07:23] xemul commented on #122
Last time I saw it the error was due to e4dd8d2b124da6ac733d0fd6d2e6ef80e5c027d4

[2016-03-02 14:17] tych0 commented on #122
It seems that it's not totally fixed then? In any case, I found some issues with nested cgroup namespaces and it seems my patchset doesn't correctly support them, so I think we should disable nesting for now, which means we don't need to dump these "stray" cgsets. I'll try to send my queue today with those reverts, which should fix this.

[2016-03-02 14:20] xemul commented on #122
OK, but I think there's no need in complete revert, just ban the misbehaving functionality.

[2016-03-02 14:27] tych0 commented on #122
Yep, just the nesting part. We still need cgns, I was just too optimistic about my implementation it seems :(

[2016-03-02 14:37] tych0 commented on #122
Oh, crap. Maybe we do need this, since systemd isn't leaving itself in / for the container any more:

[code]

[2016-03-02 14:38] tych0 commented on #122
We still don't need nesting, but we do need the multiple cgsets dumping. I'll try and sort through it :)

[2016-03-02 14:55] tych0 commented on #122
And it looks like pavel's mentioned commit fixes this issue, as subsequent user c/r's are ok?

[2016-03-02 15:06] xemul commented on #122
Hm... The build 744 is indeed quite old. @avagin , presumably this was false alarm?

[2016-03-02 15:51] avagin commented on #122
It isn't false alarm. I found that this job is disabled due to repeated fails and reported about this problem here. I haven't known that it was fixed;).

@tych0, sorry for false alarm

[2016-03-02 15:53] #122 closed

[2016-03-02 15:55] tych0 commented on #122
@avagin np, thanks for reporting all of these!

[2016-03-03 11:03] #120 closed

[2016-03-04 13:21] xemul opened #123 "Gcov doesn't handle fork()-s"
It's seen, in particular, in namespaces.c check_user_ns()

[2016-03-04 13:22] xemul opened #124 "Need test for veth device"
net.c's veth_link_info() and others

[2016-03-04 13:23] xemul opened #125 "Need test for robust lists"

[2016-03-04 13:24] xemul opened #126 "Need test for dump/pre-dump timeouts"

[2016-03-04 13:26] xemul opened #127 "Need test for /dev/kmsg"
In files.c there's special handling for this device in get_mem_dev_ops

[2016-03-04 13:26] xemul opened #128 "Need test for fsnotifies pre-dump"
We do irmap-scan in this case, need test

[2016-03-04 13:47] xemul opened #129 "Need test for manual external mounts (or deprecate this feature)"

[2016-03-04 13:48] xemul opened #130 "Need test for manually allowed fstypes"

[2016-03-04 13:49] xemul opened #131 "Need test for mntns restore w/o --root option (or deprecate this feature)"

[2016-03-04 13:50] xemul opened #132 "Need test for shell job dump/restore"

[2016-03-04 13:51] xemul opened #133 "Need to resurrect btrfs testing"

[2016-03-04 13:52] xemul opened #134 "The inotify_irmap test seems not to do irmap scanning"

[2016-03-04 16:25] avagin commented on #123
Gcov handles fork()-s. I think the problem with permissions
[root@zdtm CRIU-x86_64-coverage]# ls -ld test/var/lib/jenkins/workspace/CRIU-x86_64-coverage/criu/
drwxr-xr-x. 4 root root 8192 Mar  4 03:22 test/var/lib/jenkins/workspace/CRIU-x86_64-coverage/criu/

A process from userns doesn't have enough permissions to write into this directory

[2016-03-04 21:34] avagin commented on #123
We need to call umask 0000 before executing tests

[2016-03-04 22:18] avagin commented on #129
What is "manual external mounts"? Is it --ext-mount-map?
https://lists.openvz.org/pipermail/criu/2016-March/026032.html

[2016-03-06 20:30] xemul commented on #123
It's not only about check_user_ns(). I'll revisit and get back with more examples.

[2016-03-06 20:31] xemul commented on #129
Yes, it's for --ext-mount-map with argument being not "auto" :)

[2016-03-06 22:56] avagin commented on #123
Pls, use this link to find other examples:
https://ci.openvz.org/job/CRIU-coverage/ws/gcov/html/index.html

[2016-03-08 03:14] avagin commented on #134
Assigned: @avagin

[2016-03-09 16:53] xemul commented on #65
criu dump <options> --action-script '$CRIU_SCRIPTS_PATH/tmp-files.sh /tmp/ycm_temp /home/user/.tmpfile.txt.swp'
criu restore <options> --action-script $CRIU_SCRIPTS_PATH/tmp-files.sh

[2016-03-09 16:53] #65 closed

[2016-03-09 19:19] tswift242 opened #135 "Cannot build criu v2.0 from source"
I'm running kernel version 3.19.8 on Ubuntu 14.04. I'm grabbing the criu v2.0 sources from https://github.com/xemul/criu/archive/v2.0.tar.gz and extracting them. I install the following dependencies required by criu through apt-get: bsdmainutils build-essential libprotobuf-c0-dev libprotobuf-dev protobuf-compiler protobuf-c-compiler libnl-3-200 asciidoc. When I then try to build the sources using

[2016-03-09 20:53] xemul commented on #135
Presumably you need all the mentioned libraries with -dev suffix. Like libpthread-dev, libnl-3-dev (or libnl-dev, not sure) and alike.

Cc @cyrillos

[2016-03-09 21:00] cyrillos commented on #135
from scripts/travis-tests

apt-get install -qq protobuf-c-compiler libprotobuf-c0-dev libaio-dev libprotobuf-dev protobuf-compiler python-ipaddr libcap-dev libnl-3-dev

[2016-03-09 21:04] xemul commented on #135
@cyrillos would you check the Installation page on wiki to be up-to-date, please?

[2016-03-09 21:12] cyrillos commented on #135
sure

[2016-03-09 21:18] cyrillos commented on #135
I think we migh add some make help-devel target into Makefile which would simply print out current dependency list. Hm?

[2016-03-09 21:21] tswift242 commented on #135
I'm now trying to make sure I have the -dev libraries installed too. Installing libnl-3-dev got me further through the build, but now the failure is "namespaces.c:12:28: fatal error: sys/capability.h: No such file or directory". I'm continuing to look into this.

One thing that confused me is that I was able to build criu 1.8 with the same set of libraries I have now, on the same machine. The last

[2016-03-09 21:25] xemul commented on #135
@cyrillos Makes already print smth like this, don't they?

@tswift242 for capability.h you need libpcap-dev package (if I'm not mistaken with the name). And with 2.0 we've extended the set of dependencies, yes, now criu needs more stuff to get built. And the not update wiki is our fault :( we'll fix it shortly, thanks for spotting this.

[2016-03-09 21:28] cyrillos commented on #135
@xemul Not exactly

LIBS			:= -lrt -lpthread -lprotobuf-c -ldl -lnl-3
REQ-LIBS-NAMES          := libpthread libprotobuf-c libnl-3

#
# Make sure all required libs are installed
ifneq ($(MAKECMDGOALS),clean)
        ifneq ($(shell sh -c                                                            \
                        'TMP="$(OUTPUT)$(TMPOUT).$$$$";                                 \

[2016-03-09 21:30] cyrillos commented on #135
From updated WIKI

Other deps

libnl3 and libnl3-devel (RPM distros) or libnl-3-dev (DEB distros) for network operations.
libcap and libcap-devel (RPM distros) or libcap-dev (DEB distros) for work with capabilities.
python-ipaddr is used by CRIT to pretty-print ip.

If libbsd available, CRIU will be compiled with setproctitle() support. It will allow to make process titles of service workers to be

[2016-03-09 21:40] tswift242 commented on #135
@xemul @cyrillos Got it to build now with the additional dependencies. Thanks! Yea, it might be helpful to update that that REQ-LIBS-NAMES list.

[2016-03-10 07:23] xemul commented on #135
Cool, thanks :) @cyrillos , plz tune what has been discussed so far.

[2016-03-10 07:23] #135 closed

[2016-03-11 16:39] avagin opened #136 "irmap cache doesn't work for overlayfs"
[code]

[code]

[code]

[code]

[2016-03-11 17:13] avagin commented on #136
[root@fc22-vm criu]# ls -l /proc/31098/fd
total 0
lrwx------ 1 root root 64 Mar 11 20:08 0 -> /dev/null
l-wx------ 1 root root 64 Mar 11 20:08 1 -> /zdtm/static/inotify_irmap.out.inprogress
l-wx------ 1 root root 64 Mar 11 20:08 2 -> /zdtm/static/inotify_irmap.out.inprogress
l-wx------ 1 root root 64 Mar 11 20:08 3 -> /etc/zdtm-test
l-wx------ 1 root root 64 Mar 11 20:08 4 -> /etc/zdtm-test1
lr-x-

[2016-03-14 18:16] avagin opened #137 "(00.003069) Error (sk-packet.c:255): No packet sock info in nlm"
https://travis-ci.org/xemul/criu/jobs/115831660
[code]

[2016-03-14 18:18] avagin commented on #137
The trusty ubuntu doesn't back-port this patch:

[code]

[2016-03-14 18:35] avagin commented on #137
@tych0, could you help us with this issue? Is it possible to update libnl-3 in Trusty?

$ git describe b50a36bf34e7452377ab9bbb4d1873b68c65bf72
libnl3_2_23-22-gb50a36b

[2016-03-16 03:32] chenhaiq opened #138 "Can not dump ubuntu wily lxc container"
When dump lxc container with ubuntu wily (15.10) image using cmd:
lxc-checkpoint -n wily3 -D /root/dump -vvv -l TRACE -s

It hits this error:
(00.006219) Error (mount.c:717): mnt: 207:./sys/fs/cgroup/systemd/lxc/wily3 is overmounted

This is because the the container has two cgroup entries:

root@wily3:/# mount|grep systemd
cgroup on /sys/fs/cgroup/systemd/lxc/wily3 type cgroup (rw,nosuid,nodev,no

[2016-03-16 09:25] xemul commented on #138
Cc @tych0

[2016-03-16 13:47] tych0 commented on #138
Hi,

On Tue, Mar 15, 2016 at 08:32:59PM -0700, Chen Hai Quan wrote:

When I've seen this before, usually it means you're using an old lxcfs
on a kernel which supports cgroup namespaces. Can you post the kernel
version, liblxc, and lxcfs versions you're using? /proc/self/mountinfo
from inside the container would also be handy.

[2016-03-17 05:17] chenhaiq commented on #138
Linux ubuntu 4.4.5-040405-generic #201603091931 SMP Thu Mar 10 00:34:17 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
ii  liblxc1                            2.0.0~rc10-0ubuntu2~ubuntu15.10.1~ppa1 amd64        Linux Containers userspace tools (library)
ii  lxcfs                              2.0.0~rc4-0ubuntu1~ubuntu15.10.1~ppa1  amd64        FUSE based filesystem for LXC

#cat mountinfo
295 147 253:1 /va

[2016-03-17 19:42] tswift242 opened #139 "Support ghost files in alien (host) mount namespace"
I'm using boucher's experimental Docker build to checkpoint a Docker container. The main process inside this container uses SVNKit for SVN integration. SVNKit in turn uses JNA. Because of (what I believe is) an issue with JNA, a file of the form /tmp/jna--*/jna*.tmp is created and then subsequently deleted when my process boots, but the process still has an open file handle for this file. This cau

[2016-03-17 20:35] hallyn commented on #138
Please show the contents of /usr/share/lxcfs/lxc.mount.hook

[2016-03-18 01:11] chenhaiq commented on #138
# cat /usr/share/lxcfs/lxc.mount.hook
#!/bin/sh -e

# /proc files
if [ -d /var/lib/lxcfs/proc/ ]; then
    for entry in /var/lib/lxcfs/proc/*; do
        [ -e "${LXC_ROOTFS_MOUNT}/proc/$(basename $entry)" ] || continue
        mount -n --bind $entry ${LXC_ROOTFS_MOUNT}/proc/$(basename $entry)
    done
fi

# Allow nesting lxcfs
if [ -d ${LXC_ROOTFS_MOUNT}/var/lib/lxcfs/ ]; then
    mount -n --bind

[2016-03-18 01:13] chenhaiq commented on #138
checkpoint works, after I append below lines into config file
[code]

[2016-03-18 14:23] xemul commented on #139
OK, so the problem is -- the opened and unlinked file (we call those ghost files) sit in another mount namespace. Yes, this is possible to fix it. Will try to do it soon :)

[2016-03-18 18:06] avagin commented on #139
I can't reproduce this issue:
https://asciinema.org/a/3ek6y9m80nkmej8eq2q7b0bpz

[2016-03-18 18:13] tswift242 commented on #139
Hmm. I am able to reproduce this consistently with the steps above. The checkpoint operation always fails. Is it a kernel difference? I'm using kernel 3.19.8.

[2016-03-18 18:15] avagin commented on #139
[root@fc22-vm tmp]# uname -a
Linux fc22-vm 4.3.5-300.fc23.x86_64 #1 SMP Mon Feb 1 03:18:41 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

[2016-03-18 18:18] avagin commented on #139
Could you execute your test and show me /proc/PID/fdinfo/FD and /proc/PID/mountinfo?
PID is a process id of the test process
FD is a file descriptor to a deleted file

[2016-03-18 18:58] tswift242 commented on #139
Just tried again and the issue reproduced. Here's the output you requested:

root@ip-10-167-216-26:/tmp# cat /proc/10925/fdinfo/3
pos:    0
flags:  0100002
mnt_id: 46

 and

root@ip-10-167-216-26:/tmp# cat /proc/10925/mountinfo
85 50 0:37 / / rw,relatime - overlay overlay rw,lowerdir=/var/lib/docker/0.0/overlay/3242a1ba7a1fdc9ca15f158105ae3c0217e4db8766cc55ea0bf357b6e6114052/root,upperdir=/var/lib

[2016-03-18 19:02] tswift242 commented on #139
May be important to mention, that, as you can see above, I'm using the overlay storage driver for Docker. I've seen a couple issues on here related to overlayfs; does criu not have good support for overlayfs?

Here's my full docker info if it helps:

root@ip-10-167-216-26:/tmp# docker info
Containers: 1
Images: 39
Server Version: 1.10.0-dev
Storage Driver: overlay
 Backing Filesystem: extfs
Execut

[2016-03-18 20:16] avagin commented on #139
Yes, you are right. This issue depends on overlayfs.
Cc: @gablg1

[2016-03-18 21:31] avagin commented on #139
I switched on overlayfs and everything works for me too. Looks like it's due to a kernel bug, which was fixed in the 4.2 kernel:
http://comments.gmane.org/gmane.linux.file-systems.union/236