[2016-03-19 02:02] gablg1 commented on #139
Yes. I added the --overlays flag a while ago to circumvent this bug within
CRIU. It works but it's not thoroughly tested as far as I know.

On Friday, March 18, 2016, Andrew Vagin <notifications@github.com> wrote:

[2016-03-21 14:18] andreituicu opened #140 "[Docker] Fail when restoring dummy apache server running in Docker"
Hello,

I hope that this is the appropriate place to open this issue. I am trying to checkpoint and restore a simple apache server running in docker, but the restore fails and the reported errors only say that the threads were killed.

[code]

Kernel version: 4.4.0-10-generic
CRIU version: 2.0 GitID: v2.0-44-gef4dbeb
Docker version: Docker version 1.10.0-dev, build cec56b2, experimental

Dump log:

[2016-03-21 15:38] xemul commented on #140
Cc @boucher
I see no errors in restore log. What do you mean by 'reported errors'?

[2016-03-21 16:12] andreituicu commented on #140
Hi, @xemul ,

I was referring to these three lines at the end of the restore log (just because they are prefixed with Error). The reason I opened this issue is, because as you said I don't see any actual errors. I'm sorry for the confusion. :)

[code]

[2016-03-21 17:21] boucher commented on #140
I'm able to checkpoint/restore this container successfully following the commands you posted. Is this failing every time, or just sometimes?

[2016-03-21 17:23] andreituicu commented on #140
Hello, @boucher,

It fails every time at restore. It never failed for me at checkpoint.

[2016-03-21 17:38] avagin commented on #140
[code]

[code]

[2016-03-21 17:39] avagin commented on #140
The task 9 was segfaulted. @andreituicu, could you collect a core file for criu?

[2016-03-21 18:17] andreituicu commented on #140
@avagin, I can't seem to be able to find any core dump
Core dumps are enabled and I can generate one running for example
[code]

@boucher I've just been able to successfully restore the container once, but after that it crashed again every time.

[2016-03-21 18:21] avagin commented on #140
@andreituicu could you collect strace for criu restore? For that you need to execute strace for docker daemon before executing docker restore:
strace -fo /tmp/strace.log -s 256 -p [PID_OF_DOCKER_DAEMON]

[2016-03-21 18:33] andreituicu commented on #140
@avagin Thanks for the help. You can find the strace log here: https://gist.github.com/andreituicu/5ae628b6d3ee4fe2c4cf#file-strace-log

[2016-03-21 18:42] avagin commented on #140
I forgot that we use the restore-sibling option and strace can't be used in this case. Could you try out to use perf instead of strace:
perf trace -o /tmp/perf-criu.log -p [PID_OF_DOCKER_DAEMON]

[2016-03-21 19:00] andreituicu commented on #140
@avagin: You can find the perf log here: https://gist.github.com/andreituicu/18bc21b4d0e8bbe90702#file-perf-criu-log

[2016-03-21 20:26] avagin commented on #140
It doesn't contain information about criu processes.

[2016-03-21 20:55] avagin commented on #140
@andreituicu  you can try to add the -a option

[2016-03-21 21:14] andreituicu commented on #140
@boucher : I think I've missed adding some errors that the docker daemon is reporting on restore:
[code]
Are these of any help?

@avagin: I already tried it. perf closes imediately with exit code 243 if I add the -a option.

@all: I am running docker from a VirtualBox Ubuntu machine. Would it be of any help if I upload it somewhere? I find it strange that it works with simple bash scripts and with

[2016-03-21 22:32] avagin commented on #140
@andreituicu, can you build criu with this patch:
https://github.com/avagin/criu/commit/b5daa9a11a47dc31df418496fa44a95f259928e2

and show us restore.log?

[2016-03-22 00:29] avagin opened #141 "criu check doesn't detect mnt_id in fdinfo"
[code]

[2016-03-22 09:03] xemul commented on #141
That's due to autofs inode ... thing. Cr-check doesn't even get to parsing fdinfo files.

[2016-03-22 09:25] andreituicu commented on #140
@avagin , applied the patch, here is the log: https://gist.github.com/andreituicu/5677915adad45d64ef65#file-restore-debug-log

[2016-03-22 09:42] #138 closed

[2016-03-22 14:35] skinsbursky commented on #141
Fixed by patch, titled:
"autofs: do not treat old kernel as error in autofs_parse()"

[2016-03-22 14:51] avagin commented on #140
[code]
[code]
Cc: @cyrillos

[2016-03-22 15:02] cyrillos commented on #140
Thanks for report, will take a look.

[2016-03-22 15:37] cyrillos commented on #140
@andreituicu Could you please upload your images somewhere?

[2016-03-22 18:33] avagin opened #142 "[master] FAIL: maps04.c:52: Mem corrupted"
========================= Run zdtm/static/maps04 in h ==========================
Start test
./maps04 --pidfile=maps04.pid --outfile=maps04.out
Run criu dump
Run criu restore
Wait for zdtm/static/maps04 to die for 0.100000
Wait for zdtm/static/maps04 to die for 0.200000
################# Test zdtm/static/maps04 FAIL at result check #################
Test output: ================================
18:

[2016-03-22 19:00] andreituicu commented on #140
Hi @cyrillos,
You can find the a tar with the image here: https://www.dropbox.com/s/wtp63djph5nvf0c/apacheimage.tar?dl=0

[2016-03-22 19:49] cyrillos commented on #140
Thanks. Been looking into fs|gs_bases but they are pretty valid in your images. Continue...

[2016-03-22 19:55] xemul commented on #141
a581fc7ecda1aa39ea138368e4ebcc584638dd97

[2016-03-22 19:55] #141 closed

[2016-03-22 22:41] avagin commented on #140
@andreituicu Could you show dmesg from this host? It should contain information about segfaulted processes.

[2016-03-22 23:48] avagin commented on #142
It may be a non-criu problem
[code]
https://ci.openvz.org/job/CRIU-ppc64le/1307/console

[2016-03-23 07:00] cyrillos commented on #140
I suspect this might be msr-writting procedure related. If I understand correctly you're running guest under VirtualBox? Could you please run it under KVM or real hardware? Is there a way to fetch your virtualbox image?

[2016-03-23 12:14] andreituicu commented on #140
@avagin : you can find the dmesg log for all the 3 commands here: https://gist.github.com/andreituicu/5ac8fe110eee7345c226#file-dmesg-log , but I don't see anything useful there.

@cyrillos : Yes, I am running guest under VirtualBox, I've uploaded the image for that machine here: https://drive.google.com/file/d/0Bz4oADNI4d8-Tk1ieGFSSHhONzg/view?usp=sharing . Unfortunately, I don't have a machine r

[2016-03-23 12:28] cyrillos commented on #140
Thank you! I suspect it's VB issue, but better been proven. I'll try to play with your VB image. Could you please provide commands you run inside VB to checkpoint and restore?

[2016-03-23 12:40] andreituicu commented on #140
I am always running the same three commands:
[code]
What I did forgot  to mention is the login password, which is: password. :)

[2016-03-23 12:54] cyrillos commented on #140
Thanks! Gonna try to convert ova to qcow2 and play as well.

[2016-03-23 13:10] cyrillos commented on #140
When I try to run docker it yields "Can not connect to docker daemon" Is there some other command to be run before starting "run" action?

[2016-03-23 13:12] andreituicu commented on #140
@cyrillos Yes, sorry. You need to open another terminal and run
`sudo docker daemon`
Also all the commands for docker need to be used with sudo.

[2016-03-23 13:17] cyrillos commented on #140
OK, thanks! I managed to reproduce. Gimme some time to figure out what is happening there.

[2016-03-23 13:35] cyrillos commented on #140
I noted that there is make 4.1, and we already has issue with it. Hopefully it's not compile-time issue. Continue investigating...

[2016-03-23 13:39] andreituicu commented on #140
@cyrillos Just a note: if you make changes in the source and recompile it, you will need to manually copy the binary to the path for docker to use it. I think I used /usr/local/bin

[2016-03-23 13:42] cyrillos commented on #140
@adrianreber already did. I usually simply setup a symlink into the compiled criu laying inside source code tree.

[2016-03-23 13:44] andreituicu commented on #140
I wanted to make sure I don't waist any of your time. :)

[2016-03-23 14:53] cyrillos commented on #140
OK, this is a problem with linking of criu/arch/x86/restorer.c, if I merge it into PIE code directly then everything works fine.

Need to figure out where exactly instructions get screwed on assembler level.

[2016-03-23 18:21] avagin commented on #140
I decided to print an address of restore_nonsigframe_gpregs, but I can't compile criu with this simple patch. It is compiled on my fedora host without errors.
[code]

[2016-03-23 18:39] cyrillos commented on #140
There is a new type of relocations

000000000000008c R_X86_64_REX_GOTPCRELX  restore_nonsigframe_gpregs-0x0000000000000004

I'm trying to figure out how to disable it.

[2016-03-23 18:41] cyrillos commented on #140
andrei@valhala:~/criu$ sudo apt show binutils
Package: binutils
Version: 2.26-7ubuntu2
--
while on fedora we have 2.25.

[2016-03-23 22:31] avagin commented on #140
@andreituicu, could you try out this patch https://github.com/avagin/criu/commit/f808e590e096bcfcf6a2c527191c929d85f7b12a. I think it should fix this bug. Thank you for the help.

[2016-03-23 22:42] cyrillos commented on #140
@avagin sigh, it was a long journey until we've found that restorer blob get screwed due to a reason other than pie-code generation :/

[2016-03-23 22:54] #142 closed

[2016-03-24 00:20] avagin commented on #140
@cyrillos you had an idea to make restore-blob read-only. I think it's a good idea. Actually I found the root course of this bug, when I protected the first page of restore-blob.

[2016-03-24 06:55] cyrillos commented on #140
@avagin yes, i've been dumping the blob with relocations applied and discovered that we've had some trash there instead of real code.

[2016-03-24 08:03] andreituicu commented on #140
@avagin @cyrillos : Thank you guys very much for your help! I've applied the patch and everything seems to be ok. Up until the last minute I thought that maybe the problem it's due to some misconfiguration that I did and I'm waisting everyones time. :)
I'm going to let you close this issue when you think it's appropriate. Please let me know when you don't longer need the machine, so I can remove i

[2016-03-24 08:12] cyrillos commented on #140
@adrianreber Thanks a huge for report and help in providing the VM image! We no longer need it, so feel free to remove. I think Andrew will make a patch with proper changelog and we merge it asap.

[2016-03-24 11:17] #139 closed

[2016-03-25 12:11] #140 closed

[2016-03-25 12:12] #137 closed

[2016-03-25 14:00] andreituicu opened #143 "[Docker] Containers remain connected to the network bridge after remove"
Again, not sure if this is the right place to report this problem. :)
 Containers remain connected to the network bridge after remove if they were in Checkpointed state.

[code]

Now if I run again:
`docker run -d -p 8080:80 --name apache httpd`
I get:
`docker: Error response from daemon: Conflict. A container with name "apache" is already connected to network bridge...`

And if I change the name

[2016-03-25 15:59] xemul commented on #143
Cc @boucher and @SaiedKazemi

[2016-03-25 16:00] #134 closed

[2016-03-25 16:19] boucher commented on #143
It is a bug, but I think we should close it. Support for CRIU in Docker is being completely rewritten and the current branch is dead.

[2016-03-25 17:22] xemul commented on #143
OK. @andreituicu  I'll close the bug as @boucher suggests then.

[2016-03-25 17:22] #143 closed

[2016-03-30 23:53] nomadlena opened #144 "After using CRIU, why were the container's memory and blkio use greatly reduced?"
Hello, I'm using CRIU to do some experiments on LXC containers. I found that after using CRIU on containers, the memory use and BlkIO use shown by lxc-info were significantly smaller than they were before being checkpointed/restored.
For example, I had a container c7 that's running postgresql before using CRIU:
Name: c7
State: RUNNING
PID:8423
IP: 10.0.3.231
CPU use: 7.54 seconds
BlkIO use: 177.18

[2016-03-31 10:26] xemul commented on #144
I guess the stats are taken from cgroup files, aren't they? The reason for this is due to the whole container gets recreated from scratch and the stats are zeroed on restore. Not 100% sure what's the best way to deal with it. Apparently kernel guys won't be happy if we come with an API to set these values to some initials.

Cc @tych0

[2016-03-31 12:59] andreituicu opened #145 "[Docker] Checkpoint fails when the process has a lot of file descriptors"
I am having problems checkpointing an application that has a lot of open file descriptors. At some point in the transfer of the FDs, the received message is truncated and the checkpointing fails here:
https://github.com/xemul/criu/blob/master/criu/pie/util-fd.c#L145

I have added some debugging messages in the criu code like so: https://gist.github.com/andreituicu/eac01d315ec97785ab82bc3dfb586097#

[2016-03-31 17:15] xemul commented on #145
This can be (I actually believe it is) due to we try to send ALL the descriptors form parasite to criu for dump. The proper fix would be to drain descriptors in smaller chunks, that fit the kernel limits.

The code to look into for this is criu/pie/parasite.c drain_fds() and criu/files.c dump_task_files_seized(). The latter should run its body in a loop draining fds in chunks.

[2016-03-31 17:33] andreituicu commented on #145
Hi @xemul,

I hope I understand correctly what you are saying, I'm not very familiar with the codebase, so please correct me if I'm wrong.
I've looked into criu/pie/parasite.c, into the drain_fds() function. There the send_fds function from criu/pie/util-fd.c is called and although it receives all the FDs for a particular pid, it sends them in multiple messages, using a loop[[0]](https://github.co

[2016-03-31 17:36] nomadlena commented on #144
Hello, thanks for the reply. I thought CRIU was supposed to restore the container from where they got stopped. If the container got started from scratch, would that make the application inside the container restart instead of resume? I tried CRIU on a container running a terminal game ninvaders inside of it and unfortunately after restore, the game couldn't resume and somehow the installation pack

[2016-03-31 17:38] avagin commented on #145
@andreituicu you can try this patch, but I'm not sure that it fixes anything.
[code]

[2016-03-31 17:40] xemul commented on #144
@nomadlena I wasn't completely accurate in my words.
Most of the stuff is restored from where they were stopped, e.g. application memory, registers, open files, etc. So is for containers, but some bits are recreated from scratch, because there's no API in the kernel to fix this. Statistics is one of such examples.

[2016-03-31 17:45] xemul commented on #145
@andreituicu , yes, you're correct that fds are sent in 252 buckets, but there are two more things:
1. total sum of the in-kernel socket buffers cannot exceed a certain limit
2. the fd table of criu itself cannot exceed another limit
neither of these two limits are taken into account by this code.

However, it's also possible that the lengths of the existing messages and cmsgs are also set with er

[2016-03-31 18:00] andreituicu commented on #145
@avagin:
 Thank you, although it seems like that is the proper way to set those lengths, I still get the error. :(

@xemul :
1. This could be the actual problem, because I see the parasite sending all the fdsets even though criu doesn't call recv for all of them. I don't know exactly how the internals of sendmsg work. I think it is a blocking call, but I don't know if it blocks until recvmsg is ca

[2016-03-31 18:03] avagin commented on #145
@andreituicu can you try to increase ulimit for files before staring criu?
[code]

[2016-03-31 18:05] andreituicu commented on #145
@avagin  I get Operation not permited.

`bash: ulimit: open files: cannot modify limit: Operation not permitted`

[2016-03-31 18:07] avagin commented on #145
@andreituicu try to set a big value ;)
[code]

[2016-03-31 18:07] avagin commented on #145
Actually, I've reproduced your problem and ulimit helps me

[2016-03-31 18:10] andreituicu commented on #145
@avagin I still get it... It is true that sometimes it doesn't happen for me either. I got this a lot when I was modifying the code. It seemed to be working, but then I would change the number of fds and it would happen again.

[2016-03-31 18:15] avagin commented on #145
@andreituicu How do you set ulimit? You need to call ulimit -n 102400 and then execute a docker daemon. Both commands should be executed from one session (w/o sudo).

[2016-03-31 18:21] avagin commented on #145
@andreituicu, can you try out this patch?

[code]

[2016-03-31 18:38] andreituicu commented on #145
@avagin : Wow, , you are a wizard. :) I've been staring for 3 days into the code, checking all the lengths and the sizes of the buffers and comparing them to the kernel ones, but I did not once think of increasing the ulimit for fds. This was a bit embarrassing... :) The second time was running ulimit in a different session. Thank you very much! I'll apply the patch and see if it works without the

[2016-03-31 18:58] andreituicu commented on #145
@avagin Just tried the patch, it works as expected, just that it needs to be added in cr-restore.c too. Will this patch be in criu, or do I need to set the limit from the command line before running docker?

[2016-03-31 20:52] nomadlena commented on #144
Hello Pavel, thanks! This time the answer is much more relieving. :) I'm running tomcat web server in one of my LXC containers and databases like mongoDB and postgresql in others. These type of applications usually can be restored. Is this correct? Also I found that CRIU cannot dump containers with mysql running inside, but it can dump the ones with mongoDB and postgresql. Just like the case with

[2016-04-01 05:25] avagin opened #146 "autofs.c:152: 4: failed to open file autofs.test/indirect/mnt/indirect_file"
[root@fc22-vm criu]# python test/zdtm.py run -t zdtm/static/autofs
Checking feature autofs
=== Run 1/1 ================

========================= Run zdtm/static/autofs in ns =========================
Start test
Test is SUID
./autofs --pidfile=autofs.pid --outfile=autofs.out --dirname=autofs.test
The test failed (0, 1)
Makefile:284: recipe for target 'autofs.pid' failed
make: *** [autofs.pid] Err

[2016-04-01 10:25] xemul commented on #144
@nomadlena CRIU restores all applications. There can be some bits that we've missed, but we haven't been reported back about anything like this so far.

About inability to dump MySQL -- dump.log with error would be helpful.

[2016-04-01 12:46] nomadlena commented on #144
@xemul  Thank you!!! I'm closing this issue now. :)

[2016-04-01 12:46] #144 closed

[2016-04-01 17:19] avagin commented on #146
Looks like it was a bug in the kernel. I've compiled a recent master and not it works again:
========================= Run zdtm/static/autofs in ns =========================
Start test
Test is SUID
./autofs --pidfile=autofs.pid --outfile=autofs.out --dirname=autofs.test
Run criu dump
Run criu restore
Wait for zdtm/static/autofs to die for 0.100000
Removing dump/zdtm/static/autofs/30
==============

[2016-04-01 17:19] #146 closed

[2016-04-06 12:01] xemul commented on #145
Fixed in criu-dev. Will likely be in 2.1

[2016-04-06 12:01] #145 closed

[2016-04-06 12:09] andreituicu commented on #145
Thanks again! :)

[2016-04-14 08:13] chenhaiq opened #147 "(still) no good solution for inotify inode->path conversion (irmap)"
It always failed when dump a lxc ubuntu 14.04 instance with NetworkManager.

The pid 17890 is the process of NetworkManager, and no error if stop it.

[code]

[2016-04-14 09:59] xemul commented on #147
The process keeps an inotify on some inode that sits on device 0x2c and has an i_num 0x330e22. Can you try to find out what this file is? I mean the name.

[2016-04-14 14:26] tych0 commented on #147
On Thu, Apr 14, 2016 at 02:59:11AM -0700, Pavel Emelyanov wrote:

You can do this via:

[code]

where $inode is the inode number above and the device is the one that
your rootfs is on.

[2016-04-15 11:21] xemul commented on #147
Yes, thanks, @tych0 :)

[2016-04-18 23:41] avagin opened #148 "compel/compel': double free or corruption (!prev): 0x0000000001445010 ***"
[code]

https://ci.openvz.org/view/CRIU/job/CRIU/job/CRIU-coverage/94/console

[2016-04-18 23:42] avagin commented on #148
To: @cyrillos

[2016-04-19 03:42] chenhaiq commented on #147
In error message:
[code]

pid 32423 is NetworkManager
0x4d5e1c is 5070364, which is /var/lib/lxc/i-t9nqfg6v/rootfs/lib/firmware

The lxc instance is running on top of overlayfs, which has mountinfo of:
`126 23 0:43 / /var/lib/lxc/i-t9nqfg6v/rootfs rw,relatime shared:106 - overlay rootfs rw,lowerdir=/opt/trustysrvx64f,upperdir=/pitrix/data/container/i-t9nqfg6v/upperdir,workdir=/pitrix/data/containe

[2016-04-19 06:05] avagin commented on #147
It looks like https://github.com/xemul/criu/issues/136. A "wrong" devices is reported for overlayfs files.

[2016-04-19 06:25] cyrillos commented on #148
Oh :( Will take a look.

[2016-04-19 06:47] chenhaiq commented on #147
@avagin which device is wrong?

[2016-04-19 07:11] avagin commented on #147
Hmm. In you case, we see the 0x2b (0:43) devices in mountinfo and fdinfo, so it may be another problem.

[2016-04-19 07:24] avagin commented on #147
Could you try to add --irmap-scan-path /lib/firmware to other criu dump options?

[2016-04-19 07:27] chenhaiq commented on #147
The " Handle 0x2b:... cannot be opened" error may come from two places:
1.  "<rootfs>/lib/firmware". Is this directory special to criu?
2. if above dir is deleted, it still has "can not be open" error by handle to "14 -> anon_inode:inotify" from NetworkManager.

Anyway, I can see there are lots of error about "Handle 0x2b:... cannot be opened", even it can be dumped successfully.

Looks like "Hand

[2016-04-19 07:42] chenhaiq commented on #147
@avagin with  --irmap-scan-path /lib/firmware, it still failed. The "can not be open" error is caused by handle to "14 -> anon_inode:inotify", which is exactly the same as I deleted /lib/firmware directory.

[2016-04-19 07:45] avagin commented on #147
Yes, it isn't fatal. open_by_handle() doesn't work for overlayfs. If open_by_handle() doesn't work, we try to find an inode in the irmap cache.
https://criu.org/Irmap

[2016-04-19 08:08] cyrillos commented on #148
[PATCH 1/2] compel: Don't reclose files already closed

[2016-04-19 09:56] xemul commented on #147
@chenhaiq , I didn't get from the conversation whether adding the /lib/firmware to irmap scan path helped or not? Does dump work now? If it does, are you only worried by the Error-s in logs?

[2016-04-20 05:27] #148 closed

[2016-04-20 14:45] chenhaiq commented on #147
@xemul adding the /lib/firmware to irmap scan path does not help. It still hit "can not be open" error by handle to "14 -> anon_inode:inotify", and failed in irmap cache. Dump does not work.

[2016-04-21 10:34] xemul commented on #147
OK. This means that irmap scanner doesn't find an inode on overlayfs.

Would you show the dump.log with this patch:

diff --git a/criu/irmap.c b/criu/irmap.c
index a69776c..c62ab97 100644
--- a/criu/irmap.c
+++ b/criu/irmap.c
@@ -177,6 +177,8 @@ static struct irmap *irmap_scan(struct irmap *t, unsigned int dev, unsigned long
        if (t->dev == dev && t->ino == ino)
                return t;

+

[2016-04-21 13:11] xemul commented on #25
BTW, it's now complete. Kernel support is in 4.4 and CRIU support is since v2.0

[2016-04-21 13:11] #25 closed

[2016-04-21 13:12] xemul commented on #43
@0x7f454c46 is working on it

[2016-04-21 13:14] xemul commented on #76
@avagin , presumably it's finally handled by the new --external option in v2.0?

[2016-04-21 13:14] #76 closed

[2016-04-21 13:16] xemul commented on #103
OK, re-open the issue if it still stands.

[2016-04-21 13:16] #103 closed

[2016-04-21 18:34] avagin opened #149 "binfmt_misc.c:133: write magic_file (errno = 22 (Invalid argument))"
====================== Run zdtm/static/binfmt_misc in ns =======================
Start test
Test is SUID
./binfmt_misc --pidfile=binfmt_misc.pid --outfile=binfmt_misc.out --dirname=binfmt_misc.test
The test failed (0, 1)
Makefile:282: recipe for target 'binfmt_misc.pid' failed
make: *** [binfmt_misc.pid] Error 1
################## Test zdtm/static/binfmt_misc FAIL at start ##################
Test

[2016-04-21 19:11] avagin commented on #149
Cc: @tkhai

Kirill, could you take a look

[2016-04-22 03:18] datawolf opened #150 "criu dump will block at arm64?"
Hi, all

I built criu on arm64, the version is :

[code]
and test criu with the following steps:

[code]

the tail of dump.log is :

[code]

The tail  output of `strace criu dump -t 15917 -vvv -o dump.log && echo OK`

[code]

It blocked at accept system call.

I would like to ask for ideas, how this problem can be solved.

[2016-04-22 03:19] datawolf commented on #150
The same issue on Raspberry pi 2.  please refer to: https://lists.openvz.org/pipermail/criu/2016-April/027494.html

[2016-04-22 05:37] tkhai commented on #149
Registration of a new magic may fail if a namesake already exists.

Does the test machine have binfmt_misc virtualized? If not so, two binfmt_misc going in parallel may fail.

For the case we execute several binfmt_misc tests in the only container I'll send a patch

[2016-04-22 05:53] avagin commented on #149
Here was an entry with the same name. I think it was not deleted when something failed. Now everything works as expected.

[2016-04-22 05:53] #149 closed

[2016-04-22 08:26] chenhaiq opened #151 "Can not dump unprivileged lxc container"
It hits this error:
[code]

lxc conf:
[code]

[2016-04-22 08:55] chenhaiq commented on #147
log file can be found in:
[full log](https://pek3a.qingstor.com/oc-storage/dump.log)

[code]

[2016-04-22 09:20] chenhaiq commented on #151
BTW, gdb break point does not work for "mount_ns_sysfs". It won't break witth "break mount_ns_sysfs". Why?

[2016-04-22 10:43] federeghe opened #152 "[DOC] licap-dev dependency"
I noticed that `libcap-dev` (on ubuntu) is needed to build criu2.1 because it contains sys/capability.h included in namespaces.c.

I tried to add it to the wiki page, but even if I have an account I get:
`Some parts of the edit form did not reach the server; double-check that your edits are intact and try again.`

Cheers,
Federico

[2016-04-22 13:00] tych0 commented on #151
There was a bug in older xenial kernels. Try Kernel 4.4.0-21.
On Apr 22, 2016 3:20 AM, "Chen Hai Quan" <notifications@github.com> wrote:

[2016-04-22 13:06] xemul commented on #150
OK, I've put Christopher Covington in Cc. He's now the one who ... kinda maintains the arm/aarch64 port.

[2016-04-22 13:08] xemul commented on #152
Cc @kolyshkin . Kir, would you look at what's going on with our wiki, please.

[2016-04-22 13:11] xemul commented on #152
I've put the <code>libcap-dev</code> in the deps list on wiki, thanks @federeghe

[2016-04-22 13:18] xemul commented on #147
@chenhaiq I don't see that criu scans for /lib/firmware. Have you added this path with the --irmap-scan-path option before trying my patch?

[2016-04-22 13:22] 0x7f454c46 commented on #150
Hey, @datawolf, could you please test if it works with the following patch over criu-dev branch?

https://lists.openvz.org/pipermail/criu/2016-April/027743.html

[2016-04-22 14:33] chenhaiq commented on #147
@xemul the previous log does not contain error from NetworkManager. Looks like it failed before start dumping NetworkManager. It may be another error.

However, after restart the lxc instance, I can get the error from NetworkManager. You can see it in:
[dump2]( https://pek3a.qingstor.com/oc-storage/dump2.log)

This file is /lib/firmware:
`(02.910444) Warn  (fsnotify.c:281): fsnotify: 	Handle 0x7d:

[2016-04-22 14:55] chenhaiq commented on #151
@tych0 yes, this bug is fixed in kernel 4.4.0-21.

[2016-04-22 14:55] #151 closed

[2016-04-22 14:57] tych0 commented on #151
On Fri, Apr 22, 2016 at 07:55:47AM -0700, Chen Hai Quan wrote:

Cool, glad to hear it.

[2016-04-23 01:21] datawolf commented on #150
Sorry, It does not work.

here is the make dry-run after apply the patch:

[code]

[2016-04-23 01:52] datawolf commented on #150
Maybe the patch has some wrong, When I change
[code]
To
[code]

The command `criu dump -t 11208  -vvv -o dump.log && echo OK` can run successfully, but the `criu  restore -d -vvvv -o restore.log && echo OK` run failed.

[code]

[2016-04-23 11:21] 0x7f454c46 commented on #150
@datawolf, thanks, I will check with qemu on the monday. Seems like, for arm64 problem was about missing linking against lib.a(on master), native.lib.a(on criu-dev).
Where for arm it's also about reloc flag. So this
`+ifeq ($(filter arm arm64,$(ARCH)),)`
should be:
`+ifeq ($(ARCH),arm)`

[2016-04-24 17:40] washraf opened #153 "dev/console doesn't have a proper root mount"
I have tried it and I have an error
I am using Ubunu 14.04
runc version 0.1.0
commit: ae0fc15b1e969b06fa575638d234feaa1596d69c
spec: 0.6.0-dev
criu --version
Version: 2.1
GitID: v2.1-11-g5559727
The test image is based on busy box.

walid@ubuntu:~/busyboxTest$ sudo runc checkpoint test
criu failed: type NOTIFY errno 0
log file: /run/runc/test/criu.work/dump.log
walid@ubuntu:~/busyboxTest$ sudo tai

[2016-04-25 08:11] xemul commented on #153
Cc @boucher

[2016-04-25 08:18] xemul commented on #147
OK, but there's still no signs of scanning for /lib/formware. Again -- do you use the --irmap-scan-path option?

Please, add this patch too:

    diff --git a/criu/irmap.c b/criu/irmap.c
    index a69776c..c79cdb9 100644
    --- a/criu/irmap.c
    +++ b/criu/irmap.c
    @@ -261,7 +261,9 @@ char *irmap_lookup(unsigned int s_dev, unsigned long i_ino)
     	/* Let's scan any user provided paths first

[2016-04-25 12:12] boucher commented on #153
I'm not sure what is needed to support this, but I think @avagin knows.

[2016-04-25 13:12] washraf commented on #153
@boucher  I have found this https://github.com/docker/containerd/issues/201#issuecomment-211457069.
And Accordingly i turned off the two options and it works with busy box ... i will try it and report back to.
and way thanks :+1:
P.s. What difference does it make on having no terminals ?

[2016-04-25 13:15] boucher commented on #153
You need a terminal to have an interactive container session, but there
shouldn't be any need for one with a typical backgrounded/daemonized docker
container that you'd have for any server.

On Mon, Apr 25, 2016 at 9:12 AM washraf <notifications@github.com> wrote:

[2016-04-25 16:12] chenhaiq commented on #147
[dump3](https://pek3a.qingstor.com/oc-storage/dump3.log)

0x2d:0x1107719 is /lib/firmware

I modified one line of your patch to:
[code]
The cmd line is:
`criu dump --tcp-established --file-locks --link-remap --force-irmap --manage-cgroups --ext-mount-map auto --enable-external-sharing --enable-external-masters --enable-fs hugetlbfs --enable-fs tracefs -D /var/lib/lxc/i-u7sasgor/dump -o /var/lib/lx

[2016-04-25 16:36] xemul commented on #147
@chenhaiq you forgot to add option '--irmal-scan-path /lib/firmware' :) Thus criu doesn't look into /lib/firmware for fsnotify inodes at all.

[2016-04-25 18:08] washraf commented on #153
I tried these options with an Ubuntu image running a very simple count to infinity script.
Its taking forever to checkpoint and to restore (restoring for 5 mins till now).
Have you done any experiments or benchmarks for these operations ?

p.s. I am using a virtual machine running.

[2016-04-25 19:15] washraf commented on #153
**Apparently it doesn't restore the process**
This is the Steps i did was as follows:

1. root@ubuntu:~/myubuntutest# runc start walid
2. root@ubuntu:~/myubuntutest# runc exec walid ps

[code]

3. root@ubuntu:~/myubuntutest# runc exec walid /script.sh
4. root@ubuntu:~/myubuntutest# runc exec walid ps

[code]

5. root@ubuntu:~/myubuntutest# runc checkpoint walid

6. root@ubuntu:~/myubuntutest# runc

[2016-04-26 00:42] chenhaiq commented on #147
added '--irmap-scan-path /lib/firmware'.
[dump4](https://pek3a.qingstor.com/oc-storage/dump4.log)

[2016-04-26 05:03] datawolf commented on #150
@0x7f454c46 ping, any progress about this bug?

[2016-04-26 08:31] xemul commented on #147
@chenhaiq , thank you :) Now the /lib/formware is resolved, next unseen handle is 0x2d:0x1106923
:\

Would you find one on disk as you did for /lib/firmware?

@avagin , @tych0 , we need some better way of resolving inodes to paths. Any ideas?

[2016-04-26 09:31] 0x7f454c46 commented on #150
@datawolf I'm on it, will give a reply/patch today.

[2016-04-26 10:11] chenhaiq commented on #147
@xemul the handle 0x1106923 is not a file. It is "anon_inode:inotify"

[2016-04-26 10:41] xemul commented on #147
@chenhaiq I meant the same as for the /lib/firmware. There's an inode 0x1106923 on device 0x2d (which is presumably /). Would you find one's path using the debugfs as Tycho suggested?

[2016-04-26 14:47] chenhaiq commented on #147
[dump5](https://pek3a.qingstor.com/oc-storage/dump5.log)

The lxc instance for dump4 was destroyed. I created another dump log (with --irmap-scan-path /lib/firmware) to explain those inode handles. They can not be found by debugfs and are "anon_inode:inotify".

For example: in dump5, the last 5 errors:
[code]
Their process id is 3724, which is NetworkManager. I can not find them in file system, be

[2016-04-26 15:12] tych0 commented on #147
On Tue, Apr 26, 2016 at 01:31:46AM -0700, Pavel Emelyanov wrote:

After talking about this problem with @hallyn, he suggested finding
some way to call `d_find_alias` from userspace, which should give us a
path (which we could stat for a sanity check). I'll see if I can
figure out a way to call this function in the existing code, but we
many need some small kernel patch to expose it.

[2016-04-26 18:07] 0x7f454c46 commented on #150
Ok, so the patch I did was ok, except ARCH filter should be not with arm64, but with aarch64.
Will resend it as it's correct and tested.
It took a time to set aarch64 environment, so the restore problem isn't yet fixed.
And got another thing, that prevent dumping, so I'll take a look on all this closer tomorrow:
[code]

[2016-04-26 20:33] xemul commented on #147
@tych0 d_find_alias can report back so called "anonymous dentry" -- the one without a name :(

[2016-04-26 20:47] xemul commented on #147
@chenhaiq , the messages "handle ... cannot be opened" mean that the dev:ino in question will be looked up in the irmap. All the handles you mention except the last one are found in it and are finally opened. The only one that is missing is the last one -- 0x39:0x20437f9.

Next, what you see in /proc/pid/fd/fdinfo is devices and inode numbers that are being watched by the descriptors in question -

[2016-04-27 06:26] chenhaiq commented on #147
0x39 is the mount point for overlay. I can not find inode with id of 0x20437f9 in it.
I am using kernel 4.4.0-21-generic (ubuntu 16.04), and able to compile the kernel and boot it.

[2016-04-27 10:15] xemul commented on #147
OK, here's the patch against 4.4, let's try to checkpoint the stuff again, but right after it -- look into dmesg. Kernel will (should) print info about the inode read from inotify's fdinfo file

    diff --git a/fs/notify/fdinfo.c b/fs/notify/fdinfo.c
    index fd98e51..742c50b 100644
    --- a/fs/notify/fdinfo.c
    +++ b/fs/notify/fdinfo.c
    @@ -95,6 +95,22 @@ static void inotify_fdinfo(struct

[2016-04-27 16:20] chenhaiq commented on #147
error:
[code]
kernel log:

[code]

[2016-04-27 16:34] xemul commented on #147
OK, so presumably the inode 0x2c:0x5005 is the one that cannot be opened and resolved. According to dmesg this is an _alive_ inode (link count is 1) with standard flags and state. The name of the inode in question is "hostname". Hm... Presumably this is /etc/hostname, but this is not guaranteed :)

Would you do

find / -name hostname

over the container's root and check these file's dev:ino pairs?

[2016-04-27 22:21] avagin commented on #147
inotify fdinfo contains "real" inode numbers:
[code]

stat() calls ovl_getattr and shows inode numbers from an underline file system.
[code]

[2016-04-27 22:41] tych0 commented on #147
Hi avagin,

Is your reply in reference to how to do inode->filepath mapping? I don't understand what to stat in this case to get the filepath out of the real inode once we have it.

[2016-04-28 00:15] avagin commented on #147
FYI: inotify-s doesn't work for files on overlayfs
https://gist.github.com/avagin/a70a68bee80e72643389dc3e793a5382

[2016-04-28 00:56] avagin commented on #147
I think this issue should be fixed in kernel. What do you think about this patch:
https://github.com/avagin/linux-task-diag/commit/db3bf205180524a4829b49d80bcbc5a917518f11

[2016-04-28 02:10] chenhaiq commented on #147
@xemul
There are 4 files with name of hostname. You can find inode in below:

/etc/hostname             0xC79F6
/usr/share/doc/hostname   0xA009
/bin/hostname             0x100027
/proc/sys/kernel/hostname 0xCC55D

[2016-04-28 02:26] avagin commented on #147
@chenhaiq, can you compile a kernel with https://github.com/avagin/linux-task-diag/commit/db3bf205180524a4829b49d80bcbc5a917518f11  and try to dump the container on this kernel. It works for me.

[2016-04-28 07:05] avagin commented on #147
My patch is wrong, because inode numbers are not permanent in this case. Probably we need to modify code to print correct inode numbers in inotify fdinfo files.

[2016-04-28 10:04] xemul commented on #147
@avagin "correct" is not the underlying one ;)

[2016-04-28 10:06] xemul commented on #147
@avagin for inode number to permanent is not ... critical for this case. We only need stat() to report the overlayfs' inode instead of the underlying one. So you patch should help the issue, though it's not 100% correct.

[2016-04-29 05:05] chenhaiq commented on #147
@avagin your patch works for me with option "--irmap-scan-path /lib/firmware"

Why it has error with /lib/firmware directory?

[2016-04-29 06:10] avagin commented on #147
@chenhaiq do you ask why you need to specify this option? It's because open_by_handle() doesn't work for overlayfs files and criu has to search files by inode numbers in the irmap cache. You can find more information about irmap cache here: https://criu.org/Irmap
criu has a set of predefined paths to build irmap cache: https://github.com/xemul/criu/blob/master/criu/irmap.c#L57. If you have inotify

[2016-04-29 06:17] chenhaiq commented on #147
@avagin Do you mean that all applications depended on inotify-s can not be dumped unless irmap cache contain the file of inotify-s?
This sounds like a huge limitation of using criu with overlayfs.

[2016-04-29 06:35] avagin commented on #147
overlayfs is in development now. It doesn't look like a production ready solution.

My patch will not be accepted into the kernel in this form, so we can say that criu can't dump inotify-s with files on overlayfs. Could you report about this problem to overlayfs developers? I think stat() and inotify fdinfo files should report the same inode numbers for a file.

[2016-04-29 08:46] chenhaiq commented on #147
@avagin did you involve Miklos Szeredi for this issue? I found "CC: Miklos Szeredi" in comment of your kernel patch.

[2016-04-29 10:17] xemul commented on #147
@chenhaiq

Yes, this is a big problem for CRIU.

Inotifies are attached to files using paths, but then the path information is lost and we only have the inode number at hands. And there's not easy way to get the path back. The irmap is the best workaround we have so far -- it scans for pre-hinted paths looking for the inode in question. And list of pre-hinted paths is quite incomplete. We try to k

[2016-04-29 18:16] 0x7f454c46 commented on #150
So the problem is that gcc v5.3 creates relative relocs for `vdso_symbols` array.
That seems to be already known problem: https://lists.openvz.org/pipermail/criu/2015-October/022453.html
I'm not really sure, how to avoid relocation of this array.
Seems like the best solution will be porting compel to aarch64.
Maybe Christopher Covington could help with a workaround before that happens?

[2016-05-04 07:48] datawolf commented on #150
@0x7f454c46 I use gcc v4.9.2, and it can dump OK.

[code]

But the restore run failed. Could you please help to solve the restore failed problem?

the tail of the restore.log is:

[code]

[2016-05-04 12:06] washraf opened #154 "Unkown file lock"
I am using criu with runc and after a couple of checkpoint and restarts this error appears.
$ tail -13 /run/runc/walid/criu.work/dump.log
[code]
The containers runs a count to infinity script that writes to a file every second. and the checkpoint doesn't work again till i delete this file.

[2016-05-04 15:31] xemul commented on #154
Can you attach full dump.log from the failed run?

[2016-05-04 16:05] washraf commented on #154
(00.000048) mnt: Added /sys/fs/cgroup/cpuset:/sys/fs/cgroup/cpuset ext mount mapping
(00.000064) mnt: Added /sys/fs/cgroup/cpu:/sys/fs/cgroup/cpu ext mount mapping
(00.000066) mnt: Added /sys/fs/cgroup/cpuacct:/sys/fs/cgroup/cpuacct ext mount mapping
(00.000067) mnt: Added /sys/fs/cgroup/memory:/sys/fs/cgroup/memory ext mount mapping
(00.000069) mnt: Added /sys/fs/cgroup/devices:/sys/fs/cgroup/dev

[2016-05-04 16:19] xemul commented on #154
Ah, got it. It's actually a duplicate for #39

[2016-05-04 16:24] washraf commented on #154
Could you explain the reason of the error ?

[2016-05-04 16:27] xemul commented on #154
There are several types of locks in Linux. 4 if I'm not mistaken -- locks, posix locks, ofd locks and leases. CRIU only supports first two types. And there's a lease lock held on a file in your case.

[2016-05-04 17:01] washraf commented on #154
Could the fact that i am using an external NFS storage make such locking, if so what makes it faults some times and some times not ??

[2016-05-04 17:05] xemul commented on #154
This is a problem with old kernel API -- it only provided locks info globally and criu failed sometimes when unrelated task used unsupported lock. On newer kernels (4.1 and above) the info about locks is shown per-process so we can (and do) use smarter decision making.

[2016-05-05 09:25] carnil opened #155 "criu 2.1: fails to build: ld: unrecognized option '-Wl,--wrap=nla_parse,--wrap=nlmsg_parse'"
Hi

I noticed this while finishing the packaging of criu 2.1 for Debian. After installing the required build dependencies, in current criu master at eb53f9beae27c67af1087e67544693b70116b52e:

[code]

From the Debian build:
[code]

[2016-05-05 10:59] xemul commented on #155
Cc @cyrillos

[2016-05-05 11:01] cyrillos commented on #155
which ld version is it?

[2016-05-05 11:40] cyrillos commented on #155
There was a bug in libnl-3 so we wrap undefined nla_parse and nlmsg_parse with own implementation and depend on ld to resolve the symbols. Thus we require ld to be able to handle it. As far as I know ld (from binutils) supports it from the very long ago.

[2016-05-05 11:45] cyrillos commented on #155
Ah, I seems I got what you mean. Could you please try the patch
https://lists.openvz.org/pipermail/criu/2016-May/028137.html

[2016-05-05 12:14] carnil commented on #155
@cyrillos: yes that seems to resolve the issue. Thanks a lot.

[2016-05-05 12:15] carnil commented on #155
I will cherry-pick that commit for the Debian build

[2016-05-05 13:23] cyrillos commented on #155
Thanks for testing!

[2016-05-06 12:19] #155 closed

[2016-05-06 12:20] xemul commented on #154
@washraf have you had chance to try on newer kernel?

[2016-05-06 12:22] washraf commented on #154
No, You can close it till i get back to you.
Thanks for your time :)

[2016-05-09 22:48] washraf commented on #154
I have tried it and It works without any error. Thanks very much.
I will close this issue, I have another and I will open another issue with it :D

[2016-05-09 22:48] #154 closed

[2016-05-09 22:54] washraf opened #156 "runc checkpoint in deattached mode"
when in run a runc container in deattached mode
`$ sudo runc start -d walid `
and then try to checkpoint it
`$ sudo runc checkpoint walid`
I get this error
[code]
I know its related to #104 and #139 but i can't find the relation or how to fix it

[2016-05-10 01:58] avagin commented on #156
@washraf Could you show a config file for this CT. Does it contain anything about tty, terminal, console?

[2016-05-10 02:23] washraf commented on #156
"terminal": false

[2016-05-10 02:46] avagin commented on #156
[code]
Could you try this command to run a container?

[2016-05-10 09:57] washraf commented on #156
It worked, thanks.
But what difference that it makes redirecting the stdin/out to /dev/null if I don't have a terminal.

[2016-05-10 17:51] 0x7f454c46 commented on #150
@datawolf, could you test it with the following patch: https://lists.openvz.org/pipermail/criu/2016-May/028247.html

[2016-05-11 09:13] datawolf commented on #150
@0x7f454c46 It works. Thank you.

[2016-05-11 09:42] 0x7f454c46 commented on #150
@datawolf thanks for testing :)

[2016-05-11 14:30] #150 closed

[2016-05-11 22:40] avagin commented on #156
I think it's a bug of runc, because a container doesn't detach from a current terminal.

[2016-05-13 21:19] avagin opened #157 "Suspicious implicit sign extension: "hdr->e_shstrndx" with type "unsigned short""
[code]

[2016-05-13 23:39] avagin opened #158 "36. leaked_storage: Variable cursor going out of scope leaks the storage it points to."
[code]
Cc: @tych0

[2016-05-15 14:27] avagin opened #159 "FAIL: bridge.c:76: can't bind (errno = 99 (Cannot assign requested address))"
https://ci.openvz.org/job/CRIU/job/CRIU-snap/branch/master/21/consoleFull
[code]

[2016-05-16 17:52] avagin opened #160 "Can't read net/ipv6/conf/default/stable_secret: Input/output error"
[code]
To: @Snorch

[2016-05-17 00:24] tych0 commented on #158
After looking at all of these, I think that they're all false positives. `info` doesn't leak, because it's prepended to `infos`, which is freed at the end of the function if necessary. `cursor` doesn't leak because it's a pointer to this same linked list.

Does that make sense?

[2016-05-17 00:27] avagin commented on #158
I read this code too and haven't found a path where it can be leaked. Let's close this issue. @tych0, thank you.

[2016-05-17 00:29] tych0 commented on #158
Great, thanks @avagin

[2016-05-17 10:00] 0x7f454c46 commented on #157
Well, here are explicit checkups __ptr_struct_oob() of dereferenced pointers.
But anyway, I'll review those warnings and add casts if needed.

[2016-05-18 05:51] #152 closed

[2016-05-18 10:26] Snorch commented on #160
These error message for stable_secret sysctl need to be silenced, as it is valid behavior to fail to read it, if it for instance was uninitialized. Patch sent "[PATCH] net/sysctl: silence read error in case of CTL_FLAGS_READ_EIO_SKIP" to address these issue.

[2016-05-19 23:48] avagin opened #161 "crit: netdev-9.img decode fails"
https://ci.openvz.org/job/CRIU/job/CRIU-crit/branch/criu-dev/282/console
[code]

[code]

[2016-05-19 23:50] avagin commented on #161
[code]

[2016-05-20 00:12] avagin commented on #161
The following patch helps. @Snorch, could you look at this issue?
[code]

[2016-05-20 11:28] Snorch commented on #161
Sting field sysctl_entry.sarg has wrong length in protobuf encoding in netdev-9 image, according to https://developers.google.com/protocol-buffers/docs/encoding :

In netdev-9.img binary representation of sarg field is: "1a 2c 32 36 30 37 3a 66 30 64 30 3a 31 30 30 32 3a 30 30 35 31 3a 30 30 30 30 3a 30 30 30 30 3a 30 30 30 30 3a 30 30 30 34 0a c0 f4 a7 01"
Field key is 0x1a - means type 2(Length-

[2016-05-20 17:28] avagin opened #162 "criu dump hangs up"
[code]

[code]

[2016-05-20 17:28] avagin commented on #162
[code]

[2016-05-20 17:33] avagin commented on #162
[code]

[2016-05-20 17:34] avagin commented on #162
Looks like the 30883 process has not stopped on a breakpoint.

[2016-05-20 17:56] avagin commented on #162
[code]

[2016-05-20 18:06] avagin commented on #162
[code]

[2016-05-20 18:07] avagin commented on #162
[code]

[2016-05-20 18:11] avagin commented on #162
[code]

[2016-05-20 18:30] avagin commented on #162
[code]

[2016-05-20 18:32] avagin commented on #162
We can set that a breakpoint is set correctly and it has not been triggered (DR_STATUS = 0)

[2016-05-20 20:30] avagin commented on #162
@0x7f454c46 @cyrillos , could you take a look at this issue?

[2016-05-20 20:46] cyrillos commented on #162
will do, thanks

[2016-05-20 21:36] 0x7f454c46 commented on #162
Sure.

[2016-05-21 01:54] avagin opened #163 "criu isn't recompiled after changing criu/arch/x86/crtools.c"
[root@fc22-vm criu]# touch criu/arch/x86/crtools.c
[root@fc22-vm criu]# make
make[1]: Entering directory '/root/git/criu'
make[1]: Leaving directory '/root/git/criu'
make[1]: Entering directory '/root/git/criu'
make[1]: 'images/built-in.o' is up to date.
make[1]: Leaving directory '/root/git/criu'
make[1]: Entering directory '/root/git/criu/criu'
make[2]: Entering directory '/root/git/criu/criu'
m

[2016-05-21 10:19] xemul commented on #163
Cc @cyrillos

[2016-05-21 10:47] cyrillos commented on #163
The fix is sent out. Thanks for report.

[2016-05-23 06:35] avagin commented on #162
Here is a reproducer. It should be executed a few times concurrently.
https://gist.github.com/avagin/3c9e2d30b7ffac6dbc31e7f1bb2b61f8

[2016-05-23 11:58] 0x7f454c46 commented on #162
Does it depend on hw/kernel vers?
[code]

[2016-05-23 12:05] cyrillos commented on #162
Same here, ran them on two machines and it didn't trigger.

[2016-05-23 14:52] avagin commented on #162
https://asciinema.org/a/34n50nn9hirtld5lnzmgt5svl

I reproduced this bug on my laptop and on the fitlet (amd64).  You need to wait a few minutes.

[2016-05-23 17:04] cyrillos commented on #162
While it passed on 3.10 kernel series, on my laptop with 4.4.9-300.fc23.x86_64 it triggered. It took ~ 5 min to trigger.

[2016-05-23 17:07] #160 closed

[2016-05-23 17:08] #161 closed

[2016-05-23 17:08] #163 closed

[2016-05-23 17:09] #158 closed

[2016-05-23 17:12] avagin commented on #162
@xemul You can add the kernel label. The problem isn't in criu. I think we need to disable logic about breakpoints in criu, before it will not be fixed in kernel and backported in stable kernels.

[2016-05-23 17:32] avagin opened #164 "linux-next: netns-dev.c:266: Option "/proc/sys/net/ipv6/conf/lo/hop_limit" changed from 1968081659 to 64"
======================= Run zdtm/static/netns-dev in ns ========================
Start test
Test is SUID
./netns-dev --pidfile=netns-dev.pid --outfile=netns-dev.out
Run criu dump
=[log]=> dump/zdtm/static/netns-dev/31/1/dump.log
------------------------ grep Error ------------------------
(00.081310) Error (sysctl.c:135): Can't read net/ipv6/conf/all/stable_secret: Input/output error
-------------

[2016-05-23 17:32] avagin commented on #164
https://ci.openvz.org/job/CRIU/job/CRIU-linux-next/241/console
To: @snorch

[2016-05-24 11:38] #156 closed

[2016-05-24 14:26] washraf opened #165 "runc Restore Network"
I've created a redis container and exported its network via [netns](https://github.com/jfrazelle/netns) and to enable it to create network I create a prerestart hook.
When I Checkpoints a container it does it just fine.

My current problem is it could not restore the network back and this is the error I got
[code]
I am using ubutu 14 with kernel 4.2.0-35-generic

[2016-05-24 20:30] avagin commented on #164
[PATCH] zdtm/netns-dev: restrict hop_limit sysctl setting to range [1;255]

[2016-05-24 23:25] avagin commented on #165
You need to set CriuOpts.EmptyNs = syscall.CLONE_NEWNET

[2016-05-24 23:39] washraf commented on #165
Where to put such options ?

[2016-05-25 00:41] avagin commented on #165
container.Restore(process *Process, criuOpts *CriuOpts)
https://github.com/opencontainers/runc/blob/master/libcontainer/container_linux.go#L85

[2016-05-25 03:08] washraf commented on #165
Can't I Set it the runc checkpoint/restore command ??

[2016-05-25 13:51] #164 closed

[2016-05-25 16:10] avagin commented on #162
http://www.gossamer-threads.com/lists/linux/kernel/2444358

[2016-05-25 16:11] avagin commented on #162
This bug was fixed in the v4.5 kernel.

[2016-05-25 16:13] #157 closed

[2016-05-25 16:55] xemul commented on #162
Should we handle this in criu sources somehow? We're kinda supporting 3.11.

[2016-05-25 17:13] avagin commented on #162
We don't know where it was broken and where is was fixed exactly. I have an reproducer and I tried to bisect a commit twice without success.

I know that rhel7 doesn't have this bug. I recommend to check Ubuntu LTS kernels and forget about this bug.

Cc: @tych0

[2016-05-25 17:28] 0x7f454c46 commented on #162
Hmm, how can we for sure know that the problem is gone?
I mean, it may happen more rarely because of some other patch's side-effect.
I don't mean anything, it's not CRIU bug anyway, just my 5 cents.

[2016-05-25 17:45] avagin commented on #162
@0x7f454c46 5 cents isn't enough;). Can you take my reproducer and try to bisect a commit which fixed this problem. I know that the bug exists in v4.4 and was fixed in v4.5. I think if we found the commit where it was fixed, we will be able to understand where it appeared.

[2016-05-25 18:06] 0x7f454c46 commented on #162
@avagin and we could tag it stable then. Yep, I'll try to help you with this.

[2016-05-25 18:28] avagin commented on #165
Can you try out this patch https://github.com/avagin/runc/commit/d914bf5852ce45795ead8bc5ca1dd1a939f67d74

[2016-05-25 18:39] avagin opened #166 "criu dump kills a process in a error case"
[code]

[code]

[2016-05-25 19:14] tych0 commented on #162
On Wed, May 25, 2016 at 10:21:04AM -0700, Andrew Vagin wrote:

Ubuntu 16.04 is the only distro we support CRIU on, and it's got a 4.4
kernel :(

If we identify a kernel commit that fixes this and it's not too
invasive, I can have it backported to the 16.04 kernel.

[2016-05-25 19:25] avagin commented on #166
I found this issue when I execute runc checkpoint and I run a busybox container.
EINTR is returned from nanosleep and the sleep tool  from busybox doesn't return the system call.

[2016-05-25 19:25] #166 closed

[2016-05-25 20:59] tswift242 opened #167 "Support restoring multiple copies of the same container"
I'm using the experimental Docker build with C/R support to restore multiple copies of the same container on the same host. I was having networking issues when trying to restore a second container after having already restored one copy, and realized it was because the IP address in the criu image did not match the container's address. The IP addresses in the criu image stay the same (of course), b

[2016-05-26 01:06] washraf commented on #165
[code]

[2016-05-26 01:21] avagin commented on #165
Did you cherry-pick only this commit? Can you compile runc without it?

[2016-05-26 01:31] washraf commented on #165
[code]
And It gives the same error
When I use the following
[code]

[2016-05-26 01:34] washraf commented on #165
It now builds
I will try it and Report back to you :+1:

[2016-05-26 01:49] washraf commented on #165
I tried to find the netns for the container to send it as an argument and it fails
[code]
Also what should be the send value
root@ubuntu:/containers/redis# runc checkpoint --empty-ns `what should be the value` redis

[2016-05-26 03:54] avagin commented on #165
"--empty-ns network" means that criu doesn't have to restore a network namespace, it will be restored from a hook

[2016-05-26 19:08] avagin opened #168 "[master] zdtm/static/socket-tcpbuf{,6}-local fails"
https://ci.openvz.org/job/CRIU/job/CRIU-iter/branch/master/40/console
[code]

[2016-05-26 19:12] avagin commented on #168
[code]

[2016-05-26 19:18] avagin commented on #168
packets were dropped in tcp_validate_incoming()

[code]
Packets were out of window ([rcv_wup, rcv_nxt])

[2016-05-26 19:58] avagin commented on #168
seq is set in  tcp_acceptable_seq()
[code]

A window size after restore is smaller than it was before dump

[2016-05-27 01:32] washraf commented on #165
Thanks very much it now works ... You can close the issue :+1:

[2016-05-29 11:16] kikosha opened #169 "Segmentation fault in libnl-3.so when dumping a process"
Produced in criu 2.2, trying to dump a process that runs inside of a container.
Here is the log (v4) and the backtrace at the segfault:
'
(00.000014) Probing sock diag modules
(00.000073) Done probing
Detaching after fork from child process 13294.
Detaching after fork from child process 13295.
(00.004839) ========================================
(00.004850) Dumping processes (pid: 4960)
(00.004854

[2016-05-30 00:35] avagin commented on #169
[code]

[code]

[2016-05-30 02:00] avagin commented on #169
What is a kernel version here?

[2016-05-30 02:29] avagin commented on #169
If you can reproduce this issue, could you collect strace for criu dump?
strace -fs 256 -o /tmp/strace.out criu dump ....

[2016-05-30 09:37] xemul commented on #167
:) Yes, the message can be improved. Log messages are not cut in stone, so feel free to update them the way you think they should be.

Yes, this would be good to have. We already have the --cgroup-root option that replaces cgroups root paths from image onto something else. Having something generic enough to substitute arbitrary stuff would be nice. I can't say whether us, Virtuozzo, will implement

[2016-06-01 17:04] avagin opened #170 "ppc: Error (shmem.c:165): Sysv shmem 0 with tail hole not supported"
[code]

[2016-06-01 17:05] avagin commented on #170
https://ci.openvz.org/job/CRIU/job/CRIU-ppc64le/branch/criu-dev/125/console

[2016-06-01 20:15] avagin opened #171 "FAIL: shm-mp.c:51: PROT_WRITE rejected"
[code]
https://ci.openvz.org/job/CRIU/job/CRIU-dump-only/branch/criu-dev/362/consoleFull

[2016-06-08 23:41] Vallari-Mehta commented on #6
I am trying to build docker from following source: https://github.com/boucher/docker.git and using the branch: /cr-combined. But I do not see docker checkpoint option.

![screen shot 2016-06-08 at 6 37 08 pm](https://cloud.githubusercontent.com/assets/3595018/15914633/24c1f750-2da8-11e6-83dd-75e653488729.png)

I am using the command make DOCKER_EXPERIMENTAL=1 build to build the docker
And  then ma

[2016-06-09 13:25] xemul commented on #170
Cc @cyrillos

[2016-06-09 13:25] xemul commented on #171
Cc @cyrillos

[2016-06-09 13:26] xemul commented on #6
Please, open another issue if you have problems. This one is closed already.

[2016-06-09 13:37] cyrillos commented on #170
yup, once I manage to access the machine will work on the issue

[2016-06-09 21:34] hixichen commented on #62
I faced the same issue with CRIU 2.2

Log shows , the state get from the socket is 8.
if (info.tcpi_state != TCP_CLOSE) {
			pr_err("Socket state %d obtained but expected %d\n",
			       info.tcpi_state, TCP_CLOSE);
			goto err;

**Socket state 8  obtained but expected 7"**
as the code set  sk->state = TCP_CLOSE;
after restore, the socket cannot be used anymore.

[2016-06-10 10:29] xemul commented on #62
Yup :(

[2016-06-10 16:26] KKoukiou opened #172 "Criu dump fails (when mounts exist with nsroot= as option)"
I am trying to dump a linux container, but dump fails with:

That is mounted like this:
` name=systemd on /run/lxcfs/controllers/name=systemd type cgroup (rw,relatime,name=systemd,nsroot=/)`

This error started since that nsroot field appeared in cgroup mounts, and I think it is related to this fix http://lxr.free-electrons.com/source/Documentation/cgroups/cgroups.txt?v=3.15.
I provide attached th

[2016-06-10 17:03] xemul commented on #172
Cc @tych0 and @avagin

[2016-06-10 17:18] tych0 commented on #172
On Fri, Jun 10, 2016 at 09:26:30AM -0700, Katerina Koukiou wrote:

Hmm, both of these should have
20f5024ac9cca9c5ea3faa694e89342ff0bb7661, which should fix this issue.

Do you not have a name=systemd controller on the host?

[2016-06-10 18:48] tswift242 opened #173 "Restore fails when using symlink'd image files"
I'm doing C/R of a Docker container. When I create a "copy" of the criu image where every file in the copy image directory is a symlink to the corresponding original image file, and use this copy image for the restore, the restore fails with:

"Error (cr-restore.c:752): Unexpected EOF 1".

This happens early on, during the post-setup-namespaces scripts phase. The full restore.log is attached. If I

[2016-06-10 23:15] avagin commented on #173
openat(image_dir_fd, image_name) is used to open images from another mount namespace. This way doesn't work for absolute symlinks.

[2016-06-11 07:29] cyrillos commented on #171
https://github.com/xemul/criu/commit/63b86c19e12fb795fbca78f7ebf2ffedee7fb94a

[2016-06-11 15:08] KKoukiou commented on #172
Well, it was my fault, not a criu bug. I had done something odd when starting the container, maybe with the configuration; I didn't mention it before but, I had used a customized libvirt-lxc binary  to start the container, and not lxc tools (lxc-start). Anyway, I cannot reproduce the bug now, so I mark the issue as closed.
Sorry for that,
Katerina

[2016-06-11 15:08] #172 closed

[2016-06-15 03:44] chenhaiq opened #174 "Can not dump lxc container with a simple loop script"
dump failed for a lxc container running a script from https://criu.org/Simple_loop
[code]
[full log](https://pek3a.qingstor.com/oc-storage/dump.log)

criu is executed by lxc-checkpoint in:
[code]

The process 25861 is test.sh:
[code]
it is a script like this:
[code]

My env:
[code]

[2016-06-15 09:39] xemul commented on #174
Cc @tych0

[2016-06-15 15:44] tych0 commented on #174
Hi Chen,

On Tue, Jun 14, 2016 at 08:44:18PM -0700, Chen Hai Quan wrote:

Interesting, I would have expected you to get the error about not all
tasks being a child of init, but somehow I can't find where CRIU
generates that error message.

In any case, lxc-attach runs tasks not as the child of init, and I
guess it uses unshare() instead of setns() to match the cgroup ns for
the container, which is

[2016-06-15 15:57] chenhaiq commented on #174
@tych0 yes, it works if I run the script via ssh.

[2016-06-15 22:00] avagin opened #175 "criu doesn't dump anon shared memory vma-s if it executed over a non-root user"
[code]

[2016-06-15 23:40] Vallari-Mehta opened #176 "Trying to checkpoint mysql container criu failed: type NOTIFY errno 0. Docker version 1.10.0-dev"
docker run --name mysql2 -e MYSQL_ROOT_PASSWORD=root -d mysql
docker checkpoint mysql2

Error:
ERRO[1237] Handler for POST /v1.22/containers/mysql2/checkpoint returned error: Cannot checkpoint container mysql2: criu failed: type NOTIFY errno 0

docker version

Client:
 Version:      1.10.0-dev
 API version:  1.22
 Go version:   go1.5.2
 Git commit:   cec56b2
 Built:        Fri Feb 12 23:11:36 2016

[2016-06-15 23:43] avagin commented on #176
What is the kernel version here?

[2016-06-15 23:47] avagin commented on #176
Could you show an output for "sudo criu check --all"?

Here is a similar problem: https://lists.openvz.org/pipermail/criu/2014-April/013425.html

[2016-06-16 00:04] Vallari-Mehta commented on #176
criu check --all command is not supported. Can I provide you specific details?

criu check -V
Version: 2.0

Kernel version 3.12.49-11
SUSE Linux Enterprise Server 12 SP1

[2016-06-16 00:14] avagin commented on #176
This kernel is too old.
AIO mappings are supported starting with 3.19.

e4a0d3e72	aio: Make it possible to remap aio ring	3.19
https://criu.org/Upstream_kernel_commits

[2016-06-16 00:31] Vallari-Mehta commented on #176
Is there a workaround?

[2016-06-16 00:35] avagin commented on #176
It's what I found in the mail list:
[code]

[2016-06-16 12:26] xemul commented on #175
Yup. Due to /proc/pid/map_files :(

[2016-06-16 12:26] #171 closed

[2016-06-16 12:27] xemul commented on #121
Have we fixed that already?

[2016-06-16 15:05] avagin commented on #175
The problem is that CRIU skips shared mappings silently and we found that only after restore, when processes start seg-faulting.

[2016-06-16 15:17] xemul commented on #175
Silently?! The dump_shmem() tries to open /proc/pid/map_files and fails.

[2016-06-16 15:17] xemul commented on #175
There's another problem, the so called "greedy mode" of pagemap silently skipped all the pages on dump, not only anon shared, but also anon private :) But this mode is removed from criu.

[2016-06-16 20:41] hixichen commented on #62
To follow up:
My application didnot close the socket FD after finishing the task.
Then the socket was left  in state 'TCP_CLOSING'.
For my case, close the socket will bypass the issue.

[2016-06-17 19:22] Vallari-Mehta commented on #176
I was able to checkpoint and restore my MySQL container using your suggestion. :)
Thank you so much avagin. Really appreciate your help.

[2016-06-21 18:49] #176 closed

[2016-06-22 13:59] ayourtch opened #177 "Stale RA-derived IPv6 default route stuck in the routing table after live migration"
This looks to me a bug in iproute2 save/restore code, but I am opening an issue here to discuss the best approach, since the iproute2 fix might not be trivial logistically.

iproute2 save/restore does not dump the lifetimes of the routes.  As a result, the default IPv6 route which is derived from IPv6 Router Advertisements, gets restored upon migration as static, and the kernel never times it out.

[2016-06-22 14:08] tych0 commented on #177
On Wed, Jun 22, 2016 at 06:59:16AM -0700, Andrew Yourtchenko wrote:

I can confirm this bug, although I'm not familiar with ipv6 to really
understand how to fix it. I'm happy to help writing patches once we
figure out the best way, though.

Is there any reason you think that fixing it in iproute2 would be
particularly hard? If we can get patches accepted upstream, I can get
them distro-patched int

[2016-06-22 15:58] ayourtch commented on #177
The reason I think it is trickier to deal with this via iproute2 is that it's the netlink message that is missing the attributes, thus any potential patch would need both kernel and userland modifications, I think that would take quite some time ? Also, I am not sure myself what the correct behavior in this case is... I can successfully convince myself in either restoring the route with a timer or

[2016-06-24 23:10] avagin opened #178 "CID 163577 (#1 of 1): Uninitialized pointer read (UNINIT)"
To: @Snorch
[code]

[2016-06-24 23:13] avagin commented on #178
[code]

[2016-06-27 03:59] EddiePi opened #179 "fail to restore jvm with large physical memory"
I have done some test on dumping and restoring jvm with small physical memory. CRIU works well.
But when I'm trying to restore jvm with large physical memory ( 2G ~ 4G), CRIU starts to fail with the following errors.

The first time execute the `restore` command after `dump`, it shows as follow:
`pie: Error (pie/restorer.c:442): Thread pid mismatch 9844/9843`
`pie: Error (pie/restorer.c:488): Rest

[2016-06-27 11:09] xemul commented on #179
Hi,

The first error means, that CRIU couldn't restore the thread's PID, since it was already busy. You can resolve this by unsharing the pid namespace before restoring the tree, or by using the --unshare option of criu (in criu-dev branch currently).

The 2nd error means, that a file (or directory) named tmp/hsperfdata_user/10175 was removed. Probably this is due to error from previous restore. W

[2016-06-27 13:40] EddiePi commented on #179
Hi @xemul , thanks to reply. I cannot solve the first problem by simply unsharing the pid namespace.

before I execute `restore`, I execute `sudo unshare -p --fork` as written in the doc on _criu.org_. But a new problem occur:
`Error (util.c:780): Can't read pme for pid 14: Bad address`

Here is another error information when I tried to restore a jvm with about 2G physical memory without unsharing

[2016-06-28 05:03] avagin opened #180 "memory mappings are restored with incorrect persmissions"
https://ci.openvz.org/job/CRIU/job/criu-patchwork/368//console

[code]

[2016-06-28 10:25] xemul commented on #179
@EddiePi , the "Can't read PME" error appears, because after plain unshare -p --fork you happen to have /proc describing the previous pid namespace. Although there's a bug in CRIU about this (thanks :) ), it's not recommended to have pid namespace unshared w/o mount namespace. I'll fix the documentation, the "unshare -p -m --fork --mount-proc" is recommended instead.

[2016-06-28 10:27] xemul commented on #179
@EddiePi , what do you mean by "some pid appear on both side of the slash"?

[2016-06-28 10:29] xemul commented on #180
Is that the only test that fails like this?

[2016-06-28 10:32] xemul commented on #177
@ayourtch , do I get you right, that there's currently no way to tell temporary routes from static ones in ip r l output?

[2016-06-28 10:33] xemul commented on #62
Cc @avagin

[2016-06-28 12:16] ayourtch commented on #177
No, actually the restored routes are marked as derived from RA, but they do not have the remaining lifetime - so they get stuck forever.

In the lab I've for now I am testing a patched version of criu what calls a callback after the restore which cleans up the offending route, in this fashion:

`ip -6 route | grep -v expires | grep default | sed -e 's/linkdown//g' | xargs -L 1 ip -6 route del`

Bu

[2016-06-28 14:39] EddiePi commented on #179
@xemul Thanks! The process can be restored correctly in the new pid namespace now.

Sorry, I did not make myself clear about "some pid appear on both side of the slash". For example, in the following error information:
pie: Error (pie/restorer.c:442): Thread pid mismatch **32649**/32645
pie: Error (pie/restorer.c:442): Thread pid mismatch 32656/32652
pie: Error (pie/restorer.c:488): Restorer abnor

[2016-06-28 15:13] avagin commented on #180
Yes, only this test fails

[2016-06-29 01:18] avagin commented on #177
The problem is in the kernel. Ussually the format of netlink packages are symetric, I mean that if we request all routes for one namespace and send them back from another clean namespace, the second namespace will have the same set of routes. It's what ip save/restore commands do.

But here is the RTA_EXPIRES attribute, which is used to set a timeout, but the current timeout is shown in the RTA_CA

[2016-06-29 08:34] xemul commented on #72
https://lists.openvz.org/pipermail/criu/2016-April/027507.html

[2016-06-29 14:16] xemul commented on #179
@EddiePi , the pid conflict are indeed confusing :) The thing is that it's enough for a single pid conflict to make the snow-ball effect -- one thread cannot get its pid and occupies some other's one. This other does the same and so on.

The very first pid conflict can happen when you restore into existing pid namespace for any reason, e.g. systemd notices some activity and spawns a thread to chec

[2016-06-30 00:40] avagin opened #181 "alpine: arch/x86/syscalls/syscall32.c:84:74: warning: right shift count >= width of type"
https://travis-ci.org/avagin/criu/jobs/141226345

[code]

[2016-06-30 00:40] avagin commented on #181
[code]

[2016-06-30 01:05] EddiePi commented on #179
@xemul thanks for your explanation! It's really helpful.

[2016-06-30 01:15] avagin commented on #181
gcc -c -O2 -g -Wall -Werror -D_FILE_OFFSET_BITS=64 -D_GNU_SOURCE -fno-strict-aliasing -iquote /criu/criu/include -iquote /criu/images -
iquote /criu/criu/pie -iquote /criu/criu/arch/x86 -iquote /criu/criu/arch/x86/include -iquote /criu/ -I/usr/include/libnl3 -fno-pic -m32 -DCR_NOGLIBC -DCONFIG
_X86_32 arch/x86/syscalls/syscall32.c -o arch/x86/syscalls/syscall32.o

We compile with -m32 (for i386),

[2016-06-30 06:20] avagin commented on #181
Alpine LInux doesn't have the multiarch support. @0x7f454c46, can we do 32-bit compatible C/R to be optional?

[2016-06-30 11:08] 0x7f454c46 commented on #181
Sure we can do 32-bit C/R optional -- adding not only kdat feature that tests kernel for the support, but also adding compile-time test with -m32 and note that build visible to user somehow. I also thought about some refactor and adding CONFIG_COMPAT build definition, so it can go with it.
Did I got you right, is this desired?

[2016-06-30 11:11] 0x7f454c46 commented on #181
So, with this refactor, I can mark it in criu-check like "compiled without multilib support -- no 32-bit C/R" and so we can drop dependency on gcc-multilib compiler and libc-mulitilib, making them optional for 32-bit C/R.

[2016-06-30 14:26] zhichao-cao opened #182 "Is it possible to do the "incremental" restore?"
We want to do the live migration for Docker container, whose checkpoint/restore time should be minimized. According to my test results, the time to restore  1G memory page application is about 1.5 to 2 seconds(restore from NVMe). Is it possible to do the incremental restore? For example continuously put the incremental dump memory pages into memory of Host B but does not resume the application unt

[2016-06-30 15:02] zhichao-cao opened #183 "Can not see incremental effect if page-server is used"
When I use incremental dump with page-server to checkpoint mysql(1GB memory usage), it always send the whole memory pages to page-server(about 1GB page images). So the time for each dump and final dump(no leave-running) is nearly the same time, and there is no incremental effect which is shown in incremental dump without page-server. Mysqlslap is running during the test and memory changes are simi

[2016-07-01 20:15] hartwork opened #184 "[PATCH] Add missing "proto2" syntax marker to .proto files"
Hi!

Please consider to `git-am` the patch attached to address warnings from proto-c of protobuf 3.x.
If this way of sharing patches is inconvenient to you, please let me know.

Best, Sebastian
[0001-Add-missing-proto2-syntax-marker.patch.txt](https://github.com/xemul/criu/files/344110/0001-Add-missing-proto2-syntax-marker.patch.txt)

[2016-07-04 17:16] xemul commented on #182
For memory it's pretty possible https://criu.org/Disk-less_migration

[2016-07-04 17:18] xemul commented on #183
Try to use --prev-images-dir for page-server too.

[2016-07-04 17:22] xemul commented on #184
Yup, patch is applied to criu-dev branch. I'll push one to master soon. But next time, PLEASE, submit patches into the criu@openvz.org mailing list for wider review :)

[2016-07-04 17:22] #184 closed

[2016-07-04 17:25] hartwork commented on #184
I found it at ea7c09e6114ee66f9180bd182f221edeeaa9f773 . Thanks!
I'll keep the mailing list in mind. Best, Sebastian

[2016-07-05 08:17] avagin opened #185 "Page entry address 400000 outside of VMA 7ffd9ba37000-7ffd9ba39000"
[code]

[2016-07-05 08:25] avagin commented on #185
[code]

[2016-07-05 08:35] 0x7f454c46 commented on #185
Thanks, will look.

[2016-07-05 10:26] kikosha opened #186 "Executable file descriptor is closed too early or not duped during restore if executable itself is a --external and inherited"
I dump/restore a process tree that is being executed in a chroot. The root process executable file remains outside of the chroot so I provide it as an external file (`--external file[xxx:xxxxxxx]`). Later, when I try to restore the process I provide this executable as an inherited file descriptor (this file is physically present inside the chroot). By trial and error I found out that I have to pro

[2016-07-05 11:27] xemul commented on #185
pagemap image for 2nd dump (and all next) is unsorted -- holes are written ahead of pages.

[2016-07-05 14:40] zhichao-cao commented on #182
Thanks!

I mean, not only load the page.images to tmpfs, but also "restore them" in the Host B memory pages, but the process will be waken up util the last dump images are ready. For tmpfs, CRIU still needs to do memory copy from from page.images to memory pages for the process, right?

For example, do the Dump1, Dump2, Dump3 and Dump4 in Host A. Before taken the last checkpoint Dump4, the previou

[2016-07-06 05:40] xemul commented on #182
@zhichao-cao , if I get you correctly, you'd also need the feature to "update" the state of not only memory, but also of the process tree itself, open files, sockets, namespaces config and so on. Am I right?

[2016-07-06 05:42] xemul commented on #185
cd63999ecb554b91121a4e3441336d50d1072629

[2016-07-06 05:42] #185 closed

[2016-07-06 14:48] zhichao-cao commented on #182
Hi @xemul. Yes, could we do the operation on previous dumps like "pre-restore" to "update" memory, process tree, file handler, sockets and other stuffs, but does not make the process to "run", until the last dump finished and do the "restore" to finally update all of them and make the process to "run". Just like the mirror process of "incremental dump" with "leave-running", if we can use "leave-su

[2016-07-06 14:48] zhichao-cao commented on #183
@xemul It works, thank you!

[2016-07-07 01:55] avagin opened #187 "var_deref_model: Passing null pointer lpi to lpi_fini, which dereferences it"
[code]

Cc: @Snorch

[2016-07-07 01:58] avagin opened #188 "CID 163749 (#1 of 1): Explicit null dereferenced (FORWARD_NULL)"
[code]

Cc: @0x7f454c46

[2016-07-07 07:47] 0x7f454c46 commented on #188
Heh, that's for compat dumping. Thanks, will look.

[2016-07-07 11:28] ayourtch commented on #177
Sorry for the delay with the reply - took some time to build the harness that fixes up the routing during the live migration, to do more testing "in vivo".

@avagin Restoring the timeouts would work, to some extent. During the interface bring-up after the restore, the host apparently sends Router Solicitation, which gets it to learn the new router - then it will have two of them for some time, and

[2016-07-07 13:56] 0x7f454c46 commented on #188
Ok, I guess, I will refactor parasite_dump_posix_timers_seized() so it will look nicer and fix this bug.

[2016-07-09 17:25] xemul commented on #182
@zhichao-cao , I've got your point. No, currently criu cannot do that, but we'd like to have this feature ourselves :)

[2016-07-09 17:25] #183 closed

[2016-07-09 17:27] xemul commented on #177
OK. Well, methinks that the correct fix would be to make kernel accept timeouts from rtnl messages, so that dumped rtnl messages and restore of them is symmetrical.

[2016-07-10 03:58] ayourtch commented on #177
@xemul - if the kernel accepts timeouts, the NUD will still have to kick in, which might not be fast enough for some scenarios - so the hook might still be useful IMHO..

But yeah the dump/restore symmetricity should definitely be fixed anyway... what is the best way to proceed on that you think ?

[2016-07-10 04:55] xemul commented on #177
@ayourtch, it's to cook the kernel patch and submit one to the netdev@ ;) Presumably it will be ... challenging, I don't see where the RTA_CACHEINFO is considered at restore time at all :\
Would you like to try?

[2016-07-10 16:40] avagin opened #189 "zdtm/static/sigpending FAIL at CRIU pre-dump"
[code]

[code]

[2016-07-10 17:11] avagin commented on #189
Subject: [PATCH] pre-dump: skip dead tasks

[2016-07-11 10:33] xemul commented on #189
Which branch?

[2016-07-11 15:07] avagin commented on #189
@xemul  criu-dev

[2016-07-12 01:55] billpage opened #190 "building on OpenSuse Leap 42.1 - crti.o: unrecognized relocation (0x2a) in section `.init'"
wspage@suse:~/criu> uname -r
4.1.26-21-default

wspage@suse:~/criu> make
...
make[1]: Entering directory '/home/wspage/criu'
make[1]: Leaving directory '/home/wspage/criu'
make[1]: Entering directory '/home/wspage/criu'
make[1]: 'images/built-in.o' is up to date.
make[1]: Leaving directory '/home/wspage/criu'
make[1]: Entering directory '/home/wspage/criu/criu'
Makefile:53: "Couldn't find some of

[2016-07-13 12:02] xemul commented on #190
Cc @cyrillos

[2016-07-13 12:40] cyrillos commented on #190
Will take a look, thanks.

[2016-07-13 14:22] #189 closed

[2016-07-13 14:22] #188 closed

[2016-07-13 14:23] xemul commented on #186
Cc @avagin

[2016-07-13 14:24] #179 closed

[2016-07-13 14:24] #178 closed

[2016-07-13 15:58] avagin opened #191 "ERR: deleted_standalone_unix.c:76: filename "deleted_standalone_unix.test/sock" is too long17:34:38.646: 23: ERR: test.c:212: Test exited unexpectedly with code 1"
https://ci.openvz.org/view/CRIU/job/CRIU/job/CRIU-restore-sibling/branch/criu-dev/563/console

[code]

Cc: @tych0

[2016-07-13 16:09] avagin commented on #191
/var/lib/jenkins/workspace/CRIU/CRIU-restore-sibling/criu-dev/test/zdtm/static/deleted_standalone_unix.test/sock

[2016-07-13 16:12] tych0 commented on #191
Heh, just slightly too long, 112 characters instead of 108 :(. Maybe I'll just rename the test to a shorter filename so it gets a shorter dirname :)

[2016-07-13 18:29] avagin commented on #191
I've renamed the jenkins job.

[2016-07-13 19:28] cyrillos commented on #190
This is not a criu problem but rather libc/binutils
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=808205

[2016-07-13 19:52] tych0 commented on #191
Ok, or we can take the patch I posted, I don't mind either way.

[2016-07-14 10:40] xemul commented on #190
But the original bug is about suse, not debian :)

[2016-07-14 11:04] cyrillos commented on #190
It it about system libs, which started to use new kind of relocations. Note that it has nothing to do with criu itself, it's issue of building environment.

[2016-07-14 11:08] #191 closed

[2016-07-14 11:13] xemul commented on #190
OK. @billpage is there an updated version of binutils available in your setup?

[2016-07-14 14:05] billpage commented on #190
I have

--

wspage@suse:~/criu-2.4> ld -v
GNU ld (GNU Binutils; openSUSE Leap 42.1) 2.25.0
wspage@suse:~/criu-2.4> gcc --version
gcc (SUSE Linux) 4.8.5
Copyright (C) 2015 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

--

which I believe are standard for OpenSuSE

[2016-07-14 14:15] cyrillos commented on #190
libc version please?

[2016-07-14 14:38] billpage commented on #190
Sorry.

wspage@suse:~/criu-2.4> ldd --version
ldd (GNU libc) 2.23
Copyright (C) 2016 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
Written by Roland McGrath and Ulrich Drepper.

On 14 July 2016 at 10:15, Cyrill Gorcunov <notifications@github.com> wrote:

[2016-07-14 14:45] cyrillos commented on #190
does it happen if you try to build some silly "hello work" from command line gcc -o hello hello.c, where hello.c simply does printf("Hello")?

[2016-07-14 16:05] billpage commented on #190
Oh. I am sorry. There is something strange in my system ...

wspage@suse:~> cat hello.c
/* hello.c: display a message on the screen */

#include <stdio.h>

main()
{
        printf("hello, world\n");
}

wspage@suse:~> gcc hello.c
/usr/lib64/gcc/x86_64-suse-linux/4.8/../../../../x86_64-suse-linux/bin/ld:
/usr/lib64/gcc/x86_64-suse-linux/4.8/../../../../lib64/crti.o: unrecognized
relocation (0x2a) in

[2016-07-14 16:25] cyrillos commented on #190
Yes, you need to fixup your build environment first.

[2016-07-15 23:52] koliaskostas opened #192 "Simple dump/restore on docker using external CRIU results in errors"
Is it possible that the page https://criu.org/Docker could be outdated?

My settings
-----------
Kernel: 4.4.0-21-generic
Debian 16.04
CRIU: 2.0
Docker: 1.11.2

costas@ubuntu1:~$ **docker pull debian**
costas@ubuntu1:~$ **sudo ls /var/lib/docker/aufs/mnt/**
_faa276a6aedfba89f60e7f7afd2dd51c43e09c81b8f0b09491a4f83a24d2e7ed_
costas@ubuntu1:~$ **sudo ls /var/lib/docker/aufs/diff/**
_faa276a6aedfba89f

[2016-07-16 09:36] xemul commented on #192
Well, yes, the Docker C/R is changing rapidly and we don't keep up with updating the page.
@boucher, once you have some free time, would you update (or write a new) article on the wiki to help people play with Docker C/R?

[2016-07-17 02:31] koliaskostas commented on #192
@xemul I am also willing to write articles about several CRIU use cases (I registered at the wiki) but so far I have stumbled against this CR Docker scenario and I can't find enough resources to problem solve.

[2016-07-18 12:48] koliaskostas commented on #192
@xemul what it possible to get an opinion on the error, especially the second one?

[2016-07-18 15:52] boucher commented on #192
@xemul I'll take a stab at updating the wiki.

@koliaskostas I haven't really played around with checkpoint/restore from outside of Docker. I'm not sure if that's an actual goal of yours, or just what seemed like the easiest thing to do. If it's the latter, I recommend trying this:

https://github.com/boucher/docker/releases/tag/v1.10_2-16-16-experimental

It contains a pre-built Docker binary tha

[2016-07-18 18:16] boucher commented on #192
Posted some updated info to the wiki.

[2016-07-18 18:21] avagin commented on #186
I think here is a problem that you set the inherite-fd option a few times for the same descriptor (45).

[2016-07-18 20:31] koliaskostas commented on #192
@boucher I am afraid that I have to play with external CRIU to a Docker process because to the best of my knowledge the inline checkpoint/restore options of the experimental Docker do not support incremental checkpoints. That is my ultimate goal. Can you verify that inline c/r in Docker still doesn't support this functionality?

[2016-07-18 20:39] koliaskostas commented on #192
@boucher And the fact that you took time to update the wiki **is much appreciated**. I will dedicate some more time in figuring out the problems with the _external checkpoint restore_ paragraph (which I believe also contain some syntax errors) before I call it a day. In the mean time I would highly appreciate if someone would mention the environment settings so I can possibly reproduce the example

[2016-07-18 20:45] boucher commented on #192
@koliaskostas Although incremental checkpointing isn't supported, you may find that it's not *that* challenging to add. The hardest problem is just coordinating the changes up through the various components. I'd certainly like to see that change myself and would be happy to point you to the right places.

[2016-07-18 20:54] koliaskostas commented on #192
@boucher Oh yes! Please share whatever you think would help. I am trying to reproduce experiments I find on the Internet under the assumption that this is doable out of the box with external CRIU use on a Docker container running Apache. My ultimate goal is to achieve live migration of an Apache server and there are various documents on the wiki page that verify that the general idea is doable. So

[2016-07-18 20:56] boucher commented on #192
You should look at p.haul + docker if your goal is live migration. Or, if you don't actually care that much about Docker specifically, you could look into @marcosnils project https://github.com/marcosnils/cmt/

[2016-07-18 20:57] boucher commented on #192
Again, just without knowing your specific issue, I might suggest getting things working without incremental checkpointing first, since I believe adding that will probably not be your hardest problem.

[2016-07-19 14:14] xemul commented on #192
@koliaskostas , about the errors in logs -- yes, sure. Have you tried the @boucher 's suggestion? If something fails there, I'll be glad to help.

And about live migration -- yes, the p.haul stuff we go (github/xemul/p.haul) is for live migration, but the Docker support is not in the perfect shape there yet.

[2016-07-20 20:29] avagin commented on #181
@0x7f454c46 are you going to fix this issue?

[2016-07-20 21:51] 0x7f454c46 commented on #181
If this is still valid about absent of -m32 support -- yes, I will prepare patches on this/next week on top of Make-fixes patches set, which is currently in the maillist.

[2016-07-23 04:11] koliaskostas commented on #192
@xemul Thanks for willing to help. Yes, I experimented with @boucher suggestion. I decided to keep everything basic. My goal has turned into achieve live migration by using the inline checkpoint/restore functionality of the experimental docker version. As a first step I tried to checkpoint/restore an docker-apache within the same container. I will share my experiences (along with error log files)

[2016-07-25 11:20] Snorch opened #193 "[criu-dev] zdtm/static/helper_zombie_child fails"
https://ci.openvz.org/job/CRIU/view/All/job/CRIU-x86_64/branch/criu-dev/617/consoleFull

    ================== Run zdtm/static/helper_zombie_child in ns ===================
    Start test
    ./helper_zombie_child --pidfile=helper_zombie_child.pid --outfile=helper_zombie_child.out
    Run criu dump
    Run criu restore
    =[log]=> dump/zdtm/static/helper_zombie_child/31/1/restore.log
    -------

[2016-07-25 11:27] Snorch commented on #193
@tych0 @avagin

[2016-07-25 13:07] xemul commented on #192
I think one problem per issue would be better :)

[2016-07-25 13:07] #192 closed

[2016-07-25 16:03] koliaskostas opened #194 "Support transit TCP states"
Goal: Take snapshots of a running apache-docker container every given interval (e.g., every 5 seconds).

Problem: Docker will gladly take checkpoints when there are no requests however, it will respond with an error (_Error response from daemon: Cannot checkpoint container apch-01: criu failed: type NOTIFY errno 0_) when requests occur.

Environment:
Distro --> Ubuntu Server 16.04 (inside a Virtua

[2016-07-26 06:03] avagin commented on #193
Date: Sat, 23 Jul 2016 02:44:52 +0300
From: Andrey Vagin <avagin@openvz.org>
Subject: [PATCH] [v4] restore: handle the case where zombies are reparented

[2016-07-26 12:27] xemul commented on #194
(00.012538) Error (sk-inet.c:152): In-flight connection (l) for 55b9
(00.012599) ----------------------------------------
(00.012604) Error (cr-dump.c:1303): Dump files (pid: 2711) failed with -1

That's known problem. Unfortunately we still don't live migrate TCP connections that are neither CLOSED nor ESTABLISHED.

There's an option called --skip-in-flight that workarounds it by skipping such so

[2016-07-27 16:00] koliaskostas commented on #194
Just to make sure we are on the same page, you mean using --skip-in-light option when using CRIU to docker externally right?

[2016-07-27 17:30] tswift242 opened #195 "CRIU 2.4 regression with restoring unix sockets"
I have a Docker container which I am able to C/R successfully using CRIU v2.3. However, when I use the newly released CRIU v2.4, the restore fails with this error:

"Error (sk-unix.c:1216): sk unix: Can't make usk listen: Invalid argument"

The restore logs up to the point of the error look the same between 2.3 and 2.4, as does the entry in the unixsk image for the problematic socket. The socket t

[2016-07-28 21:23] avagin opened #196 "wait_on_helpers_zombies is not covered by tests"
https://coveralls.io/builds/7166427/source?filename=criu%2Fcr-restore.c#L773

Cc: @tych0

[2016-07-29 10:00] xemul commented on #194
@koliaskostas , yes. Natively AFAIK there's no such option in docker checkpoint action.

[2016-07-29 10:05] xemul commented on #195
Hm...

The socket is created and immediately put into listen state, w/o binding. This is invalid, of course. I blame this commit: 3166032ecb406f0dd6e803c64e46413083736deb, but wonder how we get the unnamed listen socket. Can you show the dump.log file?

[2016-07-29 10:07] xemul commented on #195
Cc @tkhai

[2016-08-01 14:04] #174 closed

[2016-08-01 15:53] tswift242 commented on #195
@xemul Thanks for looking into this. I can't provide the whole dump log, but I am providing all the parts of the log that relate to unix sockets (based on a grep for "unix"). That is attached. Is there anything else I can search for in the dump or restore logs that would be helpful?
[dump-2_4-unixsk.txt](https://github.com/xemul/criu/files/394216/dump-2_4-unixsk.txt)

[2016-08-01 20:27] tkhai commented on #195
Is it reproducible?

[2016-08-01 20:33] tswift242 commented on #195
Yes, this happens for me every time on restore when using CRIU 2.4. I have never seen it when using CRIU 2.3.

[2016-08-01 20:37] tkhai commented on #195
So, could you provide dump log and corresponding restore log?

[2016-08-02 10:05] Fuzzyma commented on #112
I will leave this here:
On ubuntu 14.04 with Kernel 4.2.0-42-generic `criu check --all` prints `Looks good`.
Checkpointing doenst work anyway without `--security-opt seccomp:unconfined`

[2016-08-02 11:04] xemul commented on #112
Cc @tych0

[2016-08-02 11:07] xemul commented on #195
@tswift242 , yes, if you cannot provide full logs and/or images, then at least this would be needed:

1. difference between unix sk image files when using 2.3 and 2.4
2. the decoded entry for the failed socket (both 2.3 and 2.4)
3. dump logs strings about unix for 2.3 and 2.4

I know you've already sent this, but we'll need to match identifiers to each other, so logs and images extractions from th

[2016-08-02 14:24] tych0 commented on #112
Sorry, I'm confused; is the problem with seccomp or something else?

The 4.2 kernel is too old and doesn't have seccomp checkpoint support. You can install the `linux-generic-lts-xenial` kernel to get a newer kernel, though.

[2016-08-02 14:30] Fuzzyma commented on #112
It's only about criu check not reporting this error. It just prints okay and doesn't say that a newer kernel is needed

[2016-08-02 14:44] tych0 commented on #112
Hmm. Where did you get the kernel from? You mention that it doesn't work; does it fail before checkpointing the seccomp filters? I'm wondering if your kernel has the backported patches.

[2016-08-02 14:48] Fuzzyma commented on #112
Can't say from my current place. It was installed via apt get. I think
something like linux-generic-wizy or so. I will check that when I am home.
I wrote down the command I used.

Tycho Andersen <notifications@github.com> schrieb am Di., 02.08.2016, 16:44:

[2016-08-02 14:52] tych0 commented on #112
Ok, I just looked and `linux-generic-lts-wily` has the seccomp patches in it, so if that's where you got the kernel, it has support for this, which is why it says "looks good". Likely your checkpoint is failing for other reasons, so it would be good to sort those out (probably in a new issue)

[2016-08-02 15:31] tswift242 commented on #195
Okay, I've provided the full dump and restore logs from the same CRIU 2.4 run. They're slightly censored, but all the log statements related to unixsk's should be intact. I'm also attaching the full, decoded unixsk images for both 2.3 and 2.4. I have the dump and restore logs from a CRIU 2.3 run as well. If those would be helpful, let me know and I can provide that as well. Thanks!
[dump-2_4.txt](

[2016-08-02 15:36] Fuzzyma commented on #112
Yes thats exactly the one I used.
I wrote it here because I get the same error in the log:

[code]

However - If this is worth a new issue I will raise it

[2016-08-03 09:12] tkhai commented on #195
Dump:
(00.031560) sk unix: unix: Dropping path /tmp/.java_pid879.tmp for unlinked sk 0x3362f
(00.031563) sk unix: 	Collected: ino 0x3362f peer_ino 0 family    1 type    1 state 10 name (null)
(00.382541) sk unix: 	Dumping: ino 0x3362f peer_ino 0 family    1 type    1 state 10 name (null)
(00.382546) sk unix: 	Dumped: id 0x549 ino 0x3362f peer 0 type 1 state 10 name 0 bytes
Restore:
(00.163759)

[2016-08-03 09:46] tkhai commented on #195
Hm. Strange.

d->name is not zero in unix_process_name(), but in unix_collect_one->show_one_unix() it becomes NULL. Someone corrupts memory?!

[2016-08-03 09:54] xemul commented on #195
@tkhai , but the log message is explicit -- "Dropping path ... for unlinked sk".

[2016-08-03 10:41] tkhai commented on #195
It looks like, tswift242 doesn't have
commit 24da7e2c386d3e11d43915aa8bee8e2c96e8981e
Author: Tycho Andersen <tycho.andersen@canonical.com>
Date:   Tue Jul 5 15:15:07 2016 +0000

so, name is cleared in his case

[2016-08-03 10:43] tkhai commented on #195
Just for debug purpose, @tswift242, is the problem reproduces on latest criu-dev branch?

[2016-08-03 11:18] xemul commented on #195
@tkhai , but 2.3 didn't have this commit either, but it worked ;)

[2016-08-03 12:21] tkhai commented on #195
@xemul, in 2.3 it was autobinded to automatically generated name, I suppose

[2016-08-03 13:23] xemul commented on #195
@tkhai , OK, so AFAIU the problem is -- we have listening socket with name that is unlinked (for some reason). On 2.3 the name was dropped and the socket was auto-bound. In 2.4 the name was dropped, but the commit I mentioned avoided calling bind(). Right?

[2016-08-03 13:27] tswift242 commented on #195
@tkhai I will try to reproduce using the criu-dev branch and let you know.

[2016-08-03 14:07] tkhai commented on #195
@xemul, right. Also, it seems Tycho has already fixed the problem in criu-dev branch.

[2016-08-03 14:12] tswift242 commented on #195
@xemul @tkhai I get the following error trying to build CRIU from the criu-dev branch:

"In file included from /usr/include/signal.h:28:0,
                 from /usr/src/criu_latest/criu/arch/x86/include/asm/types.h:5,
                 from criu/arch/x86/syscalls/syscall32.c:1:
/usr/include/features.h:374:25: fatal error: sys/cdefs.h: No such file or directory
 #  include <sys/cdefs.h>"

Was a new

[2016-08-03 14:18] tkhai commented on #195
I can't definitely say... But it seems in the same situation "make clean" helped me. Some leftover .deps file were there

[2016-08-03 14:23] 0x7f454c46 commented on #195
@tswift242 hi, sorry about that -- please, check the new [Installation requiments](https://criu.org/Installation), I think, you'll need to install:

and if you have gcc, you may also need to install `gcc-multilib`
I promised and I'll make building without ia32 compiler support (by introducing CONFIG_COMPAT or something like that), as many step on this -- yet working on it.

[2016-08-03 14:25] xemul commented on #195
Guys, the needed patches are in current master branch :) Will be released with 2.5, but pulling one right now ... should work %) @0x7f454c46 , will it?

[2016-08-03 14:32] 0x7f454c46 commented on #195
@xemul @tswift242 Yep, as compat-patches are outside in criu-dev, compiling master without multilib should be fine.

[2016-08-03 14:52] tswift242 commented on #195
Just tested this with the master branch and the issue does indeed seem to be fixed. The restore worked. Thanks guys!

Something I'll open a separate issue about is I don't see this fixed on the master branch: "Mode was lost for PTY device file on restore" (that's from the 2.4 release changelog and I'm guessing corresponding to commit 8ba6372). In the container I just restored while verifying the u

[2016-08-03 14:54] xemul commented on #195
@tswift242 , you're welcome :)

As far as the PTY issue is concerned -- yes, please, let's go to dedicated issue for this. Thanks :)

[2016-08-03 14:54] #195 closed

[2016-08-03 14:54] #193 closed

[2016-08-03 14:56] xemul commented on #169
@kikosha would you be able to help @avagin with the info he requested?

[2016-08-03 14:57] xemul commented on #170
Should have been fixed by f6cc277cada0ad61b3fc017bf213ee4301d8e87f

[2016-08-03 14:57] #170 closed

[2016-08-03 14:59] #180 closed

[2016-08-03 15:00] xemul commented on #181
So :) Have we fixed this or have we not?

[2016-08-03 15:00] xemul commented on #186
@kikosha , can you confirm @avagin 's suggestion?

[2016-08-03 15:01] xemul commented on #187
@Snorch , @avagin , how about sending the fix?

[2016-08-03 15:05] xemul commented on #153
@washraf , @boucher , what do you think would be the best to do here -- close and forget, or ask @avagin to suggest how to handle terminal in docker c/r?

[2016-08-03 15:36] 0x7f454c46 commented on #181
I'm on CONFIG_COMPAT right now -- sorry for the delay, will send patches as soon, as they got ready.

[2016-08-03 16:05] tswift242 opened #198 "PTY device file owner lost on restore"
My application runs as an unprivileged user inside a Docker container and creates a PTY device. The PTY device file's owner is not retained on restore, however. On restore, the owner is set to root, which prevents my application from accessing the PTY. Here's the before:

root@2449f6f5f633:/# ls -l /dev/pts
total 0
crw--w---- 1 unprivileged_user tty  136, 0 Aug  3 14:54 0
crw-rw-rw- 1 root   root

[2016-08-03 16:24] cyrillos commented on #195
fwiw, I've got same problem with socket on test on current master (ie after criu-2.4) But didn't look precise into the issue

[2016-08-03 16:26] boucher commented on #153
I'm not sure I actually follow the issue in this thread. The /dev/console thing is definitely missing, but @washraf I don't see how the runc exec stuff is related. CRIU/docker will only checkpoint the init process of the container, not any process running inside it.

[2016-08-03 16:45] avagin commented on #195
Why do our tests not detect this problem?

[2016-08-03 16:57] cyrillos commented on #195
I think my error is a side effect from vz commit
---
[root@nuncriu criu]# git bisect good
b4455c54cd641aec635bd274c88bacd3706f57ec is the first bad commit
commit b4455c54cd641aec635bd274c88bacd3706f57ec
Author: Cyrill Gorcunov <gorcunov@virtuozzo.com>
Date:   Sat Jun 4 14:12:27 2016 +0300

    sk-unix: Fix path resolving for sockets with abs symlinks in paths

    Signed-off-by: Cyrill Gorcunov <g

[2016-08-03 17:23] cyrillos commented on #198
I'll take a look, once time permit

[2016-08-03 17:33] cyrillos commented on #195
Actually, once I revert

commit 93eefc0d5acf3bcf1ce7ac425f8c01eb89c239e0
Author: Cyrill Gorcunov <gorcunov@openvz.org>
Date:   Wed Aug 3 20:32:03 2016 +0300

    Revert "unix: Do not autobind unnamed unix sockets"

    This reverts commit 3166032ecb406f0dd6e803c64e46413083736deb.

The test start working back.

[2016-08-03 17:33] cyrillos commented on #195
there is something wrong with autobinding

[2016-08-03 17:33] cyrillos commented on #195
will make a close look tomorrow

[2016-08-03 17:45] washraf commented on #153
@boucher @xemul I already made my script the init process and it worked fine since then and my problem was solved, but the important question is that do you need to track all the processes inside this container either parented by the init process or not (which applies to any terminal created processes).
If you need this as feature keep this issue open; if not close it.

[2016-08-03 17:50] eabatalov commented on #175
Hello. I've run this test on my PC:

 python test/zdtm.py run -t zdtm/static/pthread00 -f h  -k always --norst --user
=== Run 1/1 ================

======================== Run zdtm/static/pthread00 in h ========================
Start test
./pthread00 --pidfile=pthread00.pid --outfile=pthread00.out
Run criu dump
=[log]=> dump/zdtm/static/pthread00/26/1/dump.log
------------------------ grep Error

[2016-08-03 19:39] cyrillos commented on #195
ah, it looks like I need a patch from Tycho 24da7e2c386d3e11d43915aa8bee8e2c96e8981e

[2016-08-04 12:09] xemul commented on #175
Well, yes ;) It won't work just with your patches. I mean I need some functionality that you have implemented to fix this bug.

[2016-08-04 12:11] eabatalov commented on #175
Okey. I plan to send you this patches on August :)

[2016-08-04 12:28] cyrillos commented on #198
Could you please try
---
[cyrill@uranus criu] git diff
diff --git a/criu/tty.c b/criu/tty.c
index ec09f30d9d8d..64575194c567 100644
--- a/criu/tty.c
+++ b/criu/tty.c
@@ -1035,6 +1035,9 @@ static int pty_open_ptmx(struct tty_info *info)

        pty_restore_queued_data(info->link, master);

+       if (rst_file_params(master, info->tfe->fown, info->tfe->flags))
+               goto err;
+
        i

[2016-08-04 12:30] cyrillos commented on #198
Nope, drop it

[2016-08-04 13:11] cyrillos commented on #198
OK, the key problem is that credentials are restored a way more later then we open tty peers. And the kernel takes current_fsuid() from CRIU itself which is running under root permission. I don't see an easy way to fix the for a while. Gimme sometime, maybe I find a way...

[2016-08-04 13:44] xemul commented on #112
@Fuzzyma , sure, new issue is definitely worth raising.

[2016-08-04 13:46] xemul commented on #153
Hmm... OK, since the original problem was at least workarounded, let's keep this closed. At least for a while.

[2016-08-04 13:46] #153 closed

[2016-08-04 13:59] Fuzzyma opened #199 "Failed to checkpoint docker container when created without seccomp:unconfined"
See #112 where this issue started.
**Summary:**
I run `Ubuntu 14.04` with kernel `4.2.0-42-generic` which I have installed with the `linux-generic-lts-wily package`. I have `criu 2.4` self compiled and run (also self compiled) `docker 1.12.0-dev, build 8f993ef, experimental` from bouchers branch here: https://github.com/boucher/docker/tree/docker-checkpoint-restore

tych0 mentioned that the wily p

[2016-08-04 14:12] tych0 commented on #199
Can you try the `linux-generic-lts-xenial` kernel and see if this also reproduces with that kernel?

[2016-08-04 14:40] #187 closed

[2016-08-04 15:42] Fuzzyma commented on #199
I installed `linux-generic-lts-xenial` and now have `4.4.0-31-generic` as kernel.

**No error** when creating a checkpoint. Looks like this kernel is working

[2016-08-04 15:49] tych0 commented on #199
Ok; host shouldn't matter, I suspect something got screwed up in the backport. As wily (and its kernel) are technically EOL, I think I'll punt on this one for now. We can close this, though, as it's not a CRIU bug.

[2016-08-04 15:51] Fuzzyma commented on #199
thats ok from my side

[2016-08-04 16:36] xemul commented on #199
Thanks everybody :)

[2016-08-04 16:36] #199 closed

[2016-08-05 15:45] cyrillos commented on #198
@tswift242 Could you please try the [patch](https://gist.github.com/cyrillos/4f42d023cd53d056175dddb249fbff7e) and check the results? The patch is on top of current **criu-dev** branch

[2016-08-05 17:47] tswift242 commented on #198
@cyrillos Yep, that fixed it. Thanks! Any chance this will make it into the next release?

[2016-08-05 17:49] cyrillos commented on #198
I hope so ;) I'll send the fixes in "official" way.

[2016-08-05 17:56] cyrillos commented on #198
https://lists.openvz.org/pipermail/criu/2016-August/030822.html

[2016-08-05 18:04] tswift242 commented on #198
Awesome. Thanks!!

[2016-08-07 11:17] ayourtch commented on #177
Interestingly, there is a code to restore "expires" value, but it looks for a different RTA_* value... So since we are saving it into RTA_CACHEINFO, I've added the chunk to extract it from there.

But this has uncovered another problem - the flags are restored incorrectly. Hence, the other chunk in rtm_to_fib6_config.

What do you think about the below ?

`diff --git a/net/ipv6/route.c b/net/ipv6/

[2016-08-08 20:33] avagin opened #200 "13:21:35.860: 24: FAIL: timers.c:76: timer 0 stuck (errno = 11 (Resource temporarily unavailable))"
[code]

[2016-08-09 20:20] demisgomes opened #201 "Error (criu/files-reg.c:1189): Can't link dev/null.cr.1.ghost -> dev/null: File exists"
I use CRIU since 1.6 version. But, when I installed CRIU 2.4 version with LXC in a 3.13.0-24 gerneric kernel, Ubuntu 14,04, I have the following error:

 Error (criu/files-reg.c:1189): Can't link dev/null.cr.1.ghost -> dev/null: File exists

All restore.log:
Chain INPUT (policy ACCEPT)
target     prot opt source               destination
ACCEPT     tcp  --  anywhere             anywhere

[2016-08-09 21:47] MarkGavalda opened #202 "Can't dump ghost file"
Latest Ubuntu 16.04 with 4.4.0-34-generic and linux-image-extra. Trying 'lxc move' live migration with latest CRIU compiled from git clone:

Version: 2.4
GitID: v2.4-81-gc44683c

[code]

[2016-08-09 21:50] tych0 commented on #202
On Tue, Aug 09, 2016 at 02:47:31PM -0700, Mark Gavalda wrote:

We've bumped this limit in the git master version of LXD, but haven't
managed to backport it to xenial yet. If you want to build from
source, you should be able to work around this. It's not a criu bug,
though.

[2016-08-10 09:06] #202 closed

[2016-08-10 09:09] xemul commented on #201
Do you restore a container from image? Can you remove $ct_root/dev/null.cr.1.ghost file and try to restore again?

[2016-08-10 09:10] xemul commented on #177
Looks good. Would you try to push this into the netdev@ mailing list? :)

[2016-08-10 12:38] demisgomes commented on #201
Thanks for response.
I am restoring container from the files generated by command:
lxc-checkpoint -s -n criu-test -D /tmp/checkpoint

Restore is made with:
lxc-checkpoint -s -n criu-test -D /tmp/checkpoint

I do not find /dev/null.cr.1.ghost file in any place.

[2016-08-10 13:33] #181 closed

[2016-08-10 14:03] xemul commented on #201
OK. Can you then collect restore logs with -v4 option? I'm not sure how to do it via lxc-checkpoint though.  @tych0 , would you help us?

[2016-08-10 14:09] ayourtch commented on #177
Actually I just realized that blindly updating the expires from RTA_CACHEINFO will botch the static routes (and it does, somewhat - the expires goes into negatives, though the route still does not get deleted... and having the "if (fi->rta_expires)" conditional around setting the RTF_EXPIRES flag will create a nasty to track race if the route being dumped was just about to expire.... So I think I

[2016-08-11 13:12] ayourtch commented on #177
All right, the candidate source for git-send-email to netdev is at: http://stdio.be/netdev/ra-route/

@tych0 , @xemul , @avagin - Could you give it a spin and tell me what you think ?

Also, if I grok the the logic of the kernel patch submission correctly, having "Signed-off-by" from someone besides me might help - so if anyone of you feels confident enough in these patches to test them and to qua

[2016-08-11 14:14] tych0 commented on #201
Yes, just add the `-v` flag to restore, and it will give you a `restore.log` in the checkpoint directory that is criu's -v4 output.

[2016-08-11 14:32] xemul commented on #177
Well, the Signed-off-by: means that the patch was either prepared by the one(s) who signs or got into repo via one or more maintainers' branches.

Agreement with the change is expressed with Acked-by: or Reviewed-by:, if someone played with the patch for real, one may put Tested-by: .

[2016-08-11 14:57] ayourtch commented on #177
Sorry, thanks for the education! I misunderstood it to also mean a "strong ack".

[2016-08-11 15:06] xemul commented on #177
Well, there's a variety of -by: tags in the kernel :) Most popular are, of course, Signed-off, Acked and Reviewed, but ... people try to express themselves :)

$ git log --since '2 years ago' --no-merges | fgrep -- '-by:'  | awk '{print $1}' | sort | uniq -c | sort -n

[2016-08-11 18:09] demisgomes commented on #201
Here is the restore.log generated with -v flag:

http://notepad.cc/restore_criu_log

[2016-08-12 05:56] avagin opened #203 "(00.015801) Error (criu/page-xfer.c:246): Hole 0x7ffd07635000/16384 not found in parent"
[code]

[2016-08-12 14:55] avagin commented on #203
Cc: @adrianreber

[2016-08-13 23:58] avagin opened #204 "zdtm/static/inotify00: link-remap files left: ['zdtm/static/link_remap.12']"
[code]
https://ci.openvz.org/job/CRIU/job/CRIU-x86_64-pre-dump/branch/criu-dev/735/

[2016-08-16 11:02] xemul commented on #201
@demisgomes the notepad.cc name doesn't resolve :(

[2016-08-16 11:32] ayourtch commented on #177
ok, I guess with no further comments I will ship the patches to netdev!

[2016-08-16 14:17] xemul opened #205 "Compilation with glibc 2.24 (centos 6.7)"
http://paste.ubuntu.com/23061693/

In file included from /opt/glibc-2.24/include/bits/fcntl.h:61:0,
                 from /opt/glibc-2.24/include/fcntl.h:35,
                 from /home/projects/criu/criu-2.5/criu/include/fcntl.h:5,
                 from /home/projects/criu/criu-2.5/criu/include/image.h:9,
                 from /home/projects/criu/criu-2.5/criu/include/imgset.h:6,

[2016-08-16 16:40] demisgomes commented on #201
Try access in this link: https://www.dropbox.com/s/13lurx5vs0prrjo/restore.log?dl=0
The file is very large and I cannot make a upload in pastebin.

[2016-08-16 21:30] avagin commented on #203
It was broken in 101e3ba49d0801511a50241a3e2f6ce17f7641a4
[code]
https://gist.github.com/avagin/f75568a14f9da66c48161a7051aa122d

[2016-08-16 21:31] avagin commented on #203
To: @fbocharov

[2016-08-16 21:33] avagin commented on #203
CRIU dumped pages, but a few pages have been changed before calling task_reset_dirty_track

[2016-08-17 04:44] avagin commented on #203
I reproduced this bug with perf trace -F all. It shows a moment where a page fault was triggered.
[code]

[code]

[2016-08-17 11:46] skarbat opened #206 "Criu 2.5 on RaspberryPI 3 kernel 4.4.17"
I am trying to setup Criu to run on mentioned setup, manual build from sources, and I stumble across problem below continuously, no matter which process, running `criu dump -t pid --shell-job`.

It's not always crashing on the same library, also builtin tests fail with same symptoms.

[code]

I rebuilt the kernel to provide the features mentioned on this checklist:
- https://criu.org/Installation#

[2016-08-17 13:25] 0x7f454c46 commented on #206
Hi @skarbat,

JFYI: https://lists.openvz.org/pipermail/criu/2016-April/027896.html
Linking `criu/arch/arm/include` to kernel sources will not help as that directory is for CRIU-inside arch-specific includes.
So, unfortuanatelly, CRIU doesn't yet support vdso on arm32 arch.
You could handle it three ways:
- using older kernel (which hasn't vdso)
- disable in your 4.X kernel CONFIG_VDSO :( (which ma

[2016-08-17 14:16] avagin commented on #203
Cc:  @rppt

[2016-08-17 14:20] avagin commented on #203
From: @rppt

[2016-08-18 05:24] rppt commented on #203
I wonder if there is anything that prevents moving `cr_dump_shmem` before going over `dump_one_task`?
Then we can reset soft dirty immediately after dumping private memory and still we'll be able to track shared memory changes

[2016-08-18 11:22] skarbat commented on #206
@0x7f454c46 Dmitry thanks, for bright clarifications!

I disabled VDSO in the kernel and it nicely progresses a lot more, however it seems to finally stall on some resource, does not return control.

[code]

[2016-08-18 11:38] 0x7f454c46 commented on #206
@skarbat this is some error in parasite:
CRIU dumps process's states by putting a "parasite blob" - PIE (Position Independed) code in dumpee. (more you could read [here](https://criu.org/Parasite_code))
So, something went wrong on parasite side -- it should have inited the daemon and connect with a socket to criu-dumping process.
To blow the lid off the situation you can put the result of `cat /pr

[2016-08-18 22:15] skarbat commented on #206
@0x7f454c46 very interesting reading about the parasite blob.
I think the stacktrace is empty - not working. Same symptoms as exposed here:

 * http://lists.infradead.org/pipermail/linux-arm-kernel/2013-November/211835.html

I do seem to have related kernel features, so it might be the case it's still broken for ARM?

[code]

Apparently it's been discussed long ago:

 *  http://lists.infradead.org

[2016-08-19 02:20] avagin commented on #203
[PATCH] parasite: don't use a process stack to unmap a parasite blob

[2016-08-19 10:19] xemul commented on #201
OK, this one opens fine :) Yes, there are errors in logs, but AFAIS they are harmless (anyway thanks for them, we'll relax it to warnings). Does restore fail? I see it works from the logs.

[2016-08-19 10:30] xemul commented on #206
@skarbat , which criu version do you use? If you take one from master branch or directly 2.5 sources, then there will be a little bit more debugging about stuck parasite as @0x7f454c46 mentioned.

[2016-08-19 22:59] skarbat commented on #206
@xemul I built and run criu [version 2.5](http://download.openvz.org/criu/criu-2.5.tar.bz2), but the thing is I get `[<ffffffff>] 0xffffffff` on every pid in the system from /proc/pid/stack. The warn message shows up every 2 minutes alone. Maybe I'm missing something in the kernel that I can't see.

[2016-08-19 23:21] 0x7f454c46 commented on #206
Hi, @skarbat, could you specify the test program you're dumping?
I just tested CRIU on my arm32 board with 4.0.7 kernel -- looks like it's working, at least for dumping stupid dots-printing application.
Unfortunatelly, the tests are broken on arm32 at current moment, so that's not guarantee that criu isn't broken at some place for arm. While I'm about to fix tests, you can specify the program you'

[2016-08-20 01:02] avagin commented on #203
We need to reopen this issue:
https://travis-ci.org/criupatchwork/criu/jobs/153714892

[2016-08-20 18:46] avagin opened #207 "A test is segfaulted after dump/restore"
https://travis-ci.org/avagin/criu/jobs/153825188

Cc: @0x7f454c46

[2016-08-20 18:47] avagin commented on #207
https://travis-ci.org/avagin/criu/jobs/153736917
[code]

[2016-08-20 23:06] 0x7f454c46 commented on #207
It's in ld-linux-x86-64.so.2:

hex(0x2b2d055ebf4e - 0x2b2d055e2000) = '0x9f4e'
Armed with objdump on travis:
https://travis-ci.org/0x7f454c46/criu/builds/153857235

   9f45:	48 c7 44 24 40 00 00     movq   $0x0,0x40(%rsp)

**9f4e:	48 8b 78 28            mov    0x28(%rax),%rdi**

Just at the beggining of some function, hmm

[2016-08-20 23:07] 0x7f454c46 commented on #207
Obivious, what happend, the question, why?

[2016-08-21 07:14] rppt commented on #203
what about reverting 101e3ba49d0801511a50241a3e2f6ce17f7641a4 (mem: reset SOFT_DIRTY bits after dumping of all vmas in the process) and adding something like this:

<pre>
diff --git a/criu/cr-dump.c b/criu/cr-dump.c
index ea1e356..e6fa441 100644
--- a/criu/cr-dump.c
+++ b/criu/cr-dump.c
@@ -1775,6 +1775,10 @@ int cr_dump_tasks(pid_t pid)
 	if (collect_seccomp_filters() < 0)
 		goto err;

+	ret = c

[2016-08-22 05:46] avagin opened #208 "5: New maps appeared: set(["7f01b960b000-7f01b960c000 ['---p']", "7f01b960c000-7f01b9617000 ['rw-p']"])"
[code]

https://ci.openvz.org/job/CRIU/job/CRIU-dump-only/branch/master/222/

[2016-08-22 12:47] xemul commented on #203
Cc @eabatalov

[2016-08-22 20:07] cyrillos commented on #207
This is inside _dl_rtld_di_serinfo function. Googling didn't reveal any similar problem worldwide.

[2016-08-22 20:10] cyrillos commented on #207
This function is called from dlinfo helper

[2016-08-22 23:20] avagin commented on #207
[code]
[code]

[2016-08-23 04:24] avagin commented on #207
gs and fctrl have different values before and after dump/restore
[code]

[2016-08-23 09:29] cyrillos commented on #207
gs=0x6b is definitely a reason for #gp signal. NULL segment selectors can be loaded in protected mode which are values from 0 to 3. Moreover the kernel operates with fs/gs base msr registers to handle gs/fs based instructions. So the main questions where such weird gs value came from... Continue investigating.

[2016-08-23 12:22] xemul commented on #10
aff53534dfa38bcbbaaf4dac01eaae14d6ae189f

[2016-08-23 12:22] #10 closed

[2016-08-23 12:23] xemul commented on #37
502e755ccf8de76b3a70e8cd94c0f04390149f0f

[2016-08-23 12:23] #37 closed

[2016-08-23 12:23] xemul commented on #38
f6325e1895dbc4f2bb91172167edb243a10216fc

[2016-08-23 12:23] #38 closed

[2016-08-23 13:01] rppt commented on #203
Relatively easy way to reproduce is to run the loops below from different consoles (thanks to  @avagin):
<pre>
while :; do python test/zdtm.py run -t zdtm/static/socket-tcpbuf6-local
--snap --pre 30 -f uns   || break; done

while :; do python test/zdtm.py run -t zdtm/static/socket-tcpbuf-local
--snap --pre 30 -f uns   || break; done
</pre>

[2016-08-23 13:02] skarbat commented on #206
@0x7f454c46 here’s what I did again from scratch: rebuilt [rpi kernel 4.4.18](https://github.com/raspberrypi/linux) for rpi3, enabling all [criu needed features](https://criu.org/Installation#Linux_Kernel), disabled CONFIG_VDSO, rebuilt [criu 2.5](http://download.openvz.org/criu/criu-2.5.tar.bz2). An then…

[code]

It gets stuck while "putting tsock into pid", complaining every 2 minutes.
/proc/27

[2016-08-23 13:32] 0x7f454c46 commented on #207
Added dumping of %gs, it's somewhere here:

[2016-08-23 14:20] eabatalov commented on #203
@rppt your fix wouldn't work as is. If we move cr_dump_shmem() call to the place before dump_one_task() we won't dump anything because in dump_one_task() we collect information about shmem vmas of each ps tree process (calling add_shmem_area()). Ashmem is global resource so we need info from all the processes. After we've collected all the infos we can do shmem dumping.

Also it looks like we can

[2016-08-23 15:14] cyrillos commented on #207
OK, indeed the selector is setup by kernel from msr upon zero write. IOW, the issue is somewhere else.

[2016-08-23 18:44] 0x7f454c46 commented on #206
Hi again, @skarbat.
Yep, you're doing everything right, except you should also specify --shell-job option.
But the problem you're facing isn't missing option - it's definetly a bug. While I tried to reproduce it on RPI2, it worked good. So, I'll try to help you on this week, but currently I've much to-do.
Could you try with criu 2.4? I expect that it's some regression. If it'll work, you will be a

[2016-08-23 19:07] eabatalov commented on #203
Yes we can revert this 101e3ba49d0801511a50241a3e2f6ce17f7641a4 commit. It isn't really needed. It was introduced in v0 of the patchset and wasn't needed in v1 already (I blame myself).
I've sent patch to criu ML with detailed explanation. Simple git revert hasn't worked for me (merge conflict is introduced).
Also this bug isn't reproduced on my machine at all (even with recent scripts from rppt).

[2016-08-24 02:10] avagin commented on #207
Before dump:
[code]
After restore:
[code]
[code]
[code]

[2016-08-24 02:36] avagin commented on #207
[code]
[code]
[code]
[code]

[2016-08-24 04:29] avagin commented on #207
/proc/pid/pagemap doesn't work properly in this kernel. We can read values for a few pages or we can read a value for each page. A value for each page has to be the same in both cases, but here it is not.
[code]

[2016-08-24 06:02] avagin commented on #207
It is a kernel bug. @tych0, could you help with this issue?

The kernel version:
Linux ubuntu-2gb-nyc3-01 3.19.0-66-generic #74~14.04.1-Ubuntu SMP Tue Jul 19 19:56:11 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

The reproducer:
[code]

[2016-08-24 11:59] skarbat commented on #206
@0x7f454c46 Thanks Dmitry. I tested again with criu 2.4, same kernel. Unfortunately it keeps stalling in the same place apparently, only this time it does not complain every 2 minutes.

[code]

Here's the [complete log](https://gist.github.com/skarbat/4fb25170c2c9d2f474977420df1eec0c). And here is a simple [script output](https://gist.github.com/skarbat/1fe0739e15951ee5e0c55e0c96a7c7a8) to make su

[2016-08-25 18:18] #207 closed

[2016-08-25 18:19] #203 closed

[2016-08-25 19:17] xemul commented on #121
ping

[2016-08-25 19:19] xemul commented on #109
The --join-ns option is committed with 2cf17cd83b0bed8f8c754fccd7c1e19bd22539fc into 2.5

[2016-08-25 19:19] #109 closed

[2016-08-25 19:26] xemul commented on #108
e8dde5856efdb200d0eb40522340e348467a7c88 in -dev

[2016-08-25 19:26] #108 closed

[2016-08-25 19:27] xemul commented on #75
https://lists.openvz.org/pipermail/criu/2016-August/031164.html

[2016-08-25 19:27] xemul commented on #99
So, gents, what are the plans about this?

[2016-08-25 19:28] xemul commented on #72
https://lists.openvz.org/pipermail/criu/2016-August/030796.html

[2016-08-25 19:48] avagin opened #209 "11:53:27.719: 24: FAIL: maps00.c:146: CRC mismatch: ptr 0x7f4932e3b000 flag 21 prot 3"
https://ci.openvz.org/job/CRIU/job/CRIU-iter/branch/criu-dev/817/console

[code]

[code]

To: @eabatalov

[2016-08-26 01:41] CrystalQian commented on #99
Sorry , I don't know sir , I haven't stdied the LXC for a long time.@xemul

[2016-08-26 12:19] eabatalov commented on #209
Bug has 100% reproduction with --iter 2 option.
I'll investigate and make a bugfix.

[2016-08-26 21:22] tych0 commented on #99
Whoops, sorry, I totally spaced this. I think the problem was just that perf_event wasn't mounted, but anyway, we don't support the 3.19 kernel any more, so we can close this for now, and re-open it (or perhaps just file a new bug) if something else beaks :)

[2016-08-27 22:24] eabatalov commented on #209
The cause of bug is quite complicated. I've sent bugfix to ML. The name of email is "shmem: use mincore page status bit with anon shared mem dumping"

[2016-08-29 13:09] tswift242 commented on #198
@cyrillos Any updates on this?

[2016-08-29 13:10] cyrillos commented on #198
yes, currently reworking the series. Hopefully will send today.

[2016-08-29 13:14] tswift242 commented on #198
Great, thanks!

[2016-08-29 13:59] xemul commented on #99
OK :)

[2016-08-29 13:59] #99 closed

[2016-08-29 18:16] avagin commented on #121
commit 83befaca8744c0e255d0dceea8fb504014b8ba3e
Author: Andrew Vagin <avagin@virtuozzo.com>
Date:   Sat Jul 16 02:44:00 2016 +0300

    mnt: clean up a root yard after openning all files

[2016-08-29 18:16] #121 closed

[2016-08-29 22:34] cyrillos commented on #198
@tswift242 Mind to give it a shot please? https://lists.openvz.org/pipermail/criu/2016-August/031242.html

[2016-08-30 01:49] chenhaiq opened #210 "restore failed for debain instance"
I reported this (https://github.com/lxc/lxc/issues/1156) to lxc last week, but it is more likely an issue in criu.

To reproduce:

[code]

log files:
https://pek3a.qingstor.com/oc-storage/dump.log
https://pek3a.qingstor.com/oc-storage/lxc.log
https://pek3a.qingstor.com/oc-storage/restore.log

[code]

LXC is master code.
ENV: ubuntu 16.04, 4.4.0-34-generic
lxc 2.0.4, lxcfs 2.0.3, criu 2.5

debain/j

[2016-08-30 12:56] 0x7f454c46 commented on #206
Hmm, so, I just tried criu on RPI2 with kernel 4.4.19 from the same repository and it worked quite well.
Let's see, maybe it's fault on 64-bit hw with 32-bit kernel and 32-bit CRIU. So, I need some actions from you to find the bug.
Firstly, could you provide the state of sleep-dumpee after failure? Is it running, sleeping or trapped? Like:
`ps ax | grep <pid>`
Then it would be good to find, what t

[2016-08-30 19:28] tswift242 commented on #198
@cyrillos Yep, that patch also fixes the issue. Thanks!

[2016-08-30 19:32] skarbat commented on #206
Oh! that's very good news then - Thanks @0x7f454c46 ! Perhaps I should change the title to "latest 4.4" which is what I was looking after. I'll try 4.4.19 and see if that works at my end, then it's a matter of diffing the config files I presume. I believe I was building a 32bit kernel.

[2016-08-30 22:22] 0x7f454c46 commented on #206
@skarbat Honestly, I don't think another kernel version will fix the problem.
What I suspect is that you have RPI3, which is 64-bit board ARMv8. While I test it on RPI2, which is ARMv7. We both have 32-bit kernels from the same repository (AFAIK, RPI3 also works in 32-bit mode).
I think, there may be some thing about running 32-bit CRIU in 32-bit mode on 64-bit board, which we haven't took into ac

[2016-08-31 22:17] cyrillos commented on #198
Thanks for testing!

[2016-09-01 09:34] #198 closed

[2016-09-01 09:35] #209 closed

[2016-09-01 09:35] xemul commented on #210
Cc @tych0

[2016-09-01 18:20] stevepp opened #211 "Is it possible to use CRIU to transparently migrate a tcp connection to a host with different ip?"
Assuming a client-server communication through an established tcp connection, in the case that the server needs to be rebooted for update, is it possible to migrate the associated server process to another backup server with different IP and MAC address, but at the same time transparently migrate the original tcp connection to this backup server?

I guess this would break the tcp connection as the

[2016-09-02 10:29] xemul commented on #211
Well, changing the IP address is not possible not due to CRIU constraints, but due to how TCP protocol works. One cannot proceed the packet flow with one IP address changed, the client would just ignore such packets.

So when talking about migrating a server to some other place with some other IP three things are to be considered.

1. Listening sockets. If your server is bound to 0.0.0.0 (INADDR_A

[2016-09-02 14:06] xemul commented on #186
OK, if the problem is still here -- feel free to re-open the issue.

[2016-09-02 14:06] #186 closed

[2016-09-02 14:07] xemul commented on #201
@demisgomes , any news on this?

[2016-09-02 14:09] xemul commented on #62
@avagin would you be able to look at this in the nearest future?

[2016-09-02 14:11] xemul commented on #159
What do we plan to do about it?

[2016-09-02 14:12] xemul commented on #162
Gents, what are the plans about it?

[2016-09-02 14:13] xemul commented on #169
@kikosha , would you?

[2016-09-02 14:15] xemul commented on #194
So. There has been some work from @avagin to support transit TCP states. Let's track it here :)

[2016-09-02 14:15] xemul commented on #200
It's fitlet, isn't it?

[2016-09-02 14:16] xemul commented on #204
Plans?

[2016-09-02 14:19] xemul commented on #211
https://criu.org/Change_IP_address

[2016-09-02 14:31] cyrillos commented on #162
I think the only way is to wait until fix get merged into stable kernel.

[2016-09-02 18:03] demisgomes commented on #201
Sorry for the delay. I updated the kernel, reinstalled LXC and CRIU, I made a clone of older CRIU version but restore still failing. Perhaps may be a problem in LXC mount rather CRIU. I run the same steps on another machine and works. I do not know what happened, but I can seek other possibilities to explain it.

Thanks for the help!

[2016-09-02 21:02] avagin commented on #159
I don't see this issue for a long time. Let's close it.

[2016-09-02 21:02] #159 closed

[2016-09-02 21:04] koliaskostas commented on #194
@xemul Hey, is it included in the latest commit c031417?

[2016-09-02 21:07] avagin commented on #62
Here are kernel and criu changes to support tcp sockets with closing states
https://github.com/avagin/linux-task-diag/tree/tcp-v3
https://github.com/avagin/criu/tree/tcp-closing-states

[2016-09-03 10:32] skarbat commented on #206
@0x7f454c46 sorry for confusion, I seem to understand the scope now. Here's what I get with criu 2.5 built on the PI3, and a criu-friendly kernel `4.4.18-v7+`...

[code]

I added a perror() log call of `SYS_futex` prior to passing control to lock.h, and I get a `SYS_futex=240`, which I find in the x86 table below. The Makefile tells me `arm` for `$(ARCH)`.

[code]

[2016-09-05 06:29] keyolk opened #212 "Failed to use external checkpoint restore for docker container"
Hi I'm trying to use this project for live migration of docker container.
I use docker 1.12.1 with overlay2 storage driver

first time what I did is

[code]

it failed with below logs

[code]

not only the cgroup
it occured on every cgroup points,
then I what tried is below

[code]

it succeeded to dump

and I tried to restore it

[code]

But it failed with below logs

[code]

Could anyone inform

[2016-09-05 11:34] 0x7f454c46 commented on #206
Hi, that's all right that criu does futex(). Callpath for criu process is good, it waits for injected parasite being initialized, but parasite has stuck somewhere. (as you see, sleep is running constantly):
`10056 pts/1    R      0:32 sleep 1000`
So, let's try to do the following: repeat this, then when parasite in sleep stucks, kill criu process and *then* attach gdb to `sleep` process (it'll not

[2016-09-05 11:39] 0x7f454c46 commented on #206
And kill criu with -SIGKILL `kill -9 <criu_pid>`

[2016-09-06 10:56] avagin commented on #212
$ROOT is not a mount point.  You have to mount $ROOT before executing "criu restore"

[2016-09-07 04:37] keyolk commented on #212
@avagin Thanks to reply
I retry with below command
had some issues with overlay2, so I changed it to overlay
[code]

it failed again with below logs
[code]

Could you inform me more about restoring container ?

and I dont understand yet why it puted below error first.
[code]

Thanks.

[2016-09-07 04:41] avagin commented on #212
@keyolk why do you not use docker to checkpoint a container? We solved all this problem there.

[2016-09-07 04:49] avagin commented on #212
More than one mount is mounted into /home/keyolk/mount/flash/docker/overlay/4158c224e11cde0ed1b7655a26c420c8914f0af2beb969639a662b2db6d561cd/merged.

You don't set cgroup ext mounts for criu dump.

[2016-09-07 14:00] xemul commented on #201
OK, so as I said above -- the restore.log you provided only contain error message, but doesn't seem to end u with error. If you'd be able to provide failing log that'd be helpful.

[2016-09-07 14:01] xemul commented on #194
@koliaskostas , unfortunately no :( Kernel patching is needed for this, not only criu.

[2016-09-07 14:02] xemul commented on #194
In issue #62 @avagin provides the links on kernel changes:
https://github.com/avagin/linux-task-diag/tree/tcp-v3
https://github.com/avagin/criu/tree/tcp-closing-states

[2016-09-07 19:41] skarbat commented on #206
@0x7f454c46 I did that, and a couple more gdb queries, results [are here](https://gist.github.com/skarbat/31dd47d5c42055690ec9906b3c900b13).

[2016-09-07 19:59] xemul commented on #208
Cc @tkhai

[2016-09-07 21:20] 0x7f454c46 commented on #206
Oh, that's just great!
So, it's a build problem, heh.
Could you mention the compiler, you use to build criu?
And also could you try on criu-dev branch? There was one subtle problem, just like you have and I've fixed it with the commit 9ca445bbf6d512f08f5638db1a7e4ab87a109060, which I don't see in master yet.

[2016-09-08 00:17] tych0 commented on #210
Hi,

The second issue is a known issue; I'm hoping to fix it soon, but I've been on vacation for the last week and a half and so I'm just getting back :)

The first one is more interesting. Looking through the kernel source, I'm not sure exactly how it could happen. It looks like if you try and bind after setting the fanout it will fail with EINVAL, but the CRIU code doesn't do that. I can't see a

[2016-09-08 04:06] keyolk commented on #212
@avagin

isnt't it if I use the option "--cgroups-manage" I doenst need to use "--ext-mount-map" ?
but in my case I use the "--cgroups-manage", but it put the error below
[code]

and why I dont use boucher's docker branch

1. to understand what happen when I use criu with docker.
2. to test container migration with latest docker engine.
3. from above want to use criu for general puropose.(migratio

[2016-09-08 17:42] demisgomes commented on #201
What file corresponds to failing log?  In dump directory I only see the dump.log and restore.log .

[2016-09-08 20:03] skarbat commented on #206
@0x7f454c46 good news! need to do more testing, but *criu-dev* seems to run fine!

[code]

[2016-09-08 20:20] 0x7f454c46 commented on #206
@skarbat Good!
Excuses, I completely forgot about that patch-fix and it's absence in `master`, so it took time to analyze your problem.

[2016-09-08 22:01] demisgomes opened #214 "How CRIU restore whole LXC container? Why restore time is not too impacted by size of memory states?"
I am writing an article which analyzes the restore time of CRIU in LXC. I observed that, despite the increase of img files size, the restore time (the time referring to run lxc-checkpoint -r ) is the same, about 0.3 sec. The state size (all img and log files) vary between 37 MB and 228 MB.

This time can be explained through the mode which CRIU restore the container. However, despite know that CRI

[2016-09-08 22:04] tych0 commented on #214
On Thu, Sep 08, 2016 at 03:01:37PM -0700, Demis Gomes wrote:

200 MB isn't very much for modern computers, especially if you're
saving the state to a tmpfs or something. What if you increase the
size to something like 1GB or more? You might see more variance.

It might be helpful to ask specific questions; CRIU does a lot of
complicated things to restore containers :)

[2016-09-08 22:17] demisgomes commented on #214
Thanks for the response, Tycho. I am comparing the restore made by CRIU and by an application when it receives the state via JSON. In application, a state size of 25 MB increases significantly the restore time, but in CRIU, an increase of 200 MB practically is not influenced.

You could give a short answer of how CRIU resume the processes saved in memory states? This answer would very helpful!

[2016-09-09 08:26] skarbat commented on #206
Not at all @0x7f454c46 , thanks for your continued help to spot it! criu is a lot faster than I initially thought!

[2016-09-11 13:59] cyrillos commented on #190
@xemul close the issue please, it has nothing to do with criu itself

[2016-09-12 10:55] xemul commented on #201
Failing log is the log of operation that failed (exited with non-zero code). If it's restore, then it should be restore.log.

[2016-09-12 10:58] xemul commented on #214
@demisgomes , we have a lot of articles describing how criu works here: https://criu.org/Category:Under_the_hood

For your case (memory restore) it seems good to start with this one:
https://criu.org/Memory_dumping_and_restoring

and then proceed with the 'See also' section :)

If any question about the article itself arises -- feel free to ask more questions.

[2016-09-12 11:00] xemul commented on #190
Hm... OK. @billpage , if you still need help -- feel free to re-open it and ask more questions.

[2016-09-12 11:00] #190 closed

[2016-09-12 18:32] tswift242 opened #215 "Update doc for new --leave-stopped option on restore"
The CRIU v2.6 release notes mention a new --leave-stopped option for restore. When I look at the criu.txt documentation, it only mentions a --leave-stopped option for checkpoint.

[2016-09-13 04:42] avagin opened #216 "(00.148418) Error (criu/page-xfer.c:246): Hole 0x3ff000/4096 not found in parent"
https://ci.openvz.org/job/CRIU/job/CRIU-x86_64-pre-dump/branch/criu-dev/947/
[code]

Cc: @rppt @adrianreber

[2016-09-13 05:01] rppt commented on #216
@avagin, logs?

[2016-09-13 05:05] avagin commented on #216
Cc: @eabatalov

[2016-09-13 05:11] avagin commented on #216
https://www.dropbox.com/s/isijwijxc5qpxlr/criu-pre-dump.sh-6363c55d941d0d50b1ec5fe9097aee2b32866f1b-09130633.tar.gz?dl=0

[2016-09-13 14:13] xemul commented on #215
Cc @kolyshkin :)

[2016-09-13 22:42] koliaskostas commented on #194
So, I experimented both with the old CRIU version and the experimental settings mentioned by xemul.
I didn't notice any significant changes.

## Experiment 1
---------------------

**Problem**:
Trying to take a checkpoint on a running apache server (no docker this time). The tool ab is used to simulate a flood of incoming requests. CRIU only sparsely manages to succeed to take a checkpoint.

**Env

[2016-09-14 08:23] avagin commented on #194
There are closed sockets which were connected somewhere. Coud you try out this patch:
[code]

[2016-09-14 16:12] tych0 commented on #210
Hi,

The second issue I believe is fixed with this: https://lists.openvz.org/pipermail/criu/2016-September/031497.html

and a patch series for liblxc that I have and will make a PR for when the above is agreed upon. The patch notes above also contain a more detailed description of the issue.

[2016-09-15 06:57] avagin commented on #194
@koliaskostas Pls, ignore my previous comment. It was a workaround. I've implemented support of the TCP_CLOSE state for tcp sockets. You can find all changes in my repos:
https://github.com/avagin/linux-task-diag/tree/tcp-v3
https://github.com/avagin/criu/tree/tcp-closing-states

And you need to set the --skip-in-flight option for criu.

[2016-09-15 11:50] avagin opened #217 "IOError: [Errno 28] No space left on device"
https://ci.openvz.org/job/CRIU/job/CRIU-x86_64-pre-dump/branch/criu-dev/949/
[code]
[code]

To: @rppt

[2016-09-16 14:31] avagin opened #218 "Need UFFD-based memory changes tracker"
[code]

To: @fbocharov @eabatalov

[2016-09-16 14:32] avagin commented on #218
Here is the test: https://patchwork.criu.org/series/571/

[2016-09-16 16:40] eabatalov commented on #218
Andrew thank you you for spotting issues with forked and dead process and anon shmem dumping. It looks like a bug for me. I'll take a look and think about possible solutions on this weekend.

About "shmem: Swap out anonymous shared pages before reading pagemap" patch.
I don't understand why "shmem_swapout" is called swapout because it really doesn swapping in.
Also there is no guarantee that swapp

[2016-09-16 22:19] koliaskostas commented on #194
Either I didn't understand by what you mean "set the --skip-in-flight option" for criu or something was not implemented properly in that version of criu.

I do
sudo ./criu/criu/criu dump --tree $apache_pid --images-dir $images_dir --work-dir $work_dir --log-file $log_file --skip-in-flight --tcp-established --leave-running -vvv

and I get unrecognized option --skip-in-flight

[2016-09-16 23:19] avagin commented on #218
@cyrillos misunderstood me and then he asked to drop this patch, because it actually doesn't work.

mincore returns zero for swapped pages and criu doesn't dump them. I suggested to use pagemap instead of mincore, but we need to access all pages to get correct infromation from pagemap.

[2016-09-17 06:45] cyrillos commented on #218
Actually the access to the pages data cause kernel to swapin the pages, the problem was that I simply munmap too early. I think the proper fix should be done on pagemap-cache.c level, where when anon shared VMA passes in we need to access the pages before filling the pagemap.

Meanwhile for vz7 CRIU I did a fast fix https://src.openvz.org/projects/OVZ/repos/criu/commits/01add4185263e81e7fdfb357196

[2016-09-18 09:57] eabatalov commented on #218
@cyrillos I've understood what this thread is about. Yes I am agree with the new logic in your patch https://src.openvz.org/projects/OVZ/repos/criu/commits/01add4185263e81e7fdfb357196bbd66a2dfbc02

[2016-09-18 13:58] eabatalov commented on #218
@avagin @xemul
Now we have two cases where current pagemap based anon shmem changes tracking doesn't work. The first case with many mremaps is implemented in zdtm/transition/shmem test. Another another one with fork:
1. Fork a process and inherit anon shmem region
2. Modify some data in the region in forked process
3. Forked process exit

Considering this 2 cases it turns out that pagemaps don't p

[2016-09-19 08:57] keyolk opened #219 "Link-remap files are not dumped with Docker C/R"
Hello
I'm trying to use docker-1.10-dev from here(https://github.com/boucher/docker/releases)
But failed with below error

[code]

what I did

[code]

[code]

How could I solve the issue ?

[2016-09-19 10:10] eabatalov commented on #216
I've investigated logs and dumps from dropbox share. This bug takes place because of some race condition. anon shmem dumping code doesn't have few places with possible races. One of them is usage mincore. The page we've lost in parent dump could be swapped out and we won't dump it in this case.
For me it looks like the root cause can't be reconstructed from the data we have.

[2016-09-19 11:53] avagin opened #220 "Error (criu/cgroup.c:620): cg: failed walking /proc/self/fd/10/newroot for empty cgroups: No such file or directory"
'''
======================== Run zdtm/static/cgroup02 in h =========================
Start test
Test is SUID
./cgroup02 --pidfile=cgroup02.pid --outfile=cgroup02.out --dirname=cgroup02.test
Run criu dump
=[log]=> dump/zdtm/static/cgroup02/30/1/dump.log
------------------------ grep Error ------------------------
(00.020212) Error (criu/cgroup.c:620): cg: failed walking /proc/self/fd/10/newroot for

[2016-09-19 20:52] Snorch commented on #220
[PATCH] zdtm/cgroup02: fix test using ropts instead of opts

[2016-09-20 13:09] xemul commented on #194
This option has appeared in 2.4. Which version do you use?

[2016-09-20 13:11] xemul commented on #219
Cc @boucher. The thing is about absence of --link-remap option to CRIU which needs care :)
https://criu.org/Invisible_files

[2016-09-20 13:33] boucher commented on #219
How does link-remap work: do you specify specific map pairs (like the external flag)?

[2016-09-20 14:45] xemul commented on #219
No, you just give the --link-remap option to CRIU and after dump you'll have a file left by CRIU in container root which should be kept there till restore.

[2016-09-20 14:46] boucher commented on #219
Is there any reason not to always pass that flag?

On Tue, Sep 20, 2016 at 10:45 AM Pavel Emelyanov <notifications@github.com>
wrote:

[2016-09-20 14:56] xemul commented on #219
Yes, there are many cases. E.g. if you want to do a snapshot to get back to later, the --link-remap will be a bad choice. By passing --link-remap to CRIU you tell it "I let you leave part of the state outside of the images/ directory and will take care of it myself". It's like --tcp-established and --file-locks -- if you leave unattended what was left around you after dump the restore will get bro

[2016-09-21 07:37] #220 closed

[2016-09-21 07:40] xemul commented on #216
Let's consider this as #218

[2016-09-21 07:40] #216 closed

[2016-09-21 07:40] #217 closed

[2016-09-21 07:42] xemul commented on #169
OK, if it's still a problem -- just re-open the issue.

[2016-09-21 07:42] #169 closed

[2016-09-21 07:44] xemul commented on #62
Dup for #194

[2016-09-21 07:44] #62 closed

[2016-09-21 07:45] #168 closed

[2016-09-26 10:35] avagin opened #221 "maps008 deadlocked"
[code]

Cc: @eabatalov

[2016-09-28 17:44] koliaskostas commented on #194
OK sorry I bad apparently I cloned from a wrong link.
Dumping seems to be doing fine even under huge server stress.
I haven't finished all the use-cases/experiments but I'll let you know when I do.

However, I get an error when trying to restore. Maybe it's the wrong arguments I am using. Will experiment a little more and open a different thread if the problem persists.

[2016-09-28 19:46] koliaskostas opened #222 "Fail to restore apache on different vms"
**Goal**: Migrate a apache process from one vm to another.
**Settings**: Two identical (cloned) vms running ubuntu 16.04 with 4.6.0 kernel (patched) and criu v2.6

**Methodology**:
On VM_A I do:

`sudo ./criu dump --tree $pid --images-dir $images_dir --work-dir $work_dir --log-file $log_dir"/log.dat" `--leave-stopped -vvv

`scp -r images_dir/ costas@192.168.56.109:/home/costas/`

the checkpoint is

[2016-09-29 07:37] avagin commented on #222
[code]

[2016-09-29 07:43] avagin commented on #222
CRIU can't restore a required pid because it is already busy. You can resolve this by unsharing the pid namespace before restoring the tree.

You can try to use ./scripts/criu-ns.

[2016-09-29 09:19] xemul commented on #222
https://criu.org/CR_in_namespace

[2016-09-29 18:12] koliaskostas commented on #222
That is very interesting however, trying to restore with:
`./criu/scripts/criu-ns restore --tree $pid --images-dir $images_dir --work-dir $work_dir --log-file $log_file -d -vvv`
gives:
[code]

[2016-09-29 19:56] xemul commented on #222
What's in the ... ... lines? :) Presumably call to execvp which cannot find criu binary itself ;)

[2016-10-07 22:28] kolyshkin opened #223 "mnt_tracefs test fails in uns"
This is what I see when running the tests on my laptop:

[code]

Here's my mountinfo:
[code]

The kernel is Fedora 24's:
[code]

[2016-10-07 22:28] kolyshkin commented on #223
@avagin suggests to ping @tych0 ;)

[2016-10-08 00:03] avagin opened #224 "[dedup] maps007: segfault at 0 ip 00007f915fcf90fd sp 00007ffdfa57c440 error 4 in libc-2.23.so"
[code]

All fails of the criu-dedup job are due to this issue
https://ci.openvz.org/job/CRIU/job/CRIU-x86_64-dedup/

To: @Snorch

[2016-10-08 00:04] avagin commented on #224
[code]

[2016-10-08 00:10] avagin commented on #224
[code]

[2016-10-08 00:41] avagin commented on #224
I think it is due to "criu dedup".

[2016-10-08 05:37] avagin commented on #224
[code]

[2016-10-08 05:45] avagin commented on #224
Cc: @rppt

[2016-10-08 09:03] eabatalov commented on #221
Hello.

The version of maps008 source used in this test run is a little bit stale.
This version doesn't include "test: fix bug with huge PAGE_SIZE in transition/maps008" patch made specially for PPC arch. As I see from test cmd "/var/lib/jenkins/workspace/CRIU/CRIU-ppc64le/master/test/jenkins/_run_ct test/jenkins/criu." this run is performed on ppc.

So if I am right about PPC arch then this bug c

[2016-10-08 11:29] fluboi opened #225 "OSPF protocol not allowded"
Is it possible to allow OSPF protocol ? Currently, [sk.inet.c](https://github.com/xemul/criu/blob/master/criu/sk-inet.c#L96) only allow IP, TCP, UDP and UDPLITE.
OSPF is using his own protocol number, 89.

Is there any blocking things to allow OSPF ? It could be really useful in a dynamic routing setup. (for example live migrating LXC containers, and dynamically adapt routing, in Layer3 setup, wit

[2016-10-10 07:36] kolyshkin commented on #214
I suggest to close this one, and also remind people to not use the issue tracker for general questions -- we do have a mailing list for that.

[2016-10-10 07:45] kolyshkin opened #226 "intermittent grow_map fail"
Test grow_map fails sometimes, with binary receiving SIGSEGV here:

`*(fake_grow_down - 1) = 'b';`

I was able to reproduce it on my laptop (and showed it to @avagin) last week. Today, I was able to reproduce it in Travis (the issue was, as we used gcov-enabled builds, everything was compiled with -O0, now with default optimization flags the bug is reproducible). For example, see
https://travis-ci

[2016-10-10 09:41] Snorch commented on #224
"New bunch/(nil)/0/" itself is ok and can come from cleanup on close_page_read when we have last bunch to punch. Will look at it closer.

[2016-10-10 10:40] xemul commented on #225
Hm... I've checked the Linux kernel sources and couldn't find the IPPROTO_OSPF = 89 (the error message from original issues says the proto is 89). What's it?

[2016-10-10 10:41] xemul commented on #214
Good idea :)

[2016-10-10 10:41] #214 closed

[2016-10-10 10:41] xemul commented on #226
#224?

[2016-10-10 11:09] xemul commented on #222
@koliaskostas , do you have any news here?

[2016-10-10 11:11] xemul opened #227 "Asynchronous page_read"
In order to make uffd read pages remotely via page_read engine we need the way to request for page and to get "page is read" notification later. At the same time reading the pages locally in the same manner makes perfect sense :) as AIO is typically allows us to improve performance.

Cc @rppt

[2016-10-10 11:12] xemul commented on #201
@demisgomes , do you have any news about it?

[2016-10-10 11:13] xemul commented on #204
Ping!

[2016-10-10 11:14] koliaskostas commented on #222
@xemul you were basically right.
The problem was that I was using sudo to execute the command and the environmental variables were not set.
Classic novice mistake from my part.
No bug here just a warning to future readers. :)

[2016-10-10 11:19] xemul commented on #222
Great :)

[2016-10-10 11:19] #222 closed

[2016-10-10 13:04] demisgomes commented on #201
No @xemul . The restore.log and dump.log have the same information provided before. I installed the LXC and CRIU in another computer and worked, and I am using it.

Thanks for the help! You can close this issue.

[2016-10-10 16:10] avagin commented on #204
No plans. I have seen this issue since Aug 19, so let's close it for now

[2016-10-10 16:10] #204 closed

[2016-10-10 16:35] fluboi commented on #225
What is OSPF ? Short anwser: a well known routing protocol. Long answer: read [RFC 2328](https://tools.ietf.org/html/rfc2328) !
Wikipedia says that "OSPF is perhaps the most widely used interior gateway protocol (IGP) in large enterprise networks" and it's true.
It basically run directly over IP, so I don't think there is any needs of specific code for that in criu.

The only blocking thing here i

[2016-10-12 07:42] #201 closed

[2016-10-12 07:47] xemul commented on #225
@fluboi , OK, but my question was rather -- how to get the OSPF socket in Linux kernel? If I simply call 'in sk = socket(PF_INET, ..., 89);' the mainstream kernel would return -EPROTONOTSUPPORT.

As far as enabling the protocol. If (!) the socket C/R is just like UDP's one, i.e. -- we can just kill the socket and its queue on dump and on restore just create the socket from scratch -- then enabling

[2016-10-12 23:57] avagin opened #228 "criu-dev: criu restore is segfaulted"
[code]
 first bad commit: [6fde3b8c27db32a790254034e73b961683aed0d0] x86: restore TLS
To: @0x7f454c46

[2016-10-13 00:27] avagin commented on #228
The kernel doesn't generate a core file...

[2016-10-13 08:41] 0x7f454c46 commented on #228
Thanks, will check today.

[2016-10-13 11:56] 0x7f454c46 commented on #228
Hi @avagin, could you check if the patch fixes this problem (if you have a reproducer)?
https://github.com/0x7f454c46/criu/commit/304a1682923b99be66a40c068645542b6c735363
I'll send it to maillist afterwards.

[2016-10-13 11:59] 0x7f454c46 commented on #228
There will stil stay a question, why the kernel didn't generate a core file - I think it helps much in some circumstances, maybe it's worth to find why.

[2016-10-13 17:06] avagin commented on #228
It generates a core file, but its size is zero:)

On Thu, Oct 13, 2016 at 4:59 AM, Dmitry Safonov <notifications@github.com>
wrote:

[2016-10-13 17:08] 0x7f454c46 commented on #228
Ok, I thought about this some more -- it's ok about core file: restored program may have garbage at TLS, so kernel may not be able to produce valid coredump.
Could you confirm that bug solved with the patch, please? :)

[2016-10-13 19:58] #223 closed

[2016-10-14 21:41] rc979 opened #229 "KVM checkpointing progress"
Pavel,
Has any progress been made in checkpointing KVM since we last spoke at Dockercon this year?
Thanks.

[2016-10-15 10:19] fluboi commented on #225
From what I know about OSPF, there is not state to keep. (on the socket layer)
OSPF deamon is sending regularly some "Hello packet" to _discover_ his neighbors, and understand the network topology.
If the network topology changes, OSPF is here to adapt routing automatically.

[2016-10-17 09:51] xemul commented on #229
@rc979 , nope, we haven't played with this at all. C/R of VMs with CRIU is not what we actually planned to do, so this talk is not in top-prio in our todo list :)

[2016-10-17 09:52] xemul commented on #225
Hm... OK, then supporting it should be just like UDP sockets :) If you need help with understanding the code or preparing the patches -- feel free to ask.

[2016-10-17 09:54] xemul commented on #215
Heh, but the https://criu.org/CLI/opt/--leave-stopped says about restore :)
@kolyshkin , would you update the man page with this, please :)

[2016-10-17 12:47] rppt commented on #224
It seems that the below patch solves the issue. I've run ~8k iterations and had no failures.
@avagin , can you please check in your environment as well?

[code]

[2016-10-17 18:46] avagin commented on #224
It works for me. Thanks!

[2016-10-17 19:33] avagin commented on #228
I can't reproduce this issue event without this patch. Maybe we have to write a proper test for this functionality...

[2016-10-17 20:30] hodiapa opened #230 "dump huge tmpfs ghost files as shmem segments"
I am referring to this issue: https://github.com/docker/docker/issues/27200
I did following:

[code]

Error:

[code]

dump: https://gist.github.com/hodiapa/2c46ba21f35153fbb2bc2f6804f7363b

docker info:

[code]

I was told @boucher that the lines of interest in the criu dump are, and this issue was not specific to docker, but rather CRIU:

[code]

[2016-10-18 14:12] 0x7f454c46 commented on #228
Well, I think the bug was in missed check of the number of TLS entries in protobuf images file.
So, it's not in the functionality, rather in using images created before this patch.
The test should dump application before those patches (on master branch) and fail on restore after this one. I think, it's not the kind of tests we have now in zdtm (or am I missing something?).
I'll send this patch to

[2016-10-18 15:48] kolyshkin commented on #215
Good catch @tswift242! Patch sent to the mailing list: https://lists.openvz.org/pipermail/criu/2016-October/032227.html

[2016-10-18 15:52] kolyshkin commented on #215
Oops, my bad. https://lists.openvz.org/pipermail/criu/2016-October/032228.html

[2016-10-19 06:41] xemul opened #231 "Hole not found in parent in thread-bomb test"
https://travis-ci.org/criupatchwork/criu/jobs/168763824

Cc @avagin , @rppt

[2016-10-19 06:44] xemul commented on #230
Damn :( We have 82Mb ghost file in Docker root. And it sits in shmem...
You can ... work-around this with --ghost-limit 100000000, but this will make 82Megs file be copied into your images.

Proper fix would be to check this file for holes and only save data as it's effectively a shmem.

[2016-10-19 07:26] #215 closed

[2016-10-19 07:27] #224 closed

[2016-10-19 15:41] Tobeez opened #232 "A session leader of x(x) is outside of its pid namespace; criu_ns and criu restore by hand"
I want to dump and restore multiple times on same machine and on different machines as well. Using criu-ns, I am able to do a first restore successfully (processes running multiple threads). However, dumping the restored process using criu-ns (as suggested in https://www.criu.org/CR_in_namespace) gives the error `A session leader of x(x) is outside of its pid namespace`. I only get through if I co

[2016-10-19 21:29] hodiapa commented on #230
Thanks @xemul  for pointing that out. But where do I set this in the
[code]
command?

[2016-10-19 21:48] xemul commented on #230
That's probably a question to @boucher or @avagin  :) Gents, what's the way to pass custom criu options via Docker CLI?

[2016-10-19 21:52] boucher commented on #230
There's no current way to specify custom options, and we don't really have
any specific plans for this right now. I'm open to suggestions, though
ultimately the RunC/Docker team will need to be convinced.

On Wed, Oct 19, 2016 at 2:48 PM Pavel Emelyanov <notifications@github.com>
wrote:

[2016-10-19 21:52] xemul commented on #232
Can you show the process' pid, pgid and sid before the first dump and after first restore?

[2016-10-19 21:55] xemul commented on #230
Heh :) It looks like Adrian's suggestion to have /etc/criu.conf where custom options can be stored would be the only way to go :D

However, for ghost size limit we can add an environment variable :\ @hodiapa that'd be the fastest way to move forward. If you could cook the patch it'd speed things up significantly.

[2016-10-19 21:57] hodiapa commented on #230
I definitely see a need for passing custom options to criu, somehow to resolve this issue :) . What other options are there? maybe the CRIU library could reads these options from some custom configurations files?

[2016-10-19 22:03] xemul commented on #230
@hodiapa yes, /etc/criu.conf is something that was suggested on the mailing list (https://lists.openvz.org/pipermail/criu/2016-August/030819.html), so if you could join the effort, that'd be awesome :)

[2016-10-20 10:00] Tobeez commented on #232
Before dump, I have
PID=10508;   PGI=10508 ;   SID=1768
I dump using `sudo criu-ns dump -D criu_dir  --shell-job --leave-stopped -t 10508`
I restore: `sudo criu-ns restore -d -D criu_dir  --shell-job`

New process parameters:
PID=3285;  PGID=3275;  SID=1768

Attempt at second dump gives: `sudo criu-ns dump -D criu_dir  --shell-job --leave-stopped -t 3285`
Replace pid 3285 with 10508
Error (criu/cr

[2016-10-20 11:20] xemul commented on #75
38e4a01dfd00a7025ab3232c74c29b77f123b2c0

[2016-10-20 11:20] #75 closed

[2016-10-20 11:21] xemul commented on #71
OK, so this is more than one year old already :) Let's close it and if the problem is still there (likely it's not) -- re-open.

[2016-10-20 11:21] #71 closed

[2016-10-20 11:23] xemul commented on #78
Presumably after "native" Docker C/R support this is no longer an issue.

[2016-10-20 11:23] #78 closed

[2016-10-20 11:24] xemul commented on #80
I guess the networking is handled in Docker C/R nowadays.
Please, correct me if I'm wrong.

[2016-10-20 11:24] #80 closed

[2016-10-20 11:25] xemul commented on #83
So, now we have native Docker C/R and the whole bunch of options to tune the way cgroups are managed (https://criu.org/CGroups)

[2016-10-20 11:25] #83 closed

[2016-10-20 11:26] xemul commented on #104
Closing as Docker C/R PR is now in. If FIFO stdin C/R is still an issue, please, re-open this issue.

[2016-10-20 11:26] #104 closed

[2016-10-20 11:28] xemul commented on #162
OK, so do we want to keep this issue open as a reminder for us to look for the fix? Or just forget about it and wait for the fix to flow into the modern kernels by itself :)

[2016-10-20 11:28] #165 closed

[2016-10-20 11:29] xemul commented on #177
So, @ayourtch , do you have any news about it?

[2016-10-20 11:30] xemul commented on #196
Guys, please, remind me, does zdtm/static/helper_zombie_child cover this case or not?

[2016-10-20 11:32] xemul commented on #232
Ah, I see. So you use the --shell-job to ignore the shared session even on first dump. That's known issue of criu_ns. You can workaround it if calling setsid before spawning your tasks for the first time.

And to proper handle the --shell-job in criu-ns we just need to teach criu-ns call setsid itself on restore :) I'll try to cook the patch for this ... someday :) but if you do it faster than me

[2016-10-20 12:00] cyrillos commented on #162
The second, I think. Even if opened we can't do much about it, the kernel needs fixing.

[2016-10-20 14:25] tych0 commented on #196
Hmm. I think in theory it should be, but coveralls disagrees https://coveralls.io/builds/8365884/source?filename=criu%2Fcr-restore.c and when I put an exit(1) in that function and run the test, it doesn't fail, so clearly something is wrong. I'll look into it :)

[2016-10-20 14:46] Tobeez commented on #232
`setsid` works perfectly when restoring "by hand". However, the first run of `sudo criu restore -d --shell-job -D criu_dir` gives the error (PID=20; PGID=20; SID=20):
Error (criu/cr-restore.c:1370): Pid 21 do not match expected 20
Error (criu/cr-restore.c:1131): 21 exited, status=1

A re-execution of the restore command works. Guess i'll have to execute twice, but is there a reason why this is hap

[2016-10-20 15:25] ayourtch commented on #177
It didn't make the review, then I had a vacation and now got pulled into another project... Maybe I could give another shot submitting to netdev in a couple of weeks or so...

[2016-10-20 16:57] hodiapa commented on #230
@boucher : Is this the location in the sourcecode to specify custom options in the runC? https://github.com/opencontainers/runc/blob/52454cf90807727923b375afd7d84ac8fd523959/libcontainer/criu_opts_unix.go#L25

[2016-10-20 18:41] avagin opened #233 "var_deref_op: Dereferencing null pointer pr->pe."
[code]

Cc: @rppt @adrianreber

[2016-10-21 03:43] kolyshkin opened #234 "thread-bomb in h test failure"
I just got the following fail with latest criu-dev + couple of my fixes to compile it with clang.

NOTE that:
1. clang is used as a compiler
2. previous two tests with the same code/config worked fine, so it's probably some rare race
3. one thing that might be relevant, now travis compiles code to test with -O2 not -O0

Here's the output excerpt:

[code]

The full logs can be found at https://trav

[2016-10-21 09:14] #228 closed

[2016-10-21 09:15] xemul commented on #232
Because on criu restore (not criu-NS restore) you restore tree into current pid namespace, thus pids conflict may occur.

[2016-10-21 09:17] xemul commented on #234
Nice! We have issue #231 about it :) @kolyshkin , is it reproducible?

[2016-10-21 09:17] xemul commented on #231
Dup

[2016-10-21 09:17] #231 closed

[2016-10-21 12:12] #162 closed

[2016-10-21 21:17] tswift242 opened #235 "criu 2.7 checkpoint regression: "binfmt_misc isn't mount on the host""
After upgrading from criu 2.6 to 2.7, checkpointing my Docker container now fails with "Error (criu/kerndat.c:201): binfmt_misc isn't mount on the host". I've also tried building and using the latest from the criu-dev branch (GitID: v2.7-307-g6d56b42), which gave the same error.

The dump log is attached
[dump.txt](https://github.com/xemul/criu/files/545235/dump.txt)

I'm using Linux kernel 4.4.25

[2016-10-21 21:18] avagin commented on #235
Cc: @tkhai

[2016-10-24 09:09] tkhai commented on #235
The situation is clear for me. Recent criu forces mounting of binfmt_misc, while old versions doesn't.
@tswift242 really doesn't have binfmt_misc mounted on host, so generic code fails. If he had had a binfmt_misc partition mounted inside CT on old criu, there would have been the same problem.

So, the reason is in generic code. If it's a real problem? According by kerndat design it's not.

[2016-10-24 11:17] xemul commented on #235
@tkhai , I don't understand the reason of failure in the first place. Can you elaborate?

[2016-10-24 11:32] tkhai commented on #235
I see only
$ grep Err /tmp/mozilla_kirill0/dump.txt
(01.384914) Error (criu/kerndat.c:201): binfmt_misc isn't mount on the host
(01.404165) Error (criu/cr-dump.c:1636): Dumping FAILED.

What is the first place you mean?

[2016-10-24 11:35] xemul commented on #235
"In the first place" means "в первую очередь" :)

So what's the reason for failure? CRIU have found binfmt mount in container and couldn't check whether it's virtualized or not on host because it's not there?

[2016-10-24 11:40] tkhai commented on #235
I've just tried to speak from my heart in English :)

Yes, this is the reason. I've reproduced that by umounting host's binfmt_misc on my node.

[2016-10-24 11:53] xemul commented on #235
Hm... But @tswift242 says that with 2.6 there were no such problem, while binfmt_misc checker was there.

[2016-10-24 12:02] tkhai commented on #235
I did git checkout 090bcd01039aec6ecf4063eb599f7ec5540036c2
Author: Pavel Emelyanov <xemul@virtuozzo.com>
Date:   Mon Sep 12 12:44:04 2016 +0300

    criu: Version 2.6

    So, this time we have quite a lot of new features for a monthly
    release cadence, including --leave-stopped on restore, TMEM for
    PPC and shmem changes tracking.

    Also bugfixes, of course, and a little bit more deprec

[2016-10-24 12:25] xemul commented on #235
Ah, so the reason for failure is "criu DIDN'T find bfmtmisc mount in container MOUNTED one and then failed to check whether IT is virtualized or not"?

[2016-10-24 12:29] tkhai commented on #235
"criu didn't find binfmt_misc on host (the enviroment, where criu binary is executed), and then failed to check whether IT is virtualized or not"

So, the fast solution is just to mount binfmt_misc on host.

[2016-10-24 12:33] xemul commented on #235
It is, would you cook a patch for it?

[2016-10-24 12:38] tkhai commented on #235
Hm. Just mount in criu mnt_ns and do not umount? Can we confuse some soft if we umount it?
Say,
1)criu mounts
2)programA checks for binfmt_misc
3)criu umounts
4)programA tryes to use binfmt_misc and fails

[2016-10-24 12:49] xemul commented on #235
Yes it can be such. What are your suggestions?

The thing is that most of the binfmt misc code we have is only needed by vzkernel and in existing form it confuses all other users.

If we could make criu by default not mess with all this binfmt misc stuff, and provide an option (or environment variable) to turn it on (it will be turned on by vz software) that'd be awesome.

[2016-10-24 12:53] tkhai commented on #235
My suggestion is to mount always binfmt_misc on host and do not umount it at all. So, we don't have problems with host's software and have a possibility to check virtualized partitions in vzkernel

[2016-10-24 12:53] xemul commented on #235
OK. Let's make a patch for it :)

[2016-10-24 17:00] avagin commented on #235
I don't like an idea to mount something on a host side. Why we don't want to add an option for dumping binfmt_misc. binfmt_misc is virtualized only in OpenVZ and we don't know how it will be virtualized in the upstream kernel. It's another reason to have an option.

[2016-10-24 17:02] xemul commented on #235
I agree. Can you suggest the way to ship this into criu w/o breaking vz tool set?

[2016-10-24 17:05] kolyshkin commented on #234
@xemul I was only able to reproduce it once, out of 3 or 4 travis-ci runs. Will do more testing today and report.

[2016-10-24 20:20] hodiapa commented on #192
@koliaskostas : did you get to the point of implementing an incremental checkpoint? I am also very interested in this effort.

[2016-10-25 17:09] azaa13 opened #236 "i386/i686 CRIU"
Hi,
already downloaded criu 2.7 then cloned from xemul/criu(that was successful) only Make
in my machine, couldn't executed Make command, gives me error,,

my kernel version 4.4.2 then i try to install criu 2.7
i upload my error, pls correct my mistake
tnx
![same](https://cloud.githubusercontent.com/assets/23059639/19696192/c49054b6-9b03-11e6-87b9-7b59a4a1ad92.png)
![same2](https://cloud.githubuse

[2016-10-25 17:58] 0x7f454c46 commented on #236
Hi, @azaa13, please, check out wiki installation page:
https://criu.org/Installation#Distribution_Packages
I guess, we can improve this failure by adding tests for the installed packages like we have for libs.
Maybe worth doing, not sure.

[2016-10-25 18:15] koliaskostas commented on #192
I conducted a series of different experiments.
For example I switched from ab to parallel curl and there are definitely
errors when trying to dump especially when there is a great number of
requests.
I am on vacations right now so i cant provide much help with dump logs etc.
but it’s he first thing on my list as soon as I come back.

I there might be still some work to be done with transient tcp r

[2016-10-25 18:16] kolyshkin commented on #234
All I can say now is I think I ran the Travis test 3 or 4 times and it only
happened once. I will do more testing next Monday.

On Oct 21, 2016 02:17, "Pavel Emelyanov" <notifications@github.com> wrote:

[2016-10-25 18:21] avagin commented on #235
We can always enable this option, if we have the /proc/vz/ directory

[2016-10-25 19:00] boucher commented on #230
Truthfully, it's rather complex. You need to create command line runc
options that translate into criu swrk / protobuff options. Then you need to
pass those options all the way up the chain to docker (through containerd).

On Thu, Oct 20, 2016 at 9:57 AM hodiapa <notifications@github.com> wrote:

[2016-10-26 06:40] rppt commented on #231
It could be that commit 4ee30b10435eb15a9a60d540d993977d6e3b2ed7 "criu: pagemap: skip zero pages while seeking for a page" resolves this as well...

[2016-10-26 18:57] upuvvad1 opened #237 "CRIU dump fails with network error"
lamp stack on the lxc container, with heavy incoming HTTP connections, the live migration fails with

(04.604753)     Searching for socket 22734 (family 10.6)
(04.604758) Error (criu/sk-inet.c:202): Name resolved on unconnected socket
(04.604762) ----------------------------------------
(04.604776) Error (criu/cr-dump.c:1312): Dump files (pid: 15347) failed with -1
(04.604805) Waiting for 15347 to

[2016-10-26 19:34] xemul commented on #237
Cc @avagin

[2016-10-26 21:37] tswift242 commented on #237
I've also gotten that "Name resolved on unconnected socket" error in a couple different ways while working with Docker's C/R integration. What is usually the cause of that error? I currently am getting that error sporadically (maybe ~1/3 of the time) when I try to checkpoint my application.

[2016-10-26 21:47] upuvvad1 commented on #237
I think this happens when client has requested for a page, and then if migration/snapshot was triggered, the CRIU locks up the network and dumps all the processes, in the processes of this if the client terminates the request (before CRIU dumps the socket information), the client-side socket was closed and the CRIU wasn't unable to resolve the socket.
Since the network was locked, CRIU doesn't upd

[2016-10-31 14:56] tych0 commented on #196
Hi guys,

So I just looked into this again, and it seems my exit(1) actually is getting called; perhaps I forgot to rebuild. coveralls.io seems broken right now (it won't show me the coverage for recent files), so I can't confirm that it's still broken. Assuming it is, though, it seems like this code is covered, and coveralls fails to detect that somehow (maybe it doesn't look through forks?)

[2016-11-01 02:19] xemul commented on #230
Cc @avagin . This tmpfs file should be dumped as regular shmem segment.

[2016-11-01 03:19] xemul commented on #235
Gents, here's my plan how to deal with this in 2.8 (this November): https://lists.openvz.org/pipermail/criu/2016-October/032682.html

[2016-11-01 04:26] xiaozhazi commented on #235
I have the same problem with you. It's very strange, I have two machine, this one shows the problem, but worked well in another machine. The criu version and docker version is same.

[2016-11-01 21:01] avagin commented on #237
Now CRIU doesn't support transit states of TCP sockets and it is impossible to support them without patching the kernel.

We have a draft set to support closing states:
https://github.com/avagin/linux-task-diag/tree/tcp-v3
https://github.com/avagin/criu/tree/tcp-closing-states

And CRIU has the --skip-in-flight option to skip in-flight connections.

Cc: @cyrillos

Here is a very similar issue: htt

[2016-11-01 21:04] cyrillos commented on #237
Aha! Thank you a lot! I'll take a look once time permit.

[2016-11-01 21:06] avagin opened #238 "Error (criu/uffd.c:769): lazy-pages: Error during remaining page cop"
[code]

[code]

Cc: @rppt @adrianreber

[2016-11-01 23:35] rppt commented on #238
It seems that we cannot handle ```MAP_LOCKED``` with userfaultfd. The ```MAP_LOCKED``` causes VMA to be populated with pages, which in turn results in ```-EXISTS``` for any ```UFFDIO_COPY```.
The only way to fix it for now seems to relax ```vma_entry_can_be_lazy()``` to return ```false``` for ```MAP_LOCKED``` VMAs.

[2016-11-03 04:54] xemul commented on #235
Will be fixed in 2.8

[2016-11-03 04:54] #235 closed

[2016-11-03 04:54] #238 closed

[2016-11-03 04:55] xemul commented on #234
OK, let's hope that https://github.com/xemul/criu/commit/4ee30b10435eb15a9a60d540d993977d6e3b2ed7 mentioned by @rppt in issue #231 really fixes it.

[2016-11-03 17:57] kolyshkin commented on #234
Unfortunately, this commit was included into what I was testing: https://github.com/kolyshkin/criu/commits/clang-fix-2

[2016-11-03 17:57] kolyshkin commented on #234
so please reopen this (looks like I don't have rights to do so)

[2016-11-03 20:23] pragyasardana opened #239 "Pre-dump hist the number of open files limit on huge mem tasks"
I am using criu v2.2 and when i give a predump command on linpack process I get an error:
**Error (page-pipe.c:49): page-pipe: Can't make pipe for page-pipe: Too many open files**
I am attaching the screenshot of the logs
![screenshot from 2016-11-03 16-22-36](https://cloud.githubusercontent.com/assets/19503101/19983784/c984078a-a1e1-11e6-81d0-58f6760cbc72.png)

[2016-11-03 23:22] xemul commented on #239
Did you run criu from root? Is it possible to get logs as text file? :)

[2016-11-03 23:23] xemul commented on #208
Gents, are there any news about this issue? Have we seen this ever since?

[2016-11-03 23:24] xemul commented on #210
So, can we close this one?

[2016-11-03 23:26] xemul commented on #221
Patch is 44c4ef842db926e74cf77781656f2a644c92025e
Have we seen this since then?

[2016-11-03 23:30] tych0 commented on #210
I don't know. @chenhaiq can you provide a reproducer for the -EINVAL from sk-packet bind? I don't know how to reproduce that; the second issue is fixed, so we can close it if that is not reproducible.

[2016-11-03 23:31] xemul commented on #236
@azaa13 , have you succeeded in installing criu? Do you need more help from us?

[2016-11-03 23:39] pragyasardana commented on #239
Thank you for your quick response. I am logged in as the root user. I am attaching a copy of the complete logs for the process. The process being used is Intel Linpack Benchmark ( https://software.intel.com/en-us/articles/intel-mkl-benchmarks-suite ).
[log.txt](https://github.com/xemul/criu/files/570313/log.txt)

[2016-11-04 00:56] rppt commented on #234
@kolyshkin, do you have the dump tar by any chance?

[2016-11-04 05:48] azaa13 commented on #236
HI, no still gives me error, i installed those packages, but couldnt :(

[2016-11-04 11:23] tkhai commented on #208
I saw it then, but have no an idea

[2016-11-04 14:25] xemul commented on #236
Try to run 'make mrproper' after updating packages and show the compilation errors.

[2016-11-05 20:20] azaa13 commented on #236
![screenshot from 2016-11-06 01-49-22](https://cloud.githubusercontent.com/assets/23059639/20033292/515f9b82-a3c3-11e6-9d10-0c874c2d033f.png)
after make mrproper, then i make again, then got this error. what to do next?

[2016-11-05 20:47] 0x7f454c46 commented on #236
Is it 64-bit ubuntu?
Because 32-bit native build isn't supported.

[2016-11-05 20:48] azaa13 commented on #236
32bit

[2016-11-05 20:53] 0x7f454c46 commented on #236
Sorry, but I'm not sure if we have plans to support native 32-bit builds :(
We have plans to support 32-bit compat on 64-bit kernels, but not native AFAIK.

[2016-11-05 20:54] azaa13 commented on #236
![screenshot from 2016-11-06 02-24-10](https://cloud.githubusercontent.com/assets/23059639/20033522/16fc3f68-a3c8-11e6-98cf-1c39f9972bb8.png)

[2016-11-05 22:43] xemul commented on #236
Architecture: i686

@azaa13 , CRIU on Intel is 64-bit only. Making it 32-bit is in plans, but not in urgent. If you're willing to participate, you're welcome, we will definitely help answering and reviewing patches.

[2016-11-06 05:35] azaa13 commented on #236
ok tnx,

[2016-11-07 16:29] yanadsl opened #240 "cannot checkpoint a runc container when running with -d flag"
Using criu 2.7 and newest runc

use `runc spec` to generate `config.json` and change `"terminal" = false` and `"readonly"= false`

However , I can't checkpoint if i run with `runc run -d`

I only run an easy shell script to count number when starting container

Here's the error message

[code]

and the Error in dump.log
`Error (files-reg.c:1101): Can't lookup mount=21 for fd=0 path=/dev/pts/0`

fu

[2016-11-07 17:55] xemul commented on #240
Cc @boucher and @avagin

[2016-11-07 23:13] boucher commented on #240
I don't have any ideas offhand, perhaps @avagin will.

[2016-11-08 04:41] dineshputchala opened #241 "Restore cmd on container failed"
Used "docker-1.10.0-dev" from https://github.com/boucher/docker/releases/tag/v1.10_2-16-16-experimental

[root@host~]# docker checkpoint ol
ol

[root@host~]# docker restore ol
Error response from daemon: Cannot restore container ol: cantstart: Cannot start container 05d60ad89e87ba1ceeb805537cddae0f1ab27cd000ee2f188b96acfa53ea3177: criu failed: type NOTIFY errno 0
log file: /var/lib/docker/0.0/cont

[2016-11-08 08:27] xemul commented on #241
(00.345752)      1: Warn  (libnetlink.c:65): ERROR -17 reported by netlink
(00.345771)      1: Error (net.c:488): can not restore link(00.351784) Error (cr-restore.c:1895): Restoring FAILED.

-17 is EEXISTS

What if you wait after dump for ... 2-3 seconds and try to restore again?

[2016-11-08 10:20] dineshputchala commented on #241
will try ...

[2016-11-08 12:25] xemul commented on #239
OK. What does ulimit -a show?

[2016-11-08 12:39] xemul commented on #232
@Tobeez , so do you need the ability to criu-ns dump/restore processes with unisolated session and terminal?

[2016-11-08 13:55] dineshputchala opened #242 ""Error response from daemon: page not found" from docker checkpoint"
Used "docker-1.10.0-dev" from https://github.com/boucher/docker/releases/tag/v1.10_2-16-16-experimental

Replaced /usr/bin/docker with docker-1.10.0-dev from above link and restarted the daemon and also tried by rebooting machine,

bash-4.1$ docker -v
Docker version 1.10.0-dev, build cec56b2, experimental

docker run -d --name looper  busybox    /bin/sh -c 'i=0; while true; do echo $i; i=$(expr $i

[2016-11-08 19:47] pragyasardana commented on #239
thank you for your response. I am attaching the output of the command

core file size          (blocks, -c) 0
data seg size           (kbytes, -d) unlimited
scheduling priority             (-e) 0
file size               (blocks, -f) unlimited
pending signals                 (-i) 29875
max locked memory       (kbytes, -l) 64
max memory size         (kbytes, -m) unlimited
open files

[2016-11-09 15:16] adrianreber commented on #240
This is known. runc will in future versions correctly close stdin/stdout. They are not yet doing this. Workaround is: runc start container-name -d &> /dev/null  < /dev/null

[2016-11-09 19:47] xemul commented on #242
Would you show the dump.log file?

[2016-11-09 19:50] xemul commented on #239
Cool. So as a workaround (it's a bug, yes, and we plan to fix it) you can try increasing the number of open files with
# ulimit -n 65536

[2016-11-10 07:02] yanadsl commented on #240
Thanks for reply , since its a known issue and there's a workaround , I think I should close this.

[2016-11-10 07:02] #240 closed

[2016-11-11 07:14] avagin opened #243 "linux-next: FAIL: socket6_udp.c:91: Can't recv C (errno = 11 (Resource temporarily unavailable))"
[code]

https://ci.openvz.org/job/CRIU/view/All/job/CRIU-linux-next/429/console

[2016-11-15 08:00] avagin opened #244 "30: Memory corruption [0x7f30f1bc754e, 0x7f30f1bdfbd1]"
[code]

https://ci.openvz.org/job/CRIU/job/CRIU-lazy/branch/criu-dev/10/console

Cc: @adrianreber @rppt

[2016-11-15 08:06] rppt commented on #244
@avagin, images + logs?

[2016-11-15 17:40] avagin commented on #244
[code]

[2016-11-15 17:41] avagin commented on #244
Could you try to execute it localy?
[code]

[2016-11-15 17:48] rppt commented on #244
works like a charm, several times :)
what about
[code]

[2016-11-16 09:07] xemul opened #245 "CRIU swrk mode crash on restore (once)"
https://api.travis-ci.org/jobs/176298120/log.txt?deansi=true

Core was generated by `../criu/criu swrk 4'.
Program terminated with signal SIGSEGV, Segmentation fault.
#0  0x0000000000422ed9 in usernsd (sk=5) at criu/namespaces.c:1215
1215			BUG_ON(fd < 0 && flags & UNS_FDOUT);
(gdb) #0  0x0000000000422ed9 in usernsd (sk=5) at criu/namespaces.c:1215
#1  0x0000000000477c6c in start_usernsd () at cri

[2016-11-16 09:08] xemul commented on #245
Cc @avagin and @efiop

[2016-11-16 09:09] xemul opened #246 "CRIU C/R-s netfilter rules with --empty-ns net option"
Origin from https://github.com/docker/docker/issues/27597

[2016-11-16 11:03] dineshputchala opened #247 "Error building source code"
Downloaded source code from ,
https://github.com/boucher/docker/releases/tag/v1.10_2-16-16-experimental

Tried to build the source code , but I see some timeout errors, Could you please take a look and let me know how to resolve these errors ?

bash-4.1$ cd docker-docker-checkpoint-restore
bash-4.1$ DOCKER_EXPERIMENTAL=1
bash-4.1$ ls
AUTHORS             Dockerfile.simple   VENDORING.md  container

[2016-11-16 16:42] xemul commented on #247
That's build of Docker, not CRIU :) You should probably ask this question at Docker issues page, not here.

[2016-11-16 16:43] #247 closed

[2016-11-16 22:15] avagin commented on #244
[code]

[2016-11-16 22:24] avagin commented on #244
@rppt https://ci.openvz.org/job/CRIU/job/CRIU-lazy/branch/criu-dev/ws/criu-lazy-pages.sh-2117b9536273cb824e7facd6fb02a8179eb4e03e-11150854.tar.gz
Could you download this file ASAP. Thanks!

[2016-11-17 06:54] rppt commented on #244
@avagin, I get 404 :(

[2016-11-17 06:54] avagin commented on #244
Sorry, it's my fault. I used a wrong repo.

[2016-11-17 06:54] #244 closed

[2016-11-17 08:03] #246 closed

[2016-11-22 11:52] 0x7f454c46 commented on #234
Also reproduced accidentally:
https://travis-ci.org/0x7f454c46/criu/jobs/177940013
[code]

[2016-11-23 01:51] xiaozhazi opened #248 "Can't open sysctl net/ipv6/conf/all/accept_ra_min_hop_limit: No such file or dorectory"
When I use criu to restore my docker container, It shows errors as shown below.
![image](https://cloud.githubusercontent.com/assets/4612045/20548948/cb2cabe2-b162-11e6-9d1a-ca56849baa27.png)
My conmmand is :
criu restore --tree 55276 --images-dir dump --shell-job --ext-mount-map /sys/fs/cgroup/memory:/sys/fs/cgroup/memory --ext-mount-map /sys/fs/cgroup/devices:/sys/fs/cgroup/devices --ext-mount-ma

[2016-11-23 09:45] xemul commented on #239
What's in /proc/sys/fd/nr_open file?

[2016-11-23 19:17] pragyasardana commented on #239
the file contains "1048576"

[2016-11-24 16:09] xemul commented on #239
OK. So... The problem is that the amount of memory to be dumped is ~4Gb. And existing CRIU implementation tries to get all this memory into a set of pipes. One pipe, according to your logs, can keep 200 pages, which is ~1Mb, thus we need 4k pipes to keep this, each pipe is 2 descriptors so we need 8k descriptors. In your logs the pipe() aborts at 400 pipes, which is 800 descriptors.

The global co

[2016-11-25 06:33] xiaozhazi commented on #248
sorry for interrupt, It is about the linux kernel version.  Linux version is 4.2.0-36 in the source node, 4.2.0-27 in the destination node. But 4.2.0-27 has not include the /proc/sys/net/ipv6/conf/all/accept_ra_min_hop_limit yet. update the destination node kernel, it solved.

[2016-11-25 06:33] #248 closed

[2016-11-25 16:38] xemul commented on #248
Cc @Snorch

[2016-11-28 08:53] Snorch commented on #248
@xemul The problem when we can not restore some sysctl can arise not only when we migrating from newer kernel to older one where we do not have some sysctl from new kernel. For instance we have accept_ra_rtr_pref(Accept Router Preference in Routing Advertisement) sysctl which can be dissabled in kernel config if CONFIG_IPV6_ROUTER_PREF is dissabled. But what if migrating container does not care ab

[2016-11-28 09:22] xiaozhazi opened #249 "mnt: Can't mount at ./etc/resolv.conf: No such file or directory"
I want to use criu to implement docker live migration.
The source node has the same environment with destination node.
Docker version:
![image](https://cloud.githubusercontent.com/assets/4612045/20662132/0d6821e8-b58d-11e6-92a2-f70d57140c73.png)
criu version:
![image](https://cloud.githubusercontent.com/assets/4612045/20662145/20d05818-b58d-11e6-93ff-278001c93025.png)
sudo docker info:
![image](ht

[2016-11-28 11:51] xemul commented on #248
I think OK, but ... tend to think that we'd better have a CLI option telling CRIU that missing ctls on restore is OK.

[2016-11-28 11:53] xemul commented on #249
https://criu.org/External_bind_mounts

We have the live-migration engine sitting here https://github.com/xemul/p.haul
It's not very usable, but shows how it should work. And we have plans to move the p.haul's core into criu/ sources in the form of .go library.

So you're welcome to join :)

[2016-11-28 12:49] #241 closed

[2016-11-28 14:35] dineshputchala opened #250 "System reboots after running "docker checkpoint create <container_name> <check_point_name>" for 1.13.0"
bash-4.2$ which docker
/bin/docker

Downloaded 1.13 binaries from https://experimental.docker.com/builds/Linux/x86_64/docker-latest.tgz

Copied below files from above unzipped file to /bin where docker 1.12 version is already present.

bash-4.2$ ls
completion  docker  docker-containerd  docker-containerd-ctr  docker-containerd-shim  docker-init  docker-proxy  docker-runc  dockerd

bash-4.2$ /usr/l

[2016-11-28 21:13] avagin commented on #234
https://travis-ci.org/criupatchwork/criu/jobs/179549874

[2016-11-28 21:23] kolyshkin commented on #234
OK, we have 3 failures now, two of them with clang used to compile the code, and one with gcc, so clang is probably irrelevant.

[2016-11-29 01:46] xiaozhazi commented on #249
@xemul It's very excited for me to have opportunity to participate in this work. Thank you very much!
I know you have the p.haul to do the liv-migrate, so I wonder that may you have met this problem in restore the Docker container.  :)
I will see how p.haul works to find where is wrong in my live-migrate tools.

[2016-11-29 08:34] HelenHarman commented on #242
I have just installed the experimental version of docker, and I also receive this error message.  Is there a fix for this? And where is the dump.log file located?

[2016-11-30 10:51] xemul opened #251 "C/R SCM messages in unix sockets"
Depends on issue #56
Patch that blocks the dump is 3af570950377851452244b97e320d06d03230656

[2016-11-30 10:53] xemul commented on #249
Actually, the dump and restore parts of live migration should be done using native docker API. In this case all the external mount points will be handled by Docker itself. So regarding your question about how many people hit this, the answer -- everybody that tries to use criu itself and nobody who uses docker API (that in turn calls criu with proper arguments) :)

[2016-11-30 10:54] xemul commented on #250
Hm... Maybe it's better to ask this question on Docker issues page?
Ccing @boucher and @avagin

[2016-11-30 10:55] xemul commented on #56
Cc @tkhai
Kirill, keep URL of this issue in patches comments

[2016-11-30 10:56] xemul commented on #210
Hopefully the issue disappeared. If no -- feel free to re-open the issue.

[2016-11-30 10:56] #210 closed

[2016-11-30 11:04] xemul commented on #227
https://github.com/xemul/criu/commit/faef8369cd0fb46c4bf31cd68839dec57654ea8f for local
https://github.com/xemul/criu/commit/abd1b3e74bf6ff91e02b62b6b4d12c6012523fdc for remote

[2016-11-30 11:04] #227 closed

[2016-11-30 11:05] xemul commented on #206
AFAIU the issue is now resolved. Is it?

[2016-11-30 11:06] xemul commented on #205
Maybe @kolyshkin would have chance to look at it...

[2016-11-30 11:09] xemul commented on #194
https://lists.openvz.org/pipermail/criu/2016-November/033546.html

This is more-or-less final set. After fixing some nitpicks we'll merge it :)

Also need this kernel patch http://git.kernel.org/?p=linux/kernel/git/davem/net-next.git;a=commit;h=319b0534b9

@avagin , AFAIU the patch is in net-next. Has it hit Linus' tree? Would you update the wiki page with this info? :)

[2016-11-30 11:17] skarbat commented on #206
Yes, @xemul it definitely is fixed. Sorry for not closing the issue. Thanks heaps!

[2016-11-30 11:17] #206 closed

[2016-11-30 15:41] boucher commented on #250
I don't really have any ideas. I can tell you that running criu in production, we used to occasionally run into soft lockups and would be forced to reboot the machine, but I don't think we've seen that behavior in a long time.

[2016-12-01 08:08] xiaozhazi commented on #249
I know the best way to recover a docker container is to use docker native C/R. If I use docker external C/R (use criu only), i can also finally restore the docker container, but docker daemon will not know the container is running again. so when use 'docker ps' may not get the information I want.

But I want to have a try, now question is I haven't restore the docker progress yet.

I found that is

[2016-12-01 08:08] #249 closed

[2016-12-01 10:06] dineshputchala commented on #250
ok, thanks !

[2016-12-01 10:06] #250 closed

[2016-12-01 18:08] evverx opened #252 "Need support for cgroup2 hierarchies"
From https://github.com/systemd/systemd/pull/4670

[code]

[2016-12-01 18:50] avagin commented on #194
I think it will be pushed into Linus' tree in the next merge window (4.10).

[2016-12-02 00:15] avagin commented on #234
Here is an attempt to get logs https://travis-ci.org/avagin/criu/builds/180573886

[2016-12-05 12:32] xemul opened #253 "FAIL: cgroup03.c:105: mode for cgroup03.test/zdtmtst/test doesn't match (40600)"
https://travis-ci.org/xemul/criu/jobs/181306447

[2016-12-05 12:37] xemul opened #254 "Core was generated by `../criu/criu swrk 4'."
https://travis-ci.org/criupatchwork/criu/builds/180485406

Core was generated by `../criu/criu swrk 4'.
Program terminated with signal SIGSEGV, Segmentation fault.
#0  0x0000000000423213 in usernsd (sk=5) at criu/namespaces.c:1215
1215			BUG_ON(fd < 0 && flags & UNS_FDOUT);
(gdb) #0  0x0000000000423213 in usernsd (sk=5) at criu/namespaces.c:1215
#1  0x000000000047807c in start_usernsd () at criu/n

[2016-12-05 12:41] xemul commented on #242
Cc @avagin and @boucher. Dump file is typically put by Docker daemon into /var/lib/docker.

[2016-12-05 12:42] xemul commented on #252
Cc @cyrillos

[2016-12-05 12:56] cyrillos commented on #252
CC @tych0 from commit 51876eea5d8dc147d7e5597f38d242d523cc1bf1

[2016-12-05 12:59] cyrillos commented on #252
Will take a look, thanks.

[2016-12-05 13:01] xemul commented on #254
Oops, already seen this in #245

[2016-12-05 13:01] #254 closed

[2016-12-05 13:19] boucher commented on #242
The path to the dump file should be included in the checkpoint error message.

[2016-12-05 13:23] HelenHarman commented on #242
My Docker version is 1.13.0-rc2, but my dockerd is version 1.12.3. experimental.
Which I guess is causing the page not found? If so, how do I update dockerd?
I installed Docker1.13 on clean machine, so not sure how it picked up dockerd 1.12.

ps. There is no dump.log within the /var/lib/docker directory tree.

[2016-12-05 13:25] boucher commented on #242
Yes, there won't be a dump if you don't even make it to the criu stage,
which will be the case if using an incompatible docker daemon.

On Mon, Dec 5, 2016 at 6:23 AM Helen Harman <notifications@github.com>
wrote:

[2016-12-05 13:52] HelenHarman commented on #242
Everything now on correct version, and it is now working.
Sorry for the none existent issue.

[2016-12-05 19:57] xemul commented on #242
Thanks, @boucher :)

[2016-12-05 19:57] #242 closed

[2016-12-06 10:18] dineshputchala opened #255 "Restore failed"
Used "docker-1.10.0-dev" from https://github.com/boucher/docker/releases/tag/v1.10_2-16-16-experimental

Started a db container,

bash-4.2$ docker checkpoint oradb
oradb

Checkpoint is done without any error.

Waited for 10-15 minutes and then tried to restore,

bash-4.2$ docker restore oradb
Error response from daemon: Cannot restore container oradb: cantstart: Cannot start container c5a32629f878

[2016-12-06 16:44] xemul commented on #255
That's the first error I see, but it doesn't give a glue why task 3127 died. Would you show full restore.log?

[2016-12-06 22:57] avagin opened #256 "Unable to restore a process if /proc/pid/exe isn't an executable file"
Unable to restore a process if /proc/pid/exe isn't an executable file

[code]

[code]

Cc: @cyrillos @tych0

[2016-12-06 22:59] avagin commented on #256
prctl(PR_SET_MM_MAP) returns EACCES
[code]

[2016-12-07 08:36] kolyshkin commented on #253
Got the same failure:

======================== Run zdtm/static/cgroup03 in h =========================
Start test
Test is SUID
./cgroup03 --pidfile=cgroup03.pid --outfile=cgroup03.out --dirname=cgroup03.test
Cleaning cgclean.S1FdHP
Cleaning cgclean.0k06E8
Running zdtm/static/cgroup03.hook(--post-start)
Running zdtm/static/cgroup03.hook(--pre-dump)
Run criu dump
Running zdtm/static/cgroup03.hook(-

[2016-12-07 08:37] kolyshkin commented on #253
@tych0 maybe you can take a look?

[2016-12-07 08:41] tych0 commented on #253
On Wed, Dec 07, 2016 at 12:37:35AM -0800, Kirill Kolyshkin wrote:

Yes, I can, but probably not until next week :(

[2016-12-08 07:15] avagin opened #258 "10:14:04.907: 31: FAIL: cgroup03.c:105: mode for cgroup03.test/zdtmtst/test doesn't match (40600)"
[code]

[2016-12-08 08:04] tych0 commented on #258
Yes, I think this is a dupe of #253

[2016-12-08 08:04] kolyshkin commented on #253
Got yet another one: https://travis-ci.org/criupatchwork/criu/jobs/182176186

======================== Run zdtm/static/cgroup03 in h =========================
Start test
Test is SUID
./cgroup03 --pidfile=cgroup03.pid --outfile=cgroup03.out --dirname=cgroup03.test
Cleaning cgclean.xRarY4
Cleaning cgclean.jWYy0k
Running zdtm/static/cgroup03.hook(--post-start)
Running zdtm/static/cgroup03.hook(--pre-

[2016-12-08 08:19] avagin opened #259 "5. tainted_data: Passing tainted variable nr * 4096UL to a tainted sink."
[code]

Cc: @rppt

[2016-12-08 14:12] #258 closed

[2016-12-08 22:23] avagin opened #260 "[master] criu dumps useless pages"
[code]
https://ci.openvz.org/job/CRIU/view/CRIU-master/job/CRIU-dump-only/branch/master/249/console

[2016-12-08 23:04] avagin commented on #260
[root@zdtm master]# git bisect good
1821acedd04b602b37b587eac5a481094b6274ae is the first bad commit
commit 1821acedd04b602b37b587eac5a481094b6274ae
Author: Andrei Vagin <avagin@virtuozzo.com>
Date:   Sat Oct 29 08:36:00 2016 +0300

    shmem: use lseek(SEEK_DATA) instead of mincore

    When pages are swapped out we can't detect their presence
    with mincore.

    Pavel found that lseek(SEEK_DA

[2016-12-09 03:42] avagin commented on #253
Why do we restore perms for a cgroup even if it exists?
[code]

[2016-12-09 06:32] avagin commented on #234
https://ci.openvz.org/job/CRIU/view/All/job/CRIU-3.11/368/
https://www.dropbox.com/s/ykiiko391qxn263/log.tar.gz?dl=0

[2016-12-09 08:15] tych0 commented on #253
On Thu, Dec 08, 2016 at 07:42:39PM -0800, Andrew Vagin wrote:

Because the restore can fail if we don't, e.g. if a task had a cgroup
directory open and the perms on the existing one were wrong.

[2016-12-09 15:25] #253 closed

[2016-12-09 15:25] #260 closed

[2016-12-11 15:13] rppt commented on #234
I still cannot grok what's exactly happening there, but judging by the logs, somehow the stack guard page allocated by glibc as a part of the thread stack, gets present bit in the page table, but it's missing soft-dirty flag.
Could be related to https://github.com/xemul/criu/issues/207
I've tried to reproduce with 3.11.10-301.fc20.x86_64 as well as 3.19.0-64-generic that travis used to run, but st

[2016-12-19 11:42] xemul commented on #259
e43bf2444e39ff16c2c84ee0d8d0d033c121af7a

[2016-12-19 11:42] #259 closed

[2016-12-21 17:50] avagin opened #261 "(00.161419) 2203: Error: Can't bind inet socket back"
https://www.dropbox.com/home/Apps/criu-travis/185616858?preview=restore+(1).log

[2016-12-21 17:51] avagin commented on #261
https://travis-ci.org/avagin/criu/builds/185616858

[2016-12-21 17:57] avagin commented on #261
It is due to my changes.

[2016-12-21 17:57] #261 closed

[2016-12-21 22:34] MadMub opened #262 "Failed to checkpoint when TCP sockets are in state CLOSE_WAIT"
I'm very new to this low level of programming and working so closely with the OS so bear with me. I am attempting to use docker 1.13 rc4 to checkpoint and restore a containerized c++ app (nor am I a c++ developer by trade). when trying to checkpoint i get the following
[code]
then i check that log
[code]
It appears to have failed on some sockets. What's strange is I could swear the app was complet

[2016-12-21 23:58] jaeguk opened #263 "Question about libcriu license"
Hello, criu guys.

I'm trying to use criu to speed up some application in embedded device.
I liked your achievements about criu very much over the work.
But opensource license team said libcriu linking can occur some problem about license.
He said rpc.pb-c.c and rpc.pb-c.h generated by rpc.proto can be applied GPL about process linking libcriu . Because it doesn't exist in /lib folder mentioned fr

[2016-12-22 08:21] adrianreber commented on #262
Just yesterday I was looking into that. It works with the latest Fedora rawhide with a 4.10 rc kernel and yesterday's criu-dev branch:

[code]

So trying the same checkpointing on the latest kernel and criu should work.

[2016-12-22 09:02] xemul commented on #262
Thank you, @adrianreber :)
Cc @avagin
@MadMub , presumably your kernel doesn't have support for these states. IIRC you need 4.4 or higher (Andrey will correct me)

[2016-12-22 09:03] xemul commented on #263
Actually we don't have rpc.pb-c.* files in sources :) They are generated from the rpc.proto, so AFAIU the result can be linked anywhere.

[2016-12-22 10:10] jaeguk commented on #263
Thanks for your answer!
My question is whether rpc.proto is GPL or LGPL when libcriu is built with it.

Thanks

[2016-12-22 12:17] xemul commented on #263
rpc.proto is GPL, but why is it a problem? It's not a file your code links with.

[2016-12-22 13:44] jaeguk commented on #263
When libcriu.so is built,  rpc.pb-c.h, rpc.pb-c.c generated from rpc.proto is used, isn't it?
Our opensoure license team worried aboout it.
Don't we need to worry about libcriu use rpc.pb-c.*?

Thanks